<template>
  <a-layout-sider
    breakpoint="lg"
    collapsed-width="0"
    @collapse="onCollapse"
    @breakpoint="onBreakpoint"
  >
    <div class="logo">
      <img @click="$router.push('/dashboard')" :src="main_logo_source" style="width: 168px;cursor:pointer" />
         <!-- <img @click="$router.push('/dashboard')" :src="require('~/static/white_logo.png')" style="width: 168px;cursor:pointer" /> -->
    </div>
    <div style="padding: 10px; color: #fff; text-align: center; width: 100%">
      {{ user_name }}님<br />
      안녕하세요.
    </div>
    <a-button
      @click="logout"
      style="width: calc(100% - 20px); margin: 10px; margin-bottom: 20px"
      >로그아웃</a-button
    >
    <a-button-group size="small" style="margin-left: 7px;">
      <a-button  :type="selected===true?'primary':''" @click="selected = true;set_managed_menu(true)">피노 관리 메뉴</a-button>
      <a-button  :type="selected===false?'primary':''"  @click="selected = false;set_managed_menu(false)">
        전체 메뉴
      </a-button>
    </a-button-group>
    <a-menu v-if="selected===false" theme="dark" :open-keys.sync="openMenu" mode="inline">
      <a-sub-menu key="sub_0">
        <span slot="title"> <a-icon type="user" /><span>판매 관리</span> </span>
        <a-menu-item key="1">
          <nuxt-link to="question">문의 응대관리</nuxt-link>
        </a-menu-item>
        <a-menu-item key="2">
          <nuxt-link to="project_mng">주문/프로젝트 관리</nuxt-link>
        </a-menu-item>
        <a-menu-item key="3">
          <nuxt-link to="delivery">출하(배송) 관리</nuxt-link>
        </a-menu-item>
      </a-sub-menu>
      <a-sub-menu key="sub_1">
        <span slot="title"> <a-icon type="user" /><span>제조 관리</span> </span>
        <a-menu-item key="4">
          <nuxt-link to="project_detail">
            작업지시서 관리
          </nuxt-link></a-menu-item
        >
        <a-menu-item key="5">
          <nuxt-link to="complete"> 제작 실적 관리 </nuxt-link></a-menu-item
        >
      </a-sub-menu>
       <a-sub-menu key="sub_6">
        <span slot="title"> <a-icon type="user" /><span>출하배송 관리</span> </span>
        <a-menu-item key="25">
          <nuxt-link to="project_mng_coopang">
            출하 지시 관리
          </nuxt-link></a-menu-item>
        <a-menu-item key="26">
          <nuxt-link to="complete_coopang"> 출하 관리[팔렛트] </nuxt-link></a-menu-item
        >
         <a-menu-item key="27">
          <nuxt-link to="project_coopang"> 주문대비 출하 현황 </nuxt-link></a-menu-item
        >
      </a-sub-menu>
      <a-sub-menu key="sub_2">
        <span slot="title"> <a-icon type="user" /><span>자재 관리</span> </span>
        <a-menu-item key="6">
          <nuxt-link to="warehouse_etc">자재 재고 관리</nuxt-link>
        </a-menu-item>
        <a-menu-item key="7">
          <nuxt-link to="warehouse_product">상품 재고 관리</nuxt-link>
        </a-menu-item>
      </a-sub-menu>
      <a-sub-menu key="sub_3">
        <span slot="title">
          <a-icon type="user" /><span>기준 정보 관리</span></span>
        <a-menu-item key="80">
          <nuxt-link to="common"> 공통코드 관리</nuxt-link>
        </a-menu-item>
     
        <a-menu-item key="8">
          <nuxt-link to="item"> 아이템 관리</nuxt-link>
        </a-menu-item>
        <a-menu-item key="9">
          <nuxt-link to="partner"> 거래처 관리 </nuxt-link>
        </a-menu-item>
        <a-menu-item key="10">
          <nuxt-link to="facility"> 설비 관리 </nuxt-link>
        </a-menu-item>
        <a-menu-item key="11">
          <nuxt-link to="location"> 창고 관리 </nuxt-link>
        </a-menu-item>
        <a-menu-item key="12">
          <nuxt-link to="label"> 라벨 관리 </nuxt-link>
        </a-menu-item>
      </a-sub-menu>
      <a-sub-menu key="sub_4">
        <span slot="title">
          <a-icon type="user" /><span>시스템 관리</span>
        </span>
        <a-menu-item key="13">
          <nuxt-link to="code">카테고리 관리</nuxt-link>
        </a-menu-item>
        <a-menu-item key="14">
          <nuxt-link to="notice">공지사항 관리</nuxt-link>
        </a-menu-item>
        <a-menu-item key="15">
          <nuxt-link to="userList">사용자 관리</nuxt-link>
        </a-menu-item>
        <a-menu-item key="16">
          <nuxt-link to="userRightControl">사용자 권한 관리</nuxt-link>
        </a-menu-item>
        <a-menu-item key="17">
          <nuxt-link to="quick_menu"> 퀵 메뉴 관리 </nuxt-link>
        </a-menu-item>
         <a-menu-item key="171">
          <nuxt-link to="custom_menu"> 메뉴 관리 </nuxt-link>
        </a-menu-item>
        <a-menu-item key="18">
          <nuxt-link to="log"> 로그 관리 </nuxt-link>
        </a-menu-item>
      </a-sub-menu>
      <a-sub-menu key="sub_5">
        <span slot="title"> <a-icon type="user" /><span>모니터링</span> </span>
        <a-menu-item key="19">
          <nuxt-link to="dashboard">종합 대시보드</nuxt-link>
        </a-menu-item>
        <a-menu-item key="20">
          <nuxt-link to="project">주문 진행 현황</nuxt-link>
        </a-menu-item>
        <a-menu-item key="21">
          <nuxt-link to="cur_delivery">출하(배송)현황</nuxt-link>
        </a-menu-item>
        <a-menu-item key="22">
          <nuxt-link to="cur_facility">설비 현황</nuxt-link>
        </a-menu-item>
        <a-menu-item key="23">
          <nuxt-link to="cur_warehouse"> 재고 변동 현황 </nuxt-link>
        </a-menu-item>
      </a-sub-menu>
    </a-menu>
    <a-menu v-else theme="dark"  mode="inline"  :open-keys.sync="openMenu">
       <a-menu-item v-for="i in custom_menu" :key="i.key">
        <nuxt-link :to="i.to" >  <span>{{i.alias}}</span> </nuxt-link>
      </a-menu-item>
    </a-menu>

  </a-layout-sider>
</template>
<script>
import moment from 'moment'
import 'moment/locale/ko'
import common_code from '@/mixins/common_code.js'

moment.locale('ko')
export default {
  mixins:[common_code],
  data() {
    return {
      moment,
      selected:true,
      main_logo:"",  
      openMenu: [],
      user_name: '',
      menu_data: {
        sub_0: ['question', 'project_mng', 'delivery'],
        sub_1: ['project_detail', 'complete'],
        sub_2: ['warehouse_etc', 'warehouse_product'],
        sub_3: ['common', 'item', 'partner', 'facility', 'location', 'label'],
        sub_4: [
          'code',
          'notice',
          'userList',
          'userRightControl',
          'custom_menu',
          'quick_menu',
          'log',
        ],
        sub_5: [
          'dashboard',
          'project',
          'cur_delivery',
          'cur_facility',
          'cur_warehouse',
        ],
        sub_6: [
          'project_mng_coopang',
          'complete_coopang',
          'project_coopang',
        ],
      },
      ref : this.$fire.database.ref('custom_menu_pino/'),
      custom_menu:[]
    }
  },
  computed:{
  main_logo_source(){
    if(this.common_code.find(e=>e.type==='메인 로고') )
      return this.common_code
      .find(e=>e.type==='메인 로고').value
    else return ""
    }
  },
  mounted() {
    this.ref.on('value', (snapshot) => {
      
      const menu_history_data = Object.values( snapshot.val() );
      console.log(menu_history_data)
      this.custom_menu = menu_history_data.sort((b,a)=>{ return this.moment(a.created_at) - this.moment(b.created_at)})[0].custom_menu
      this.openMenu = []
        for (let i = 0; i < 6; i++) {
          if (this.menu_data['sub_' + i].includes(this.$route.name)) {
            this.openMenu.push(i)
          }
        }
        this.openMenu = [ "sub_"+this.openMenu.sort((a,b)=>{return a-b})[0] ]

    });
    for (let i = 0; i < 6; i++) {
      console.log(this.menu_data['sub_' + i])
      if (this.menu_data['sub_' + i].includes(this.$route.name)) {
        this.openMenu = []
        this.openMenu.push(`sub_${i}`)
      }
    }
    function getCookie(cookieName) {
      let cookieValue = null
      if (document.cookie) {
        const array = document.cookie.split(escape(cookieName) + '=')
        if (array.length >= 2) {
          const arraySub = array[1].split(';')
          cookieValue = unescape(arraySub[0])
        }
      }
      if (cookieValue === null) {
        alert('페이지 권한이 없습니다.')
        location.href = '/dashboard'
      }
      return cookieValue
    }
    this.$axios.get(`${this.$URL.USER}/${getCookie('user_id')}`).then((res) => {
      this.user_name = res.data.user_name
    })
    console.log(this.openMenu)
    setTimeout(() => {
      this.$nextTick(() => {
        try{
          const target = document.querySelectorAll(".ant-menu-item a")
          this.selected =  (this.getCookie("selected_menu") === 'true') 
        }
        catch(e){console.log(e)}
      })
    }, 500)
  },
  methods: {
    set_managed_menu(value){
      this.setCookie('selected_menu',value)
    },
    setCookie(cookieName, cookieValue, cookieExpire, cookiePath, cookieDomain, cookieSecure){
        let cookieText=escape(cookieName)+'='+escape(cookieValue);
        const date = new Date();
        date.setTime(date.getTime() + (cookieExpire * 24 * 60 * 60 * 1000));
        cookieText+=(cookieExpire ? '; EXPIRES='+date.toUTCString() : '');
        cookieText+=(cookiePath ? '; PATH='+cookiePath : '');
        cookieText+=(cookieDomain ? '; DOMAIN='+cookieDomain : '');
        cookieText+=(cookieSecure ? '; SECURE' : '');
        document.cookie=cookieText;
        console.log(cookieText)
    },
    getCookie(cookieName) {
      let cookieValue = null
      if (document.cookie) {
        const array = document.cookie.split(escape(cookieName) + '=')
        if (array.length >= 2) {
          const arraySub = array[1].split(';')
          cookieValue = unescape(arraySub[0])
        }
      }
    
      return cookieValue
    },
    onCollapse(collapsed, type) {},
    onBreakpoint(broken) {},
    logout() {
      if (confirm('로그아웃 하시겠습니까?')) {
        this.$axios.get(this.$URL.LOGOUT+"?id="+this.getCookie('user_id'))
        const cookies = document.cookie.split(';')

        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i]
          const eqPos = cookie.indexOf('=')
          const name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie
          document.cookie = name + '=;expires=Thu, 01 Jan 1970 00:00:00 GMT'
        }
        this.$router.push('/')
      }
    },
  },
}
</script>
<style >
.ant-menu-item .nuxt-link-exact-active{
 background-color: mediumslateblue!important;
  color: rgba(255, 255, 255, 0.65);
  padding-left: 10px;
  border-radius: 10px;
}
.ant-menu-item.ant-menu-item-selected{
  background-color: transparent !important;;
}
</style>