<template>
    
    <a-layout-footer style="text-align: center"> {{footer_text}} 

    </a-layout-footer>
</template>
<script>
import common_code from '@/mixins/common_code.js'

export default {
  mixins:[common_code],
  data() { return {common_code:[],} },
  computed:{
    footer_text(){
        if(this.common_code.find(e=>e.type==='푸터 정보') )
        return this.common_code
        .find(e=>e.type==='푸터 정보').value
        else return ""
        }
    },
}

</script>
<style scoped>

</style>