<template>
    <a-layout-header style="background: #fff; padding: 0;display: flex;justify-content:space-between; align-items: center;padding-left: 20px;" >
        <div>
            <span v-for="item in menu_list" :key="item.id" style="line-height:initial; color:#666; margin-right: 20px;">
                <nuxt-link v-if="!item.is_external" :to="item.menu_url">{{item.menu_name}}</nuxt-link>
                <a v-else :href="item.menu_url" target="_blank">{{item.menu_name}}</a>
            </span>
        </div>
      <div style="margin-right: 20px;">
          [로그인 시각] {{login_time}}
      </div>
    </a-layout-header>
</template>
<script>
import moment from 'moment'
import 'moment/locale/ko'

moment.locale('ko')
export default ({
    data(){
        return {
            menu_list:[],
            login_time:"",
            moment,
        }
    },
    mounted(){
        this.get_menu_data()
        this.login_time = this.moment(  this.getCookie('login_time') ).format("YYYY-MM-DD HH:mm") 
    },
    methods:{
        getCookie(cookieName){
            let cookieValue=null;
            if(document.cookie){
                const array=document.cookie.split((escape(cookieName)+'='));
                if(array.length >= 2){
                    const arraySub=array[1].split(';');
                    cookieValue=unescape(arraySub[0]);
                }
            }
            return cookieValue;
        },
        get_menu_data(){
            this.$axios.get(this.$URL.QUICK_MENU).then(res=>{
                this.menu_list = res.data
            })
        }
    }
})
</script>
