<template>
    <a-card  :style="{backgroundColor: item.is_urgent==='당일 출고'?'#dd5f5f6e':'e0ffde',marginBottom:'10px'}"
    :bodyStyle="{padding:'10px '}">
    <a-row type="flex" >
    <a-tag color="#f50">
        {{ item.is_urgent==='당일 출고'?'긴급' : '일반'}}
    </a-tag>
    <a-tag color="red">
        {{item.project_type}}
    </a-tag>
    <a-tag  :color="'#108ee9' " >
        {{item.orderer}}
    </a-tag>
    </a-row>
    <a-row style="min-height: 59px;max-height: 60px;overflow:hidden">
    <b class="" style="font-size: 20px;cursor:pointer" @click="open_project_detail(item.inquiry_id, item.id)">{{item.project_name}}</b>   <br>            
    </a-row>
      <a-steps :size="'small'">
        <!-- <a-step status="finish" title="데이터">     
        </a-step>
        <a-step status="process" title="생 산">    
        </a-step>
        <a-step status="process" title="배 송">    
        </a-step>         -->
    </a-steps>
    <a-tag style="margin-top: 10px;">
        {{item.ordered_at?item.ordered_at:'일정 미지정'}}
    </a-tag>
    </a-card>
</template>
<script>
export default {
    props:{
        item:{
            type: Object,
            default: () => ({})
        },
    },
    methods:{
        open_project_detail(inquiry_id,id){
            this.$emit('open_project_detail', inquiry_id, id )
        }
    }
}
</script>
