
<footer class=" footer mt-10 pb-16" style="background: #F7F7F7 0% 0% no-repeat;padding-top: 70px;">
  <div class=" ie_body   mx-auto" style="width:1200px">
    <div id="footer" class="lg:p-0">
      <div class="inner_footer pb-5 flex flex-col justify-between sm:flex-col md:flex-row" style="word-break: keep-all">
        <div class="" style="width: 690px;">
          <div class="pt-0  lg:w-[550px] ">
            <div  class=" " style="display: block">
              <img  class="logo " onclick="location.href='/'" src="/static/img/pinot_eng.png" style="width: 153px;cursor: pointer;" alt="피노 로고"/>
            </div>
            <div class="">
              <div class="" style="font-size:24px;color:#141414;margin-top:30px">
                고객센터
              </div>
              <div class="">
                <span style="font-size: 40px;font-weight:bold">1644-0247</span>
                <br/>
                <br/>
                <br/>
              </div>
            </div>
          </div>
          <div>
            <div>
              <div>
                <dl class="">
                  <dt style="font-weight: bold; font-size:14px">평일 09:00 ~ 18:00 | 점심시간 12:00 ~ 13:00</dt>
                  <dd class="" style="margin-top:5px;font-size: 14px;">주말 및 공휴일 휴무</dd>
                  <dd class="" style="margin-top:5px;font-size: 14px;margin-top:30px">FAX : 043 - 236 - 9882</dd>
                  <dd class="" style="margin-top:5px;font-size: 14px;">EMAIL : market@pinot.co.kr<div style="display: inline-block;width: 20px"></div>대량주문문의 : pinot@pinot.co.kr</dd>
                </dl>
              </div>
              <div style="display: flex; flex-wrap: wrap;">
                <div style="margin-right:10px; font-size: 12px;color:#141414;">주식회사 피노</div>
                <div style="margin-right:10px; font-size: 12px;color:#141414;">대표이사 : 김명수</div>
                <div style="margin-right:10px; font-size: 12px;color:#141414;">사업자등록번호 : 584-86-01781</div>
                <div style="margin-right:10px; font-size: 12px;color:#141414;">통신판매업 : 제 2020-충북청주-1093호</div>
                <div style="margin-right:10px; font-size: 12px;color:#141414;">개인정보보호책임자 : 오유진</div>
                <div style="margin-right:10px; font-size: 12px;color:#141414;">본사 및 공장 : 충청북도 청주시 흥덕구 가로수로 988</div>
                <div style="margin-right:10px; font-size: 12px;color:#141414;">IT/디자인 연구소 : 서울시 성동구 성수일로10길 26</div>
              </div>
              <em class=" not-italic   block" style="margin-top: 20px;font-weight: bold; font-size: 12px;">
                피노마켓의 모든 콘텐츠는 저작권법의 보호를 받으므로 무단복제 및 배포를 금지합니다.
              </em>
              
            </div>
          </div>
        </div>
        <div class="">
          <ul class="list flex justify-end  ">
            <li style="margin-left: 30px">
              <a class="link text-sm  text-gray-800" href="http://pinot.co.kr/" target="_blank" rel="noreferrer">
                회사소개
              </a>
            </li>
            <li style="margin-left: 30px">
              <a class="link text-sm text-gray-800" href="/contract">
                이용약관
              </a>
            </li>
            <li style="margin-left: 30px">
              <a class="link text-sm text-gray-800" href="/privacy">
                개인정보처리방침
              </a>
            </li>
          </ul>
          <div class="cc_view cc_kakao flex flex-col " style="align-items: end; "> 
              <div style="display: flex; margin-top:40px">
                <div style="width: 40px; border-radius: 20px; display: flex; justify-content: center; align-items: center;
                height: 40px;             
                background: #585858 0% 0% no-repeat;">
              <img src="/static/img/14.png" style="width: 22px">  
              </div>
                 <div style="width: 40px; border-radius: 20px; display: flex; justify-content: center; align-items: center;
                 height: 40px;   margin-left:10px;          
                 background: #585858 0% 0% no-repeat;">  <img src="/static/img/15.png" style="width: 22px">  </div>
              </div>

              <a target="_blank" href="https://pf.kakao.com/_Wdwls/chat" rel="noreferrer" style="margin-top:40px">
                <image  src="/static/img/kakao.png" alt="로고"/>
              </a>
           
              <a href="/custom/all" style="margin-top:20px">
                <image  src="/static/img/custom_img.png" alt="문의"/>
              </a>
           
          </div>
          
        
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-GN3EBPREP0"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-GN3EBPREP0');
</script>