{% load index_filter %}

<section class="header xxs:sticky md:relative top-0 bg-white z-[1000] ">
  <section class="">
    {% if main_banner %}
    {{ main_banner.id|count_up_banner }}
    <script>
      function banner_click(id,url){
          $.ajax({
              url:"/product/banner_click/"+id,
              success:function(res){
                  location.href = url
              }
          })
      }
   </script>
    <div class="main_banner" style="background-color: {{main_banner.background_color}}">
      <div class=" flex justify-center" style="text-algin:center">
          <img src="{{main_banner.pc_image_url}}" onclick="banner_click({{main_banner.id}},'{{main_banner.link}}')" />
      </div>
    </div>
    {% endif %}
    <div class="main_menu_top hidden sm:block" style="background-color: #F7F7F7;" >
      <div class="top_info ie_body hidden h-10 items-center mx-auto sm:flex sm:justify-between lg:max-w-5xl   xl:max-w-7xl " style=" width:1200px">
          <div >         
              <span style="color:#B7B7B7; font-size: 11px;">피노마켓은 학교 및 공공기관 우선구매 대상기업입니다</span>
              
          </div>
          <style>
            .user_menu>span::before {
                content: " ";
                width: 1px;
                height: 8px;
                margin-right: 10px;
                border-left: 1px solid #aaa;
            }
            .user_menu>span:first-child::before{
              display: none
            }
            .user_menu>span{
              color: #707070!important;
              font-size: 11px;;
            }
          </style>
          <div class="user_menu hidden sm:inline-block ">
            {% if not user.is_authenticated %}
            <span><a href="/account/login">로그인</a></span>&nbsp;&nbsp;&nbsp;
            <span><a href="/account/signup">회원가입</a></span>&nbsp;&nbsp;&nbsp;
            <span  class="sm:hidden md:inline-block "><a href="/account/signup">디자인 확인</a></span>&nbsp;&nbsp;&nbsp;
            <span  class="sm:hidden md:inline-block "><a href="/account/signup">개인 결제</a></span>&nbsp;&nbsp;&nbsp;
            {% else %}
            <span  style="font-weight: bold;"><a href="/account/basket">{{request.user.nickname}}님({{request.user.username}})</a></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span><a href="/account/delivery_list">마이페이지</a></span>&nbsp;&nbsp;&nbsp;
            <span class="sm:hidden md:inline-block "><a href="/account/signup">디자인 확인</a></span>&nbsp;&nbsp;&nbsp;
            <span class="sm:hidden md:inline-block "><a href="/account/signup">개인 결제</a></span>&nbsp;&nbsp;&nbsp;
            <span><a href="/account/logout">로그아웃</a></span>&nbsp;&nbsp;&nbsp;
            {% endif %}
            <span class="customer_center"><a href="/notice">고객센터</a></span>
          </div>
        
      </div>
    </div>
  </section>
  <div class="header_wrapper ie_body relative flex flex-col md:flex-row   justify-between mx-auto  lg:px-0 lg:max-w-5xl   xl:max-w-7xl " style=" width:1200px">
    <div class="header_con flex items-center"style="padding-left:0px;padding-right:0px;">     
      <label class="hamburger sm:hidden mb-0" for="menu_open">
        <img class="w-6 mr-3 " src="/static/img/ham.png" > 
      </label>
      <input type="checkbox" class="peer absolute -top-96" id="menu_open" />      
      <div class="hidden absolute top-0 z-[1200] left-0  bg-white w-full peer-checked:block shadow-md">
        <ul class="flex flex-wrap">
          <li class="w-full h-[65px] leading-10">
            <label class="sm:hidden mb-0" for="menu_open">   
              <img class="w-5 mr-3" src="/static/img/close.png" style="margin-left: 17px;margin-top: 21px;">
            </label>           
          </li> 
          <li  class="w-2/4 h-10 leading-10 border-b border-r border-t border-b-gray-300 border-r-gray-300 text-center ">즐겨찾기 추가</li>
          <li class="w-2/4 h-10 leading-10 border-b border-t border-b-gray-300 text-center"></li>
          {% if not user.is_authenticated %}
            <li onclick="location.href='/account/login'" class="w-2/4 h-10 leading-10 border-b border-r border-gray-300  text-center">로그인</li>
            <li onclick="location.href='/account/signup'"  class="w-2/4 h-10 leading-10 border-b border-b-gray-300 text-center">회원가입</li>
          {% else %}
            <li class="w-2/4 h-10 leading-10 border-b border-r border-gray-300  text-center">로그아웃</li>
            <li onclick="location.href='/account/modify_info'" class="w-2/4 h-10 leading-10 border-b border-b-gray-300 text-center">회원 정보 수정</li>
            <li onclick="location.href='/account/basket'" class="w-2/4 h-10 leading-10 border-b border-r border-gray-300  text-center">장바구니</li>
            <li onclick="location.href='/account/delivery_list'" class="w-2/4 h-10 leading-10 border-b border-b-gray-300 text-center">주문/배송</li>
            <li onclick="location.href='/account/address_list'" class="w-2/4 h-10 leading-10 border-b border-r border-gray-300  text-center">발송지 관리</li>
            <li onclick="location.href='/account/ship_address_list'" class="w-2/4 h-10 leading-10 border-b border-b-gray-300 text-center">배송지 관리</li>
            <li onclick="location.href='/account/refund'" class="w-2/4 h-10 leading-10 border-b border-r border-gray-300  text-center">환불 계좌</li>
            <li onclick="location.href='/account/order_history'" class="w-2/4 h-10 leading-10 border-b border-b-gray-300 text-center">결제 내역</li>
            <li onclick="location.href='/account/inquiry_list'" class="w-2/4 h-10 leading-10 border-b border-r border-gray-300  text-center">1:1 문의</li>
            <li onclick="location.href='/account/resign'" class="w-2/4 h-10 leading-10 border-b border-b-gray-300 text-center">회원 탈퇴</li>
          {% endif %}
          <li onclick="location.href='/notice'" class="w-2/4 h-10 leading-10 border-b border-r border-gray-300  text-center">고객 센터</li>
          <li onclick="location.href='/custom/all'" class="w-2/4 h-10 leading-10 border-b border-b-gray-300 text-center">견적 문의</li>
          <li onclick="location.href='/account/design_list'" class="w-2/4 h-10 leading-10 border-b border-r  border-b-gray-300 text-center">디자인 확인</li>
          <li onclick="location.href='/account/custom_purchase'" class="w-2/4 h-10 leading-10 border-b border-b-gray-300 text-center">개인 결제</li>
        </ul>
      </div>
      <a href="/"><img class="logo" src="/static/img/logo_kor.png" style="width:182px" /></a>
      <a class="header_custom_inquiry grow block text-right md:hidden" style="flex-grow:1;align-items:center ">
        <img class="h-6 inline-block sm:h-14" onclick="location.href='/custom/all'"  src="/static/img/mypage_quick.jpg" style="cursor:pointer" />
      </a>
    </div>
    <script>
      function toggle_all_menu(){
        $(".menu").toggleClass("hidden")
      }      
    </script>
    <div class="row contents items-align">
      <div class="search_con grow w-full mb-[8px] -mt-6  sm:mb-0 sm:mt-0  sm:bottom-0  md:block " style="margin-right:204px;width:320px;padding:10px 0px">
        <button onclick="toggle_all_menu()" class="absolute text-white h-9 rounded-tl-full rounded-bl-full text-xs px-3 drop-shadow-lg shadow-inner sm:hidden" style="background-color:#6060f0">전체 보기</button>
        <input class="input  w-full h-9 rounded-full pl-24 sm:pl-3" placeholder="찾고싶은 상품을 검색하세요!"  id="search" style="color: #000;border: 1px solid #C9C9C9;border-radius: 5px; width:100%"/>
        <img class="icon search" src="/static/img/header_search.png" />
      </div>
      <style>
        .menu_item>span{
          font-size: 10px;
          color:#707070;
          letter-spacing: -0.3px;
        }
       
        .menu_item{
          align-items: center;
          min-width: 57px;
        }
        .menu_item>.menu_icon{
          min-width: 30px;
        }
          
      @media screen and (min-width: 641px){
        .header .menu .row span {
          border: 2px solid transparent;
          line-height: 28px;
          position: relative;
          cursor: pointer;
      }
      }

      </style>
      <div class="menu_item  hidden md:hidden lg:flex" style="width: 50px; height: 48; display: flex; flex-direction: column; justify-content: space-between; ">
        <img class="menu_icon" onclick="location.href='/account/basket'" src="/static/img/header_mypage_icon.png"  style="width:24px;"/>
        <div>마이페이지</div>
      </div>
      <div class="menu_item  hidden md:hidden lg:flex" style="width: 50px; height: 48; display: flex; flex-direction: column; justify-content: space-between; ">
        <img class="menu_icon" onclick="location.href='/account/basket'" src="/static/img/header_basket_icon.png"  style="width:24px;" />
        <div>장바구니</div>
      </div>
      <div class="menu_item  hidden md:hidden lg:flex" style="width: 50px; height: 48; display: flex; flex-direction: column; justify-content: space-between; ">
        <img class="menu_icon " onclick="location.href='/account/design_list'" src="/static/img/header_design_confirm.png"  style="width:24px;" />
        <div>디자인확인</div>
      </div>
      <div class="menu_item  hidden md:hidden lg:flex" style="width: 50px; height: 48; display: flex; flex-direction: column; justify-content: space-between; ">
        <img class="menu_icon " onclick="location.href='/account/custom_purchase'" src="/static/img/header_custom.png"  style="width:24px;margin-top:5px" />
        <div>개인결제</div>
      </div>
      <div class="menu_item hidden md:inline-block" style="width: 50px; height: 48; display: flex; flex-direction: column; justify-content: space-between; ">
        <img id="mypage" class="menu_icon lg:h-auto lg:mt-0" onclick="location.href='/custom/all'"  src="/static/img/header_inquiry.png" style="cursor:pointer;width:24px;"  />
        <div>견적문의</div>
      </div>
         
    </div>    
  </div>
  <div class="clear"></div>
  <section class="ie_menu menu hidden sm:block">
    <div class="ie_menu_con md:w-full lg:w-[1024px] xl:w-[1280px]   mx-auto" style="width: 1200px;">
      <div class="ie_row row mx-auto  justify-between lg:justify-start" style="align-items: top;justify-content: space-between;">
        <span class="all group menu_item_seg hidden lg:text-base lg:inline-block" style="border-radius: 5px 5px 0px 0px;font-size: 15px""><i style="vertical-align: text-bottom;opacity: 1; font-size: 20px;" class="las la-bars"></i>전체보기
          <div class="all_item hidden" style="   border-radius: 5px 5px 5px 5px; top: 32px;    background-color: rgba(250,250,250,1);left:-17px;position: absolute;;width: 1200px; border:2px solid #e3007f; z-index: 10000;    ">
          {% for item  in main_category %}               
          <div class="all_list_item lg:text-lg  long " style="background-color: #fff;height: 360px; {%if forloop.counter0 == 5 %}width:201px;{%else%};width:199px;{%endif%}">
            <a style="display: inline-block;margin-left: 20px;font-weight: bold; font-size:  14px; color: black!important;;" data-img="{{item.image_url}}" href="/product/list/{{item.id}}" >
            {{item.name}}</a><br>
            <div  style="display: flex; flex-direction: column;">
              {% for sub_item in  item.category_set.all %}
              <a class="all_list_detail_item" href="/product/list/{{sub_item.id}}">{{sub_item.name}}</a>    
              {% endfor %}           
            </div>
          </div>
          {% endfor %}
         
          </div>
        </span>

        {% for item  in main_category %}
        <span class="group menu_item_seg px-[0px] w-1/2 mt-[8px] pt-[8px] mb-[8px] border-t border-t-gray-100 text-center
        sm:mt-0 sm:pt-0 sm:mb-0 sm:border-none sm:text-left sm:w-auto lg:px-3"
          > 
          <a class="hover_img " data-img="{{item.image_url}}" href="/product/list/{{item.id}}" ><i class="{{item.icon}}"></i>
            <span class=" text-gray-900 inline-block pb-[4px] sm:pb-0" style="font-size: 15px">{{item.name}}</span>
          </a>
          <ul class="sub_menu_item w-full flex left-0 
          {% if forloop.counter|divisibleby:2 %}{% else %}border-r border-dashed border-r-gray-500{% endif %}
          flex-wrap sm:w-[170px] sm:hidden sm:absolute  sm:group-hover:inline-block"         
          >
            {% for sub_item in  item.category_set.all %}
            <li class="w-1/2  text-sm sm:text-base  sm:text-left" style="letter-spacing:-2px;" ><a class="hover_img" data-img="{{sub_item.image_url}}"  href="/product/list/{{sub_item.id}}">
              <span class="text-gray-600">{{sub_item.name}}</span>
            </a></li>         
            {% endfor %}
            <li class="hover_img_show">
            </li>
          </ul>
        </span>
        {% endfor %}    
        <span class=" px-[0px] w-1/2 mt-[8px] pt-[8px] mb-[8px] border-t border-t-gray-100 text-center
        sm:mt-0 sm:pt-0 sm:mb-0 sm:border-none sm:text-left sm:w-auto lg:px-3"> 
          <a style="display: inline-block;margin-left: 20px; font-size:  15px; color: #E61E78!important;;" href="/sample_image/list" >
            샘플디자인</a>
        </span>
      </div>
    </div>
  </section>
</section>

<script>
  $(".hover_img").hover(function(){
    var img_src = $(this).attr("data-img")
      $(this).closest("span").find(".hover_img_show").css("background-image", "url("+img_src+")")
    }
  )
  $("#search").on("keyup",function(e){
    if( e.keyCode == 13 &&  $("#search").val().trim() != ""){
      location.href= "/product/search?q="+$("#search").val().trim()
    }
  })
  /*
  $(".menu_icon").on("mouseenter", function(){
    var original = $(this).attr("src")
    $(this).attr("src", original.split(".")[0]+"_hover"+"."+ original.split(".")[1] )
  })
  $(".menu_icon").on("mouseleave", function(){
    var original = $(this).attr("src")
    $(this).attr("src", original.replace("_hover","") )
  })
  */

</script>
<style>
  .short{
    float: left;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }
  .long{
    float: left;
    height: 447px;
    border-right: 1px solid #eee;
  }
  .customer_center::before{
    content: " ";
    width:1px;
    height: 10px;
    margin-right: 20px;
    border-left: 1px solid #aaa;
  }
  .all_list_item {
    width: 186px;
    font-size: 13px;
    padding: 0px;
    padding-top: 10px;;
  }
  .all_list_item>div{
    padding-left: 20px;
  }
  .all{   
    line-height: 23px;
    position: relative;
    cursor: pointer;
    padding: 0px 10px;
  }
  .all_list_detail_item{
    position: relative;
    color:#666666!important;
  }
  .all_list_detail_item:hover{
    /* color:#e3007f !important; */
    text-decoration: underline;
    color: #333333!important;
  }
  .all_list_detail_item:hover::before{
    /* content: " ";
    position: absolute;
    width: 5px;;
    height: 5px;
    border-radius: 5px;;
    background-color: #e3007f;
    left: -10px;;
    top:5px; */
  }
  .all_item{
    display: none!important;
  }
  .all:hover .all_item{
    display: block!important;
  }
  .short{
    height: 223px;;
  }

</style>
