{% load humanize %}

<section style="margin-top: 30px ;">
  <div class="tab" style="">
    <div class="category_name">{{ row.name}}</div>
    <a href="/product/list/{{row.id}}">
      <div class="view_all">전체보기</div>
    </a>
  </div>
  <div class="product_group grey grid grid-cols-2 px-1  gap-2  sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 lg:px-0" style="padding-top: 5px; padding-bottom: 24px;">
    {% include "product/components/product.html" with product_list=row.main_display_product user=user%}
  </div>
</section>
<style>
  .view_all {
    background-color: #e3007f;
    border-radius: 30px;
    padding: 4px 14px;
    color: #fff !important;
  }
</style>
