{% extends "shop_management/base.html" %}
{% load sass_tags %}
{% block body %}
<link href="{% sass_src 'css/custom_order.scss' %}" rel="stylesheet" type="text/css" />
<style>
input{
    height: 38px!important;
}
</style>
<div id="content" style="margin-top:50px;">
   <div class="inner">
      <h2 class="h2_tit">제작 문의</h2>
   </div>
   <form id="submitFrm" name="submitFrm" method="post" action="" onsubmit="return false">
      <input type="hidden" name="page" id="page" value="1">
      <input type="hidden" name="qstSeq" id="qstSeq" value="">
      <input type="hidden" id="mode" name="mode" value="">
      <div class="box_order02 inner align_c">
           <div class="row ">
                    <div class="col-12" style="padding: 0px">
                        <table style="width: 100%;">
                            <tr>
                                <th style="width: 100px;">작성 일자</th>
                                <td  style="width: calc(100%-100px);vertical-align: center; display: flex; align-items: center;">
                                    <div class="d-inline-block">
                                        <span style="line-height: 30px;font-size: 13px;cursor: pointer;" data-selected="5" data-month="all" class="date badge badge-light {% if selected == "5" %}badge-primary{%endif%}">전체보기</span>
                                        <span style="line-height: 30px;font-size: 13px;cursor: pointer;" data-selected="3" data-month="-3m" class="date badge badge-light {% if selected == "3" %}badge-primary{%endif%}">지난 7일</span>
                                        <span style="line-height: 30px;font-size: 13px;cursor: pointer;" data-selected="4" data-month="-6m" class="date badge badge-primary {% if selected == "4" %}badge-primary{%endif%}">지난 30일</span>
                                      </div>
                                      <div
                                      class=""
                                      style="display: flex; align-items: center; margin-left: 20px;"
                                    >
                                      <input
                                        type="text"
                                        id="datePicker"
                                        style="width: 125px"
                                        class="form-control"
                                        value="2019-06-27"
                                      />&nbsp;~&nbsp;
                                      <input
                                        type="text"
                                        id="datePicker2"
                                        style="width: 125px"
                                        class="form-control"
                                        value="2022-08-27"
                                      />
                                    </div>
                              </td>
                              </tr>
                                <tr style="padding-top: 10px">
                                    <th style="width: 150px; padding-top: 10px">상세 조건</th>
                                    <td  style="width: calc(100%-150px);padding-top: 10px;vertical-align: center;display: flex">
                                     <select  id="searchType" name="searchType"  class="form-control" style="width: 200px">
                                         <option>작성자</option>
                                         <option>제목</option>
                                     </select>
                                        <input id="searchText" placeholder="검색어를 입력해 주세요" type="text" class="form-control" style="width: 265px;margin-left: 8px ">&nbsp;
                                  </td>
                                  </tr>
                        </table>

                        <div class="col-12 " style="display: flex;justify-content: center;margin-top: 10px">
                          <button class="btn btn-danger" onclick="location.href='/shop_admin/custom_purchase'" style="padding: 2px 6px;background-color: #dc3545;color:#fff">검색 초기화</button>
                          <button onclick="searchText()" class="btn btn-primary ml-2" style="padding: 2px 6px;;color:#fff;    background-color: #007bff;">검색</button>
                        </div>
                      </div>

                </div>

      </div>
      <!-- // box_order02 -->
   </form>
   <div class="tbl_box">
      <div class="inner">
         <table class="tbl02 type2">
            <caption>번호, 제목, 작성자, 작성일, 조회수로 구성된 제작 문의 표</caption>
            <colgroup>
               <col style="width:10%;">
                  <col style="width:12%;">
               <col style="width:40%;">
               <col style="width:13%;">
               <col style="width:14%;">
               <col style="width:13%;">
            </colgroup>
            <thead>
               <tr>
                  <th scope="col" class="align_c">번호</th>
                  <th scope="col" class="align_c">문의 유형</th>
                  <th scope="col" class="align_c">제목</th>
                  <th scope="col" class="align_c">작성자</th>
                  <th scope="col" class="align_c">작성일</th>
                  <th scope="col" class="align_c">상태</th>
               </tr>
            </thead>
            <tbody>
                {% for item in question_list %}
                <tr>
                    <td class="align_c">
                       <p class="tbl_txt01 txt_bold">{{item.id}}</p>
                    </td>
                <td class="align_c">
                       <p class="tbl_txt01 txt_bold">{{item.inquiry_type}}</p>
                    </td>
                    <td class="align_l">
                       <p class="tbl_txt01">
                          <a href="/custom/detail/{{item.id}}">
                           {% if item.is_blind %}<span style="color:red">블라인드 처리된 게시글 입니다.</span>  {% else %} {{item.title}} {% endif %}
                          {% if item.is_new %} <span class="ico ico_new">new</span> {% endif %}
                          {% if item.status == "complete"%} <span class="ico ico_answer" style="margin-top:0px;">답변완료</span> {% endif %}
                        <i class="las la-lock"></i>
                          </a>
                       </p>
                    </td>
                    <td class="align_c">
                       <p class="tbl_txt01">{{item.name}}</p>
                    </td>
                    <td class="align_c">
                       <p class="tbl_txt01">{{item.created_at | date:"Y-m-d"}}</p>
                    </td>
                    <td class="align_c">
                          {% if item.status == "complete"%} 답변완료{% else %}대기중{% endif %}
                    </td>
                 </tr>
                {% endfor %}
            </tbody>
         </table>
         <!-- // tbl01 -->
      </div>
   </div>
   <!-- // tbl_box -->
   <div class="btn_wrap inner mgt40 align_c">
      <a href="/custom/write" class="btn_l btn_mblk w220"><span>글쓰기</span></a>
   </div>
   <!-- // btn_wrap -->
   <div class="paging inner mgt60" style="margin-bottom: 200px">
      <div class="btn prev"><a href=""><span class="blind">이전페이지 이동</span></a></div>
      {% for item in total_page %}
        <a href="/custom/all?page={{item|default:""}}&type={{type|default:""}}&q={{keyword|default:""}}">{{item}}</a>
      {% endfor %}
      <div class="btn next"><a href=""><span class="blind">다음페이지 이동</span></a></div>
   </div>
   <!-- // paging -->
</div>
<script>
    $(document).ready(function(){
        $(".search_btn").on("click", function(){
            location.href="/custom/all?q="+$("#searchText").val()+"&type="+$("#searchType").val()
        })
        $("#searchText").on("keyup", function (e){
            if(event.keyCode==13){
                 location.href="/custom/all?q="+$("#searchText").val()+"&type="+$("#searchType").val()
            }
        })
    })
</script>
<style>
    .inner {
        position: relative;
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
    }
    .h2_tit {
        font-size: 32px;
        line-height: 36px;
        color: #000;
        font-weight: 700;
    }
    .box_order02 {
        margin-top: 40px;
        padding: 20px;
        background: #f5f5f5;
    }

    .align_c {
        text-align: center!important;
    }
    .select02 {
    display: inline-block;
    position: relative;
    width: 100%;
    min-width: 80px;
    padding: 4px 35px 4px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
}
input[type="text"], input[type="password"], input[type="tel"] {
    width: 100%;
    height: 30px;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: 300;
    color: #000;
    border: solid 1px #ccc;
    box-sizing: border-box;
}
.btn_s {
    display: inline-block;
    overflow: hidden;
    min-width: 75px;
    height: 30px;
    padding: 0 15px;
    border: 1px solid #000;
    box-sizing: border-box;
    text-align: center;
    color: #000;
    vertical-align: top;
    cursor: pointer;
}
.mgl5 {
    margin-left: 5px !important;
}
.btn_s.btn_sblk {
    background: #000;
    color: #fff;
    border: 1px solid #000;
}
.btn_s.type2 {
    padding: 0 5px;
}
.btn_s.btn_sblk span {
    color: #fff;
}
.btn_s span {
    display: inline-block;
    position: relative;
    line-height: 28px;
    font-size: 14px;
    vertical-align: top;
}
.tbl_box {
    margin-top: 55px;
}
.tbl02 {
    margin-top: 20px;
    border-bottom: 1px solid #ddd;
}
table {
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
}
caption {
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 0 !important;
    height: 0 !important;
    font-size: 0 !important;
    line-height: 0 !important;
}
.tbl02 thead th {
    padding: 20px 25px;
    font-size: 16px;
    line-height: 18px;
    color: #000;
    text-align: center;
    border-bottom: 2px solid #000;
}
.tbl02 tbody tr:first-child td {
    border-top: 0;
}
.tbl02.type2 tbody td {
    padding: 20px 15px;
}
.tbl02 tbody td {
    padding: 36px 10px;
    font-size: 15px;
    line-height: 18px;
    color: #666;
    border-top: 1px solid #ddd;
}
.tbl_box .tbl_txt01 {
    font-size: 14px;
    line-height: 20px;
    color: #000;
}
.txt_bold {
    font-weight: 700;

}
.align_l {
    text-align: left!important;
}
.tbl_box .tbl_txt01 {
    font-size: 14px;
    line-height: 20px;
    color: #000;
}
.tbl02 tbody td a {
    color: #000;
}
.ico.ico_new {
    width: 35px;
    height: 16px;
    margin-left: 9px;
    background: url(../images/common/ico_new01.png) no-repeat 0 0;
}
.ico {
    display: inline-block;
    margin-top: 3px;
    text-indent: -9999px;
    vertical-align: top;
}
.ico.ico_new {
    width: 35px;
    height: 16px;
    margin-left: 9px;
    background: url(/static/img/ico_new01.png) no-repeat 0 0;
}
.ico.ico_answer {
    width: 49px;
    height: 16px;
    margin-left: 9px;
    background: url(/static/img/ico_answer01.png) no-repeat 0 0;
}
p{
    margin-bottom: 0px;
}
.mgt40 {
    margin-top: 40px !important;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn_l.w220 {
    width: 220px;
}
.btn_l.btn_mblk {
    background: #FFF;
    color: #000;
    border: 1px solid #E300E3;
}
.btn_l {
    display: inline-block;
    overflow: hidden;
    min-width: 75px;
    height: 62px;
    padding: 0 30px;
    border: 2px solid #000;
    box-sizing: border-box;
    text-align: center;
    color: #000;
    vertical-align: top;
    cursor: pointer;
}
.btn_l.btn_mblk span {
    color: #000;
}
.btn_l span {
    display: inline-block;
    position: relative;
    line-height: 60px;
    font-size: 18px;
    vertical-align: top;
}


.paging {
    margin-top: 40px;
    text-align: center;
}
.mgt60 {
    margin-top: 60px !important;
}
.paging > .btn.prev {
    margin-right: 20px;
    background: url(/static/img/ico_arrow_left04.png) no-repeat center center;
}
.paging > .btn a {
    display: inline-block;
    width: 41px;
    height: 41px;
    border: 1px solid #000;
}
.paging > .btn {
    display: inline-block;
    width: 41px;
    height: 41px;
}
.paging > strong {
    display: inline-block;
    width: auto;
    height: 40px;
    margin: 0 5px;
    padding: 0 15px;
    font-size: 18px;
    line-height: 38px;
    color: #000;
    font-weight: 700;
    vertical-align: top;
    text-decoration: underline;
}
.paging > a {
    display: inline-block;
    width: auto;
    height: 40px;
    margin: 0 5px;
    padding: 0 15px;
    font-size: 18px;
    line-height: 38px;
    color: #666;
    vertical-align: top;
}
.paging > .btn.next {
    margin-left: 20px;
    background: url(/static/img/ico_arrow_right04.png) no-repeat center center;
}
#content .blind,#content .hidden {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 0 !important;
    height: 0 !important;
    font-size: 0 !important;
    line-height: 0 !important;
}
</style>




{% endblock %}