
{% extends "shop_management/base.html" %}
{% load sass_tags %}
{% block body %}
<link href="/static/css/dist/tail/default.css" rel="stylesheet">
{%  if question.writer.id !=  user.id  or not user.is_authenticated%}
    <script>
    alert("조회 권한이 없습니다.")
    history.back()
    </script>

    {% endif %}

    <link href="{% sass_src 'css/custom_order_write.scss' %}" rel="stylesheet" type="text/css" />

<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
<div class="inner" style="width: 1280px; margin: 40px auto;">
    <h2 class="h2_tit " style="font-size: 30px;">제작 문의</h2>
</div>
    <script>
    function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
    </script>
    {%  if question.writer.id ==  user.id and   user.is_authenticated%}
<div class="custom_order_detail md:w-[1280px] md:mx-auto ">
    <div class="row">
        <div class="sub_content">
            <div class="layout">
                <div class="wrap_board_area">
                    <div class="table board_view">
                        <div class="row">
                            <div class="cell tit">
                                <p class="origin">{{question.title}}</p>
                                <input class="modify hidden" name="title" style="width: 50%; border:1px solid #ddd; padding: 5px;font-size: 16px; margin-bottom: 10px;" value="{{question.title}}">
                                <dl>
                                    <dt>작성자</dt>
                                    <dd>{{question.name}}</dd>  
                                    <dt>이메일</dt>
                                    <dd>{{question.email}}</dd>  
                                    <dt>등록일</dt>
                                    <dd>{{question.created_at}}</dd>                      
                                </dl>
                            </div>
                        </div>
                        <div class="row" style="    font-size: 13px;">
                            <div class="cell cont">
                                 <div class="origin"> {{ question.content | safe }}</div>
                                 <div style="width: 100%">
                                    <div class="modify hidden" name="content" id="summernote_origin" style="width: 100%">   {{ question.content | safe }} </div>
                                 </div>
                            </div>
                        </div>
                    {% if  question.attached_file_0  or question.attached_file_1 or question.attached_file_2%}
                        <div class="row">
                            <div class="cell subinfo">
                            {% if question.attached_file_0 %}
                                <dl>
                                    <dt>첨부파일</dt>
                                    <dd><a href="{{question.attached_file_0.url}}" target="_blank" style="margin-left: 20px;">첨부파일1</a></dd>    
                                </dl>
                            {% endif %}
                            {% if question.attached_file_1 %}
                                <dl>
                                    <dt>첨부파일</dt>
                                    <dd><a href="{{question.attached_file_1.url}}" target="_blank" style="margin-left: 20px;">첨부파일2</a></dd>    
                                </dl>
                            {% endif %}
                            {% if question.attached_file_3 %}
                                <dl>
                                    <dt>첨부파일</dt>
                                    <dd><a href="{{question.attached_file_2.url}}" target="_blank" style="margin-left: 20px;">첨부파일3</a></dd>    
                                </dl>
                            {% endif %}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                <div class="md:w-[1280px] md:mx-auto flex justify-content-end mb-4">
                    <button class="btn modify_btn">수정하기</button>
                    <button class="btn modify_cancel_btn hidden btn-warning">수정취소</button>
                     <button class="btn modify_confirm_btn hidden">수정하기</button>
                    <button class="btn btn-primary ml-2">목록으로</button>
                    <button id="delete" class=" delete btn btn-danger ml-2">삭제하기</button>
                </div>

                    <div class="reply">
                    {% for item in question.custominquiryanswer_set.all %}
                        <div class="reply_seg" data-id="{{ item.id }}">
                            <div class="write_info">작성자 : {{item.name}}&nbsp;&nbsp; |&nbsp;&nbsp; 작성일 : {{item.created_at}}
                            {% if request.user == item.writer %}
                                <button class="btn btn-danger delete_reply" style="margin-left: 10px;padding: 2px 4px;font-size: 12px;">삭제</button>
                                <button class="btn modify_reply_btn" style="padding: 2px 4px;font-size: 12px;">수정</button>
                                <button class="btn modify_confirm hidden" style="padding: 2px 4px;font-size: 12px;">수정 하기</button>
                                <button class="btn modify_cancel hidden" style="padding: 2px 4px;font-size: 12px;">수정 취소</button>
                            {% endif %}
                            </div>
                            <div class="write_content">
                                <div class="origin_reply">
                                {{item.content|safe}}
                                </div></div>
                              <div style="width: 100%">
                                 <div class="modify_reply hidden summernote_origin_reply" data-id="{{ item.id }}" name="content" id="summernote_origin_reply" style="width: 100%">{{ item.content | safe }} </div>
                              </div>
                            <div class="download_file">
                             {% if item.attached_file_0 %}
                                    <dl>
                                        <dt>첨부파일</dt>
                                        <dd><a href="{{item.attached_file_0.url}}" target="_blank" style="margin-left: 20px;">첨부파일1</a></dd>
                                    </dl>
                            {% endif %}
                            {% if item.attached_file_1 %}
                                    <dl>
                                        <dt>첨부파일</dt>
                                        <dd><a href="{{item.attached_file_1.url}}" target="_blank" style="margin-left: 20px;">첨부파일2</a></dd>
                                    </dl>
                            {% endif %}
                            {% if item.attached_file_2 %}
                                    <dl>
                                        <dt>첨부파일</dt>
                                        <dd><a href="{{item.attached_file_2.url}}" target="_blank" style="margin-left: 20px;">첨부파일3</a></dd>
                                    </dl>
                            {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                        <div id="summernote">  댓글을 입력해 주세요</div>
                        <div>
                            <input type="file" class="form-control" id="attached_file_0">
                            <input type="file" class="form-control" id="attached_file_1">
                            <input type="file" class="form-control" id="attached_file_2">
                        </div>
                        <button class="btn btn-primary add_item" style="float:right">댓글 입력</button>
                    </div>
                    <!-- end of table -->


                
                    <div class="wrap_btn_board" style="margin-top: 50px;margin-bottom: 50px;">
                        <a href="/custom/all" class="btn_board" target="_self">목록</a>
                    </div>
                    <!-- end of wrap_board_btn -->
                    
                </div>
                <!-- end of wrap_board_area -->
            </div>
        </div>
    </div>
</div>
{% endif %}
<script>  
    $(document).ready(function(){
        $(".modify_reply_btn").on("click", function (){
            if(confirm("댓글을 수정하시겠습니까?")) {
                $(this).closest(".reply_seg").find(".modify_reply_btn").addClass("hidden")
                $(this).closest(".reply_seg").find(".modify_reply").removeClass("hidden")
                $(this).closest(".reply_seg").find(".write_content").addClass("hidden")
                $(this).closest(".reply_seg").find(".modify_confirm").removeClass("hidden")
                $(this).closest(".reply_seg").find(".modify_cancel").removeClass("hidden")
            }
        })
        $(".modify_cancel").on("click", function (){
            if(confirm("댓글 수정을 취소 하시겠습니까?")) {
                $(this).closest(".reply_seg").find(".modify_reply_btn").removeClass("hidden")
                $(this).closest(".reply_seg").find(".modify_reply").addClass("hidden")
                $(this).closest(".reply_seg").find(".write_content").removeClass("hidden")
                $(this).closest(".reply_seg").find(".modify_confirm").addClass("hidden")
                $(this).closest(".reply_seg").find(".modify_cancel").addClass("hidden")
            }
        })
        $(".modify_confirm").on("click", function (){
                var id = $(this).closest(".reply_seg").attr("data-id")
                var ctx = this
            console.log(id)
               var formData = new FormData();
             formData.append("content", $(".summernote_origin_reply[data-id='"+ $(this).closest(".reply_seg").attr("data-id") +"']").summernote('code') )
             if( confirm("해당 댓글을 수정하시겠습니까?") ){

                $.ajax({
                    url: "/shop_admin/ajax_custom_inquiry_answer/" + id,
                    type: "PUT",
                    enctype: 'multipart/form-data',
                      processData: false,
                contentType: false,
                    data: formData,
                    success : function (res){
      $(this).addClass("hidden")
                $(ctx).closest(".reply_seg").find(".modify_reply").addClass("hidden")
                $(ctx).closest(".reply_seg").find(".write_content").removeClass("hidden")
                $(ctx).closest(".reply_seg").find(".modify_confirm").addClass("hidden")
                $(ctx).closest(".reply_seg").find(".modify_cancel").addClass("hidden")
                        location.reload()
                    }
                })
            }
        })
        $(".delete_reply").on("click", function (){
             if( confirm("해당 댓글을 삭제하시겠습니까?") ){
                $.ajax({
                    url:"/shop_admin/ajax_custom_inquiry_answer/"+$(this).closest(".reply_seg").attr("data-id"),
                    type:"delete",
                    success : function(res) {
                        alert("삭제되었습니다.")
                        location.reload()
                    }
                })
            }
        })
        $("#delete").on("click", function (){
            if( confirm("제작문의 게시글을 삭제하시겠습니까?") ){
                $.ajax({
                    url:"/custom/delete/{{question.id}}",
                    type:"delete",
                    success:function (res){
                        alert("삭제되었습니다.")
                        location.href="/custom/all"
                    }
                })
            }
        })
        $("#summernote").summernote({"height":500})
        $("#summernote_origin").summernote({"height":500})
        $(".summernote_origin_reply").summernote({"height":200})
        $(".add_item").on("click", function(){
            var formData = new FormData();
            formData.append("inquiry_id", {{question.id}});
            formData.append("name", "{{question.name}}");
            formData.append("content", $("#summernote").summernote('code'));
            formData.append("attached_file_0",  $("#attached_file_0")[0].files[0]);
            formData.append("attached_file_1",  $("#attached_file_1")[0].files[0]);        
            formData.append("attached_file_2",  $("#attached_file_2")[0].files[0]); 
     
            $.ajax({
                url:"/shop_admin/ajax_custom_inquiry_answer/{{question.id}}",
                type:"post",
                enctype: 'multipart/form-data',  
                processData: false, 
                contentType: false,
                data:formData,
                success:function(res){
                    location.reload()
                }
            })
        })
    })
    $(".modify_btn").on("click", function (){
        if(confirm("게시글을 수정하시겠습니까?")){
            $(this).addClass("hidden")
            $(".modify").removeClass("hidden")
            $(".origin").addClass("hidden")
            $(".modify_btn").addClass("hidden")
            $(".modify_cancel_btn").removeClass("hidden")
            $(".modify_confirm_btn").removeClass("hidden")
        }
    })
    $(".modify_cancel_btn").on("click", function (){
        if(confirm("게시글 수정을 취소하시겠습니까?")){
            $(".modify_btn").removeClass("hidden")
            $(".modify").addClass("hidden")
            $(".origin").removeClass("hidden")
            $(".modify_cancel_btn").addClass("hidden")
            $(".modify_confirm_btn").addClass("hidden")
        }
    })
    $(".modify_confirm_btn").on("click", function (){
        if( confirm("게시글을 수정하시겠습니까?") ){
            var formData = new FormData();
            formData.append("title",  $("input[name=title]").val());
            formData.append("content", $("#summernote_origin").summernote('code'));
            $.ajax({
                url:"/custom/modify/{{question.id}}",
                type:"post",
                enctype: 'multipart/form-data',
                processData: false,
                contentType: false,
                data:formData,
                success:function(res){
                    alert("수정되었습니다.")
                    location.reload()
                }
            })
        }
    })
    $("#submit").on("click", function(){
        $.ajax({
            type:"post",
            data:{
                id: {{question.id}},
                password : $("#password").val()
            },
            success:function(res){
                var file_template = "" 
                if( res.file_0 ){
                    file_template = '<dl>'+
                                    '<dt>첨부파일</dt>'+
                                    '<dd style="margin-left: 20px;">'+'<a href="'+res.file_0+'" target="_blank">첨부파일</a>'+'</dd>'+
                                    '</dl>'
                } 
                if( res.file_1 ){
                    file_template += '<dl>'+
                                    '<dt>첨부파일</dt>'+
                                    '<dd style="margin-left: 20px;">'+'<a href="'+res.file_1+'" target="_blank">첨부파일</a>'+'</dd>'+
                                    '</dl>'
                }
                if( res.file_2 ){
                    file_template += '<dl>'+
                                    '<dt>첨부파일</dt>'+
                                    '<dd style="margin-left: 20px;">'+'<a href="'+res.file_2+'" target="_blank">첨부파일</a>'+'</dd>'+
                                    '</dl>'
                }  
                console.log(file_template)
                var template = 
                '<div class="table board_view">'+
                        '<div class="row">'+
            '              <div class="cell tit">'+
             '                <p>'+res.result[0].title+'</p>'+
              '                  <dl> '+
''+
 '                                   <dt>작성자</dt>'+
  '                                  <dd>'+res.result[0].name+'</dd>  '+
   '                                 <dt>이메일</dt>'+
   '                                <dd>'+res.result[0].email+'</dd>  '+
     '                               <dt>등록일</dt>'+
      '                              <dd>'+res.result[0].created_at+'</dd>   '+                   
       '                         </dl>'+
        '                    </div>'+
         '               </div>'+
          '              <div class="row" style="    font-size: 13px;">'+
           '                 <div class="cell cont">'+
            '                    '+res.result[0].content+
             '               </div>'+
              '          </div>'+
               '         <div class="row">'+
                '            <div class="cell subinfo">'
                               +file_template+
                      '      </div>'+
                       ' </div>'+
       '             </div>';
                    $(".wrap_board_area").prepend(template);
                    $(".private_confirm").remove()

            },
            error:function(){
                alert("비밀번호를 확인해주세요.")
            }
        })
    })
</script>
<style>
.reply{
    margin-top: -1px!important;
    border-top: 2px solid #000;
    padding: 20px!important;
}
.write_info{
  
    padding: 20px 40px!important;
}
.write_content{
    padding: 20px 40px 50px !important;
    border-bottom:1px solid #ddd;
}
.reply dl{
    display: flex;
    padding: 0px 40px;
    margin-top: -40px;
    
}
.download_file{
 display: flex;
 flex-direction:row;
}
.custom_order_detail body, .custom_order_detail div, .custom_order_detail dl, .custom_order_detail dt, .custom_order_detail dd, .custom_order_detail ul, .custom_order_detail ol, .custom_order_detail li, .custom_order_detail h1, .custom_order_detail h2, .custom_order_detail h3, .custom_order_detail h4, .custom_order_detail form, .custom_order_detail fieldset, .custom_order_detail p, .custom_order_detail button {
    /* margin: 0!important;
    padding:  0!important; */
    letter-spacing: -0.06em;
}
.modal-dialog{
    margin-left: auto!important;
    margin-right: auto!important;
    
}
.margin-top{
    margin-top: 1.75rem!important;
}
.hidden+.note-editor{
    display: none;
}
</style>

{% endblock %}