<aside class="hidden md:block" style="float: left; margin-bottom: 100px;">
    <div id="snb" class="snb_cc">
      <!-- <h2 class="tit_snb">마이페이지</h2> -->
      <div class="inner_snb">
         <ul class="list_menu">
            <li class="on main_item">
               <a>주문 정보</a>
            </li>
            <li class="sub {% if request.path == "/account/delivery_list" %}selected{% endif %}" style="margin-top:10px"><a href="/account/delivery_list">주문/배송 조회</a></li>
            <li class="sub {% if request.path == "/account/custom_purchase" %}selected{% endif %}" ><a href="/account/custom_purchase">개인결제</a></li>
            <li class="sub  {% if request.path == "/account/order_history" %}selected{% endif %}" ><a href="/account/order_history">결제내역</a></li>
            <li class="sub {% if request.path == "/account/design_list" %}selected{% endif %}" ><a    href="/account/design_list">디자인 확인</a></li>
          
            <li class="sub {% if request.path == "/account/refund" %}selected{% endif %}"   style="margin-bottom:30px"><a href="/account/refund">환불계좌</a></li>
            <li class="on main_item">
              <a>회원 정보</a>
            </li>
            <li class="sub {% if request.path == "/account/modify_info" %}selected{% endif %}" ><a href="/account/modify_info">정보수정</a></li>
            <li class="sub {% if request.path == "/account/modify_busi" %}selected{% endif %}" ><a href="/account/modify_busi">사업자 정보수정</a></li>
          
            <li class="sub {% if request.path == "/account/resign" %}selected{% endif %}"  style="margin-bottom:30px"><a href="/account/resign">회원 탈퇴</a></li>
            <li class="on main_item">
              <a>문의/상담</a>
            </li>
            <li class="sub {% if request.path == "/account/inquiry_list" %}selected{% endif %}"  style="margin-bottom:30px"><a href="/account/inquiry_list">1:1 문의</a></li>
            {% comment %}  <li  class="sub"><a href="/partner">사업 제휴</a></li> {% endcomment %}
          </ul>
          <div style="cursor: pointer;;height:42px; border-radius: 5px;background-color:#D23279;color:#FFFFFF;font-weight:bold; font-size:12px; display:flex; align-items:center; justify-content:center">
            <img src="/static/img/13.png" style="width:24px; margin-right: 6px"> 주문제작 문의하기
          </div>
       
      </div>
   </div>
  </aside>
  <style>
    #snb {
    float: left;
    width: 150px;
}
#snb .tit_snb {
    padding: 10px 0px ;
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    color: #333;
    letter-spacing: -.5px;
}
#snb .inner_snb {
   
}
#snb .list_menu .main_item{
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
}
#snb .list_menu li {

}
#snb .list_menu li.on a{
  
   
}
#snb .list_menu li.on a, #snb .list_menu li a:hover {
  
    background-size: 6px 11px;
    font-weight: 700;
    color: #898989;
}
#snb .list_menu li.main_item a {
    display: block;
    overflow: hidden;
    padding: 10px 0px ;
   
    background-size: 6px 11px;
    font-size: 15px;
    color: #898989;
    line-height: 20px;
    letter-spacing: -.3px;
    font-weight: bold;

}
#snb .list_menu li.sub a {
    display: block;
    overflow: hidden;
    padding: 7px 0px ;
    background-size: 6px 11px;
    font-size: 14px;
    color: #898989!important;
    line-height: 20px;
    letter-spacing: -.3px;
}
#snb .list_menu li.sub a{
 
} 
.selected{
  text-decoration: underline;
}
.mypage-date{
  background-color: #F0F0F0;
  color: #898989 ;
  font-size: 12px;
  width: 60px;
  height: 25px;
  border-radius: 5px;
  text-align: center;
  line-height: 25px;
  margin-right:10px;
  cursor: pointer;
}
.mypage-date-selected{
  background-color: #FAB91E;
  color:#fff;
}
#datePicker,#datePicker2 {
  width: 80px!important;
height: 25px!important;
border: 1px solid #898989!important;
border-radius: 5px!important;
font-size: 12px;;
color: #898989;
padding-left: 0px!important;
padding-right: 0px!important;
text-align: center;
}
  </style>