{% extends "shop_management/base.html" %}

{% block body %}
<script src="/static/js/bootstrap-datepicker.js"></script>
<script src="/static/js/locales/bootstrap-datepicker.ko.js"></script>
<link rel="stylesheet" href="/static/css/bootstrap-datepicker.css">
<link href="/static/css/mypage.css" rel="stylesheet" type="text/css" />
<div class=" mx-auto " style="width:1200px">
    <div class="row">
        <div class="page_title hidden md:block">
            마이페이지
        </div>
        {% if request.path == "/account/basket" %}
        <div class="brd" style="display: flex;align-items: baseline; flex-grow: 1;justify-content: flex-end;     padding-bottom: 38px;">
            <span class="badge">상품선택</span><i class="fas fa-chevron-right"></i>
            <span class="badge selected">장바구니</span><i class="fas fa-chevron-right"></i>
            <span class="badge">주문/결제</span><i class="fas fa-chevron-right"></i>
            <span class="badge">주문완료</span>            
        </div>
        {% endif %}
        {% if request.path == "/account/payment" %}
        <div class="brd" style="display: flex;align-items: baseline; flex-grow: 1;justify-content: flex-end;     padding-bottom: 38px;">
            <span class="badge">상품선택</span><i class="fas fa-chevron-right"></i>
            <span class="badge ">장바구니</span><i class="fas fa-chevron-right"></i>
            <span class="badge selected">주문/결제</span><i class="fas fa-chevron-right"></i>
            <span class="badge">주문완료</span>            
        </div>
        {% endif %}

    </div>
    {% include "shop_user/components/header.html" %}
    <div class="row">
        {% if request.user.is_authenticated %}
            {% include "shop_user/components/menu.html" %}
        {% else %}
            {% include "shop_user/components/public_menu.html" %}
        {% endif %}
        {% block content %}
        {% endblock %}
    </div>
   
</div>
<div class="clear"></div>
<style>
    .brd .badge{
        font-size: 14px;;
        font-weight: lighter;
        color: #999;
    }
    .selected{
        color: #222!important;
        font-weight: bold!important;
    }
</style>
{% endblock %}