<html>
  <body>
    안녕하세요 피노마켓입니다.<br>
    <br>
비밀번호 변경 URL을 전달드리오니 아래의<br> 링크로 접속하신 후 새 비밀번호로 변경하시기 바랍니다. <br>
<br>
url : <a href="https://www.pinotmarket.co.kr/account/password_change/{{token}}" target="_blank">https://www.pinotmarket.co.kr/account/password_change/{{token}}</a>
<br>
기타 로그인에 문제가 있을 시 전화문의(T. 1644-0247) 해주시기 바랍니다. <br>
<br>
감사합니다.<br>
<div style="display: flex;align-items: center;">
  <img src="http://www.pinotmarket.co.kr/static/img/estimate_logo.png" style="width: 200px;">
  <div>
    피노마켓 | 주식회사 피노<br>
    대표이사 : 김명수 | 사업자 등록번호 : 584-86-01781<br>
    통신판매업 신고 : 제 2020-충북청주-1093호<br>
    충청북도 청주시 흥덕구 가로수로  T.1644-0247 F.043-236-9882
  </div>
</div>
  </body>
</html>