<aside style="float: left; margin-bottom: 100px;">
    <div id="snb" class="snb_cc">
      <!-- <h2 class="tit_snb">마이페이지</h2> -->
      <div class="inner_snb">
         <ul class="list_menu">
            <li class="on main_item">
               <a>주문 정보</a>
            </li>
            <li class="sub" {% if request.path == "/account/basket" %}class="selected"{% endif %}><a href="/account/basket">장바구니</a></li>
            <li  class="sub" {% if request.path == "/account/delivery_list" %}class="selected"{% endif %}><a href="/account/delivery_list">주문/배송</a></li>
            <li class="sub" ><a href="/account/custom_purchase">개인결제</a></li>
            <li class="on main_item">
              <a>결제 정보</a>
            </li>
            <li class="sub"  {% if request.path == "/account/order_history" %}class="selected"{% endif %} ><a href="/account/order_history">결제내역</a></li>
            <li class="sub"><a  {% if request.path == "/account/design_list" %}class="selected"{% endif %}  href="/account/design_list">디자인 확인</a></li>
            <li class="on main_item">
              <a>문의/상담</a>
            </li>
            <li  class="sub"><a href="/account/inquiry_list">문의</a></li>
          </ul>
          <img style="width:100%" src="/static/img/mypage_quick.jpg">
      </div>
      <!-- <a href="/contact" class="link_inquire"><span class="emph">도움이 필요하신가요 ?</span>제휴문의</a> -->
   </div>
  </aside>
  <style>
    #snb {
    float: left;
    width: 200px;
}
#snb .tit_snb {
    padding: 8px 0 33px 1px;
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    color: #333;
    letter-spacing: -.5px;
}
#snb .inner_snb {
    border: 1px solid #f2f2f2;
    border-bottom: 0;
}
#snb .list_menu li {
    border-bottom: 1px solid #f2f2f2;
}
#snb .list_menu li.on a{
  background: #fafafa!important;
   
}
#snb .list_menu li.on a, #snb .list_menu li a:hover {
    background: #fafafa url(https://res.kurly.com/pc/ico/2008/ico_arrow_6x11_on.svg) no-repeat 174px 52%;
    background-size: 6px 11px;
    font-weight: 700;
    color: #5f0080;
}
#snb .list_menu li.main_item a {
    display: block;
    overflow: hidden;
    padding: 15px 0 15px 20px;
    background: #fff url(https://res.kurly.com/pc/ico/2008/ico_arrow_6x11.svg) no-repeat 174px 52%;
    background-size: 6px 11px;
    font-size: 14px;
    color: #666;
    line-height: 15px;
    letter-spacing: -.3px;
}
#snb .list_menu li.sub a {
    display: block;
    overflow: hidden;
    padding: 15px 0 15px 20px;
    background: #fff url(https://res.kurly.com/pc/ico/2008/ico_arrow_6x11.svg) no-repeat 174px 52%;
    background-size: 6px 11px;
    font-size: 14px;
    color: #666;
    line-height: 20px;
    letter-spacing: -.3px;
}
#snb .list_menu li.sub a{
  padding-left: 40px;
} 

  </style>