<div class="box_agree_tit01 on">
  <div class="ui_check_wrap">
    <div>
      <input type="checkbox" id="infoAgreeYn" name="infoAgreeYn" value="Y" title="" class="ui_check_input" style="margin:2px">
    </div>
  </div>
  <div class="btn_agree_list01" style="display:flex; justify-content:space-between; align-items: baseline;">
    <label for="infoAgreeYn" class=" text-gray-500" title="항목 접기" style="color:#141414;font-size: 12px;">[필수] 개인정보 수집 및 이용동의</label>
    <span id="more_infoAgreeYn" style="cursor: pointer;cursor: pointer; color: #E61E78;font-size: 9px;background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;border-radius: 4px;
    border: 1px solid #D33777;width:52px;text-align: center;">내용 보기</span>
  </div>
</div>
<div class="box_agree_txt01" style="display:none;">
  <p>
    개인정보 처리방침<br>
    <br>
    '(주)피노' (이하 '회사')은(는) 개인정보 보호법에 따라 이용자의 개인정보 보호 및 권익을 보호하고 개인정보와 관련한 이용자의 고충을 원활하게 처리할 수 있도록 다음과 같은 처리방침을 두고 있습니다.
    <br>
    회사는 개인정보 처리방침을 개정하는 경우 웹사이트 공지사항(또는 개별공지)을 통하여 공지할 것입니다.<br>
    <br>
    ○ 본 방침은 2021년 7월 1일부터 시행됩니다.<br>
    <br>
    1. 수집하는 개인정보 항목<br>
    회사는 회원가입, 상담, 서비스 신청 등을 위해 아래와 같은 개인정보를 수집하고 있습니다.<br>
    <br>
    1.1. 수집항목<br>
    <개인회원><br>
      - 필수항목 : 이름, 생년월일, 이메일, 휴대전화번호, ID, 비밀번호 - 선택항목 : 성별, 전화번호
      <br>
      <기업회원><br>
        - 필수항목 : 회사명, 사업자번호, 대표자명, 업태, 종목, 이름, 생년월일, 이메일, 휴대전화번호, ID, 비밀번호, 회계 담당자명, 회계 담당 연락처, 회계 담당 이메일, 회사주소 - 선택항목 : 성별, 전화번호<br>
        <br>
        <br>
        - SNS : 네이버, 카카오, 구글, 애플(고객이 회사 제공 동의한 정보)<br>
        - 필수항목 : 이름, 생년월일, 이메일, 휴대전화번호, 비밀번호<br>
        - 선택항목 : 성별, 전화번호<br>
        <br>
        <제품 구매="구매" 시="시"><br>
          - 회원 : 수취인 정보(이름, 휴대전화번호, 전화번호, 주소), 발송 정보(고객이 발송 정보 변경 요청 시, 이름, 연락처, 주소), 결제수단 정보 - 비회원 : 주문자 정보(이름, 이메일, 휴대전화번호), 수취인 정보(이름, 휴대전화번호, 전화번호, 주소), 결제수단 정보<br>
          <br>
          <무통장 환불="환불" 시="시"><br>
            - 수집항목 : 은행명, 계좌번호, 예금주<br>
            <br>
            <대량제작 상담="상담" 시="시"><br>
              - 수집항목 : 담당자 정보(이름, 연락처, 직급, 이메일) 회사명<br>
              <br>
              - 서비스 이용과정에서 IP주소, 쿠키, 방문일시, 서비스 이용기록과 같은 정보가 자동으로 생성되어 수집될 수 있습니다.<br>
              <br>
              1.2. 수집 방법<br>
              홈페이지, 팩스, 전화, 카카오톡 상담<br>
              <br>
              2. 개인정보의 수집 및 이용목적<br>
              회사는 수집한 개인정보를 다음의 목적을 위해 활용합니다.<br>
              <br>
              2.1. 서비스 제공에 관한 계약 이행 및 서비스 제공에 따른 요금 정산<br>
              콘텐츠 제공, 구매 및 요금 결제, 물품 배송 또는 청구지 등 발송, 금융거래 본인 인증 및 금융 서비스, 요금 추심
              <br>
              2.2. 회원 관리<br>
              회원제 서비스 이용에 따른 본인확인, 개인 식별, 불량회원의 부정 이용 방지와 비인가 사용 방지, 가입 의사 확인, 연령 확인, 불만 처리 등 민원처리, 고지사항 전달
              <br>
              2.3. 마케팅 및 광고에 활용 신규 서비스(제품) 개발 및 특화, 이벤트 등 광고성 정보 전달, 인구통계학적 특성에 따른 서비스 제공 및 광고 게재, 접속 빈도 파악 또는 회원의 서비스 이용에 대한 통계
              <br>
              2.4. 대량제작 상담<br>
              대량제작 관련 상담 문의에 따른 견적서 발송, 연락 및 상담<br>
              <br>
              3. 개인정보의 보유 및 이용 기간<br>
              원칙적으로, 개인정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체 없이 파기합니다. 단, 다음의 정보에 대해서는 아래의 이유로 명시한 기간 동안 보존합니다.
              <br>
              3.1. 회사 내부 방침에 의한 보존<br>
              불량 이용자의 재가입 방지, 명예훼손 등 권리침해 분쟁 및 수사 협조 : 1년<br>
              <br>
              3.2. 관련 법령에 의한 보존<br>
              상법, 전자상거래 등에서의 소비자보호에 관한 법률 등 관계 법령의 규정에 의하여 보존할 필요가 있는 경우 회사는 관계 법령에서 정한 일정한 기간 동안 회원 정보를 보관합니다. 이 경우 회사는 보관하는 정보를 그 보관의 목적으로만 이용하며 보존기간은 아래와 같습니다. - 계약 또는 청약 철회 등에 관한 기록: 5년 (전자상거래 등에서의 소비자보호에 관한 법률)<br>
              - 대금결제 및 재화 등의 공급에 관한 기록: 5년 (전자상거래 등에서의 소비자보호에 관한 법률)<br>
              - 소비자의 불만 또는 분쟁 처리에 관한 기록: 3년 (전자상거래 등에서의 소비자보호에 관한 법률)<br>
              <br>
              4. 개인정보의 파기절차 및 방법<br>
              회사는 원칙적으로 개인정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체없이 파기합니다. 파기 절차 및 방법은 다음과 같습니다.
              <br>
              4.1. 파기 절차<br>
              회원님이 회원가입 등을 위해 입력하신 정보는 목적이 달성된 후 별도의 DB로 옮겨져(종이의 경우 별도의 서류함) 내부 방침 및 기타 관련 법령에 의한 정보보호 사유에 따라(보유 및 이용 기간 참조) 일정 기간 저장된 후 파기됩니다. 별도 DB로 옮겨진 개인정보는 법률에 의한 경우가 아니고서는 보유되어지는 이외의 다른 목적으로 이용되지 않습니다.
              <br>
              4.2. 파기 방법<br>
              - 전자적 파일형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다.<br>
              - 종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각을 통하여 파기합니다.<br>
              <br>
              5. 개인정보의 제공<br>
              회사는 이용자의 개인정보를 원칙적으로 외부에 제공하지 않습니다. 다만, 아래의 경우에는 예외로 합니다.<br>
              - 이용자들이 사전에 동의한 경우<br>
              - 법령의 규정에 의거하거나, 수사 목적으로 법령에 정해진 절차와 방법에 따라 수사기관의 요구가 있는 경우<br>
              <br>
              6. 수집한 개인정보의 위탁<br>
              회사는 결제처리 등 서비스 제공을 위해 필요한 최소한의 업무를 전문업체에 위탁하고 있으며, 관계 법령에 따라 위탁계약 시 개인정보가 안전하게 관리될 수 있도록 필요한 사항들을 규정하고 있습니다.
              <br>
              - 제품 구매에 필요한 결제 및 요금 정산 처리 : NHN한국사이버결제, ㈜카카오페이, NHN, ㈜차이코퍼레이션, ㈜이베이코리아, ㈜엔에이치엔페이코, Paypal - 주문 상품 배송 : CJ대한통운, 대신택배, 개인 배송사업자<br>
              - 제품 제작 및 구매 관련 카카오톡 : 피노마켓<br>
              - 안심번호 서비스 : 우정사업본부<br>
              - 데이터 보관 : Amazon Web Service<br>
              - 이메일 발송 서비스 : Amazon Web Service<br>
              <br>
              7. 이용자 및 법정대리인의 권리와 그 행사 방법<br>
              - 이용자 및 법정대리인은 언제든지 등록되어 있는 자신 혹은 당해 만 14세 미만 아동의 개인정보를 조회하거나 수정할 수 있으며 가입 해지를 요청할 수도 있습니다. - 이용자 혹은 만 14세 미만 아동의 개인정보를 조회/수정하기 위해서는 ‘개인정보 변경’(또는 ‘회원 정보수정’ 등)을, 가입 해지(동의 철회)를 위해서는 '회원 탈퇴'를 클릭하여 본인 확인 절차를 거치신 후 직접 열람, 정정 또는 탈퇴가 가능합니다. - 혹은 개인정보 관리책임자에게 서면, 전화 또는 이메일로 연락하시면 지체 없이 조치하겠습니다. - 이용자가 개인정보의 오류에 대한 정정을 요청하신 경우에는 정정을 완료하기 전까지 당해 개인정보를 이용 또는 제공하지 않습니다. 또한, 잘못된 개인정보를 제3자에게 이미 제공한 경우에는 정정 처리결과를 제3자에게 지체 없이 통지하여 정정이 이루어지도록 하겠습니다. - 회사는 이용자 혹은 법정대리인의 요청에 의해 해지 또는 삭제된 개인정보는 회사가 수집하는 '개인정보의 보유 및 이용 기간'에 명시된 바에 따라 처리하고 그 외의 용도로 열람 또는 이용할 수 없도록 처리하고 있습니다
              <br>
              8. 개인정보의 안정성 확보 조치<br>
              개인정보 보호법 제29조에 따라 다음과 같이 안전성 확보에 필요한 기술적/관리적 및 물리적 조치를 하고 있습니다.<br>
              <br>
              8.1. 개인정보의 암호화<br>
              이용자의 개인정보 중 비밀번호는 암호화되어 저장 및 관리되고 있어, 본인만이 알 수 있으며 중요한 데이터는 파일 및 전송 데이터를 암호화하거나 파일 잠금 기능을 사용하는 등의 별도 보안 기능을 사용하고 있습니다.
              <br>
              8.2. 해킹 등에 대비한 기술적 대책<br>
              해킹이나 컴퓨터 바이러스 등에 의한 개인정보 유출 및 훼손을 막기 위하여 보안프로그램을 설치하고 주기적인 갱신/점검을 하며 외부로부터 접근이 통제된 구역에 시스템을 설치하고 기술적/물리적으로 감시 및 차단하고 있습니다.
              <br>
              8.3. 개인정보 취급 직원의 최소화 및 교육<br>
              개인정보를 취급하는 직원을 지정하고 담당자에 한정시켜 최소화하여 개인정보를 관리하는 대책을 시행하고 있습니다.<br>
              <br>
              9. 개인정보 자동수집 장치의 설치, 운영 및 그 거부에 관한 사항<br>
              회사는 귀하의 정보를 수시로 저장하고 찾아내는 ‘쿠키(cookie)’ 등을 운용합니다. 쿠키란 회사의 웹사이트를 운영하는데 이용되는 서버가 귀하의 브라우저에 보내는 아주 작은 텍스트 파일로서 귀하의 컴퓨터 하드디스크에 저장됩니다
              <br>
              9.1. 쿠키 등 사용 목적 - PC 인증 (모바일 디바이스 인증 포함)<br>
              - 회원과 비회원의 접속 빈도나 방문 시간 등을 분석, 이용자의 취향과 관심 분야를 파악, 각종 이벤트 참여 정도 및 방문 횟수 파악 등을 통한 타겟 마케팅 및 개인 맞춤 서비스 제공
              <br>
              9.2. 쿠키 설정 거부 방법<br>
              귀하는 쿠키 설치에 대한 선택권을 가지고 있습니다. 따라서, 귀하는 웹브라우저에서 옵션을 설정함으로써 모든 쿠키를 허용하거나, 쿠키가 저장될 때마다 확인을 거치거나, 아니면 모든 쿠키의 저장을 거부할 수도 있습니다. 단, 귀하께서 쿠키 설치를 거부하였을 경우 서비스 제공에 어려움이 있을 수 있습니다.
              <br>
              9.3. 쿠키 설정 거부 방법 예시<br>
              인터넷 익스플로어의 경우 웹 브라우저 상단의 도구 > 인터넷 옵션 > 개인정보> 고급에서 설정
              <br>
              10. 권익침해 구제 방법<br>
              개인정보 주체는 개인정보 침해로 인한 구제를 받기 위하여 개인정보 분쟁조정위원회, 한국인터넷진흥원의 개인정보 침해신고센터 등에 분쟁 해결이나 상담 등을 신청할 수 있습니다. 이 밖에 개인정보 침해의 신고 및 상담에 대하여는 아래 기관에 문의하시기 바랍니다. - 개인정보 분쟁조정위원회: 118(ARS 내선 3)<br>
              - 정보보호 마크 인증위원회 (http://www.eprivacy.or.kr/02-580-0533~4)<br>
              - 대검찰청 첨단범죄수사과 (http://www.spo.go.kr/02-3480-2000)<br>
              - 경찰청 사이버테러대응센터 (http://www.ctrc.go.kr/02-392-0330)<br>
              <br>
              11. 개인정보 관리 책임자 및 담당자의 연락처<br>
              귀하께서는 회사의 서비스를 이용하시면서 발생하는 모든 개인정보 보호 관련 민원을 개인정보 관리 담당자 혹은 개인정보 관리 책임자에게 신고하실 수 있습니다. 회사는 이용자들의 신고사항에 대해 신속하게 답변을 드릴 것입니다.<br>
              <br>
              11.1. 개인정보관리 책임자<br>
              ▶ 개인정보보호책임자<br>
              성명 : 김성수<br>
              직책/직급 : 실장<br>
              연락처 : 043-236-9880, pinot@pinot.co.kr<br>
              <br>
              12. 고지의 의무<br>
              개인정보 취급/처리 방침에 대한 내용의 변경이 있을 시에는 시행 최소 7일 전부터 홈페이지의 '공지사항'을 통해 고지할 것입니다.<br>
              <br>
              - 개인정보처리방침 공고일자 : 2021년 7월 1일<br>
              - 개인정보처리방침 시행일자 : 2020년 8월 1일<br>
              <br>
              * 이전의 개인정보처리방침은 아래에서 확인할 수 있습니다.<br>
              <br>
              [2021년 7월 1일]<br>
            </p>
          </div>
        </div>
        <div class="box_agree_div01">
          <div class="box_agree_tit01">
            <div class="ui_check_wrap">
              <div>
                <input type="checkbox" id="mandAgreeYn" name="mandAgreeYn" value="Y" title="" class="ui_check_input" style="margin:2px">
              </div>
            </div>
            <div class="btn_agree_list01"  style="display:flex; justify-content:space-between; align-items: baseline;">
              <label for="mandAgreeYn" class=" text-gray-500" title="항목 접기" style="color:#141414;font-size: 12px;">[필수] 전자금융거래 이용약관 동의(필수)</label>
              <span id="more_mandAgreeYn" class style="cursor: pointer; color: #E61E78;font-size: 9px;background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
              background: #FFFFFF 0% 0% no-repeat padding-box;border-radius: 4px;
              border: 1px solid #D33777;width:52px;text-align: center;">내용 보기</span>
            </div>
          </div>
          <div class="box_agree_txt01" style="display: none;">
            <p>
              전자상거래(인터넷사이버몰) 표준약관<br>

              제1조(목적)<br>
              <br>
              이 약관은 ㈜피노(이하 “회사”)가 운영하는 피노마켓 (www.pinotmarket.co.kr) 사이버몰(이하 “몰”이라 한다)에서 제공하는 인터넷 관련 서비스(이하 “서비스”라 한다)를 이용함에 있어 사이버 몰과 이용자의 권리, 의무 및 책임사항을 규정함을 목적으로 합니다.
              <br>
              제2조(정의)<br>
              <br>
              ① “몰”이란 “회사”가 재화 또는 용역(이하 “재화 등”이라 함)을 이용자에게 제공하기 위하여 컴퓨터 등 정보통신설비를 이용하여 재화 등을 거래할 수 있도록 설정한 가상의 영업장을 말하며, 아울러 사이버몰을 운영하는 사업자의 의미로도 사용합니다.
              <br>
              ② “이용자”란 “몰”에 접속하여 이 약관에 따라 “몰”이 제공하는 서비스를 받는 회원 및 비회원을 말합니다.<br>
              <br>
              ③ ‘회원’이라 함은 “몰”에 회원등록을 한 자로서, 계속적으로 “몰”이 제공하는 서비스를 이용할 수 있는 자를 말합니다.<br>
              <br>
              ④ ‘비회원’이라 함은 회원에 가입하지 않고 “몰”이 제공하는 서비스를 이용하는 자를 말합니다.<br>
              <br>
              제3조 (약관 등의 명시와 설명 및 개정)
              <br>
              ① “몰”은 이 약관의 내용과 상호 및 대표자 성명, 영업소 소재지 주소(소비자의 불만을 처리할 수 있는 곳의 주소를 포함), 전화번호, 모사전송번호, 전자우편주소, 사업자등록번호, 통신판매업 신고번호, 개인정보관리책임자 등을 이용자가 쉽게 알 수 있도록 ‘피노마켓’의 초기 서비스화면(하단)에 게시합니다. 다만, 약관의 내용은 이용자가 연결화면을 통하여 볼 수 있도록 할 수 있습니다.
              <br>
              ② “몰”은 이용자가 약관에 동의하기에 앞서 약관에 정하여져 있는 내용 중 청약철회, 배송책임, 환불조건 등과 같은 중요한 내용을 이용자가 이해할 수 있도록 별도의 연결화면 또는 팝업화면 등을 제공하여 이용자의 확인을 구하여야 합니다.
              <br>
              ③ “몰”은 「전자상거래 등에서의 소비자보호에 관한 법률」, 「약관의 규제에 관한 법률」, 「전자문서 및 전자거래기본법」, 「전자금융거래법」, 「전자서명법」, 「정보통신망 이용촉진 및 정보보호 등에 관한 법률」, 「방문판매 등에 관한 법률」, 「소비자기본법」 등 관련 법을 위배하지 않는 범위에서 이 약관을 개정할 수 있습니다.
              <br>
              ④ “몰”이 약관을 개정할 경우에는 적용일자 및 개정사유를 명시하여 현행약관과 함께 몰의 초기화면에 그 적용일자 7일 이전부터 적용일자 전일까지 공지합니다. 다만, 이용자에게 불리하게 약관내용을 변경하는 경우에는 최소한 30일 이상의 사전 유예기간을 두고 공지합니다. 이 경우 "몰“은 개정 전 내용과 개정 후 내용을 명확하게 비교하여 이용자가 알기 쉽도록 표시합니다.
              <br>
              ⑤ “몰”이 약관을 개정할 경우에는 그 개정약관은 그 적용일자 이후에 체결되는 계약에만 적용되고 그 이전에 이미 체결된 계약에 대해서는 개정 전의 약관조항이 그대로 적용됩니다. 다만 이미 계약을 체결한 이용자가 개정약관 조항의 적용을 받기를 원하는 뜻을 제3항에 의한 개정약관의 공지기간 내에 “몰”에 송신하여 “몰”의 동의를 받은 경우에는 개정약관 조항이 적용됩니다.
              <br>
              ⑥ 이 약관에서 정하지 아니한 사항과 이 약관의 해석에 관하여는 전자상거래 등에서의 소비자보호에 관한 법률, 약관의 규제 등에 관한 법률, 공정거래위원회가 정하는 「전자상거래 등에서의 소비자 보호지침」 및 관계법령 또는 상관례에 따릅니다.
              <br>
              제4조(서비스의 제공 및 변경)<br>
              <br>
              ① “몰”은 다음과 같은 업무를 수행합니다.<br>
              1. 재화 또는 용역에 대한 정보 제공 및 구매계약의 체결<br>
              2. 구매계약이 체결된 재화 또는 용역의 배송<br>
              3. ‘디자인 관련 파일(jpg, png, pdf, ai 등의 확장자를 갖는 파일)’에 의한 작업 의뢰 주문 접수 및 계약 체결<br>
              4. 기타 “몰”이 정하는 업무<br>
              <br>
              ② “몰”은 재화 또는 용역의 품절 또는 기술적 사양의 변경 등의 경우에는 장차 체결되는 계약에 의해 제공할 재화 또는 용역의 내용을 변경할 수 있습니다. 이 경우에는 변경된 재화 또는 용역의 내용 및 제공일자를 명시하여 현재의 재화 또는 용역의 내용을 게시한 곳에 즉시 공지합니다.
              <br>
              ③ “몰”이 제공하기로 이용자와 계약을 체결한 서비스의 내용을 재화 등의 품절 또는 기술적 사양의 변경 등의 사유로 변경할 경우에는 그 사유를 이용자에게 통지 가능한 연락처로 즉시 통지합니다.
              <br>
              ④ 전항의 경우 “몰”은 이로 인하여 이용자가 입은 손해를 배상하지 않습니다. 단 “몰”이 고의 또는 중대한 과실이 있음을 손해를 입은 이용자가 입증할 경우는 그러하지 아니합니다.
              <br>
              ⑤“몰”은 주문 접수한 디자인 파일의 오류 발생시 재전송 (또는 인쇄에 적합하지 않는 도큐멘트의 경우)을 요청할 수 있습니다.
              <br>
              ⑥“몰”의 작업 설비 및 사업을 위한 기술적 사양의 변경 등 불가피한 여건이나 사정으로 인한 경우에는 장차 체결되는 계약에 의해 제공할 재화, 용역의 내용을 변경할 수 있습니다. 이 경우에는 변경된 재화, 용역의 내용 및 제공일자를 명시하여 현재의 재화, 용역의 내용을 게시한 곳에 그 제공일자 이전 7일부터 공지합니다.
              <br>
              <br>
              제5조(서비스의 중단)<br>
              <br>
              ① “몰”은 컴퓨터 등 정보통신설비의 보수점검, 교체 및 고장, 통신의 두절 등의 사유가 발생한 경우에는 서비스의 제공을 일시적으로 중단할 수 있습니다.
              <br>
              ②“몰”은 제1항의 사유로 서비스의 제공이 일시적으로 중단됨으로 인하여 이용자 또는 제3자가 입은 손해에 대하여 배상하지 아니합니다. 단, “몰”이 고의 또는 중대한 과실이 있음을 손해를 입은 이용자 또는 제3자가 입증하는 경우에는 그러하지 아니합니다.
              <br>
              제6조(회원가입)<br>
              <br>
              ① 이용자는 “몰”이 정한 가입 양식에 따라 회원정보를 기입한 후 이 약관에 동의한다는 의사표시를 함으로서 회원가입을 신청합니다.<br>
              <br>
              ② “몰”은 제1항과 같이 회원으로 가입할 것을 신청한 이용자 중 다음 각 호에 해당하지 않는 한 회원으로 등록합니다.
              <br>
              1. 가입신청자가 이 약관 제7조 제3항에 의하여 이전에 회원자격을 상실한 적이 있는 경우, 다만 제7조제3항에 의한 회원자격 상실 후 1이 경과한 자로서 “몰”의 회원재가입 승낙을 얻은 경우에는 예외로 한다.<br>
              2. 등록 내용에 허위, 기재누락, 오기가 있는 경우<br>
              3. 기타 회원으로 등록하는 것이 “몰”의 기술상 현저히 지장이 있다고 판단되는 경우<br>
              <br>
              ③ 회원가입계약의 성립 시기는 “몰”의 승낙이 회원에게 도달한 시점으로 합니다.
              <br>
              ④ 회원은 회원가입 시 등록한 사항에 변경이 있는 경우, 상당한 기간 이내에 “몰”에 대하여 회원정보 수정 등의 방법으로 그 변경사항을 알려야 합니다.
              <br>
              제7조(회원 탈퇴 및 자격 상실 등)<br>
              <br>
              ① 회원은 “몰”에 언제든지 탈퇴를 요청할 수 있으며 “몰”은 즉시 회원탈퇴를 처리합니다.<br>
              <br>
              ② 회원이 다음 각 호의 사유에 해당하는 경우, “몰”은 회원자격을 제한 및 정지시킬 수 있습니다.<br>
              <br>
              1. 가입 신청 시에 허위 내용을 등록한 경우<br>
              2. “몰”을 이용하여 구입한 재화 등의 대금, 기타 “몰”이용에 관련하여 회원이 부담하는 채무를 기일에 지급하지 않는 경우<br>
              3. 다른 사람의 “몰” 이용을 방해하거나 그 정보를 도용하는 등 전자상거래 질서를 위협하는 경우<br>
              4. “몰”을 이용하여 법령 또는 이 약관이 금지하거나 공서양속에 반하는 행위를 하는 경우<br>
              <br>
              ③ “몰”이 회원 자격을 제한, 정지 시킨 후, 동일한 행위가 2회 이상 반복되거나 30일 이내에 그 사유가 시정되지 아니하는 경우 “몰”은 회원자격을 상실시킬 수 있습니다.
              <br>
              ④ “몰”이 회원자격을 상실시키는 경우에는 회원등록을 말소합니다. 이 경우 회원에게 이를 통지하고, 회원등록 말소 전에 최소한 30일 이상의 기간을 정하여 소명할 기회를 부여합니다.
              <br>
              제8조(회원에 대한 통지)<br>
              <br>
              ① “몰”이 회원에 대한 통지를 하는 경우, 회원이 “몰”과 미리 약정하여 지정한 전자우편 주소로 할 수 있습니다.
              <br>
              ②“몰”은 불특정다수 회원에 대한 통지의 경우 1주일이상 “몰” 게시판에 게시함으로써 개별 통지에 갈음할 수 있습니다. 다만, 회원 본인의 거래와 관련하여 중대한 영향을 미치는 사항에 대하여는 개별통지를 합니다.
              <br>
              제9조(구매신청)<br>
              <br>
              ① “몰”이용자는 “몰”상에서 다음 또는 이와 유사한 방법에 의하여 구매를 신청하며, “몰”은 이용자가 구매신청을 함에 있어서 다음의 각 내용을 알기 쉽게 제공하여야 합니다.
              <br>
              1. 재화 등의 검색 및 선택<br>
              2. 받는 사람의 성명, 주소, 전화번호, 전자우편주소(또는 이동전화번호) 등의 입력<br>
              3. 약관내용, 청약철회권이 제한되는 서비스, 배송료, 설치비 등의 비용부담과 관련한 내용에 대한 확인<br>
              4. 이 약관에 동의하고 위 3.호의 사항을 확인하거나 거부하는 표시(예, 마우스 클릭)<br>
              5. 재화 등의 구매신청 및 이에 관한 확인 또는 “몰”의 확인에 대한 동의<br>
              6. 결제방법의 선택<br>
              <br>
              ②“몰”이 제3자에게 구매자 개인정보를 제공·위탁할 필요가 있는 경우 실제 구매신청 시 구매자의 동의를 받아야 하며, 회원가입 시 미리 포괄적으로 동의를 받지 않습니다. 이 때 “몰”은 제공되는 개인정보 항목, 제공받는 자, 제공받는 자의 개인정보 이용 목적 및 보유, 이용 기간 등을 구매자에게 명시하여야 합니다. 다만 「정보통신망이용촉진 및 정보보호 등에 관한 법률」 제25조 제1항에 의한 개인정보 취급위탁의 경우 등 관련 법령에 달리 정함이 있는 경우에는 그에 따릅니다.
              <br>
              제10조 (계약의 성립)<br>
              <br>
              ① “몰”은 제9조와 같은 구매신청에 대하여 다음 각 호에 해당하면 승낙하지 않을 수 있습니다. 다만, 미성년자와 계약을 체결하는 경우에는 법정대리인의 동의를 얻지 못하면 미성년자 본인 또는 법정대리인이 계약을 취소할 수 있다는 내용을 고지하여야 합니다.
              <br>
              1. 신청 내용에 허위, 기재누락, 오기가 있는 경우<br>
              2. 미성년자가 담배, 주류 등 청소년보호법에서 금지하는 재화 및 용역을 구매하는 경우<br>
              3. 기타 구매신청에 승낙하는 것이 “몰” 기술상 현저히 지장이 있다고 판단하는 경우<br>
              4. 신청내용에 대한 재화 및 용역의 대가 금액을 입금하지 않는 경우<br>
              5. 인쇄 및 출력에 적합하지 않은 데이터 또는 미완성 데이터인 경우<br>
              <br>
              ②“몰”의 승낙이 제12조 제1항의 수신확인통지형태로 이용자에게 도달한 시점에 계약이 성립한 것으로 봅니다.<br>
              ③ 이용자가 시안을 보내 제작을 의뢰하는 경우 “몰”의 시안확인이 끝나고, 작업비용을 납부하는 것으로 구매신청이 완료된 것으로 합니다.<br>
              <br>
              ④ “몰”의 승낙의 의사표시에는 이용자의 구매 신청에 대한 확인 및 판매가능 여부등에 관한 정보 등을 포함하여야 합니다.<br>
              <br>
              제11조(지급방법)<br>
              <br>
              ① “몰”에서 구매한 재화 또는 용역에 대한 대금지급방법은 다음 각 호의 방법 중 가용한 방법으로 할 수 있습니다. 단, “몰”은 이용자의 지급방법에 대하여 재화 등의 대금에 어떠한 명목의 수수료도 추가하여 징수할 수 없습니다. “몰”에 작업 주문한 정보를 전송한 후 대금 입금방법은 “몰”에서 지정한 결제 방식으로 입금함을 원칙으로 합니다.
              <br>
              1. 계좌이체<br>
              2. 온라인 무통장입금<br>
              3. 신용카드 결제<br>
              4. 카카오페이 결제<br>
              5. 네이버페이 결제<br>
              6. 스마일페이 결제<br>
              7. 차이페이 결제<br>
              8. 페이코 결제<br>
              <br>
              제12조(수신확인통지, 구매신청 변경 및 취소)<br>
              <br>
              ① “몰”은 이용자의 구매신청이 있는 경우 이용자에게 수신확인통지를 합니다.<br>
              <br>
              ② 통신 상의 문제가 발생하여 전자메일로 수신하지 못했을 경우에 대해서는 “몰”은 책임을 지지 아니합니다.<br>
              <br>
              제13조(재화 등의 공급)<br>
              <br>
              ① “몰”은 이용자와 재화 등의 공급시기에 관하여 별도의 약정이 없는 이상, 이용자가 청약을 한 날부터 14일 이내에 재화 등을 배송할 수 있도록 주문제작, 포장 등 기타의 필요한 조치를 취합니다. 다만, “몰”이 이미 재화 등의 대금의 전부 또는 일부를 받은 경우에는 대금의 전부 또는 일부를 받은 날부터 7영업일 이내에 조치를 취합니다. 이때 “몰”은 이용자가 재화 등의 공급 절차 및 진행 사항을 확인할 수 있도록 적절한 조치를 합니다.
              <br>
              ② “몰”은 이용자가 구매한 재화에 대해 배송수단, 수단별 배송비용 부담자, 수단별 배송기간 등을 명시합니다. 만약 “몰”이 약정 배송기간을 초과한 경우에는 그로 인한 이용자의 손해를 배상하여야 합니다. 다만 “몰”이 고의 또는 중대한 과실이 없음을 입증한 경우에는 그러하지 아니합니다.
              <br>
              제 14조(게시물의 삭제 및 지적재산권)<br>
              <br>
              ① “몰”은 회원과 체결한 계약 또는 회원이 게시하거나 전달하는 서비스 내의 모든 게시물(회원 간 전달 포함)이 다음 각 호의 경우에 해당한다고 판단되는 경우 사전 통지 없이 계약 철회 및 게시물을 삭제할 수 있으며 이에 대해 “몰”은 어떠한 책임도 지지 않습니다.
              <br>
              1. 타인의 명예를 손상시키거나 불이익을 주는 행위를 한 경우<br>
              2. 공공질서 및 미풍양속에 저해되는 내용을 고의로 주문 및 게시하는 경우<br>
              3. 범죄행위를 목적으로 하거나 범죄행위를 교사하는 내용 등의 범죄행위에 결부되어 있는 경우<br>
              4. “몰” 또는 제3자의 지적 재산권 또는 저작권을 침해하거나 지적재산권자(저작권자)가 지적재산권(저작권)이 침해되었음을 주장할 수 있다고 판단되는 경우<br>
              5. 세부이용지침을 통하여 “몰”에서 규정한 게시기간을 초과한 경우<br>
              6. “몰”에서 제공하는 서비스와 관련 없는 게시물인 경우<br>
              7. 타인이 입력한 정보를 무단으로 위조 또는 변조한 내용인 경우<br>
              8. 타인의 이용자 아이디(ID) 및 비밀번호를 부정하게 사용하는 경우<br>
              9. 동일한 내용을 중복하여 다수 게시하는 등 게시의 목적에 어긋나는 경우<br>
              10. 회사와 체결한 계약 및 별도의 계약 사항 등을 위반하여 회사가 시정요구를 하였으나 시정 되지 않은 경우<br>
              11. 정보통신 윤리위원회의 시정요구가 있거나 불법선거운동과 관련하여 선거관리위원회의 유권해석을 받은 경우<br>
              12. 동일한 내용을 중복하여 다수 게시하는 등 게시의 목적에 어긋나는 경우<br>
              13. 기타 관계 법령 및 “몰”의 지침 등에 위반된다고 판단되는 경우<br>
              <br>
              ② “몰”은 게시물에 관련된 세부 이용지침을 별도로 정하여 시행할 수 있으며, 회원은 그 지침에 따라 각 종 게시물(회원간 전달 포함)을 등록하거나 삭제하여야 합니다.
              <br>
              제 15조 (청약의 변경 및 해지)<br>
              <br>
              ① “몰”은 천재지변 또는 이에 준하는 불가항력으로 인하여 서비스를 제공할 수 없는 경우로 인하여 발생하는 일체의 결과에 대하여 책임을 지지 않습니다.
              <br>
              ② ”몰”은 이용자의 귀책사유로 인한 서비스 이용 장애에 대하여 책임을 지지 않습니다.
              <br>
              ③ ”몰”은 귀하가 서비스를 이용하여 기대하는 손익이나 서비스를 통하여 얻은 자료로 인한 손해에 관하여 책임을 지지 않으며, 회원이 본 서비스에 게재한 정보, 자료, 사실의 신뢰도, 정확성 등 내용에 관하여는 책임을 지지 않습니다.
              <br>
              ④ “몰”은 서비스 이용과 관련하여 이용자에게 발생한 손해 중 이용자의 고의 또는 과실에 의한 손해에 대하여 책임을 지지 않습니다.
              <br>
              제 16조 (광고 및 통계자료)<br>
              <br>
              ① “몰”은 본 서비스에 적절하다고 판단되거나 활용 가능성 있는 광고를 게재할 수 있으며, 귀하가 제공하는 정보는 통계조사자료의 근거로 사용될 수 있습니다.
              <br>
              ② “몰”이 정상적인 서비스 제공의 어려움으로 인하여 일시적으로 서비스를 중지하여야 할 경우에는 서비스 중지 1주일 전의 고지 후 서비스를 중지할 수 있으며, 이 기간 동안 귀하가 고지내용을 인지하지 못한데 대하여 “몰” 은 책임을 부담하지 아니합니다. 피치 못할 사정이 있을 경우 위 사전 고지기간은 감축되거나 생략될 수 있습니다. 또한 위 서비스 중지에 의하여 본 서비스에 보관되거나 전송된 메시지 및 기타 통신메시지 등의 내용이 보관되지 못하였거나 삭제될 경우 또는 전송되지 못한 경우 및 기타 통신 데이터의 손실이 있을 경우에 대하여도 “몰”은 책임을 부담하지 아니합니다.
              <br>
              ③ “몰”의 사정으로 서비스를 영구적으로 중단하여야 할 경우 제16조 2항을 준용합니다. 다만, 이 경우 사전 고지기간은 1개월로 합니다.
              <br>
              ④ “몰”은 사전 고지 후 서비스를 일시적으로 수정, 변경 및 중단할 수 있으며, 이에 대하여 귀하 또는 제3자에게 어떠한 책임도 부담하지 아니합니다.
              <br>
              ⑤ “몰”은 본 서비스 약관의 내용에 위배되는 행동을 한 가입자 및 장기간 휴면 가입자에 대하여 1주일간의 통지 기간 후 임의로 서비스 사용중지 조치를 취할 수 있습니다. 이 경우 “몰”은 위 가입자의 접속을 금지할 수 있으며, 위 가입자가 게시된 내용의 전부 또는 일부를 임의로 삭제할 수 있습니다.
              <br>
              <br>
              제17조(개인정보보호)<br>
              <br>
              ① “몰”은 이용자의 개인정보 수집시 서비스제공을 위하여 필요한 범위에서 최소한의 개인정보를 수집합니다.
              <br>
              ② “몰”은 회원가입 시 구매계약이행에 필요한 정보를 미리 수집하지 않습니다. 다만, 관련 법령상 의무이행을 위하여 구매계약 이전에 본인확인이 필요한 경우로서 최소한의 특정 개인정보를 수집하는 경우에는 그러하지 아니합니다.
              <br>
              ③ “몰”은 이용자의 개인정보를 수집·이용하는 때에는 당해 이용자에게 그 목적을 고지하고 동의를 받습니다.
              <br>
              ④ “몰”은 수집된 개인정보를 목적 외의 용도로 이용할 수 없으며, 새로운 이용목적이 발생한 경우 또는 제3자에게 제공하는 경우에는 이용·제공단계에서 당해 이용자에게 그 목적을 고지하고 동의를 받습니다. 다만, 관련 법령에 달리 정함이 있는 경우에는 예외로 합니다.
              <br>
              ⑤ “몰”이 제3항과 제4항에 의해 이용자의 동의를 받아야 하는 경우에는 개인정보관리 책임자의 신원(소속, 성명 및 전화번호, 기타 연락처), 정보의 수집목적 및 이용목적, 제3자에 대한 정보제공 관련사항(제공받은자, 제공목적 및 제공할 정보의 내용) 등 「정보통신망 이용촉진 및 정보보호 등에 관한 법률」 제22조제2항이 규정한 사항을 미리 명시하거나 고지해야 하며 이용자는 언제든지 이 동의를 철회할 수 있습니다.
              <br>
              ⑥ 이용자는 언제든지 “몰”이 가지고 있는 자신의 개인정보에 대해 열람 및 오류정정을 요구할 수 있으며 “몰”은 이에 대해 지체 없이 필요한 조치를 취할 의무를 집니다. 이용자가 오류의 정정을 요구한 경우에는 “몰”은 그 오류를 정정할 때까지 당해 개인정보를 이용하지 않습니다.
              <br>
              ⑦ “몰”은 개인정보 보호를 위하여 이용자의 개인정보를 취급하는 자를 최소한으로 제한하여야 하며 신용카드, 은행계좌 등을 포함한 이용자의 개인정보의 분실, 도난, 유출, 동의 없는 제3자 제공, 변조 등으로 인한 이용자의 손해에 대하여 모든 책임을 집니다.
              <br>
              ⑧ “몰” 또는 그로부터 개인정보를 제공받은 제3자는 개인정보의 수집목적 또는 제공받은 목적을 달성한 때에는 당해 개인정보를 지체 없이 파기합니다.
              <br>
              ⑨ “몰”은 ‘개인정보의 수집·이용·제공에 관한 동의란’을 미리 선택한 것으로 설정해두지 않습니다. 또한 ‘개인정보의 수집·이용·제공에 관한 이용자의 동의거절 시’ 제한되는 서비스를 구체적으로 명시하고, 필수수집항목이 아닌 개인정보의 수집·이용·제공에 관한 이용자의 동의 거절을 이유로 회원가입 등 서비스 제공을 제한하거나 거절하지 않습니다.
              <br>
              제18조(“몰“의 의무)<br>
              <br>
              ① “몰”은 법령과 이 약관이 금지하거나 공서양속에 반하는 행위를 하지 않으며 이 약관이 정하는 바에 따라 지속적이고, 안정적으로 재화, 용역을 제공하는데 최선을 다하여야 합니다.
              <br>
              ② “몰”은 이용자가 안전하게 인터넷 서비스를 이용할 수 있도록 이용자의 개인정보(신용정보 포함)보호를 위한 보안 시스템을 갖추어야 합니다.
              <br>
              ③ “몰”이 상품이나 용역에 대하여 「표시, 광고의 공정화에 관한 법률」 제3조 소정의 부당한 표시, 광고행위를 함으로써 이용자가 손해를 입은 때에는 이를 배상할 책임을 집니다.
              <br>
              ④ “몰”은 이용자가 원하지 않는 영리목적의 광고성 전자우편을 발송하지 않습니다.<br>
              <br>
              제19조(회원의 ID 및 비밀번호에 대한 의무)<br>
              <br>
              ① 제17조의 경우를 제외한 ID와 비밀번호에 관한 관리책임은 회원에게 있습니다.<br>
              <br>
              ② 회원은 자신의 ID 및 비밀번호를 제3자에게 이용하게 해서는 안 됩니다.<br>
              <br>
              ③ 회원이 자신의 ID 및 비밀번호를 도난당하거나 제3자가 사용하고 있음을 인지한 경우에는 바로 “몰”에 통보하고 “몰”의 안내가 있는 경우에는 그에 따라야 합니다.
              <br>
              제20조(이용자의 의무)<br>
              ① 이용자는 다음 각호의 행위를 하여서는 안 됩니다.<br>
              <br>
              1. 신청 또는 변경시 허위 내용의 등록<br>
              2. 타인의 정보 도용<br>
              3. “몰”에 게시된 “몰”이 저작권을 가지는 정보의 변경<br>
              4. “몰”이 정한 정보 이외의 정보(컴퓨터 프로그램 등) 등의 송신 또는 게시<br>
              5. “몰” 기타 제3자의 저작권 등 지적재산권에 대한 침해<br>
              6. “몰” 기타 제3자의 명예를 손상시키거나 업무를 방해하는 행위<br>
              7. 외설 또는 폭력적인 메시지, 화상, 음성, 기타 공서양속에 반하는 정보를 몰에 공개 또는 게시하는 행위<br>
              <br>
              제21조(연결“몰”과 피연결“몰” 간의 관계)<br>
              <br>
              ① 상위 “몰”과 하위 “몰”이 하이퍼링크(예: 하이퍼링크의 대상에는 문자, 그림 및 동화상 등이 포함됨)방식 등으로 연결된 경우, 전자를 연결 “몰”(웹 사이트)이라고 하고 후자를 피연결 “몰”(웹사이트)이라고 합니다.
              <br>
              ② 연결“몰”은 피연결“몰”이 독자적으로 제공하는 재화 등에 의하여 이용자와 행하는 거래에 대해서 보증 책임을 지지 않는다는 뜻을 연결“몰”의 초기화면 또는 연결되는 시점의 팝업화면으로 명시한 경우에는 그 거래에 대한 보증 책임을 지지 않습니다.
              <br>
              제22조(저작권의 귀속 및 이용제한)
              <br>
              ① “몰“이 작성한 저작물에 대한 저작권 기타 지적재산권은 ”몰“에 귀속합니다.<br>
              <br>
              ② 이용자는 “몰”을 이용함으로써 얻은 정보 중 “몰”에게 지적재산권이 귀속된 정보를 “몰”의 사전 승낙 없이 복제, 송신, 출판, 배포, 방송 기타 방법에 의하여 영리목적으로 이용하거나 제3자에게 이용하게 하여서는 안 됩니다.
              <br>
              ③ “몰”은 약정에 따라 이용자에게 귀속된 저작권을 사용하는 경우 당해 이용자에게 통보하여야 합니다.<br>
              <br>
              제23조(분쟁해결)<br>
              <br>
              ① “몰”은 이용자가 제기하는 정당한 의견이나 불만을 반영하고 그 피해를 보상처리하기 위하여 피해보상처리기구를 설치, 운영합니다.
              <br>
              ② “몰”은 이용자로부터 제출되는 불만사항 및 의견은 우선적으로 그 사항을 처리합니다. 다만, 신속한 처리가 곤란한 경우에는 이용자에게 그 사유와 처리일정을 즉시 통보해 드립니다.
              <br>
              ③ “몰”과 이용자 간에 발생한 전자상거래 분쟁과 관련하여 이용자의 피해구제신청이 있는 경우에는 공정거래위원회 또는 시·도지사가 의뢰하는 분쟁조정기관의 조정에 따를 수 있습니다.
              <br>
              제24조(재판권 및 준거법)<br>
              <br>
              ① “몰”과 이용자 간에 발생한 전자상거래 분쟁에 관한 소송은 제소 당시의 이용자의 주소에 의하고, 주소가 없는 경우에는 거소를 관할하는 지방법원의 전속관할로 합니다. 다만, 제소 당시 이용자의 주소 또는 거소가 분명하지 않거나 외국 거주자의 경우에는 민사소송법상의 관할법원에 제기합니다.
              <br>
              ② “몰”과 이용자 간에 제기된 전자상거래 소송에는 한국법을 적용합니다.<br>

            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- // tbl_box -->
  <div  class="btn_wrap align_c mgt60" style="margin-top:60px; text-align:center; margin-bottom: 100px; display: flex;justify-content: center; ">
    <div id="submit_btn" class="btn_l btn_mwht2" style="width:360px;background: #E61E78 0% 0% no-repeat padding-box;
    border-radius: 5px; border: none; color: #fff;height: 48px;display: flex; justify-content: center; align-items: center;">
      <span>가입하기</span></div>
  </div>
  <!-- // btn_wrap -->
</div>

<div id="more_infoAgreeYn_modal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        피노의 이용 약관
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="page_section">       
          <div class="privacy-wrap">
                      <div class="privacy-inner">
                         <div class="privacy-text">
                   <br>전자상거래(인터넷사이버몰) 표준약관
                   <br>
                   <br>제1조(목적)
         <br>					
         <br>					이 약관은 ㈜피노(이하 “회사”)가 운영하는 피노마켓 (www.pinotmarket.co.kr) 사이버몰(이하 “몰”이라 한다)에서 제공하는 인터넷 관련 서비스(이하 “서비스”라 한다)를 이용함에 있어 사이버 몰과 이용자의 권리, 의무 및 책임사항을 규정함을 목적으로 합니다.
         <br>					
         <br>					제2조(정의)
         <br>					
         <br>					① “몰”이란 “회사”가 재화 또는 용역(이하 “재화 등”이라 함)을 이용자에게 제공하기 위하여 컴퓨터 등 정보통신설비를 이용하여 재화 등을 거래할 수 있도록 설정한 가상의 영업장을 말하며, 아울러 사이버몰을 운영하는 사업자의 의미로도 사용합니다.
         <br>					
         <br>					② “이용자”란 “몰”에 접속하여 이 약관에 따라 “몰”이 제공하는 서비스를 받는 회원 및 비회원을 말합니다.
         <br>					
         <br>					③ ‘회원’이라 함은 “몰”에 회원등록을 한 자로서, 계속적으로 “몰”이 제공하는 서비스를 이용할 수 있는 자를 말합니다.
         <br>					
         <br>					④ ‘비회원’이라 함은 회원에 가입하지 않고 “몰”이 제공하는 서비스를 이용하는 자를 말합니다.
         <br>					
         <br>					제3조 (약관 등의 명시와 설명 및 개정)
         <br>					
         <br>					① “몰”은 이 약관의 내용과 상호 및 대표자 성명, 영업소 소재지 주소(소비자의 불만을 처리할 수 있는 곳의 주소를 포함), 전화번호, 모사전송번호, 전자우편주소, 사업자등록번호, 통신판매업 신고번호, 개인정보관리책임자 등을 이용자가 쉽게 알 수 있도록 ‘피노마켓’의 초기 서비스화면(하단)에 게시합니다. 다만, 약관의 내용은 이용자가 연결화면을 통하여 볼 수 있도록 할 수 있습니다.
         <br>					
         <br>					② “몰”은 이용자가 약관에 동의하기에 앞서 약관에 정하여져 있는 내용 중 청약철회, 배송책임, 환불조건 등과 같은 중요한 내용을 이용자가 이해할 수 있도록 별도의 연결화면 또는 팝업화면 등을 제공하여 이용자의 확인을 구하여야 합니다.
         <br>					
         <br>					③ “몰”은 「전자상거래 등에서의 소비자보호에 관한 법률」, 「약관의 규제에 관한 법률」, 「전자문서 및 전자거래기본법」, 「전자금융거래법」, 「전자서명법」, 「정보통신망 이용촉진 및 정보보호 등에 관한 법률」, 「방문판매 등에 관한 법률」, 「소비자기본법」 등 관련 법을 위배하지 않는 범위에서 이 약관을 개정할 수 있습니다.
         <br>					
         <br>					④ “몰”이 약관을 개정할 경우에는 적용일자 및 개정사유를 명시하여 현행약관과 함께 몰의 초기화면에 그 적용일자 7일 이전부터 적용일자 전일까지 공지합니다. 다만, 이용자에게 불리하게 약관내용을 변경하는 경우에는 최소한 30일 이상의 사전 유예기간을 두고 공지합니다. 이 경우 "몰“은 개정 전 내용과 개정 후 내용을 명확하게 비교하여 이용자가 알기 쉽도록 표시합니다.
         <br>					
         <br>					⑤ “몰”이 약관을 개정할 경우에는 그 개정약관은 그 적용일자 이후에 체결되는 계약에만 적용되고 그 이전에 이미 체결된 계약에 대해서는 개정 전의 약관조항이 그대로 적용됩니다. 다만 이미 계약을 체결한 이용자가 개정약관 조항의 적용을 받기를 원하는 뜻을 제3항에 의한 개정약관의 공지기간 내에 “몰”에 송신하여 “몰”의 동의를 받은 경우에는 개정약관 조항이 적용됩니다.
         <br>					
         <br>					⑥ 이 약관에서 정하지 아니한 사항과 이 약관의 해석에 관하여는 전자상거래 등에서의 소비자보호에 관한 법률, 약관의 규제 등에 관한 법률, 공정거래위원회가 정하는 「전자상거래 등에서의 소비자 보호지침」 및 관계법령 또는 상관례에 따릅니다.
         <br>					
         <br>					제4조(서비스의 제공 및 변경)
         <br>					
         <br>					① “몰”은 다음과 같은 업무를 수행합니다.
         <br>					1. 재화 또는 용역에 대한 정보 제공 및 구매계약의 체결
         <br>					2. 구매계약이 체결된 재화 또는 용역의 배송
         <br>					3. ‘디자인 관련 파일(jpg, png, pdf, ai 등의 확장자를 갖는 파일)’에 의한 작업 의뢰 주문 접수 및 계약 체결
         <br>					4. 기타 “몰”이 정하는 업무
         <br>					
         <br>					② “몰”은 재화 또는 용역의 품절 또는 기술적 사양의 변경 등의 경우에는 장차 체결되는 계약에 의해 제공할 재화 또는 용역의 내용을 변경할 수 있습니다. 이 경우에는 변경된 재화 또는 용역의 내용 및 제공일자를 명시하여 현재의 재화 또는 용역의 내용을 게시한 곳에 즉시 공지합니다.
         <br>					
         <br>					③ “몰”이 제공하기로 이용자와 계약을 체결한 서비스의 내용을 재화 등의 품절 또는 기술적 사양의 변경 등의 사유로 변경할 경우에는 그 사유를 이용자에게 통지 가능한 연락처로 즉시 통지합니다.
         <br>					
         <br>					④ 전항의 경우 “몰”은 이로 인하여 이용자가 입은 손해를 배상하지 않습니다. 단 “몰”이 고의 또는 중대한 과실이 있음을 손해를 입은 이용자가 입증할 경우는 그러하지 아니합니다.
         <br>					
         <br>					⑤“몰”은 주문 접수한 디자인 파일의 오류 발생시 재전송 (또는 인쇄에 적합하지 않는 도큐멘트의 경우)을 요청할 수 있습니다.
         <br>					
         <br>					⑥“몰”의 작업 설비 및 사업을 위한 기술적 사양의 변경 등 불가피한 여건이나 사정으로 인한 경우에는 장차 체결되는 계약에 의해 제공할 재화, 용역의 내용을 변경할 수 있습니다. 이 경우에는 변경된 재화, 용역의 내용 및 제공일자를 명시하여 현재의 재화, 용역의 내용을 게시한 곳에 그 제공일자 이전 7일부터 공지합니다.
         <br>					
         <br>					
         <br>					제5조(서비스의 중단)
         <br>					
         <br>					① “몰”은 컴퓨터 등 정보통신설비의 보수점검, 교체 및 고장, 통신의 두절 등의 사유가 발생한 경우에는 서비스의 제공을 일시적으로 중단할 수 있습니다.
         <br>					
         <br>					②“몰”은 제1항의 사유로 서비스의 제공이 일시적으로 중단됨으로 인하여 이용자 또는 제3자가 입은 손해에 대하여 배상하지 아니합니다. 단, “몰”이 고의 또는 중대한 과실이 있음을 손해를 입은 이용자 또는 제3자가 입증하는 경우에는 그러하지 아니합니다.
         <br>					
         <br>					제6조(회원가입)
         <br>					
         <br>					① 이용자는 “몰”이 정한 가입 양식에 따라 회원정보를 기입한 후 이 약관에 동의한다는 의사표시를 함으로서 회원가입을 신청합니다.
         <br>					
         <br>					② “몰”은 제1항과 같이 회원으로 가입할 것을 신청한 이용자 중 다음 각 호에 해당하지 않는 한 회원으로 등록합니다.
         <br>					
         <br>					1. 가입신청자가 이 약관 제7조 제3항에 의하여 이전에 회원자격을 상실한 적이 있는 경우, 다만 제7조제3항에 의한 회원자격 상실 후 1이 경과한 자로서 “몰”의 회원재가입 승낙을 얻은 경우에는 예외로 한다.
         <br>					2. 등록 내용에 허위, 기재누락, 오기가 있는 경우
         <br>					3. 기타 회원으로 등록하는 것이 “몰”의 기술상 현저히 지장이 있다고 판단되는 경우
         <br>					
         <br>					③ 회원가입계약의 성립 시기는 “몰”의 승낙이 회원에게 도달한 시점으로 합니다.
         <br>					
         <br>					④ 회원은 회원가입 시 등록한 사항에 변경이 있는 경우, 상당한 기간 이내에 “몰”에 대하여 회원정보 수정 등의 방법으로 그 변경사항을 알려야 합니다.
         <br>					
         <br>					제7조(회원 탈퇴 및 자격 상실 등)
         <br>					
         <br>					① 회원은 “몰”에 언제든지 탈퇴를 요청할 수 있으며 “몰”은 즉시 회원탈퇴를 처리합니다.
         <br>					
         <br>					② 회원이 다음 각 호의 사유에 해당하는 경우, “몰”은 회원자격을 제한 및 정지시킬 수 있습니다.
         <br>					
         <br>					1. 가입 신청 시에 허위 내용을 등록한 경우
         <br>					2. “몰”을 이용하여 구입한 재화 등의 대금, 기타 “몰”이용에 관련하여 회원이 부담하는 채무를 기일에 지급하지 않는 경우
         <br>					3. 다른 사람의 “몰” 이용을 방해하거나 그 정보를 도용하는 등 전자상거래 질서를 위협하는 경우
         <br>					4. “몰”을 이용하여 법령 또는 이 약관이 금지하거나 공서양속에 반하는 행위를 하는 경우
         <br>					
         <br>					③ “몰”이 회원 자격을 제한, 정지 시킨 후, 동일한 행위가 2회 이상 반복되거나 30일 이내에 그 사유가 시정되지 아니하는 경우 “몰”은 회원자격을 상실시킬 수 있습니다.
         <br>					
         <br>					④ “몰”이 회원자격을 상실시키는 경우에는 회원등록을 말소합니다. 이 경우 회원에게 이를 통지하고, 회원등록 말소 전에 최소한 30일 이상의 기간을 정하여 소명할 기회를 부여합니다.
         <br>					
         <br>					제8조(회원에 대한 통지)
         <br>					
         <br>					① “몰”이 회원에 대한 통지를 하는 경우, 회원이 “몰”과 미리 약정하여 지정한 전자우편 주소로 할 수 있습니다.
         <br>					
         <br>					②“몰”은 불특정다수 회원에 대한 통지의 경우 1주일이상 “몰” 게시판에 게시함으로써 개별 통지에 갈음할 수 있습니다. 다만, 회원 본인의 거래와 관련하여 중대한 영향을 미치는 사항에 대하여는 개별통지를 합니다.
         <br>					
         <br>					제9조(구매신청)
         <br>					
         <br>					① “몰”이용자는 “몰”상에서 다음 또는 이와 유사한 방법에 의하여 구매를 신청하며, “몰”은 이용자가 구매신청을 함에 있어서 다음의 각 내용을 알기 쉽게 제공하여야 합니다.
         <br>					
         <br>					1. 재화 등의 검색 및 선택
         <br>					2. 받는 사람의 성명, 주소, 전화번호, 전자우편주소(또는 이동전화번호) 등의 입력
         <br>					3. 약관내용, 청약철회권이 제한되는 서비스, 배송료, 설치비 등의 비용부담과 관련한 내용에 대한 확인
         <br>					4. 이 약관에 동의하고 위 3.호의 사항을 확인하거나 거부하는 표시(예, 마우스 클릭)
         <br>					5. 재화 등의 구매신청 및 이에 관한 확인 또는 “몰”의 확인에 대한 동의
         <br>					6. 결제방법의 선택
         <br>					
         <br>					②“몰”이 제3자에게 구매자 개인정보를 제공·위탁할 필요가 있는 경우 실제 구매신청 시 구매자의 동의를 받아야 하며, 회원가입 시 미리 포괄적으로 동의를 받지 않습니다. 이 때 “몰”은 제공되는 개인정보 항목, 제공받는 자, 제공받는 자의 개인정보 이용 목적 및 보유, 이용 기간 등을 구매자에게 명시하여야 합니다. 다만 「정보통신망이용촉진 및 정보보호 등에 관한 법률」 제25조 제1항에 의한 개인정보 취급위탁의 경우 등 관련 법령에 달리 정함이 있는 경우에는 그에 따릅니다.
         <br>					
         <br>					제10조 (계약의 성립)
         <br>					
         <br>					① “몰”은 제9조와 같은 구매신청에 대하여 다음 각 호에 해당하면 승낙하지 않을 수 있습니다. 다만, 미성년자와 계약을 체결하는 경우에는 법정대리인의 동의를 얻지 못하면 미성년자 본인 또는 법정대리인이 계약을 취소할 수 있다는 내용을 고지하여야 합니다.
         <br>					
         <br>					1. 신청 내용에 허위, 기재누락, 오기가 있는 경우
         <br>					2. 미성년자가 담배, 주류 등 청소년보호법에서 금지하는 재화 및 용역을 구매하는 경우
         <br>					3. 기타 구매신청에 승낙하는 것이 “몰” 기술상 현저히 지장이 있다고 판단하는 경우
         <br>					4. 신청내용에 대한 재화 및 용역의 대가 금액을 입금하지 않는 경우
         <br>					5. 인쇄 및 출력에 적합하지 않은 데이터 또는 미완성 데이터인 경우
         <br>					
         <br>					②“몰”의 승낙이 제12조 제1항의 수신확인통지형태로 이용자에게 도달한 시점에 계약이 성립한 것으로 봅니다.
         <br>					③ 이용자가 시안을 보내 제작을 의뢰하는 경우 “몰”의 시안확인이 끝나고, 작업비용을 납부하는 것으로 구매신청이 완료된 것으로 합니다.
         <br>					
         <br>					④ “몰”의 승낙의 의사표시에는 이용자의 구매 신청에 대한 확인 및 판매가능 여부등에 관한 정보 등을 포함하여야 합니다.
         <br>					
         <br>					제11조(지급방법)
         <br>					
         <br>					① “몰”에서 구매한 재화 또는 용역에 대한 대금지급방법은 다음 각 호의 방법 중 가용한 방법으로 할 수 있습니다. 단, “몰”은 이용자의 지급방법에 대하여 재화 등의 대금에 어떠한 명목의 수수료도 추가하여 징수할 수 없습니다. “몰”에 작업 주문한 정보를 전송한 후 대금 입금방법은 “몰”에서 지정한 결제 방식으로 입금함을 원칙으로 합니다.
         <br>					
         <br>					1. 계좌이체
         <br>					2. 온라인 무통장입금
         <br>					3. 신용카드 결제
         <br>					4. 카카오페이 결제
         <br>					5. 네이버페이 결제
         <br>					6. 스마일페이 결제
         <br>					7. 차이페이 결제
         <br>					8. 페이코 결제
         <br>					
         <br>					제12조(수신확인통지, 구매신청 변경 및 취소)
         <br>					
         <br>					① “몰”은 이용자의 구매신청이 있는 경우 이용자에게 수신확인통지를 합니다.
         <br>					
         <br>					② 통신 상의 문제가 발생하여 전자메일로 수신하지 못했을 경우에 대해서는 “몰”은 책임을 지지 아니합니다.
         <br>					
         <br>					제13조(재화 등의 공급)
         <br>					
         <br>					① “몰”은 이용자와 재화 등의 공급시기에 관하여 별도의 약정이 없는 이상, 이용자가 청약을 한 날부터 14일 이내에 재화 등을 배송할 수 있도록 주문제작, 포장 등 기타의 필요한 조치를 취합니다. 다만, “몰”이 이미 재화 등의 대금의 전부 또는 일부를 받은 경우에는 대금의 전부 또는 일부를 받은 날부터 7영업일 이내에 조치를 취합니다. 이때 “몰”은 이용자가 재화 등의 공급 절차 및 진행 사항을 확인할 수 있도록 적절한 조치를 합니다.
         <br>					
         <br>					② “몰”은 이용자가 구매한 재화에 대해 배송수단, 수단별 배송비용 부담자, 수단별 배송기간 등을 명시합니다. 만약 “몰”이 약정 배송기간을 초과한 경우에는 그로 인한 이용자의 손해를 배상하여야 합니다. 다만 “몰”이 고의 또는 중대한 과실이 없음을 입증한 경우에는 그러하지 아니합니다.
         <br>					
         <br>					제 14조(게시물의 삭제 및 지적재산권)
         <br>					
         <br>					① “몰”은 회원과 체결한 계약 또는 회원이 게시하거나 전달하는 서비스 내의 모든 게시물(회원 간 전달 포함)이 다음 각 호의 경우에 해당한다고 판단되는 경우 사전 통지 없이 계약 철회 및 게시물을 삭제할 수 있으며 이에 대해 “몰”은 어떠한 책임도 지지 않습니다.
         <br>					
         <br>					1. 타인의 명예를 손상시키거나 불이익을 주는 행위를 한 경우
         <br>					2. 공공질서 및 미풍양속에 저해되는 내용을 고의로 주문 및 게시하는 경우
         <br>					3. 범죄행위를 목적으로 하거나 범죄행위를 교사하는 내용 등의 범죄행위에 결부되어 있는 경우
         <br>					4. “몰” 또는 제3자의 지적 재산권 또는 저작권을 침해하거나 지적재산권자(저작권자)가 지적재산권(저작권)이 침해되었음을 주장할 수 있다고 판단되는 경우
         <br>					5. 세부이용지침을 통하여 “몰”에서 규정한 게시기간을 초과한 경우
         <br>					6. “몰”에서 제공하는 서비스와 관련 없는 게시물인 경우
         <br>					7. 타인이 입력한 정보를 무단으로 위조 또는 변조한 내용인 경우
         <br>					8. 타인의 이용자 아이디(ID) 및 비밀번호를 부정하게 사용하는 경우
         <br>					9. 동일한 내용을 중복하여 다수 게시하는 등 게시의 목적에 어긋나는 경우
         <br>					10. 회사와 체결한 계약 및 별도의 계약 사항 등을 위반하여 회사가 시정요구를 하였으나 시정 되지 않은 경우
         <br>					11. 정보통신 윤리위원회의 시정요구가 있거나 불법선거운동과 관련하여 선거관리위원회의 유권해석을 받은 경우
         <br>					12. 동일한 내용을 중복하여 다수 게시하는 등 게시의 목적에 어긋나는 경우
         <br>					13. 기타 관계 법령 및 “몰”의 지침 등에 위반된다고 판단되는 경우
         <br>					
         <br>					② “몰”은 게시물에 관련된 세부 이용지침을 별도로 정하여 시행할 수 있으며, 회원은 그 지침에 따라 각 종 게시물(회원간 전달 포함)을 등록하거나 삭제하여야 합니다.
         <br>					
         <br>					제 15조 (청약의 변경 및 해지)
         <br>					
         <br>					① “몰”은 천재지변 또는 이에 준하는 불가항력으로 인하여 서비스를 제공할 수 없는 경우로 인하여 발생하는 일체의 결과에 대하여 책임을 지지 않습니다.
         <br>					
         <br>					② ”몰”은 이용자의 귀책사유로 인한 서비스 이용 장애에 대하여 책임을 지지 않습니다.
         <br>					
         <br>					③ ”몰”은 귀하가 서비스를 이용하여 기대하는 손익이나 서비스를 통하여 얻은 자료로 인한 손해에 관하여 책임을 지지 않으며, 회원이 본 서비스에 게재한 정보, 자료, 사실의 신뢰도, 정확성 등 내용에 관하여는 책임을 지지 않습니다.
         <br>					
         <br>					④ “몰”은 서비스 이용과 관련하여 이용자에게 발생한 손해 중 이용자의 고의 또는 과실에 의한 손해에 대하여 책임을 지지 않습니다.
         <br>					
         <br>					제 16조 (광고 및 통계자료)
         <br>					
         <br>					① “몰”은 본 서비스에 적절하다고 판단되거나 활용 가능성 있는 광고를 게재할 수 있으며, 귀하가 제공하는 정보는 통계조사자료의 근거로 사용될 수 있습니다.
         <br>					
         <br>					② “몰”이 정상적인 서비스 제공의 어려움으로 인하여 일시적으로 서비스를 중지하여야 할 경우에는 서비스 중지 1주일 전의 고지 후 서비스를 중지할 수 있으며, 이 기간 동안 귀하가 고지내용을 인지하지 못한데 대하여 “몰” 은 책임을 부담하지 아니합니다. 피치 못할 사정이 있을 경우 위 사전 고지기간은 감축되거나 생략될 수 있습니다. 또한 위 서비스 중지에 의하여 본 서비스에 보관되거나 전송된 메시지 및 기타 통신메시지 등의 내용이 보관되지 못하였거나 삭제될 경우 또는 전송되지 못한 경우 및 기타 통신 데이터의 손실이 있을 경우에 대하여도 “몰”은 책임을 부담하지 아니합니다.
         <br>					
         <br>					③ “몰”의 사정으로 서비스를 영구적으로 중단하여야 할 경우 제16조 2항을 준용합니다. 다만, 이 경우 사전 고지기간은 1개월로 합니다.
         <br>					
         <br>					④ “몰”은 사전 고지 후 서비스를 일시적으로 수정, 변경 및 중단할 수 있으며, 이에 대하여 귀하 또는 제3자에게 어떠한 책임도 부담하지 아니합니다.
         <br>					
         <br>					⑤ “몰”은 본 서비스 약관의 내용에 위배되는 행동을 한 가입자 및 장기간 휴면 가입자에 대하여 1주일간의 통지 기간 후 임의로 서비스 사용중지 조치를 취할 수 있습니다. 이 경우 “몰”은 위 가입자의 접속을 금지할 수 있으며, 위 가입자가 게시된 내용의 전부 또는 일부를 임의로 삭제할 수 있습니다.
         <br>					
         <br>					
         <br>					제17조(개인정보보호)
         <br>					
         <br>					① “몰”은 이용자의 개인정보 수집시 서비스제공을 위하여 필요한 범위에서 최소한의 개인정보를 수집합니다.
         <br>					
         <br>					② “몰”은 회원가입 시 구매계약이행에 필요한 정보를 미리 수집하지 않습니다. 다만, 관련 법령상 의무이행을 위하여 구매계약 이전에 본인확인이 필요한 경우로서 최소한의 특정 개인정보를 수집하는 경우에는 그러하지 아니합니다.
         <br>					
         <br>					③ “몰”은 이용자의 개인정보를 수집·이용하는 때에는 당해 이용자에게 그 목적을 고지하고 동의를 받습니다.
         <br>					
         <br>					④ “몰”은 수집된 개인정보를 목적 외의 용도로 이용할 수 없으며, 새로운 이용목적이 발생한 경우 또는 제3자에게 제공하는 경우에는 이용·제공단계에서 당해 이용자에게 그 목적을 고지하고 동의를 받습니다. 다만, 관련 법령에 달리 정함이 있는 경우에는 예외로 합니다.
         <br>					
         <br>					⑤ “몰”이 제3항과 제4항에 의해 이용자의 동의를 받아야 하는 경우에는 개인정보관리 책임자의 신원(소속, 성명 및 전화번호, 기타 연락처), 정보의 수집목적 및 이용목적, 제3자에 대한 정보제공 관련사항(제공받은자, 제공목적 및 제공할 정보의 내용) 등 「정보통신망 이용촉진 및 정보보호 등에 관한 법률」 제22조제2항이 규정한 사항을 미리 명시하거나 고지해야 하며 이용자는 언제든지 이 동의를 철회할 수 있습니다.
         <br>					
         <br>					⑥ 이용자는 언제든지 “몰”이 가지고 있는 자신의 개인정보에 대해 열람 및 오류정정을 요구할 수 있으며 “몰”은 이에 대해 지체 없이 필요한 조치를 취할 의무를 집니다. 이용자가 오류의 정정을 요구한 경우에는 “몰”은 그 오류를 정정할 때까지 당해 개인정보를 이용하지 않습니다.
         <br>					
         <br>					⑦ “몰”은 개인정보 보호를 위하여 이용자의 개인정보를 취급하는 자를 최소한으로 제한하여야 하며 신용카드, 은행계좌 등을 포함한 이용자의 개인정보의 분실, 도난, 유출, 동의 없는 제3자 제공, 변조 등으로 인한 이용자의 손해에 대하여 모든 책임을 집니다.
         <br>					
         <br>					⑧ “몰” 또는 그로부터 개인정보를 제공받은 제3자는 개인정보의 수집목적 또는 제공받은 목적을 달성한 때에는 당해 개인정보를 지체 없이 파기합니다.
         <br>					
         <br>					⑨ “몰”은 ‘개인정보의 수집·이용·제공에 관한 동의란’을 미리 선택한 것으로 설정해두지 않습니다. 또한 ‘개인정보의 수집·이용·제공에 관한 이용자의 동의거절 시’ 제한되는 서비스를 구체적으로 명시하고, 필수수집항목이 아닌 개인정보의 수집·이용·제공에 관한 이용자의 동의 거절을 이유로 회원가입 등 서비스 제공을 제한하거나 거절하지 않습니다.
         <br>					
         <br>					제18조(“몰“의 의무)
         <br>					
         <br>					① “몰”은 법령과 이 약관이 금지하거나 공서양속에 반하는 행위를 하지 않으며 이 약관이 정하는 바에 따라 지속적이고, 안정적으로 재화, 용역을 제공하는데 최선을 다하여야 합니다.
         <br>					
         <br>					② “몰”은 이용자가 안전하게 인터넷 서비스를 이용할 수 있도록 이용자의 개인정보(신용정보 포함)보호를 위한 보안 시스템을 갖추어야 합니다.
         <br>					
         <br>					③ “몰”이 상품이나 용역에 대하여 「표시, 광고의 공정화에 관한 법률」 제3조 소정의 부당한 표시, 광고행위를 함으로써 이용자가 손해를 입은 때에는 이를 배상할 책임을 집니다.
         <br>					
         <br>					④ “몰”은 이용자가 원하지 않는 영리목적의 광고성 전자우편을 발송하지 않습니다.
         <br>					
         <br>					제19조(회원의 ID 및 비밀번호에 대한 의무)
         <br>					
         <br>					① 제17조의 경우를 제외한 ID와 비밀번호에 관한 관리책임은 회원에게 있습니다.
         <br>					
         <br>					② 회원은 자신의 ID 및 비밀번호를 제3자에게 이용하게 해서는 안 됩니다.
         <br>					
         <br>					③ 회원이 자신의 ID 및 비밀번호를 도난당하거나 제3자가 사용하고 있음을 인지한 경우에는 바로 “몰”에 통보하고 “몰”의 안내가 있는 경우에는 그에 따라야 합니다.
         <br>					
         <br>					제20조(이용자의 의무)
         <br>					① 이용자는 다음 각호의 행위를 하여서는 안 됩니다.
         <br>					
         <br>					1. 신청 또는 변경시 허위 내용의 등록
         <br>					2. 타인의 정보 도용
         <br>					3. “몰”에 게시된 “몰”이 저작권을 가지는 정보의 변경
         <br>					4. “몰”이 정한 정보 이외의 정보(컴퓨터 프로그램 등) 등의 송신 또는 게시
         <br>					5. “몰” 기타 제3자의 저작권 등 지적재산권에 대한 침해
         <br>					6. “몰” 기타 제3자의 명예를 손상시키거나 업무를 방해하는 행위
         <br>					7. 외설 또는 폭력적인 메시지, 화상, 음성, 기타 공서양속에 반하는 정보를 몰에 공개 또는 게시하는 행위
         <br>					
         <br>					제21조(연결“몰”과 피연결“몰” 간의 관계)
         <br>					
         <br>					① 상위 “몰”과 하위 “몰”이 하이퍼링크(예: 하이퍼링크의 대상에는 문자, 그림 및 동화상 등이 포함됨)방식 등으로 연결된 경우, 전자를 연결 “몰”(웹 사이트)이라고 하고 후자를 피연결 “몰”(웹사이트)이라고 합니다.
         <br>					
         <br>					② 연결“몰”은 피연결“몰”이 독자적으로 제공하는 재화 등에 의하여 이용자와 행하는 거래에 대해서 보증 책임을 지지 않는다는 뜻을 연결“몰”의 초기화면 또는 연결되는 시점의 팝업화면으로 명시한 경우에는 그 거래에 대한 보증 책임을 지지 않습니다.
         <br>					
         <br>					제22조(저작권의 귀속 및 이용제한)
         <br>					
         <br>					① “몰“이 작성한 저작물에 대한 저작권 기타 지적재산권은 ”몰“에 귀속합니다.
         <br>					
         <br>					② 이용자는 “몰”을 이용함으로써 얻은 정보 중 “몰”에게 지적재산권이 귀속된 정보를 “몰”의 사전 승낙 없이 복제, 송신, 출판, 배포, 방송 기타 방법에 의하여 영리목적으로 이용하거나 제3자에게 이용하게 하여서는 안 됩니다.
         <br>					
         <br>					③ “몰”은 약정에 따라 이용자에게 귀속된 저작권을 사용하는 경우 당해 이용자에게 통보하여야 합니다.
         <br>					
         <br>					제23조(분쟁해결)
         <br>					
         <br>					① “몰”은 이용자가 제기하는 정당한 의견이나 불만을 반영하고 그 피해를 보상처리하기 위하여 피해보상처리기구를 설치, 운영합니다.
         <br>					
         <br>					② “몰”은 이용자로부터 제출되는 불만사항 및 의견은 우선적으로 그 사항을 처리합니다. 다만, 신속한 처리가 곤란한 경우에는 이용자에게 그 사유와 처리일정을 즉시 통보해 드립니다.
         <br>					
         <br>					③ “몰”과 이용자 간에 발생한 전자상거래 분쟁과 관련하여 이용자의 피해구제신청이 있는 경우에는 공정거래위원회 또는 시·도지사가 의뢰하는 분쟁조정기관의 조정에 따를 수 있습니다.
         <br>					
         <br>					제24조(재판권 및 준거법)
         <br>					
         <br>					① “몰”과 이용자 간에 발생한 전자상거래 분쟁에 관한 소송은 제소 당시의 이용자의 주소에 의하고, 주소가 없는 경우에는 거소를 관할하는 지방법원의 전속관할로 합니다. 다만, 제소 당시 이용자의 주소 또는 거소가 분명하지 않거나 외국 거주자의 경우에는 민사소송법상의 관할법원에 제기합니다.
         <br>					
         <br>					② “몰”과 이용자 간에 제기된 전자상거래 소송에는 한국법을 적용합니다.
                   
                 </div>
                       </div>
                     </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" style="padding:10px;">확인</button>        
        </div>      
     <style>
     .privacy-wrap {
        background-color: #fafafa;
        border: 1px solid #dedede;
        padding: 40px 0 0 0;
        margin-bottom: 100px;
    }
     .privacy-wrap:before {
        content: "";
        display: table;
    }
    .privacy-wrap .privacy-text {
        line-height: 20px;
        color: #3c3c3c;
        padding: 0 40px 40px 40px;
        font-size: 12px;   
        -webkit-tap-highlight-color: transparent;
    }
   .head_aticle .tit_sub {
    padding-left: 11px;
    font-size: 14px;
    color: #999;
    line-height: 20px;
    letter-spacing: -.3px;
    vertical-align: 3px;
}
     </style>
    </div>
  </div>
</div>
<div id="more_mandAgreeYn_modal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        전자금융거래 이용약관
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="page_section">        
         <div class="privacy-wrap">
            <div class="privacy-inner">
               <div class="privacy-text">
      <br>전자금융거래 이용약관
      <br>
      <br>'(주)피노' (이하 '회사')은(는) 개인정보 보호법에 따라 이용자의 개인정보 보호 및 권익을 보호하고 개인정보와 관련한 이용자의 고충을 원활하게 처리할 수 있도록 다음과 같은 처리방침을 두고 있습니다.
      <br>
      <br>회사는 개인정보 처리방침을 개정하는 경우 웹사이트 공지사항(또는 개별공지)을 통하여 공지할 것입니다.
      <br>
      <br>○ 본 방침은 2021년 7월 1일부터 시행됩니다.
      <br>
      <br>1. 수집하는 개인정보 항목
      <br>회사는 회원가입, 상담, 서비스 신청 등을 위해 아래와 같은 개인정보를 수집하고 있습니다.
      <br>
      <br>1.1. 수집항목
      <br><개인회원>
      <br>- 필수항목 : 이름, 생년월일, 이메일, 휴대전화번호, ID, 비밀번호
      <br>- 선택항목 : 성별, 전화번호
      <br>
      <br><기업회원>
      <br>- 필수항목 : 회사명, 사업자번호, 대표자명, 업태, 종목, 이름, 생년월일, 이메일, 휴대전화번호, ID, 비밀번호, 회계 담당자명, 회계 담당 연락처, 회계 담당 이메일, 회사주소
      <br>- 선택항목 : 성별, 전화번호
      <br>
      <br>
      <br>- SNS : 네이버, 카카오, 구글, 애플(고객이 회사 제공 동의한 정보)
      <br>- 필수항목 : 이름, 생년월일, 이메일, 휴대전화번호, 비밀번호
      <br>- 선택항목 : 성별, 전화번호
      <br>
      <br><제품 구매 시>
      <br>- 회원 : 수취인 정보(이름, 휴대전화번호, 전화번호, 주소), 발송 정보(고객이 발송 정보 변경 요청 시, 이름, 연락처, 주소), 결제수단 정보
      <br>- 비회원 : 주문자 정보(이름, 이메일, 휴대전화번호), 수취인 정보(이름, 휴대전화번호, 전화번호, 주소), 결제수단 정보
      <br>
      <br><무통장 환불 시>
      <br>- 수집항목 : 은행명, 계좌번호, 예금주
      <br>
      <br><대량제작 상담 시>
      <br>- 수집항목 : 담당자 정보(이름, 연락처, 직급, 이메일) 회사명
      <br>
      <br>- 서비스 이용과정에서 IP주소, 쿠키, 방문일시, 서비스 이용기록과 같은 정보가 자동으로 생성되어 수집될 수 있습니다.
      <br>
      <br>1.2. 수집 방법
      <br>홈페이지, 팩스, 전화, 카카오톡 상담
      <br>
      <br>2. 개인정보의 수집 및 이용목적
      <br>회사는 수집한 개인정보를 다음의 목적을 위해 활용합니다.
      <br>
      <br>2.1. 서비스 제공에 관한 계약 이행 및 서비스 제공에 따른 요금 정산
      <br>콘텐츠 제공, 구매 및 요금 결제, 물품 배송 또는 청구지 등 발송, 금융거래 본인 인증 및 금융 서비스, 요금 추심
      <br>
      <br>2.2. 회원 관리
      <br>회원제 서비스 이용에 따른 본인확인, 개인 식별, 불량회원의 부정 이용 방지와 비인가 사용 방지, 가입 의사 확인, 연령 확인, 불만 처리 등 민원처리, 고지사항 전달
      <br>
      <br>2.3. 마케팅 및 광고에 활용
      <br>신규 서비스(제품) 개발 및 특화, 이벤트 등 광고성 정보 전달, 인구통계학적 특성에 따른 서비스 제공 및 광고 게재, 접속 빈도 파악 또는 회원의 서비스 이용에 대한 통계
      <br>
      <br>2.4. 대량제작 상담
      <br>대량제작 관련 상담 문의에 따른 견적서 발송, 연락 및 상담
      <br>
      <br>3. 개인정보의 보유 및 이용 기간
      <br>원칙적으로, 개인정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체 없이 파기합니다. 단, 다음의 정보에 대해서는 아래의 이유로 명시한 기간 동안 보존합니다.
      <br>
      <br>3.1. 회사 내부 방침에 의한 보존
      <br>불량 이용자의 재가입 방지, 명예훼손 등 권리침해 분쟁 및 수사 협조 : 1년
      <br>
      <br>3.2. 관련 법령에 의한 보존
      <br>상법, 전자상거래 등에서의 소비자보호에 관한 법률 등 관계 법령의 규정에 의하여 보존할 필요가 있는 경우 회사는 관계 법령에서 정한 일정한 기간 동안 회원 정보를 보관합니다. 이 경우 회사는 보관하는 정보를 그 보관의 목적으로만 이용하며 보존기간은 아래와 같습니다.
      <br>- 계약 또는 청약 철회 등에 관한 기록: 5년 (전자상거래 등에서의 소비자보호에 관한 법률)
      <br>- 대금결제 및 재화 등의 공급에 관한 기록: 5년 (전자상거래 등에서의 소비자보호에 관한 법률)
      <br>- 소비자의 불만 또는 분쟁 처리에 관한 기록: 3년 (전자상거래 등에서의 소비자보호에 관한 법률)
      <br>
      <br>4. 개인정보의 파기절차 및 방법
      <br>회사는 원칙적으로 개인정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체없이 파기합니다. 파기 절차 및 방법은 다음과 같습니다.
      <br>
      <br>4.1. 파기 절차
      <br>회원님이 회원가입 등을 위해 입력하신 정보는 목적이 달성된 후 별도의 DB로 옮겨져(종이의 경우 별도의 서류함) 내부 방침 및 기타 관련 법령에 의한 정보보호 사유에 따라(보유 및 이용 기간 참조) 일정 기간 저장된 후 파기됩니다. 별도 DB로 옮겨진 개인정보는 법률에 의한 경우가 아니고서는 보유되어지는 이외의 다른 목적으로 이용되지 않습니다.
      <br>
      <br>4.2. 파기 방법
      <br>- 전자적 파일형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다.
      <br>- 종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각을 통하여 파기합니다.
      <br>
      <br>5. 개인정보의 제공
      <br>회사는 이용자의 개인정보를 원칙적으로 외부에 제공하지 않습니다. 다만, 아래의 경우에는 예외로 합니다.
      <br>- 이용자들이 사전에 동의한 경우
      <br>- 법령의 규정에 의거하거나, 수사 목적으로 법령에 정해진 절차와 방법에 따라 수사기관의 요구가 있는 경우
      <br>
      <br>6. 수집한 개인정보의 위탁
      <br>회사는 결제처리 등 서비스 제공을 위해 필요한 최소한의 업무를 전문업체에 위탁하고 있으며, 관계 법령에 따라 위탁계약 시 개인정보가 안전하게 관리될 수 있도록 필요한 사항들을 규정하고 있습니다.
      <br>
      <br>- 제품 구매에 필요한 결제 및 요금 정산 처리 : NHN한국사이버결제, ㈜카카오페이, NHN, ㈜차이코퍼레이션, ㈜이베이코리아, ㈜엔에이치엔페이코, Paypal
      <br>- 주문 상품 배송 : CJ대한통운, 대신택배, 개인 배송사업자
      <br>- 제품 제작 및 구매 관련 카카오톡 : 피노마켓
      <br>- 안심번호 서비스 : 우정사업본부
      <br>- 데이터 보관 : Amazon Web Service
      <br>- 이메일 발송 서비스 : Amazon Web Service
      <br>
      <br>7. 이용자 및 법정대리인의 권리와 그 행사 방법
      <br>- 이용자 및 법정대리인은 언제든지 등록되어 있는 자신 혹은 당해 만 14세 미만 아동의 개인정보를 조회하거나 수정할 수 있으며 가입 해지를 요청할 수도 있습니다.
      <br>- 이용자 혹은 만 14세 미만 아동의 개인정보를 조회/수정하기 위해서는 ‘개인정보 변경’(또는 ‘회원 정보수정’ 등)을, 가입 해지(동의 철회)를 위해서는 '회원 탈퇴'를 클릭하여 본인 확인 절차를 거치신 후 직접 열람, 정정 또는 탈퇴가 가능합니다.
      <br>- 혹은 개인정보 관리책임자에게 서면, 전화 또는 이메일로 연락하시면 지체 없이 조치하겠습니다.
      <br>- 이용자가 개인정보의 오류에 대한 정정을 요청하신 경우에는 정정을 완료하기 전까지 당해 개인정보를 이용 또는 제공하지 않습니다. 또한, 잘못된 개인정보를 제3자에게 이미 제공한 경우에는 정정 처리결과를 제3자에게 지체 없이 통지하여 정정이 이루어지도록 하겠습니다.
      <br>- 회사는 이용자 혹은 법정대리인의 요청에 의해 해지 또는 삭제된 개인정보는 회사가 수집하는 '개인정보의 보유 및 이용 기간'에 명시된 바에 따라 처리하고 그 외의 용도로 열람 또는 이용할 수 없도록 처리하고 있습니다
      <br>
      <br>8. 개인정보의 안정성 확보 조치
      <br>개인정보 보호법 제29조에 따라 다음과 같이 안전성 확보에 필요한 기술적/관리적 및 물리적 조치를 하고 있습니다.
      <br>
      <br>8.1. 개인정보의 암호화
      <br>이용자의 개인정보 중 비밀번호는 암호화되어 저장 및 관리되고 있어, 본인만이 알 수 있으며 중요한 데이터는 파일 및 전송 데이터를 암호화하거나 파일 잠금 기능을 사용하는 등의 별도 보안 기능을 사용하고 있습니다.
      <br>
      <br>8.2. 해킹 등에 대비한 기술적 대책
      <br>해킹이나 컴퓨터 바이러스 등에 의한 개인정보 유출 및 훼손을 막기 위하여 보안프로그램을 설치하고 주기적인 갱신/점검을 하며 외부로부터 접근이 통제된 구역에 시스템을 설치하고 기술적/물리적으로 감시 및 차단하고 있습니다.
      <br>
      <br>8.3. 개인정보 취급 직원의 최소화 및 교육
      <br>개인정보를 취급하는 직원을 지정하고 담당자에 한정시켜 최소화하여 개인정보를 관리하는 대책을 시행하고 있습니다.
      <br>
      <br>9. 개인정보 자동수집 장치의 설치, 운영 및 그 거부에 관한 사항
      <br>회사는 귀하의 정보를 수시로 저장하고 찾아내는 ‘쿠키(cookie)’ 등을 운용합니다. 쿠키란 회사의 웹사이트를 운영하는데 이용되는 서버가 귀하의 브라우저에 보내는 아주 작은 텍스트 파일로서 귀하의 컴퓨터 하드디스크에 저장됩니다
      <br>
      <br>9.1. 쿠키 등 사용 목적
      <br>- PC 인증 (모바일 디바이스 인증 포함)
      <br>- 회원과 비회원의 접속 빈도나 방문 시간 등을 분석, 이용자의 취향과 관심 분야를 파악, 각종 이벤트 참여 정도 및 방문 횟수 파악 등을 통한 타겟 마케팅 및 개인 맞춤 서비스 제공
      <br>
      <br>9.2. 쿠키 설정 거부 방법
      <br>귀하는 쿠키 설치에 대한 선택권을 가지고 있습니다. 따라서, 귀하는 웹브라우저에서 옵션을 설정함으로써 모든 쿠키를 허용하거나, 쿠키가 저장될 때마다 확인을 거치거나, 아니면 모든 쿠키의 저장을 거부할 수도 있습니다. 단, 귀하께서 쿠키 설치를 거부하였을 경우 서비스 제공에 어려움이 있을 수 있습니다.
      <br>
      <br>9.3. 쿠키 설정 거부 방법 예시
      <br>인터넷 익스플로어의 경우 웹 브라우저 상단의 도구 > 인터넷 옵션 > 개인정보> 고급에서 설정
      <br>
      <br>10. 권익침해 구제 방법
      <br>개인정보 주체는 개인정보 침해로 인한 구제를 받기 위하여 개인정보 분쟁조정위원회, 한국인터넷진흥원의 개인정보 침해신고센터 등에 분쟁 해결이나 상담 등을 신청할 수 있습니다. 이 밖에 개인정보 침해의 신고 및 상담에 대하여는 아래 기관에 문의하시기 바랍니다.
      <br>- 개인정보 분쟁조정위원회: 118(ARS 내선 3)
      <br>- 정보보호 마크 인증위원회 (http://www.eprivacy.or.kr/02-580-0533~4)
      <br>- 대검찰청 첨단범죄수사과 (http://www.spo.go.kr/02-3480-2000)
      <br>- 경찰청 사이버테러대응센터 (http://www.ctrc.go.kr/02-392-0330)
      <br>
      <br>11. 개인정보 관리 책임자 및 담당자의 연락처
      <br>귀하께서는 회사의 서비스를 이용하시면서 발생하는 모든 개인정보 보호 관련 민원을 개인정보 관리 담당자 혹은 개인정보 관리 책임자에게 신고하실 수 있습니다. 회사는 이용자들의 신고사항에 대해 신속하게 답변을 드릴 것입니다.
      <br>
      <br>11.1. 개인정보관리 책임자
      <br>▶ 개인정보보호책임자
      <br>성명 : 김성수
      <br>직책/직급 : 실장
      <br>연락처 : 043-236-9880, pinot@pinot.co.kr
      <br>
      <br>12. 고지의 의무
      <br>개인정보 취급/처리 방침에 대한 내용의 변경이 있을 시에는 시행 최소 7일 전부터 홈페이지의 '공지사항'을 통해 고지할 것입니다.
      <br>
      <br>- 개인정보처리방침 공고일자 : 2021년 7월 1일
      <br>- 개인정보처리방침 시행일자 : 2020년 8월 1일
      <br>
      <br>* 이전의 개인정보처리방침은 아래에서 확인할 수 있습니다.
      <br>
      <br>[2021년 7월 1일]
               </div>
            </div>
         </div>
       </div>
       <style>
       .privacy-wrap {
          background-color: #fafafa;
          border: 1px solid #dedede;
          padding: 40px 0 0 0;
          margin-bottom: 100px;
      }
       .privacy-wrap:before {
          content: "";
          display: table;
      }
      .privacy-wrap .privacy-text {
          line-height: 20px;
          color: #3c3c3c;
          padding: 0 40px 40px 40px;
          font-size: 12px;   
          -webkit-tap-highlight-color: transparent;
      }
       </style>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" style="padding:10px;">확인</button>        
        </div>      
     <style>
     .privacy-wrap {
        background-color: #fafafa;
        border: 1px solid #dedede;
        padding: 40px 0 0 0;
        margin-bottom: 100px;
    }
     .privacy-wrap:before {
        content: "";
        display: table;
    }
    .privacy-wrap .privacy-text {
        line-height: 20px;
        color: #3c3c3c;
        padding: 0 40px 40px 40px;
        font-size: 12px;   
        -webkit-tap-highlight-color: transparent;
    }
   .head_aticle .tit_sub {
    padding-left: 11px;
    font-size: 14px;
    color: #999;
    line-height: 20px;
    letter-spacing: -.3px;
    vertical-align: 3px;
}
     </style>
    </div>
  </div>
</div>
<script>
  $("#more_infoAgreeYn").on("click",function(){
    $("#more_infoAgreeYn_modal").modal("show")
  })
  $("#more_mandAgreeYn").on("click",function(){
    $("#more_mandAgreeYn_modal").modal("show")
})
</script>