{% extends "shop_management/base.html" %}
{% load sass_tags %}
{% block body %}
        <div style="padding: 0px; width:1060px" class="header_wrapper ie_body relative  mx-auto ">
            <div style="font-weight: bold; font-size:20px;margin-top:43px">샘플 디자인</div>
            <div style="margin-top:10px;color:#E61E78;font-size:12px">피노마켓에서 제공하는 샘플디자인으로 빠르고 쉽게 제작해보세요</div>
       </div>
 
        <div style="padding: 0px;width:1060px;margin-top:40px" class="mx-auto ">
            <table  style="border: 1px solid #F0F0F0;border-collapse: collapse;width: 100%;">
                <tr>
                    <td style="border: 1px solid #F0F0F0;border-left:none;width:100px;text-align: center;vertical-align: middle;">분류</td>
                    <td style="border-collapse: collapse;padding:16px;display: flex;">
                        {% for item in category0_list %}
                        <div onclick="location.href='/sample_image/list?category0={{ item.id }}&product_id={{ product_id|default:"" }}&page=1&order={{order}}&per_count={{per_count}}'"
                            style="cursor: pointer;text-align: center;line-height:26px;width:112px;height:26px;font-size:13px;border-radius: 5px; margin-right: 20px; {% if category0 == item.id|slugify %} background-color:#141414;color:#fff {%else%}background-color:#F2F2F2;color:#141414 {%endif%}">
                            {{ item.name }}({{ item.image_count }})
                        </div>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td style="border: 1px solid #F0F0F0;border-collapse: collapse;width:100px;text-align: center;vertical-align: middle;">업종</td>
                    <td style="border-top: 1px solid #F0F0F0;border-collapse: collapse;padding:16px;display: flex;flex-wrap: wrap;">
                        {% for item in category1_list %}
                        <div  onclick="location.href='/sample_image/list?category0={{ category0|default:"" }}&category1={{ item.id }}&product_id={{ product_id|default:"" }}&page=1&order={{order}}&per_count={{per_count}}'"
                        style="cursor: pointer;;text-align: center;line-height:26px;width:112px;height:26px;font-size:13px;border-radius: 5px; margin-right: 20px;
                         {% if category1 == item.id|slugify %} background-color:#141414;color:#fff 
                         {%else%} background-color:#F2F2F2;color:#141414; {%endif%}
                          {%if forloop.counter0 > 6 %};margin-top:16px;{%endif%}">
                        <img src="{{ item.image_url }}" style="width:100px">
                            {{ item.name }}
                        </div>
                        {% endfor %}                       
                    </td>
                </tr>
            </table>         
        </div>
       
        <div class="ie_body product_list  mx-auto " style="width: 1060px;margin-top:60px">
            <div class=" filter flex md:justify-between" >
                <div class="total min-w-[130px]" >총<b>{{total}}</b> 개</div>
                <div class="filter_group xxs:flex xxs:flex-wrap md:items-center ">
                    <a data-order="-id" href="/sample_image/list?category0={{ category0|default:"" }}&category1={{category1|default:""}}&page=1&order=-id&per_count={{per_count}}" class="badge  xxs:w-1/2  md:w-[100px] {% if order == "-id" %}badge-primary{%else%}badge-light{%endif%} order_change">등록일순</a>
                    <a data-order="-sell_count" href="/sample_image/list?category0={{ category0|default:"" }}&category1={{category1|default:""}}&page=1&order=-sell_count&per_count={{per_count}}" class="badge  xxs:w-1/2  md:w-[100px]  {% if order == "-sell_count" %}badge-primary{%else%}badge-light{%endif%} order_change" style="margin-left:16px">판매량순</a>
               
                    <select class="pagination_select xxs:w-full  md:w-[120px] md:ml-[20px]" style="font-size:14px;">
                        <option value="20" {% if per_count == 20 %} selected {%endif%}>20개씩보기</option>
                        <option value="40" {% if per_count == 40 %} selected {%endif%}>40개씩보기</option>
                        <option value="60" {% if per_count == 60 %} selected {%endif%}>60개씩보기</option>
                    </select>
                </div>
            </div>
        </div>

        <div  style="padding: 0px; border-top:1px solid #ddd; padding-top: 10px; margin-top:10px; flex-wrap: wrap; width:1060px "  class="header_wrapper ie_body relative flex flex-col md:flex-row   justify-start mx-auto ">
            {% for item in img_list %}
            <div>
                <div class="img_seg" data-id="{{ item.id }}"  data-url="{{ item.image_url }}" style="width: 250px; margin:5px; height: 250px;margin-bottom: 10px; position: relative; background-image: url({{ item.image_url }}); background-size:contain;background-repeat:no-repeat; background-position:center center;" >
                   
                    {% if product_id %}
                    <button onclick="location.href='/product/select?image_id={{ item.id }}&product_id={{ product_id|default:"" }}'" style="position: absolute;top:50%;left:50%; transform:translate(-50%,-50%);" class="btn btn-primary select_btn">
                        디자인 선택
                    </button>
                    {% else %}
                    <button onclick="location.href='/product/select?image_id={{ item.id }}&product_id={{ product_id|default:"" }}'" style="font-size: 18px; font-weight: bold;border-radius: 5px;position: absolute;top:50%;left:50%; transform:translate(-50%,-50%);color: #898989;background-color: #FFFFFF;width: 118px;
                    height: 72px;" class="  select_btn">
                        현재 디자인<br> 선택하기
                    </button>
                    {% endif %}
                    <button  style="position: absolute;top:10px;right:10px; border-radius: 5px;width:40px; height:40px;padding:6px" class="btn btn-light view_sample">
                        <img class="icon " src="/static/img/header_search.png" style="width: 26px;max-width: initial;">
                    </button>
                </div>
                <span style="margin-bottom: 60px; display: block; font-weight: bold;margin-top:20px">{{item.image_sample_id}}</span>
            </div>
            {% endfor %}
        </div>
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" style="width: fit-content;">

        <div class="modal-content">
              <button type="button" style="    position: absolute;cursor:pointer;
                    right: -30px;
                    color: #fff;
                    position: absolute;
                " class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
          <img id="modal_img" >
        </div>
      </div>
    </div>
    <script>
    $(".pagination_select").on("change", function(){
        let current_loc = "/sample_image/list?category0={{ category0|default:"" }}&category1={{category1|default:""}}&page=1&order={{order}}&per_count="
        location.href= current_loc+$(this).val()
    })
    $(".view_sample").click(function(){
        let img_url = $(this).closest(".img_seg").attr("data-url")

        var url = img_url;
        var img = new Image;
        img.src = url;
        if(img.complete){
            $("#modal_img").attr("src", img_url)
            if( img.width > img.height){
                $("#modal_img").css({ width : "600px", height:  img.height*600/img.width +"px"})
            }else{
                $("#modal_img").css({ height : "600px",width:  img.width*600/img.height+"px"})
            }
            $(".bd-example-modal-lg").modal("show")
        }else{
            img.onload = function() {
                $("#modal_img").attr("src", img_url)
                if( img.width > img.height){
                    $("#modal_img").css({ width : "600px", height:  img.height*600/img.width +"px"})
                }else{
                    $("#modal_img").css({ height : "600px",width:  img.width*600/img.height+"px"})
                }
                $(".bd-example-modal-lg").modal("show")
                }
        }





    })
    </script>
        <style>
            .img_seg{

            }
            .img_seg .select_btn{
                display: none;
            }
            .img_seg:hover .select_btn{
                display: block;
            }
            .sample_id{
                display: none;
            }
            .img_seg:hover .sample_id{
                display: inline-block!important;
            }
            .product_list .filter_group a {
                color: #fff !important;
                line-height: initial !important;
                cursor: pointer;
                font-size: 14px;
            }
            .product_list .filter_group a.badge-light {
                color: #666 !important;
            }
        </style>

    <div style="width:100%; text-align:center; display: flex; justify-content: center">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
          
            {% for item in total_page %}
            <li class="page-item">
                <a class="page-link"  style="color:#898989!important;border:1px solid #F0F0F0;border-radius: 5px;margin-right: 5px;" href="/sample_image/list?category0={{ category0|default:"" }}&category1={{category1|default:""}}&page={{item}}&order={{order}}&per_count={{per_count}}">{{item}}</a>
            </li>
            {% endfor %}
        
          </ul>
        </nav>
    </div>
{% endblock %}
