{% extends "shop_management/base.html" %}
{% load humanize %}
{% load sass_tags %}

{% load product_options %}
{% load index_filter %}
{% block body %}
<link href="{% sass_src 'css/list.scss' %}" rel="stylesheet" type="text/css" />
<style>
    .sub_category{
        border-radius: 100px;
        margin: 10px;      
    }
    
</style>
<div class="ie_body product_list md:w-full md:p-[0px] xxs:p-[0px] lg:w-[1024px]  xl:w-[1280px] mx-auto " style="width: 1060px">
    <div class="row product_list_info">
        {% if category.banner_set.all %}
        <script>
            function banner_click(id,url){
                $.ajax({
                    url:"/product/banner_click/"+id,
                    success:function(res){
                        location.href = url
                    }
                })
            }
        </script>
        {{ category.banner_set.all.0.id|count_up_banner }}
        <img onclick="banner_click({{category.banner_set.all.0.id}},'{{category.banner_set.all.0.link}}')" src="{{category.banner_set.all.0.pc_image_url}}" style="width: 100%; margin-top: -10px;;cursor: pointer;">
        {% endif %}
       
           

                <div style="padding: 0px; width:1060px" class="header_wrapper ie_body relative  mx-auto ">
                    <div style="font-weight: bold; font-size:20px;margin-top:33px">디자인 제품 선택</div>
                    <div style="margin-top:10px;color:#E61E78;font-size:12px">선택할 샘플디자인을 적용할 제품을 선택해주세요</div>
               </div>
         
                <div style="padding: 0px;width:1060px;margin-top:40px" class="mx-auto ">
                    <table  style="border: 1px solid #F0F0F0;border-collapse: collapse;width: 100%;">
                        <tr>
                            <td style="border: 1px solid #F0F0F0;border-left:none;width:100px;text-align: center;vertical-align: middle;">카테고리</td>
                            <td style="border-collapse: collapse;padding:16px;display: flex; flex-wrap: wrap;">                              
                                {% for item in main_category %}                             
                                <div  onclick="location.href='/product/all/{{item.id}}?&category1=&product_id={{ product_id|default:"" }}&page=1&order={{order}}&per_count={{per_count}}&image_id={{ image_id|default:"" }}'"
                                    style="cursor: pointer;text-align: center;line-height:26px;width:112px;height:26px;font-size:13px;border-radius: 5px; margin-right: 20px; {% if category0 == item.id|slugify %} background-color:#141414;color:#fff; {%else%}background-color:#F2F2F2;color:#141414; {%endif%} {%if forloop.counter0 > 6 %}margin-top:16px;{%endif%};
                                    ">
                                    {{ item.name }}({{ item.image_count }})
                                </div>
                                {% endfor %}                              
                            </td>
                        </tr>
                        <tr>
                            <td style="border: 1px solid #F0F0F0;border-collapse: collapse;width:100px;text-align: center;vertical-align: middle;">세부분류</td>
                            <td style="border-top: 1px solid #F0F0F0;border-collapse: collapse;padding:16px;display: flex;flex-wrap: wrap;">
                                {% for item in current_main_category.category_set.all %}                               
                                <div  onclick="location.href='/product/all/{{ item.id|default:"" }}?&product_id={{ product_id|default:"" }}&page=1&order={{order}}&per_count={{per_count}}&image_id={{ image_id|default:"" }}'"
                                style="cursor: pointer;;text-align: center;line-height:26px;width:112px;height:26px;font-size:13px;border-radius: 5px; margin-right: 20px; {% if category0 == item.id|slugify %} background-color:#141414;color:#fff {%else%}background-color:#F2F2F2;color:#141414; {%endif%} {%if forloop.counter0 > 6 %}margin-top:16px;{%endif%}">
                             
                                    {{ item.name }}
                                </div>
                                {% endfor %}                       
                            </td>
                        </tr>
                    </table>         
                </div>        
        <div style="width:100%">
        <!-- <span style="font-size: 20px; font-weight: bold;margin-left: 10px;margin-top: 20px;display: inline-block">선택한 디자인을 적용할 제품을 선택해주세요.</span>
            <div class="sub_category_list d-flex"  style="flex-wrap: wrap; padding-top:20px;">
                <div class="row"style="width:100%">
                    <div class="col-2 mb-2"><b>카테고리</b></div>
                    <div class="col-10 mb-2"><b>세부 카테고리</b></div>
                    <div class="col-2">
                        <select id="main_category">
                        <option value="0" {% if id == 0 %}selected{% endif %}>전체</option>
                            {% for item in main_category %}
                                <option value="{{ item.id }}" {% if id == item.id or parent_id == item.id %}selected{% endif %}>{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-10">
                        {% if  id == 0%}
                        <button class="sub_category btn btn-light" data-category="{{category.id}}" onclick="location.href='/product/all/{{item.id}}?image_id={{ image_id|default:"" }}'" style="">
                           전체({{all_product_length}})
                        </button>
                            {{ current_main_category.category_set.all }}
                        {% for item in category %}
                        <button class="sub_category btn btn-light " data-category="{{item.id}}" onclick="location.href='/product/all/{{item.id}}?image_id={{ image_id|default:"" }}'" style="">
                                {{item.name}}({{item.product_count}})
                        </button>
                        {% endfor %}
                        {% else %}
                        <button class="sub_category btn btn-light" data-category="{{category.id}}" onclick="location.href='/product/all/{{item.id}}?image_id={{ image_id|default:"" }}'" style="">
                           전체({{all_product_length}})
                        </button>
                        {% for item in current_main_category.category_set.all %}
                        <button class="sub_category btn btn-light " data-category="{{item.id}}" onclick="location.href='/product/all/{{item.id}}?image_id={{ image_id|default:"" }}'" style="">
                                {{item.name}}({{item.product_count}})
                        </button>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div> -->
        <script>
            let id = location.pathname.split("/")[location.pathname.split("/").length - 1]
            console.log(id)
            $("button[data-category="+id+"]").last().removeClass("btn-light")
            $("button[data-category="+id+"]").last().addClass("btn-primary")
        </script>
        <div class=" filter flex md:justify-between"> 
            <div class="total min-w-[130px]" >상품 총 <b>{{all_product_length}}</b> 개</div>
            <div class="filter_group xxs:flex xxs:flex-wrap md:items-center ">
                <a data-order="-show_index" class="badge  xxs:w-1/2  md:w-[100px] {% if order_by == "-show_index" %}badge-primary{%else%}badge-light{%endif%} order_change">등록일순</a>
                <a data-order="-sell_count" class="badge  xxs:w-1/2  md:w-[100px]  {% if order_by == "-sell_count" %}badge-primary{%else%}badge-light{%endif%} order_change">판매량순</a>
                <a data-order="discount_price" class="badge  xxs:w-1/2 md:w-[100px] {% if order_by == "discount_price" %}badge-primary{%else%}badge-light{%endif%}  order_change">낮은가격순</a>
                <a data-order="-discount_price" class="badge xxs:w-1/2 md:w-[100px] {% if order_by == "-discount_price" %}badge-primary{%else%}badge-light{%endif%} order_change">높은가격순</a>
              
                <select class="pagination_select xxs:w-full  md:w-[120px] md:ml-[20px]">
                    <option value="20" {% if per_count == 20 %} selected {%endif%}>20개씩보기</option>
                    <option value="40" {% if per_count == 40 %} selected {%endif%}>40개씩보기</option>
                    <option value="60" {% if per_count == 60 %} selected {%endif%}>60개씩보기</option>
                </select>
            </div>
        </div>
        <div class="product_group grey grid grid-cols-2 px-1  gap-2  sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 lg:px-0" style="padding-top: 5px; padding-bottom: 24px; width:1060px">
            {% include "product/components/product.html" with product_list=included_product  image_id=image_id%}
          </div>
       
    </div>
</div>
</div>
<script>
$(document).ready(function(){
   $(".reselect_product").on("click", function(){
        window.scrollTo({
          top: 580,
          behavior: 'smooth'
        });
   })


    var order_by = "{{order_by}}"
    var page = "{{page}}"
    var per_count = "{{per_count}}"
    var url_template = "/product/all/{{id}}?page="+page+"&count="+per_count+"&order_by="+order_by+"&image_id={{ image_id|default:"" }}"
    $(".order_change").on("click", function(){
        order_by = $(this).attr("data-order")
        url_template = "/product/all/{{id}}?page="+1+"&count="+per_count+"&order_by="+order_by+"&image_id={{ image_id|default:"" }}"
        location.href=url_template
    })
    $(".pagination_select").on("change", function(){
        per_count = $(this).val()
        url_template = "/product/all/{{id}}?page="+1+"&count="+per_count+"&order_by="+order_by+"&image_id={{ image_id|default:"" }}"
        location.href=url_template
    })
    $("#main_category").on("change", function(){
        url_template = "/product/all/"+$(this).val()+"?page="+1+"&count="+per_count+"&order_by="+order_by+"&image_id={{ image_id|default:"" }}"
        location.href=url_template
    })

})
</script>
<style>

  
</style>
{% endblock %}