{% extends "shop_management/base.html" %}
{% load humanize %}
{% load sass_tags %}
{% load product_options %}
{% block body %}
  <script type="text/JavaScript" src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
  <script type="text/JavaScript" src="/static/admin/js/product_util.js"></script>
  <style>
    .product_row{
      display: flex;
      padding:14px 0px 14px 15px;
      border-top:1px solid  #f0f0f0;
    }
    .current_num{
      padding: 0px 10px;
    }
    .loading {
      background-image: url("/static/img/loading-buffering.gif");
      background-size: 30px 30px;
      background-position: center;
      background-repeat: no-repeat;
      min-height: 600px;
    }

    .loading div {
      display: none;
    }

    .product_detail .img_container .img_con .thumb_img:last-child {
      margin-right: 0 !important;
    }

    .info_contents img {
      display: inline-block;
    }
    .additional_product_img.active{
      background-color: cadetblue;
      color: #fff;
    }
  </style>
  <link href="{% sass_src 'css/product_detail.scss' %}" rel="stylesheet" type="text/css"/>
  <style>
    .main_product {
      flex-direction: column;
      align-items: stretch;
    }

    .current_num,
    .minus,
    .plus {
      line-height: 30px;
    }

    .file_reset {
      cursor: pointer;
    }

    .additional_product_select {
      padding: 10px;
    }
  </style>
  <script>
    // 폴리필
    if (!Array.prototype.findIndex) {
      Object.defineProperty(Array.prototype, 'findIndex', {
        value: function (predicate) {
          'use strict';
          if (this == null) {
            throw new TypeError('Array.prototype.findIndex called on null or undefined');
          }
          if (typeof predicate !== 'function') {
            throw new TypeError('predicate must be a function');
          }
          var list = Object(this);
          var length = list.length >>> 0;
          var thisArg = arguments[1];
          var value;

          for (var i = 0; i < length; i++) {
            value = list[i];
            if (predicate.call(thisArg, value, i, list)) {
              return i;
            }
          }
          return -1;
        },
        enumerable: false,
        configurable: false,
        writable: false
      });
    }
    // https://tc39.github.io/ecma262/#sec-array.prototype.find
    if (!Array.prototype.find) {
      Object.defineProperty(Array.prototype, 'find', {
        value: function (predicate) {
          // 1. Let O be ? ToObject(this value).
          if (this == null) {
            throw new TypeError('"this" is null or not defined');
          }

          var o = Object(this);

          // 2. Let len be ? ToLength(? Get(O, "length")).
          var len = o.length >>> 0;

          // 3. If IsCallable(predicate) is false, throw a TypeError exception.
          if (typeof predicate !== 'function') {
            throw new TypeError('predicate must be a function');
          }

          // 4. If thisArg was supplied, let T be thisArg; else let T be undefined.
          var thisArg = arguments[1];

          // 5. Let k be 0.
          var k = 0;

          // 6. Repeat, while k < len
          while (k < len) {
            // a. Let Pk be ! ToString(k).
            // b. Let kValue be ? Get(O, Pk).
            // c. Let testResult be ToBoolean(? Call(predicate, T, « kValue, k, O »)).
            // d. If testResult is true, return kValue.
            var kValue = o[k];
            if (predicate.call(thisArg, kValue, k, o)) {
              return kValue;
            }
            // e. Increase k by 1.
            k++;
          }

          // 7. Return undefined.
          return undefined;
        },
        configurable: true,
        writable: true
      });
    }
    if (!Object.assign) {
      Object.defineProperty(Object, 'assign', {
        enumerable: false,
        configurable: true,
        writable: true,
        value: function (target) {
          'use strict';
          if (target === undefined || target === null) {
            throw new TypeError('Cannot convert first argument to object');
          }

          var to = Object(target);
          for (var i = 1; i < arguments.length; i++) {
            var nextSource = arguments[i];
            if (nextSource === undefined || nextSource === null) {
              continue;
            }
            nextSource = Object(nextSource);

            var keysArray = Object.keys(Object(nextSource));
            for (var nextIndex = 0, len = keysArray.length; nextIndex < len; nextIndex++) {
              var nextKey = keysArray[nextIndex];
              var desc = Object.getOwnPropertyDescriptor(nextSource, nextKey);
              if (desc !== undefined && desc.enumerable) {
                to[nextKey] = nextSource[nextKey];
              }
            }
          }
          return to;
        }
      });
    }
  </script>
  <div class="mx-auto ie_body product_detail  md:w-full md:py-[10px] xxs:p-[10px] md:py-[10px]" style="width:1200px" data-id="{{product.id}}">
    <div class="row" style="margin: 15px 0px;align-items: center;">{{ product.category.html_name|safe }}</div>
    <div class="row product_top_info " style="width:1200px">
      <!-- 상품 메인 이미지 + zoom -->
      {% include "product/components/product_zoom_image.html" with product=product %}
      <div class="relative lg:w-[640px] xxs:mt-[10px] md:mt-[0px]  md:ml-[0px]" style="">

    <div class="product_order_detail relative loading  xxs:mt-[10px] md:mt-[0px]  " style="margin-left:30px;">

      <div class="relative" style=" ">
        <div class="product_row">
          <div style="font-weight: bold;font-size: 15px; width: 145px;">
            제품명
          </div>
          <div style="font-size: 15px; font-weight: bold ;">
          {{ product.name }}
            </div>
        </div>
       
        <!-- <span class="absolute right-2" style="line-height: 31px;cursor: pointer; " id="share">
          <img id="share_url" class="" style="width: 50px;border-radius: 25px;border:1px solid #ddd;transition: all 0.5s" src="/static/img/url.png">
          <img id="share_kakao" class="" style="width: 50px;margin-top:-50px;transition: all 0.5s" src="/static/img/kakaotalk.png">
          <img id="share_btn" class="" style="margin-top:-50px;transition: all 0.5s" src="/static/img/share.png">
        </span> -->
      </div>
      <!-- <div class="product_info_text">
        {{ product.description_summary }}
      </div> -->
      <div class="product_row">
        <div style="font-weight: bold;font-size: 15px; width: 145px;">
          단가
        </div>
        <div style="font-size: 15px;">
          {% is_same_price product as result %}
          {% if result %}
            <div class="product_final_price" style="">
               <span>{{ product.discount_price|intcomma }}</span>원
            </div>
          {% else %}
            <div style="display: flex; align-items: center;">
              <div class="">
                <span>
                  <strike>{{ product.showing_price|intcomma }}</strike>원
                </span>
              </div>
              <div class="" style="font-weight: bold;;margin-left: 10px ;">
                <span>{{ product.discount_price|intcomma }}</span>원            
              </div>         
              <div style="color: #E61E78;margin-left:10px;">{% get_product_discount_sale product %}% 할인</div>
            </div>
          {% endif %}
        </div>
      </div>

      <div class="product_option_container">
        <div class="option_item product_option_item main_product" style="border-top: 1px solid #f0f0f0;padding-top:8px;">
          <div style="display:flex; justify-content:space-between; width:100%;align-items: center;">
            <span class="option_title">구매수량({{ product.count_convention }})
            </span>

            <div style="display: flex; align-items: center;">
            <button  class="btn border add_set" data-num="10" style="height: 32px; line-height: 32px;; padding:0px 13px; border-radius: 5px; font-size: 14px;color:#141414;">+10{{ product.count_convention }}</button>
            <button class="btn border add_set" data-num="100" style="margin-left:9px;height: 32px; line-height: 32px;  padding: 0px 13px; border-radius: 5px; font-size: 14px;color:#141414">+100{{ product.count_convention }}</button>
            <div data-additional-id="1" class="product_num" style="display: flex; margin-left:9px;align-items: center;">
              <div class="minus product_set" style="border-radius:5px;color:#fff;background-color: #898989; border:1px solid #898989; width: 30px;; height: 26px;text-align: center;cursor: pointer;display: flex;flex-direction: column;justify-content: center;margin-right: 10px;">
                -
              </div>
              <div class="current_num product_set" style="min-width: 70px; height: 30px;text-align: center;cursor: pointer;display: flex;flex-direction: column;justify-content: center;; border: 1px solid #f0f0f0; border-radius: 5px">
                1
              </div>
              <div class="plus product_set" style="border-radius:5px;color:#fff;background-color: #898989; border:1px solid #898989; width: 30px;; height: 26px;text-align: center;cursor: pointer;display: flex;flex-direction: column;justify-content: center;margin-left: 10px;">
                +
              </div>
            </div>
          </div>
          </div>
        </div>
        {% if additional_product %}
          {% for item in additional_product %}
            {% if item.name != "" %}
              <div  data-additional-product-id="{{forloop.counter0}}" class="option_item product_option_item additional_product_item" style="flex-wrap: wrap;    justify-content: flex-end;
                    {% if forloop.counter0 == 0 %}{% endif %}">
              <div class="flex justify-content">
                <span class="option_title">{{ item.name }}
                </span>
                <div class="additional_product_item_seg flex flex-wrap select_form " style="padding:0px">
                    {% for item_option in item.list %}
                    <div data-item-id="{{ forloop.counter0  }}" class="additional_product_img w-1/3 mb-[5px] cursor-pointer text-center flex flex-column justify-between align-content-between" style="align-items: center; padding:10px; border-radius: 3px; border:1px solid #ddd;">
                      <img src="{% if item_option.image_id %} {% get_additonal_item_url item_option.image_id %} {% else %} {% split_url item_option.image %} {% endif %}" style="width:100%" class="mb-[5px]">         {%  space_escape item_option.value %}
                      <div style="position: absolute;top:-100000px;"><input type="radio" name="additional_product_{{ forloop.parentloop.counter0 }}" style="display: inline-block;"> </div>
                    </div>
                    {% endfor %}
                </div>
              </div>
                <select data-additional-product-id="{{ forloop.counter0 }}" class="additional_product additional_product_select hidden" style="width: 389px;">
                  <option value="none">{{ item.name }}을/를 선택해주세요.</option>
                  {% for item_option in item.list %}
                    <option value="{%  space_escape item_option.value %}" data-id="{{ forloop.counter0 }}" data-price="{{ item_option.price }}">{{ item_option.value }}(+{{ item_option.price }}원)
                    </option>
                  {% endfor %}
                </select>
                <script>
                   function add_additional_product(num,id){
                     
                    for( var i =0; i < (num); i++ ){
                      console.log( $(".additional_num[data-additional-product-id="+id+"]"))
                      $(".additional_num[data-additional-product-id="+id+"]").find(".plus").click()
                    }
                  }
                </script>
                <div style="display: flex; align-items: center;">
                <button onclick="add_additional_product(10,{{ forloop.counter0 }})" class="btn border" style="padding:0px 10px;line-height: 32px;height: 32px; border-radius:0px;">+10{{ product.count_convention }} 추가</button>
                <button onclick="add_additional_product(100,{{ forloop.counter0 }})" class="btn border" style="padding:0px 10px;line-height: 32px;height: 32px; border-radius:0px;">+100{{ product.count_convention }} 추가</button>
                <div data-additional-product-id="{{ forloop.counter0 }}" class="additional_num" style="display: flex; border:1px solid #ddd;">
                  <div class="minus additional" style="background-color: #eee;border-right: 1px solid #ddd;width: 30px;; height: 30px;text-align: center;cursor: pointer;display: flex;flex-direction: column;justify-content: center;">
                    -
                  </div>
                  <div class="current_num" style="min-width: 30px;; height: 30px;text-align: center;cursor: pointer;display: flex;flex-direction: column;justify-content: center; border: 1px solid #f0f0f0; border-radius: 5px;">
                    0
                  </div>
                  <div class="plus additional" style="background-color: #eee; border-left: 1px solid #ddd; width: 30px;; height: 30px;text-align: center;cursor: pointer;display: flex;flex-direction: column;justify-content: center;">
                    +
                  </div>
                </div>
              </div>
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}
        <div style="margin-top: 8px; padding-top: 0px;padding-bottom: 00px;">
          <div class="option_item product_option_item addtional_product_count" style="display: block;"></div>
        </div>
       

        <div class="d-flex flex-column price_container" style="border-top: 1px solid #ddd;margin-top: 10px; margin-bottom: 10px; padding-top:15px;">

          <div data-target="original" class="d-flex flex-row justify-content-between" style="width:100%">
            <span class="option_title" style="font-size: 16px;;flex-grow: 1;width: initial;">상품 및 옵션</span>
            <span class="value" style=" font-size: 16px;"></span>
          </div>
          <div id="product_price_original" data-target="original" class="d-flex flex-row justify-content-between" style="width:100%">
            <span class="option_title" style="font-size: 16px;;flex-grow: 1;width: initial;font-size: 15px; font-weight: normal;">기본가격</span>
            <span class="value" data-minimum-price="{{ product.discount_price }}" style=" font-size: 16px;">{{ product.discount_price|intcomma }}원</span>
          </div>
        </div>
        <div class="d-flex flex-column additional_price_container" style=" padding-top:15px;">
          <div data-target="additional" class="d-flex flex-row justify-content-between" style="width:100%">
            <span class="option_title" style="font-size: 16px;;flex-grow: 1;width: initial;">부자재(추가)</span>
            <span class="value" style=" font-size: 16px;"></span>
          </div>
        </div>
        <div class="d-flex " style="margin-top: 10px; padding-top: 20px;padding-bottom: 2px;">
          <span class="option_title" style="font-size: 16px;;flex-grow: 1;width: initial;">공급가액 합계</span>
          <span id="product_final_price" data-minimum-price="{{ product.discount_price }}" style=" font-size: 16px;">{{ product.discount_price|intcomma }}원</span>
        </div>
        <div class="d-flex " style="padding-bottom: 10px;">
          <span class="option_title" style="font-size: 14px;;flex-grow: 1;width: initial;">부가세</span>
          <span id="product_final_price_vat" style=" font-size: 14px;"></span>
        </div>
        <div class="d-flex " style="padding-top: 5px;padding-bottom: 2px;">
          <span class="option_title" style="font-weight: bold; font-size: 20px;;flex-grow: 1;width: initial; ">주문금액</span>
          <span id="product_final_price_plus_vat" style=" font-weight: bold;font-size: 20px;color:rgb(227,0,127)">원</span>
        </div>
        <div class="d-flex justify-content-end">
          <span class="option_title" style=" font-size: 14px;;flex-grow: 1;width: initial; ">출고예상일</span>
          <span style="font-size: 14px;" id="data-duration" data-duration="{{ product.delivery_duration }}">{{ product.delivery_duration }}일</span>
        </div>

        <div class="d-flex mb-3 justify-content-end mt-3">
         <div onclick="location.href='/custom/write/?inquiry_type=샘플요청'" class=""
          style="font-size:15px; font-weight: bold;border-radius: 5px;; border:1px solid #F0BB47;color:#F0BB47; margin-top: -5px; height: 50px ;width:100px;line-height: 48px; text-align: center;">샘플 요청
          </div>
          <div class="buy  estimate" style="margin-left:10px;border-radius: 0px; margin-top: -5px; height: 50px ;width:100px; color: #1EA5DC; border: 1px solid #1EA5DC;font-size:15px; font-weight: bold;border-radius: 5px; ;line-height: 48px; text-align: center; ">견적서
          </div>
          <div class="add_basktet" style="margin-top: -5px; margin-left:10px;border-radius: 0px; margin-top: -5px; height: 50px ;width:100px; color: #E61E78; border: 1px solid #E61E78;font-size:15px; font-weight: bold;border-radius: 5px; ;line-height: 48px; text-align: center;   ;">장바구니
          </div>
          <div class="buy  payment" style="margin-top: -5px; margin-left:10px;border-radius: 0px; margin-top: -5px; height: 50px ;width:100px; color: #fff; background-color:#E61E78; font-size:15px; font-weight: bold;border-radius: 5px; ;line-height: 48px; text-align: center;   ; ">구매하기
          </div>
        
        </div>
 
      </div>
    </div>
  </div>
</div>
<div class="product_common_info row">
  <div class="tab tab_title">
    <ul class="tab-titles">
      <li id="product_detail" name="detail" class="active xxs:py-[15px] xxs:px-[10px]" onclick="location.href='#product_detail'">
        상품상세
      </li>
      <li name="review" class=" xxs:py-[15px] xxs:px-[10px]" onclick="location.href='#product_review'">상품평
        <span class="product_tab_review_count">(0)</span></li>
      <li name="qna" class=" xxs:py-[15px] xxs:px-[10px]" onclick="location.href='#product_qna'">상품문의</li>
      <li class="xxs:px-[10px] md:py-[15px]" name="etc" onclick="location.href='#product_etc'">배송/교환/반품 안내</li>
    </ul>
  </div>
  <div class="info_contents" style="text-align: center;">
    {{ product.detail|safe }}
  </div>
  <div class="tab tab_title">
    <ul class="tab-titles">
      <li id="product_detail" name="detail" class=" xxs:py-[15px] xxs:px-[10px]" onclick="location.href='#product_detail'">
        상품상세
      </li>
      <li name="review" class="active xxs:py-[15px] xxs:px-[10px]" onclick="location.href='#product_review'">상품평
        <span class="product_tab_review_count">(0)</span></li>
      <li name="qna" class=" xxs:py-[15px] xxs:px-[10px]" onclick="location.href='#product_qna'">상품문의</li>
      <li class="xxs:px-[10px] md:py-[15px]" name="etc" onclick="location.href='#product_etc'">배송/교환/반품 안내</li>
    </ul>
  </div>
  <div class="info_contents review">
    <!-- 상품 리뷰가 있는 경우 -->
    <!-- <article> <div class="row"> <img class="review_img" src="/static/img/sample.png"> <div class="review_text" style="width: 800px;"> <ul> <li class="text_title">잘받았어요</li> <li class="text_product">아크릴박스(3개)</li> <li class="text_content">잘받았어요 잘받았어요 잘받았어요 잘받았어요 잘받았어요 잘받았어요 잘받았어요 잘받았어요 </li> </ul> </div> <div class="review_text"> <ul> <li class="text_writer">작성자:<span class="text">dlt******</sapn> </li> <li class="text_date">등록일:<span class="text">2020.09.20</sapn></li> <li class="text_review_count">조회수:<span class="text">102</sapn></li> </ul> </div> </div> </article> -->
    <article>
      <div class="row" style="
            font-size: 20px;
            line-height: 30px;
            text-align: center;
            padding: 20px 0px;
            justify-content: center;
          ">
        상품 리뷰가 없습니다.
      </div>
    </article>
  </div>
  <div class="tab tab_title">
    <ul class="tab-titles">
      <li id="product_detail" name="detail" class=" xxs:py-[15px] xxs:px-[10px]" onclick="location.href='#product_detail'">
        상품상세
      </li>
      <li name="review" class=" xxs:py-[15px] xxs:px-[10px]" onclick="location.href='#product_review'">상품평
        <span class="product_tab_review_count">(0)</span></li>
      <li name="qna" class="active xxs:py-[15px] xxs:px-[10px]" onclick="location.href='#product_qna'">상품문의</li>
      <li class="xxs:px-[10px] md:py-[15px]" name="etc" onclick="location.href='#product_etc'">배송/교환/반품 안내</li>
    </ul>
  </div>
  <!-- 상품 문의 -->
  {% include "product/components/product_qna.html" with qna=qna %}
  <!-- 상품 문의 끌 -->
  <div class="tab tab_title">
    <ul class="tab-titles">
      <li id="product_detail" name="detail" class=" xxs:py-[15px] xxs:px-[10px]" onclick="location.href='#product_detail'">
        상품상세
      </li>
      <li name="review" class=" xxs:py-[15px] xxs:px-[10px]" onclick="location.href='#product_review'">상품평
        <span class="product_tab_review_count">(0)</span></li>
      <li name="qna" class=" xxs:py-[15px] xxs:px-[10px]" onclick="location.href='#product_qna'">상품문의</li>
      <li class="xxs:px-[10px] active md:py-[15px]" name="etc" onclick="location.href='#product_etc'">배송/교환/반품 안내</li>
    </ul>
  </div>
  <!-- 교환 반품 문의 -->
  {% include "product/components/product_exchange_info.html" %}
  <!-- 교환 반품 문의 끝 -->
</div>
<div class="tooltip_content border p-1 absolute hidden w-[200px] bg-white">
  <div class="relative">
    <div class="tooltip_close absolute bg-white -top-1 text-center -right-1  w-[20px] h-[20px] leading-[20px] cursor-pointer">X</div>
    <div class="exp_image"></div>
    <div class="exp_title mt-1"></div>
    <div class="exp_content mt-1" style="word-break: break-all;"></div>
  </div>
</div>
</div>
<script>
$(document).ready(function () {
  
  $(document).on("keydown", ".product_default_text_area .product_option", function () {
    if ($(this).val().length > 50) {
      $(this).val($(this).val().substr(0, 50))
    }
    $("#textarea_ment").text("(" + $(this).val().length + "/50)")
  })
  $(".info_contents img").css({"width": "780", "padding": "20px 0px"});

  var json = {{  product.option_json_data|safe }};
  var selling_range = "{{product.selling_range}}";


  var max, min;
  if(selling_range){
    min = selling_range.split("~")[0]
    min = parseInt(min)
    max = selling_range.split("~")[1]
    max = parseInt(max)
  }


  var key_list = json["key_list"];
  var option_list = [];
  var text_option_list = []
  var select_option_list = []
  var design_option_list = []
  var textarea_option_list = []
  var number_input_option = {}

  if (Object.keys(json).indexOf("text_option") != -1) {
    text_option_list = json["text_option"];
  }
  if (Object.keys(json).indexOf("select_option") != -1) {
    select_option_list = json["select_option"];
    console.log(select_option_list)
  }
  if (Object.keys(json).indexOf("design_option") != -1) {
    design_option_list = json["design_option"];
  }
  if (Object.keys(json).indexOf("textarea_option") != -1) {
    textarea_option_list = json["textarea_option"];
  }
  if (Object.keys(json).indexOf("number_input_option") != -1) {
    number_input_option = json["number_input_option"];
  }

  var option_seg = ""
  var seg = '<div class="option_item product_option_item product_default_text_area" style="border-top: 1px solid #f0f0f0;padding: 14px 0px 14px 15px;">  \
                  <span class="option_title">요청사항</span>\
                  <div class="select_form " style="padding:0px"><textarea     rows="3" style="border:1px solid #F0F0F0; border-radius: 5px;padding:3px 5px;width:100%!important;height:61px;max-height:61px;line-height:1.2; padding-top:5px " placeholder="요청사항을 입력해주세요" class="select_form product_option" ></textarea><br><span id="textarea_ment" style="float:right; font-size:14px">(0/50)</span></div></div>'
  $(".product_option_container").prepend(seg)

  if (textarea_option_list[0].name != "") {
    for (var k = textarea_option_list.length - 1; k > -1; k--) {
      var option_seg = ""
      var seg = '<div class="option_item product_option_item" style="border-top: 1px solid #f0f0f0;padding: 14px 0px 14px 15px;">  \
                      <span class="option_title">' + textarea_option_list[k].name + '</span>\
                      <textarea  placeholder="' + textarea_option_list[k].placeholder + '" class="select_form product_option" ></textarea>\
                  </div>'
      $(".product_option_container").prepend(seg)
    }
  }

  if ("{{product.template_file|default:""}}") {
    var seg = '<div class="option_item product_option_item ">  \
                      <span class="option_title">템플릿 파일</span>\
                      <div class="select_form" style="display: flex;justify-content: space-between;padding: 0px"><a href="' + "{% split_url product.template_file %}" + '" target="_blank">템플릿 파일 다운로드</a> </div>'
    $(".product_option_container").prepend(seg)
  }

  if (json["need_to_file_upload"] == true) {
    var seg = '<div class="option_item product_option_item file_upload_container"  style="border-top: 1px solid #f0f0f0;padding: 14px 0px 14px 15px;">  \
                      <span class="option_title">파일 업로드</span>\
                      <div class="select_form" style="display: flex;justify-content: space-between;padding: 0px"><div style="width:185px;border-radius:5px;;background-color:#E61E78;height:40px;;color:#fff;line-height:40px;width:175px;line-height:40px;text-align:center" id="{% if user.is_authenticated  %}file_upload_btn{% endif %}">파일 업로드</div>\
                      <div style="cursor:pointer;margin-left:7px;border-radius:5px; border:1px solid #E61E78;height:40px;;color:#E61E78;line-height:40px;width:185px;line-height:40px;text-align:center" onclick="alert(\'웹하드 아이디:pinot 비밀번호:9880입니다.\');window.open(\'https://only.webhard.co.kr/login\')" >웹하드에 업로드</div></div>\
                  </div>\
                  <input id="file_0" type="file" class="product_option file_upload" style="width:0px;height:0px;opacity:0;line-height: 0px;position:absolute">\
                  <input id="file_1" type="file" class="product_option file_upload" style="width:0px;height:0px;opacity:0;line-height: 0px;;position:absolute">\
                  <input id="file_2" type="file" class="product_option file_upload" style="width:0px;height:0px;opacity:0;line-height: 0px;;position:absolute">'
    $(".product_option_container").prepend(seg)
    
    $("#file_upload_btn").on("click",  function () {
      var target = ""

      $(".file_upload").each(function (e) {
    
        if ($(this)[0].files.length == 0) {
          target = this
        }
      })
      if (target == "") {
        alert("파일은 최대 3개까지 올리실수 있습니다.")
      }
      $(target).click()
    })

    $(document).on("change", ".file_upload", function () {
      var name = $(this)[0]
        .files[0]
        .name
      if (name.length > 30) {
        name = name.substr(0, 25) + "..." + name.split(".")[
          name
            .split(".")
            .length - 1
        ]
      }
      $(".file_upload_container").after("<div class='uploading_file d-flex justify-content-end' data-for='" + $(this).attr("id") + "'><span>" + name + "</span><span><i class='file_reset las la-times-circle' style='font-size:16px'></i></span></div>")
    })
    $(document).on("click", ".file_reset", function () {
      var target = $(this)
        .closest(".uploading_file")
        .attr("data-for")
      $("#" + target).val('')
      $(this)
        .closest(".uploading_file")
        .remove()
    })
  }

  $("select.product_option:eq(0)").change()

  // 텍스트 입력 옵션을 나눈것을 렌더링 해준다.



  // 디자인 옵션을 나눈것을 렌더링 해준다.
  for (var k = 0; k < 1; k++) {
    var option_seg = ""
    if (design_option_list[0].name != "" && design_option_list[0].price != "") {
      for (var j = 0; j < design_option_list.length; j++) {
        var selected = ""
        if (j == 0) {
          selected = "selected"
        }
        if (design_option_list[k].name != "" && design_option_list[k].price != "") {
          option_seg += '<option data-index="0" value="' + design_option_list[j].price + '" ' + selected + '>' + design_option_list[j].name + '(+' + parseInt(design_option_list[j].price).toLocaleString() + '원)</option>'
        }
      }
      var seg = '<div class="option_item product_option_item" style="border-top: 1px solid #f0f0f0;padding: 14px 0px 14px 15px;">  \
                          <span class="option_title" >디자인</span>\
                          <select    data-target="design" class="design_form product_option form-control select_form" style="padding:0px 5px;" name="product_option">\
                             ' + option_seg + '</select></div> \
                <div class="option_item product_option_item" style="border-top: 1px solid #f0f0f0;padding: 14px 0px 14px 15px;">  \
                          <span class="option_title" >샘플 디자인</span>\{% if image_id %}<div   class=" product_option product_option_item" style="padding:0px 5px;    width: 463px;" >\
                           이미지 아이디 : #{{ image_id }} <span onclick="location.href=\'/product/select?product_id={{ product.id }}&image_id={{image_id}}\'" style="cursor:pointer;background-color:#898989;width:185px;color:#fff;text-align:center;line-height:40px; height:40px; border-radius:5px">다시 선택하기</span> </div> \ {% else %}
                          <div  onclick="location.href=\'/sample_image/list?product_id={{ product.id }}\'" class=" product_option " style="cursor:pointer;background-color:#898989;width:185px;color:#fff;text-align:center;line-height:40px; height:40px; border-radius:5px" >\
                           이미지 선택하기 </div>{% endif %}\
                           </div>'
      $(".product_option_container").prepend(seg)
    }
    $("select.product_option:eq(0)").change()
  }

  // 셀렉트 옵션을 나눈것을 렌더링 해준다.

  for (var k = (select_option_list.length-1); k >=0 ; k--) {
    var option_seg = ""
    if (select_option_list[k].list[0].value != "" && select_option_list[k].list[0].price != "") {
      for (var j = 0; j < select_option_list[k].list.length; j++) {
        var selected = ""
        if (j == 0) {
          selected = "selected"
        }
        if (select_option_list[k].list[j].price != "" && select_option_list[k].list[j].value != "") {
         let string = parseInt(select_option_list[k].list[j].price).toLocaleString()
          if(string[0] != "-"){
            console.log(select_option_list[k])
            if(select_option_list[k].is_static_price && select_option_list[k].is_static_price=="false"){
              string= "1m²당 +"+string
            }else{
              string = "+"+string
            }
          }
          
          option_seg += '<option data-index="0" value="' + select_option_list[k]
            .list[j]
            .price + '" ' + selected + '>' + select_option_list[k]
            .list[j]
            .value + '(' + string + '원)' + '</option>'
        }
      }
      var seg = '<div class="option_item product_option_item" style="border-top: 1px solid #f0f0f0;padding: 14px 0px 14px 15px;">' + '<span data-exp-title="' + select_option_list[k].exp_title + '"data-exp-content="' + select_option_list[k].exp_content + '" data-exp-url="' + select_option_list[k].exp_image + '"   data-exp-url-id="' + select_option_list[k].exp_image_id + '" class="option_title">' + select_option_list[k].name + '<i class="las la-question-circle tooltip_click"></i>' + '</span>\
                          <select    data-target-id="select_' + k + '" data-target="' + select_option_list[k].name + '" class="select_form product_option" name="product_option">' + option_seg + '</select></div>'
      $(".product_option_container").prepend(seg)
    }
    $("select.product_option:eq(0)").change()
  }
  // 가로 세로 입력 옵션 렌더링 시작
  if (number_input_option["need_to_input_option"]) {
    if (number_input_option["need_to_input_option"] === true) {
      var seg = ""
      if( number_input_option["input_type"].includes("width") &&  number_input_option["input_type"].includes("height") && !number_input_option["input_type"].includes("vertical")
      ){
        console.log(number_input_option)
       // 가로 선택 + 세로 입력의 경우
      
       let width_html = ""
        let height_html = ""
      
        
        if( number_input_option["input_type"].includes("width_input") ){
          width_html = '가로 : &nbsp;<input data-trigger="manual" class="xxs:w-[100px] md:w-[100px]" style="padding-left:5px; padding-right:5px;" title="33" data-toggle="tooltip" id="width" data-max-width="' + number_input_option.max_width + '" data-min-width="' + number_input_option.min_width + '" type="text" name="width" data-dimension="'+number_input_option.dimension+'">'+ number_input_option.dimension
        }else if( number_input_option["input_type"].includes("width_select")  ){
          width_html = '가로 : &nbsp;<select style="padding-left:5px; padding-right:30px;" id="width" data-max-width="' + number_input_option.max_width + '" data-min-width="' + number_input_option.min_width + '"  type="text" name="width" data-dimension="'+number_input_option.dimension+'">'+ number_input_option.width_select.split("&").map(e=>{return "<option value='"+e+"'>"+e+number_input_option.dimension+"</option>" }) +'</select>'
        }

        if( number_input_option["input_type"].includes("height_input") ){
          height_html = '세로 : &nbsp;<input data-trigger="manual" class="xxs:w-[100px] md:w-[100px]" style="padding-left:5px; padding-right:5px;" title="33" data-toggle="tooltip" id="height" data-max-height="' + number_input_option.max_height + '" data-min-height="' + number_input_option.min_height + '" type="text" name="height" data-dimension="'+number_input_option.dimension+'">'+ number_input_option.dimension
        }else if(number_input_option["input_type"].includes("height_select")){
          height_html = '세로 : &nbsp;<select style="padding-left:5px; padding-right:30px;" id="height" data-max-height="' + number_input_option.max_height + '" data-min-height="' + number_input_option.min_height + '"  type="text" name="height" data-dimension="'+number_input_option.dimension+'">'+ number_input_option.height_select.split("&").map(e=>{return "<option value='"+e+"'>"+e+number_input_option.dimension+"</option>" }) +'</select>'
        }
    

        seg = '<div class="option_item product_option_item" style="border-top: 1px solid #f0f0f0;padding: 14px 0px 14px 15px;">  \
                            <span class="option_title">가로 x 세로<i class="las la-question-circle"></i></span>\
                            <div class="select_form flex md:justify-start xxs:justify-end items-center" style="padding:0px">'
                           +width_html+height_html+
                        '</div></div>\
                        <div style="text-align:right; font-size: 14px; color:red">* 입력은 쉼표(,) 없이 숫자만 입력해 주세요.</div>\
                        '
      

      }else if( number_input_option["input_type"].includes("width") &&  number_input_option["input_type"].includes("height")
        && number_input_option["input_type"].includes("vertical") ){
        console.log(number_input_option)
       // 가로 선택 + 세로 입력의 경우
     
        let width_html = ""
        let height_html = ""
        let vertical_html = ""
        
        if( number_input_option["input_type"].includes("width_input") ){
          width_html = '가로 : &nbsp;<input data-trigger="manual" class="xxs:w-[100px] md:w-[100px]" style="padding-left:5px; padding-right:5px;" title="33" data-toggle="tooltip" id="width" data-max-width="' + number_input_option.max_width + '" data-min-width="' + number_input_option.min_width + '" type="text" name="width" data-dimension="'+number_input_option.dimension+'">'+ number_input_option.dimension
        }else if( number_input_option["input_type"].includes("width_select")  ){
          width_html = '가로 : &nbsp;<select style="padding-left:5px; padding-right:30px;" id="width" data-max-width="' + number_input_option.max_width + '" data-min-width="' + number_input_option.min_width + '"  type="text" name="width" data-dimension="'+number_input_option.dimension+'">'+ number_input_option.width_select.split("&").map(e=>{return "<option value='"+e+"'>"+e+number_input_option.dimension+"</option>" }) +'</select>'
        }

        if( number_input_option["input_type"].includes("height_input") ){
          height_html = '세로 : &nbsp;<input data-trigger="manual" class="xxs:w-[100px] md:w-[100px]" style="padding-left:5px; padding-right:5px;" title="33" data-toggle="tooltip" id="height" data-max-height="' + number_input_option.max_height + '" data-min-height="' + number_input_option.min_height + '" type="text" name="height" data-dimension="'+number_input_option.dimension+'">'+ number_input_option.dimension
        }else if(number_input_option["input_type"].includes("height_select")){
          height_html = '세로 : &nbsp;<select style="padding-left:5px; padding-right:30px;" id="height" data-max-height="' + number_input_option.max_height + '" data-min-height="' + number_input_option.min_height + '"  type="text" name="height" data-dimension="'+number_input_option.dimension+'">'+ number_input_option.height_select.split("&").map(e=>{return "<option value='"+e+"'>"+e+number_input_option.dimension+"</option>" }) +'</select>'
        }
    

        if( number_input_option["input_type"].includes("vertical_input") ){
          vertical_html = '높이 : &nbsp;<input data-trigger="manual" class="xxs:w-[100px] md:w-[100px]" style="padding-left:5px; padding-right:5px;" title="33" data-toggle="tooltip" id="vertical" data-max-vertical="' + number_input_option.max_vertical + '" data-min-vertical="' + number_input_option.min_vertical + '" type="text" name="vertical" data-dimension="'+number_input_option.dimension+'">'+ number_input_option.dimension
        }else if(number_input_option["input_type"].includes("vertical_select")){
          vertical_html = '높이 : &nbsp;<select style="padding-left:5px; padding-right:30px;" id="vertical" data-max-vertical="' + number_input_option.max_vertical + '" data-min-vertical="' + number_input_option.min_vertical + '"  type="text" name="vertical" data-dimension="'+number_input_option.dimension+'">'+ number_input_option.vertical_select.split("&").map(e=>{return "<option value='"+e+"'>"+e+number_input_option.dimension+"</option>" }) +'</select>'
        }
        console.log(width_html+height_html+vertical_html)
        seg = '<div class="option_item product_option_item" style="border-top: 1px solid #f0f0f0;padding: 14px 0px 14px 15px;"">  \
                            <span class="option_title">가로 x 세로<i class="las la-question-circle"></i></span>\
                            <div class="select_form flex md:justify-start xxs:justify-end items-center" style="padding:0px">'
                           +width_html+height_html+vertical_html+
                        '</div></div>\
                        <div style="text-align:right; font-size: 14px; color:red">* 입력은 쉼표(,) 없이 숫자만 입력해 주세요.</div>\
                        '
      }
    
      
      $(".product_option_container").prepend(seg)
    }
  }






  // 상품 그룹이 존재하면 상품 그룹 렌더링
  var group_name ="{{ product.group.name }}"
  var group_set = eval("{{ product.group.group_product_set_id_list|safe }}")
  console.log(group_set)
  var group_id_list = ""
  if(group_set)  group_id_list = group_set.map(e=>{ return "<option value='"+e.id+"' "+ (e.id=={{ product.id }}?"selected":"")  +">"+e.group_specific_name+"</option>" }).join("")
  if(group_set){
    var seg = '<div class="option_item product_option_item" style="border-top: 1px solid #f0f0f0;padding: 14px 0px 14px 15px;">' + '<span  class="option_title">' + group_name  + '</span>\
                          <select style="max-width:430px"  class=" form-control group_selection" name="product_option">' + group_id_list + '</select></div>'
      $(".product_option_container").prepend(seg)
      $(document).on("change",".group_selection", function (){
          location.href="/product/detail/"+$(this).val()+location.search
      })
  }



  // 텍스트 옵션 렌더링 시작
  for (var k = (text_option_list.length - 1); k > -1; k--) {
    if (text_option_list[k].name != "" && text_option_list[k].value != "") {
      var seg = '<div class="option_item product_option_item" style="border-top: 1px solid #f0f0f0;padding: 14px 0px 14px 15px;">' + '<span data-exp-title="' + text_option_list[k].exp_title + '"data-exp-content="' + text_option_list[k].exp_content + '" data-exp-url="' + text_option_list[k].exp_image + '"  data-exp-url-id="' + text_option_list[k].exp_image_id + '"  class="option_title">' + text_option_list[k].name + '<i class="las la-question-circle tooltip_click"></i></span>' + '<div data-target="' + text_option_list[k].value + '" class="select_form product_option" name="product_option">' + text_option_list[k].value + '</div></div>'
      $(".product_option_container").prepend(seg)
    }
  }

  //$("select.product_option").not(".group_selection").change()
  var product_price_format = {
    product_inner: [],
    product_num_inner: 1,
    product_inner_option: [],
    additional_product_inner: [],
    count: 1,
    size: {
      need_to_input_option: number_input_option["need_to_input_option"]
        ? true
        : false,
      width: 0,
      height: 0
    },
    add_product: function (o) {
      this
        .product_inner
        .push({name: o.name, price: o.price, count: 1})
      this.render_option_product()
    },
    product: function (index) {
      return product_inner[index]
    },
    get all_product() {
      return this.product_inner
    },
    clear_product: function () {
      this.product_inner = []
      this.render_option_product()
      this.total_price()
    },
    add_product_option: function (obj) {
      let index = this
        .product_inner_option
        .findIndex(function (e) {
          if (e.type == obj.type)
            return e
        })
      if (index != -1) {
        this
          .product_inner_option
          .splice(index, 1)
      }
      this
        .product_inner_option
        .push(obj)
    },
    increase_product_count: function (index) {
      this.count = this.count + 1
      console.log(this.count)
      $(".product_num .current_num").text(this.count)
      // 가격 재계산

      for (var k = 0; k < $(".price_container > div[data-target-id*='select_'] > .value").length; k++) {
        var original_text = $(".price_container > div[data-target-id*='select_'] > .value")
          .eq(k)
          .attr("data-original-price")
        original_text = parseInt(original_text * this.count)
        $(".price_container > div[data-target-id*='select_'] > .value")
          .eq(k)
          .text(original_text.toLocaleString() + "원")
      }
      $("select.select_form").change()
      this.total_price()
    },
    decrease_product_count: function (index) {
      // 선택 제품이 1종류 인데  제품이 0개로 세팅 되면
      if (this.count == 1) {
        alert("제품은 1개이상 선택하셔야 합니다.")
        return;
      } else {
        this.count = this.count - 1
        $(".product_num .current_num").text(this.count)
        // 가격 재계산
       
        this.total_price()
      }
      for (var k = 0; k < $(".price_container > div[data-target-id*='select_'] > .value").length; k++) {
        var original_text = $(".price_container > div[data-target-id*='select_'] > .value")
          .eq(k)
          .attr("data-original-price")
        original_text = parseInt(original_text * this.count)
        $(".price_container > div[data-target-id*='select_'] > .value")
          .eq(k)
          .text(original_text.toLocaleString() + "원")
      }
      $("select.select_form").change()
    },
    render_option_product: function () {
      $(".addtional_product_count").empty()
      for (var k = 0; k < this.product_inner.length; k++) {
        var seg = '<div style="display:flex;width: 100%; justify-content: inherit;"> <span class="option_title">' + this
          .product_inner[k]
          .name + '</span>\
                  <div data-option-index="' + k + '" class="product_num" style="display: flex; border:1px solid #ddd;">\
                      <div class="minus" style="background-color: #eee;border-right: 1px solid #ddd;width: 30px;; height: 30px;text-align: center;cursor: pointer;">-</div> \
                      <div class="current_num" style="width: 30px;; height: 30px;text-align: center;cursor: pointer;">' + this
          .product_inner[k]
          .count + '</div>\
                      <div class="plus" style="background-color: #eee; border-left: 1px solid #ddd; width: 30px;; height: 30px;text-align: center;cursor: pointer;">+</div>\
                  </div></div>'
        $(".addtional_product_count").append(seg)
      }
    },
    get additional_product() {
      return this.additional_product_inner
    },
    increase_additional_product_num: function (id) {
      console.log(this)
      console.log(id)
      this
        .additional_product_inner
        .find(function (e) {
          if (e.id === id)
            return e
        })
        .count = this
        .additional_product_inner
        .find(function (e) {
          if (e.id === id)
            return e
        })
        .count + 1;
      this.rerender_additional_product_count(id, this.additional_product_inner.find(function (e) {
        if (e.id === id)
          return e
      }).count)
      this.total_price()

      var original_text = $(".additional_product_price_result[data-target-id='" + id + "']")
        .find(".option_title")
        .text()
        .trim()
      var next_text = original_text.split("*")[0] + "*" + this
        .additional_product_inner
        .find(function (e) {
            if (e.id === id)
              return e
          })
        .count
        $(".additional_product_price_result[data-target-id='" + id + "']")
        .find(".option_title")
        .text(next_text)

      return "this.additional_product_inner.find( function(e){ if(e.id===id) return e}).count"
    },
    decrease_additional_product_num: function (id) {
      if (this.additional_product_inner.find(function (e) {
        if (e.id === id)
          return e
      }).count > 1) {
        this
          .additional_product_inner
          .find(function (e) {
            if (e.id === id)
              return e
          })
          .count = this
          .additional_product_inner
          .find(function (e) {
            if (e.id === id)
              return e
          })
          .count - 1;
        this.rerender_additional_product_count(id, this.additional_product_inner.find(function (e) {
          if (e.id === id)
            return e
        }).count)
        this.total_price()
      } else {
        this
          .additional_product_inner
          .find(function (e) {
            if (e.id === id)
              return e
          })
          .count = this
          .additional_product_inner
          .find(function (e) {
            if (e.id === id)
              return e
          })
          .count - 1;
        if (this.additional_product_inner.find(function (e) {
          if (e.id === id)
            return e
        }).count < 0) {
          this
            .additional_product_inner
            .find(function (e) {
              if (e.id === id)
                return e
            })
            .count = 0
        }
        this.rerender_additional_product_count(id, this.additional_product_inner.find(function (e) {
          if (e.id === id)
            return e
        }).count)
        this.total_price()
      }
      var original_text = $(".additional_product_price_result[data-target-id='" + id + "']")
        .find(".option_title")
        .text()
        .trim()
      var next_text = original_text.split("*")[0] + "*" + this
        .additional_product_inner
        .find(function (e) {
            if (e.id === id)
              return e
          })
        .count
        $(".additional_product_price_result[data-target-id='" + id + "']")
        .find(".option_title")
        .text(next_text)
    },
    append_additional_product: function (data) {
      console.log(data,this.additional_product_inner)
      if (this.additional_product_inner.findIndex(function (e) {
        if (e.id == data.id)
          return e
      }) == -1) {
        console.log("추가", this.additional_product_inner)
        this
          .additional_product_inner
          .push(data)
        console.log("추가 후", this.additional_product_inner)
        $(".additional_price_container").append('<div data-target-id="' + data.id + '"  class="d-flex flex-row justifys-content-between additional_product_price_result" style="width:100%">' + '<span class="option_title" style="font-size: 16px;;flex-grow: 1;width: initial;font-size: 15px; font-weight:normal"">' + data.type + " : " + data.name + '</span>' + '<span class="value" data-original-price="' + data.count + '" style=" font-size: 16px;">' + data.count.toLocaleString() + '원</span>' + '</div>')

      } else {
        // let index = this
        //   .additional_product_inner
        //   .findIndex(function (e) {
        //     if (e.id == data.id)
        //       return e
        //   })
        // // this.additional_product_inner = this.additional_product_inner.filter((e, i) => { i != index })
        // this.additional_product_inner = this
        //   .additional_product_inner
        //   .filter(function (e, i) {
        //     i != index
        //   })
      }
      // 화면에 재-렌더링 해준다
      this.rerender_additional_product_count(data.id, this.additional_product_inner.find(function (e) {
        if (e.id === data.id)
          return e
      }).count)
      // 가격 재계산
      console.log("재계산전:",this.additional_product_inner)
      this.total_price()
    },
    reset_additional_product: function (text) {
  
      console.log("reset before", JSON.stringify(this.additional_product_inner) )
      this.additional_product_inner = this
        .additional_product_inner
        .filter(function (e, i) {
          console.log(  e.id.indexOf(text)  )
         if(  e.id.indexOf(text) == -1 ) return e
        })
        console.log("reset after", JSON.stringify(this.additional_product_inner))
      $(".additional_num[data-additional-product-id=" + text.split("_")[0] + "]")
        .find(".current_num")
        .text("0")
      $(".additional_price_container > div[data-target-id*='" + text + "']").detach()

      this.total_price()
    },
    rerender_additional_product_count: function (id, num) {
      $(".additional_num[data-additional-product-id=" + id.split("_")[0] + "]")
        .find(".current_num")
        .text(num)
    },
    // 가로,세로 입력값 리스닝 + 가격 재계산
    input_product_width_and_height: function (e) {
      this.size.width = parseInt($("#width").val())
      this.size.height = parseInt($("#height").val())
      $("select.select_form").change()
      this.total_price()
    },

    //전체 가격 수정
    total_price: function () {
      var min_price_per_one;
      var product_price = {{product.discount_price}};
      $(".price_container > div[data-target='original'] > .value")
        .eq(1)
        .text((this.count * {{product.discount_price}}).toLocaleString() + "원")
      if (number_input_option["need_to_input_option"]) {
        // 단위 면적당 가격 , cm -> m2     
        var area_price = (parseInt($("#width").val()) * parseInt($("#height").val())) * parseFloat(parseFloat(number_input_option["price_per_area"]) / parseFloat(10000))
        if(number_input_option.dimension == "mm"){
          area_price = area_price / 100
        }
      
        // 최소 주문 금액보다 금액이 적은 경우 최소 주문 금액으로 주문된다
        if (isNaN(area_price)) {
          area_price = 0
        }
        if (area_price < parseInt(number_input_option["min_price_per_one"])) {
          product_price = parseInt(number_input_option["min_price_per_one"])

          $("#product_price_original")
            .find(".value")
            .text(product_price.toLocaleString() + "원")
        } else {
          //   product_price=area_price
          product_price = Math.ceil(parseFloat(area_price) /100.0) * 100

          $("#product_price_original")
            .find(".value")
            .text(area_price.toLocaleString() + "원")
        }

        $(".price_container > div[data-target='original'] > .value")
          .eq(1)
          .text((this.count * product_price).toLocaleString() + "원")
      }

      var option_price = 0;
      for (var k = 0; k < this.product_inner_option.length; k++) {
        console.log(this.product_inner_option)
        if (this.product_inner_option[k].type != "design") {
          if(this.product_inner_option[k].name.includes("당")  ){
            let option_area = (parseInt($("#width").val()) * parseInt($("#height").val()))
            if(number_input_option.dimension == "mm"){
              option_area = option_area / 1000000
            }else{
              option_area = option_area / 10000
            }
            option_price += parseInt(this.product_inner_option[k].value)* option_area 
          }else{
            option_price += parseInt(this.product_inner_option[k].value) 
          }
        }
      }
      if(isNaN(option_price)){
        option_price = 0
      }
      console.log(option_price)
      var design_price = 0;
      for (var k = 0; k < this.product_inner_option.length; k++) {
        console.log(this.product_inner_option[k].type)
        if (this.product_inner_option[k].type == "design") {

          design_price += parseInt(this.product_inner_option[k].value)
        }
      }
      product_price = (product_price + option_price) * this.count + design_price;
      var additional_product_list = product_price_format.additional_product
      for (var k = 0; k < additional_product_list.length; k++) {
        var price = parseInt(additional_product_list[k].per_price) * additional_product_list[k]
          .count
          $(".additional_product_price_result[data-target-id='" + additional_product_list[k].id + "']")
          .find(".value")
          .text(price.toLocaleString() + "원")
        product_price += parseInt(additional_product_list[k].per_price) * additional_product_list[k].count
      }
      if (isNaN(product_price)) {
        product_price = 0
      }
      $("#product_final_price").text(product_price.toLocaleString() + "원")
      $("#product_final_price_vat").text((product_price * 0.1).toLocaleString() + "원")
      $("#product_final_price_plus_vat").text((product_price * 1.1).toLocaleString() + "원")
      if ($(".additional_price_container .additional_product_price_result").length == 0) {
        $(".additional_price_container div[data-target='additional']").removeClass("d-flex")
        $(".additional_price_container div[data-target='additional']").css("display", "none")
      } else {
        $(".additional_price_container div[data-target='additional']").addClass("d-flex")
        $(".additional_price_container div[data-target='additional']").css("display", "flex")
      }
      return product_price;
    }
  }
    var select_from_change=0

  // 상품 옵션 추가시 이벤트 리스너
  $("select.select_form").on("change", function () {
    var obj_arr;
    obj_arr = {
      type: $(this).attr("data-target"),
      value: $(this).val(),
      name: $(this)
        .find("option:selected")
        .eq(0)
        .text()
    }
       
    // $(this).val("none")
    console.log(product_price_format)
   if(select_from_change <  $("select.select_form").length ) {

      let option_price = 0
       if( obj_arr.name.includes("당") ){
          let option_area = (parseInt($("#width").val()) * parseInt($("#height").val()))
          if(number_input_option.dimension == "mm"){
            option_area = option_area / 1000000
          }else{
            option_area = option_area / 10000
          }
          option_price = option_area * $(this).val() * product_price_format.count
       }else{
        option_price = $(this).val() * product_price_format.count
       }    
       $(".price_container")
           .find("div[data-target-id='" + $(this).attr("data-target-id") + "']")
           .detach()
       $(".price_container").append('<div data-target-id="' + $(this).attr("data-target-id") + 
            '" data-target="' + $(this).attr("data-target") + '" class="d-flex flex-row justifys-content-between" style="width:100%">' + 
            '<span class="option_title" style="font-size: 16px;;flex-grow: 1;width: initial;font-size: 15px; font-weight:normal"">' + 
              $(this).closest(".option_item").find(".option_title").text().trim() + " : " + 
              $(this).find("option:selected").text().trim().split("(+")[0] + '</span>' + 
              '<span class="value" data-original-price="' + $(this).val() + '" style=" font-size: 16px;">' + (
                option_price).toLocaleString() + '원</span>' + '</div>')
    select_from_change = select_from_change+1
   }else {
      let option_price = 0
       if( obj_arr.name.includes("당") ){
          let option_area = (parseInt($("#width").val()) * parseInt($("#height").val()))
          if(number_input_option.dimension == "mm"){
            option_area = option_area / 1000000
          }else{
            option_area = option_area / 10000
          }
          option_price = option_area * $(this).val() * product_price_format.count
       }else{
        option_price = $(this).val() * product_price_format.count
       }       
       if(isNaN(option_price)){
        option_price = 0
      }
       var target = $(".price_container").find("div[data-target-id='" + $(this).attr("data-target-id") + "']")
       $(target).attr("data-target", $(this).attr("data-target"))
       $(target).html('<span class="option_title" style="font-size: 16px;;flex-grow: 1;width: initial;font-size: 15px; font-weight:normal"">' + $(this).closest(".option_item").find(".option_title").text().trim() + " : " + $(this).find("option:selected").text().trim().split("(+")[0] + '</span>' + '<span class="value" data-original-price="' + $(this).val() + '" style=" font-size: 16px;">' + (
        option_price ).toLocaleString() + '원</span>');
   }


    product_price_format.add_product_option(obj_arr);
    product_price_format.total_price()

  })
var design_form_change = 0
  $("select.design_form").on("change", function () {
    var obj_arr;
    obj_arr = {
      type: $(this).attr("data-target"),
      value: $(this).val(),
      name: $(this)
        .find("option:selected")
        .eq(0)
        .text()
    }


    
    if(design_form_change == 0) {
        $(".price_container")
            .find("div[data-target-id='" + $(this).attr("data-target-id") + "']")
            .detach()
        $(".price_container").append('<div data-target-id="' + $(this).attr("data-target-id") + '" data-target="' + $(this).attr("data-target") + '" class="d-flex flex-row justify-content-between" style="width:100%">' + '<span class="option_title" style="font-size: 16px;;flex-grow: 1;width: initial;font-size:15px; font-weight:normal">' + $(this).closest(".option_item").find(".option_title").text().trim() + " : " + $(this).find("option:selected").text().trim().split("(")[0] + '</span>' + '<span class="value" data-original-price="' + $(this).val() + '" style=" font-size: 16px;">' + parseInt($(this).val()).toLocaleString() + '원</span>' + '</div>')
        design_form_change = design_form_change+1
    }else {
        var target = $(".price_container").find("div[data-target-id='" + $(this).attr("data-target-id") + "']")
        $(target).attr("data-target", $(this).attr("data-target"))
        $(target).html('<span class="option_title" style="font-size: 16px;;flex-grow: 1;width: initial;font-size:15px; font-weight:normal">' + $(this).closest(".option_item").find(".option_title").text().trim() + " : " + $(this).find("option:selected").text().trim().split("(")[0] + '</span>' + '<span class="value" data-original-price="' + $(this).val() + '" style=" font-size: 16px;">' + parseInt($(this).val()).toLocaleString() + '원</span>');
    }
    product_price_format.add_product_option(obj_arr);
    product_price_format.total_price()

  })

  $("select.select_form").change()
$("select.design_form").change()
  //옵션이 없는 경우에는 한개 증가시켰다가 내림
  product_price_format.increase_product_count()
  product_price_format.decrease_product_count()

  // 상품 옵션 추가시 이벤트 리스너 끝

  // 처리가 완료 됬으므로 로딩 표시 제거
  $(".product_order_detail").removeClass("loading")

  // 상품 수량 추가/감소 처리
  $(document).on("click", ".product_num >.plus", function () {
    let current_num = parseInt( $(".current_num").text() )

    
    if( (current_num + 1) > max ){
      alert("해당 제품은 최대 "+  max+"개 를 구매하실수 있습니다. ")
      return false
    }
    product_price_format.increase_product_count()
  })
  
  $(document).on("click", ".add_set", function () {
    let current_num = parseInt( $(".current_num").text() )
    let num = parseInt( $(this).attr("data-num") )
    if( (current_num + num) > max ){
        alert("해당 제품은 최대 "+  max+"개 를 구매하실수 있습니다. ")
        for( var i =0; i < (max-current_num); i++ ){
          $(".product_set.plus").click()
        }
        return false
      }else{
        for( var i =0; i < (num); i++ ){
          $(".product_set.plus").click()
        }
      }
    
  })

  $(document).on("click", ".product_num >.minus", function () {
    let current_num = parseInt( $(".current_num").text() )
  
    
  if( (current_num - 1) < min ){
    alert("해당 제품은 최대 "+  min+"개 를 구매하실수 있습니다. ")
    return false
  }
    product_price_format.decrease_product_count()
  })
    // min 주문 수량 초기화
  for(let k=1 ; k < min; k++){
    $(".product_num >.plus").click()

  }
  
  $(document).on("click", ".additional_num > .plus", function () {
  
    var id = $(this)
      .closest(".additional_num")
      .attr("data-additional-product-id") + "_" + $(this)
      .closest(".additional_product_item")
      .find("select")
      .find("option:selected")
      .attr("data-id")
    product_price_format.increase_additional_product_num(id)
  })
  $(document).on("click", ".additional_num > .minus", function () {
    var id = $(this)
      .closest(".additional_num")
      .attr("data-additional-product-id") + "_" + $(this)
      .closest(".additional_product_item")
      .find("select")
      .find("option:selected")
      .attr("data-id")
    product_price_format.decrease_additional_product_num(id)
  })

  // 추가 상품 change 이벤트 리스너
  $(".additional_product").on("change", function () {
   
      console.log($(this).val())
      
    if ($(this).val() == "none") {
      product_price_format.reset_additional_product($(this).attr("data-additional-product-id") + "_")
    } else
     {
      var data = {
        id: $(this).attr("data-additional-product-id") + "_" + $(this)
          .find("option[value='"+$(this).val()+"']")
          .attr("data-id"),
        type: $(this)
          .closest(".additional_product_item")
          .find(".option_title")
          .text()
          .trim(),
        name: $(this).val(),
        per_price: $(this)
          .find("option[value='"+$(this).val()+"']")
          .attr("data-price"),
        count: 0
      }
      product_price_format.reset_additional_product($(this).attr("data-additional-product-id") + "_")
    
      product_price_format.append_additional_product(data);
    
    }
  })
// 부속 상품 이미지 클릭시
    $(document).on("click",".additional_product_img", function (){
       if($(this).hasClass("active")){
     
        var id = $(this).find("input").attr("name").split("_")[2]
        var item_id = $(this).attr("data-item-id")   
        var value = $("select[data-additional-product-id="+id+"]").find("option[data-id="+item_id+"]").attr("value")     
        $("select[data-additional-product-id="+id+"]").val( "none" )
        $(this).closest(".additional_product_item").find("select").change()
        $(this).find("input").prop("checked", false);
        $(this).removeClass("active")
       }else{
        $(this).closest(".option_item").find(".additional_product_img").removeClass("active")
        $(this).addClass("active")
        $(this).find("input").prop("checked", true);
        var id = $(this).find("input").attr("name").split("_")[2]
        var item_id = $(this).attr("data-item-id")   
        var value = $("select[data-additional-product-id="+id+"]").find("option[data-id="+item_id+"]").attr("value")     

        $("select[data-additional-product-id="+id+"]").val( value )

        $(this).closest(".additional_product_item").find("select").change()
       }
      
    })

  // 추가 상품 change 이벤트 리스너 끝

  //가로 세로 입력시 가격 계산
  $(document).on("keyup", "#height,#width", function () {
    product_price_format.input_product_width_and_height()
  })
  // 추가 상품 initiation
  // $(".additional_product").find("option").not("option[value=none]").each(function(e){
  //     if( $(this).attr("value") != "" ){
  //         $(".additional_product").val($(this).attr("value"));
  //         $(".additional_product").trigger("change")
  //     }
  // })
  // $(".additional_product").closest(".product_option_item").css("display","none")
  if ($(".addtional_product_count").find(".option_title").length == 0) {
    // $(".product_option_item.main_product").css("border","none")
  }

  // 상품 ? 클릭시 정보 디스플레이
  $(document).on("click", ".tooltip_click", function () {

    var offset = $(this)
      .closest("span")
      .eq(0)
      .offset()
    var target = $(this).closest("span")
      $.ajax({
          url:"/shop_admin/get_product_img/"+target.attr("data-exp-url-id"),
          success:function (res){
            $(".tooltip_content")
              .eq(0)
              .find(".exp_image")
              .html("<img style='width:200px' src='" + res.result.url + "'/>")
            $(".tooltip_content")
              .eq(0)
              .find(".exp_title")
              .text(target.attr("data-exp-title"))
            $(".tooltip_content")
              .eq(0)
              .find(".exp_content")
              .text(target.attr("data-exp-content"))
            $(".tooltip_content").removeClass("hidden")
            $(".tooltip_content").css("top", offset.top)
            $(".tooltip_content").css("left", offset.left - 220)
          }
      })
  })
  $(document).on("click", ".tooltip_close", function () {
    $(".tooltip_content").addClass("hidden")
  })

  // 상품 장바구니에 넣기
  $(".add_basktet").on("click", function () {
    {% if user.is_authenticated == False %}
    //비회원일 경우
    alert("비회원 장바구니 추가/구매 기능은 준비중입니다.로그인후 이용해주세요.")
      {% else %}
  var data = {
    original_product_id: {{product.id}},
    original_product_price: 0,
    vat: $("#product_final_price_vat")
      .text()
      .trim()
      .replace("원", "")
      .replace(",", ""),
    original_product_count: product_price_format.product_num,
    total_price: product_price_format.total_price(),
    json: Object.assign({}, product_price_format),
    additional_product: product_price_format.additional_product,
    comment: $(".product_default_text_area")
      .find("textarea")
      .val()
  };

  var id;
  $.ajax({
    type: "POST",
    contentType: false,
    processData: false,
    async: false,
    enctype: 'multipart/form-data',
    url: "/account/mypage/add_basket",
    data: JSON.stringify(data),
    success: function (res) {
      id = res.result
    }
  })
  var file_data = {
    file_0: $("#file_0")[0]
      ? $("#file_0")[0].files[0]
      : "",
    file_1: $("#file_1")[0]
      ? $("#file_1")[0].files[0]
      : "",
    file_2: $("#file_2")[0]
      ? $("#file_2")[0].files[0]
      : ""
  };
  var formdata = new FormData()
  for (var k = 0; k < Object.keys(file_data).length; k++) {
    formdata.append(Object.keys(file_data)[k], file_data[Object.keys(file_data)[k]])
  }
  $.ajax({
    type: "POST",
    contentType: false,
    processData: false,
    enctype: 'multipart/form-data',
    url: "/account/mypage/modify_basket/" + id,
    data: formdata,
    success: function (res) {
      if (confirm("장바구니에 추가되었습니다. 장바구니페이지로 이동하시겠습니까?")) {
        location.href = "/account/basket"
      }
    }
  })
    {% endif %}
})

// 상품 구매하기
$(".payment").on("click", function () {
{% if user.is_authenticated == False %}
//비회원일 경우
alert("비회원 장바구니 추가/구매 기능은 준비중입니다.로그인후 이용해주세요.") {% else %}
var data = {
original_product_id: {{ product.id}},
original_product_price: 0,
vat: $("#product_final_price_vat")
.text()
.trim()
.replace("원", "")
.replace(",", ""),
original_product_count: product_price_format.product_num,
total_price: product_price_format.total_price(),
json: Object.assign({}, product_price_format),
additional_product: product_price_format.additional_product,
comment: $(".product_default_text_area")
.find("textarea")
.val()
};

var id;
$.ajax({
type: "POST",
contentType: false,
processData: false,
async: false,
enctype: 'multipart/form-data',
url: "/account/mypage/add_basket",
data: JSON.stringify(data),
success: function (res) {
id = res.result
}
})
var file_data = {
file_0: $("#file_0")[0]
? $("#file_0")[0].files[0]
: "",
file_1: $("#file_1")[0]
? $("#file_1")[0].files[0]
: "",
file_2: $("#file_2")[0]
? $("#file_2")[0].files[0]
: ""
};
var formdata = new FormData()
for (var k = 0; k < Object.keys(file_data).length; k++) {
formdata.append(Object.keys(file_data)[k], file_data[Object.keys(file_data)[k]])
}
$.ajax({
type: "POST",
contentType: false,
processData: false,
enctype: 'multipart/form-data',
url: "/account/mypage/modify_basket/" + id,
data: formdata,
success: function (res) {
location.href = "/account/basket"
}
}) {% endif %}
})

// 견적서 보기
$(".estimate").on("click", function () {
if (confirm("견적서 확인시 제품을 장바구니에 추가합니다. 계속하시겠습니까?")) {
//장바구니 넣기
{% if user.is_authenticated == False %}
//비회원일 경우
alert("비회원 장바구니 추가/구매 기능은 준비중입니다.로그인후 이용해주세요.") {% else %}
var data = {
original_product_id: {{product.id}},
original_product_price: 0,
vat: $("#product_final_price_vat")
.text()
.trim()
.replace("원", "")
.replace(",", ""),
original_product_count: product_price_format.product_num,
total_price: product_price_format.total_price(),
json: Object.assign({}, product_price_format),
additional_product: product_price_format.additional_product,
comment: $(".product_default_text_area")
.find("textarea")
.val()
};
var id;
$.ajax({
type: "POST",
contentType: false,
processData: false,
async: false,
enctype: 'multipart/form-data',
url: "/account/mypage/add_basket",
data: JSON.stringify(data),
success: function (res) {
id = res.result
}
})
var file_data = {
file_0: $("#file_0")[0]
? $("#file_0")[0].files[0]
: "",
file_1: $("#file_1")[0]
? $("#file_1")[0].files[0]
: "",
file_2: $("#file_2")[0]
? $("#file_2")[0].files[0]
: ""
};
var formdata = new FormData()
for (var k = 0; k < Object.keys(file_data).length; k++) {
formdata.append(Object.keys(file_data)[k], file_data[Object.keys(file_data)[k]])
}
$.ajax({
type: "POST",
contentType: false,
processData: false,
enctype: 'multipart/form-data',
url: "/account/mypage/modify_basket/" + id,
data: formdata,
success: function (res) {
window.open("/product/estimate/" + id)
}
})
{% endif %}
}
})
// 견적서 보기 끝

})
</script>
<style>
.exchange_cont h3 {
  font-size: 25px;
  font-weight: bold;
  border-bottom: 3px solid #222;
  width: fit-content;
  padding: 50px 10px 10px !important;
  margin-bottom: 20px;
  margin-left: -20px;
}
</style>

{% endblock %}
