{% load sass_tags %} 
{% load product_options %} 
{% load humanize %} 
<html>
    <head>
        <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>

        <script src="https://code.jquery.com/jquery-1.12.4.js" ></script>
        <script
        src="/static/js/jquery.js"
        ></script>
          <link
            rel="stylesheet"
            href="/static/css/bootstrap.min.css"
          
            crossorigin="anonymous"
          />
          <script
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"
          ></script>
          <script type="text/javascript" src="/static/js/numeric.js" charset="utf-8"></script>
          <script
            src="/static/js/bootstrap.min.js"
        
            crossorigin="anonymous"
          ></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    </head>
    <body>
        <div class="container" style="width:900px;">
            <div class="row">
                <div class="col-7">
                    <img src="http://www.pinotmarket.co.kr/static/img/estimate_logo.png" style="width: 200px;float: left;">
                    <div style="float: left;margin-top: 65px;margin-left: 20px;;">
                        <span class="company base_info " style="font-weight: bold;font-size: 17px;;">주식회사 피노</span>
                        <span class="base_info" style="margin-left: -7px;font-weight: bold;font-size: 17px;">피노마켓</span><br>
                        <span class="base_info" style="font-size: 15px;">충청북도 청주시  흥덕구 가로수로 988</span><br>
                        <span class="base_info" style="font-size: 15px;">주식회사 피노</span>
                    </div>
                </div>
                <div class="col-5">
                    <div id="esti" style="">견적서(Invoice)</div>
                </div>               
            </div>
            <div class="row">
                <div class="col-2">대표번호</div>
                <div class="col-4">1644-0247</div>
                <div class="col-2">상호</div>
                <div class="col-4" style="position: relative;">
                    <span id="text">주식회사 피노</span>
                    <img  src="http://www.pinotmarket.co.kr/static/img/dojang.png">
                </div>
                <div class="col-2">팩스번호</div>
                <div class="col-4">043-236-9882</div>
                <div class="col-2">대표</div>
                <div class="col-4">김명수</div>                
                <div class="col-2">이메일</div>
                <div class="col-4">market@pinot.co.kr</div>
                <div class="col-2">사업자등록번호</div>
                <div class="col-4">584-86-01781</div>                
            </div>
            <div class="row" style="margin-top:20px;">
                <table>
                    <tr>
                        <th colspan="2"  style="text-align: left;padding: 10px;height: 40px;;">▷ 기 본 정 보</th>
                    </tr>
                    <tr>
                        <td  style="text-align: left;padding: 10px;width: 200px;;height: 40px;;">견적일</td>
                        <td id="today"  style="text-align: left;padding: 10px;;height: 40px;;">2021년 9월 25일</td>
                    </tr>
                    <tr>
                        <td  style="text-align: left;padding: 10px;;height: 40px;;">수신</td>
                        <td  style="text-align: left;padding: 10px;;height: 40px;;">{{request.user.nickname}}님 귀하</td>
                    </tr>
                </table>
            </div>
            <div class="row" style="margin-top: 20px;">
                <table>
                    <tr>
                        <td>
                            공급가액 <span class="supply_total"></span>원 + 부가세 <span class="vat_total"></span>원
                        </td>
                        <th>
                            총 주문금액 <span id="total" class="final_total"></span>원
                        </th>
                    </tr>
                </table>
            </div>
            <div class="row mt-5">
                <table>
                    <tr>
                        <th style="width:57px;">번호</th>
                        <th style="width:380px">주문제품</th>
                        <th style="width:131px">수량</th>
                        <th style="width:131px;">공급가액</th>
                    </tr>
                    {% for item in basket_product %}
                    <tr class="order_row item"  data-id="{{item.id}}">
                        <td style="text-align: center;">{{forloop.counter}}</td>
                        <td class="order_product flex-start" style="width:380px;align-items:start; padding-left: 20px;;"><a style="font-size: 14px;" href="/product/detail/{{item.product.original_product_id}}">
                        <b>{% get_name_by_id item %}</b></a> 
                        {% for option in item.product.json.product_inner_option %}
                        {% if option.type == "design" %}
                        <span>디자인 : [{{ option.name }}]</span>
                        {%endif%}
                        {% endfor %}
                        <section>옵션 :
                        {% if item.product.json.size.need_to_input_option %}
                          [사이즈 : {{ item.product.json.size.width }}(cm) x {{ item.product.json.size.height }}(cm)]
                        {%endif%}
                        {% for option in item.product.json.product_inner_option %} 
                        {% if option.type != "design" %} 
                          [{{option.type}} : {{ option.name }}]
                        {%endif%} 
                        {% endfor %}
                        </section>
            
                        <span>요청사항 : {% if item.product.comment != "" %} {{item.product.comment}} {% else %} 없음 {% endif %} </span>
                        <div class="flex-row"> <span>부속상품&nbsp;:&nbsp;</span><span class="additional_product_text">{{ item.get_additional_product  }}</span> </div>
                        {% if item.file_0 %}<a class="badge badge-primary" style="color:#fff!important" href="{{item.file_0.url}}" download>첨부파일</a>{% endif %}
                        {% if item.file_1 %}<a class="badge badge-primary" style="color:#fff!important" href="{{item.file_1.url}}" download>첨부파일</a>{% endif %}
                        {% if item.file_2 %}<a class="badge badge-primary" style="color:#fff!important" href="{{item.file_2.url}}" download>첨부파일</a>{% endif %}
                        </td>
                        <td class="order_process" style="width:50px;text-align: center;">{{ item.product.json.count }} </td>
                        <td class="order_process product_price" style="width: 85px;text-align: center;">
                          <span class="supply">{{ item.product.total_price|intcomma }}원</span>
                          <span class="vat" style="display: none;">({{ item.product.vat|intcomma  }}원)</span>
                        </td>
                      </tr>
                    {% endfor %}
                </table>
                <div style="margin-top: 20px;">
                    ※ 본 견적의 유효기간은 견적일로부터 10일 입니다.<br>
                    ※ 본 견적은 배송비가 포함되어 있지 않습니다.<br>
                    ※ 제품 제작 난이도 및 사양에 따라 견적이 변동될수 있습니다.<br>
                </div>
                <table style="margin-top:20px;">
                    <tr>
                        <th colspan="2" style="text-align: left;">▷ 결 제 정 보</th>
                    </tr>
                    <tr>
                        <td style="width: 200px;text-align: center;">예&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;금&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;주</td>
                        <td>주식회사 피노</td>
                    </tr>
                    <tr>
                        <td  style="width: 200px;text-align: center;">결&nbsp;&nbsp;&nbsp;제&nbsp;&nbsp;&nbsp;계&nbsp;&nbsp;&nbsp;좌</td>
                        <td>
                        농협 : 351-1151-1120-13
                        </td>
                    </tr>
                    
                </table>
            </div>
            <div class="row send_email"  style="margin-top:40px;; margin-bottom: 50px;;">
                <div class=" justify-content-end d-flex">
                    <input id="email" class="form-control" style="width:300px;;margin-right: 20px;;" id="email" placeholder="견적서를 받을 이메일을 입력해주세요">
                    <button class="btn send_estimate_btn btn-warning" style="margin-right: 30px">이메일 발송</button>
                    <button class="btn print_btn btn-primary" style="margin-right: 30px">인쇄</button>
                    <button class="btn close_btn btn-secondary" >창닫기</button>
                </div>
            </div>
            <div id="port" style="display: none;align-items: center;">
                <img src="http://www.pinotmarket.co.kr/static/img/estimate_logo.png" style="width: 200px;">
                <div>
                  피노마켓 | 주식회사 피노<br>
                  대표이사 : 김명수 | 사업자 등록번호 : 584-86-01781<br>
                  통신판매업 신고 : 제 2020-충북청주-1093호<br>
                  충청북도 청주시 흥덕구 가로수로  T.1644-0247 F.043-236-9882
                </div>
              </div>
        </div>
        <style>
            .row .col-2,.row .col-4{}
            .send_estimate_btn,.print_btn,.close_btn{
                cursor: pointer;
            }
            table{
                border:1px solid #ddd;
                border-collapse: collapse;
                border-spacing: 0;
                width: 100%;
                font-size: 18px;;
            }
            table td, table th {
                border: 1px solid #ddd;
                line-height: 1.6;
                height: 40px;;
                padding: 10px;;
    
            }
            table th{
                background-color: #eee;
                text-align: center;
            }
            .pl-10{
                padding-left:10px;
            }
            .pr-20{
                padding-right:20px;
            }
            .center{
                text-align: center;
            }
            .right{
                text-align: right;
            }
            .base_info{
                padding: 5px;
            }
            
            .company::after{
                content: " ";
                display: inline-block;
                width: 1px;
                height: 12px;
                border-left: 1px solid #ddd;
                margin-left: 7px;
                margin-top: 3px;;
            }
            a{
                color: inherit!important;
                text-decoration: none!important;
            }
            #esti{
                font-size: 51px; margin-top: 58px; border-bottom: 3px solid #000;
                height: 79px;;;
                line-height: 1;
            }
            .container{
                width: 900px;
                margin: 0px auto;
            }
            #dojang{
                position: absolute;
                    right: 142px;
                    width: 41px;
                    top: -10;
            }
            .row>.col-2 ,.row>.col-4{
                align-self: center;
            } 
            .col-2{
                font-weight: bold;
            }
            .send_estimate_btn{
                 }
        
        </style>
    </body>
    <script>
        function getToday(){
            var date = new Date();
            var year = date.getFullYear();
            var month = ("0" + (1 + date.getMonth())).slice(-2);
            var day = ("0" + date.getDate()).slice(-2);

            return year+ "년&nbsp;&nbsp;&nbsp;" +month+"월&nbsp;&nbsp;&nbsp;" + day+"일";
        }
        $("#today").html(
            getToday()
        )
          $.fn.getStyleObject = function(){
            var dom = this.get(0);
            var style;
            var returns = {};
            if(window.getComputedStyle){
                var camelize = function(a,b){
                    return b.toUpperCase();
                };
                style = window.getComputedStyle(dom, null);
                for(var i = 0, l = style.length; i < l; i++){
                    var prop = style[i];
                    var camel = prop.replace(/\-([a-z])/g, camelize);
                    var val = style.getPropertyValue(prop);
                    returns[camel] = val;
                };
                return returns;
            };
            if(style = dom.currentStyle){
                for(var prop in style){
                    returns[prop] = style[prop];
                };
                return returns;
            };
            return this.css();
        }
        $(".send_estimate_btn").on("click", function(){
            $("*").each(function(){
                console.log(  $(this).getStyleObject()  ) 
                $(this).css(  $(this).getStyleObject() )
            })
            $("#dojang").css("position","absolute")
            $(".container").css("margin","0px 0px")
            $(".send_email").css("display","none")
           $("#port").css("display","flex")
            var html = $("body").html()
            $.ajax({
                type:"post",
                data:{
                    html:html,
                    email:$("#email").val()
                },
                success:function(){
                    alert("발송되었습니다.")
                    $(".send_email").css("display","flex")
                    $("#port").css("display","none")
                }
            })
            $(".container").css("margin","0px auto")
        })
        $(".print_btn").on("click", function(){
            window.print();
        })
        $(".close_btn").on("click", function(){
            window.close();
        })
        $(document).ready(function(){
            var supply_total = 0
            var vat_total = 0;
            $(".supply").each(function(){
                var supply = parseInt( $(this).text().trim().replace("원","").replace(",","") )
                supply_total += supply
            })
            $(".vat").each(function(){
                var vat = parseInt( $(this).text().trim().replace("(","").replace(")","").replace("원","").replace(",","") )
                vat_total += vat
            })
            $(".supply_total").text(supply_total.toLocaleString())
            $(".vat_total").text(vat_total.toLocaleString())
            $(".final_total").text( (supply_total+vat_total).toLocaleString() )
        })
    </script>
    
</html>