{% extends "shop_management/base.html" %}
{% load humanize %}
{% load sass_tags %}
{% load product_options %}
{% load index_filter %}
{% block body %}
<link href="{% sass_src 'css/list.scss' %}" rel="stylesheet" type="text/css" />
<style>
    .sub_category{
        border-radius: 100px;
        margin: 10px;      
    }
    
</style>
<div class="ie_body product_list md:w-full md:p-[0px] xxs:p-[0px] lg:w-[1024px]  xl:w-[1280px] mx-auto " style="width: 1200px">
    <div class="row product_list_info">
        {% if category.banner_set.all %}
        <script>
            function banner_click(id,url){
                $.ajax({
                    url:"/product/banner_click/"+id,
                    success:function(res){
                        location.href = url
                    }
                })
            }
        </script>
        {{ category.banner_set.all.0.id|count_up_banner }}
        <img onclick="banner_click({{category.banner_set.all.0.id}},'{{category.banner_set.all.0.link}}')" src="{{category.banner_set.all.0.pc_image_url}}" style="width: 100%; margin-top: -10px;;cursor: pointer;">
        {% endif %}
        <div class="main_tab" style="">         
            <div class="category_name">{{category.name}}</div>           
        </div>
        <div style="width:100%">
            <div class="sub_category_list d-flex"  style="flex-wrap: wrap;">
                {% if category.category_set.all %}
                <button class="sub_category btn btn-light" data-category="{{category.id}}" onclick="location.href='/product/list/{{item.id}}?image_id={{ image_id|default:"" }}'" style="">
                   전체({{category.product_count}})
                </button>
                    {% for item in category.category_set.all %}
                    <button class="sub_category btn btn-light " data-category="{{item.id}}" onclick="location.href='/product/list/{{item.id}}?image_id={{ image_id|default:"" }}'" style="">
                            {{item.name}}({{item.product_count}})
                    </button>
                    {% endfor %}
                {% else %}
                <button class="sub_category btn btn-light" data-category="{{category.parent_category.id}}" onclick="location.href='/product/list/{{category.parent_category.id}}?image_id={{ image_id|default:"" }}'" style="">
                    전체({{category.parent_category.product_count}})
                </button>
                    {% for item in category.parent_category.category_set.all %}

                    <button class="sub_category btn btn-light "  data-category="{{item.id}}" onclick="location.href='/product/list/{{item.id}}?image_id={{ image_id|default:"" }}'" style="">
                        {{item.name}}({{item.product_count}})
                    </button>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <script>
            let id = location.pathname.split("/")[location.pathname.split("/").length - 1]
            console.log(id)
            $("button[data-category="+id+"]").removeClass("btn-light")
            $("button[data-category="+id+"]").addClass("btn-primary")
        </script>
        <div class=" filter flex md:justify-between"> 
            <div class="total min-w-[130px]" >상품 총 <b>{{category.product_count}}</b> 개</div>
            <div class="filter_group xxs:flex xxs:flex-wrap md:items-center ">
                <a data-order="-show_index" class="badge  xxs:w-1/2  md:w-[100px] {% if order_by == "-show_index" %}badge-primary{%else%}badge-light{%endif%} order_change">등록일순</a>
                <a data-order="-sell_count" class="badge  xxs:w-1/2  md:w-[100px]  {% if order_by == "-sell_count" %}badge-primary{%else%}badge-light{%endif%} order_change">판매량순</a>
                <a data-order="discount_price" class="badge  xxs:w-1/2 md:w-[100px] {% if order_by == "discount_price" %}badge-primary{%else%}badge-light{%endif%}  order_change">낮은가격순</a>
                <a data-order="-discount_price" class="badge xxs:w-1/2 md:w-[100px] {% if order_by == "-discount_price" %}badge-primary{%else%}badge-light{%endif%} order_change">높은가격순</a>
              
                <select class="pagination_select xxs:w-full  md:w-[120px] md:ml-[20px]">
                    <option value="20" {% if per_count == 20 %} selected {%endif%}>20개씩보기</option>
                    <option value="40" {% if per_count == 40 %} selected {%endif%}>40개씩보기</option>
                    <option value="60" {% if per_count == 60 %} selected {%endif%}>60개씩보기</option>
                </select>
            </div>
        </div>
        <div class="product_group grey grid grid-cols-2 px-1  gap-2  sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 lg:px-0" style="padding-top: 5px; padding-bottom: 24px; width:1200px">
            {% include "product/components/product.html" with product_list=included_product  image_id=image_id%}
          </div>
       
    </div>
</div>
{% if image_id %}
    <div style="position: fixed;bottom: 100px ;left: 50%; margin-left: -631px ; border: 2px solid #eee; border-radius: 10px; ">
        <div style="position: relative">
            <div style="border-radius: 10px;">
                <div class="img_seg" style="width: 130px; margin:10px; height: 130px; position: relative; background-image: url({{ image.image_url }}); background-size:cover; background-position:center center;" >
                </div>
            </div>
            <span class="btn btn-primary" style="border-radius: 10px;padding: 2px 5px; position: absolute; top: -20px; left: -10px;; color:#fff">선택 샘플 이미지</span>
        </div>


    </div>
{% endif %}
<script>
$(document).ready(function(){
    var order_by = "{{order_by}}"
    var page = "{{page}}"
    var per_count = "{{per_count}}"
    var url_template = "/product/list/{{id}}?page="+page+"&count="+per_count+"&order_by="+order_by+"&image_id={{ image_id|default:"" }}"
    $(".order_change").on("click", function(){
        order_by = $(this).attr("data-order")
        url_template = "/product/list/{{id}}?page="+1+"&count="+per_count+"&order_by="+order_by+"&image_id={{ image_id|default:"" }}"
        location.href=url_template
    })
    $(".pagination_select").on("change", function(){
        per_count = $(this).val()
        url_template = "/product/list/{{id}}?page="+1+"&count="+per_count+"&order_by="+order_by+"&image_id={{ image_id|default:"" }}"
        location.href=url_template
    })

})
</script>
<style>

  
</style>
{% endblock %}