{% extends "shop_management/base.html" %}
{% load humanize %}
{% load sass_tags %}
{% load index_filter %}
{% load product_options %}
{% block body %}
<link href="{% sass_src 'css/list.scss' %}" rel="stylesheet" type="text/css" />

<div class="ie_body product_list md:w-full md:p-[10px] xxs:p-[10px] lg:w-[1024px]  xl:w-[1280px] mx-auto">
    <div class="row product_list_info">
      {% if search_banner %}
      {{ search_banner.id|count_up_banner }}
      <script>
        function banner_click(id,url){
            $.ajax({
                url:"/product/banner_click/"+id,
                success:function(res){
                    location.href = url
                }
            })
        }
    </script>
      <img onclick="banner_click( {{ search_banner.id }},   '{{search_banner.link}}')" src="{{search_banner.pc_image_url}}" style="width: 100%; margin-top: -10px;;cursor: pointer;">
      {% endif %}
      
          <div class=" filter"> 
            <div class="total">상품 총 <b>{{included_product.count}}</b> 개</div>
            <div class="filter_group">
                <a class="badge badge-primary">등록일순</a>
                <a class="badge badge-light">판매량순</a>
                <a class="badge badge-light">높은가격순</a>
                <a class="badge badge-light">낮은가격순</a>
                <select >
                    <option selected>20개씩보기</option>
                    <option >40개씩보기</option>
                    <option >60개씩보기</option>
                </select>
            </div>
        </div>
        <div class="product_group grey grid grid-cols-2 px-1  gap-2  sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 lg:px-0" style="padding-top: 5px; padding-bottom: 24px; width:100%">
          {% include "product/components/product.html" with product_list=included_product %}
         
        </div>
    </div>
</div>

<style>
  .img{
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s;
    background-position: center;
    background-size: 100%;
  }
  .img:hover{
    background-size: 120%!important;
  }
  }
</style>
{% endblock %}