{% extends "shop_management/base.html" %}
{% load humanize %}
{% load sass_tags %}

{% load product_options %}
{% load index_filter %}
{% block body %}
<link href="{% sass_src 'css/list.scss' %}" rel="stylesheet" type="text/css" />
<style>
    .sub_category{
        border-radius: 100px;
        margin: 10px;      
    }
    
</style>
<div class="ie_body product_list md:w-full md:p-[0px] xxs:p-[0px] lg:w-[1024px]  xl:w-[1280px] mx-auto " style="width: 1060px">
    <div class="row product_list_info">
        {% if category.banner_set.all %}
        <script>
            function banner_click(id,url){
                $.ajax({
                    url:"/product/banner_click/"+id,
                    success:function(res){
                        location.href = url
                    }
                })
            }
        </script>
        {{ category.banner_set.all.0.id|count_up_banner }}
        <img onclick="banner_click({{category.banner_set.all.0.id}},'{{category.banner_set.all.0.link}}')" src="{{category.banner_set.all.0.pc_image_url}}" style="width: 100%; margin-top: -10px;;cursor: pointer;">
        {% endif %}
       
            {% if image_id or product_id%}
            <div style="padding: 0px; width:1060px" class="header_wrapper ie_body relative  mx-auto ">
                <div style="font-weight: bold; font-size:20px;margin-top:33px">샘플디자인 / 제품 확인</div>
                <div style="margin-top:10px;color:#E61E78;font-size:12px">선택한 샘플디자인과 적용 제품을 확인해주세요</div>
           </div>
           <div style="height: 386px; width:100%; border:2px solid #F0F0F0; margin-top:40px ; display: flex;justify-content: center;">
                <div style="margin-top:55px; margin-right: 30px;">
                    <div style="color:#141414; font-size:18px; width:100%; text-align:center">샘플디자인</div>
                    <div class="img_seg" style="margin:auto;width: 200px; height: 200px; margin-top:9px;  position: relative; background-image: url({{ image.image_url }}); background-size:cover; background-position:center center;" >
                    </div>
                    <div style="width: 200px;background-color:#1EA5DC;color:#fff;line-height: 30px; margin-top: 10px;
                    height: 30px;border-radius: 5px;text-align:center; font-size:14px; cursor:pointer" onclick="location.href='/sample_image/list?product_id={{ product_id|default:"" }}'">샘플 디자인 재선택</div>
                </div>
                <div style="margin-right:30px;">
                    <img src="/static/img/cyan.jpg" style="width: 50px;margin-top:146px">
                </div>
                <div style="margin-top:55px;margin-right:30px;">
                    <div  style="color:#141414; font-size:18px; width:100%; text-align:center">적용할 제품</div>
                    <div class="img_seg" style="margin:auto;width: 200px; height: 200px; margin-top:9px;  position: relative;background-image: url({{ product.image_url }}); background-size:cover; background-position:center center;" >
                    </div>
                    <div style="width: 200px; background-color:#FAB91E;color:#fff;line-height: 30px;margin-top: 10px; 
                    height: 30px;border-radius: 5px;text-align:center; font-size:14px; cursor:pointer"
                    onclick="location.href='/product/all?image_id={{image_id}}'"
                    >적용 제품 재선택</div>
                </div>
                <div style="margin-right:30px;">
                    <img src="/static/img/yellow.jpg" style="width: 50px;margin-top:146px">
                </div>
                <div style="margin-right:30px;" onclick="location.href='/product/detail/{{product_id}}?image_id={{ image_id }}'">
                    <img src="/static/img/magenta.jpg" style="width: 157px;margin-top:100px">
                </div>
           </div>

           {% endif %}
      
       
    </div>
</div>

<script>
$(document).ready(function(){
   $(".reselect_product").on("click", function(){
        window.scrollTo({
          top: 580,
          behavior: 'smooth'
        });
   })


    var order_by = "{{order_by}}"
    var page = "{{page}}"
    var per_count = "{{per_count}}"
    var url_template = "/product/all/{{id}}?page="+page+"&count="+per_count+"&order_by="+order_by+"&image_id={{ image_id|default:"" }}"
    $(".order_change").on("click", function(){
        order_by = $(this).attr("data-order")
        url_template = "/product/all/{{id}}?page="+1+"&count="+per_count+"&order_by="+order_by+"&image_id={{ image_id|default:"" }}"
        location.href=url_template
    })
    $(".pagination_select").on("change", function(){
        per_count = $(this).val()
        url_template = "/product/all/{{id}}?page="+1+"&count="+per_count+"&order_by="+order_by+"&image_id={{ image_id|default:"" }}"
        location.href=url_template
    })
    $("#main_category").on("change", function(){
        url_template = "/product/all/"+$(this).val()+"?page="+1+"&count="+per_count+"&order_by="+order_by+"&image_id={{ image_id|default:"" }}"
        location.href=url_template
    })

})
</script>
<style>

  
</style>
{% endblock %}