{% load sass_tags %}
{% load index_filter %}
<!DOCTYPE html>
<html>
  <head>
  <link rel="shortcut icon" href="/static/img/favi.ico"/>
  <script>

    window.mobileCheck = function() {
      let check = false;
      (function(a){if(/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|mobile.+firefox|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows ce|xda|xiino/i.test(a)||/1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(a.substr(0,4))) check = true;})(navigator.userAgent||navigator.vendor||window.opera);
      return check;
    };

  if( window.mobileCheck()   ){
    document.write('<meta name="viewport" content="width=1280, viewport-fit=cover "/>')
  }else{
    document.write(' <meta name="viewport" content="width=device-width, initial-scale=1.0"/>')
  }
  </script>
 
  <link rel="stylesheet" href="/static/css/dist/styles.css">
  <meta name="description" content="피노마켓">
    <link rel="canonical" href="https://www.pinotmarket.co.kr" />

    <title>피노마켓 당신의 프린팅 파트너</title>
    <meta name = "author" content="피노마켓">
    <meta name="description" content="UV프린팅, 디자인굿즈, 옥외광고, 실사출력, 아크릴가공까지 24시간 접수, 고품질 빠른배송!">
    <meta name="keywords" content="피노, 피노마켓, 현수막, 배너, 등신대, 옥외광고, 간판, 시트출력, UV출력, 아크릴, 포맥스, 허니콤보드, 디자인굿즈, 아크릴굿즈, 디자인스티커, 디지털프린팅">

    <meta property="og:type" content="website">
    <meta property="og:site_name" content="피노마켓" />
    <meta property="og:title" content="피노마켓 당신의 프린팅 파트너">
    <meta property="og:description" content="UV프린팅, 디자인굿즈, 옥외광고, 실사출력, 아크릴가공까지 24시간 접수, 고품질 빠른배송!">
    <meta property="og:image" content="https://www.pinotmarket.co.kr/static/img/logo.png">
    <meta property="og:url" content="https://www.pinotmarket.co.kr">
    <link rel="canonical" href="https://www.pinotmarket.co.kr" />
    <meta name="naver-site-verification" content="fc9b86accca14b99904c885464fff48008ec191f" />
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css"/>
    <link href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/static/css/dist/tail/default.css" crossorigin="anonymous"/>
    <script src="/static/js/jquery.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" crossorigin="anonymous"/>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/js/numeric.js" charset="utf-8"></script>
    <script src="/static/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <link href="{% sass_src 'css/header.scss' %}" rel="stylesheet" type="text/css"/>
    <link href="{% sass_src 'css/footer.scss' %}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"/>
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css"/>
    <!-- Channel Plugin Scripts -->
    <script>
        var agent = navigator.userAgent.toLowerCase();
        if ( (navigator.appName == 'Netscape' && agent.indexOf('trident') != -1) || (agent.indexOf("msie") != -1)) {
            document.write('<link rel="stylesheet" href="/static/css/ie_css.css" crossorigin="anonymous"/>')    // ie일 경우
        }
    </script>
      <script>
      (function () {
        var w = window;
        if (w.ChannelIO) {
          return (window.console.error || window.console.log || function () {})("ChannelIO script included twice.");
        }
        var ch = function () {
          ch.c(arguments);
        };
        ch.q = [];
        ch.c = function (args) {
          ch
            .q
            .push(args);
        };
        w.ChannelIO = ch;

        function l() {
          if (w.ChannelIOInitialized) {
            return;
          }
          w.ChannelIOInitialized = true;
          var s = document.createElement("script");
          s.type = "text/javascript";
          s.async = true;
          s.src = "https://cdn.channel.io/plugin/ch-plugin-web.js";
          s.charset = "UTF-8";
          var x = document.getElementsByTagName("script")[0];
          x
            .parentNode
            .insertBefore(s, x);
        }
        if (document.readyState === "complete") {
          l();
        } else if (window.attachEvent) {
          window.attachEvent("onload", l);
        } else {
          window.addEventListener("DOMContentLoaded", l, false);
          window.addEventListener("load", l, false);
        }
      })();
      ChannelIO("boot", {pluginKey: "a172e063-0303-44b9-a2b9-56b943afd74f"});
      ChannelIO("onBoot", function (user) {
      
        $(".widget").css("opacity", "1");
      
      });
    </script>
    <!-- End Channel Plugin -->
    <style>
      * {
        font-family: "Spoqa Han Sans Neo", "sans-serif";
      }
      .modal-content{
        border-radius:0px !important;
      }

      * {
        margin-block-start: 0;
        margin-block-end: 0;
      }

      .clear {
        clear: both;
      }

      a {
        color: inherit !important;
        text-decoration: none;
      }

      a:hover {
        text-decoration: none;
      }

      ul {
        padding: 0;
        margin: 0;
        list-style: none;
      }

      .container {}

      .row {
        margin-right: 0 !important;
        margin-left: 0 !important;
      }

      dd,
      dl,
      ol,
      ul {
        margin-top: 0;
        margin-bottom: 0;
      }

      .h1,
      .h2,
      .h3,
      .h4,
      .h5,
      .h6,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-bottom: 0;
        font-weight: 500;
        line-height: 1.2;
      }

      input {
        outline: none !important;
      }
    </style>
   
  </head>

  <body>
    {% include "shop_management/components/header.html" %}
    {% block body %}{% endblock %}
    {% include "shop_management/components/footer.html" %}
     <div class="rnb">
      <div>
        <ul>
          <li>
            <img class="widget " style="opacity: 0; margin-left: 200px; " onclick="location.href='/account/basket'" src="/static/img/basket_wiget.png"/>
          </li>
          <li>
            <img class="widget " style="opacity: 0; margin-left: 200px; " onclick="location.href='/account/custom_purchase'" src="/static/img/mypage.png"/>
          </li>
        </ul>
      </div>
    </div> 
  </body>
  {% if messages %}
    {% for message in messages %}
      <script>
        alert("{{ message }}");
      </script>
    {% endfor %}
  {% endif %}
  <script>
    $(document).ready(function () {
      $(".upward_button").on("click", function () {
        window.scrollTo({top: 0, behavior: "smooth"});
      });
    });
    {% if temp_user != False %}

  function setCookie(cookie_name, value, days) {
    var exdate = new Date();
    exdate.setDate(exdate.getDate() + days);
    // 설정 일수만큼 현재시간에 만료값으로 지정

    var cookie_value = escape(value) + (
      (days == null)
      ? ''
      : '; expires=' + exdate.toUTCString());
    document.cookie = cookie_name + '=' + cookie_value;
  }
  setCookie("temp_user", "{{temp_user}}", 30);
  {% endif %}
  </script>
  <style>
    .rnb {
      z-index: 1000;
      position: fixed;
    right: 27px;
    bottom: 96px;
    }

    .img {
      -webkit-transition: all 0.5s ease-in;
      transition: all 0.5s;
      background-position: center;
      background-size: 100%;
    }

    .img:hover {
      background-size: 105% !important;
    }

    .product {
      margin-right: 10px;
      padding-bottom: 9px;
    }

    .product:hover {
      box-shadow: 0 2px 5px #ddd;
      background-color: #fff !important;
    }

    /* .widget {
      transition: all 1s;
    } */

    .widget.loading {
      opacity: 0;
      height: initial !important;
      min-height: initial !important;
    }
  </style>

</html>
