{% extends "shop_management/company_base.html" %}
{% block content %}
<div class="page_section">
    <div class="head_aticle">
       <h2 class="tit">제휴 문의 <span class="tit_sub">피노와 함께하세요.</span></h2>
    </div>
    <div class="">
        <div class="" style="margin-bottom: 50px;">
          
          <!-- START content-->
          <div class="wrap">
            <div class="large-order large-order-con-1">

              <p class="text">
                아크릴 제품 제작이 필요하신 경우 이용하실 수 있습니다.<br>
                <br>
                레드프린팅은 약 500여개의 인쇄 장비 보유 및 인쇄 기술의 전문성을 바탕으로<br>
                각양각색의 다양한 인쇄물을 최적화된 방법으로 인쇄하며, 지속적인 기술개발로 품질은 높이고 고품질의 결과물을 생산합니다.<br>
                <br>
                소량부터 대량, 원하는 규격과 모양으로 제작이 가능합니다.
              </p>
                <div class="bx-wrapper" style="max-width: 800px; margin: 0px auto;"><div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 120px;"><ul class="acryl-slide" style="width: 615%; position: relative; transition-duration: 0.5s; transform: translate3d(-2400px, 0px, 0px);"><li style="float: left; list-style: none; position: relative; width: 800px;" class="bx-clone"><img src="https://s3-ap-northeast-2.amazonaws.com/redprintingweb.common/assets/images/ko/customerCenter_Acrylic_01_2.png" alt=""></li>
                  <li style="float: left; list-style: none; position: relative; width: 800px;"><img src="https://s3-ap-northeast-2.amazonaws.com/redprintingweb.common/assets/images/ko/customerCenter_Acrylic_01_1.png" alt=""></li>
                  <li style="float: left; list-style: none; position: relative; width: 800px;"><img src="https://s3-ap-northeast-2.amazonaws.com/redprintingweb.common/assets/images/ko/customerCenter_Acrylic_01_2.png" alt=""></li>
                  <li style="float: left; list-style: none; position: relative; width: 800px;"><img src="https://s3-ap-northeast-2.amazonaws.com/redprintingweb.common/assets/images/ko/customerCenter_Acrylic_01_1.png" alt=""></li>
                  <li style="float: left; list-style: none; position: relative; width: 800px;"><img src="https://s3-ap-northeast-2.amazonaws.com/redprintingweb.common/assets/images/ko/customerCenter_Acrylic_01_2.png" alt=""></li>
                <li style="float: left; list-style: none; position: relative; width: 800px;" class="bx-clone"><img src="https://s3-ap-northeast-2.amazonaws.com/redprintingweb.common/assets/images/ko/customerCenter_Acrylic_01_1.png" alt=""></li></ul></div><div class="bx-controls bx-has-controls-direction"><div class="bx-controls-direction"><a class="bx-prev" href="">Prev</a><a class="bx-next" href="">Next</a></div></div></div>
            </div>

            <div class="large-order large-order-con-2">
              <div class="main_title sub head-title">
                <p class="title">프로세스</p>
              </div>
                <ul class="tabs tabs-1">                    
                  <li class="completed">
                    <div class="work-process-space-1">
                      <span class="workprocess-icon workprocess-icon-1  active "></span>
                      <p class="process-title">문의 및 상담</p>
                    </div>
                    <div class="work-process-space-2"><span class="process-arrow "></span></div>
                  </li>
                  
                  <li class="completed">
                    <div class="work-process-space-1 ">
                      <span class="workprocess-icon workprocess-icon-2 "></span>
                      <p class="process-title">견적 및 샘플제작<span>(선택사항)</span></p>
                    </div>
                    <div class="work-process-space-2"><span class="process-arrow "></span></div>
                  </li>

                  <li class="completed">
                    <div class="work-process-space-1 ">
                      <span class="workprocess-icon workprocess-icon-3 "></span>
                      <p class="process-title">주문 확정</p>
                    </div>
                    <div class="work-process-space-2"><span class="process-arrow "></span></div>
                  </li>

                  <li class="completed">
                    <div class="work-process-space-1 ">
                      <span class="workprocess-icon workprocess-icon-4 "></span>
                      <p class="process-title">제품 제작</p>
                    </div>
                    <div class="work-process-space-2"><span class="process-arrow "></span></div>
                  </li>
                  <li class="completed">
                    <div class="work-process-space-1 ">
                      <span class="workprocess-icon workprocess-icon-5 "></span>
                      <p class="process-title">검수 및 배송준비</p>
                    </div>
                    <div class="work-process-space-2"><span class="process-arrow "></span></div>
                  </li>
                  <li>
                    <div class="work-process-space-1 "> 
                      <span class="workprocess-icon workprocess-icon-6 "></span>
                      <p class="process-title">발송 및 납품완료</p>
                    </div> 
                  </li>
                </ul>
            </div>

            <div class="large-order large-order-con-3">
              <div class="main_title sub head-title">
                <p class="title"> 이용안내</p>
              </div>
              <ul class="infomation-list" style="margin-top:20px;">
                <li>
                  <div class="icon"><img src="https://s3-ap-northeast-2.amazonaws.com/redprintingweb.common/assets/images/ko/customerCenter_Acrylic_02_1.svg" width="36" alt="전화번호 아이콘"></div>
                  <p class="contents-text">
                    <span class="con-text-2"><span class="front-dot"><img src="https://s3-ap-northeast-2.amazonaws.com/redprintingweb.common/assets/images/ko/mypage/mypage_frontdot_gray.svg" alt="gray dot"></span>1544-6698 ARS 2번</span><br>
                    <span class="con-text-3"><span class="front-dot"><img src="https://s3-ap-northeast-2.amazonaws.com/redprintingweb.common/assets/images/ko/mypage/mypage_frontdot_gray.svg" alt="gray dot"></span>평일 : 09:30~18:30 (점심 : 12:30 ~ 13:30), 토 / 일 / 공휴일 휴무 </span>
                  </p>
                </li>         
              </ul>
            </div>

						<form id="fconsult" class="form-detail" name="fconsult" method="post" novalidate="novalidate">
            <div class="large-order large-order-con-4">
              <div class="main_title sub head-title">
                <p class="title">온라인 문의</p>
              </div>
              
              <div class="form-wrap">
                  <fieldset class="field1">
                    <legend>1. 제품 사양 선택</legend>
                    <h3>1. 제품 사양 선택</h3>
                    <p class="title-text">원하는 제품 사양을 입력해주세요. 사양, 요청 사항이 정확할수록 더욱 빠른 안내가 가능합니다.</p>
                    
                    <div class="option-wrap mb20">
                      <div class="option-title">제품<span class="point"></span></div>
                      <div class="option-desc"><input class="placeholder" type="text" id="f_obj_1" name="f_obj_1" placeholder="제품을 입력해주세요.">
                        <div class="remove" data-type-target="f_obj_1" style="display: none;"><div class="remove-inner"><div class="line line1"></div><div class="line line2"></div></div></div>
												<span class="notice" id="msg_f_obj_1"></span>
                      </div>
                    </div>

                    <div class="option-wrap">
                      <div class="option-title">규격<span class="point"></span></div>
                      <div class="option-desc"><input class="placeholder" type="text" id="f_obj_2" name="f_obj_2" placeholder="mm 단위로 입력해주세요. (예 : 가로 200/세로 150/높이 45)">
                        <div class="remove" data-type-target="f_obj_2" style="display: none;"><div class="remove-inner"><div class="line line1"></div><div class="line line2"></div></div></div>
												<span class="notice" id="msg_f_obj_2"></span>
                      </div>
                    </div>                    

                    <div class="option-wrap-1">
											<input type="hidden" id="f_obj_3" name="f_obj_3" value="인쇄 있음">
                      <div class="option-title">제품 내 인쇄 여부</div>
                      <div class="option-desc">
                        <a class="btn-option" id="f_obj_3_btn1" data-type-target="">인쇄 없음</a>
                        <a class="btn-option active" id="f_obj_3_btn2" data-type-target="f_obj_3_text">인쇄 있음</a>
                        <div class="add-box">
                          <input type="text" id="f_obj_3_text" name="f_obj_3_text" placeholder="원하는 사양을 입력해주세요.  (예 : 상담 후 결정)" class="placeholder" style="display: inline-block;">
													<div class="remove" data-type-target="f_obj_3_text" style="display: none;"><div class="remove-inner"><div class="line line1"></div><div class="line line2"></div></div></div>
													<span class="notice"></span>
                        </div>
                      </div>                      
                    </div>

                    <div class="option-wrap-1">
											<input type="hidden" id="f_obj_4" name="f_obj_4" value="가공 없음">
                      <div class="option-title">추가가공</div>
                      <div class="option-desc">
                        <a class="btn-option active" id="f_obj_4_btn1">가공 없음</a>
                        <a class="btn-option" id="f_obj_4_btn2">레이저 각인 (에칭)</a>
                        <a class="btn-option" id="f_obj_4_btn3">레이저 모양 커팅</a>
                        <a class="btn-option" id="f_obj_4_btn4">상담 후 결정</a>
                      </div>                      
                    </div>

                    <div class="option-wrap-1">
											<input type="hidden" id="f_obj_5" name="f_obj_5" value="직접 입력">
                      <div class="option-title">부자재</div>
                      <div class="option-desc">
                        <a class="btn-option" id="f_obj_5_btn1" data-type-target="">상담 후 결정</a>
                        <a class="btn-option" id="f_obj_5_btn2" data-type-target="">젤리 테이프</a>
                        <a class="btn-option active" id="f_obj_5_btn3" data-type-target="f_obj_5_text">직접 입력</a>
                        <div class="add-box">
                          <input type="text" id="f_obj_5_text" name="f_obj_5_text" placeholder="원하는 부자재를 입력해주세요." class="placeholder" style="display: inline-block;">
													<div class="remove" data-type-target="f_obj_5_text" style="display: none;"><div class="remove-inner"><div class="line line1"></div><div class="line line2"></div></div></div>
													<span class="notice"></span>
                        </div>
                      </div>                      
                    </div>

                    <div class="option-wrap mt32">
                      <div class="option-title">수량<span class="point"></span></div>
                        <div class="option-desc option-desc-1"><input class="placeholder" type="number" id="f_obj_6" name="f_obj_6" placeholder="" min="0" max="9999999" step="1" onkeydown="return format_number(event);"><span class="qty">개</span>
												<span class="notice" id="msg_f_obj_6"></span>
                      </div>
                    </div>  

                    <input type="hidden" id="org_file_nm" name="org_file_nm" value="">
										<input type="hidden" id="new_file_nm" name="new_file_nm" value="">
										<input type="hidden" id="new_file_size" name="new_file_size" value="">
										<input type="hidden" id="s3_file_size" name="s3_file_size" value=""> 
										<div class="option-wrap mt32">
                      <div class="option-title option-title-1">파일 업로드</div>
                      <div class="option-desc option-desc-2">
												<div class="draft-info3-area draft-info3-area-2" id="id_div_upl_yn"> 
													<div class="upload-area" id="fileuplad_label">
														<div class="detail_file_upload">
																	<div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone="">
																			<div id="fine-uploade"><div class="qq-uploader-selector qq-uploader qq-gallery " qq-drop-area-text="">
            <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone="" style="display: none;">
                
            </div>
            <div class="qq-upload-button-selector" style="position: relative; overflow: hidden; direction: ltr;">
								<span class="upload-wrap upload-wrap-1">
									<img src="https://s3-ap-northeast-2.amazonaws.com/redprintingweb.common/assets/images/ko/order_addfolder_icon_1.svg" alt="">
									<span class="upload-name">PDF/JPG/PNG/ZIP</span>
								</span>
            <input qq-button-id="fe54eda6-0944-460d-8ddc-32ee9261036f" title="file input" accept="application/pdf" type="file" name="qqfile" style="position: absolute; right: 0px; top: 0px; font-family: Arial; font-size: 118px; margin: 0px; padding: 0px; cursor: pointer; opacity: 0; height: 100%;"></div>
            <ul class="qq-upload-list-selector qq-upload-list" role="region" aria-live="polite" aria-relevant="additions removals" style="display:none !important;"></ul>
        </div></div>
																</div>
														</div>
													</div>
													<div class="upload-area" id="fileupload_file_nm" style="display:none;">
														<span class="upload-wrap upload-wrap-1">
															<img src="https://s3-ap-northeast-2.amazonaws.com/redprintingweb.common/assets/images/ko/order_addfolder_icon.svg" alt="">
															<span class="upload-name" id="upload_cust_file_nm"></span>
															<a class="btn-remove"><img src="https://s3-ap-northeast-2.amazonaws.com/redprintingweb.common/assets/images/ko/order_addfile_remove_icon.svg" alt="지우기 아이콘"></a>
														</span>
													</div>
												</div>		
                        <p class="guide-text">
                          - 참고 자료(도안, 시안, 제품 이미지 등) 전달 시 보다 정확한 안내를 받으실 수 있습니다.<br>
                          - JPG / PNG / PDF / ZIP 형식으로 1개 업로드 가능
                        </p>
											</div>
                    </div>  

                    <div class="option-wrap mt32">
                      <div class="option-title">추가 사항</div>
                        <div class="option-desc option-desc-2"><textarea cols="30" rows="10" id="f_obj_11" name="f_obj_11" placeholder="추가로 작성하고 싶은 사항이 있으시다면 작성해주세요. (선택사항)" class="placeholder"></textarea>
                      </div>
                    </div>  
                  </fieldset>
                  <fieldset class="field2">
                    <legend>2. 고객 정보 입력</legend>
                    <h3>2. 고객 정보 입력</h3>
                    <p class="title-text">문의주신 내용에 대해 안내를 드릴 담당자 분의 정보를 작성해주세요.<br>
                      작성해주신 이메일로 신청해주신 문의 내용을 안내 드립니다.</p>

                      <div class="option-wrap option-wrap-2 mt32">
                          <div class="input-row">
                            <div class="input-col">
                              <input class="placeholder" type="text" id="f_obj_7" name="f_obj_7" placeholder="* 이름 / 직책">
                              <div class="remove" data-type-target="f_obj_7" style="display: none;"><div class="remove-inner"><div class="line line1"></div><div class="line line2"></div></div></div>
															<span class="notice" id="msg_f_obj_7"></span>
                            </div>
                            <div class="input-col">
                              <input class="placeholder" type="text" id="f_obj_8" name="f_obj_8" placeholder="* 기관 / 기업명">
                              <div class="remove" data-type-target="f_obj_8" style="display: none;"><div class="remove-inner"><div class="line line1"></div><div class="line line2"></div></div></div>
															<span class="notice" id="msg_f_obj_8"></span>
                            </div>
                          </div>  
                          <div class="input-row mt32">
                            <div class="input-col">
                              <input class="placeholder" type="text" id="f_obj_9" name="f_obj_9" placeholder="* 연락 가능한 연락처">
                              <div class="remove" data-type-target="f_obj_9" style="display: none;"><div class="remove-inner"><div class="line line1"></div><div class="line line2"></div></div></div>
															<span class="notice" id="msg_f_obj_9"></span>
                            </div>
                            <div class="input-col">
                              <input class="placeholder" type="text" id="f_obj_10" name="f_obj_10" placeholder="* 이메일">
                              <div class="remove" data-type-target="f_obj_10" style="display: none;"><div class="remove-inner"><div class="line line1"></div><div class="line line2"></div></div></div>
															<span class="notice" id="msg_f_obj_10"></span>
                            </div>
                          </div>                                                  
                      </div>  

                  </fieldset>

                <div class="agree-text-wrap">
                  <p class="fs_16 font-black mb10">※ 개인정보 수집 및 이용 동의</p>
                  <div class="top-head">
                    <div class="head-text">목적</div>
                    <div class="head-text">항목</div>
                    <div class="head-text">개인정보 파기 시기</div>
                  </div>
                  <div class="bottom-body">
                    <div class="bottom-text">
                      - 상담 접수 및 처리<br>
                      - 처리 내역 보관 용도
                    </div>
                    <div class="bottom-text">
                      이름, 연락처, 기업명, <br>직책, 이메일, 제품 사양
                    </div>  
                    <div class="bottom-text">
                      - 사업을 폐기하는 경우<br>
                      - 이용자가 동의를 철회, 거부한 경우
                    </div>                                                         
                  </div>
                </div>
                <div class="check-outer-wrap" style="margin-top: 20px;">
                  <div class="check-wrap">
                     <input type="checkbox" id="agree"  value="1" style="opacity: 1;position: relative;">
                     <label for="agree" class="label-text">개인정보 수집 및 이용에 동의합니다 (필수) </label>
                  </div>
                 								
                </div>
                <div class="text-center btn-large-order">
                  <button type="submit" class="" id="goSubmit">상담 신청하기</button>
                </div>
              </div>
            </div>
						</form>
          </div>

          <div class="clearfix"></div>
          <!-- END content--> 
        </div>
      </div>

 </div>
 <style>
 th{
    text-align:center
 }
 .layout-pagination-last-page {
    background-image: url(https://res.kurly.com/pc/etc/old/images/common/icon-pagination-first.png);
    transform:rotateZ(180deg);
    border-left:1px solid #ddd!important;
    border-right:0!important;
}
.contains {
    position: relative;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1180px;
}
.main_title {
    position: relative;
    margin-bottom: 40px;
    overflow: hidden;
}
.main_title.sub {
    margin-bottom: 0px;
}
.main_title .title {
    height: 49px;
    line-height: 46px;
    font-size: 15px;
    color: #000;
    font-weight: 700;
    border-bottom: 1px solid #e4e3e3;
    margin: 0 !important;
}
.head-title .title {
    color: #3c3c3c;
    border-bottom: 1px solid #dedede;
    font-size: 26px!important;
    font-weight: 500;
    text-align: left;
}
.large-order {
    clear: both;
    display: inline-block;
    width: 100%;
}
.large-order .text {
    font-size: 15px;
    color: #3c3c3c;
    line-height: 1.57;
    margin: 32px 0;
    text-align: left;
}
.large-order-con-1 .bx-wrapper {
    max-width: 100%!important;
}
.bx-wrapper {
    position: relative;
    padding: 0;
    *zoom: 1;
}
.bx-wrapper img {
    max-width: 100%;
    display: block;
}
.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    outline: 0;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    z-index: 9999;
}
.bx-wrapper .bx-prev {
    display: none;
    left: 10px;
    background: url(images/controls.png) no-repeat 0 -32px;
}
.bx-wrapper .bx-prev {
    display: none;
    left: 10px;
    background: url(images/controls.png) no-repeat 0 -32px;
}
.large-order-con-2 {
    margin: 56px 0 0 0;
}
.large-order {
    clear: both;
    display: inline-block;
    width: 100%;
}
.head-title .title {
    color: #3c3c3c;
    border-bottom: 1px solid #dedede;
    font-size: 26px!important;
    font-weight: 500;
    text-align: left;
}
.large-order .head-title .title {
    font-size: 22px!important;
}
.large-order-con-2 .tabs-1 {
    display: flex;
    border: none!important;
    background-color: #fff!important;
    border-radius: 40px;
    justify-content: space-evenly;
    width: 100%;
    margin: 30px 0 0 0;
}
.large-order-con-2 .tabs-1 li {
    border: none!important;
    background-color: transparent!important;
    color: #3c3c3c!important;
    width: 16.66%;
    display: flex;
    justify-content: space-between;
}
.large-order-con-2 .tabs-1 li .work-process-space-1 {
    width: 100px;
}
.large-order-con-2 .workprocess-icon-1 {
    background-image: url(https://s3-ap-northeast-2.amazonaws.com/redprintingweb.common/assets/images/ko/customerCenter_process_1.svg);
    background-repeat: no-repeat;
}
.large-order-con-2 .workprocess-icon {
    width: 100px;
    height: 100px;
    display: inline-block;
    background-size: 100px;
    background-position: center top;
}
.large-order-con-2 .tabs-1 li .work-process-space-1 .process-title {
    color: var(--greyish-brown);
    font-size: 13px;
    text-align: center;
    margin-top: 3px;
}
.large-order-con-2 .tabs-1 li .work-process-space-2 {
    width: 33px;
    text-align: center;
    line-height: 110px;
    padding: 0 0 0 10px;
}
.large-order-con-2 .workprocess-icon-2 {
    background-image: url(https://s3-ap-northeast-2.amazonaws.com/redprintingweb.common/assets/images/ko/customerCenter_process_2.svg);
    background-repeat: no-repeat;
}
.large-order-con-2 .workprocess-icon {
    width: 100px;
    height: 100px;
    display: inline-block;
    background-size: 100px;
    background-position: center top;
}
.large-order-con-2 .workprocess-icon-3 {
    background-image: url(https://s3-ap-northeast-2.amazonaws.com/redprintingweb.common/assets/images/ko/customerCenter_process_3.svg);
    background-repeat: no-repeat;
}
.large-order-con-2 .workprocess-icon-3 {
    background-image: url(https://s3-ap-northeast-2.amazonaws.com/redprintingweb.common/assets/images/ko/customerCenter_process_3.svg);
    background-repeat: no-repeat;
}
.large-order-con-2 .workprocess-icon-4 {
    background-image: url(https://s3-ap-northeast-2.amazonaws.com/redprintingweb.common/assets/images/ko/customerCenter_process_4.svg);
    background-repeat: no-repeat;
}
.large-order-con-2 .workprocess-icon-5 {
    background-image: url(https://s3-ap-northeast-2.amazonaws.com/redprintingweb.common/assets/images/ko/customerCenter_process_5.svg);
    background-repeat: no-repeat;
}
.large-order-con-2 .workprocess-icon-6 {
    background-image: url(https://s3-ap-northeast-2.amazonaws.com/redprintingweb.common/assets/images/ko/customerCenter_process_6.svg);
    background-repeat: no-repeat;
}
.large-order-con-3 {
    margin-top: 56px;
}
.large-order {
    clear: both;
    display: inline-block;
    width: 100%;
}
.large-order .head-title .title {
    font-size: 22px!important;
}
.large-order-con-3 .infomation-list li .icon {
    float: left;
    width: 36px;
    height: 70px;
    margin: 0 16px 0 0;
}
.large-order-con-3 .infomation-list li p.contents-text {
    margin: 0 0 56px 0;
}
.large-order-con-3 .infomation-list li p.contents-text .con-text-2 {
    color: #fe2f48;
    font-weight: bold;
    font-size: 18px;
    margin: 0 0 10px 0;
}
.front-dot {
    margin: 0 4px 0 0;
    display: inline-block;
    height: 4px;
    width: 4px;
}
.large-order-con-3 .infomation-list li p.contents-text span {
    display: inline-block;
}
.large-order-con-3 .infomation-list li p.contents-text span {
    display: inline-block;
}
.large-order-con-3 .infomation-list li p.contents-text .con-text-3 {
    color: #3c3c3c;
    font-size: 13px;
}
.large-order-con-3 .infomation-list li p.contents-text span {
    display: inline-block;
}
.large-order-con-3 .infomation-list li p.contents-text span {
    display: inline-block;
}
.front-dot {
    margin: 0 4px 0 0;   
    height: 4px;
    width: 4px;
}
fieldset, img, a {
    border: 0px;
}
.large-order {
    clear: both;
    display: inline-block;
    width: 100%;
}
.main_title.sub {
    margin-bottom: 0px;
}
.large-order-con-4 .field1 {
    border-bottom: 1px solid #dedede;
    padding-bottom: 24px;
}
ul, ol, li, dl, dd, dt, input, h1, h2, h3, h4, h5, h6, p, b, input, button, textarea, fieldset, legend, td, th {
    margin: 0px;
    padding: 0px;
    font-weight: normal;
}
.large-order-con-4 h3 {
    font-size: 16px;
    font-weight: bold;
    color: var(--greyish-brown);
    margin-top: 24px;
}
.large-order-con-4 .title-text {
    font-size: 14px;
    color: var(--greyish-brown);
    margin-top: 8px;
    margin-bottom: 24px;
}
.mb20 {
    margin-bottom: 20px;
}
.large-order-con-4 .option-wrap.mb20 {
    margin-bottom: 20px;
}
.large-order-con-4 .option-wrap {
    display: flex;
    color: var(--greyish-brown);
}
.large-order-con-4 .option-wrap .option-title {
    width: 110px;
    font-size: 14px;
    line-height: 40px;
    font-weight: bold;
    position: relative;
}
.large-order-con-4 .option-wrap .option-title {
    width: 110px;
    font-size: 14px;
    line-height: 40px;
    font-weight: bold;
    position: relative;
}

.large-order-con-4 .option-wrap .option-title .point {
    background-color: #fe2f48;
    width: 4px;
    height: 4px;
    display: inline-block;
    border-radius: 100%;
    position: absolute;
    left: 28px;
    top: 8px;
}
.large-order-con-4 .option-wrap .option-desc {
    width: 690px;
    position: relative;
    height: 40px;
}
.large-order-con-4 input {
    position: relative;
    padding-bottom: 8px;
    height: 40px;
    border-bottom: 1px solid #ddd;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
}
.large-order-con-4 .notice {
    color: #fe2f48;
    font-size: 12px;
    padding-top: 4px;
    display: inline-block;
}
.large-order-con-4 .option-wrap {
    display: flex;
    color: var(--greyish-brown);
}
.large-order-con-4 .option-wrap-1 {
    margin-top: 32px;
}
.large-order-con-4 .option-wrap-1 .option-desc .btn-option {
    text-align: center;
    line-height: 40px;
    font-size: 13px;
    margin-right: 16px;
    display: inline-block;
    border: solid 1px #dddddd;
    border-radius: 20px;
    min-width: 188px;
    background-color: #fff;
    height: 40px;
}

.large-order-con-4 .option-wrap-1 .option-desc .btn-option.active {
    background-color: #fe2f48;
    color: #fff;
    border: 1px solid#fe2f48;
}
.large-order-con-4 .option-wrap-1 .option-desc .btn-option {
    text-align: center;
    line-height: 40px;
    font-size: 13px;
    margin-right: 16px;
    display: inline-block;
    border: solid 1px #dddddd;
    border-radius: 20px;
    min-width: 188px;
    background-color: #fff;
    height: 40px;
}
.large-order-con-4 .option-wrap-1 .option-desc .add-box {
    width: 100%;
}
.large-order-con-4 input {
    position: relative;
    padding-bottom: 8px;
    height: 40px;
    border-bottom: 1px solid #ddd;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
}
.large-order-con-4 .notice {
    color: #fe2f48;
    font-size: 12px;
    padding-top: 4px;
    display: inline-block;
}
.large-order-con-4 .option-wrap-1 .option-desc .btn-option.active {
    background-color: #fe2f48;
    color: #fff!important;
    border: 1px solid#fe2f48;
}
.large-order-con-4 .option-wrap-1 .option-desc .btn-option:last-child {
    margin-right: 0;
}
.large-order-con-4 .option-wrap-1 .option-desc {
    display: flex;
    margin-top: 16px;
}
.large-order-con-4 input {
    position: relative;
    padding-bottom: 8px;
    height: 40px;
    border-bottom: 1px solid #ddd;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
}
.large-order-con-4 .option-wrap .option-desc-1 input {
    width: 80px;
}
.large-order-con-4 .option-wrap .option-desc-1 .qty {
    color: #3c3c3c;
    font-size: 14px;
    padding-left: 10px;
}
.large-order-con-4 .notice {
    color: #fe2f48;
    font-size: 12px;
    padding-top: 4px;
    display: inline-block;
}
.large-order-con-4 .mt32 {
    margin-top: 32px;
}
.large-order-con-4 .option-wrap .option-desc {
    width: 690px;
    position: relative;
    height: 40px;
}
.large-order-con-4 .option-wrap .option-desc-2 {
    height: auto;
}
.large-order-con-4 .option-wrap .guide-text {
    color: #818181;
    font-size: 12px;
    line-height: 1.45;
    margin-top: 8px;
}
.large-order-con-4 .option-wrap .option-desc textarea {
    border-radius: 3px;
    border: solid 1px #dddddd;
    padding: 12px 16px;
    display: inline-block;
    width: 100%;
    resize: none;
}
.large-order-con-4 .option-wrap .upload-wrap {
    display: inline-block;
    border: solid 1px #dddddd;
    border-radius: 6px;
    width: 284px;
    height: 40px;
    padding: 10px 16px;
}
.large-order-con-4 .title-text {
    font-size: 14px;
    color: var(--greyish-brown);
    margin-top: 8px;
    margin-bottom: 24px;
}
.large-order-con-4 .option-wrap-2 {
    display: block;
}
.large-order-con-4 .option-wrap-2 .input-row {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}
.large-order-con-4 .option-wrap-2 .input-row .input-col {
    position: relative;
}
.large-order-con-4 .option-wrap-2 .input-row .input-col {
    width: 384px;
    height: 40px;
}
.large-order-con-4 input {
    position: relative;
    padding-bottom: 8px;
    height: 40px;
    border-bottom: 1px solid #ddd;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
}
.large-order-con-4 .notice {
    color: #fe2f48;
    font-size: 12px;
    padding-top: 4px;
    display: inline-block;
}
.large-order-con-4 .mt32 {
    margin-top: 32px;
}
.large-order-con-4 h3 {
    font-size: 16px;
    font-weight: bold;
    color: var(--greyish-brown);
    margin-top: 24px;
}
legend, .blind {
    position: absolute;
    top: 0;
    left: -10000px;
    width: 0;
    height: 0;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
}
.large-order-con-4 .agree-text-wrap {
    margin-top: 56px;
}
.fs_16 {
    font-size: 16px!important;
}
.font-black {
    color: #3c3c3c!important;
}
.mb10 {
    margin-bottom: 10px;
}
.large-order-con-4 .agree-text-wrap .top-head {
    border-top: 2px solid #c2c2c2;
    border-bottom: 1px solid #dedede;
    background-color: #fafafa;
    display: flex;
    padding: 10px 0;
}
.large-order-con-4 .agree-text-wrap .top-head .head-text {
    flex-basis: 33.3%;
    text-align: center;
    font-size: 12px;
    color: #818181;
}
.large-order-con-4 .agree-text-wrap .bottom-body {
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid #dedede;
}
.large-order-con-4 .agree-text-wrap .bottom-body .bottom-text {
    color: #3c3c3c;
    line-height: 1.33;
    font-size: 12px;
    flex-basis: 33.3%;
    padding: 0 24px;
}
.check-wrap input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 10;
    cursor: pointer;
    margin: 0;
    height: 16px;
    width: 16px;
}
.large-order-con-4 .label-text {
    vertical-align: super;
}
.label-text {
    padding: 0 0 0 5px;
    font-size: 12px;
    color: #3c3c3c;
}
.btn-large-order button {
    background-color: #212121;
    color: #fff;
    border-radius: 24px;
    border: none;
    width: 200px;
    height: 48px;
    font-size: 16px;
}
.btn-large-order {
    margin-top: 56px;
}
.text-center {
    text-align: center;
}
 </style>
{% endblock %}
