{% extends "shop_management/base.html" %}
{% load sass_tags %}
{% block body %}
<link href="{% sass_src 'css/custom_order.scss' %}" rel="stylesheet" type="text/css" />
<div class="container custom_order">
    <div   style="position: relative;margin-top: 30px;">
        <section class="board_info" >
            <p  style="padding-left: 20px;" class="board_count">이벤트</p>
           
        </section>
        <section class="board_list" style="padding: 20px;padding-top:0px;" >
             {% for item in notices %}
            <div class="notice_seg">
                <img style="width: 100%; height: 256px;" src="{{item.thumbnail_url}}">
                <DIV class="notice_content" style="">
                    <div class="title">{{item.title}}</div>
                    <div class="sub_title">{{item.short_sub_title|default:""}}</div>
                    <div class="date">
                        {{item.created_at|date:"Y.m.d"}}
                    </div>
                    <div class="sub_text">
                        {{item.short  }} 
                    </div>
                    <a class="view_all" href="/event/detail/{{item.id}}" style="font-weight: initial;">자세히 보기<span class="view_all_icon" style="margin-left: 10px;"></span></a>
                </DIV>              
            </div>
            {% endfor %}
            
            
        </section>
    </div>
</div>

<style>
.view_all_icon {
    display: inline-block;
    width: 9px;
    height: 13px;
    background-size: cover;
    background-image: url("/static/img/small_prev.png");
    }

    .view_all {
        text-align: center;
        width: 220px;
    cursor: pointer;
    background-color: rgba(82, 92, 163, 1) !important; 
    padding: 0px 15px;
    font-size: 16px;
    color: #fff !important;  
    border-radius: 30px;
    line-height: 45px;
    height: 44px;
    margin: 45px auto 30px;
    display: block;;
    }
    .view_all:hover {
    background-color: rgba(112, 121, 189, 1) !important;
    }

    .notice_seg{
        width: 380px;
        height: 610px;
        cursor: pointer;
        margin-bottom: 40px;
        margin-right: 40px;;
        display: flex;
        border: 1px solid #ddd;        
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;        
   
    }
    .notice_seg img{
        width: 100%;       
       
    }
    .title{
        margin-top: 25px;
        /* margin-bottom: 2px; */
        font-size: 26px;
        font-weight: bold;
        width: 378px;
        padding: 0px 10px;
        line-height: 40px;
        color: rgba(82, 92, 163, 1) !important;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .sub_text{
        width: 100%;
         width: 378px;
        font-size: 14px;;
        height: 84px;;
        padding: 0px 10px;
    }
    .sub_title{
         width: 378px;
        margin-bottom: 35px;
        color: rgba(8, 114, 185, 1) !important;
        padding: 0px 10px;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
    }

    .date{
        width: 100%;
        color:#999;
        padding: 0px 10px;

    }
    .notice_seg:hover .title{color:red }
    .notice_seg:nth-child(3n){
        margin-right:0px;
    }
</style>


{% endblock %}