{% extends "shop_management/company_base.html" %}

{% block content %}
      <form name="frmList" id="form" method="get" action="?" style="width: 100%;">
               <div class="page_section">
                  <div class="head_aticle">
                     <h2 class="tit">자주하는 질문 <span class="tit_sub">고객님들께서 가장 자주하시는 질문을 모두 모았습니다.</span></h2>
                  </div>
                  <div class="xans-element- xans-myshop xans-myshop-couponserial ">
                     <table width="100%" class="xans-board-listheader">
                        <tbody>
                           <tr>
                              <th width="70" class="input_txt">번호</th>
                              <th width="135" class="input_txt">카테고리</th>
                              <th class="input_txt">제목</th>
                           </tr>
                        </tbody>
                     </table>
                     <div>
                        {% for item in faq_list %}
                        <div>
                           <table width="100%" class="table_faq" onclick="location.href='/faq/{{item.id}}'" id="faq_7">
                              <tbody>
                                 <tr>
                                    <td width="70" align="center">{{item.id}}</td>
                                    <td width="135" align="center">{{item.get_category_display}}</td>
                                    <td style="cursor:pointer">{{item.title}}</td>
                                 </tr>
                              </tbody>
                           </table>                      
                        </div>
                        {% endfor %}
                     </div>
                     <div style="padding:1px; border-top:1px solid #e6e6e6"></div>
                     <div class="layout-pagination">
                        <div class="pagediv">
                           <a href="" style="border-left:1px solid #e6e6e6" class="layout-pagination-button layout-pagination-prev-page">이전 페이지로 가기</a>
                           
                           {% for item in total_page %}
                           <a href="/faq?page={{item}}" class="layout-pagination-button layout-pagination-number">{{item}}</a>
                           {% endfor %}
                           <a href="" class="layout-pagination-button layout-pagination-next-page">다음 페이지로 가기</a>
                           
                     </div>
                   
                  </div>
               </div>
            </form>
<style>
   th{
      text-align:center
   }
   .page_aticle.aticle_type2 {
  
   }
   #snb {
   float: left;
   width: 200px;
   }
   #snb .tit_snb {
   padding: 8px 0 33px 1px;
   font-weight: 700;
   font-size: 30px;
   line-height: 34px;
   color: #333;
   letter-spacing: -.5px;
   }
   #snb .inner_snb {
   border: 1px solid #f2f2f2;
   border-bottom: 0;
   }
   #snb .list_menu li {
   border-bottom: 1px solid #f2f2f2;
   }
   #snb .list_menu li a {
   display: block;
   overflow: hidden;
   padding: 15px 0 15px 20px;
   background: #fff url(https://res.kurly.com/pc/ico/2008/ico_arrow_6x11.svg) no-repeat 174px 52%;
   background-size: 6px 11px;
   font-size: 14px;
   color: #666;
   line-height: 20px;
   letter-spacing: -.3px;
   }
   #snb .list_menu li.on a, #snb .list_menu li a:hover {
   background: #fafafa url(https://res.kurly.com/pc/ico/2008/ico_arrow_6x11_on.svg) no-repeat 174px 52%;
   background-size: 6px 11px;
   font-weight: 700;
   color: #5f0080;
   }
   #snb .link_inquire {
   display: block;
   overflow: hidden;
   width: 200px;
   height: 60px;
   margin-top: 20px;
   padding: 9px 0 0 21px;
   border-radius: 0 100px 100px 0;
   background: #fafafa url(https://res.kurly.com/pc/ico/2008/ico_arrow_6x11_on.svg) no-repeat 174px 25px;
   background-size: 6px 11px;
   font-size: 12px;
   color: #333;
   line-height: 20px;
   }
   #snb .link_inquire .emph {
   display: block;
   padding-bottom: 1px;
   font-weight: 700;
   font-size: 14px;
   }
   .page_aticle.aticle_type2 .page_section {
      width: 100%!important;
      margin-left: 10px;
   }
   .page_aticle .head_aticle {
   padding: 5px 0 34px;
   }
   .page_aticle .head_aticle .tit {
   height: 36px;
   font-weight: 700;
   font-size: 24px;
   line-height: 36px;
   color: #333;
   letter-spacing: -.5px;
   }
   .page_aticle .head_aticle .tit_sub {
   padding-left: 11px;
   font-size: 14px;
   color: #999;
   line-height: 20px;
   letter-spacing: -.3px;
   vertical-align: 3px;
   }
   .xans-myshop-couponserial {
   padding-bottom: 20px;
   }
   .xans-board-listheader.jh {
   border-bottom: 1px solid #f4f4f4;
   }
   .xans-board-listheader {
   border-top: 2px solid #522772;
   font-size: 13px;
   line-height: 140%;
   }
   .xans-board-listheader {
   font-size: 12px;
   }
   .xans-board-listheader th {
   padding: 20px 0;
   vertical-align: middle;
   font-size: 12px;
   }
   .xans-board-listheader tbody tr:first-child td {
   border-top: 1px solid #333;
   }
   .xans-board-listheader tbody tr:first-child td {
   border-top: 1px solid #333;
   }
   .xans-board-listheader tr td {
   padding: 12px;
   border-top: 1px solid #f4f4f4;
   text-align: center;
   vertical-align: middle;
   word-wrap: break-word;
   }
   .xans-board-listheader.jh tr td {
   padding: 20px 0;
   }
   .xans-board-listheader td a {
   color: #555;
   }
   .eng2 {
   color: #939393;
   }
   .page_aticle .layout-pagination {
   font-size: 0;
   }
   .page_aticle .layout-pagination-first-page:first-child {
   border-left: 1px solid #ddd;
   }
   .page_aticle .layout-pagination a {
   cursor: pointer;
   }
   .layout-pagination-prev-page {
   background-image: url(https://res.kurly.com/pc/etc/old/images/common/icon-pagination-prev.png);
   }
   .layout-pagination-first-page, .layout-pagination-prev-page, .layout-pagination-next-page, .layout-pagination-last-page {
   background-repeat: no-repeat;
   background-position: 50% 50%;
   text-indent: -9999px;
   }
   .layout-pagination-first-page {
   background-image: url(https://res.kurly.com/pc/etc/old/images/common/icon-pagination-first.png);
   }
   .layout-pagination-button {
   display: inline-block;
   width: 34px;
   height: 34px;
   border: 1px solid #ddd;
   border-left: 0;
   vertical-align: top;
   }
   .page_aticle .layout-pagination a, .page_aticle .layout-pagination strong {
   font-weight: 700;
   font-size: 12px;
   }
   .layout-pagination-number:hover, .layout-pagination-number.__active {
   background-color: #f7f7f7;
   color: #5f0080;
   }
   .layout-pagination-number {
   line-height: 34px;
   }
   .layout-pagination {
   margin: 60px 0 0;
   text-align: center;
   }
   .xans-board-search {
   margin-top: 30px;
   padding: 20px 0 20px 10px;
   color: #2e2e2e;
   font-size: 12px;
   clear: both;
   border-top: 1px solid #5e3d5a;
   width: 100%;
   }
   .xans-board-search2 {
   height: 80px;
   padding: 0;
   }
   .xans-board-search .input_txt img {
   position: relative;
   right: 5px;
   top: -2px;
   }
   .xans-board-search .stxt {
   font-size: 14px;
   }
   .xans-board-search .stxt input {
   margin-left: 10px;
   margin-right: 3px;
   position: relative;
   top: 3px;
   }
   .xans-board-search input[type=text] {
   height: 34px;
   line-height: 34px;
   width: 220px;
   border: 1px solid #bfbfbf;
   color: #000;
   float: right;
   padding: 4px;
   }
   .search_bt img {
   float: right;
   }
   .search_date {
   position: relative;
   z-index: 1;
   }
   .search_date .layer_search {
   display: none;
   position: absolute;
   right: 0;
   top: -30px;
   width: 157px;
   border: 1px solid #dddfe1;
   border-top: 0;
   }
   .search_date .layer_search li {
   background-color: #fff;
   border-top: 1px solid #dddfe1;
   }
   .search_date .layer_search li:first-child {
   border-top: 0;
   }
   .search_date .layer_search a {
   display: block;
   overflow: hidden;
   height: 32px;
   padding: 7px 0 0 8px;
   font-size: 12px;
   color: #666;
   line-height: 18px;
   letter-spacing: -.2px;
   }
   .search_date .btn_layer {
   overflow: hidden;
   position: absolute;
   right: 0;
   top: -74px;
   width: 157px;
   height: 44px;
   padding: 11px 0 0 15px;
   border: 1px solid #ddd;
   font-size: 14px;
   color: #666;
   line-height: 18px;
   letter-spacing: -.5px;
   }
   .search_date .btn_layer:after {
   content: "";
   position: absolute;
   left: 128px;
   top: 18px;
   width: 12px;
   height: 8px;
   background: url(https://res.kurly.com/pc/ico/2008/ico_down_12x8.svg) no-repeat 0 0;
   background-size: 12px 8px;
   }
   .table_faq tr td {
   padding: 20px 0;
   }   
   .table_faq tr td  {
   font-size: 12px;
   }
   .table_faq {
   border-top: 1px solid #f4f4f4;
   }
   .xans-board-search input[type=image] {
   float: right;
   position: relative;
   }
   .layout-pagination-next-page {
   background-image: url(https://res.kurly.com/pc/etc/old/images/common/icon-pagination-next.png);
   }
   .layout-pagination-last-page {
   background-image: url(https://res.kurly.com/pc/etc/old/images/common/icon-pagination-last.png);
   }
</style>
{% endblock %}