{% extends "shop_management/base.html" %}
{% load sass_tags %}
{% block body %}
  <link href="/static/css/index_body.css" rel="stylesheet" type="text/css"/>
  <script>
    function jb_click(id, link){
      $.ajax({
        url:"/shop_admin/jumbotron_click/"+ id,
        method:"UPDATE",
        success:function(res){
          console.log(res)
          location.href = link
        }
      })
    }
    function sc_click(id, link){
      $.ajax({
        url:"/shop_admin/main_shortcut_click/"+ id,
        method:"UPDATE",
        success:function(res){
          console.log(res)
          location.href = link
        }
      })
    }
    
  </script>
  <div class="row carouselExampleIndicators ">
    <div id="carouselExampleIndicators" class="slide">
      <div class="carousel-inner">
        {% for item in jumbotron %}
          <div 
          class=" carousel-item  {% if forloop.counter == 1 %} active {% endif %} flex justify-center"
          onclick="jb_click('{{item.id}}','{{item.link}}')" 
          style=" cursor:pointer" data-slide="{{forloop.counter0}}"
          data-slide-length="{{ jumbotron|length }}" >
          <img class="ie_desktop_visible xxs:hidden md:block mx-auto" src="{{item.wide_img.url}}">
          <img class="ie_desktop_hidden xxs:block md:hidden mx-auto" src="{{item.mobile_img.url}}">
        </div>        
        {% endfor %}
      </div>
    </div>

    <div class="thumb_list w-full flex flex-wrap md:mx-4 md:-my-4 md:flex-row lg:flex-col lg:w-auto lg:absolute lg:ml-96 lg:top-2/4 lg:-translate-y-1/2 lg:left-1/2 " style="z-index: 100;">
      {% for item in jumbotron %}
        <img class="w-1/3 md:w-1/6 lg:w-[176px] {% if forloop.counter == 1 %} hover {% endif %}" data-slide-to="{{forloop.counter0}}" src="{{item.small_img.url}}"/>
      {% endfor %}
    </div>
  </div> 
  <div class="ie_body body  xl:w-[1280px] mx-auto">
    <div class="row" style="margin-top: 40px;">
      <div class="tab" style="">
        <div class="category_name" style="font-size: 25px;;">BEST 아이템 |
          <span style="font-size: 14px;font-weight: normal;">고품질 + 최저가를 자랑하는 대표상품입니다.</span></div>
      </div>
    </div>
    <div class="quick_btn grid grid-cols-10 gap-[10px] " style="margin-top: 20px;margin-left: 0px!important; margin-right:0px!important; padding: 10px; border:1px solid #ddd;">
      {% for item in main_shortcut_list %}
        <div class="relative {% if forloop.counter0 < 2 %} col-span-10 md:col-span-5 {% else %} col-span-5  md:col-span-2 {% endif %}" >
          <img onclick="sc_click({{item.id}},'{{item.link}}')" src="{{ item.pc_image_url }}" style="width:100%;border:1px solid #ddd; ">
          <div class="more"></div>
        </div>
      {% endfor %}
    </div>
   {% comment %} <div class="theme_group lg:w-[1024px] xl:w-[1024px]" style="margin-top: 36px">
      {% for item in theme %}
        <div data-id="{{item.id}}" class="theme_item {% if forloop.counter == 1 %}selected{%endif%}">{{item.name}}</div>
      {% endfor %}
    </div> {% endcomment %}
    <div class="ie_body xl:w-[1280px] mx-auto" style="margin-top: 22px">
      {% for row in row_list %}
        {% if row.name != "피노's 기획상품" %}
          {% include "shop_management/components/row_container.html" with row=row user=user %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
    <script>
      function carousel_interval_function() {
        var index = parseInt($(".carousel-item.active").attr("data-slide"))
        var length = parseInt($(".carousel-item").attr("data-slide-length"))
        $(".carousel-item").removeClass("active")
        $(".thumb_list>img").removeClass("hover")
        if ((index + 1) == length) {
          index = -1;
        }
        index += 1
        $(".carousel-item")
          .eq(index)
          .addClass("active")
        $(".thumb_list>img")
          .eq(index)
          .addClass("hover")
      }

      var carousel_interval = setInterval(carousel_interval_function, 3000);
      $(".thumb_list>img").on("mouseenter", function () {
        clearInterval(carousel_interval)
        $(".carousel-item").removeClass("active")
        $(".carousel-item")
          .eq(parseInt($(this).attr(("data-slide-to"))))
          .addClass("active")
        $(".thumb_list>img").removeClass("hover")
        $(this).addClass("hover")
      })
      $(".thumb_list>img").on("mouseleave", function () {
        carousel_interval = setInterval(carousel_interval_function, 3000);
      })

      $(".theme_item").on("click", function (e) {
        $(".theme_item").removeClass("selected");
        var id = $(this).attr("data-id");

        $(this).addClass("selected");
        // 서버에서 테마 별로 제품을 불러 옴

        $.ajax({
          url: "get_theme",
          data: {
            id: id
          },
          success: function (res) {
            $(".theme_product_group").empty();
            $(".theme_product_group").append(res);
          }
        });
      });
      $(".theme_item:eq(0)").click();
      if (location.href.indexOf("?signup=success") != -1) {
        alert("회원 가입이 완료되었습니다! 로그인 후 이용해주세요!");
      }
    </script>
    <style>
      .carousel-item {
        transition: none;
        background-position: center;
        background-repeat: no-repeat;
        /* float: none!important;
    margin-right: 0px!important; */
      }

      #carouselExampleIndicators {
        width: 100%;
      }

      .carouselExampleIndicators .thumb_list img.hover,
      .carouselExampleIndicators .thumb_list img:hover {
        border: 1px solid rgb(227, 0, 120);
      }

      .quick_btn img {
        cursor: pointer;
      }

      .quick_btn img:hover {
        border: 1px solid #e3007f !important;
        cursor: pointer;
      }

      .quick_btn div .more {
        background-image: url("/static/img/more_default.png");
        width: 45px;
        background-repeat: no-repeat;
        height: 45px;
        position: absolute;
        left: 10px;
        bottom: 10px;
      }

      .quick_btn div:hover .more {
        background-image: url("/static/img/more.png");
        width: 100px;
        background-repeat: no-repeat;
        height: 45px;
        position: absolute;
        left: 10px;
        bottom: 10px;
        cursor: pointer;
      }
    </style>
  {% endblock %}
