{% extends "shop_management/company_base.html" %}
{% block content %}
<div class="page_section">
    <div class="head_aticle">
       <h2 class="tit">공지사항 <span class="tit_sub">피노의 새로운 소식들과 유용한 정보들을 한곳에서 확인하세요.</span></h2>
    </div>
    <form name="frmList" action="/shop/board/list.php?&amp;" onsubmit="return chkFormList(this)">
       <input type="hidden" name="id" value="notice">
       <style>
          .notice .layout-pagination{margin: 0}
          .eng2{color: #939393}
          .xans-board-listheader{font-size:12px}
       </style>
       <table width="100%" align="center" cellpadding="0" cellspacing="0">
          <tbody>
             <tr>
                <td>
                   <div class="xans-element- xans-myshop xans-myshop-couponserial ">
                      <table width="100%" class="xans-board-listheader jh" cellpadding="0" cellspacing="0">
                         <thead>
                            <tr>
                               <th></th>
                               <th>제목</th>
                               <th>작성자</th>
                               <th>작성일</th>
                               <th>조회</th>
                            </tr>
                         </thead>
                         <tbody>
                         {% for item in notice_list %}
                            <tr>
                               <td width="50" nowrap="" align="center">
                                  공지 
                               </td>
                               <td style="padding-left:10px; text-align:left; color:#100e0e">
                                  <a href="/notice/detail/{{item.id}}">{{item.title}}</a><b>
                                  </b>
                               </td>
                               <td width="100" nowrap="" align="center">
                                  관리자 
                               </td>
                               <td width="100" nowrap="" align="center" class="eng2">{{item.created_at|date:"Y-m-d"}}</td>
                               <td width="30" nowrap="" align="center" class="eng2">{{item.view_count}}</td>
                            </tr>
                        {% endfor %}
                         </tbody>
                      </table>
                   </div>
                </td>
             </tr>
          </tbody>
       </table>
       <div class="layout-pagination">
          <div class="pagediv">
            <a href="/notice?page=" class="layout-pagination-button layout-pagination-first-page"></a>
            {% for item in total_page %}
               <a href="/notice?page={{item}}" class="layout-pagination-button layout-pagination-number">{{item}}</a>
            {% endfor %}
            <a href="/notice?page=" class="layout-pagination-button layout-pagination-last-page"></a>
          </div>
       </div>
       <table class="xans-board-search xans-board-search2">
          <tbody>
             <tr>
                <td class="input_txt"><img src="https://www.kurly.com/shop/data/skin/designgj/images/board/ico_function.gif">검색어</td>
                <td class="stxt">
                   <div style="display: flex;align-items: center;">
                     <input type="checkbox" name="search[name]">이름
                     <input type="checkbox" name="search[subject]">제목
                     <input type="checkbox" name="search[contents]">내용
                   </div>
                </td>
                <td class="input_txt">&nbsp;</td>
                <td>
                   <div class="search_bt">
                      <a href="javascript:document.frmList.submit()"><img src="https://www.kurly.com/shop/data/skin/designgj/images/board/search.png" align="absmiddle"></a>
                      <input type="text" name="search[word]" value="" required="">
                   </div>
                </td>
             </tr>
          </tbody>
       </table>
    </form>
 </div>
 <style>
 th{
    text-align:center
 }
 .layout-pagination-last-page {
    background-image: url(https://res.kurly.com/pc/etc/old/images/common/icon-pagination-first.png);
    transform:rotateZ(180deg);
    border-left:1px solid #ddd!important;
    border-right:0!important;
}
 </style>
{% endblock %}
