
{% extends "shop_management/base.html" %}
{% load sass_tags %}
{% block body %}
<link href="{% sass_src 'css/custom_order.scss' %}" rel="stylesheet" type="text/css" />
<div class="container">
    <div class="row">
        <div class="col">
            <div class="sub_content custom_order_detail">
                <div class="layout">
                    <div class="wrap_board_area">
                        <div class="table board_view">
                            <div class="row">
                                <div class="cell tit">
                                    <p>{{notice.title}}</p>
                                    <dl>
                                        <dt>등록일</dt>
                                        <dd>{{notice.created_at}}</dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="row" style="    font-size: 13px;">
                                <div class="cell cont">
                                 {{notice.content | safe}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="cell subinfo">
                                    <dl>
                                        <dt>첨부파일</dt>                                        
                                    </dl>
                                </div>
                            </div>
                        </div>
                        <!-- end of table -->
                        
                        <div class="table board_view move_page" style="margin-top: 10px;">
                            <div class="row">
                                <div class="cell subinfo">
                                <dl>
                                        <dt>다음글</dt>
                                        <a  href="/notice/detail/{{notice.next_notice.id}}">
                                            <dd style="margin-left: 20px;">{{notice.next_notice.title}}</dd></a>
                                    </dl>
                                </div>
                            </div>
                            <div class="row">
                                <div class="cell subinfo">
                                    <dl>
                                        <dt>이전글</dt>
                                        <a  href="/notice/detail/{{notice.previous_notice.id}}">
                                            <dd style="margin-left: 20px;">{{notice.previous_notice.title}}</dd></a>
                                    </dl>
                                </div>
                            </div>
                        </div>
                        <!-- end of table -->
                        
                        <div class="wrap_btn_board" style="margin-top: 20px;margin-bottom:30px">
                            <a href="/custom/all" class="btn_board" target="_self">목록</a>
                        </div>
                        <!-- end of wrap_board_btn -->
                        
                    </div>
                    <!-- end of wrap_board_area -->
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}