{% extends "shop_admin/base.html" %}

{% block content %}
{% include "shop_admin/components/add_product_js.html" %}     


<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">서버 접속 정보</h4>
            <div class="page-title-right">
             
            </div>
        </div>
    </div>
    <div class="col-lg-12 ">
        <div class="card">
            <div class="card-body">
                <ul>
                    <li class="external">
                        <!-- <h3><span class="bold">{{ logCount }}</span> Notification(s) </h3>                      -->
                    </li>
                        {% if log_list %}
                            <ul class="dropdown-menu-list scroller actionlist" data-handle-color="#637283" style="">
                                {% for log in log_list %}
                                    <li>
                                        <a href="javascript:;">
                                            <span class="time">{{ log.accessed_at|date:"m/d/Y - g:ia" }} </span>
                                            <span class="details">                                                                                           
                                                <b>{{log.ip}}</b> - {{ log.user_agent }} - {{log.target_url}}
                                            </span>
                                        </a>
                                    </li>
                                 {% endfor %}
                            </ul>
                        {% else %}
                            <p>로그가 없습니다.</p>
                        {% endif %}
                    </li>
                </ul>
                <ul class="pagination pagination-rounded justify-content-end mb-2">
                    
                    {% for item in total_page %}
                    <li onclick="location.href='/shop_admin/dev/access_log?page={{item}}'" class="page-item {% if forloop.counter == page  %}active{% endif%}"><a class="page-link" href="javascript: void(0);">{{item}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>  
</div>



{% endblock %}