{% extends "shop_admin/base.html" %}

{% block content %}
{% include "shop_admin/components/add_product_js.html" %}     


<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">서버 로그 정보</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">쇼핑몰 관리</a></li>
                    <li class="breadcrumb-item active">상품등록</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="col-lg-12 ">
        <div class="card">
            <div class="card-body">
                <ul>
                    <li class="external">
                        <h3><span class="bold">{{ logCount }}</span> Notification(s) </h3>                     
                    </li>
                        {% if logs %}
                            <ul class="dropdown-menu-list scroller actionlist" data-handle-color="#637283" style="">
                                {% for log in logs %}
                                    <li>
                                        <a href="javascript:;">
                                            <span class="time">{{ log.action_time|date:"m/d/Y - g:ia" }} </span>
                                            <span class="details">
                                                {% if log.action_flag == 1 %}
                                                    <span class="label label-sm label-icon label-success">
                                                        <i class="fa fa-plus"></i>
                                                    </span>
                                                {% elif log.action_flag == 2 %}
                                                    <span class="label label-sm label-icon label-info">
                                                        <i class="fa fa-edit"></i>
                                                    </span>
                                                {% elif log.action_flag == 3 %}
                                                    <span class="label label-sm label-icon label-danger">
                                                        <i class="fa fa-minus"></i>
                                                    </span>
                                                {% endif %}
                                                {{ log.content_type|capfirst }}: {{ log }}
                                            </span>
                                        </a>
                                    </li>
                                 {% endfor %}
                            </ul>
                        {% else %}
                            <p>로그가 없습니다.</p>
                        {% endif %}
                    </li>
                </ul>
                    
               
            </div>
        </div>
    </div>  
</div>



{% endblock %}