{% load product_options %} {% load humanize %}
<div class="print_option product_option_item">
  <span class="option_title"
    >인쇄
    <span
      onclick="document.querySelector('.print_option').scrollIntoView({behavior: 'smooth'});"
    >
      <i data-pointer-class="print_option" class="las la-question-circle pointer"></i>
    </span>
  </span>
  <select class="select_form" name="print">
    <option data-name="none" value="0">미선택</option>
    {% for item in product|get_print_option_list:"인쇄 옵션" %}
    <option data-name="{{item.name}}" value="{{item.price}}"
      >{{item.name}} {% if item.price != 0 %} (+{{item.price|intcomma}}원)
       {% endif %}</option
    >
    {% endfor %}
  </select>
</div>
<div class="design_select product_option_item" style="display: none">
  <span class="option_title"
    >디자인
    <span
      onclick="document.querySelector('.print_option').scrollIntoView({behavior: 'smooth'});"
    >
      <i data-pointer-class="print_option" class="las la-question-circle"></i></span
  ></span>
  <select class="select_form" name="design">
    <option value="0">완성데이터</option>
    <option value="5000">디자인 요청(수정) (+5,000원) </option>
    <option value="10000">디자인 요청(신규제작) (+10,000원)</option>
  </select>
</div>
