<!-- qna 목록이 있는 경우  -->
<div class="info_contents qna qna_list">
{% if qna  %}
    {% for item in qna %}
     <article class="qna_item">
        <div class="row">
            <div class=" qna_text col-9" style="width: 800px;">
                <ul>
                    <li class="qna_title text_title cursor-pointer">{{item.title}}</li>
                    <li class="qna_summary text_content  cursor-pointer">{{item.content|truncatechars:30}}</li>
                    <li class="qna_origin text_content  hidden">{{item.content|linebreaksbr}}</li>
                </ul>
            </div>
            <div class="qna_text col-3">
                <ul>
                    <li class="text_writer">작성자:<span class="text inline-block ">
                    {% if item.author %}
                        {{item.author.nickname}}
                    {%else%}
                        {{item.name}}
                    {% endif %}
                    </span>
                    {% if item.author %}
                        {% if item.author == user %} <span data-id="{{ item.id }}" class="text-red-700 cursor-pointer qna_delete">삭제</span> {% endif %}
                    {% endif %}
                    </li>
                    <li class="text_date">등록일: <span class="text">{{item.created_at | date:"Y.m.d"}}</span></li>
                </ul>
            </div>
        </div>
    </article>
    {% endfor %}
    <div class="pagination"></div>
{% else %}

<!-- 상품 문의가 없는 경우 -->
    <article>
        <div class="row" style="font-size: 20px; line-height: 30px; text-align:center;padding: 20px 0px;justify-content: center;">
            상품 문의가 없습니다.
        </div>
    </article>
{% endif %}
    <article>
        <div class="row" style="font-size: 20px; line-height: 30px; text-align:center; width: 100%;margin-left:0px;  ">
            <div class="col-12 relative pl-0" style="padding-right: 0px; ">
                <input class="text-base" id="qna_title" style="width: 100%;margin-top: 10px;height: 39px;border-bottom: 1px solid #ddd ; padding-left: 10px;color:#333;" placeholder="문의 제목을 입력해주세요.">
                <textarea class="text-base mt-1" id="qna_content" style="width: 100%; background-color:rgba(250,250,250); height: 100px;  border: 1px solid #ddd; color:#333; padding: 10px;" placeholder="문의 내용을 입력해주세요"></textarea>
                <button id="qna_submit" class="product_qna_submit text-sm rounded-full bg-gray-500 text-white py-1 px-3 absolute right-0 top-3">문의 하기</button>
            </div>
        </div>
    </article>
</div>