<div class="img_container">
    <div class="main cover_img xxs:w-full xxs:aspect-square "
        style="aspect-ratio: 1/1;background-image:url({{product.shopproductimage_set.all.0.image.url}});position:relative;background-size:contain;background-repeat: no-repeat;background-position: center;"
    >
    <div id="zooming_window" style="background-repeat:no-repeat; background-color: #fff;;    pointer-events: none;border: 1px solid #ddd;width: 200px; height: 200px; position: absolute; z-index:2000; display: none;"></div>
    </div>
    <div class="img_con" style="flex-wrap:wrap">
        {% for item in product.shopproductimage_set.all %}
        <div class="thumb_img w-[calc(20%-8px)] aspect-square"
        style="background-image:url({{item.image.url}}); background-size: 100% ; background-position: center;padding-bottom:calc(20% - 8px);margin-bottom: 10px"
        ></div>
       {% endfor %}
    </div>
</div>
<style>
    .thumb_img:nth-child(5n){
        margin-right: 0px!important;
    }
</style>