  <article>
    <div class="exchange_cont xxs:pl-[10px] lg:pl-[(1100px-700px)/2]">
        <h3>교환/반품 안내</h3>
        <div class="admin_msg">
            <p class="0">
                <span lang="EN-US" style="font-size: 12pt;  letter-spacing: 0pt; font-weight: bold;">
                01. </span>
                <span style="font-size: 12pt; font-weight: bold;">취소</span>
                <span lang="EN-US" style="font-size: 12pt;  letter-spacing: 0pt; font-weight: bold;">/</span>
                <span style="font-size: 12pt; font-weight: bold;">반품규정</span>&nbsp;
            </p>
                <p class="0">&nbsp;</p>
                <p>
                    <span lang="EN-US" style="margin: 0px; padding: 0px;  font-size:   14px; letter-spacing: 0pt; ">
                    ※&nbsp; 연락없이 임의로 상품반송을 하시는 경우에는 (주)피노에서 별도의 연락없이 자동 반송처리합니다.</span>&nbsp;
                    </p>
                    <p>
                        <span lang="EN-US" style="margin: 0px; padding: 0px;  font-size:   14px; letter-spacing: 0pt; ">
                        &nbsp; &nbsp; 이 과정에서 발생하는 배송비, 기타비용, 일정 등은 (주)피노에서 일체 책임을 지지 않습니다.</span>
                    </p>
                    <p>
                        <span lang="EN-US" style="margin: 0px; padding: 0px;  font-size:   14px; letter-spacing: 0pt; ">&nbsp; &nbsp; 반드시 고객센터를 통해 꼭 접수를 하시기 바랍니다.</span></p>
                        <p>
                            <span style="margin: 0px; padding: 0px;  font-size:   14px; letter-spacing: 0pt; ">&nbsp;</span>
                        </p>
                        <p class="0">
                            <span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">
                            1. </span>
                            <span style=" font-size:   14px;">교환</span>
                            <span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">, </span>
                            <span style=" font-size:   14px;">반품 방법</span>
                        </p>
                        <p class="0"><span style=" font-size:   14px;">&nbsp; &nbsp;고객님께서 받으신 상품을 사용하지 않으셨다면 수령일</span><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">(</span><span style=" font-size:   14px;">배송완료일</span><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">)</span><span style=" font-size:   14px;">로부터 </span><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">7</span><span style=" font-size:   14px;">일 이내에&nbsp;</span><span style=" font-size:   14px;">반품 또는 교환이 가능합니다</span><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">.</span></p><p class="0"><span style=" font-size:   14px;">&nbsp; &nbsp;그러나 주문제작</span><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">, </span><span style=" font-size:   14px;">주문가공</span><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">, </span><span style=" font-size:   14px;">오더메이드 상품은 주문특성상 결제확인 후에는 교환 및 반품이 불가합니다</span><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">.</span></p><p class="0"><span style=" font-size:   14px;">  </span><!--[if !supportEmptyParas]--><span style=" font-size:   14px;">&nbsp;</span><!--[endif]--><span style=" font-size:   14px;">  </span><o:p></o:p></p><p class="0"><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">2. </span><span style=" font-size:   14px;">교환</span><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">, </span><span style=" font-size:   14px;">반품이 가능한 경우</span></p><p class="0"><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">&nbsp; &nbsp; - </span><span style=" font-size:   14px;">상품을 사용하지 않거나 포장을 훼손하지 않고 </span><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">7</span><span style=" font-size:   14px;">일 이내에 반품을 요청할 경우</span></p><p class="0"><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">&nbsp; &nbsp; - </span><span style=" font-size:   14px;">상품이 배송중 훼손 및 파손이 된 경우</span></p><p class="0"><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">&nbsp; &nbsp; - </span><span style=" font-size:   14px;">업체배송상품은 해당 제조사에서 판단했을 때 불량일 경우</span></p><p class="0"><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">&nbsp; &nbsp; - </span><span style=" font-size:   14px;">주문제작</span><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">, </span><span style=" font-size:   14px;">주문가공</span><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">, </span><span style=" font-size:   14px;">오더메이드 상품이더라도 배송중 파손 및 주문과 다른 내용으로&nbsp;</span><span style=" font-size:   14px;">제작이 되었을 경우 교환할 수 있습니다</span><span lang="EN-US" style=" font-size:   14px;  letter-spacing: 0pt;">.</span></p><p class="0"><span style=" font-size:   14px;"><font face="함초롬돋움">&nbsp; &nbsp; &nbsp; &nbsp;</font>단</span><span lang="EN-US" style=" font-size:   14px;  letter-spacing: 0pt;">, </span><span style=" font-size:   14px;">교환하더라도 주문내용의 변경은 불가능합니다</span><span lang="EN-US" style=" font-size:   14px;  letter-spacing: 0pt;">.</span></p><p class="0"><span lang="EN-US" style="   font-size:   14px;"></span><span style=" font-size:   14px;">&nbsp; &nbsp; &nbsp;예</span><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">) </span><span style=" font-size:   14px;">투명아크릴  </span><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">3T </span><span style=" font-size:   14px;">투명 </span><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">250x250 5</span><span style=" font-size:   14px;">개 </span><span style="letter-spacing: 0pt;  font-size:   14px;">→ </span><span style=" font-size:   14px;">교환 </span><span style="letter-spacing: 0pt;  font-size:   14px;">→ </span><span style=" font-size:   14px;">투명아크릴  </span><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">3T </span><span style=" font-size:   14px;">투명 </span><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">245x245 5</span><span style=" font-size:   14px;">개 (X)</span></p><p class="0"><span style=" font-size:   14px;">  </span><!--[if !supportEmptyParas]--><span style=" font-size:   14px;">&nbsp;</span><!--[endif]--><span style=" font-size:   14px;">  </span><o:p></o:p></p><p class="0"><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">3. </span><span style=" font-size:   14px;">교환</span><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">, </span><span style=" font-size:   14px;">반품이 불가능한 경우</span></p><p class="0"><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">&nbsp; &nbsp; - </span><span style=" font-size:   14px;">배송 완료 후 </span><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">7</span><span style=" font-size:   14px;">일이 경과한 경우</span></p><p class="0"><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">&nbsp; &nbsp; - </span><span style=" font-size:   14px;">포장 개봉 후 사용한 경우</span></p><p class="0"><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">&nbsp; &nbsp; - </span><span style=" font-size:   14px;">사용하지 않았더라도 포장이 훼손되어 재포장이 불가능하거나 판매가 불가능한 경우</span></p><p class="0"><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">&nbsp; &nbsp; - </span><span style=" font-size:   14px;">주문제작</span><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">, </span><span style=" font-size:   14px;">주문가공</span><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">, </span><span style=" font-size:   14px;">오더메이드 상품에 해당되는 경우</span></p><p class="0"><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">&nbsp; &nbsp; - </span><span style=" font-size:   14px;">소비자 부주의로 인한 제품의 훼손 및 파손의 경우 등입니다</span><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">.</span></p><p class="0"><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">&nbsp; &nbsp; - </span><span style=" font-size:   14px;">본 상품의 박스 훼손</span><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">, </span><span style=" font-size:   14px;">분실으로 인한 상품 가치 훼손시 교환 및 반품이 불가능 합니다</span><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">.</span></p><p class="0"><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">&nbsp; &nbsp; - </span><span style=" font-size:   14px;">주문제작</span><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">, </span><span style=" font-size:   14px;">주문가공</span><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">, </span><span style=" font-size:   14px;">오더메이드 상품은 고객님의 단순변심에 의한 교환</span><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">, </span><span style=" font-size:   14px;">반품이 불가능합니다</span><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">.</span></p><p class="0"><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">&nbsp; &nbsp; - </span><span style=" font-size:   14px;">세트상품을 일부 상품만 보내신 경우</span></p><p class="0"><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">&nbsp; &nbsp; - </span><span style=" font-size:   14px;">당사를 통해 교환</span><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">/</span><span style=" font-size:   14px;">반품 협의를 하지 않고 보내신 경우</span></p><p class="0"><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">&nbsp; &nbsp; - </span><span style=" font-size:   14px;">고의적으로 상품을 파손하여 교환 및 반품을 신청한 경우</span></p><p class="0"><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">&nbsp; &nbsp; - </span><span style=" font-size:   14px;">상품 개봉시 칼</span><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">, </span><span style=" font-size:   14px;">가위로 인한 상품 파손의 경우</span></p><p class="0"><span lang="EN-US" style="   font-size:   14px;"></span><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">&nbsp; &nbsp; &nbsp; &nbsp;(</span><span style=" font-size:   14px;">칼</span><span lang="EN-US" style="
                letter-spacing: 0pt;  font-size:   14px;">,
                 </span>
                 <span style=" font-size:   14px;">가위로 인한 상품 파손은 눈으로도 확연한 차이가 납니다</span>
                 <span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">.)&nbsp;</span>
                </p>
                 <p class="0"><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">&nbsp; &nbsp; - </span>
                    <span style=" font-size:   14px;">상품의 미세한 스크래치나 버</span>
                    <span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">(Burr)</span><span style=" font-size:   14px;">는 교환 및 반품이 되지 않습니다</span><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">.</span></p><p class="0"><span style=" font-size:   14px;">  </span><!--[if !supportEmptyParas]--><span style=" font-size:   14px;">&nbsp;</span></p><p class="0"><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">4. </span><span style=" font-size:   14px;">교환</span><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">/</span><span style=" font-size:   14px;">반품 배송비</span></p><p class="0"><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">&nbsp; &nbsp; 1. </span><span style=" font-size:   14px;">(주)피노 또는 업체</span><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">, </span><span style=" font-size:   14px;">택배사 실수로 상품의 하자가 발생했을 경우 </span><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">1</span><span style=" font-size:   14px;">회에 한하여 (주)피노에서 부담 &nbsp;</span></p><p class="0"><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">&nbsp; &nbsp; &nbsp; &nbsp; - </span><span style=" font-size:   14px;">상품을 여러개 구입한 경우 반드시 상품을 전부 확인하신 후에 교환 및 반품신청을 해주시기 바랍니다</span><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">.</span></p><p class="0"><span lang="EN-US" style="   font-size:   14px;"></span><span style=" font-size:   14px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;예를 들어 </span><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">10</span><span style=" font-size:   14px;">개의 상품을 구입했는데 수령후에 전부 확인해보지 않고 각 상품을 여러날에 걸쳐</span><span style=" font-size:   14px;">&nbsp;반품 및 교환을 신청하는 경우</span></p><p class="0"><span style=" font-size:   14px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;두 번째 교환 및 반품건 부터는 배송비를 고객이 부담</span></p><p class="0"><span style=" font-size:   14px;">&nbsp; &nbsp; &nbsp; &nbsp;- 모든 제품은 배송완료일로 부터 7일 이내에 연락을 주시기 바랍니다.</span></p><p class="0"><span style=" font-size:   14px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;7일 이후에는 (주)피노에서 배송비를 부담하지 않습니다. (누락,오배송 등 모든 제품에 해당)</span></p><p class="0"><span style=" font-size:   14px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;7일 이후에는 고객이 부담</span></p><p class="0"><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">&nbsp; &nbsp; 2. </span><span style=" font-size:   14px;">고객의 실수로 상품의 하자가 발생했을 경우 고객이 부담</span></p><p class="0"><span style=" font-size:   14px;">&nbsp;</span></p><p class="0"><span lang="EN-US" style=" font-size:   14px; letter-spacing: 0pt; ">5.&nbsp;</span><span style=" font-size:   14px;">디자인 시안 작업 중 변심에 의한 환불요청은 디자인작업(편집)이 제작과정의 일부이므로,</span>&nbsp;</p><p class="0"><span style=" font-size:   14px;">&nbsp; &nbsp;제품금액의 20%를 제외한 금액만 환불됩니다. (단, 판재가공이 진행 안 된 경우만 해당)&nbsp;</span></p><p class="0"><span style=" font-size:   14px;">  </span><!--[if !supportEmptyParas]--><span style=" font-size:   14px;">&nbsp;</span><!--[endif]--><span style=" font-size:   14px;">  </span><o:p></o:p></p><p class="0"><span style=" font-size:   14px;">&nbsp;</span></p><p class="0"><span lang="EN-US" style="  letter-spacing: 0pt; font-weight: bold; font-size: 12pt;">02. </span><span style="font-weight: bold; font-size: 12pt;">취소</span><span lang="EN-US" style="  letter-spacing: 0pt; font-weight: bold; font-size: 12pt;">/</span><span style="font-weight: bold; font-size: 12pt;">반품절차</span></p><p class="0"><span style=" font-size:   14px;">  </span><!--[if !supportEmptyParas]--><span style=" font-size:   14px;">&nbsp;</span><!--[endif]--><span style=" font-size:   14px;">  </span><o:p></o:p></p>

                    <p class="0"><span style=" font-size:   14px;">&nbsp; 접수 &nbsp; &nbsp;&nbsp;</span><span style="letter-spacing: 0pt;  font-size:   14px;">→ &nbsp; &nbsp;</span><span style=" font-size:   14px;">답변 확인 &nbsp;&nbsp;</span><span style="letter-spacing: 0pt;  font-size:   14px;">→ &nbsp; &nbsp;</span><span style=" font-size:   14px;">절차 안내 &nbsp;&nbsp;</span><span style="letter-spacing: 0pt;  font-size:   14px;">→ &nbsp;&nbsp;</span><span style=" font-size:   14px;">상품 반송 확인</span></p><p class="0"><span style=" font-size:   14px;">  </span><!--[if !supportEmptyParas]--><span style=" font-size:   14px;">&nbsp;</span><!--[endif]--><span style=" font-size:   14px;">  </span><o:p></o:p></p><p class="0"><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">1. </span><span style=" font-size:   14px;">쇼핑몰의 </span><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">1:1 </span><span style=" font-size:   14px;">문의게시판 또는 메일 </span><a href="mailto:afarm07@naver.com"><u><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px; color: rgb(0, 0, 255);">market@pinotmarket.co.kr</span></u></a><span style=" font-size:   14px;">로 접수</span></p><p class="0"><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">2. </span><span style=" font-size:   14px;">당사로부터 메일</span><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">, </span><span style=" font-size:   14px;">게시판</span><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">, </span><span style=" font-size:   14px;">전화로 답변 확인</span></p><p class="0"><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">3. </span><span style=" font-size:   14px;">교환</span><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">·</span><span style=" font-size:   14px;">반품 시 비용</span><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">, </span><span style=" font-size:   14px;">주소</span><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">, </span><span style=" font-size:   14px;">방법 및 절차 등에 대해 안내 받음</span></p><p class="0"><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">4. </span><span style=" font-size:   14px;">교환</span><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">·</span><span style=" font-size:   14px;">반품 상품 반송 완료 확인</span></p><p class="0"><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">5. </span><span style=" font-size:   14px;">환불 및 결제승인취소</span></p><p class="0"><span style=" font-size:   14px;">  </span><!--[if !supportEmptyParas]--><span style=" font-size:   14px;">&nbsp;</span><!--[endif]--><span style=" font-size:   14px;">  </span><o:p></o:p></p><p class="0"><span style=" font-size:   14px;">&nbsp;</span></p><p class="0"><span lang="EN-US" style="  letter-spacing: 0pt; font-weight: bold; font-size: 12pt;">03. </span><span style="font-weight: bold; font-size: 12pt;">반품시 환불안내</span></p><p class="0"><span style=" font-size:   14px;">&nbsp; &nbsp; &nbsp; 환불 및 신용카드 승인취소는 반품된 상품이 해당 발송처로 도착한 이후 처리됩니다</span><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">.</span></p><p class="0"><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">&nbsp; &nbsp; &nbsp; &nbsp; 1. </span><span style=" font-size:   14px;">쇼핑몰의 </span><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">1:1 </span><span style=" font-size:   14px;">문의게시판 또는 메일 </span><a href="mailto:afarm07@naver.com"><u><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px; color: rgb(0, 0, 255);">market@pinotmarket.co.kr</span></u></a><span style=" font-size:   14px;">로 접수</span></p><p class="0"><span lang="EN-US" style="   font-size:   14px;"></span><span style=" font-size:   14px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;- 상품 회수 확인 후 해당 카드사로 청구취소 요청</span><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">(</span><span style=" font-size:   14px;">약 </span><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">7</span><span style=" font-size:   14px;">일 정도 소요</span><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">).</span></p><p class="0"><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">&nbsp; &nbsp; &nbsp; &nbsp; 2. </span><span style=" font-size:   14px;">무통장 입금</span></p><p class="0"><span lang="EN-US" style="   font-size:   14px;"></span><span style=" font-size:   14px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;- 상품 회수 확인 후 </span><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">2</span><span style=" font-size:   14px;">일 이내에 환불 처리</span></p><p class="0"><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">&nbsp; &nbsp; &nbsp; &nbsp; 3. </span><span style=" font-size:   14px;">인터넷 안전결제 </span><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">ISP </span><span style=" font-size:   14px;">결제</span></p><p class="0"><span lang="EN-US" style="   font-size:   14px;"></span><span style=" font-size:   14px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;- 상품 회수 확인후 청구취소 요청</span><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">(</span><span style=" font-size:   14px;">약 </span><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">7</span>
                 <span style=" font-size:   14px;">일 정도 소요되며</span>
                 <span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">, </span><span style=" font-size:   14px;">토</span><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">/</span><span style=" font-size:   14px;">일</span><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">/</span><span style=" font-size:   14px;">공휴일 미포함</span><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">)</span></p><p class="0"><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">&nbsp; &nbsp; &nbsp; &nbsp; 4. </span><span style=" font-size:   14px;">기타 결제</span></p><p class="0"><span lang="EN-US" style="   font-size:   14px;"></span><span style=" font-size:   14px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;- 휴대폰 및 기타 결제승인 취소는 결제사별 기준에 준하여 청구 취소됩니다</span><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">.</span></p><p class="0"><span style=" font-size:   14px;">  </span><!--[if !supportEmptyParas]--><span style=" font-size:   14px;">&nbsp;</span><!--[endif]--><span style=" font-size:   14px;">  </span><o:p></o:p></p><p class="0"><span style=" font-size:   14px;">&nbsp;</span></p><p class="0"><span lang="EN-US" style="  letter-spacing: 0pt; font-weight: bold; font-size: 12pt;">04. </span><span style="font-weight: bold; font-size: 12pt;">반품 철회</span></p><p class="0"><span style=" font-size:   14px;">&nbsp; &nbsp; &nbsp; 교환</span><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">, </span><span style=" font-size:   14px;">반품을 요청했으나 이를 철회하고자 할 경우에는 당사 쇼핑몰의 </span><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">1:1 </span><span style=" font-size:   14px;">문의 게시판 또는</span></p><p class="0"><span style=" font-size:   14px;">&nbsp; &nbsp; &nbsp; 메일 </span><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">market@pinotmarket.co.kr</span><span style=" font-size:   14px;">로 연락주시면 신속하게 답변 및 처리해 드립니다</span><span lang="EN-US" style="  letter-spacing: 0pt;  font-size:   14px;">.</span></p>
        </div>
        <h3>환불안내</h3>
        <div class="admin_msg">
            - 위 교환 및 반품안내 내용과 동일합니다.
        </div>
        <h3>AS안내</h3>
        <div class="admin_msg">
            <p>- A/S는 당사 쇼핑몰의 1:1 문의게시판 또는 메일 market@pinot.co.kr 으로 문의하시기 바랍니다.&nbsp;</p><p>&nbsp; (통화는 연결이 어려울 수 있습니다.)</p>
        </div>
    </div>
</article>