{% load humanize %}
{% load product_options %}
<style>
    .group .select_product{
        display: none;
    }
    .group:hover .select_product{
        display: block!important;
    }
</style>
{% for item in product_list %}

  <a class="inline-block w-full relative"
   {%  if "all" in request.path %}
      href="/product/select?image_id={{ image_id|default:"" }}&product_id={{ item.id }}"
          {% else %}
     href="/product/detail/{{item.id}}?image_id={{ image_id }}"
        {% endif %}
  >


    <div class="group w-full   mt-3 border-slate-100 hover:cursor-pointer">
      {%  if "all" in request.path %}
      <button  class="btn btn-primary select_product  group-hover:inline-block " style="position: absolute;transform: translate(-50%,-50%);top:50%;left:50%;z-index: 999">
          제품 선택하기</button>
    {% endif %}
      <div class=" w-full aspect-square  mb-3 overflow-hidden relative" style="padding-bottom:100%; ">
        <img style="width:100%;" class=" absolute transition-all aspect-square hover:scale-110 " src="{{item.shopproductimage_set.all.0.image.url}}" alt="상품"/>
        <div style="position:absolute;bottom:0px; display:flex; justify-content:end; width: 100%;">
          {% if item.is_new %}
          <div class="new" style="padding: 3px 5px; background-color:green; color:#fff">NEW</div>
          {% endif %}
          {% if item.is_hot %}
          <div class="hot" style="padding: 3px 5px; background-color:red; color:#fff">HOT</div>
          {% endif %}
        </div>
      </div>
      <div class="name   font-semibold text-lg text-neutral-500 group-hover:text-neutral-800 " style="word-break: keep-all">
        {{item.name}}
      </div>
      <div class="description text-sm text-neutral-600 min-h-[40px]" style="margin-top:10px">
        {{item.description_summary}}&nbsp;
      </div>
        <div class="price  mb-3 pt-2">
            {% is_same_price item as result %}
            {% if not result %}
              <span class="percent  text-red-700  text-lg  font-bold">
                {% get_product_discount_sale item %}%
              </span>
              <span class="inline-block ml-1 text-gray-500 font-semibold text-sm mr-3 " style="text-decoration: line-through">
                {{item.showing_price|intcomma}}원
              </span>
            {% endif %}
            <div class="relative inline-block font-semibold  text-gray-900 text-lg ">
              {{item.discount_price|intcomma}}원 ~
              <div class="transition-all absolute bottom-0 right-0 w-0 border border-red-400 opacity-0 group-hover:w-full group-hover:opacity-90"></div>
            </div>
        </div>
    </div>
  </a>
{% endfor %}
