<!doctype html>
<html lang="en">

<head>

  <meta charset="utf-8" />
  <title>피노 어드민</title>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <meta name="viewport" content="width=1800, initial-scale=1, shrink-to-fit=no">
  <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
  <meta content="Themesbrand" name="author" />
  <!-- App favicon -->
  <link rel="shortcut icon" href="public/assets/images/favicon.ico">
  <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <!-- <%- HeaderCss %> -->
  <!-- <%- include ('./Partials/HeaderStyle')  %> -->
        {% include "shop_admin/common/header_style.html" %}
    <script src="https://code.jquery.com/jquery-1.12.4.js" ></script>
    <script>
      // using jQuery
      function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != "") {
          var cookies = document.cookie.split(";");
          for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == name + "=") {
              cookieValue = decodeURIComponent(
                cookie.substring(name.length + 1)
              );
              break;
            }
          }
        }
        return cookieValue;
      }
      function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return /^(GET|HEAD|OPTIONS|TRACE)$/.test(method);
      }
      $(document).ready(function () {
        var csrftoken = getCookie("csrftoken");
        $.ajaxSetup({
          beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
          },
        });
      });
    </script>
    <style>
      .modal_form{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
      }
      body{
        font-family: initial!important;
        
      }
      .col-form-label {
        padding-top: calc(.47rem + 1px);
        padding-bottom: calc(.47rem + 1px);
        margin-bottom: 0;
        font-size: inherit;
        line-height: 1.5;
        letter-spacing: -1px;
      }
    </style>
</head>

<body data-sidebar="dark" class="vertical-collpsed">

  <!-- Begin page -->
  <div id="layout-wrapper">

    {% include "shop_admin/common/components/header.html" %}
    {% include 'shop_admin/common/components/sidebar.html'  %}

    <div class="main-content">
      <div class="page-content">
        <div class="container-fluid">

          {% block content %}
          {% endblock %}
        </div>
      </div>

      {% include 'shop_admin/common/components/extra_modal.html'  %}
      {% include 'shop_admin/common/components/footer.html' %}
    </div>
  </div>

  {% include 'shop_admin/common/footer_script.html'  %}

 
  <script src="/static/admin/js/app.js"></script>

</body>

</html>