


    <!--  Modal content for the above example -->
    <div class="modal fade bs-example-modal-xl" tabindex="-1" role="dialog"
        aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mt-0" id="myExtraLargeModalLabel">거래처 등록</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                   <div class="row">             
                     
                        <div class="form-group col-4 row">
                            <label for="example-text-input" class="col-4 col-form-label">거래처 코드</label>
                            <div class="col-8 ">
                                <input name="code" class="form-control" type="text" value="" placeholder="거래처 코드를 입력해주세요." id="product_name_input">
                            </div>
                        </div>       
                        <div class="form-group col-4 row">
                            <label for="example-text-input" class="col-4 col-form-label">상호(이름)</label>
                            <div class="col-8 ">
                                <input name="name" class="form-control" type="text" value="" placeholder="상호(이름)을 입력해주세요." id="product_name_input">
                            </div>
                        </div>      
                        <div class="form-group col-4 row">
                            <label for="example-text-input" class="col-4 col-form-label">대표자명</label>
                            <div class="col-8 ">
                                <input name="name" class="form-control" type="text" value="" placeholder="대표자명을 입력해주세요." id="product_name_input">
                            </div>
                        </div>       
                        <div class="form-group col-4 row">
                            <label for="example-text-input" class="col-4 col-form-label">핸드폰</label>
                            <div class="col-8 ">
                                <input name="name" class="form-control" type="text" value="" placeholder="핸드폰을 입력해주세요." id="product_name_input">
                            </div>
                        </div>          
                        <div class="form-group col-4 row">
                            <label for="example-text-input" class="col-4 col-form-label">업태</label>
                            <div class="col-8 ">
                                <input name="name" class="form-control" type="text" value="" placeholder="업태를 입력해주세요." id="product_name_input">
                            </div>
                        </div>                        
                        <div class="form-group col-4 row">
                            <label for="example-text-input" class="col-4 col-form-label">종목</label>
                            <div class="col-8 ">
                                <input name="name" class="form-control" type="text" value="" placeholder="종목을 입력해주세요." id="product_name_input">
                            </div>
                        </div>  
                        <div class="form-group col-4 row">
                            <label for="example-text-input" class="col-4 col-form-label">전화</label>
                            <div class="col-8 ">
                                <input name="name" class="form-control" type="text" value="" placeholder="전화를 입력해주세요." id="product_name_input">
                            </div>
                        </div>          
                        <div class="form-group col-4 row">
                            <label for="example-text-input" class="col-4 col-form-label">팩스</label>
                            <div class="col-8 ">
                                <input name="name" class="form-control" type="text" value="" placeholder="팩스를 입력해주세요." id="product_name_input">
                            </div>
                        </div>                
                        <div class="form-group col-4 row">
                            <label for="example-text-input" class="col-4 col-form-label">이메일</label>
                            <div class="col-8 ">
                                <input name="email" class="form-control" type="text" value="" placeholder="이메일을 입력해주세요." id="product_name_input">
                            </div>
                        </div>        
                        <div class="form-group col-6 row">
                            <label for="example-text-input" class="col-2 col-form-label">주소</label>
                            <div class="col-10 ">
                                <input name="name" class="form-control" type="text" value="" placeholder="주소를 입력해주세요." id="product_name_input">
                            </div>
                        </div>              
                        <div class="form-group col-6 row">
                            <label for="example-text-input" class="col-2 col-form-label">세부주소</label>
                            <div class="col-10 ">
                                <input name="name" class="form-control" type="text" value="" placeholder="세부주소를 입력해주세요." id="product_name_input">
                            </div>
                        </div>          
                   </div>
                   <hr>
                   <div class="row">
                        <div class="form-group col-6 row">
                            <label for="example-text-input" class="col-2 col-form-label pt-0 pb-0">사업자<br>등록증</label>
                            <div class="col-10 ">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="customFile">
                                    <label class="custom-file-label m-0" for="customFile">Choose file</label>
                                </div>
                            </div>
                        </div>    
                        <div class="form-group col-6 row">
                            <label for="example-text-input" class="col-2 col-form-label" style="display: flex;align-items: center;">고객분류</label>
                            <div class="col-10 " style="display: flex;justify-content: space-between;align-items: center;flex-direction: row;">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="type_0">
                                    <label class="custom-control-label" for="type_0">광고사</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="type_1">
                                    <label class="custom-control-label" for="type_1">기획사</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="type_2">
                                    <label class="custom-control-label" for="type_2">인테리어</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="type_3">
                                    <label class="custom-control-label" for="type_3">기타</label>
                                </div>
                            </div>
                        </div>    
                        <div class="form-group col-6 row">
                            <label for="example-text-input" class="col-2 col-form-label" style="display: flex;align-items: center;">지역</label>
                            <div class="col-10 " style="display: flex;justify-content: space-between;align-items: center;flex-direction: row;">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="type_0">
                                    <label class="custom-control-label" for="type_0">청주</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="type_1">
                                    <label class="custom-control-label" for="type_1">세종</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="type_2">
                                    <label class="custom-control-label" for="type_2">대전</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="type_3">
                                    <label class="custom-control-label" for="type_3">공주</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="type_3">
                                    <label class="custom-control-label" for="type_3">충청</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="type_3">
                                    <label class="custom-control-label" for="type_3">기타</label>
                                </div>
                            </div>
                        </div>  
                        <div class="form-group col-6 row">
                            <label for="example-text-input" class="col-2 col-form-label">결제방식</label>
                            <div class="col-10 ">
                                <input name="name" class="form-control" type="text" value="" placeholder="결제방식을 입력해주세요." id="product_name_input">
                            </div>
                        </div>       
                        <div class="form-group col-12 row">
                            <label for="example-text-input" class="col-1 col-form-label">회사 특징</label>
                            <div class="col-11 ">
                                <input name="name" class="form-control" type="text" value="" placeholder="회사특징을 입력해주세요." id="product_name_input">
                            </div>
                        </div>  
                        <div class="form-group col-12 row" style="">
                            <label class="col-control-label col-1  col-form-label">관련 태그</label>
                            <select style="width: 700px" class="select2 form-control select2-multiple col-10 " multiple="multiple"
                                data-placeholder="태그를 선택하거나 입력하세요.">                             
                                    <option value="AK">Alaska</option>
                                    <option value="HI">Hawaii</option>                              
                                    <option value="CA">California</option>
                                    <option value="NV">Nevada</option>
                                    <option value="OR">Oregon</option>
                                    <option value="WA">Washington</option>
                            </select>
                        
                        </div>
                   </div>
                   <div class="row justify-content-end mr-3">
                       <button class="btn btn-primary">등록하기</button>
                   </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <script src="/static/admin/js/pages/form-advanced.init.js"></script>
    <script src="/static/admin/js/libs/select2/js/select2.min.js"></script>
    <script>
    $(document).ready(function(){
        $(document).on( "keyup" , ".select2-search__field"  , function(e){
            if(key.keyCode==13) {
                
            }
        })
    })
    
    </script>
    <style>
        .col-form-label{
            font-weight: bold;
        }
        .select2-search__field{
            -webkit-box-flex: 0;
            -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
            max-width: 91.66667%;
            color: #495057;
            width: 100%!important;
        }
        .select2{
            padding-right: 12px;
            padding-left: 12px;
            -webkit-box-flex: 0;
            -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
            max-width: 91.66667%;
        }
        .select2-search.select2-search--inline{
            width: 100%!important;
        }
        
    </style>