


    <!--  Modal content for the above example -->
    <div class="modal fade add_order_modal ffff" tabindex="-1" role="dialog"
        aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mt-0" id="myExtraLargeModalLabel">작업지시서 등록</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">        
                        <form id="receipt" class="modal_form">               
                            <div class="form-group col-6 row">
                                <label for="example-text-input" class="col-3 col-form-label">접수 담당자</label>
                                <div class="col-9 " style="display: flex; justify-content: space-between;align-items: center;">
                                    {% for emp in employee_list %}
                                    <div class="custom-control custom-checkbox">
                                        <input name="receipt" value="{{emp.id}}" type="checkbox" class="custom-control-input" id="recep_emp_{{emp.id}}">
                                        <label class="custom-control-label" for="recep_emp_{{emp.id}}">{{emp.name}}</label>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>       
                            <div class="form-group col-6 row">
                                <label for="example-text-input" class="col-3 col-form-label">접수경로</label>
                                <div class="col-9 " style="display: flex; justify-content: space-between;align-items: center;">
                                    <div class="custom-control custom-checkbox">
                                        <input name="receipt_type" value="재고 충전" type="checkbox" class="custom-control-input" id="receipt_type_0">
                                        <label class="custom-control-label" for="receipt_type_0">재고 충전</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input name="receipt_type" value="전화"  type="checkbox" class="custom-control-input" id="receipt_type_1">
                                        <label class="custom-control-label" for="receipt_type_1">전화</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input name="receipt_type" value="카카오톡" type="checkbox" class="custom-control-input" id="receipt_type_2">
                                        <label class="custom-control-label" for="receipt_type_2">카카오톡</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input name="receipt_type"  value="방문" type="checkbox" class="custom-control-input" id="receipt_type_3">
                                        <label class="custom-control-label" for="receipt_type_3">방문</label>
                                    </div>                              
                                </div>
                            </div>           
                            <div class="form-group row  col-6">
                                <label for="example-datetime-local-input" class="col-3 col-form-label">접수일자/시간</label>
                                <div class="col-9">
                                    <input name="receipt_date_time" class="form-control" type="datetime-local" value=""
                                        id="example-datetime-local-input">
                                </div>
                            </div>
                            <div class="form-group row  col-6">                           
                            </div>
                                        
                            <div class="form-group col-6 row">
                                <label for="example-text-input" class="col-3 col-form-label">상호</label>
                                <div class="col-9 ">
                                    <input name="client_company_name" class="form-control" type="text" value="" placeholder="상호를 입력해주세요." id="product_name_input">
                                </div>
                            </div>          
                            <div class="form-group col-6 row">
                                <label for="example-text-input" class="col-3 col-form-label">담당자</label>
                                <div class="col-9 ">
                                    <input name="client_person_name" class="form-control" type="text" value="" placeholder="담당자를 입력해주세요." id="product_name_input">
                                </div>
                            </div>           
                            <div class="form-group col-6 row">
                                <label for="example-text-input" class="col-3 col-form-label">담당자 핸드폰</label>
                                <div class="col-9 ">
                                    <input name="client_person_phone" class="form-control" type="text" value="" placeholder="담당자 핸드폰을 입력해주세요." id="product_name_input">
                                </div>
                            </div>              
                        
                            <div class="form-group col-6 row">
                                <label for="example-text-input" class="col-3 col-form-label">운임비용</label>
                                <div class="col-9 " style="display: flex; justify-content: space-between;align-items: center;">
                                    <div class="custom-control custom-checkbox">
                                        <input name="delivery_charge_type" value="없음" type="checkbox" class="custom-control-input" id="delivery_charge_type_0">
                                        <label class="custom-control-label" for="delivery_charge_type_0">없음</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input name="delivery_charge_type" value="선불"  type="checkbox" class="custom-control-input" id="delivery_charge_type_1">
                                        <label class="custom-control-label" for="delivery_charge_type_1">선불</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input name="delivery_charge_type" value="착불"  type="checkbox" class="custom-control-input" id="delivery_charge_type_2">
                                        <label class="custom-control-label" for="delivery_charge_type_2">착불</label>
                                    </div>                                              
                                </div>
                            </div>          
                            <div class="form-group col-6 row">
                                <label for="example-text-input" class="col-3 col-form-label">긴급출고</label>
                                <div class="col-9 " style="display: flex; justify-content: space-around;align-items: center;">
                                    <div class="custom-control custom-checkbox">
                                        <input name="is_urgent" type="checkbox" value="true" class="custom-control-input" id="is_urgent_0">
                                        <label class="custom-control-label" for="is_urgent_0">당일출고</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input name="is_urgent" type="checkbox" value="false" class="custom-control-input" id="is_urgent_1">
                                        <label class="custom-control-label" for="is_urgent_1">일반출고</label>
                                    </div>                                                                 
                                </div>
                            </div>                      
                            <div class="form-group col-6 row">
                                <label for="example-text-input" class="col-3 col-form-label">배송방법</label>
                                <div class="col-9 " style="display: flex; justify-content: space-between;align-items: center;">
                                    <div class="custom-control custom-checkbox">
                                        <input name="delivery_type" value="배송" type="checkbox" class="custom-control-input" id="delivery_type_0">
                                        <label class="custom-control-label" for="delivery_type_0">배송</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input name="delivery_type" value="방문수령" type="checkbox" class="custom-control-input" id="delivery_type_1">
                                        <label class="custom-control-label" for="delivery_type_1">방문수령</label>
                                    </div> 
                                    <div class="custom-control custom-checkbox">
                                        <input name="delivery_type" value="택배" type="checkbox" class="custom-control-input" id="delivery_type_2">
                                        <label class="custom-control-label" for="delivery_type_2">택배</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input name="delivery_type" value="화물" type="checkbox" class="custom-control-input" id="delivery_type_3">
                                        <label class="custom-control-label" for="delivery_type_3">화물</label>
                                    </div>      
                                    <div class="custom-control custom-checkbox">
                                        <input name="delivery_type" value="화물택배" type="checkbox" class="custom-control-input" id="delivery_type_4">
                                        <label class="custom-control-label" for="delivery_type_4">화물택배</label>
                                    </div>                                                             
                                </div>
                            </div>     
                            <div class="form-group col-6 row">
                                <label for="example-text-input" class="col-3 col-form-label">지역</label>
                                <div class="col-9 " style="display: flex; justify-content: space-around;align-items: center;">
                                    <div class="custom-control custom-checkbox">
                                        <input name="local" value="청주" type="checkbox" class="custom-control-input" id="local_type_0">
                                        <label class="custom-control-label" for="local_type_0">청주</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input name="local" value="세종" type="checkbox" class="custom-control-input" id="local_type_1">
                                        <label class="custom-control-label" for="local_type_1">세종</label>
                                    </div> 
                                    <div class="custom-control custom-checkbox">
                                        <input name="local" value="대전" type="checkbox" class="custom-control-input" id="local_type_2">
                                        <label class="custom-control-label" for="local_type_2">대전</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input name="local" value="공주" type="checkbox" class="custom-control-input" id="local_type_3">
                                        <label class="custom-control-label" for="local_type_3">공주</label>
                                    </div>      
                                    <div class="custom-control custom-checkbox">
                                        <input name="local" value="충청" type="checkbox" class="custom-control-input" id="local_type_4">
                                        <label class="custom-control-label" for="local_type_4">충청</label>
                                    </div>    
                                    <div class="custom-control custom-checkbox">
                                        <input name="local" value="기타" type="checkbox" class="custom-control-input" id="local_type_5">
                                        <label class="custom-control-label" for="local_type_5">기타</label>
                                    </div>                                                          
                                </div>
                            </div>                                 
                            <div class="form-group col-6 row">
                                <label for="example-text-input" class="col-3 col-form-label">발송인명</label>
                                <div class="col-9">
                                    <input name="sender_name" class="form-control" type="text" value="" placeholder="이메일을 입력해주세요." id="product_name_input">
                                </div>
                            </div> 
                            <div class="form-group col-6 row">
                                <label for="example-text-input" class="col-3 col-form-label">수하인명</label>
                                <div class="col-9">
                                    <input name="receipter_name" class="form-control" type="text" value="" placeholder="이메일을 입력해주세요." id="product_name_input">
                                </div>
                            </div> 
                            <div class="form-group col-6 row">
                                <label for="example-text-input" class="col-3 col-form-label">납기일자/시간</label>
                                <div class="col-9">
                                    <input name="due" class="form-control" type="datetime-local" value="2019-08-19T13:45:00"
                                        id="example-datetime-local-input2">
                                </div>
                            </div> 
                            <div class="form-group col-6 row">
                                <label for="example-text-input" class="col-3 col-form-label">납기장소</label>
                                <div class="col-9">
                                    <input name="receipt_location" class="form-control" type="text" value="" placeholder="이메일을 입력해주세요." id="product_name_input">
                                </div>
                            </div> 
                            <div class="form-group col-12 row">
                                <label for="example-text-input" class="col-1 col-form-label pt-0">주문요청<br>사항</label>
                                <div class="col-11 ">
                                    <input name="receipt_comment" class="form-control" type="text" value="" placeholder="세부주소를 입력해주세요." id="product_name_input">
                                </div>
                            </div>   
                        </form>       
                    </div>
                    <hr>
                    <div class="row">
                        <div class="form-group col-12 row">
                            <label for="example-text-input" class="col-1 col-form-label">작업종류</label>
                            <div class="col-11 " style="display: flex; justify-content: space-around;align-items: center;">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="type_0">
                                    <label class="custom-control-label" for="type_0">실사출력</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="type_1">
                                    <label class="custom-control-label" for="type_1">사인물</label>
                                </div> 
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="type_0">
                                    <label class="custom-control-label" for="type_0">후레임간판</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="type_1">
                                    <label class="custom-control-label" for="type_1">채널간판</label>
                                </div>      
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="type_1">
                                    <label class="custom-control-label" for="type_1">지주간판</label>
                                </div>    
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="type_1">
                                    <label class="custom-control-label" for="type_1">포인트간판</label>
                                </div>   
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="type_1">
                                    <label class="custom-control-label" for="type_1">어닝</label>
                                </div>   
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="type_1">
                                    <label class="custom-control-label" for="type_1">광고자재</label>
                                </div>      
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="type_1">
                                    <label class="custom-control-label" for="type_1">기타</label>
                                </div>                                                       
                            </div>
                        </div>  
                        <div class="form-group col-12 row">
                            <label for="example-text-input" class="col-1 col-form-label pt-0">프로젝트 명</label>
                            <div class="col-11 ">
                                <input name="name" class="form-control" type="text" value="" placeholder="세부주소를 입력해주세요." id="product_name_input">
                            </div>
                        </div>  
                        <div class="form-group col-12 row">
                            <label for="example-text-input" class="col-1 col-form-label pt-0">원본 데이터 위치</label>
                            <div class="col-11 ">
                                <input name="name" class="form-control" type="text" value="" placeholder="세부주소를 입력해주세요." id="product_name_input">
                            </div>
                        </div>  
                        <div class="form-group col-12 row">
                            <label for="example-text-input" class="col-1 col-form-label pt-0">데이터 설명</label>
                            <div  class="col-11 ">
                                <div id="summernote"></div>
                            </div>
                        </div>  
                        <div class="form-group col-12 row">
                            <label for="example-text-input" class="col-1 col-form-label pt-0">추가옵션</label>
                            <div class="col-11 row">
                                <div class="form-group col-4 row">
                                    <label for="example-text-input" class="col-4 col-form-label ">채널종류</label>
                                    <div class="col-8 ">
                                        <input name="name" class="form-control" type="text" value="" placeholder="세부주소를 입력해주세요." id="product_name_input">
                                    </div>
                                </div>  
                                <div class="form-group col-4 row">
                                    <label for="example-text-input" class="col-4 col-form-label">LED 수량</label>
                                    <div class="col-8 ">
                                        <input name="name" class="form-control" type="text" value="" placeholder="세부주소를 입력해주세요." id="product_name_input">
                                    </div>
                                </div>  
                                <div class="form-group col-4 row">
                                    <label for="example-text-input" class="col-4 col-form-label ">입체규격</label>
                                    <div class="col-8 ">
                                        <input name="name" class="form-control" type="text" value="" placeholder="세부주소를 입력해주세요." id="product_name_input">
                                    </div>
                                </div>  
                                <div class="form-group col-4 row">
                                    <label for="example-text-input" class="col-4 col-form-label ">입체색상</label>
                                    <div class="col-8 ">
                                        <input name="name" class="form-control" type="text" value="" placeholder="세부주소를 입력해주세요." id="product_name_input">
                                    </div>
                                </div>  
                                <div class="form-group col-4 row">
                                    <label for="example-text-input" class="col-4 col-form-label ">LED 종류</label>
                                    <div class="col-8 ">
                                        <input name="name" class="form-control" type="text" value="" placeholder="세부주소를 입력해주세요." id="product_name_input">
                                    </div>
                                </div>  
                                <div class="form-group col-4 row">
                                    <label for="example-text-input" class="col-4 col-form-label ">트림색상</label>
                                    <div class="col-8 ">
                                        <input name="name" class="form-control" type="text" value="" placeholder="세부주소를 입력해주세요." id="product_name_input">
                                    </div>
                                </div>  
                                <div class="form-group col-4 row">
                                    <label for="example-text-input" class="col-4 col-form-label ">시트넘버</label>
                                    <div class="col-8 ">
                                        <input name="name" class="form-control" type="text" value="" placeholder="세부주소를 입력해주세요." id="product_name_input">
                                    </div>
                                </div>  
                                <div class="form-group col-4 row">
                                    <label for="example-text-input" class="col-4 col-form-label ">SMPS 포함</label>
                                    <div class="col-8 ">
                                        <input name="name" class="form-control" type="text" value="" placeholder="세부주소를 입력해주세요." id="product_name_input">
                                    </div>
                                </div>  
                                <div class="form-group col-4 row">
                                    <label for="example-text-input" class="col-4 col-form-label ">도장포함</label>
                                    <div class="col-8 ">
                                        <input name="name" class="form-control" type="text" value="" placeholder="세부주소를 입력해주세요." id="product_name_input">
                                    </div>
                                </div>  
                                <div class="form-group col-4 row">
                                    <label for="example-text-input" class="col-4 col-form-label ">종이도안지</label>
                                    <div class="col-8 ">
                                        <input name="name" class="form-control" type="text" value="" placeholder="세부주소를 입력해주세요." id="product_name_input">
                                    </div>
                                </div>  
                                <div class="form-group col-4 row">
                                    <label for="example-text-input" class="col-4 col-form-label ">기타</label>
                                    <div class="col-8 ">
                                        <input name="name" class="form-control" type="text" value="" placeholder="세부주소를 입력해주세요." id="product_name_input">
                                    </div>
                                </div>  
                            </div>
                        </div>  
                        <div class="form-group col-6 row">
                            <label for="example-text-input" class="col-3 col-form-label">작업형태</label>
                            <div class="col-9 " style="display: flex; justify-content: space-around;align-items: center;">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="type_0">
                                    <label class="custom-control-label" for="type_0">직접제작</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="type_1">
                                    <label class="custom-control-label" for="type_1">완조립</label>
                                </div> 
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="type_0">
                                    <label class="custom-control-label" for="type_0">외주</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="type_1">
                                    <label class="custom-control-label" for="type_1">일부 외주</label>
                                </div>      
                            </div>
                        </div> 
                        <div class="form-group col-6 row">
                            <label for="example-text-input" class="col-3 col-form-label">시안형태</label>
                            <div class="col-9 " style="display: flex; justify-content: space-around;align-items: center;">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="type_0">
                                    <label class="custom-control-label" for="type_0">완성데이터</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="type_1">
                                    <label class="custom-control-label" for="type_1">시안수정</label>
                                </div> 
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="type_0">
                                    <label class="custom-control-label" for="type_0">시안 새작업</label>
                                </div>
                            </div>
                        </div> 
                        <div class="form-group col-12 row">
                            <label for="example-text-input" class="col-1 col-form-label pt-0">제작사양</label>
                            <div class="col-11 ">
                                <input name="name" class="form-control" type="text" value="" placeholder="세부주소를 입력해주세요." id="product_name_input">
                            </div>
                        </div>  
                        <div class="form-group col-6 row">
                            <label for="example-text-input" class="col-2 col-form-label pt-0">수량</label>
                            <div class="col-10 ">
                                <input name="name" class="form-control" type="text" value="" placeholder="세부주소를 입력해주세요." id="product_name_input">
                            </div>
                        </div> 
                        <div class="form-group col-6 row">
                            <label for="example-text-input" class="col-2 col-form-label">오퍼레이터</label>
                            <div class="col-10 " style="display: flex; justify-content: space-around;align-items: center;">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="type_0">
                                    <label class="custom-control-label" for="type_0">김성수</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="type_1">
                                    <label class="custom-control-label" for="type_1">이범진</label>
                                </div> 
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="type_0">
                                    <label class="custom-control-label" for="type_0">임형배</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="type_0">
                                    <label class="custom-control-label" for="type_0">김태연</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="type_0">
                                    <label class="custom-control-label" for="type_0">신우식</label>
                                </div>
                            </div>
                        </div>  
                        <div class="form-group col-12 row">
                            <label for="example-text-input" class="col-1 col-form-label">필요설비 </label>
                            <div class="col-11 " style="">
                                <div class="row p-1 machine" style="">
                                    실사 기기
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="type_0">
                                        <label class="custom-control-label" for="type_0">UV 평판</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="type_1">
                                        <label class="custom-control-label" for="type_1">UV</label>
                                    </div> 
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="type_0">
                                        <label class="custom-control-label" for="type_0">에코솔벤트</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="type_0">
                                        <label class="custom-control-label" for="type_0">수성</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="type_0">
                                        <label class="custom-control-label" for="type_0">돔보컷팅</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="type_0">
                                        <label class="custom-control-label" for="type_0">코팅기</label>
                                    </div>
                                </div>
                                
                                <div class="row p-1 machine">
                                    공작 기기
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="type_0">
                                        <label class="custom-control-label" for="type_0">CNC</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="type_1">
                                        <label class="custom-control-label" for="type_1">레이저</label>
                                    </div> 
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="type_0">
                                        <label class="custom-control-label" for="type_0">재단기</label>
                                    </div>
                                </div>
                            </div>
                        </div>  
                        <div class="form-group col-12 row">
                            <label for="example-text-input" class="col-2 col-form-label pt-0">견적</label>
                            <div class="col-10 row">
                                <div class="form-group col-4 row">
                                    <label for="example-text-input" class="col-4 col-form-label ">공급가액</label>
                                    <div class="col-8 ">
                                        <input name="name" class="form-control" type="text" value="" placeholder="세부주소를 입력해주세요." id="product_name_input">
                                    </div>
                                </div> 
                                <div class="form-group col-4 row">
                                    <label for="example-text-input" class="col-4 col-form-label ">부가세</label>
                                    <div class="col-8 ">
                                        <input name="name" class="form-control" type="text" value="" placeholder="세부주소를 입력해주세요." id="product_name_input">
                                    </div>
                                </div> 
                                <div class="form-group col-4 row">
                                    <label for="example-text-input" class="col-4 col-form-label ">총액</label>
                                    <div class="col-8 ">
                                        <input name="name" class="form-control" type="text" value="" placeholder="세부주소를 입력해주세요." id="product_name_input">
                                    </div>
                                </div> 
                            </div>
                        </div> 
                        <div class="form-group col-12 row">
                            <label for="example-text-input" class="col-1 col-form-label pt-0">견적비고</label>
                            <div class="col-11 ">
                                <input name="name" class="form-control" type="text" value="" placeholder="세부주소를 입력해주세요." id="product_name_input">
                            </div>
                        </div>  


                        <div class="col-12">
                            <button class="col-12 btn btn-primary">추가등록</button>
                        </div>
                    </div>
                    <div class="row justify-content-end mt-3 mr-1">
                        <button id="receipt_submit" class="btn btn-primary">등록하기</button>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <script src="/static/admin/js/pages/form-advanced.init.js"></script>
    <script src="/static/admin/js/libs/select2/js/select2.min.js"></script>
    <script>
        $('.add_order_modal').on('shown.bs.modal', function() {
            $('#summernote').summernote();
        })
        $("#receipt_submit").on("click", function(){
            var receipt_data = $("#receipt").serialize()
            console.log(receipt_data)
            $.ajax({
                type : 'POST',
                url : '/shop_admin/ajax_order',
                data : receipt_data,
                dataType : 'json',
                error: function(xhr, status, error){
                    alert(error);
                },
                success : function(json){
                    alert("등록되었습니다.")
                    // location.reload()
                }
            });
        
        
        })     
    </script>
    <style>
        .col-form-label{
            font-weight: bold;
            display: flex;
            align-items: center;
            text-align: center;
        }
        .select2-search__field{
            -webkit-box-flex: 0;
            -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
            max-width: 91.66667%;
            color: #495057;
            width: 100%!important;
        }
        .select2{
            padding-right: 12px;
            padding-left: 12px;
            -webkit-box-flex: 0;
            -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
            max-width: 91.66667%;
        }
        .machine .custom-checkbox{
            margin-left: 30px;
            min-width: 100px;
        }
        
    </style>