


    <!--  Modal content for the above example -->
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <div class="modal fade bs-employee-modal-xl" tabindex="-1" role="dialog"
        aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mt-0" id="myExtraLargeModalLabel">직원 등록</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                   <div class="row">        
                        <form class="modal_form" id="employee">               
                            <div class="form-group col-4 row">
                                <label for="example-text-input" class="col-4 col-form-label">이름</label>
                                <div class="col-8 ">
                                    <input name="name" class="form-control" type="text" value="" placeholder="이름을 입력해주세요." id="product_name_input">
                                </div>
                            </div>       
                            <div class="form-group col-4 row">
                                <label for="example-text-input" class="col-4 col-form-label">이메일</label>
                                <div class="col-8 ">
                                    <input name="email" class="form-control" type="text" value="" placeholder="이메일을 입력해주세요." id="product_name_input">
                                </div>
                            </div>      
                            <div class="form-group col-4 row">
                                <label for="example-text-input" class="col-4 col-form-label">직책</label>
                                <div class="col-8 ">
                                    <input name="position" class="form-control" type="text" value="" placeholder="직책을 입력해주세요." id="product_name_input">
                                </div>
                            </div>       
                            <div class="form-group col-4 row">
                                <label for="example-text-input" class="col-4 col-form-label">담당업무</label>
                                <div class="col-8 ">
                                    <input name="scope" class="form-control" type="text" value="" placeholder="담당업무를 입력해주세요." id="product_name_input">
                                </div>
                            </div>          
                            <div class="form-group col-4 row">
                                <label for="example-text-input" class="col-4 col-form-label">핸드폰</label>
                                <div class="col-8 ">
                                    <input name="phone" class="form-control" type="text" value="" placeholder="핸드폰을 입력해주세요." id="product_name_input">
                                </div>
                            </div>                        
                            <div class="form-group col-4 row">
                                <label for="example-text-input" class="col-4 col-form-label">연락처</label>
                                <div class="col-8 ">
                                    <input name="tel" class="form-control" type="text" value="" placeholder="연락처를 입력해주세요." id="product_name_input">
                                </div>
                            </div>  
                            <div class="form-group col-6 row">
                                <label for="example-text-input" class="col-2 col-form-label">주소</label>
                                <div class="col-10 ">
                                    <input name="address" id="address" class="form-control" type="text" value="" placeholder="주소를 입력해주세요." id="product_name_input">
                                </div>
                            </div>              
                            <div class="form-group col-6 row">
                                <label for="example-text-input" class="col-2 col-form-label">세부주소</label>
                                <div class="col-10 ">
                                    <input name="extra_address" id="extra_address"  class="form-control" type="text" value="" placeholder="세부주소를 입력해주세요." id="product_name_input">
                                </div>
                            </div>   
                        </form> 
                   </div>
                   <div class="row justify-content-end mr-3">
                       <button id="employee_form_submit" class="btn btn-primary">등록하기</button>
                   </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <script src="/static/admin/js/pages/form-advanced.init.js"></script>
    <script src="/static/admin/js/libs/select2/js/select2.min.js"></script>
    <script>
        function find_address() {
            new daum.Postcode({
                oncomplete: function(data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
    
                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var addr = ''; // 주소 변수
                    var extraAddr = ''; // 참고항목 변수
    
                    //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    addr = data.roadAddress;
                
    
                    // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                 
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                   
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("extra_address").value = extraAddr;                 
                    document.getElementById("address").value = addr;
                    // 커서를 상세주소 필드로 이동한다.
                    document.getElementById("extra_address").focus();
                }
            }).open();
        }
        $("#address").on("click", find_address)
        $("#employee_form_submit").on("click", function(){
            var data = $("#employee").serialize()
            $.ajax({
                type : 'POST',
                url : '/shop_admin/internal/ajax_employee',
                data : data,
                dataType : 'json',
                error: function(xhr, status, error){
                    alert(error);
                },
                success : function(json){
                    alert("등록되었습니다.")
                    location.reload()
                }
            });
        })
    </script>
    <style>
        .col-form-label{
            font-weight: bold;
        }
        .select2-search__field{
            -webkit-box-flex: 0;
            -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
            max-width: 91.66667%;
            color: #495057;
            width: 100%!important;
        }
        .select2{
            padding-right: 12px;
            padding-left: 12px;
            -webkit-box-flex: 0;
            -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
            max-width: 91.66667%;
        }        
    </style>