<!--  Modal content for the above example -->
<div
  class="modal fade expected_time_modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="expected_time_modal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mt-0" id="myExtraLargeModalLabel">예상시간 입력</h5>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12 expected_time_modal-badge">
            예상시간을 입력해주세요
            <input type="hidden" name="data-project-id">
            <input type="text" name="expected_time" class="form-control">
          </div>
        </div>
        <div class="row justify-content-end mt-3 mr-1">
          <button id="expected_time_submit" class="btn btn-primary"
            >입력</button
          >
        </div>
      </div> </div
    ><!-- /.modal-content --> </div
  ><!-- /.modal-dialog --> </div
><!-- /.modal -->
<script src="/static/admin/js/pages/form-advanced.init.js"></script>
<script src="/static/admin/js/libs/select2/js/select2.min.js"></script>
<script>
 
  $("#expected_time_submit").on("click", function () {
     $.ajax({
      url: "/shop_admin/modify_project",
      type: "POST",
      data: {
        id: $(".expected_time_modal-badge").find("input[name='data-project-id']").val(),
        target: "expected_time",
        value: $("input[name='expected_time']").val(),
      },
      success: function () {
        location.reload()
      },
    });
  });
</script>
<style>
  .operator-badge {
    font-size: 16px;
    text-align: center;
    line-height: 42px;
  }
  .operator-badge .badge {
    font-size: 18px;    
  }
  .col-form-label {
    font-weight: bold;
    display: flex;
    align-items: center;
    text-align: center;
  }
  .select2-search__field {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
    color: #495057;
    width: 100% !important;
  }
  .select2 {
    padding-right: 12px;
    padding-left: 12px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .machine .custom-checkbox {
    margin-left: 30px;
    min-width: 100px;
  }
  .modal .select2 {
    padding-right: 0px !important;
    padding-left: 0px !important;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100% !important;
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  @media print {
    .modal {
      position: absolute;
      left: 0;
      top: 0;
      margin: 0;
      padding: 0;
      overflow: visible !important;
    }
    .modal-dialog {
      max-width: 100%;
      width: 100%;
      margin: 0px !important;
    }
  }
</style>
