<!--  Modal content for the above example -->
<div
  class="modal fade machine_info_modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="machine_info_modal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mt-0" id="myExtraLargeModalLabel">장비 변경</h5>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12 machine-badge">
            평판 :
            <span class="badge badge-pill badge-light">PU1</span>
            <span class="badge badge-pill badge-light">PU2</span><br />
            에코솔벤 :
            <span class="badge badge-pill badge-light">ES1</span>
            <span class="badge badge-pill badge-light">ES2</span><br />
            수성 :
            <span class="badge badge-pill badge-light">W1</span>
            <span class="badge badge-pill badge-light">W2</span><br />
            UV :
            <span class="badge badge-pill badge-light">UV1</span>
            <span class="badge badge-pill badge-light">UV2</span><br />
            레이저 :
            <span class="badge badge-pill badge-light">LA1</span><br />
            CNC :
            <span class="badge badge-pill badge-light">CNC1</span><br />
          </div>
        </div>
        <div class="row justify-content-end mt-3 mr-1">
          <button id="machine_change_submit" class="btn btn-primary"
            >변경하기</button
          >
        </div>
      </div> </div
    ><!-- /.modal-content --> </div
  ><!-- /.modal-dialog --> </div
><!-- /.modal -->
<script src="/static/admin/js/pages/form-advanced.init.js"></script>
<script src="/static/admin/js/libs/select2/js/select2.min.js"></script>
<script>
  function link_current_coring_machine() {
    var all_machine_list = [];
    var working_machine = [];
    $(".machine-badge>.badge").each(function () {
      all_machine_list.push($(this).text().trim());
    });
    $(".processing_machine").each(function () {
      var list = $(this).text().trim().split(",");
      for (k = 0; k < list.length; k++) {
        if (list[k] != "" && list[k] != "미지정") {
          working_machine.push(list[k]);
        }
      }
    });
    working_machine = _.uniq(working_machine);
    $("#working_machine").text(working_machine.join(","));
    var waiting_machine = all_machine_list.filter(
      (x) => !working_machine.includes(x)
    );
    $("#waiting_machine").text(waiting_machine.join(","));
  }
  $(".machine-badge>.badge").on("click", function () {
    console.log("dd");
    if ($(this).hasClass("badge-primary")) {
      $(this).removeClass("badge-primary");
      $(this).addClass("badge-light");
    } else {
      console.log("sdfsdf");
      $(this).addClass("badge-primary");
      $(this).removeClass("badge-light");
    }
  });
  $("#machine_change_submit").on("click", function () {
    var text = [];
    $(".machine-badge > .badge-primary").each(function () {
      text.push($(this).text().trim());
    });
    var id = $(".machine-badge").last().attr("data-project-id");
    $.ajax({
      url: "/shop_admin/modify_project",
      type: "POST",
      data: {
        id: id,
        target: "processing_machine",
        value: text.join(","),
      },
      success: function () {
        alert("변경되었습니다.");
        $(".machine_info_modal").modal("hide");
        $("tr[data-project-id='" + id + "']")
          .find(".processing_machine")
          .text(text.join(",") ? text.join(",") : "미지정");
        link_current_coring_machine();
      },
    });
  });
</script>
<style>
  .machine-badge {
    font-size: 16px;
    text-align: center;
    line-height: 42px;
  }
  .machine-badge .badge {
    font-size: 18px;
  }
  .col-form-label {
    font-weight: bold;
    display: flex;
    align-items: center;
    text-align: center;
  }
  .select2-search__field {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
    color: #495057;
    width: 100% !important;
  }
  .select2 {
    padding-right: 12px;
    padding-left: 12px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .machine .custom-checkbox {
    margin-left: 30px;
    min-width: 100px;
  }
  .modal .select2 {
    padding-right: 0px !important;
    padding-left: 0px !important;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100% !important;
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  @media print {
    .modal {
      position: absolute;
      left: 0;
      top: 0;
      margin: 0;
      padding: 0;
      overflow: visible !important;
    }
    .modal-dialog {
      max-width: 100%;
      width: 100%;
      margin: 0px !important;
    }
  }
</style>
