<!--  Modal content for the above example -->
<div
  class="modal fade operator_info_modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="operator_info_modal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mt-0" id="myExtraLargeModalLabel">오퍼레이터 변경</h5>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12 operator-badge">
            {% for emp in employee_list %}
            <span data-id="{{emp.id}}" class="badge badge-pill badge-light">{{emp.name}}</span>
            {% endfor %}
        
          </div>
        </div>
        <div class="row justify-content-end mt-3 mr-1">
          <button id="operator_change_submit" class="btn btn-primary"
            >변경하기</button
          >
        </div>
      </div> </div
    ><!-- /.modal-content --> </div
  ><!-- /.modal-dialog --> </div
><!-- /.modal -->
<script src="/static/admin/js/pages/form-advanced.init.js"></script>
<script src="/static/admin/js/libs/select2/js/select2.min.js"></script>
<script>
  $(".operator-badge>.badge").on("click", function () {
    if ($(this).hasClass("badge-primary")) {
      $(this).removeClass("badge-primary");
      $(this).addClass("badge-light");
    } else {
      $(this).addClass("badge-primary");
      $(this).removeClass("badge-light");
    }
  });
  $("#operator_change_submit").on("click", function () {
    var id_list = [];
    var text = []
    
    $(".operator-badge > .badge-primary").each(function () {
      id_list.push($(this).attr("data-id"));
      text.push($(this).text().trim());
    });
    var id = parseInt($(".operator-badge").last().attr("data-project-id"));
    var before_text = $("tr[data-project-id='" + id + "']").find(".operator_info").text().trim()
    console.log(before_text)
    $.ajax({
      url: "/shop_admin/modify_project",
      type: "POST",
      data: {
        id: id,
        target: "operator",
        value: id_list.join(","),
      },
      success: function () {
        
        $(".operator_info_modal").modal("hide");
        $("tr[data-project-id='" + id + "']")
          .find(".operator_info")
          .text(text.join(",") ? text.join(",") : "미지정");
        console.log(before_text)
        if(before_text.indexOf("미지정")!=-1){
          // 준비 상태로 수정 
          $("tr[data-project-id='" + id + "']").find(".operator_info").next().find(".process").addClass("ready")
          $("tr[data-project-id='" + id + "']").find(".operator_info").next().find(".process").removeClass("waiting")
          $.ajax({
            url: "/shop_admin/modify_project",
            type: "POST",
            data: {
              id: id,
              target: $("tr[data-project-id='" + id + "']").find(".operator_info").next().find(".process").attr("data-process-target"),
              value: "ready",
            },
            success: function () {     
            },
          });
        
        }
   
      },
    });
  });
</script>
<style>
  .operator-badge {
    font-size: 16px;
    text-align: center;
    line-height: 42px;
  }
  .operator-badge .badge {
    font-size: 18px;    
  }
  .col-form-label {
    font-weight: bold;
    display: flex;
    align-items: center;
    text-align: center;
  }
  .select2-search__field {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
    color: #495057;
    width: 100% !important;
  }
  .select2 {
    padding-right: 12px;
    padding-left: 12px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .machine .custom-checkbox {
    margin-left: 30px;
    min-width: 100px;
  }
  .modal .select2 {
    padding-right: 0px !important;
    padding-left: 0px !important;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100% !important;
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  @media print {
    .modal {
      position: absolute;
      left: 0;
      top: 0;
      margin: 0;
      padding: 0;
      overflow: visible !important;
    }
    .modal-dialog {
      max-width: 100%;
      width: 100%;
      margin: 0px !important;
    }
  }
</style>
