


    <!--  Modal content for the above example -->
    <div class="modal fade project_info_modal" tabindex="-1" role="dialog"
        aria-labelledby="project_info_modal" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mt-0" id="myExtraLargeModalLabel">작업지시서 <span class="print_except">조회</span></h5>
                    <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button> -->
                    <table class="print_only">
                    <tr>
                        <td style="WIDTH: 70PX;HEIGHT: 10PX; BORDER: 1PX SOLID #000;TEXT-ALIGN:CENTER">데이터팀</td>
                        <td style="WIDTH: 70PX;HEIGHT: 10PX; BORDER: 1PX SOLID #000;TEXT-ALIGN:CENTER">생산팀</td>
                        <td style="WIDTH: 70PX;HEIGHT: 10PX; BORDER: 1PX SOLID #000;TEXT-ALIGN:CENTER">QC</td>
                    </tr>
                    <tr>
                        <td style="WIDTH: 50PX;HEIGHT: 60PX; BORDER: 1PX SOLID #000"></td>
                        <td style="WIDTH: 50PX;HEIGHT: 60PX; BORDER: 1PX SOLID #000"></td>
                        <td style="WIDTH: 50PX;HEIGHT: 60PX; BORDER: 1PX SOLID #000"></td>
                    </tr>
                    </table>
                </div>
                <div class="modal-body">        
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <form id="project_detail" class="project_seg " style="flex-wrap: wrap;">
                                    <input type="hidden" name="id" value> 
                                    <div class="row">
                                        <div class="form-group col-6 ">
                                            <label for="example-text-input" class="col-form-label pt-0">프로젝트 명</label>
                                            <div class="col-12 ">
                                                <input name="project_name" class="form-control" type="text" value="" placeholder="프로젝트 이름을 입력해주세요." id="product_name_input">
                                            </div>
                                        </div> 
                                        <div class="form-group col-3 ">
                                            <label for="example-text-input" class=" col-form-label">프로젝트 종류</label>                    
                                            <div class="col-12 " style="display: flex; justify-content: space-around;align-items: center;">
                                                <select name="project_type" class="form-control">
                                                    <option>실사출력</option>
                                                    <option>사인물</option>
                                                    <option>후레임간판</option>
                                                    <option>채널간판</option>
                                                    <option>지주간판</option>
                                                    <option>포인트간판</option>
                                                    <option>어닝</option>
                                                    <option>광고자재</option>
                                                    <option>기타</option>
                                                </select>
                                            </div>
                                        </div> 
                                        <div class="form-group col-3 ">
                                            <label for="example-text-input" class="col-form-label">작업형태</label>                    
                                            <div class="col-12 " style="display: flex; justify-content: space-around;align-items: center;">
                                                <select name="process_type" class="form-control">
                                                    <option value="직접제작">직접제작</option>
                                                    <option value="완조립">완조립</option>
                                                    <option value="외주">외주</option>
                                                    <option value="일부 외주">일부 외주</option>
                                                </select>
                                            </div>
                                        </div> 
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-3 ">
                                            <label for="example-text-input" class="col-form-label pt-0">원본 데이터</label>
                                            <div class="col-12 ">
                                                <input name="directory" class="form-control" type="text" value="" placeholder="데이터 위치를 입력해주세요." id="product_name_input">
                                            </div>
                                        </div>  
                                        <div class="form-group col-2 ">
                                            <label for="example-text-input" class=" col-form-label">시안형태</label>
                                            <div class="col-12 " style="display: flex; justify-content: space-around;align-items: center;">
                                                <select name="design" class="form-control">
                                                    <option>완성데이터</option>
                                                    <option>시안수정</option>
                                                    <option>시안 새작업</option>
                                                    <option>시안 없음</option>
                                                </select>               
                                            </div>
                                        </div> 
                                        <div class="form-group col-1 ">
                                            <label for="example-text-input" class="col-form-label pt-0">수량</label>
                                            <div class="col-12 ">
                                                <input name="count" class="form-control" type="text" value="" placeholder="수량을 입력해주세요." id="product_name_input">
                                            </div>
                                        </div> 
                                        <div class="form-group col-2 ">
                                            <label for="example-text-input" class="col-form-label">마감일</label>
                                            <div class="col-12">
                                                <input name="project_due"  class="form-control project_due" data-date-format="yyyy-mm-dd" data-provide="datepicker"                       >
                                            </div>
                                        </div> 
                                        <div class="form-group col-2 ">
                                            <label for="example-text-input" class="col-form-label">납기일</label>
                                            <div class="col-12">
                                                <input type="text" name="due"" class="form-control" data-date-format="yyyy-mm-dd" data-provide="datepicker"
                                                    data-date-autoclose="true">                         
                                            </div>
                                        </div> 
                                        <div class="form-group col-2 ">
                                            <label for="example-text-input" class="col-form-label">오퍼레이터</label>
                                            <div class="col-12 " style="display: flex; justify-content: space-around;align-items: center;">
                                                <select id="modify_project_operator" name="operator" class="select2 form-control select2-multiple" multiple="multiple"
                                                        data-placeholder="오퍼레이터 선택">
                                                    {% for emp in employee_list %}
                                                        <option value="{{emp.id}}">{{emp.name}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div> 
                                    </div>

                                    <div class="row">
                                        <div class="form-group col-6 ">
                                            <label for="example-text-input" class=" col-form-label pt-0">메모</label>
                                            <div class="col-12 ">
                                                <input name="memo" class="form-control" type="text" value="" placeholder="메모를 입력해주세요." id="product_name_input">
                                            </div>
                                        </div>  
                                        <div class="form-group col-6 ">
                                            <label for="example-text-input" class=" col-form-label pt-0">포장 메모</label>
                                            <div class="col-12 ">
                                                <input name="packaging_text" class="form-control" type="text" value="" placeholder="포장 메모를 입력해주세요." id="product_name_input">
                                            </div>
                                        </div>  
                                    </div>  
                                    <div class="row">
                                        <div class="form-group col-12 ">
                                            <label for="example-text-input" class="col-form-label pt-0">데이터 설명</label>
                                            <div  class="col-12 ">
                                                <div id="summernote" class="summernote" ></div>
                                            </div>
                                        </div>   
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>        
                    
                    <div class="row  mt-3 mr-1 d-flex">
                        <div class="col-6 " style="justify-content: end;">
                            <button id="project_modify" class="btn btn-primary">수정하기</button>
                        </div>
                        <div class="col-6">
                            <button id="print_info" class="btn btn-primary">출력하기</button>
                        </div>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <script src="/static/admin/js/pages/form-advanced.init.js"></script>
    <script src="/static/admin/js/libs/select2/js/select2.min.js"></script>
    <script>
         jQuery.fn.serializeObject = function() {
            var obj = null;
            try {
                if (this[0].tagName && this[0].tagName.toUpperCase() == "FORM") {
                    var arr = this.serializeArray();
                    if (arr) {
                        obj = {};
                        jQuery.each(arr, function() {
                            obj[this.name] = this.value;
                        });
                    }//if ( arr ) {
                }
            } catch (e) {
                alert(e.message);
            } finally {
            }
        
            return obj;
        };
        $("#project_modify").on("click", function(){
            var form_data = new FormData();
           
            var project_data =  $("#project_detail").serializeObject()
            // receipt_data["receipt"] = $("select[name='receipt']").val()

            project_data["description"] = $("#summernote").summernote("code")
            form_data['project_data'] =  project_data ;
            form_data['project_data']["operator"] = $("#modify_project_operator").val()
            console.log(project_data)
            $.ajax({
                type : 'POST',
                url : '/shop_admin/ajax_project',
                data : JSON.stringify(form_data),
                dataType : 'json',
                // enctype: 'multipart/form-data',
                contentType: 'application/json; charset=utf-8',
                // processData: false,       
                // cache:false,
                error: function(xhr, status, error){
                    alert(error);
                },
                success : function(json){
                    alert("변경 되었습니다.")
                    location.reload()
                    // location.reload()
                }
            });
        })
        $("#print_info").on("click", 
        function(){
            var height= 600;
            var k = 0
            
            while($(".note-editable").hasScrollBar()){
                height = height+50;
                $(".note-editing-area").css("height",height)
                $(".note-editable").css("height",height)
                k = k+1
                if(k==10){ break}
            }            
            window.print()
        })
    </script>
    <style>
        .col-form-label{
            font-weight: bold;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: -2px;
        }
        .select2-search__field{
            -webkit-box-flex: 0;
            -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
            max-width: 91.66667%;
            color: #495057;
            width: 100%!important;
        }
        .select2{
            padding-right: 12px;
            padding-left: 12px;
            -webkit-box-flex: 0;
            -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
            max-width: 91.66667%;
    }
        .machine .custom-checkbox{
            margin-left: 30px;
            min-width: 100px;
        }
        .modal .select2 {
    padding-right: 0px!important;
    padding-left: 0px!important;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%!important;
    flex: 0 0 100%!important;
    max-width: 100%!important;
}
.col-form-label{
    min-width: 100px;;
    text-align: left!important;
}
.col-form-label{
    display: initial!important;
}
.modal .col-12, .modal .col-6 , .modal .col-3, .modal .col-4, .modal .col-2, .modal .col-1{
    padding-left: 0px!important;;
    /* padding-right: 0px!important; */
}
.select2-container .select2-selection--multiple {
   
    min-height: 36px!important;
   
}
.print_only{
    display:none;
}
@media print {
    .print_only{
    display:initial;
}
    .modal {
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;
        padding: 0;
        overflow: visible!important;
    }
    .modal-dialog { max-width: 100%; width: 100%; margin:0px!important} 
    .btn{ display: none;}
     .print_except{
        display:none;
    }
    
    }
   
    </style>