<!--  Modal content for the above example -->
<div
  class="modal fade receipt_info_modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="receipt_info_modal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mt-0" id="myExtraLargeModalLabel">주문 정보</h5>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col">
              <form id="receipt" class="">
                <input type="hidden" name="receipt_id">
                <div class="row">
                  <div class="form-group col-2 ">
                    <label for="example-text-input" class=" col-form-label"
                      >접수담당자</label
                    >
                    <div
                      class="col-12"
                      style="
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                      "
                    >
                      <select
                        name="receipt"
                        class="select2 form-control select2-multiple"
                        multiple="multiple"
                        data-placeholder="접수 담당자 선택"
                      >
                        {% for emp in employee_list %}
                        <option value="{{emp.id}}">{{emp.name}}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="form-group col-4 ">
                    <label for="example-text-input" class="col-form-label"
                      >접수경로</label
                    >
                    <div
                      class="col-12 d-flex justify-content-start"
                      style="align-items: center"
                    >
                      <div class="custom-control custom-checkbox">
                        <input
                          name="receipt_type"
                          value="재고 충전"
                          type="radio"
                          class="custom-control-input"
                          id="receipt_type_0"
                        />
                        <label class="custom-control-label" for="receipt_type_0"
                          >재고 충전</label
                        >
                      </div>
                      <div class="custom-control custom-checkbox">
                        <input
                          name="receipt_type"
                          value="전화"
                          type="radio"
                          class="custom-control-input"
                          id="receipt_type_1"
                        />
                        <label class="custom-control-label" for="receipt_type_1"
                          >전화</label
                        >
                      </div>
                      <div class="custom-control custom-checkbox">
                        <input
                          name="receipt_type"
                          value="카카오톡"
                          type="radio"
                          class="custom-control-input"
                          id="receipt_type_2"
                        />
                        <label class="custom-control-label" for="receipt_type_2"
                          >카카오톡</label
                        >
                      </div>
                      <div class="custom-control custom-checkbox">
                        <input
                          name="receipt_type"
                          value="방문"
                          type="radio"
                          class="custom-control-input"
                          id="receipt_type_3"
                        />
                        <label class="custom-control-label" for="receipt_type_3"
                          >방문</label
                        >
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-3">
                    <label
                      for="example-datetime-local-input"
                      class=" col-form-label"
                      >접수일자/시간</label
                    >
                    <div class="col-12">
                      <input
                        name="receipt_date_time"
                        class="form-control"
                        type="datetime-local"
                        value=""
                        id="example-datetime-local-input"
                      />
                    </div>
                  </div>       
                  <div class="form-group col-2 ">
                    <label for="example-text-input" class=" col-form-label"
                      >긴급출고</label
                    >
                    <div
                      class="col-12 d-flex justify-content-start"
                      style="align-items: center"
                    >
                      <div class="custom-control custom-checkbox">
                        <input
                          name="is_urgent"
                          type="radio"
                          value="false"
                          class="custom-control-input"
                          id="is_urgent_1"
                        />
                        <label class="custom-control-label" for="is_urgent_1"
                          >일반출고</label
                        >
                      </div>
                      <div class="custom-control custom-checkbox">
                        <input
                          name="is_urgent"
                          type="radio"
                          value="true"
                          class="custom-control-input"
                          id="is_urgent_0"
                        />
                        <label class="custom-control-label" for="is_urgent_0"
                          >당일출고</label
                        >
                      </div>
                      
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-2 ">
                    <label for="example-text-input" class=" col-form-label"
                      >상호</label
                    >
                    <div class="col-12">
                      <input
                        name="client_company_name"
                        class="form-control"
                        type="text"
                        value=""
                        placeholder="상호를 입력해주세요."
                        id="product_name_input"
                      />
                    </div>
                  </div>
                  <div class="form-group col-2 ">
                    <label for="example-text-input" class="col-form-label"
                      >담당자</label
                    >
                    <div class="col-12">
                      <input
                        name="client_person_name"
                        class="form-control"
                        type="text"
                        value=""
                        placeholder="담당자를 입력해주세요."
                        id="product_name_input"
                      />
                    </div>
                  </div>
                  <div class="form-group col-2 ">
                    <label for="example-text-input" class="2 col-form-label"
                      >담당자핸드폰</label
                    >
                    <div class="col-12">
                      <input
                        name="client_person_phone"
                        class="form-control"
                        type="text"
                        value=""
                        placeholder="담당자 핸드폰"
                        id="product_name_input"
                      />
                    </div>
                  </div>
      
                  <div class="form-group col-2 ">
                    <label for="example-text-input" class="col-2 col-form-label"
                      >운임비용</label
                    >
                    <div
                      class="col-12 d-flex justify-content-start"
                      style="align-items: center"
                    >
                      <div class="custom-control custom-checkbox">
                        <input
                          name="delivery_charge_type"
                          value="없음"
                          type="radio"
                          class="custom-control-input"
                          id="delivery_charge_type_0"
                        />
                        <label
                          class="custom-control-label"
                          for="delivery_charge_type_0"
                          >없음</label
                        >
                      </div>
                      <div class="custom-control custom-checkbox">
                        <input
                          name="delivery_charge_type"
                          value="선불"
                          type="radio"
                          class="custom-control-input"
                          id="delivery_charge_type_1"
                        />
                        <label
                          class="custom-control-label"
                          for="delivery_charge_type_1"
                          >선불</label
                        >
                      </div>
                      <div class="custom-control custom-checkbox">
                        <input
                          name="delivery_charge_type"
                          value="착불"
                          type="radio"
                          class="custom-control-input"
                          id="delivery_charge_type_2"
                        />
                        <label
                          class="custom-control-label"
                          for="delivery_charge_type_2"
                          >착불</label
                        >
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-4 ">
                    <label for="example-text-input" class=" col-form-label"
                      >배송방법</label
                    >
                    <div
                      class="col-12 d-flex justify-content-start"
                      style="align-items: center"
                    >
                      <div class="custom-control custom-checkbox">
                        <input
                          name="delivery_type"
                          value="배송"
                          type="radio"
                          class="custom-control-input"
                          id="delivery_type_0"
                        />
                        <label class="custom-control-label" for="delivery_type_0"
                          >배송</label
                        >
                      </div>
                      <div class="custom-control custom-checkbox">
                        <input
                          name="delivery_type"
                          value="방문수령"
                          type="radio"
                          class="custom-control-input"
                          id="delivery_type_1"
                        />
                        <label class="custom-control-label" for="delivery_type_1"
                          >방문수령</label
                        >
                      </div>
                      <div class="custom-control custom-checkbox">
                        <input
                          name="delivery_type"
                          value="택배"
                          type="radio"
                          class="custom-control-input"
                          id="delivery_type_2"
                        />
                        <label class="custom-control-label" for="delivery_type_2"
                          >택배</label
                        >
                      </div>
                      <div class="custom-control custom-checkbox">
                        <input
                          name="delivery_type"
                          value="화물"
                          type="radio"
                          class="custom-control-input"
                          id="delivery_type_3"
                        />
                        <label class="custom-control-label" for="delivery_type_3"
                          >화물</label
                        >
                      </div>
                      <div class="custom-control custom-checkbox">
                        <input
                          name="delivery_type"
                          value="화물택배"
                          type="radio"
                          class="custom-control-input"
                          id="delivery_type_4"
                        />
                        <label class="custom-control-label" for="delivery_type_4"
                          >화물택배</label
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-4 ">
                    <label for="example-text-input" class=" col-form-label"
                      >지역</label
                    >
                    <div
                      class="col-12 d-flex justify-content-start"
                      style="align-items: center"
                    >
                      <div class="custom-control custom-checkbox">
                        <input
                          name="local"
                          value="청주"
                          type="radio"
                          class="custom-control-input"
                          id="local_type_0"
                        />
                        <label class="custom-control-label" for="local_type_0"
                          >청주</label
                        >
                      </div>
                      <div class="custom-control custom-checkbox">
                        <input
                          name="local"
                          value="세종"
                          type="radio"
                          class="custom-control-input"
                          id="local_type_1"
                        />
                        <label class="custom-control-label" for="local_type_1"
                          >세종</label
                        >
                      </div>
                      <div class="custom-control custom-checkbox">
                        <input
                          name="local"
                          value="대전"
                          type="radio"
                          class="custom-control-input"
                          id="local_type_2"
                        />
                        <label class="custom-control-label" for="local_type_2"
                          >대전</label
                        >
                      </div>
                      <div class="custom-control custom-checkbox">
                        <input
                          name="local"
                          value="공주"
                          type="radio"
                          class="custom-control-input"
                          id="local_type_3"
                        />
                        <label class="custom-control-label" for="local_type_3"
                          >공주</label
                        >
                      </div>
                      <div class="custom-control custom-checkbox">
                        <input
                          name="local"
                          value="충청"
                          type="radio"
                          class="custom-control-input"
                          id="local_type_4"
                        />
                        <label class="custom-control-label" for="local_type_4"
                          >충청</label
                        >
                      </div>
                      <div class="custom-control custom-checkbox">
                        <input
                          name="local"
                          value="기타"
                          type="radio"
                          class="custom-control-input"
                          id="local_type_5"
                        />
                        <label class="custom-control-label" for="local_type_5"
                          >기타</label
                        >
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-4 ">
                    <label for="example-text-input" class="col-form-label"
                      >발송인명</label
                    >
                    <div class="col-12">
                      <input
                        name="sender_name"
                        class="form-control"
                        type="text"
                        value=""
                        placeholder="발송인명을 입력해주세요."
                        id="product_name_input"
                      />
                    </div>
                  </div>
                  <div class="form-group col-4 ">
                    <label for="example-text-input" class="col-form-label"
                      >수하인명</label
                    >
                    <div class="col-12">
                      <input
                        name="receipter_name"
                        class="form-control"
                        type="text"
                        value=""
                        placeholder="수하인명을 입력해주세요."
                        id="product_name_input"
                      />
                    </div>
                  </div>   
                  
                </div>
                <div class="row">
                  <div class="form-group col-6 ">
                    <label for="example-text-input" class="col-form-label"
                      >납기장소</label
                    >
                    <div class="col-12">
                      <input
                        name="receipt_location"
                        class="form-control"
                        type="text"
                        value=""
                        placeholder="납기장소을 입력해주세요."
                        id="product_name_input"
                      />
                    </div>
                  </div>
                  <div class="form-group col-6 ">
                    <label for="example-text-input" class="col-form-label pt-0"
                      >주문요청사항</label
                    >
                    <div class="col-12">
                      <input
                        name="receipt_comment"
                        class="form-control"
                        type="text"
                        value=""
                        placeholder="주문 요청사항을 입력해주세요."
                        id="product_name_input"
                      />
                    </div>
                  </div>
                </div>
                
              </form>
            </div>
          </div>
        </div>
        <div class="row justify-content-end mt-3 mr-1">
          <button id="receipt_modify" class="btn btn-primary">수정하기</button>
        </div>
      </div> </div
    ><!-- /.modal-content --> </div
  ><!-- /.modal-dialog --> </div
><!-- /.modal -->
<script src="/static/admin/js/pages/form-advanced.init.js"></script>
<script src="/static/admin/js/libs/select2/js/select2.min.js"></script>
<script>
  jQuery.fn.serializeObject = function() {
            var obj = null;
            try {
                if (this[0].tagName && this[0].tagName.toUpperCase() == "FORM") {
                    var arr = this.serializeArray();
                    if (arr) {
                        obj = {};
                        jQuery.each(arr, function() {
                            obj[this.name] = this.value;
                        });
                    }//if ( arr ) {
                }
            } catch (e) {
                alert(e.message);
            } finally {
            }
        
            return obj;
        };
  $(document).on("click", "#receipt_modify",  function(){
    var form_data = {}
            var receipt_data =  $("#receipt").serializeObject()
            receipt_data["receipt"] = $("select[name='receipt']").val()
            // console.log(receipt_data)
            form_data['receipt_data']= receipt_data ;
  
            $.ajax({
                type : 'PUT',
                url : '/shop_admin/ajax_order',
                data : JSON.stringify(form_data),
                dataType : 'json',
                enctype: 'multipart/form-data',
                contentType: 'application/json; charset=utf-8',
                processData: false,       
                cache:false,
                error: function(xhr, status, error){
                    alert(error);
                },
                success : function(json){
                    alert("수정되었습니다.")
                    location.reload()
                    // location.reload()
                }
            });

  })

</script>
<style>
  .form-group .div {
    align-item: center;
  }
  #receipt .row {
    align-item: center;
  }
  .col-form-label {
    font-weight: bold;
    display: flex;
    align-items: center;
    text-align: center;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    justify-content: center;
  }
  .select2-search__field {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
    color: #495057;
    width: 100% !important;
  }
  .select2 {
    padding-right: 12px;
    padding-left: 12px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .machine .custom-checkbox {
    margin-left: 30px;
    min-width: 100px;
  }
  .modal .select2 {
    padding-right: 0px !important;
    padding-left: 0px !important;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100% !important;
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  .modal .custom-checkbox{
    margin-top:10px
  }
  @media print {
    .modal {
      position: absolute;
      left: 0;
      top: 0;
      margin: 0;
      padding: 0;
      overflow: visible !important;
    }
    .modal-dialog {
      max-width: 100%;
      width: 100%;
      margin: 0px !important;
    }
  }
</style>
