<!-- <script src="/static/admin/js/libs/jquery/jquery.min.js"></script> -->
<script src="/static/admin/js/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/admin/js/libs/metismenu/metisMenu.min.js"></script>
<script src="/static/admin/js/libs/simplebar/simplebar.min.js"></script>
<script src="/static/admin/js/libs/node-waves/waves.min.js"></script>