<template>
  <a-layout id="components-layout-demo-side" style="min-height: 100vh">
    <aside-menu></aside-menu>
    <a-layout style="min-width: 375px">
      <header-menu/>
      <a-layout-content style="margin: 0 16px">
        <a-breadcrumb style="margin: 16px 0">
          <a-breadcrumb-item>시스템 관리</a-breadcrumb-item>
          <a-breadcrumb-item>카테고리 관리</a-breadcrumb-item>
        </a-breadcrumb>
        <div
          :style="{ padding: '24px', background: '#fff', minHeight: '360px' }"
        >
          <div class="advanced-search">
            <a-form
              class="ant-advanced-search-form"
          
            >
              <a-row :gutter="24">
                <a-col :xs="24" :md="12" :lg="10" :xl="7">
                  <a-form-item style="width: 100%" class="searchKeyword">
                    <a-input
                      v-model="searchKeyword"
                      style="width: 100%"
                      placeholder="이름을 입력해 주세요."
                      @keyup.enter="search()"
                    >
                    </a-input>
                  </a-form-item>
                </a-col>
                <a-col :xs="24" :md="12" :lg="9" :xl="7">
                 
                </a-col>
                <a-col
                  :xs="24"
                  :md="24"
                  :lg="5"
                  :xl="10"
                  :style="{ textAlign: 'right' }"
                >
                  <a-button type="primary" @click="search()"> 검색 </a-button>
                  <a-button type="danger" @click="$router.go($router.currentRoute)" class="refresh">검색 초기화</a-button>

                  <a-button @click="showModal(); modal_register=true; modal_diseditable=false">
                    등록
                  </a-button>
                  <a-button type="" :disabled="selectedRowKeys.length==0" @click="delete_category()"> 삭제 </a-button>
                </a-col>
              </a-row>
            </a-form>
            <div class="search-result-list">
              <a-table
                :columns="columns"
                :data-source="filtered_data"
                bordered
                :scroll="{ x: 'calc(700px + 50%)', y: 500 }"
                  :row-selection="{
                  selectedRowKeys: selectedRowKeys,
                  onChange: onSelectChange,
                }"
                :pagination="{ defaultPageSize: 30, showSizeChanger: true, pageSizeOptions: ['10', '20', '30','40','50']}"
              > 
                <template slot="label" slot-scope="label , record">
               <span class="clickable"> {{ get_name(record.key) }} </span>
                </template>              
              </a-table>
            </div>
          </div>
        </div>
      </a-layout-content>
   
      <a-modal
        title="카테고리 등록/수정"
        :visible="visible"
        :confirm-loading="confirmLoading"
        @ok="handleOk"
        @cancel="handleCancel"
        :width="800" 
        :class="{ modal_diseditable: modal_diseditable }"
      >
        <template slot="closeIcon">
          <a-icon @click="handleCancel()" type="close"
        /></template>
        <a-form :form="form">
          <a-row>      
            <a-col :xs="24" :md="24" :lg="12">
              <a-tree  :tree-data="categoryData" 
                   @select="onSelectModal" show-icon
               >               
              </a-tree>
            </a-col>    
            <a-col :xs="24" :md="24" :lg="12">
              <a-form-item>
                <a-input
                  v-model="name"
                  :disabled="modal_diseditable"
                  placeholder="카테고리 이름"
                />
              </a-form-item>
            </a-col>
          </a-row>
        </a-form>
        <template slot="footer">
          <!-- 수정 -->
          <a-button
            v-if="modal_diseditable == true"
            @click="
              modal_diseditable = false;
              modal_register = false;             
            "
          >
            수정
          </a-button>

          <!-- 조회 -->
          <a-button
            v-if="modal_diseditable == false && modal_register == false"
            type="primary"
            @click="update_menu"
          >
            수정하기
          </a-button>

          <!-- 등록 -->
          <a-button
            v-if="modal_diseditable == false && modal_register == true"
            type=""
            @click="handleCancel"
          >
            취소
          </a-button>
          <a-button
            v-if="modal_diseditable == false && modal_register == true"
            type="primary"
            @click="handleOk"
          >
            등록하기
          </a-button>
        </template>
      </a-modal>
      <Footer></Footer>
    </a-layout>
  </a-layout>
</template>
<script>
import moment from 'moment'
import 'moment/locale/ko'

moment.locale('ko')
const columns = [
  {
    title: '카테고리',
    dataIndex: 'label',   
    scopedSlots: { customRender: 'label' },
  },
]

export default {
  data() {
    return {     
      selected_menu:"",
      modal_diseditable:false,
      modal_register:true,
      confirmLoading: false,
      confirmDirty: false,
      origin_data:[],
      filtered_data:[],
      columns,
      searchKeyword:"",
      selectedRowKeys: [], // Check here to configure the default column
      loading: false,
      title:"",
      content:"",
      visible:false,
      menu_name:"",
      menu_url:"",
      is_external:false,
      index:0,
      raw_category_data:[],
      categoryData:[],
      selectedKeys: [],
      selectedModalKeys:[],
      name:"",
      flattend_category:[]
    }
  },
  computed: {
    hasSelected() {
      return this.selectedRowKeys.length > 0
    },
  },  
  mounted(){
    function getCookie(cookieName){
        let cookieValue=null;
        if(document.cookie){
            const array=document.cookie.split((escape(cookieName)+'='));
            if(array.length >= 2){
                const arraySub=array[1].split(';');
                cookieValue=unescape(arraySub[0]);
            }
        }
        if( cookieValue === null){
          alert("페이지 권한이 없습니다.")
          location.href="/dashboard"
        }
        return cookieValue;
    }
    this.$axios.get(`${this.$URL.USER}/${getCookie('user_id')}`).then(res=>{
      if( res.data.right[ this.$route.name ] === false ){
        alert("페이지 권한이 없습니다.")
        location.href="/dashboard"
      }
    })
    this.get_category_list()

    
   
  },
  updated() {
    console.log('updated')
  },
  methods: {   
    get_name(key){
      key = key+""
      const arr = key.split("-")
      return arr.map(e=> this.filtered_data.find(i=>parseInt(i.id) === parseInt(e) ).label ).join(">")
    },
    onContextMenuClick(treeKey, menuKey) {
      console.log(`treeKey: ${treeKey}, menuKey: ${menuKey}`);
      this.visible = true
      this.modal_diseditable = false 
      this.modal_register = false
    },
    onSelectModal(selectedKeys, info){
      console.log('onSelect', info);
      this.selectedModalKeys = selectedKeys;
    },
    onSelect(selectedKeys, info) {
      console.log('onSelect', info);
      this.selectedKeys = selectedKeys;
    },
    search() {
      this.filtered_data = this.origin_data.filter(e=>e.menu_name.includes(this.searchKeyword) )      
    },
    async delete_category(){
      for(const e of this.selectedRowKeys){
        const id = this.filtered_data.find(i=>i.key+""=== e+"").id;
        await this.$axios.delete(`${this.$URL.ITEM_CATEGORY}/${id}`)     
      }     
      location.reload()
    },
    async get_menu(id){
      await this.$axios.get(`${this.$URL.QUICK_MENU}/${id}`)
        .then(res=>{
          this.menu_name = res.data.menu_name
          this.menu_url=res.data.menu_url
          this.is_external=res.data.is_external          
          this.showModal()  
          this.modal_register=false
          this.modal_diseditable=true
        })      
    },
    update_menu(){
      console.log(this.selectedKeys)
      const obj =  this.findNestedObj(this.categoryData,"key",this.selectedModalKeys[0])        
      const id = Object.keys(obj).length >0 ? obj.id : null
      this.$axios.put(`${this.$URL.ITEM_CATEGORY}/${id}`, {
          id ,
          name : this.name
      }).then(res=>{
        this.visible = false
        this.name = ""
        this.get_category_list()
      })
    },
    showModal() {
      this.visible = true
    },
    handleOk(e) {
    let parent_id = ""
     const obj =  this.findNestedObj(this.categoryData,"key",this.selectedModalKeys[0])   
     console.log(obj)
     if(obj !== 'custom'){
       obj.key = obj.key+""
      if( obj.key.split("-").length === 3 ){ alert("카테고리는 최대 3 depth 까지 가능합니다."); return false; }
      parent_id = Object.keys(obj).length >0 ? obj.id : null
     
     }
     else{
      parent_id = null
     } 
     this.$axios.post(this.$URL.ITEM_CATEGORY, {
        parent_id ,
        name : this.name
     }).then(res=>{
       this.visible = false
       this.name = ""
       this.get_category_list()
        location.reload()
     })
    },
    handleCancel(e) { 
      this.visible = false
    },
    handleSearch(e) {
    
    },

    handleReset() {
      this.form.resetFields()
    },
    get_category_list(){
      this.$axios.get(this.$URL.ITEM_CATEGORY).then((res) => {
      this.raw_category_data = res.data.map((e) => {
        return { id: e.id, value: e.id, label: e.name, parent_id: e.parent_id }
      })
      this.categoryData = this.listToTree(this.raw_category_data)
      this.categoryData =  this.categoryData.map(e=>{return {...e, title:e.label, key: e.id, scopedSlots: { icon: 'custom' } }})
      for(let k=0; k< this.categoryData.length; k++){
        this.categoryData[k].children = this.categoryData[k].children
                                            .map(e=>{return {...e, title:e.label, key: this.findNestedObj(this.categoryData,"id",e.parent_id).key +"-"+ e.id, scopedSlots: { icon: 'custom' } }})
        for(let j=0; j < this.categoryData[k].children.length; j++){
          this.categoryData[k].children[j].children = this.categoryData[k].children[j].children
                                            .map(e=>{return {...e, title:e.label, key: this.findNestedObj(this.categoryData,"id",e.parent_id).key +"-"+ e.id, scopedSlots: { icon: 'custom' } }})
        }
      }
      this.iterate(this.categoryData) 
      
    })
    },

    iterate(obj){
      const arr = []
      obj.forEach(e => {
        this.filtered_data.push(
          {
            id:e.id , label:e.label, key:e.key
          }
        )
        e.children.forEach(i=>{
          this.filtered_data.push({
            id:i.id , label:i.label, key:i.key
          })
          i.children.forEach(k=>{
            this.filtered_data.push({
              id:k.id , label:k.label, key:k.key
            })
          })
        })
      });     
    },
    onSelectChange(selectedRowKeys) {
      console.log('selectedRowKeys changed: ', selectedRowKeys)
      this.selectedRowKeys = selectedRowKeys
    },
    listToTree(arr = []) {
      // eslint-disable-next-line prefer-const
      let map = {}
      let node
      // eslint-disable-next-line prefer-const
      let res = []
      let i
      for (i = 0; i < arr.length; i += 1) {
        map[arr[i].id] = i
        arr[i].children = []
      }
      for (i = 0; i < arr.length; i += 1) {
        node = arr[i]
        if (node.parent_id) {
          arr[map[node.parent_id]].children.push(node)
        } else {
          res.push(node)
        }
      }
      return res
    },
     findNestedObj(entireObj, keyToFind, valToFind) {
      let foundObj;
      JSON.stringify(entireObj, (_, nestedValue) => {
        if (nestedValue && nestedValue[keyToFind] === valToFind) {
          foundObj = nestedValue;
        }
        return nestedValue;
      });
      return foundObj;
    }
  },
}
</script>

<style  >
#components-layout-demo-side .logo {
  margin: 16px;
}
.ant-layout-sider-zero-width-trigger {
  position: absolute;
  top: 0px;
  right: -36px;
  z-index: 1;
  width: 36px;
  height: 42px;
  color: #fff;
  font-size: 18px;
  line-height: 42px;
  text-align: center;
  background: #001529;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background 0.3s ease;
}
.ant-layout-header {
  height: 42px;
  padding: 0 50px;
  line-height: 64px;
  background: #001529;
}

.ant-advanced-search-form {
  padding: 24px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}

.ant-advanced-search-form .ant-form-item {
  display: flex;
}

.ant-advanced-search-form .ant-form-item-control-wrapper {
  flex: 1;
}

.advanced-search .ant-form {
  max-width: none;
}
.advanced-search .search-result-list {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fff;
  min-height: 200px;
  text-align: center;
  padding-top: 00px;
}
.ant-advanced-search-form .ant-form-item {
  margin-bottom: 0px !important;
}
span.ant-radio + * {
  padding-right: 0px;
  padding-left: 0px;
}
.ant-form-item {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  font-feature-settings: 'tnum', 'tnum';
  margin-bottom: 4px !important;
  vertical-align: top;
}
.searchKeyword .ant-form-item-control-wrapper {
  width: 100%;
}
.modal_diseditable .ant-form-explain {
  margin-bottom: 0px !important;
  position: absolute;
  top: -8px;
  left: 10px;
  display: initial;
}

.modal_diseditable .ql-toolbar {
  height: 0px !important;
  overflow: hidden !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  border-top: none !important;
}
.modal_diseditable .ant-select-disabled .ant-select-selection__choice {
  color: #000 !important;
  background-color: #fff !important;
  border: transparent !important;
  font-weight: bold;
}
.ant-input-disabled {
  color: #000 !important;
  background-color: #fff !important;
  border: transparent !important;
  font-weight: bold;
}
.ant-select-disabled .ant-select-selection {
  color: #000 !important;
  background-color: #fff !important;
  border: transparent !important;
  font-weight: bold;
}
.ant-select-disabled .ant-select-arrow {
  display: none;
}
.ant-tree > li:first-child {
    padding-top: 4px!important;
}
</style>
