<template>
  <a-layout id="components-layout-demo-side" style="min-height: 100vh">
    <aside-menu></aside-menu>
    <a-layout style="min-width: 375px">
      <header-menu/>
      <a-layout-content style="margin: 0 16px">
        <a-breadcrumb style="margin: 16px 0">
          <a-breadcrumb-item>기준정보 관리</a-breadcrumb-item>
          <a-breadcrumb-item>공통코드 관리</a-breadcrumb-item>
        </a-breadcrumb>
        <div
          :style="{ padding: '24px', background: '#fff', minHeight: '360px' }"
        >
          <div class="advanced-search">
            <a-form
              class="ant-advanced-search-form"
          
            >
              <a-row :gutter="24">
                <a-col :xs="24" :md="12" :lg="10" :xl="7">
                  <a-form-item style="width: 100%" class="searchKeyword">
                    <a-input
                      v-model="searchKeyword"
                      style="width: 100%"
                      placeholder="명칭을 입력해 주세요."
                      @keyup.enter="search()"
                    >
                    </a-input>
                  </a-form-item>
                </a-col>
                <a-col :xs="24" :md="12" :lg="9" :xl="5">
                 
                </a-col>
                <a-col
                  :xs="24"
                  :md="24"
                  :lg="5"
                  :xl="12"
                  :style="{ textAlign: 'right' }"
                >
                  <a-button type="primary" @click="search()"> 검색 </a-button>
                  <a-button type="danger" @click="$router.go($router.currentRoute)" class="refresh">검색 초기화</a-button>

                  <a-button :style="{ marginLeft: '8px' }" @click="modal_diseditable=false;modal_register=true;showModal()">
                    등록
                  </a-button>
                  <a-button type="" :disabled="selectedRowKeys.length==0" @click="delete_common_code()"> 삭제 </a-button>
                  <a-button type="primary" @click="excel_download()"> 엑셀 다운로드 </a-button>
                  <a-button type="safe" @click="excel_visible = true"> 엑셀 업로드 </a-button>
                  <a-button type="safe" @click="excel_form_download"> 엑셀 양식 다운로드 </a-button>
                


             
                </a-col>
              </a-row>
            </a-form>
            <div class="search-result-list">
              <a-table
                :scroll="{ x: 1500 }"
                :row-selection="{
                  selectedRowKeys: selectedRowKeys,
                  onChange: onSelectChange,
                }"
                bordered
                :columns="columns"
                :data-source="filtered_data"
                :pagination="{ defaultPageSize: 30, showSizeChanger: true, pageSizeOptions: ['10', '20', '30','40','50']}"
              >       
              <template slot="name" slot-scope="name,record">               
                  <span @click="get_common_code_detail(record.id)" class="clickable"
                    >{{ name }}</span
                  >              
              </template>
              </a-table>
       
            </div>
          </div>
        </div>
      </a-layout-content>
   
      <a-modal
        title="공통코드 등록"
        :visible="visible"
        :confirm-loading="confirmLoading"
        @ok="handleOk"
        @cancel="handleCancel"
         :class="{ modal_diseditable: modal_diseditable }"
      >
        <a-form :form="form">
          <a-row>            
            <a-col :xs="24" :md="24" :lg="24">
              <a-form-item>
                <a-select v-model="common_code.type" default-value="기타"  :disabled="modal_diseditable" >
                  <a-select-option value="기타">
                    기타
                  </a-select-option>
                  <a-select-option value="메인 로고">
                    메인 로고 URL
                  </a-select-option>
                  <a-select-option value="로그인 로고" >
                    로그인 로고 URL
                  </a-select-option>
                  <a-select-option value="푸터 정보" >
                    푸터 정보
                  </a-select-option>
                  <a-select-option value="작업/프로젝트" >
                    작업/프로젝트 
                  </a-select-option>
                  <a-select-option value="아이템" >
                    아이템
                  </a-select-option>                  
                 </a-select>
              </a-form-item>
            </a-col>
            <a-col :xs="24" :md="24" :lg="24">
              <a-form-item>
                 <a-input
                  v-model="common_code.name"
                  :disabled="modal_diseditable"
                  placeholder="코드 이름"
                />
              </a-form-item>
            </a-col>
            <a-col :xs="24" :md="24" :lg="24">
              <a-form-item>
                 <a-input
                  v-model="common_code.value"
                  :disabled="modal_diseditable"
                  placeholder="코드 값"
                />
              </a-form-item>
            </a-col>
             <a-col :xs="24" :md="24" :lg="24">
              <a-form-item>
                <a-input
                  v-model="common_code.etc"
                    :disabled="modal_diseditable"
                  placeholder="비고"
                />
              </a-form-item>
            </a-col>
          </a-row>
        </a-form>
        <template slot="footer">
          <!-- 수정 -->
          <a-button
            v-if="modal_diseditable == true"
            @click="
              modal_diseditable = false;
              modal_register = false;
            "
          >
            수정
          </a-button>

          <!-- 조회 -->
          <a-button
            v-if="modal_diseditable == false && modal_register == false"
            type="primary"
            @click="update_common_code()"
          >
            수정하기
          </a-button>

          <!-- 등록 -->
          <a-button
            v-if="modal_diseditable == false && modal_register == true"
            type=""
            @click="handleCancel"
          >
            취소
          </a-button>
          <a-button
            v-if="modal_diseditable == false && modal_register == true"
            type="primary"
            @click="handleOk"
          >
            등록하기
          </a-button>
        </template>
      </a-modal>
      <a-modal v-model="excel_visible" title="엑셀 데이터 업로드" on-ok="excel_upload">
      <template slot="footer">
        <a-button key="back" @click="handleExcelCancel">
          취소
        </a-button>
        <a-button key="submit" type="primary" :loading="loading" @click="excel_upload">
          엑셀 데이터 업로드
        </a-button>
      </template>
       <a-upload :file-list="fileList" :multiple="false" :remove="handleRemove" :before-upload="beforeExcelUpload" >
      <a-button> <a-icon type="upload" /> 엑셀 파일 선택 </a-button>
    </a-upload>
    </a-modal>
      <Footer></Footer>
    </a-layout>
  </a-layout>
</template>
<script>


import XLSX from 'xlsx'
const columns = [
  {
    title: '코드 분류',
    dataIndex: 'type',
    width: 150,
  },  
  {
    title: '코드 이름',
    dataIndex: 'name',
    scopedSlots: { customRender: 'name' },
    width: 200,
  },  
  {
    title: '코드 값',
    dataIndex: 'value',
    scopedSlots: { customRender: 'value' },
    width: 600,
  },  
  {
    title: '비고',
    dataIndex: 'etc',
  },  
]

export default {
  data() {
    return {
      excel_visible:false,
      modal_diseditable:false,
      modal_register:true,
      visible: false,
      partnerType: 'a',
      origin_data:[],
      filtered_data:[],
      columns,
      searchKeyword:"",
      selectedRowKeys: [], // Check here to configure the default column
      loading: false,
      common_code:{
        id:"",
        type:"기타",
        name:"",
        value:"",
        etc:""
      },
      fileList:[],
       target_item: '',
    }
  },
  mounted(){
    this.get_common_code()

  },
  methods: {
    onSelectChange(selectedRowKeys) {
      console.log('selectedRowKeys changed: ', selectedRowKeys)
      this.selectedRowKeys = selectedRowKeys
    },
    excel_download(){
      const excelData = XLSX.utils.json_to_sheet(this.filtered_data); // this.items 는 json object 를 가지고있어야함 
      const workBook = XLSX.utils.book_new(); // 새 시트 생성 
      XLSX.utils.book_append_sheet(workBook, excelData, '공통코드'); // 시트 명명, 데이터 지정
      XLSX.writeFile(workBook, 'common_code.xlsx'); // 엑셀파일 만듬
    },
    get_common_code(){
      this.origin_data = []
      this.filtered_data = []
      this.$axios.get(this.$URL.COMMON_CODE,).then((res)=>{
        this.origin_data = res.data
        this.filtered_data = res.data
      })
    },
    showModal(){
      this.visible = true
    },
    get_common_code_detail(id){
      this.target_item=id
      this.modal_diseditable = true
      this.modal_register = false
      this.common_code = this.origin_data.find(e=>e.id === id)
      this.visible = true
    },
    update_common_code(){
      const { id , ...data } = this.common_code
      this.$axios.put(this.$URL.COMMON_CODE+"/"+this.target_item, data ).then((res)=>{
        location.reload()
      }) 
    },
    async handleOk(){
      
      await this.$axios.post(this.$URL.COMMON_CODE, { ...this.common_code } ).then((res)=>{
        location.reload()
      })      
    },
    async delete_common_code(){
      for(const e of this.selectedRowKeys){
        const id = this.filtered_data[e].id;
        await this.$axios.delete(`${this.$URL.COMMON_CODE}/${id}`)  
      }     
    },
    handleCancel(){
      this.common_code = {
        id:"",
        type:"기타",
        name:"",
        value:"",
        etc:""
      }
      this.visible = false
    },
    handleRemove(file){
      const index = this.fileList.indexOf(file);
      const newFileList = this.fileList.slice();
      newFileList.splice(index, 1);
      this.fileList = newFileList;
    },
    handleExcelCancel(){
      this.excel_visible = false
      this.fileList = []
    },
    beforeExcelUpload(file){
      this.fileList = [file];
      return false;
    },
    excel_upload(){
      const file = this.fileList[0];
      const reader = new FileReader();
      let tmpResult = {};
      reader.onload = (e) => {
          const data = reader.result;
          const workbook = XLSX.read(data, {type: 'binary'});
          workbook.SheetNames.forEach(sheetName => {
              const roa = XLSX.utils.sheet_to_json(workbook.Sheets[sheetName]);
              tmpResult = roa;
          });
          const ctx = this
          async function ExcelPromiseFunc(){
            for (const item of tmpResult) {
              const { id, ...data } = item;
              await ctx.$axios.post(ctx.$URL.COMMON_CODE,data)
            }
          }
          ExcelPromiseFunc()
        
      };
      reader.readAsBinaryString(file);
    },
    excel_form_download(){
      let json_data = []
      json_data = (this.origin_data.map(e=>{ return { 'id(공란 유지)':"", 'type(코드 분류:문자열)':"", 'name(코드 이름:문자열)':"",'value(코드 값:문자열)':"",'etc(비고:문자열)':"" } }))
      const excelData = XLSX.utils.json_to_sheet(json_data); // this.items 는 json object 를 가지고있어야함 
      const workBook = XLSX.utils.book_new(); // 새 시트 생성 
      XLSX.utils.book_append_sheet(workBook, excelData, '공통코드'); // 시트 명명, 데이터 지정
      XLSX.writeFile(workBook, 'common_code.xlsx'); // 엑셀파일 만듬
    }
  },
}
</script>

<style  >
#components-layout-demo-side .logo {
  margin: 16px;
}
.ant-layout-sider-zero-width-trigger {
  position: absolute;
  top: 0px;
  right: -36px;
  z-index: 1;
  width: 36px;
  height: 42px;
  color: #fff;
  font-size: 18px;
  line-height: 42px;
  text-align: center;
  background: #001529;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background 0.3s ease;
}
.ant-layout-header {
  height: 42px;
  padding: 0 50px;
  line-height: 64px;
  background: #001529;
}

.ant-advanced-search-form {
  padding: 24px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}

.ant-advanced-search-form .ant-form-item {
  display: flex;
}

.ant-advanced-search-form .ant-form-item-control-wrapper {
  flex: 1;
}

.advanced-search .ant-form {
  max-width: none;
}
.advanced-search .search-result-list {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fff;
  min-height: 200px;
  text-align: center;
  padding-top: 00px;
}
.ant-advanced-search-form .ant-form-item {
  margin-bottom: 0px !important;
}
span.ant-radio + * {
  padding-right: 0px;
  padding-left: 0px;
}
.ant-form-item {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  font-feature-settings: 'tnum', 'tnum';
  margin-bottom: 4px !important;
  vertical-align: top;
}
.searchKeyword .ant-form-item-control-wrapper {
  width: 100%;
}
.modal_diseditable .ant-form-explain {
  margin-bottom: 0px !important;
  position: absolute;
  top: -8px;
  left: 10px;
  display: initial;
}

.modal_diseditable .ql-toolbar {
  height: 0px !important;
  overflow: hidden !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  border-top: none !important;
}
.modal_diseditable .ant-select-disabled .ant-select-selection__choice {
  color: #000 !important;
  background-color: #fff !important;
  border: transparent !important;
  font-weight: bold;
}
.ant-input-disabled {
  color: #000 !important;
  background-color: #fff !important;
  border: transparent !important;
  font-weight: bold;
}
.ant-select-disabled .ant-select-selection {
  color: #000 !important;
  background-color: #fff !important;
  border: transparent !important;
  font-weight: bold;
}
.ant-select-disabled .ant-select-arrow {
  display: none;
}
.ant-table-tbody > tr > td {
    padding: 6px 6px !important;
    overflow: hidden;

}
.ant-table-thead > tr > td {
    padding: 6px 6px !important;
    overflow: hidden; 
    white-space: nowrap;
}
</style>
