<template>
  <a-layout id="components-layout-demo-side" style="min-height: 100vh">
    <aside-menu></aside-menu>
    <a-layout style="min-width: 375px">
      <header-menu />
      <a-layout-content style="margin: 0 16px">
        <a-breadcrumb style="margin: 16px 0">
          <a-breadcrumb-item>모니터링</a-breadcrumb-item>
          <a-breadcrumb-item>설비 현황</a-breadcrumb-item>
        </a-breadcrumb>
        <div
          :style="{ padding: '24px', background: '#fff', minHeight: '360px' }"
        >
          <div class="advanced-search">
            <a-form class="ant-advanced-search-form">
              <a-row :gutter="24">
                <a-col :xs="24" :md="12" :lg="10" :xl="7">
                  <a-form-item style="width: 100%" class="searchKeyword">
                     <a-date-picker v-model="date" />
                  </a-form-item>
                </a-col>
                <a-col :xs="24" :md="12" :lg="9" :xl="7"> </a-col>
                <a-col
                  :xs="24"
                  :md="24"
                  :lg="5"
                  :xl="10"
                  :style="{ textAlign: 'right' }"
                >
               
                </a-col>
              </a-row>
            </a-form>
            <div class="search-result-list">
      <a-row style="position: relative">
        <div
          style="
            position: absolute;
            z-index: 100;
            font-size: 151px;
            font-weight: bold;
            opacity: 0.3;
            top: calc(50% - 113px);
            left: calc(50% - 113px);
          "
        >
          A동
        </div>
        <a-col :xs="24" :md="24" :lg="24" :xl="24">
          <a-row>
            <a-col
              v-for="item in facility_data.filter((e) => e.location === 'A동')"
              :key="item.id"
              :xs="24"
              :md="12"
              :lg="4"
              :xl="3"
              style="padding: 0px"
            >
              <a-card class="machine_schedule_day">
                <template slot="title" style="padding: 3px 0">{{
                  item.name
                }}</template>
                <a-row
                  style="min-height: 65px; padding: 3px; background-color: blue"
                >
                  <a-col
                    v-for="t in item.time0"
                    :key="t.project_name"
                    :xs="12"
                    :md="12"
                    :lg="12"
                    :xl="12"
                  >
                    <a-card
                      class="machine_schedule_item"
                      :title="t.project_name"
                    ></a-card>
                  </a-col>
                </a-row>
                <a-row
                  style="min-height: 65px; padding: 3px; background-color: red"
                >
                  <a-col
                    v-for="t in item.time1"
                    :key="t.project_name"
                    :xs="12"
                    :md="12"
                    :lg="12"
                    :xl="12"
                  >
                    <a-card
                      class="machine_schedule_item"
                      :title="t.project_name"
                    ></a-card>
                  </a-col>
                </a-row>
                <a-row
                  style="
                    min-height: 65px;
                    padding: 3px;
                    background-color: yellow;
                  "
                >
                  <a-col
                    v-for="t in item.time2"
                    :key="t.project_name"
                    :xs="12"
                    :md="12"
                    :lg="12"
                    :xl="12"
                  >
                    <a-card
                      class="machine_schedule_item"
                      :title="t.project_name"
                    ></a-card>
                  </a-col>
                </a-row>
              </a-card>
            </a-col>
          </a-row>
        </a-col>
      </a-row>
      <a-row style="position: relative">
        <div
          style="
            position: absolute;
            z-index: 100;
            font-size: 151px;
            font-weight: bold;
            opacity: 0.3;
            top: calc(50% - 113px);
            left: calc(50% - 113px);
          "
        >
          B동
        </div>
        <a-col :xs="24" :md="24" :lg="24" :xl="24">
          <a-row>
            <a-col
              v-for="item in facility_data.filter((e) => e.location === 'B동')"
              :key="item.id"
              :xs="24"
              :md="12"
              :lg="4"
              :xl="3"
              style="padding: 0px"
            >
              <a-card class="machine_schedule_day">
                <template slot="title" style="padding: 3px 0">{{
                  item.name
                }}</template>
                <a-row
                  style="min-height: 65px; padding: 3px; background-color: blue"
                >
                  <a-col
                    v-for="t in item.time0"
                    :key="t.project_name"
                    :xs="12"
                    :md="12"
                    :lg="12"
                    :xl="12"
                  >
                    <a-card
                      class="machine_schedule_item"
                      :title="t.project_name"
                    ></a-card>
                  </a-col>
                </a-row>
                <a-row
                  style="min-height: 65px; padding: 3px; background-color: red"
                >
                  <a-col
                    v-for="t in item.time1"
                    :key="t.project_name"
                    :xs="12"
                    :md="12"
                    :lg="12"
                    :xl="12"
                  >
                    <a-card
                      class="machine_schedule_item"
                      :title="t.project_name"
                    ></a-card>
                  </a-col>
                </a-row>
                <a-row
                  style="
                    min-height: 65px;
                    padding: 3px;
                    background-color: yellow;
                  "
                >
                  <a-col
                    v-for="t in item.time2"
                    :key="t.project_name"
                    :xs="12"
                    :md="12"
                    :lg="12"
                    :xl="12"
                  >
                    <a-card
                      class="machine_schedule_item"
                      :title="t.project_name"
                    ></a-card>
                  </a-col>
                </a-row>
              </a-card>
            </a-col>
          </a-row>
        </a-col>
      </a-row>
      <a-row style="position: relative">
        <div
          style="
            position: absolute;
            z-index: 100;
            font-size: 151px;
            font-weight: bold;
            opacity: 0.3;
            top: calc(50% - 113px);
            left: calc(50% - 113px);
          "
        >
          C동
        </div>
        <a-col :xs="24" :md="24" :lg="24" :xl="24">
          <a-row>
            <a-col
              v-for="item in facility_data.filter((e) => e.location === 'C동')"
              :key="item.id"
              :xs="24"
              :md="12"
              :lg="4"
              :xl="3"
              style="padding: 0px"
            >
              <a-card class="machine_schedule_day">
                <template slot="title" style="padding: 3px 0">{{
                  item.name
                }}</template>
                <a-row
                  style="min-height: 65px; padding: 3px; background-color: blue"
                >
                  <a-col
                    v-for="t in item.time0"
                    :key="t.project_name"
                    :xs="12"
                    :md="12"
                    :lg="12"
                    :xl="12"
                  >
                    <a-card
                      class="machine_schedule_item"
                      :title="t.project_name"
                    ></a-card>
                  </a-col>
                </a-row>
                <a-row
                  style="min-height: 65px; padding: 3px; background-color: red"
                >
                  <a-col
                    v-for="t in item.time1"
                    :key="t.project_name"
                    :xs="12"
                    :md="12"
                    :lg="12"
                    :xl="12"
                  >
                    <a-card
                      class="machine_schedule_item"
                      :title="t.project_name"
                    ></a-card>
                  </a-col>
                </a-row>
                <a-row
                  style="
                    min-height: 65px;
                    padding: 3px;
                    background-color: yellow;
                  "
                >
                  <a-col
                    v-for="t in item.time2"
                    :key="t.project_name"
                    :xs="12"
                    :md="12"
                    :lg="12"
                    :xl="12"
                  >
                    <a-card
                      class="machine_schedule_item"
                      :title="t.project_name"
                    ></a-card>
                  </a-col>
                </a-row>
              </a-card>
            </a-col>
          </a-row>
        </a-col>
      </a-row>
            </div>
          </div>
        </div>
      </a-layout-content>

      <Footer></Footer>
    </a-layout>
  </a-layout>
</template>
<script>
import moment from 'moment'
import 'moment/locale/ko'

moment.locale('ko')
const columns = [
  {
    title: '주문정보',
    children: [
      {
        title: '주문날짜/시간',
        dataIndex: 'ordered_at',
        key: 'ordered_at',
        width: 125,
        sorter: (a, b) =>
          parseInt(
            moment.duration(moment(a.ordered_at).diff(b.ordered_at)).asMinutes()
          ),
        align: 'center',
      },
      {
        title: '주문자명',
        dataIndex: 'orderer',
        key: 'orderer',
        width: 120,
        filters: [],
        onFilter: (value, record) => record.orderer.indexOf(value) === 0,
        align: 'center',
      },
      {
        title: '묶음',
        dataIndex: 'set',
        key: 'set',
        width: 60,
        align: 'center',
      },
    ],
  },
  {
    title: '프로젝트 정보',
    children: [
      {
        title: '긴급/일반',
        dataIndex: 'is_urgent',
        key: 'is_urgent',
        width: 80,
        scopedSlots: { customRender: 'is_urgent' },
        align: 'center',
      },
      {
        title: '프로젝트 명',
        dataIndex: 'project_name',
        key: 'project_name',
        width: 380,
        scopedSlots: { customRender: 'project_name' },
      },
      {
        title: '수량',
        dataIndex: 'count',
        key: 'count',
        width: 50,
        align: 'center',
      },
      {
        title: '마감일',
        dataIndex: 'final_due',
        key: 'final_due',
        width: 110,
        align: 'center',
      },
    ],
  },
  {
    title: '작업 공정',
    children: [
      {
        title: '작업자',
        dataIndex: 'worker',
        key: 'worker',
        width: 120,
        align: 'center',
      },
      {
        title: '가동장비',
        dataIndex: 'machine',
        key: 'machine',
        width: 100,
        scopedSlots: { customRender: 'machine' },
        align: 'center',
      },
      {
        title: '데이터',
        dataIndex: 'design',
        key: 'design',
        width: 47,
        scopedSlots: { customRender: 'design' },
        align: 'center',
      },
      {
        title: '생산',
        dataIndex: 'produce',
        key: 'produce',
        width: 47,
        scopedSlots: { customRender: 'produce' },
        align: 'center',
      },
      {
        title: '완료',
        dataIndex: 'produce_complete',
        key: 'produce_complete',
        width: 47,
        scopedSlots: { customRender: 'produce_complete' },
        align: 'center',
      },
    ],
  },
  {
    title: '기타',
    children: [
      {
        title: '배송방법',
        dataIndex: 'delivery_method',
        key: 'delivery_method',
        width: 120,
        scopedSlots: { customRender: 'delivery_method' },
        align: 'center',
      },
    ],
  },
]

export default {
  data() {
    return {
      date:"",
      moment,
      modal_title: '',
      selected_facility: '',
      modal_diseditable: false,
      modal_register: true,
      confirmLoading: false,
      confirmDirty: false,
      origin_data: [],
      filtered_data: [],
      columns,
      searchKeyword: '',
      selectedRowKeys: [], // Check here to configure the default column
      loading: false,
      type: '',
      content: '',
      visible: false,
      index: '',
      location: '',
      vender: '',
      as_person: '',
      as_tel: '',
      facility_data:[]
    }
  },
  computed: {
    hasSelected() {
      return this.selectedRowKeys.length > 0
    },
  },
  watch: {
    date(cur) {
      this.get_facility_data(cur)
    },
    all_date(cur,af){
      if(this.all_date === true){
        this.to_date = ""
        this.from_date=""
      }
    }
  },
  mounted() {
    function getCookie(cookieName) {
      let cookieValue = null
      if (document.cookie) {
        const array = document.cookie.split(escape(cookieName) + '=')
        if (array.length >= 2) {
          const arraySub = array[1].split(';')
          cookieValue = unescape(arraySub[0])
        }
      }
      if (cookieValue === null) {
        alert('페이지 권한이 없습니다.')
        location.href = '/dashboard'
      }
      return cookieValue
    }
    this.$axios.get(`${this.$URL.USER}/${getCookie('user_id')}`).then((res) => {
      if (res.data.right[this.$route.name] === false) {
        alert('페이지 권한이 없습니다.')
        location.href = '/dashboard'
      }
    })
    this.get_data()
    this.get_facility_list()
    this.date = this.moment()
  },
  updated() {
    console.log('updated')
  },
  methods: {
    async get_data() {
      this.origin_data = []
      this.filtered_data = []
      await this.$axios.get(`${this.$URL.INQUIRY}?type=producing`).then((res) => {
        const received_project_data = []
        res.data.forEach((e) => {
          if (e.project.length > 0) {
            e.project.forEach((i, index, arr) => {
              i.set = `${index + 1}/${arr.length}`
              if (i.expected_time) {
                i.expected_time = i.expected_time.split('T')[0]
              }
              if (i.final_due) {
                i.final_due = i.final_due.split('T')[0]
              }
              i.delivery_method = e.delivery_method
              i.orderer = e.client_company_name
              i.is_urgent = e.is_urgent

              i.inquiry_id = e.id
              i.received_worker = e.received_worker
              i.inquiry_final_due = this.moment(e.inquiry_final_due).format(
                'YYYY-MM-DD'
              )
              // console.log(i.worker)

              i.worker = i.worker
                ? i.worker.replace('{', '').replace('}', '')
                : ''

              if (e.received_at) {
                i.ordered_at = this.moment(e.received_at).format(
                  'YYYY-MM-DD  HH:mm'
                )
              } else {
                i.ordered_at = ''
              }
            })
            received_project_data.push(...e.project)
          }
        })
        this.origin_data = received_project_data       
        const unique = [
          ...new Set(this.origin_data.map((item) => item.orderer)),
        ]
        const column_filter_data = unique.map((item) => {
          return { text: item, value: item }
        })
        this.columns[0].children[1].filters = column_filter_data       
      })
    },
    async get_facility_data(date) {
      await this.$axios.get(this.$URL.FACILITY).then((res) => {
        this.facility_data = res.data
        this.facility_data = this.facility_data.map((e) => {
          return {
            ...e,
            time0: this.origin_data.filter(
              (m) =>
                m.machine.includes('오전') &&
                m.machine.includes(e.name) &&
                m.machine.includes(this.moment(date).format('YYYY-MM-DD'))
            ),
            time1: this.origin_data.filter(
              (m) =>
                m.machine.includes('오후') &&
                m.machine.includes(e.name) &&
                m.machine.includes(this.moment(date).format('YYYY-MM-DD'))
            ),
            time2: this.origin_data.filter(
              (m) =>
                m.machine.includes('저녁') &&
                m.machine.includes(e.name) &&
                m.machine.includes(this.moment(date).format('YYYY-MM-DD'))
            ),
          }
        })
      })
    },
    
    async delete_facility() {
      for (const e of this.selectedRowKeys) {
        const id = this.filtered_data[e].id
        await this.$axios.delete(`${this.$URL.FACILITY}/${id}`)
      }
      this.get_facility_list()
 
    },
    async get_facility(id) {
      await this.$axios.get(`${this.$URL.FACILITY}/${id}`).then((res) => {
        this.selected_facility = res.data.id
        this.type = res.data.type
        this.name = res.data.name
        this.content = res.data.content
        this.visible = res.data.visible
        this.index = res.data.index
        this.location = res.data.location
        this.vender = res.data.vender
        this.as_person = res.data.as_person
        this.as_tel = res.data.as_tel
        this.showModal()
        this.modal_register = false
        this.modal_diseditable = true
      })
    },
    async update_facility(id) {
      await this.$axios
        .put(`${this.$URL.FACILITY}/${id}`, {
          type: this.type,
          name: this.name,
          content: this.content,
          index: this.index,
          location: this.location,
          vender: this.vender,
          as_person: this.as_person,
          as_tel: this.as_tel,
        })
        .then((e) => {
          this.type = ''
          this.name = ''
          this.content = ''
          this.visible = ''
          this.index = ''
          this.location = ''
          this.vender = ''
          this.as_person = ''
          this.as_tel = ''
          this.visible = false

          this.get_facility_list()

        })
    },
    showModal() {
      this.visible = true
    },
    handleOk(e) {
      this.$axios
        .post(this.$URL.FACILITY, {
          type: this.type,
          name: this.name,
          content: this.content,
          index: this.index,
          location: this.location,
          vender: this.vender,
          as_person: this.as_person,
          as_tel: this.as_tel,
          created_at: moment(),
        })
        .then((e) => {
          this.title = ''
          this.content = ''
          this.visible = false

          this.get_facility_list()       
        })
    },
    handleCancel(e) {
      this.visible = false
    },
    handleSearch(e) {},

    handleReset() {},
    get_facility_list() {
      this.$axios.get(this.$URL.FACILITY).then((res) => {
        this.origin_data = res.data.map((e) => {
          return {
            ...e,
            created_at: this.moment(e.created_at).format('YYYY-MM-DD'),
          }
        })
        this.filtered_data = res.data.map((e) => {
          return {
            ...e,
            created_at: this.moment(e.created_at).format('YYYY-MM-DD'),
          }
        })
      })
    },
    onSelectChange(selectedRowKeys) {
      console.log('selectedRowKeys changed: ', selectedRowKeys)
      this.selectedRowKeys = selectedRowKeys
    },
    onEditorChange({ quill, html, text }) {
      if (
        html.includes('data:image/png;') ||
        html.includes('data:image/jpeg;') ||
        html.includes('data:image/gif;') ||
        html.includes('data:image/bmp;') ||
        html.includes('data:image/webp;')
      ) {
        let type
        if (html.includes('data:image/png;')) {
          type = 'png'
        }
        if (html.includes('data:image/jpeg;')) {
          type = 'jpeg'
        }
        if (html.includes('data:image/gif;')) {
          type = 'gif'
        }
        if (html.includes('data:image/bmp;')) {
          type = 'bmp'
        }
        if (html.includes('data:image/webp;')) {
          type = 'webp'
        }
        document.querySelector('#hidden_layer').innerHTML = html
        const base64String = html
          .split('data:image/')[1]
          .split(';')[1]
          .split('">')[0]
          .split('base64,')[1]
        this.$axios
          .post('http://13.124.52.145:5001/auth/test_base_64', {
            data: base64String,
            type,
          })
          .then((res) => {
            const imgAddress = res.data.data
            const imgTag = document.querySelectorAll('#hidden_layer img')
            imgTag.forEach((e) => {
              if (e.getAttribute('src').indexOf(base64String))
                e.setAttribute('src', imgAddress)
            })
            this.content = document.querySelector('#hidden_layer').innerHTML
          })
      }
    },
  },
}
</script>

<style>
#components-layout-demo-side .logo {
  margin: 16px;
}
.ant-layout-sider-zero-width-trigger {
  position: absolute;
  top: 0px;
  right: -36px;
  z-index: 1;
  width: 36px;
  height: 42px;
  color: #fff;
  font-size: 18px;
  line-height: 42px;
  text-align: center;
  background: #001529;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background 0.3s ease;
}
.ant-layout-header {
  height: 42px;
  padding: 0 50px;
  line-height: 64px;
  background: #001529;
}

.ant-advanced-search-form {
  padding: 24px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}

.ant-advanced-search-form .ant-form-item {
  display: flex;
}

.ant-advanced-search-form .ant-form-item-control-wrapper {
  flex: 1;
}

.advanced-search .ant-form {
  max-width: none;
}
.advanced-search .search-result-list {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fff;
  min-height: 200px;
  text-align: center;
  padding-top: 00px;
}
.ant-advanced-search-form .ant-form-item {
  margin-bottom: 0px !important;
}
span.ant-radio + * {
  padding-right: 0px;
  padding-left: 0px;
}
.ant-form-item {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  font-feature-settings: 'tnum', 'tnum';
  margin-bottom: 4px !important;
  vertical-align: top;
}
.searchKeyword .ant-form-item-control-wrapper {
  width: 100%;
}
.modal_diseditable .ant-form-explain {
  margin-bottom: 0px !important;
  position: absolute;
  top: -8px;
  left: 10px;
  display: initial;
}

.modal_diseditable .ql-toolbar {
  height: 0px !important;
  overflow: hidden !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  border-top: none !important;
}
.modal_diseditable .ant-select-disabled .ant-select-selection__choice {
  color: #000 !important;
  background-color: #fff !important;
  border: transparent !important;
  font-weight: bold;
}
.ant-input-disabled {
  color: #000 !important;
  background-color: #fff !important;
  border: transparent !important;
  font-weight: bold;
}
.ant-select-disabled .ant-select-selection {
  color: #000 !important;
  background-color: #fff !important;
  border: transparent !important;
  font-weight: bold;
}
.ant-select-disabled .ant-select-arrow {
  display: none;
}
.ant-table-tbody > tr > td {
    padding: 6px 6px !important;
    overflow: hidden;

}
.ant-table-thead > tr > th {
    padding: 6px 6px !important;
    overflow: hidden; 
    white-space: nowrap;
}
</style>
