<template>
  <a-layout id="components-layout-demo-side" style="min-height: 100vh">
    <aside-menu></aside-menu>
    <a-layout style="min-width: 375px">
      <header-menu/>
      <a-layout-content style="margin: 0 16px">
        <a-breadcrumb style="margin: 16px 0">
          <a-breadcrumb-item>모니터링</a-breadcrumb-item>
          <a-breadcrumb-item>재고 변동 현황</a-breadcrumb-item>
        </a-breadcrumb>
        <div
          :style="{ padding: '24px', background: '#fff', minHeight: '360px' }"
        >
          <div class="advanced-search">
            <a-form
              class="ant-advanced-search-form"         
            >
              <a-row :gutter="24">
                <a-col :xs="24" :md="12" :lg="10" :xl="6">
                  <a-form-item style="width: 100%" class="searchKeyword">
                    <a-input
                      @keyup.enter="search()"
                      v-model="searchKeyword"
                      style="width: 100%"
                      placeholder="명칭을 입력해 주세요."
                    >
                    </a-input>
                  </a-form-item>
                </a-col>
                <a-col :xs="24" :md="12" :lg="10" :xl="10">
                  기간:
                  <a-date-picker v-model="from_date" /> ~
                  <a-date-picker v-model="to_date" />
                   <span class="clickable" @click="all_date=false;from_date=moment().add('-7','days');to_date=moment()">최근 1주일</span>
                      <span class="clickable" @click="all_date=false;from_date=moment().add('-30','days');to_date=moment()">최근 30일</span>
                      <span class="clickable" @click="all_date=true;from_date='';to_date=''">전체</span>
                  <a-checkbox-group
                    v-model="checkedList"
                    :options="plainOptions"
                    @change="onChangeCheckList"
                  />
                  <a-checkbox
                    :indeterminate="indeterminate"
                    :checked="checkAll"
                    @change="onCheckAllChange"
                  >
                    전체
                  </a-checkbox>
                </a-col>
                <a-col
                  :xs="24"
                  :md="24"
                  :lg="5"
                  :xl="8"
                  :style="{ textAlign: 'right' }"
                >
                  <a-button type="primary" @click="search()" > 검색 </a-button>
                  <a-button type="danger" @click="$router.go($router.currentRoute)" class="refresh">검색 초기화</a-button>

                </a-col>
              </a-row>
            </a-form>
            <div class="search-result-list">
              <a-table
                :scroll="{ x: 1500 }"
                :columns="columns"
                :data-source="filtered_data"
                :pagination="{ defaultPageSize: 30, showSizeChanger: true, pageSizeOptions: ['10', '20', '30','40','50']}"
                bordered
              >
                <template slot="kind" slot-scope="kind, record">
                  <span :style="{color : kind=='입고'?'blue':'red' ,fontWeight:'bold' }">{{record.kind}}</span>
                </template>
              </a-table>
            </div>
          </div>
        </div>
      </a-layout-content>

     
      <Footer></Footer>
    </a-layout>
    
  </a-layout>
</template>
<script>
import moment from 'moment'
import 'moment/locale/ko'

moment.locale('ko')
const columns = [
  {
    title: '변동날짜',
    dataIndex: 'updated_at',
    align:"center",
    width: 80,
  },
  {
    title: '명칭',
    dataIndex: 'name',
    width: 200,
    scopedSlots: { customRender: 'name' },
  },
   {
    title: '유형(입/출고)',
    dataIndex: 'kind',
    align:"center",
    width: 50,
    scopedSlots: { customRender: 'kind' },
  },
  {
    title: '수량',
    dataIndex: 'count',
    width: 50,
    scopedSlots: { customRender: 'count' },
  },
   {
    title: '비고',
    dataIndex: 'note',
    width: 400,
    scopedSlots: { customRender: 'note' },
  },
]

export default {
  data() {
    return {
      moment,
      from_date:"",
      to_date:"",
      indeterminate: true,
      plainOptions: ['입고','출고'],
      checkAll: false,
      checkedList: ['입고','출고'],
      modal_diseditable : true,
      modal_register : true,
      location_search_type:[],
      type:"",
      kind:"",
      partner_code:"",
      incoming_qtty:"",
      outgoing_qtty:"",
      note:"",
      location:"",
      location_id:"",
      item_id:"",
      drawer_visible: false,
      visible: false,
      confirmLoading: false,
      partnerType: 'a',
      form: this.$form.createForm(this, { name: 'advanced_search' }), 
      confirmDirty: false,
      columns,
      selectedRowKeys: [], // Check here to configure the default column
      loading: false,
      location_list:[],
      item_list:[],
      filtered_data:[],
      origin_data:[],
      transaction_list:[],
      searchKeyword:""
    }
  },
  computed: {
    hasSelected() {
      return this.selectedRowKeys.length > 0
    },
  },
 
  beforeCreate() {
    this.form = this.$form.createForm(this, { name: 'register' })
  },
  mounted(){
    this.all_date=true;
    this.from_date='';
    this.to_date=''
    function getCookie(cookieName){
        let cookieValue=null;
        if(document.cookie){
            const array=document.cookie.split((escape(cookieName)+'='));
            if(array.length >= 2){
                const arraySub=array[1].split(';');
                cookieValue=unescape(arraySub[0]);
            }
        }
        if( cookieValue === null){
          alert("페이지 권한이 없습니다.")
          location.href="/dashboard"
        }
        return cookieValue;
    }
    this.$axios.get(`${this.$URL.USER}/${getCookie('user_id')}`).then(res=>{
      if( res.data.right[ this.$route.name ] === false ){
        alert("페이지 권한이 없습니다.")
        location.href="/dashboard"
      }
    })
    //  location_list
    this.$axios.get(this.$URL.TRANSACTION).then(res=>{
      this.$axios.get(this.$URL.ITEM).then(i=>{
        this.origin_data = res.data.map(e=>{
          return{
            name: i.data.filter(k=>k.id===e.item_id)[0]?i.data.filter(k=>k.id===e.item_id)[0].name:"",
            updated_at: this.moment(e.updated_at).format("YYYY-MM-DD h:m"),
            count: e.outgoing_qtty?  e.outgoing_qtty : e.incoming_qtty,
            kind:e.outgoing_qtty? "출고":"입고",
            etc:e.etc,
            note:e.note
          }
        }).sort((a,b) => this.moment(b.updated_at) - this.moment(a.updated_at))
        this.filtered_data = res.data.map(e=>{
          if(!i.data.filter(k=>k.id===e.item_id)[0])
          console.log(i.data.filter(k=>k.id===e.item_id))
          return{
            name: i.data.filter(k=>k.id===e.item_id)[0]?i.data.filter(k=>k.id===e.item_id)[0].name:"",
            updated_at:this.moment(e.updated_at).format("YYYY-MM-DD HH:mm"),
            count: e.outgoing_qtty?  e.outgoing_qtty : e.incoming_qtty,
            kind:e.outgoing_qtty? "출고":"입고",
            etc:e.etc,
            note:e.note
          }
        }).sort((a,b) => this.moment(b.updated_at) - this.moment(a.updated_at))
      })      
    })
  },
  updated() {
    console.log('updated')
  },
  methods: {
    onChangeCheckList(checkedList) {
      this.indeterminate =
        !!checkedList.length && checkedList.length < this.plainOptions.length
      this.checkAll = checkedList.length === this.plainOptions.length
    },
    onCheckAllChange(e) {
      Object.assign(this, {
        checkedList: e.target.checked ? this.plainOptions : [],
        indeterminate: false,
        checkAll: e.target.checked,
      })
    },
    search(){
      this.origin_data.map(e=>{ console.log(  this.checkedList.includes(e.kind) && e.name.includes(this.searchKeyword)  ); return{  }  })
      this.filtered_data = this.origin_data.filter(e=> this.checkedList.includes(e.kind) && e.name.includes(this.searchKeyword) )
      // if(!this.all_date){
      //   this.filtered_data = this.origin_data.filter(e=>this.moment(this.from_date) <= this.moment(e.updated_at) && this.moment(this.to_date).endOf('day') >= this.moment(e.updated_at) && this.checkedList.includes(e.kind) && e.name.includes(this.searchKeyword) ) 
      // }
    },
   
    onClose() {
      this.drawer_visible = false
    },
    showModal() {
      this.visible = true
    },
   
    handleCancel(e) {
      console.log('Clicked cancel button')
      this.visible = false
    },
    handleSearch(e) {
     
    },

    handleReset() {
    
    },

    start() {
      
    },
    onSelectChange(selectedRowKeys) {
      console.log('selectedRowKeys changed: ', selectedRowKeys)
      this.selectedRowKeys = selectedRowKeys
    },
  },
}
</script>

<style  >
#components-layout-demo-side .logo {
  margin: 16px;
}
.ant-layout-sider-zero-width-trigger {
  position: absolute;
  top: 0px;
  right: -36px;
  z-index: 1;
  width: 36px;
  height: 42px;
  color: #fff;
  font-size: 18px;
  line-height: 42px;
  text-align: center;
  background: #001529;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background 0.3s ease;
}
.ant-layout-header {
  height: 42px;
  padding: 0 50px;
  line-height: 64px;
  background: #001529;
}

.ant-advanced-search-form {
  padding: 24px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}

.ant-advanced-search-form .ant-form-item {
  display: flex;
}

.ant-advanced-search-form .ant-form-item-control-wrapper {
  flex: 1;
}

.advanced-search .ant-form {
  max-width: none;
}
.advanced-search .search-result-list {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fff;
  min-height: 200px;
  text-align: center;
  padding-top: 00px;
}
.ant-advanced-search-form .ant-form-item {
  margin-bottom: 0px !important;
}
span.ant-radio + * {
  padding-right: 0px;
  padding-left: 0px;
}
.ant-form-item {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  font-feature-settings: 'tnum', 'tnum';
  margin-bottom: 4px !important;
  vertical-align: top;
}
.searchKeyword .ant-form-item-control-wrapper {
  width: 100%;
}
.advanced-search .ant-checkbox-wrapper + .ant-checkbox-wrapper {
    margin-right: 8px!important;
    margin-left: 0px!important;
}
.ant-table-tbody > tr > td {
    padding: 6px 6px !important;
    overflow: hidden;

}
.ant-table-thead > tr > td {
    padding: 6px 6px !important;
    overflow: hidden; 
    white-space: nowrap;
}
</style>
