<template>
  <a-layout id="components-layout-demo-side" style="min-height: 100vh">
    <aside-menu></aside-menu>
    <a-layout style="min-width: 375px">
      <header-menu />
      <a-layout-content style="margin: 0 16px">
        <a-breadcrumb style="margin: 16px 0; display: inline-block">
          <a-breadcrumb-item>시스템 관리</a-breadcrumb-item>
          <a-breadcrumb-item>메뉴 관리</a-breadcrumb-item>
        </a-breadcrumb>
        <a-tooltip placement="right">
          <template slot="title">
            <span
              >입점사가 메뉴를 커스터마이징 할수있는 페이지 입니다.</span
            >
          </template>
          <a-icon class="pointer" type="question-circle" />
        </a-tooltip>
        <div
          :style="{ padding: '24px', background: '#fff', minHeight: '360px' }"
        >
          <div class="advanced-search">
           
            <div class="search-result-list">
                 <a-transfer
                 class="menu_transfer"
                  :data-source="mockData"
                  :target-keys="targetKeys"
                  :disabled="disabled"
                  :show-search="showSearch"
                  :filter-option="(inputValue, item) => item.title.indexOf(inputValue) !== -1"
                  :show-select-all="false"
                  @selectChange="onselectChange" 
                  @change="onChange"
                >
                  <template
                    slot="children"
                    :style="{  width:'calc( (100% - 40px)/2 )'}"
                    slot-scope="{
                      props: { direction, filteredItems, selectedKeys, disabled: listDisabled },
                      on: { itemSelectAll, itemSelect },
                    }"
                  >
                    <a-table
                      :row-selection="
                        getRowSelection({ disabled: listDisabled, selectedKeys, itemSelectAll, itemSelect })
                      "
                      :columns="direction === 'left' ? leftColumns : rightColumns"
                      :data-source="filteredItems"
                      size="small"
                      :style="{ pointerEvents: listDisabled ? 'none' : null }"
                      :custom-row="
                        ({ key, disabled: itemDisabled }) => ({
                          on: {
                            click: () => {
                              if (itemDisabled || listDisabled) return;
                              itemSelect(key, !selectedKeys.includes(key));
                            },
                          },
                        })
                      "
                    >
                    
                      <template slot="alias" slot-scope="alias, record">
                        <span ><a-input v-model="record.alias"/></span>
                      </template>

                    </a-table>
                  </template>
                </a-transfer>
                <a-button @click="sumbit_menu">메뉴 수정 하기</a-button>
            </div>
          </div>
        </div>
      </a-layout-content>

    
    </a-layout>
  </a-layout>
</template>
<script>
import moment from 'moment'
import 'moment/locale/ko'
import difference from 'lodash/difference';
moment.locale('ko')
const leftTableColumns = [
  {
    dataIndex: 'name',
    title: '메뉴',
  },
  {
    dataIndex: 'desc',
    title: '설명',
  },
];
const rightTableColumns = [
  {
    dataIndex: 'name',
    title: '메뉴',
  },
  {
    dataIndex: 'desc',
    title: '설명',
  },
  {
    dataIndex: 'alias',
    title: '별칭',
    scopedSlots: { customRender: 'alias' },
  },
];

export default {
  data() {
    return {
      moment,
      mockData:[
        { 
          "key":1,
          "name":"문의 응대관리",
          "desc":"문의 응대관리",
          "to":"/question",
          "alias":""
        },
        { 
          "key":2,
          "name":"주문/프로젝트 관리",
          "desc":"주문/프로젝트 관리",
          "to":"/project_mng",
          "alias":""
        },{ 
          "key":3,
          "name":"출하(배송) 관리",
          "desc":"출하(배송) 관리",
          "to":"/delivery",
          "alias":""
        },{ 
          "key":4,
          "name":"작업지시서 관리",
          "desc":"작업지시서 관리",
          "to":"/project_detail",
          "alias":""
        },{ 
          "key":5,
          "name":"제작 실적 관리",
          "desc":"제작 실적 관리",
          "to":"/complete",
          "alias":""
        },{ 
          "key":6,
          "name":"자재 재고 관리",
          "desc":"자재 재고 관리",
          "to":"/warehouse_etc",
          "alias":""
        },{ 
          "key":7,
          "name":"상품 재고 관리",
          "desc":"상품 재고 관리",
          "to":"/warehouse_product",
          "alias":""
        },{ 
          "key":8,
          "name":"공통코드 관리",
          "desc":"공통코드 관리",
          "to":"/common",
          "alias":""
        },{ 
          "key":9,
          "name":"메뉴 관리",
          "desc":"메뉴 관리",
          "to":"/custom_menu",
          "alias":""
        },{ 
          "key":10,
          "name":"아이템 관리",
          "desc":"아이템 관리",
          "to":"/item",
          "alias":""
        },{ 
          "key":11,
          "name":"거래처 관리",
          "desc":"거래처 관리",
          "to":"/partner",
          "alias":""
        },{ 
          "key":12,
          "name":"설비 관리",
          "desc":"설비 관리",
          "to":"/facility",
          "alias":""
        },{ 
          "key":13,
          "name":"창고 관리",
          "desc":"창고 관리",
          "to":"/location",
          "alias":""
        },{ 
          "key":14,
          "name":"라벨 관리",
          "desc":"라벨 관리",
          "to":"/label",
          "alias":""
        },{ 
          "key":15,
          "name":"카테고리 관리",
          "desc":"카테고리 관리",
          "to":"/code",
          "alias":""
        },{ 
          "key":16,
          "name":"공지사항 관리",
          "desc":"공지사항 관리",
          "to":"/notice",
          "alias":""
        },{ 
          "key":17,
          "name":"사용자 관리",
          "desc":"사용자 관리",
          "to":"/userList",
          "alias":""
        },{ 
          "key":18,
          "name":"사용자 권한 관리",
          "desc":"사용자 권한 관리",
          "to":"/userRightControl",
          "alias":""
        },{ 
          "key":19,
          "name":"퀵 메뉴 관리",
          "desc":"퀵 메뉴 관리",
          "to":"/quick_menu",
          "alias":""
        },{ 
          "key":20,
          "name":"메뉴 관리",
          "desc":"메뉴 관리",
          "to":"/custom_menu",
          "alias":""
        },{ 
          "key":21,
          "name":"로그 관리",
          "desc":"로그 관리",
          "to":"/log",
          "alias":""
        },{ 
          "key":22,
          "name":"종합 대시보드",
          "desc":"종합 대시보드",
          "to":"/dashboard",
          "alias":""
        },{ 
          "key":23,
          "name":"주문 진행 현황",
          "desc":"주문 진행 현황",
          "to":"/project",
          "alias":""
        },{ 
          "key":24,
          "name":"출하(배송)현황",
          "desc":"출하(배송)현황",
          "to":"/cur_delivery",
          "alias":""
        },{ 
          "key":25,
          "name":"설비 현황",
          "desc":"설비 현황",
          "to":"/cur_facility",
          "alias":""
        },{ 
          "key":26,
          "name":"재고 현황",
          "desc":"재고 현황",
          "to":"/cur_warehouse",
          "alias":""
        }
      ],
      targetKeys: [],
      disabled: false,
      showSearch: true,
      leftColumns: leftTableColumns,
      rightColumns: rightTableColumns,
      ref : this.$fire.database.ref('custom_menu_pino/'),
      custom_menu:[]
    };
  },
  mounted(){
       this.ref.on('value', (snapshot) => {
        const menu_history_data = Object.values( snapshot.val() );
        this.custom_menu = menu_history_data.sort((b,a)=>{ return this.moment(a.created_at) - this.moment(b.created_at)})[0]
        this.targetKeys = this.custom_menu.custom_menu.map(e=>e.key)
        this.custom_menu.custom_menu.forEach(e=>{
          this.mockData.find(i=>i.key===e.key).alias = e.alias
        })
      });
  },
  methods: {
    sumbit_menu(){
      let custom_menu = []
      this.targetKeys.forEach(e => {
        custom_menu.push(this.mockData.find(i=>i.key === e))
      });
      const new_data = this.ref.push()
      new_data.set({
            company_account_id: 2, // 입점사 계정 id
            company_account_name: "PINOT", // 입점사 이름
            custom_menu,
            created_at : this.moment().format("YYYY-MM-DD hh:mm:ss"),        
        });
      custom_menu = []
      alert("메뉴가 저장되었습니다.")
    },
    arrayEquals(a, b) {
    return Array.isArray(a) &&
        Array.isArray(b) &&
        a.length === b.length &&
        a.every((val, index) => val === b[index]);
    },
    onChange(nextTargetKeys,e,movekeys) {
      if(e==="right"){
         console.log(nextTargetKeys, movekeys)
        if (!this.arrayEquals(nextTargetKeys,movekeys)){
          const original = nextTargetKeys.filter(x => !movekeys.includes(x));
          this.targetKeys = original;
          this.targetKeys= this.targetKeys.concat(movekeys)
        }else{
          this.targetKeys = nextTargetKeys;
        }
      }else{
        this.targetKeys = nextTargetKeys;
      }
     
        
    },
    onselectChange(q,e,r){

    },

    triggerDisable(disabled) {
      this.disabled = disabled;
    },

    triggerShowSearch(showSearch) {
      this.showSearch = showSearch;
    },
    getRowSelection({ disabled, selectedKeys, itemSelectAll, itemSelect }) {
      return {
        getCheckboxProps: item => ({ props: { disabled: disabled || item.disabled } }),
        onSelectAll(selected, selectedRows) {
          const treeSelectedKeys = selectedRows
            .filter(item => !item.disabled)
            .map(({ key }) => key);
          const diffKeys = selected
            ? difference(treeSelectedKeys, selectedKeys)
            : difference(selectedKeys, treeSelectedKeys);
          itemSelectAll(diffKeys, selected);
        },
        onSelect({ key }, selected) {
          itemSelect(key, selected);
        },
        selectedRowKeys: selectedKeys,
      };
    },
  },
};
</script>

<style>
#components-layout-demo-side .logo {
  margin: 16px;
}
.ant-layout-sider-zero-width-trigger {
  position: absolute;
  top: 0px;
  right: -36px;
  z-index: 1;
  width: 36px;
  height: 42px;
  color: #fff;
  font-size: 18px;
  line-height: 42px;
  text-align: center;
  background: #001529;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background 0.3s ease;
}
.ant-layout-header {
  height: 42px;
  padding: 0 50px;
  line-height: 64px;
  background: #001529;
}

.ant-advanced-search-form {
  padding: 24px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}

.ant-advanced-search-form .ant-form-item {
  display: flex;
}

.ant-advanced-search-form .ant-form-item-control-wrapper {
  flex: 1;
}

.advanced-search .ant-form {
  max-width: none;
}
.advanced-search .search-result-list {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fff;
  min-height: 200px;
  text-align: center;
  padding-top: 00px;
}
.ant-advanced-search-form .ant-form-item {
  margin-bottom: 0px !important;
}
span.ant-radio + * {
  padding-right: 0px;
  padding-left: 0px;
}
.ant-form-item {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  font-feature-settings: 'tnum', 'tnum';
  margin-bottom: 4px !important;
  vertical-align: top;
}
.searchKeyword .ant-form-item-control-wrapper {
  width: 100%;
}
.modal_diseditable .ant-form-explain {
  margin-bottom: 0px !important;
  position: absolute;
  top: -8px;
  left: 10px;
  display: initial;
}

.modal_diseditable .ql-toolbar {
  height: 0px !important;
  overflow: hidden !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  border-top: none !important;
}
.modal_diseditable .ant-select-disabled .ant-select-selection__choice {
  color: #000 !important;
  background-color: #fff !important;
  border: transparent !important;
  font-weight: bold;
}
.ant-input-disabled {
  color: #000 !important;
  background-color: #fff !important;
  border: transparent !important;
  font-weight: bold;
}
.ant-select-disabled .ant-select-selection {
  color: #000 !important;
  background-color: #fff !important;
  border: transparent !important;
  font-weight: bold;
}
.ant-select-disabled .ant-select-arrow {
  display: none;
}
.menu_transfer .ant-transfer-list{
  width: calc( (100% - 40px) /2 )
}
</style>
