<template>
  <a-layout id="components-layout-demo-side" style="min-height: 100vh">
    <aside-menu></aside-menu>
    <a-layout style="min-width: 375px">
      <header-menu/>
      <a-layout-content style="margin: 0 16px">
        <a-breadcrumb style="margin: 16px 0">
          <a-breadcrumb-item>모니터링</a-breadcrumb-item>
          <a-breadcrumb-item>대시보드</a-breadcrumb-item>
        </a-breadcrumb>
        <a-row :gutter="6">
          <a-col  :xs="24" :md="24" :lg="12" :xl="12" >
            <a-card title="공지사항" style="width: 100%;min-height:205px">
              <template slot="extra">
                 <nuxt-link  to="notice">더보기</nuxt-link>
              </template>             
              <a-row v-for="(i,index) in notice_data" :key="index+'notice'" type="flex" justify="space-between" style="margin-bottom: 2px;" >          
                <span class="clickable" @click="get_notice(i.id)">{{i.title}}</span>
                <span>{{i.created_at}}</span>
              </a-row>         
            </a-card>
          </a-col>
          <a-col  :xs="24" :md="24" :lg="12" :xl="12" >
            <a-card title="제휴/문의사항" style="width: 100%;min-height:205px">
              <template slot="extra">
                 <nuxt-link  to="question">더보기</nuxt-link>
              </template>      
              <a-row v-for="(i,index) in question_data" :key="index+'question'"  type="flex" justify="space-between" style="margin-bottom:2px" >
               <span class="clickable" @click="get_question(i.id)">{{i.title}}</span>
                <span>{{i.created_at}}</span>
              </a-row>        
            </a-card>
          </a-col>
        </a-row>
        <a-row style="margin-top:6px;">
           <a-col  :xs="24" :md="24" :lg="24" :xl="24" >
            <a-card style="width: 100%">
              <template slot="title">
                주문상태 &nbsp;&nbsp;&nbsp;<span>({{ today }}) / {{project_data.length}}건 등록( {{producing}}건 진행중/{{complete}}건 완료)</span>
              </template>
              <a slot="extra" href="#">더보기</a>
              <a-row :gutter="16">
                <a-col v-for="item in project_data" :key="item.id" :xs="24" :md="12"  :lg="6"  :xl="4" >
                  <project-card :item="item" @open_project_detail="open_project_detail" />
                </a-col>
              </a-row>
            </a-card>
            <a-card style="margin-top:6px;" class="machine_status">
              <template slot="title">
                설비 가동상태
              </template>
              <a-row type="flex">
                <a-col :xs="24" :md="12" :lg="8" :xl="8" >
                  <a-card class="machine_status_section">
                    <template slot="title" style="text-align:center">
                      A동(가동률 {{a_active}}%)
                    </template>                    
                    <a-row>
                      <a-col :xs="24" :md="12" :lg="8" :xl="8" style="padding: 3px; background-color:#0000ff21">
                        <a-row >
                          <a-col class="facility facility_a facility_a_0" v-for="item in facility_data.filter(e=>e.location==='A동')" :key="item.name" :xs="12" :md="12" :lg="12" :xl="12">
                              <a-card style="height: 40px;" :class="{'active' : item.time0 > 0 , 'deactive':item.time0 === 0}">
                                <template slot="title" style="text-align:center">
                                  {{item.name}}
                                </template>
                              </a-card>
                          </a-col>             
                        </a-row>
                      </a-col>
                      <a-col :xs="24" :md="12" :lg="8" :xl="8" style="padding: 3px; background-color:#ff000040">
                        <a-row >
                          <a-col  class="facility facility_a facility_a_1" v-for="item in facility_data.filter(e=>e.location==='A동')" :key="item.name"  :xs="12" :md="12" :lg="12" :xl="12" >
                              <a-card style="height: 40px;" :class="{'active' : item.time1 > 0 , 'deactive':item.time1 === 0}">
                                <template slot="title" style="text-align:center">
                                  {{item.name}}
                                </template>
                              </a-card>
                          </a-col>
                        </a-row>
                      </a-col>
                      <a-col :xs="24" :md="12" :lg="8" :xl="8" style="padding: 3px; background-color:#00ff0050"> 
                        <a-row >
                          <a-col  class="facility " v-for="item in facility_data.filter(e=>e.location==='A동')" :key="item.name"  :xs="12" :md="12" :lg="12" :xl="12" >
                              <a-card style="height: 40px;" :class="{'active' : item.time2 > 0 , 'deactive':item.time2 === 0}">
                                <template slot="title" style="text-align:center">
                                  {{item.name}}
                                </template>
                              </a-card>
                          </a-col>
                        </a-row>
                      </a-col>
                    </a-row>                  
                  </a-card>
                </a-col>
                <a-col :xs="24" :md="12" :lg="8" :xl="8" >
                  <a-card class="machine_status_section">
                    <template slot="title" style="text-align:center">
                      B동(가동률 {{b_active}}%)
                    </template>                    
                    <a-row>
                      <a-col :xs="24" :md="12" :lg="8" :xl="8" style="padding: 3px; background-color:blue">
                        <a-row >
                          <a-col class="facility  facility_b facility_b_0" v-for="item in facility_data.filter(e=>e.location==='B동')" :key="item.name" :xs="12" :md="12" :lg="12" :xl="12">
                              <a-card style="height: 40px;" :class="{'active' : item.time0 > 0 , 'deactive':item.time0 === 0}">
                                <template slot="title" style="text-align:center">
                                  {{item.name}}
                                </template>
                              </a-card>
                          </a-col>             
                        </a-row>
                      </a-col>
                      <a-col :xs="24" :md="12" :lg="8" :xl="8" style="padding: 3px; background-color:red">
                        <a-row >
                          <a-col  class="facility  facility_b facility_b_1" v-for="item in facility_data.filter(e=>e.location==='B동')" :key="item.name"  :xs="12" :md="12" :lg="12" :xl="12" >
                              <a-card style="height: 40px;" :class="{'active' : item.time1 > 0 , 'deactive':item.time1 === 0}">
                                <template slot="title" style="text-align:center">
                                  {{item.name}}
                                </template>
                              </a-card>
                          </a-col>
                        </a-row>
                      </a-col>
                      <a-col :xs="24" :md="12" :lg="8" :xl="8" style="padding: 3px; background-color:yellow"> 
                        <a-row >
                          <a-col  class="facility" v-for="item in facility_data.filter(e=>e.location==='B동')" :key="item.name"  :xs="12" :md="12" :lg="12" :xl="12" >
                              <a-card style="height: 40px;" :class="{'active' : item.time2 > 0 , 'deactive':item.time2 === 0}">
                                <template slot="title" style="text-align:center">
                                  {{item.name}}
                                </template>
                              </a-card>
                          </a-col>
                        </a-row>
                      </a-col>
                    </a-row>                  
                  </a-card>
                </a-col>
               <a-col :xs="24" :md="12" :lg="8" :xl="8" >
                  <a-card class="machine_status_section">
                    <template slot="title" style="text-align:center">
                      C동(가동률 {{c_active}}%)
                    </template>                    
                    <a-row>
                      <a-col :xs="24" :md="12" :lg="8" :xl="8" style="padding: 3px; background-color:blue">
                        <a-row >
                          <a-col class="facility  facility_c facility_c_0" v-for="item in facility_data.filter(e=>e.location==='C동')" :key="item.name" :xs="12" :md="12" :lg="12" :xl="12">
                              <a-card style="height: 40px;" :class="{'active' : item.time0 > 0 , 'deactive':item.time0 === 0}">
                                <template slot="title" style="text-align:center">
                                  {{item.name}}
                                </template>
                              </a-card>
                          </a-col>             
                        </a-row>
                      </a-col>
                      <a-col :xs="24" :md="12" :lg="8" :xl="8" style="padding: 3px; background-color:red">
                        <a-row >
                          <a-col  class="facility  facility_c facility_c_1" v-for="item in facility_data.filter(e=>e.location==='C동')" :key="item.name"  :xs="12" :md="12" :lg="12" :xl="12" >
                              <a-card style="height: 40px;" :class="{'active' : item.time1 > 0 , 'deactive':item.time1 === 0}">
                                <template slot="title" style="text-align:center">
                                  {{item.name}}
                                </template>
                              </a-card>
                          </a-col>
                        </a-row>
                      </a-col>
                      <a-col :xs="24" :md="12" :lg="8" :xl="8" style="padding: 3px; background-color:yellow"> 
                        <a-row >
                          <a-col  class="facility" v-for="item in facility_data.filter(e=>e.location==='C동')" :key="item.name"  :xs="12" :md="12" :lg="12" :xl="12" >
                              <a-card style="height: 40px;" :class="{'active' : item.time2 > 0 , 'deactive':item.time2 === 0}">
                                <template slot="title" style="text-align:center">
                                  {{item.name}}
                                </template>
                              </a-card>
                          </a-col>
                        </a-row>
                      </a-col>
                    </a-row>                  
                  </a-card>
                </a-col>
              </a-row>
            </a-card>
          </a-col>
        </a-row>
      </a-layout-content>
      <a-layout-footer style="text-align: center">
       
      </a-layout-footer>
      <a-modal
        :title="'공지사항'"
        :visible="notice_visible"          
        @cancel="handleCancel"
        :width="800"
        :class="{ modal_diseditable: true }"
      >
        <template slot="closeIcon">
          <a-icon @click="handleCancel()" type="close"
        /></template>
        <a-form >
          <a-row>
            <a-col :xs="24" :md="24" :lg="24">
              <a-form-item>
                <a-input
                  v-model="title"
                  :disabled="true"
                  placeholder="공지사항 제목"
                />
              </a-form-item>
            </a-col>
            <a-col :xs="24" :md="24" :lg="24">
              <a-form-item>
                <client-only>
                  <quill-editor
                    ref="editor"
                    v-model="content"
                    :disabled="true"
                    :options="editorOption"                
                  />
                </client-only>
              </a-form-item>
            </a-col>
          </a-row>
        </a-form>
        <template slot="footer">
          <!-- 수정 -->
          <a-button         
            @click="notice_visibile=false;handleCancel()"
          >
            확인
          </a-button>

  
     
        </template>
      </a-modal>
          <a-modal
      title="문의 조회"
      :visible="question_visible"
      :width="800"
      :closable="true"
      :class="{ modal_diseditable: true }"
      class="project_modal"
    >
      <template slot="closeIcon">
        <a-icon @click="handleCancel()" type="close"
      /></template>
      <a-form>
        <a-row>
          <a-col :xs="24" :md="24" :lg="18">
            <a-form-item help="상호">
              <a-input
                v-model="title"
                :disabled="true"
                placeholder="문의 제목"
              />
            </a-form-item>
          </a-col>
          <a-col :xs="24" :md="24" :lg="6">
            <a-form-item help="진행 상태">
              <a-select
                v-model="status"
                placeholder="진행 상태"
                :disabled="true"
              >
                <a-select-option value="응답 대기">응답 대기</a-select-option>
                <a-select-option value="응답 완료">응답 완료</a-select-option>
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :xs="24" :md="24" :lg="6">
            <a-form-item help="회사">
              <a-input
                v-model="co_name"
                :disabled="true"
                placeholder="회사"
              />
            </a-form-item>
          </a-col>
          <a-col :xs="24" :md="24" :lg="6">
            <a-form-item help="담당자">
              <a-input
                v-model="person"
                :disabled="true"
                placeholder="담당자"
              />
            </a-form-item>
          </a-col>
          <a-col :xs="24" :md="24" :lg="6">
            <a-form-item help="연락처">
              <a-input
                v-model="contact"
                :disabled="true"
                placeholder="연락처"
              />
            </a-form-item>
          </a-col>
          <a-col :xs="24" :md="24" :lg="6">
            <a-form-item help="휴대폰">
              <a-input
                v-model="cellphone"
                :disabled="true"
                placeholder="휴대폰"
              />
            </a-form-item>
          </a-col>

          <a-col :xs="24" :md="24" :lg="6">
            <a-form-item help="이메일">
              <a-input
                v-model="email"
                :disabled="true"
                placeholder="이메일"
              />
            </a-form-item>
          </a-col>
          <a-col :xs="24" :md="24" :lg="6">
            <a-form-item help="팩스">
              <a-input
                v-model="fax"
                :disabled="true"
                placeholder="팩스"
              />
            </a-form-item>
          </a-col>
          <a-col :xs="24" :md="24" :lg="12">
            <a-form-item help="비고">
              <a-input
                v-model="note"
                :disabled="true"
                placeholder="비고"
              />
            </a-form-item>
          </a-col>
          <a-col :xs="24" :md="24" :lg="24">
            <a-form-item>
              <client-only>
                <quill-editor
                  ref="editor"
                  v-model="content"
                  :options="editorOption"
                  :disabled="true"               
                />
              </client-only>
            </a-form-item>
          </a-col>
        </a-row>
      </a-form>
      <template slot="footer">
        <!-- 수정 -->
        <a-button       
          @click="question_visible=false"
        >
          확인
        </a-button>

      
      </template>
    </a-modal>
        <a-modal
      title="프로젝트 조회"
      :visible="project_visible"
      :width="800"
      :closable="true"
      :class="{ modal_diseditable: true }"
      class="project_modal"
    >
      <template slot="closeIcon">
        <a-icon @click="handleCancel()" type="close"
      /></template>
      <a-form>
        <a-row>
          <a-form
            v-for="(item, index) in project"
            :key="index + 'project_form'"
          >
            <a-col :xs="24" :md="24" :lg="24">
              <a-form-item help="프로젝트명">
                <a-input
                  v-model="item.project_name"
                  placeholder="프로젝트명"
                  :disabled="true"
                />
              </a-form-item>
            </a-col>
            <a-col :xs="24" :md="24" :lg="6">
              <a-form-item help="프로젝트 종류">
                <a-select
                  v-model="item.project_type"
                  placeholder="프로젝트 종류"
                  option-filter-prop="children"
                  :disabled="true"
              
                >
                  <a-select-option value="default">실사출력</a-select-option>
                  <a-select-option value="pre">사인물</a-select-option>
                  <a-select-option value="parcel">후레임간판</a-select-option>
                  <a-select-option value="cargo">채널간판</a-select-option>
                  <a-select-option value="cargoParcel"
                    >포인트간판</a-select-option
                  >
                  <a-select-option value="etc">광고자재</a-select-option>
                </a-select>
              </a-form-item>
            </a-col>
            <a-col :xs="24" :md="24" :lg="6">
              <a-form-item help="원본데이터 위치">
                <a-input
                  v-model="item.project_file_address"
                  :disabled="true"
                  placeholder="원본데이터 위치"
                />
              </a-form-item>
            </a-col>
            <a-col :xs="24" :md="24" :lg="6">
              <a-form-item help="마감일">
                <a-date-picker
                  v-model="item.expected_time"
                  placeholder="마감일"
                  :disabled="true"
                  style="width: 100%"
                >
                  <a-icon slot="suffixIcon" type="schedule" />
                </a-date-picker>
              </a-form-item>
            </a-col>
            <a-col :xs="24" :md="24" :lg="6">
              <a-form-item help="납기일">
                <a-date-picker
                  v-model="item.final_due"
                  placeholder="납기일"
                  :disabled="true"
                  style="width: 100%"
                >
                  <a-icon slot="suffixIcon" type="alert" />
                </a-date-picker>
              </a-form-item>
            </a-col>
            <a-col :xs="24" :md="24" :lg="6">
              <a-form-item help="작업형태">
                <a-select
                  v-model="item.project_method"
                  placeholder="작업형태"
                  :disabled="true"
              
                >
                  <a-select-option value="default">직접제작</a-select-option>
                  <a-select-option value="pre">완조립</a-select-option>
                  <a-select-option value="parcel">외주</a-select-option>
                  <a-select-option value="cargo">일부외주</a-select-option>
                </a-select>
              </a-form-item>
            </a-col>
            <a-col :xs="24" :md="24" :lg="6">
              <a-form-item help="시안형태">
                <a-select
                  v-model="item.design_type"
                  placeholder="시안형태"
                  :disabled="true"             
                >
                  <a-select-option value="default">완성데이터</a-select-option>
                  <a-select-option value="pre">시안수정</a-select-option>
                  <a-select-option value="parcel">시안새작업</a-select-option>
                  <a-select-option value="cargo">시안없음</a-select-option>
                </a-select>
              </a-form-item>
            </a-col>
            <a-col :xs="24" :md="24" :lg="6">
              <a-form-item help="수량">
                <a-input
                  v-model="item.count"
                  :disabled="true"
                  placeholder="수량"
                />
              </a-form-item>
            </a-col>
            <a-col :xs="24" :md="24" :lg="6">
              <a-form-item help="포장형태">
                <a-input
                  v-model="item.package_type"
                  :disabled="true"
                  placeholder="포장형태"
                />
              </a-form-item>
            </a-col>
            <a-col :xs="24" :md="24" :lg="18">
              <a-form-item help="주의사항">
                <a-input
                  v-model="item.etc"
                  :disabled="true"
                  placeholder="주의사항"
                />
              </a-form-item>
            </a-col>
            <a-col :xs="24" :md="24" :lg="6">
              <a-form-item help="작업자">
                <a-select
                  mode="tags"
                  v-model="item.worker"
                  :disabled="true"
                  placeholder="작업자"
                >
                  <a-select-option value="" disabled>작업자</a-select-option>
                  <a-select-option
                    v-for="i in worker_list"
                    :key="i + 'worker'"
                    :value="i.user_name"
                  >
                    {{ i.user_name }}
                  </a-select-option>
                </a-select>
              </a-form-item>
            </a-col>
            <a-col :xs="24" :md="24" :lg="24">
              <a-form-item>
                <client-only>
                  <quill-editor
                    ref="editor"
                    v-model="item.content"
                    :options="editorOption"
                    :disabled="true"               
                  />
                </client-only>
              </a-form-item>
            </a-col>
          </a-form>    
        </a-row>
      </a-form>
      <template slot="footer">
        <!-- 수정 -->
        <a-button
          @click="handleCancel()"
        >
          확인
        </a-button>
      </template>
    </a-modal>
    </a-layout>
  </a-layout>
</template>
<script>
import moment from 'moment'
import 'moment/locale/ko'
import AsideMenu from '../components/AsideMenu.vue'
import HeaderMenu from '../components/HeaderMenu.vue'
moment.locale('ko')

export default {
  components: { AsideMenu, HeaderMenu },
  data() {
    return {
      editorOption: {
        // Some Quill options...
        theme: 'snow',
        modules: {
          toolbar: [
            ['bold', 'italic', 'underline', 'strike'], // toggled buttons
            ['blockquote', 'code-block'],
            [{ header: 1 }, { header: 2 }], // custom button values
            [{ list: 'ordered' }, { list: 'bullet' }],
            [{ script: 'sub' }, { script: 'super' }], // superscript/subscript
            [{ indent: '-1' }, { indent: '+1' }], // outdent/indent
            [{ direction: 'rtl' }],
            [{ size: ['small', false, 'large', 'huge'] }], // custom dropdown
            [{ header: [1, 2, 3, 4, 5, 6, false] }],
            [{ color: [] }, { background: [] }], // dropdown with defaults from theme
            [{ font: [] }],
            [{ align: [] }],
            ['link', 'image'],
            ['clean'],
          ],
        },
      },
      project_detail_id:"",
      inqury_detail_id:"",
      collapsed: false,
      notice_data:[],
      question_data:[],
      project_data:[],
      facility_data:[],
      moment,
      today:"",
      producing:0,
      complete:0,
      a_active:0,
      b_active:0,
      c_active:0,
      notice_visible:false,
      question_visible:false,
      project_visible:false,
      content :"",
      title :"",
      attached_file_0  :"",
      status :"",
      co_name :"",
      person  :"",
      contact :"",
      cellphone :"",
      email :"",
      fax  :"",
      note :"",
      modal_visible  :"",
      modal_register  :"",
      modal_diseditable  :"",
      target_id :"",
      project:[],
      is_urgent :"",
      received_channel :"",
      received_at :"",
      received_worker :"",
      client_company_name :"",
      client_person :"",
      client_person_tel :"",
      is_prepayed_deliver :"",
      delivery_method :"",
      domain_location :"",     
      sender :"",
      etc :"",
      receiver :"",
      inquiry_end_due :"",
      inquiry_final_due :"",
      receiver_address :"",
    }
  },
  async mounted() {
     function getCookie(cookieName){
        let cookieValue=null;
        if(document.cookie){
            const array=document.cookie.split((escape(cookieName)+'='));
            if(array.length >= 2){
                const arraySub=array[1].split(';');
                cookieValue=unescape(arraySub[0]);
            }
        }
        if( cookieValue === null){
          alert("페이지 권한이 없습니다.")
          location.href="/"
        }
        return cookieValue;
    }
    const cookieName = "user_id"
    let cookieValue=null;
    if(document.cookie){
        const array=document.cookie.split((escape(cookieName)+'='));
        if(array.length >= 2){
            const arraySub=array[1].split(';');
            cookieValue=unescape(arraySub[0]);
        }
    }
    if( cookieValue === null){
      alert("페이지 권한이 없습니다.")
      location.href="/system_login"
    }else{
      await this.get_notice_list()
      await this.get_question_list()
      await this.get_project_data()
     
      this.today = this.moment().format("YYYY년 MM월 DD일")
      this.producing =  this.project_data.length  -  this.project_data.filter(e=>e.complete === true).length
      this.complete = this.project_data.filter(e=>e.complete === true).length
    }
    
    
  },
  methods:{
    get_notice_list(){
      this.$axios.get(this.$URL.NOTICE).then(res=>{
        this.notice_data = res.data.map(e=>{ return { ...e, created_at: moment(e.created_at).format("YYYY-MM-DD ") } }).splice(0, 3)   
      })
    },
    get_notice(id){
        this.$axios.get(`${this.$URL.NOTICE}/${id}`).then((res) => {
          this.title = res.data.title
          this.content = res.data.content
          this.notice_visible=true
        })
    },
    get_question_list(){
      this.$axios.get(this.$URL.QUESTION).then(res=>{
        this.question_data = res.data.map(e=>{ return { ...e, created_at: moment(e.created_at).format("YYYY-MM-DD ") } }).splice(0, 3)
      })
    },
    get_question(id){
      this.$axios.get(`${this.$URL.QUESTION}/${id}`).then((res) => {
        this.content = res.data.content
        this.title = res.data.title
        this.attached_file_0 = res.data.attached_file_0
        this.status = res.data.status
        this.co_name = res.data.co_name
        this.person = res.data.person
        this.contact = res.data.contact
        this.cellphone = res.data.cellphone
        this.email = res.data.email
        this.fax = res.data.fax
        this.note = res.data.note
        this.modal_visible = true
        this.modal_register = false
        this.modal_diseditable = true
        this.target_id = res.data.id
        this.question_visible=true
      })
    },
    async get_project_data() {
      this.project_data = []
      await this.$axios.get(`${this.$URL.INQUIRY}?type=producing`).then((res) => {
        const received_project_data = []
        res.data.forEach((e) => {
          if (e.project.length > 0) {
            e.project.forEach((i, index, arr) => {
              i.set = `${index + 1}/${arr.length}`
              if (i.expected_time) {
                i.expected_time = i.expected_time.split('T')[0]
              }
              if (i.final_due) {
                i.final_due = i.final_due.split('T')[0]
              }
              i.delivery_method = e.delivery_method
              i.orderer = e.client_company_name
              i.is_urgent = e.is_urgent

              i.inquiry_id = e.id
              i.received_worker = e.received_worker
              i.inquiry_final_due = this.moment(e.inquiry_final_due).format(
                'YYYY-MM-DD'
              )
              // console.log(i.worker)

              i.worker = i.worker
                ? i.worker.replace('{', '').replace('}', '')
                : ''

              if (e.received_at) {
                i.ordered_at = this.moment(e.received_at).format(
                  'YYYY-MM-DD'
                )
              } else {
                i.ordered_at = ''
              }
            })
            received_project_data.push(...e.project)
          }
        })
        this.project_data = received_project_data
        this.get_facility_list()
      })
    },
    handleCancel(){
      console.log("sss")
      this.notice_visible=false
      this.question_visible=false
      this.project_visible = false
    },
    async get_facility_list(){
      await this.$axios.get(this.$URL.FACILITY).then(res=>{
        console.log(this.project_data)
        
        this.facility_data = res.data
        this.facility_data =  this.facility_data.map(e=>{ 
       
          try{
              return {
              ...e,
              "time0" : this.project_data.filter(m=>m.machine).filter(m=> m.machine.includes("오전") && m.machine.includes('/'+e.name) && m.machine.includes(this.moment().format("YYYY-MM-DD"))).length,
              "time1" : this.project_data.filter(m=>m.machine).filter(m=> m.machine.includes("오후") && m.machine.includes('/'+e.name) &&  m.machine.includes(this.moment().format("YYYY-MM-DD"))).length,
              "time2" : this.project_data.filter(m=>m.machine).filter(m=> m.machine.includes("저녁") && m.machine.includes('/'+e.name) &&  m.machine.includes(this.moment().format("YYYY-MM-DD"))).length,
            }
          }catch(i){          
               return {
              ...e,
              "time0" :0,
              "time1" :0,
              "time2" :0,
            }
          }
          
        
        })
        console.log(this.facility_data)
        this.$nextTick(()=>{
          this.a_active = parseInt( document.querySelectorAll(".facility.facility_a  .active").length * 100/  document.querySelectorAll(".facility.facility_a").length )
          this.b_active = parseInt( document.querySelectorAll(".facility.facility_b  .active").length * 100/  document.querySelectorAll(".facility.facility_b").length )
          this.c_active = parseInt( document.querySelectorAll(".facility.facility_c  .active").length * 100/  document.querySelectorAll(".facility.facility_c").length )
    
    
    })
        
      })
    },
    async open_project_detail(id, project_id) {
      console.log(id)
      console.log(project_id)
      this.project_detail_id = project_id
      this.inqury_detail_id = id
      await this.$axios.get(`${this.$URL.INQUIRY}/${id}`).then((res) => {
        this.is_urgent = res.data.is_urgent
        this.received_channel = res.data.received_channel
        this.received_at = res.data.received_at
        this.received_worker = res.data.received_worker
        this.client_company_name = res.data.client_company_name
        this.client_person = res.data.client_person
        this.client_person_tel = res.data.client_person_tel
        this.is_prepayed_deliver = res.data.is_prepayed_deliver
        this.delivery_method = res.data.delivery_method
        this.domain_location = res.data.domain_location
        this.content = res.data.content
        this.sender = res.data.sender
        this.etc = res.data.etc
        this.receiver = res.data.receiver
        this.inquiry_end_due = res.data.inquiry_end_due
        this.inquiry_final_due = res.data.inquiry_final_due
        this.receiver_address = res.data.receiver_address
        this.project = res.data.project.filter((e) => e.id === project_id)     
        this.project[0].worker = this.project[0].worker
          ? this.project[0].worker.replace('{', '').replace('}', '')
          : ''
        this.project_visible = true
      })
    },
  }
}
</script>

<style>
#components-layout-demo-side .logo {
  margin: 16px;
}
.ant-layout-sider-zero-width-trigger {
  position: absolute;
  top: 0px;
  right: -36px;
  z-index: 1;
  width: 36px;
  height: 42px;
  color: #fff;
  font-size: 18px;
  line-height: 42px;
  text-align: center;
  background: #001529;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background 0.3s ease;
}
.ant-layout-header {
  height: 42px;
  padding: 0 50px;
  line-height: 64px;
  background: #001529;
}
@keyframes blink{
  0%{background-color: red; color:#fff;}
  50%{background-color: #4d66a3; color:#fff;}
  100%{background-color: red; color:#fff;}  
  }
.active{
  background-color: red;
  animation: blink 1s linear infinite;
  animation-direction: alternate;
}
.deactive{
  background-color: #AAA;
}
.active .ant-card-head-title,.deactive .ant-card-head-title{
    display: inline-block;
    flex: 1;
    padding: 7px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.machine_status{

}
.machine_status_section .ant-card-body{
  padding: 0px!important;
}

.facility .ant-card-head{
  min-height: 0px!important;
}
.active .ant-card-head, .deactive .ant-card-head{
  padding: 0px 5px!important;
  text-align: center;
}
</style>
