<template>
  <a-layout id="components-layout-demo-side" style="min-height: 100vh">
    <aside-menu></aside-menu>
    <a-layout style="min-width: 375px">
      <header-menu/>
      <a-layout-content style="margin: 0 16px">
        <a-breadcrumb style="margin: 16px 0">
          <a-breadcrumb-item>모니터링</a-breadcrumb-item>
          <a-breadcrumb-item>대시보드</a-breadcrumb-item>
        </a-breadcrumb>
        <div
          :style="{ padding: '24px', background: '#fff', minHeight: '360px' }"
        >
        <div class="card-container">
          <a-tabs type="card">
            <a-tab-pane  v-for="(date,idx) in date_list" :tab="date" :key="idx">
              <a-row>
                  <a-col v-for="item in project_data.filter(e=>e.inquiry_final_due===date)" :key="item.id"  :xs="24" :md="12" :lg="12" :xl="8" >
                  <a-card  :style="{backgroundColor: item.is_urgent==='당일 출고'?'#dd5f5f6e':'e0ffde'}">
                    <a-row type="flex" justify="space-between">
                    <a-tag color="red">
                      실사출력
                    </a-tag>
                    <a-tag color="#f50">
                      {{ item.is_urgent==='당일 출고'?'긴급' : '일반'}}
                    </a-tag>
                    </a-row>
                    <b style="font-size: 20px;">{{item.project_name}}</b>   <br>            
                    <a-tag  :color="'#108ee9' " v-for="worker in item.worker.split(',')" :key="item.id+worker">
                      {{worker}}
                    </a-tag>
                  </a-card>
                </a-col>               
              </a-row>
            </a-tab-pane>
            <!-- <a-tab-pane key="2" tab="12/20 (월)">
              <a-row>
               
              </a-row>
            </a-tab-pane>
            <a-tab-pane key="3" tab="12/21 (화)">
              <a-row>
              
              </a-row>
            </a-tab-pane> -->
          </a-tabs>
        </div>
        </div>
      </a-layout-content>
      <Footer></Footer>
    </a-layout>
  </a-layout>
</template>
<script>
import moment from 'moment'
import 'moment/locale/ko'
export default {
  data() {
    return {
      moment,
      drawer_visible: false,
      ModalText: 'Content of the modal',
      visible: false,
      confirmLoading: false,
      partnerType: 'a',
      form: this.$form.createForm(this, { name: 'advanced_search' }),
      confirmDirty: false,     
      selectedRowKeys: [], // Check here to configure the default column
      loading: false,
      project_data:[],
      date_list:[]
    }
  },
  computed: {
    hasSelected() {
      return this.selectedRowKeys.length > 0
    },
  },
  beforeCreate() {
    this.form = this.$form.createForm(this, { name: 'register' })
  },
  updated() {
    console.log('updated')
  },
  mounted(){
    for(let k =0 ; k<8;k++){
      this.date_list.push( this.moment().add(k,'days').format("YYYY-MM-DD") )
    }
    this.get_project_data()
  },
  methods: {
    async get_project_data() {
      this.project_data = []
      await this.$axios.get(`${this.$URL.INQUIRY}?type=producing`).then((res) => {
        const received_project_data = []
        res.data.forEach((e) => {
          if (e.project.length > 0) {
            e.project.forEach((i, index, arr) => {
              i.set = `${index + 1}/${arr.length}`
              if (i.expected_time) {
                i.expected_time = i.expected_time.split('T')[0]
              }
              if (i.final_due) {
                i.final_due = i.final_due.split('T')[0]
              }
              i.delivery_method = e.delivery_method
              i.orderer = e.client_company_name
              i.is_urgent = e.is_urgent

              i.inquiry_id = e.id
              i.received_worker = e.received_worker
              i.inquiry_final_due = this.moment(e.inquiry_final_due).format(
                'YYYY-MM-DD'
              )
              // console.log(i.worker)

              i.worker = i.worker
                ? i.worker.replace('{', '').replace('}', '')
                : ''

              if (e.received_at) {
                i.ordered_at = this.moment(e.received_at).format(
                  'YYYY-MM-DD  HH:mm'
                )
              } else {
                i.ordered_at = ''
              }
            })
            received_project_data.push(...e.project)
          }
        })
        this.project_data = received_project_data
      
      })
    },
    onClose() {
      this.drawer_visible = false
    },
    showModal() {
      this.visible = true
    },
    handleOk(e) {
      this.ModalText = 'The modal will be closed after two seconds'
      this.confirmLoading = true
      setTimeout(() => {
        this.visible = false
        this.confirmLoading = false
      }, 2000)
    },
    handleCancel(e) {
      console.log('Clicked cancel button')
      this.visible = false
    },
    handleSearch(e) {
      e.preventDefault()
      this.form.validateFields((error, values) => {
        console.log('error', error)
        console.log('Received values of form: ', values)
      })
    },

    handleReset() {
      this.form.resetFields()
    },

    start() {
      this.loading = true
      // ajax request after empty completing
      setTimeout(() => {
        this.loading = false
        this.selectedRowKeys = []
      }, 1000)
    },
    onSelectChange(selectedRowKeys) {
      console.log('selectedRowKeys changed: ', selectedRowKeys)
      this.selectedRowKeys = selectedRowKeys
    },
  },
}
</script>

<style  >
#components-layout-demo-side .logo {
  margin: 16px;
}
.ant-layout-sider-zero-width-trigger {
  position: absolute;
  top: 0px;
  right: -36px;
  z-index: 1;
  width: 36px;
  height: 42px;
  color: #fff;
  font-size: 18px;
  line-height: 42px;
  text-align: center;
  background: #001529;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background 0.3s ease;
}
.ant-layout-header {
  height: 42px;
  padding: 0 50px;
  line-height: 64px;
  background: #001529;
}

.ant-advanced-search-form {
  padding: 24px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}

.ant-advanced-search-form .ant-form-item {
  display: flex;
}

.ant-advanced-search-form .ant-form-item-control-wrapper {
  flex: 1;
}

.advanced-search .ant-form {
  max-width: none;
}
.advanced-search .search-result-list {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fff;
  min-height: 200px;
  text-align: center;
  padding-top: 00px;
}
.ant-advanced-search-form .ant-form-item {
  margin-bottom: 0px !important;
}
span.ant-radio + * {
  padding-right: 0px;
  padding-left: 0px;
}
.ant-form-item {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  font-feature-settings: 'tnum', 'tnum';
  margin-bottom: 4px !important;
  vertical-align: top;
}
.searchKeyword .ant-form-item-control-wrapper {
  width: 100%;
}
</style>
