/* eslint-disable vue/no-unused-vars */
<template>
  <a-layout id="components-layout-demo-side" style="min-height: 100vh">
    <aside-menu></aside-menu>
    <a-layout style="min-width: 375px">
      <header-menu/>
      <a-layout-content style="margin: 0 16px">
        <a-breadcrumb style="margin: 16px 0">
          <a-breadcrumb-item>기준정보 관리</a-breadcrumb-item>
          <a-breadcrumb-item>로그 관리</a-breadcrumb-item>
        </a-breadcrumb>
        <div
          :style="{ padding: '24px', background: '#fff', minHeight: '360px' }"
        >
          <div class="advanced-search">
            <a-form class="ant-advanced-search-form">
              <a-row :gutter="24">
                <a-col :xs="24" :md="12" :lg="10" :xl="10">
                  <a-form-item style="width: 100%" class="searchKeyword">
                    <a-input
                      v-model="searchKeyword"
                      style="width: 100%"
                      placeholder="로그 내용을 입력해 주세요."
                      @keyup.enter="search()"
                    >
                    </a-input>
                  </a-form-item>
                </a-col>
                <a-col
                  :xs="24"
                  :md="24"
                  :lg="14"
                  :xl="14"
                  :style="{ textAlign: 'right' }"
                >
                  <a-button type="primary" @click="search()"> 검색 </a-button>
                </a-col>
              </a-row>
            </a-form>
            <div class="log-search-result-list">
              <a-timeline pending="Recording...">
                <a-timeline-item
                  >id:0422 time:[2013-11-19 02:34:58] level:INFO method:POST
                  uri:/api/v1/textdata reqtime:3.9726677258569842
                  foobar:LFK6XV1N
                </a-timeline-item>
                <a-timeline-item
                  >id:0422 time:[2013-11-19 02:34:58] level:INFO method:POST
                  uri:/api/v1/textdata reqtime:3.9726677258569842
                  foobar:LFK6XV1N
                </a-timeline-item>
                <a-timeline-item
                  >id:0422 time:[2013-11-19 02:34:58] level:INFO method:POST
                  uri:/api/v1/textdata reqtime:3.9726677258569842
                  foobar:LFK6XV1N
                </a-timeline-item>
                <a-timeline-item
                  >id:0422 time:[2013-11-19 02:34:58] level:INFO method:POST
                  uri:/api/v1/textdata reqtime:3.9726677258569842
                  foobar:LFK6XV1N
                </a-timeline-item>
                <a-timeline-item
                  >id:0422 time:[2013-11-19 02:34:58] level:INFO method:POST
                  uri:/api/v1/textdata reqtime:3.9726677258569842
                  foobar:LFK6XV1N
                </a-timeline-item>
                <a-timeline-item
                  >id:0422 time:[2013-11-19 02:34:58] level:INFO method:POST
                  uri:/api/v1/textdata reqtime:3.9726677258569842
                  foobar:LFK6XV1N
                </a-timeline-item>
                <a-timeline-item
                  >id:0422 time:[2013-11-19 02:34:58] level:INFO method:POST
                  uri:/api/v1/textdata reqtime:3.9726677258569842
                  foobar:LFK6XV1N
                </a-timeline-item>
                <a-timeline-item
                  >id:0422 time:[2013-11-19 02:34:58] level:INFO method:POST
                  uri:/api/v1/textdata reqtime:3.9726677258569842
                  foobar:LFK6XV1N
                </a-timeline-item>
                <a-timeline-item
                  >id:0422 time:[2013-11-19 02:34:58] level:INFO method:POST
                  uri:/api/v1/textdata reqtime:3.9726677258569842
                  foobar:LFK6XV1N
                </a-timeline-item>
                <a-timeline-item
                  >id:0422 time:[2013-11-19 02:34:58] level:INFO method:POST
                  uri:/api/v1/textdata reqtime:3.9726677258569842
                  foobar:LFK6XV1N
                </a-timeline-item>
                <a-timeline-item
                  >id:0422 time:[2013-11-19 02:34:58] level:INFO method:POST
                  uri:/api/v1/textdata reqtime:3.9726677258569842
                  foobar:LFK6XV1N
                </a-timeline-item>
                <a-timeline-item
                  >id:0422 time:[2013-11-19 02:34:58] level:INFO method:POST
                  uri:/api/v1/textdata reqtime:3.9726677258569842
                  foobar:LFK6XV1N
                </a-timeline-item>
                <a-timeline-item
                  >id:0422 time:[2013-11-19 02:34:58] level:INFO method:POST
                  uri:/api/v1/textdata reqtime:3.9726677258569842
                  foobar:LFK6XV1N
                </a-timeline-item>
                <a-timeline-item
                  >id:0422 time:[2013-11-19 02:34:58] level:INFO method:POST
                  uri:/api/v1/textdata reqtime:3.9726677258569842
                  foobar:LFK6XV1N
                </a-timeline-item>
                <a-timeline-item
                  >id:0422 time:[2013-11-19 02:34:58] level:INFO method:POST
                  uri:/api/v1/textdata reqtime:3.9726677258569842
                  foobar:LFK6XV1N
                </a-timeline-item>
              </a-timeline>
            </div>
          </div>
        </div>
      </a-layout-content>

      <a-layout-footer style="text-align: center"> PINAWAKENS </a-layout-footer>
    </a-layout>
  </a-layout>
</template>
<script>
export default {
  data() {
    return {
      searchKeyword: "",
    }
  },
}
</script>

<style  >
#components-layout-demo-side .logo {
  margin: 16px;
}
.ant-layout-sider-zero-width-trigger {
  position: absolute;
  top: 0px;
  right: -36px;
  z-index: 1;
  width: 36px;
  height: 42px;
  color: #fff;
  font-size: 18px;
  line-height: 42px;
  text-align: center;
  background: #001529;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background 0.3s ease;
}
.ant-layout-header {
  height: 42px;
  padding: 0 50px;
  line-height: 64px;
  background: #001529;
}

.ant-advanced-search-form {
  padding: 24px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}

.ant-advanced-search-form .ant-form-item {
  display: flex;
}

.ant-advanced-search-form .ant-form-item-control-wrapper {
  flex: 1;
}

.advanced-search .ant-form {
  max-width: none;
}
.advanced-search .log-search-result-list {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fff;
  min-height: 200px;
  padding: 10px;
}
.ant-advanced-search-form .ant-form-item {
  margin-bottom: 0px !important;
}
span.ant-radio + * {
  padding-right: 0px;
  padding-left: 0px;
}
.ant-form-item {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  font-feature-settings: 'tnum', 'tnum';
  margin-bottom: 4px !important;
  vertical-align: top;
}
.searchKeyword .ant-form-item-control-wrapper {
  width: 100%;
}
</style>
