<template>
  <a-layout id="components-layout-demo-side" style="min-height: 100vh">
    <aside-menu></aside-menu>
    <a-layout style="min-width: 375px">
      <header-menu/>
      <a-layout-content style="margin: 0 16px">
        <a-breadcrumb style="margin: 16px 0">
          <a-breadcrumb-item>기준정보 관리</a-breadcrumb-item>
          <a-breadcrumb-item>재고 관리</a-breadcrumb-item>
        </a-breadcrumb>
        <div
          :style="{ padding: '24px', background: '#fff', minHeight: '360px' }"
        >
          <div class="advanced-search">
            <a-form
              class="ant-advanced-search-form"
              :form="form"
              @submit="handleSearch"
            >
              <a-row :gutter="24">
                <a-col :xs="24" :md="12" :lg="10" :xl="7">
                  <a-form-item style="width: 100%" class="searchKeyword">
                    <a-input
                      style="width: 100%"
                      placeholder="아이템 코드 또는 명칭을 입력해 주세요."
                    >
                    </a-input>
                  </a-form-item>
                </a-col>
                <a-col :xs="24" :md="12" :lg="9" :xl="7">
                  <a-form-item>
                    <a-radio-group v-model="partnerType">
                      <a-radio value="a">A창고</a-radio>
                      <a-radio value="b">B창고</a-radio>
                      <a-radio value="c">C창고</a-radio>
                      <a-radio value="d">D창고</a-radio>
                    </a-radio-group>
                  </a-form-item>
                </a-col>
                <a-col
                  :xs="24"
                  :md="24"
                  :lg="5"
                  :xl="10"
                  :style="{ textAlign: 'right' }"
                >
                  <a-button type="primary" html-type="submit"> 검색 </a-button>
                  <a-button :style="{ marginLeft: '8px' }" @click="showModal">
                    등록
                  </a-button>
                </a-col>
              </a-row>
            </a-form>
            <div class="search-result-list">
              <a-table
                :scroll="{ x: 1500 }"
                :row-selection="{
                  selectedRowKeys: selectedRowKeys,
                  onChange: onSelectChange,
                }"
                :columns="columns"
                :data-source="data"
                :pagination="{ pageSize: 10 }"
              >
                <template slot="name" slot-scope="name">
                  <span @click="drawer_visible = true">{{ name }}</span>
                </template>
              </a-table>
            </div>
          </div>
        </div>
      </a-layout-content>
      <a-drawer
        title="재고 현황"
        placement="right"
        :closable="false"
        :visible="drawer_visible"
        width="500"
        @close="onClose"
      >
        <a-timeline>
          <a-timeline-item color="green">
            Create a services site 2015-09-01
          </a-timeline-item>
          <a-timeline-item color="green">
            Create a services site 2015-09-01
          </a-timeline-item>
          <a-timeline-item color="red">
            <p>Solve initial network problems 1</p>
            <p>Solve initial network problems 2</p>
            <p>Solve initial network problems 3 2015-09-01</p>
          </a-timeline-item>
          <a-timeline-item>
            <p>Technical testing 1</p>
            <p>Technical testing 2</p>
            <p>Technical testing 3 2015-09-01</p>
          </a-timeline-item>
          <a-timeline-item color="gray">
            <p>Technical testing 1</p>
            <p>Technical testing 2</p>
            <p>Technical testing 3 2015-09-01</p>
          </a-timeline-item>
          <a-timeline-item color="gray">
            <p>Technical testing 1</p>
            <p>Technical testing 2</p>
            <p>Technical testing 3 2015-09-01</p>
          </a-timeline-item>
        </a-timeline>
      </a-drawer>
      <a-modal
        title="거래처 등록"
        :visible="visible"
        :confirm-loading="confirmLoading"
        @ok="handleOk"
        @cancel="handleCancel"
      >
        <a-form :form="form">
          <a-row>
            <a-col :xs="24" :md="24" :lg="12">
              <a-form-item>
                <a-input
                  v-decorator="[
                    'code',
                    {
                      rules: [
                        {
                          required: true,
                          message: '거래처코드를 입력해주세요',
                        },
                      ],
                    },
                  ]"
                  placeholder="거래처코드"
                />
              </a-form-item>
            </a-col>
            <a-col :xs="24" :md="24" :lg="12">
              <a-form-item>
                <a-input
                  v-decorator="[
                    'name',
                    {
                      rules: [
                        {
                          required: true,
                          message: '거래처명을 입력해주세요',
                        },
                      ],
                    },
                  ]"
                  placeholder="거래처명"
                />
              </a-form-item>
            </a-col>
          </a-row>
          <a-row>
            <a-col :xs="24" :md="24" :lg="12">
              <a-form-item>
                <a-checkbox> 고객사 </a-checkbox>
                <a-checkbox> 공급사 </a-checkbox>
                <a-checkbox> 설비 </a-checkbox>
              </a-form-item>
            </a-col>
            <a-col :xs="24" :md="24" :lg="12">
              <a-form-item>
                <a-radio-group>
                  <a-radio :value="2"> 법인 사업자 </a-radio>
                  <a-radio :value="1"> 개인 사업자 </a-radio>
                </a-radio-group>
              </a-form-item>
            </a-col>
          </a-row>
          <a-row>
            <a-col :xs="12" :md="12" :lg="12">
              <a-form-item>
                <a-input
                  v-decorator="[
                    'repre',
                    {
                      rules: [
                        {
                          required: true,
                          message: '대표자명을 입력해주세요',
                        },
                      ],
                    },
                  ]"
                  placeholder="대표자명"
                />
              </a-form-item>
            </a-col>
            <a-col :xs="12" :md="12" :lg="12">
              <a-form-item>
                <a-input placeholder="사업자 등록 번호" />
              </a-form-item>
            </a-col>
          </a-row>
          <a-row>
            <a-col :xs="12" :md="12" :lg="12">
              <a-form-item>
                <a-input placeholder="업무 담당자" />
              </a-form-item>
            </a-col>
            <a-col :xs="12" :md="12" :lg="12">
              <a-form-item>
                <a-input placeholder="전화번호" />
              </a-form-item>
            </a-col>
          </a-row>
          <a-row>
            <a-col :xs="12" :md="12" :lg="12">
              <a-form-item>
                <a-input placeholder="휴대폰" />
              </a-form-item>
            </a-col>
            <a-col :xs="12" :md="12" :lg="12">
              <a-form-item>
                <a-input placeholder="FAX 번호" />
              </a-form-item>
            </a-col>
          </a-row>
          <a-row>
            <a-col :xs="12" :md="12" :lg="12">
              <a-form-item>
                <a-input placeholder="메일주소" />
              </a-form-item>
            </a-col>
          </a-row>
          <a-row>
            <a-col :xs="24" :md="24" :lg="24">
              <a-form-item>
                <a-input placeholder="주소" />
              </a-form-item>
            </a-col>
          </a-row>
          <a-row>
            <a-col :xs="24" :md="24" :lg="24">
              <a-form-item>
                <a-input placeholder="기타 사항" />
              </a-form-item>
            </a-col>
          </a-row>
        </a-form>
      </a-modal>
      <Footer></Footer>
    </a-layout>
  </a-layout>
</template>
<script>
const columns = [
  {
    title: '코드',
    dataIndex: 'code',
    fixed: 'left',
    width: 80,
  },
  {
    title: '위치',
    dataIndex: 'location',
    fixed: 'left',
    width: 80,
  },
  {
    title: '명칭',
    dataIndex: 'name',
    fixed: 'left',
    width: 150,
    scopedSlots: { customRender: 'name' },
  },
  {
    title: '수량',
    dataIndex: 'count',
    width: 150,
  },
  {
    title: '단위',
    dataIndex: 'unit',
    width: 100,
  },
  {
    title: '최근 변경일',
    dataIndex: 'updatedAt',
    width: 150,
  },
]
const data = []
for (let i = 0; i < 46; i++) {
  data.push({
    code: i,
    location: 'A 창고',
    name: `아크릴판 ${i}`,
    unit: '개',
    count: '1000',
    updatedAt: '2021-11-10',
  })
}
export default {
  data() {
    return {
      drawer_visible: false,
      ModalText: 'Content of the modal',
      visible: false,
      confirmLoading: false,
      partnerType: 'a',
      form: this.$form.createForm(this, { name: 'advanced_search' }),
      confirmDirty: false,
      data,
      columns,
      selectedRowKeys: [], // Check here to configure the default column
      loading: false,
    }
  },
  computed: {
    hasSelected() {
      return this.selectedRowKeys.length > 0
    },
  },
  beforeCreate() {
    this.form = this.$form.createForm(this, { name: 'register' })
  },
  mounted(){
    function getCookie(cookieName){
        let cookieValue=null;
        if(document.cookie){
            const array=document.cookie.split((escape(cookieName)+'='));
            if(array.length >= 2){
                const arraySub=array[1].split(';');
                cookieValue=unescape(arraySub[0]);
            }
        }
        if( cookieValue === null){
          alert("페이지 권한이 없습니다.")
          location.href="/dashboard"
        }
        return cookieValue;
    }
    this.$axios.get(`${this.$URL.USER}/${getCookie('user_id')}`).then(res=>{
      if( res.data.right[ this.$route.name ] === false ){
        alert("페이지 권한이 없습니다.")
        location.href="/dashboard"
      }
    })
  },
  updated() {
    console.log('updated')
  },
  methods: {
    onClose() {
      this.drawer_visible = false
    },
    showModal() {
      this.visible = true
    },
    handleOk(e) {
      this.ModalText = 'The modal will be closed after two seconds'
      this.confirmLoading = true
      setTimeout(() => {
        this.visible = false
        this.confirmLoading = false
      }, 2000)
    },
    handleCancel(e) {
      console.log('Clicked cancel button')
      this.visible = false
    },
    handleSearch(e) {
      e.preventDefault()
      this.form.validateFields((error, values) => {
        console.log('error', error)
        console.log('Received values of form: ', values)
      })
    },

    handleReset() {
      this.form.resetFields()
    },

    start() {
      this.loading = true
      // ajax request after empty completing
      setTimeout(() => {
        this.loading = false
        this.selectedRowKeys = []
      }, 1000)
    },
    onSelectChange(selectedRowKeys) {
      console.log('selectedRowKeys changed: ', selectedRowKeys)
      this.selectedRowKeys = selectedRowKeys
    },
  },
}
</script>

<style  >
#components-layout-demo-side .logo {
  margin: 16px;
}
.ant-layout-sider-zero-width-trigger {
  position: absolute;
  top: 0px;
  right: -36px;
  z-index: 1;
  width: 36px;
  height: 42px;
  color: #fff;
  font-size: 18px;
  line-height: 42px;
  text-align: center;
  background: #001529;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background 0.3s ease;
}
.ant-layout-header {
  height: 42px;
  padding: 0 50px;
  line-height: 64px;
  background: #001529;
}

.ant-advanced-search-form {
  padding: 24px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}

.ant-advanced-search-form .ant-form-item {
  display: flex;
}

.ant-advanced-search-form .ant-form-item-control-wrapper {
  flex: 1;
}

.advanced-search .ant-form {
  max-width: none;
}
.advanced-search .search-result-list {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fff;
  min-height: 200px;
  text-align: center;
  padding-top: 00px;
}
.ant-advanced-search-form .ant-form-item {
  margin-bottom: 0px !important;
}
span.ant-radio + * {
  padding-right: 0px;
  padding-left: 0px;
}
.ant-form-item {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  font-feature-settings: 'tnum', 'tnum';
  margin-bottom: 4px !important;
  vertical-align: top;
}
.searchKeyword .ant-form-item-control-wrapper {
  width: 100%;
}
.ant-table-tbody > tr > td {
    padding: 6px 6px !important;
    overflow: hidden;

}
.ant-table-thead > tr > td {
    padding: 6px 6px !important;
    overflow: hidden; 
    white-space: nowrap;
}
</style>
