<template>
  <div>
    <a-alert
      style="position: absolute; top: 0px; width: 100%"
      v-if="isLoading"
      :show-icon="false"
      message="로그인 중입니다."
      banner
    />
    <a-form
      :form="form"
      @submit="handleSubmit"
      style="margin-top: 200px; width: 350px; margin: 200px auto"
    >
      <div
        class="space-align-block mt10"
        style="
          display: flex;
          width: 100%;
          margin-top: 30px;
          margin-bottom: 30px;
        "
      >
        <a-space direction="vertical" align="center" style="width: 100%">
          <img :src="login_logo" />
        </a-space>
      </div>
      <a-row type="flex" justify="center">
        <a-col :span="14">
          <a-form-item
            :validate-status="userNameError() ? 'error' : ''"
            :help="userNameError() || ''"
          >
            <a-input
              v-decorator="[
                'user_id',
                {
                  rules: [{ required: true, message: '아이디를 입력해주세요' }],
                },
              ]"
              placeholder="아이디"
            >
              <a-icon
                slot="prefix"
                type="user"
                style="color: rgba(0, 0, 0, 0.25)"
              />
            </a-input>
          </a-form-item>
        </a-col>
        <a-col :span="14">
          <a-form-item
            :validate-status="passwordError() ? 'error' : ''"
            :help="passwordError() || ''"
          >
            <a-input
              v-decorator="[
                'password',
                {
                  rules: [
                    { required: true, message: '비밀번호를 입력해주세요' },
                  ],
                },
              ]"
              type="password"
              placeholder="비밀번호"
            >
              <a-icon
                slot="prefix"
                type="lock"
                style="color: rgba(0, 0, 0, 0.25)"
              />
            </a-input>
          </a-form-item>
        </a-col>
        <a-col :span="14">
          <a-button
            type="primary"
            html-type="submit"
            :disabled="hasErrors(form.getFieldsError())"
            block
          >
            Log in
          </a-button>
        </a-col>
      </a-row>
    </a-form>
  </div>
</template>

<script>
import moment from 'moment'
import 'moment/locale/ko'

moment.locale('ko')
function hasErrors(fieldsError) {
  return Object.keys(fieldsError).some((field) => fieldsError[field])
}
export default {
  data() {
    return {
      moment,
      common_code:[],
      login_logo:"",
      isLoading: false,
      hasErrors,
      form: this.$form.createForm(this, { name: 'horizontal_login' }),
    }
  },
  mounted() {
    this.$axios.get(this.$URL.COMMON_CODE).then(res=>{
      this.common_code = res.data
      this.login_logo = this.common_code.find(e=>e.type==='로그인 로고').value
    })
    function getCookie(cookieName){
        let cookieValue=null;
        if(document.cookie){
            const array=document.cookie.split((escape(cookieName)+'='));
            if(array.length >= 2){
                const arraySub=array[1].split(';');
                cookieValue=unescape(arraySub[0]);
            }
        }
        return cookieValue;
    }
    if(getCookie('user_id')){
      location.href="/dashboard"
    }
    this.$nextTick(() => {
      // To disabled submit button at the beginning.
      this.form.validateFields()
    })
  },
  methods: {
    // Only show error after a field is touched.
    userNameError() {
      const { getFieldError, isFieldTouched } = this.form
      return isFieldTouched('userName') && getFieldError('userName')
    },
    // Only show error after a field is touched.
    passwordError() {
      const { getFieldError, isFieldTouched } = this.form
      return isFieldTouched('password') && getFieldError('password')
    },
    setCookie(cookieName, cookieValue, cookieExpire, cookiePath, cookieDomain, cookieSecure){
        let cookieText=escape(cookieName)+'='+escape(cookieValue);
        const date = new Date();
        date.setTime(date.getTime() + (cookieExpire * 24 * 60 * 60 * 1000));
        cookieText+=(cookieExpire ? '; EXPIRES='+date.toUTCString() : '');
        cookieText+=(cookiePath ? '; PATH='+cookiePath : '');
        cookieText+=(cookieDomain ? '; DOMAIN='+cookieDomain : '');
        cookieText+=(cookieSecure ? '; SECURE' : '');
        document.cookie=cookieText;
        console.log(cookieText)
    },
    handleSubmit(e) {
      e.preventDefault()
      this.form.validateFields((err, values) => {
        if (!err) {
          this.isLoading = true
          console.log("post")
          this.$axios
            .post(this.$URL.LOGIN, { ...values })
            .then((res) => {
              console.log(res)
              this.setCookie("user_id", res.data.user_id)
              this.setCookie("platform_token",res.data.Authorization,1,"/");
              this.setCookie("login_time", this.moment())
              setTimeout(() => {
                this.isLoading = false
                this.$router.push('/dashboard')
              }, 2000)
            }).catch(e=>{console.log(e.response);alert(e.response.data.message); this.isLoading = false})
       
        }
      })
    },
  },
}
</script>
<style lang="scss" scoped>
.ant-form-item {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  font-feature-settings: 'tnum', 'tnum';
  margin-bottom: 10px;
  vertical-align: top;
}
.ant-table-tbody > tr > td {
    padding: 6px 6px !important;
    overflow: hidden;

}
.ant-table-thead > tr > td {
    padding: 6px 6px !important;
    overflow: hidden; 
    white-space: nowrap;
}
</style>