/* eslint-disable prefer-const */ /* eslint-disable prefer-const */ /*
eslint-disable vue/no-unused-vars */
<template>
  <a-layout id="components-layout-demo-side" style="min-height: 100vh">
    <aside-menu></aside-menu>
    <a-layout style="min-width: 375px">
      <header-menu/>
      <a-layout-content style="margin: 0 16px">
        <a-breadcrumb style="margin: 16px 0">
          <a-breadcrumb-item>기준정보 관리</a-breadcrumb-item>
          <a-breadcrumb-item>라벨 관리</a-breadcrumb-item>
        </a-breadcrumb>
        <div
          :style="{ padding: '24px', background: '#fff', minHeight: '360px' }"
        >
          <div class="advanced-search">
            <a-form class="ant-advanced-search-form">
              <a-row :gutter="24">
                <a-col :xs="24" :md="12" :lg="10" :xl="7">
                  <a-form-item style="width: 100%" class="searchKeyword">
                    <a-input
                      v-model="searchKeyword"
                      style="width: 100%"
                      placeholder="코드 또는 명칭을 입력해 주세요."
                    >
                    </a-input>
                  </a-form-item>
                </a-col>
                <a-col :xs="24" :md="12" :lg="9" :xl="7"> </a-col>
                <a-col
                  :xs="24"
                  :md="24"
                  :lg="5"
                  :xl="10"
                  :style="{ textAlign: 'right' }"
                >
                  <a-button type="primary" @click="search()"> 검색 </a-button>
                  <a-button type="danger" @click="$router.go($router.currentRoute)" class="refresh">검색 초기화</a-button>

                  <a-button @click="showModal" >
                    등록
                  </a-button>               
                </a-col>
              </a-row>
            </a-form>
            <div class="search-result-list">
              <a-table
                :columns="columns"
                :data-source="filtered_data"
                :pagination="{ defaultPageSize: 30, showSizeChanger: true, pageSizeOptions: ['10', '20', '30','40','50']}"
                bordered
              >
              <span   
                  slot="barcode"
                  slot-scope="barcode, record">
              <barcode :value="record.id" format="CODE128" :displayValue="false" :height="50">
                Show this if the rendering fails.
              </barcode>
              </span>
                <span
                  class="clickable"
                  slot="name"
                  slot-scope="name, record"
                  @click="open_datail_item(record.id)"
                >
                  {{ name }}
                </span>

                <span
                  slot="isLocMng"
                  slot-scope="isLocMng"
                  style="margin-left: 10px"
                >
                  <a-icon
                    v-if="isLocMng"
                    type="check-circle"
                    :style="{ color: 'blue' }"
                  />
                  <a-icon v-else type="close" :style="{ color: 'red' }" />
                </span>
                <span
                  slot="has_barcode"
                  slot-scope="has_barcode"
                  style="margin-left: 10px"
                >
                  <a-icon
                    v-if="has_barcode"
                    type="check-circle"
                    :style="{ color: 'blue' }"
                  />
                  <a-icon v-else type="close" :style="{ color: 'red' }" />
                </span>
              </a-table>
            </div>
          </div>
        </div>
      </a-layout-content>

      <Footer></Footer>
    </a-layout>
    <a-modal
      title="Item 등록/수정"
      class="item_modal"
      :class="{ modal_diseditable: modal_diseditable }"
   
      :visible="visible"
      :confirm-loading="confirmLoading"
      @ok="handleOk"
    >
      <template slot="closeIcon">
        <a-icon @click="handleCancel()" type="close"
      /></template>
      <a-form>
        <a-row>
          <a-col :xs="24" :md="24" :lg="6">
            <a-form-item>
              <a-cascader
                v-model="category_id"
                :disabled="modal_diseditable"
                :class="{ modal_diseditable: modal_diseditable }"
                :options="categoryData"
                change-on-select
              />
            </a-form-item>
          </a-col>
          <a-col :xs="24" :md="24" :lg="6">
            <a-form-item>
              <a-select
                v-model="type"
                :disabled="modal_diseditable"
                :class="{ modal_diseditable: modal_diseditable }"
                default-value="주문제품"
              >
                <a-select-option value="주문제품"> 주문제품 </a-select-option>
                <a-select-option value="기성제품"> 기성제품 </a-select-option>
                <a-select-option value="자재"> 자재 </a-select-option>
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :xs="12" :md="12" :lg="6" style="margin-left: 0px">
            <a-form-item>
              재고관리
              <a-switch
                v-model="isLocMng"
                :disabled="modal_diseditable"
                :class="{ modal_diseditable: modal_diseditable }"
                checked-children="함"
                un-checked-children="안함"
                default-checked
              />
            </a-form-item>
          </a-col>
          <a-col :xs="12" :md="12" :lg="6" style="margin-left: 0px">
            <a-form-item>
              바코드
              <a-switch
                v-model="has_barcode"
                :disabled="modal_diseditable"
                :class="{ modal_diseditable: modal_diseditable }"
                checked-children="함"
                un-checked-children="안함"
                default-checked
              />
            </a-form-item>
          </a-col>
          <a-col :xs="24" :md="24" :lg="12">
            <a-form-item>
              <a-input
              :disabled="modal_diseditable"
                :class="{ modal_diseditable: modal_diseditable }"
                v-model="name"
                placeholder="명칭"
              />
            </a-form-item>
          </a-col>
          <a-col :xs="24" :md="24" :lg="12">
            <a-form-item>
              <a-input
                v-model="texture"
                :disabled="modal_diseditable"
                :class="{ modal_diseditable: modal_diseditable }"
                placeholder="재질"
              />
            </a-form-item>
          </a-col>
          <a-col :xs="24" :md="24" :lg="12">
            <a-form-item>
              <a-input
                v-model="specification_0"
                :disabled="modal_diseditable"
                :class="{ modal_diseditable: modal_diseditable }"
                placeholder="규격1"
              />
            </a-form-item>
          </a-col>
          <a-col :xs="12" :md="12" :lg="12">
            <a-form-item>
              <a-input
                v-model="specification_1"
                :disabled="modal_diseditable"
                :class="{ modal_diseditable: modal_diseditable }"
                placeholder="규격2"
              />
            </a-form-item>
          </a-col>
          <a-col :xs="12" :md="12" :lg="12">
            <a-form-item>
              <a-input
                v-model="specification_2"
                :disabled="modal_diseditable"
                :class="{ modal_diseditable: modal_diseditable }"
                placeholder="규격3"
              />
            </a-form-item>
          </a-col>
          <a-col :xs="12" :md="12" :lg="12">
            <a-form-item>
              <a-input
                v-model="unit"
                :disabled="modal_diseditable"
                :class="{ modal_diseditable: modal_diseditable }"
                placeholder="단위"
              />
            </a-form-item>
          </a-col>
          <a-col :xs="12" :md="12" :lg="12">
            <a-form-item>
              <a-input
                v-model="purchase_price"
                :disabled="modal_diseditable"
                :class="{ modal_diseditable: modal_diseditable }"
                placeholder="구매단가"
              />
            </a-form-item>
          </a-col>
          <a-col :xs="12" :md="12" :lg="12">
            <a-form-item>
              <a-input
                v-model="selling_price"
                :disabled="modal_diseditable"
                :class="{ modal_diseditable: modal_diseditable }"
                placeholder="판매단가"
              />
            </a-form-item>
          </a-col>
          <a-col :xs="12" :md="12" :lg="12">
            <a-form-item>
              <a-input
                v-model="safety_stock"
                :disabled="modal_diseditable"
                :class="{ modal_diseditable: modal_diseditable }"
                placeholder="적정재고"
              />
            </a-form-item>
          </a-col>
          <a-col :xs="24" :md="24" :lg="24">
            <a-form-item>
              <a-input
                v-model="note"
                :disabled="modal_diseditable"
                :class="{ modal_diseditable: modal_diseditable }"
                placeholder="기타 관리사항"
              />
            </a-form-item>
          </a-col>
        </a-row>
      </a-form>
      <template slot="footer">
        <!-- 수정 -->
        <a-button
          v-if="modal_diseditable == true"
          @click="
            modal_diseditable = false
            modal_register = false
          "
        >
          수정
        </a-button>
        <a-button
          v-if="modal_diseditable == true"
          @click="delete_item"
        >
          삭제
        </a-button> 
        <!-- 조회 -->
        <a-button
          v-if="modal_diseditable == false && modal_register == false"
          type="primary"
          @click="update_item"
        >
          수정하기
        </a-button>
        

        <!-- 등록 -->
        <a-button
          v-if="modal_diseditable == false && modal_register == true"
          type=""
          @click="handleCancel"
        >
          취소
        </a-button>
        <a-button
          v-if="modal_diseditable == false && modal_register == true"
          type="primary"
          @click="handleOk"
        >
          등록하기
        </a-button>
      </template>
    </a-modal>
  </a-layout>
</template>
<script>
import VueBarcode from 'vue-barcode';
const columns = [ 
 {
    title: '바코드',
    dataIndex: 'id',
    key: 'id',
    width: 150,
    scopedSlots: { customRender: 'barcode' },
  },
  
  { title: '카테고리', dataIndex: 'category', key: 'category' , width: 200,},
  {
    title: '명칭',
    dataIndex: 'name',
    key: 'name',
    width: 300,
    scopedSlots: { customRender: 'name' },
  },
  { title: '재질', dataIndex: 'texture', key: 'texture' },
  { title: '규격1', dataIndex: 'specification_0', key: 'specification_0' },
  { title: '규격2', dataIndex: 'specification_1', key: 'specification_1' },
  { title: '규격3', dataIndex: 'specification_2', key: 'specification_2' },
  { title: '단위', dataIndex: 'unit', key: 'unit' },
  { title: '구매단가', dataIndex: 'purchase_price', key: 'purchase_price' },
  { title: '판매단가', dataIndex: 'selling_price', key: 'selling_price' },  
  { title: '정렬순서', dataIndex: 'id', key: 'id' },
  { title: '최초등록일시', dataIndex: 'created_at', key: 'created_at' },
]

export default {
  components: {
    'barcode': VueBarcode
  },
  data() {
    return {
      modal_diseditable: false,
      modal_register: true,
      origin_data: [],
      filtered_data: [],
      columns,
      visible: false,
      confirmLoading: false,
      categoryData: [],
      category_id: '',
      type: '주문제품',
      isLocMng: true,
      has_barcode:false,
      name: '',
      texture: '',
      specification_0: '',
      specification_1: '',
      specification_2: '',
      unit: '',
      purchase_price: '',
      selling_price: '',
      safety_stock: '',
      note: '',
      raw_category_data:[],
      target_item:"",
      searchKeyword:""
    }
  },
  mounted() {
    function getCookie(cookieName){
        let cookieValue=null;
        if(document.cookie){
            const array=document.cookie.split((escape(cookieName)+'='));
            if(array.length >= 2){
                const arraySub=array[1].split(';');
                cookieValue=unescape(arraySub[0]);
            }
        }
        if( cookieValue === null){
          alert("페이지 권한이 없습니다.")
          location.href="/dashboard"
        }
        return cookieValue;
    }
    this.$axios.get(`${this.$URL.USER}/${getCookie('user_id')}`).then(res=>{
      if( res.data.right[ this.$route.name ] === false ){
        alert("페이지 권한이 없습니다.")
        location.href="/dashboard"
      }
    })
    this.get_item_list()    
  },
  methods: {
    async get_item_list(){
      await this.$axios.get(this.$URL.ITEM_CATEGORY).then((res) => {
        this.raw_category_data = res.data.map((e) => {
          return { id: e.id, value: e.id, label: e.name, parent_id: e.parent_id }
        })
        this.categoryData = this.listToTree(this.raw_category_data)
      })
      await this.$axios.get(this.$URL.ITEM).then((res) => {        
        this.origin_data = res.data.map(e=>{ 
        
          return { ...e , created_at:e.created_at.split(" ")[0], category:e.category_id_list
              .replace('{', '')
              .replace('}', '')
              .split(',')
              .map((item)=> {            
                  console.log(e.id)
                  console.log(this.raw_category_data.find(e=>e.id === parseInt(item)))
                return this.raw_category_data.find(e=>e.id === parseInt(item)).label 
              }).join(">") 
            }  
            }).filter(e=>e.has_barcode===true)
        this.filtered_data = res.data.map(e=>{ 
          return { ...e , created_at:e.created_at.split(" ")[0], category:e.category_id_list
              .replace('{', '')
              .replace('}', '')
              .split(',')
              .map((item)=> {            
                return this.raw_category_data.find(e=>e.id === parseInt(item)).label 
              }).join(">") 
            }  
            }).filter(e=>e.has_barcode===true)
      })
    },
    async open_datail_item(id) {
      this.modal_diseditable= true
      this.modal_register=false
      await this.$axios.get(`${this.$URL.ITEM}/${id}`).then((res) => {
        this.visible = true
        this.category_id = res.data.category_id_list
          .replace('{', '')
          .replace('}', '')
          .split(',')
          .map(function (item) {
            return parseInt(item)
          })
        this.type = res.data.type
        this.isLocMng = res.data.isLocMng
        this.has_barcode= res.data.isLocMng
        this.name = res.data.name
        this.texture = res.data.texture
        this.specification_0 = res.data.specification_0
        this.specification_1 = res.data.specification_1
        this.specification_2 = res.data.specification_2
        this.unit = res.data.unit
        this.purchase_price = res.data.purchase_price
        this.selling_price = res.data.selling_price
        this.safety_stock = res.data.safety_stock
        this.note = res.data.note
        this.modal_register = false
        this.target_item = res.data.id
      })
    },

    
    async delete_item(){
      this.visible = false
      await this.$axios.delete(`${this.$URL.ITEM}/${this.target_item}`)
      this.get_item_list()
    },
    listToTree(arr = []) {
      // eslint-disable-next-line prefer-const
      let map = {}
      let node
      // eslint-disable-next-line prefer-const
      let res = []
      let i
      for (i = 0; i < arr.length; i += 1) {
        map[arr[i].id] = i
        arr[i].children = []
      }
      for (i = 0; i < arr.length; i += 1) {
        node = arr[i]
        if (node.parent_id) {
          arr[map[node.parent_id]].children.push(node)
        } else {
          res.push(node)
        }
      }
      return res
    },
    add_category(value) {},
    showModal() {
      this.visible = true
    },
    update_item(){
      this.$axios
        .put(`${this.$URL.ITEM}/${this.target_item}`, {
          category_id_list: this.category_id,
          type: this.type,
          isLocMng: this.isLocMng,
          has_barcode:this.has_barcode,
          name: this.name,
          texture: this.texture,
          specification_0: this.specification_0,
          specification_1: this.specification_1,
          specification_2: this.specification_2,
          unit: this.unit,
          purchase_price: this.purchase_price,
          selling_price: this.selling_price,
          safety_stock: this.safety_stock,
          note: this.note,
        })
        .then((res) => {
          this.visible = false
          this.category_id = []
          this.type = '주문제품'
          this.isLocMng = true
          this.has_barcode = false
          this.name = ''
          this.texture = ''
          this.specification_0 = ''
          this.specification_1 = ''
          this.specification_2 = ''
          this.unit = ''
          this.purchase_price = ''
          this.selling_price = ''
          this.safety_stock = ''
          this.note = ''
          this.origin_data = []
          this.filtered_data= []
          this.get_item_list()
        })
    },
    handleOk(e) {
      this.$axios
        .post(this.$URL.ITEM, {
          category_id_list: this.category_id,
          type: this.type,
          isLocMng: this.isLocMng,
          has_barcode:this.has_barcode,
          name: this.name,
          texture: this.texture,
          specification_0: this.specification_0,
          specification_1: this.specification_1,
          specification_2: this.specification_2,
          unit: this.unit,
          purchase_price: this.purchase_price,
          selling_price: this.selling_price,
          safety_stock: this.safety_stock,
          note: this.note,
        })
        .then((res) => {
          this.visible = false
          this.category_id = []
          this.type = ''
          this.isLocMng = true
          this.has_barcode = false
          this.name = ''
          this.texture = ''
          this.specification_0 = ''
          this.specification_1 = ''
          this.specification_2 = ''
          this.unit = ''
          this.purchase_price = ''
          this.selling_price = ''
          this.safety_stock = ''
          this.note = ''
        })
    },
    handleCancel() {
      this.visible = false
      this.category_id = []
      this.type = ''
      this.isLocMng = true
      this.name = ''
      this.has_barcode = false
      this.texture = ''
      this.specification_0 = ''
      this.specification_1 = ''
      this.specification_2 = ''
      this.unit = ''
      this.purchase_price = ''
      this.selling_price = ''
      this.safety_stock = ''
      this.note = ''
      this.modal_register = true
      this.modal_diseditable=true
    },
    search(){
      this.filtered_data = this.origin_data.filter(e=>e.name.includes(this.searchKeyword))
    }
  },
}
</script>

<style>
#components-layout-demo-side .logo {
  margin: 16px;
}
.ant-layout-sider-zero-width-trigger {
  position: absolute;
  top: 0px;
  right: -36px;
  z-index: 1;
  width: 36px;
  height: 42px;
  color: #fff;
  font-size: 18px;
  line-height: 42px;
  text-align: center;
  background: #001529;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background 0.3s ease;
}
.ant-layout-header {
  height: 42px;
  padding: 0 50px;
  line-height: 64px;
  background: #001529;
}

.ant-advanced-search-form {
  padding: 24px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}

.ant-advanced-search-form .ant-form-item {
  display: flex;
}

.ant-advanced-search-form .ant-form-item-control-wrapper {
  flex: 1;
}

.advanced-search .ant-form {
  max-width: none;
}
.advanced-search .search-result-list {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fff;
  min-height: 200px;
  text-align: center;
  padding-top: 00px;
}
.ant-advanced-search-form .ant-form-item {
  margin-bottom: 0px !important;
}
span.ant-radio + * {
  padding-right: 0px;
  padding-left: 0px;
}
.ant-form-item {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  font-feature-settings: 'tnum', 'tnum';
  margin-bottom: 4px !important;
  vertical-align: top;
}
.searchKeyword .ant-form-item-control-wrapper {
  width: 100%;
}
.ant-select-selection-selected-value svg {
  display: none;
}
.item_modal .ant-input-disabled {
  color: #000 !important;
  background-color: #fff;
  border: transparent !important;
  font-weight: bold;
}
.item_modal .ant-select-disabled .ant-select-selection {
  color: #000 !important;
  background-color: #fff;
  border: transparent !important;
  font-weight: bold;
}
.item_modal .ant-select-disabled .ant-select-arrow {
  display: none;
}
.item_modal .ant-form-explain {
  margin-bottom: 0px !important;
  position: absolute;
  top: -8px;
  left: 10px;
  display: initial;
}

.item_modal.modal_diseditable .ql-toolbar {
  height: 0px !important;
  overflow: hidden !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  border-top: none !important;
}
.item_modal.modal_diseditable
  .ant-select-disabled
  .ant-select-selection__choice {
  color: #000 !important;
  background-color: #fff;
  border: transparent !important;
  font-weight: bold;
}
.ant-table-tbody > tr > td {
    padding: 6px 6px !important;
    overflow: hidden;

}
.ant-table-thead > tr > td {
    padding: 6px 6px !important;
    overflow: hidden; 
    white-space: nowrap;
}
</style>
