/* eslint-disable vue/no-unused-vars */
<template>
  <a-layout id="components-layout-demo-side" style="min-height: 100vh">
    <aside-menu></aside-menu>
    <a-layout style="min-width: 375px">
      <header-menu/>
      <a-layout-content style="margin: 0 16px">
        <a-breadcrumb style="margin: 16px 0; display:inline-block;">
          <a-breadcrumb-item>시스템 관리</a-breadcrumb-item>
          <a-breadcrumb-item>로그 관리</a-breadcrumb-item>
        </a-breadcrumb>
       
        <div
          :style="{ padding: '24px', background: '#fff', minHeight: '360px' }"
        >
          <div class="advanced-search">
            <a-form class="ant-advanced-search-form">
              <a-row :gutter="24">
                <a-col :xs="24" :md="12" :lg="10" :xl="10">
                  <a-form-item style="width: 100%" class="searchKeyword">
                    <a-input
                      v-model="searchKeyword"
                      style="width: 100%"
                      placeholder="로그 내용을 입력해 주세요."
                      @keyup.enter="search()"
                    >
                    </a-input>
                  </a-form-item>
                </a-col>
                <a-col
                  :xs="24"
                  :md="24"
                  :lg="14"
                  :xl="14"
                  :style="{ textAlign: 'right' }"
                >
                  <a-button type="primary" @click="search()"> 검색 </a-button>
                  <a-button type="danger" @click="$router.go($router.currentRoute)" class="refresh">검색 초기화</a-button>

                </a-col>
              </a-row>
            </a-form>
            <div class="log-search-result-list">
             <a-table
                :rowKey="record=>record.id"
                :scroll="{ x: 1500 }"
                :columns="columns"
                bordered
                :data-source="filtered_data"
                :pagination="{ defaultPageSize: 30, showSizeChanger: true, pageSizeOptions: ['10', '20', '30','40','50']}"
              >       
      
              </a-table>
            </div>
          </div>
        </div>
      </a-layout-content>
      <Footer></Footer>
    </a-layout>
  </a-layout>
</template>
<script>
import moment from 'moment'
import 'moment/locale/ko'

moment.locale('ko')
const columns = [
  {
    title: '유저',
    dataIndex: 'user_name',
    width:200
  },
  {
      title: '이벤트',
      dataIndex: 'user_type',
       width:200
  },
  {
      title: '등록일',
      dataIndex: 'created_at',
       width:200
  },
  {
      title: '사용자 환경',
      dataIndex: 'etc',
  },
]
export default {
  data() {
    return {
      columns,moment,
      searchKeyword: "",
      origin_data:[],
      filtered_data:[]
    }
  },
  mounted(){
    this.$axios( this.$URL.LOG ).then(res=> 
    { 
      console.log(res)
      this.origin_data = res.data.map(e=>{return { ...e,created_at : this.moment(e.created_at).format("YYYY-MM-DD HH:mm") }})
      this.filtered_data = res.data.map(e=>{return { ...e,created_at : this.moment(e.created_at).format("YYYY-MM-DD HH:mm") }})
    }
    )
  },
  methods:{
    search(){
      this.filtered_data = this.origin_data.filter( e=>e.user_name.includes(this.searchKeyword)||e.user_type.includes(this.searchKeyword)||e.etc.includes(this.searchKeyword) )
    }
  }
}
</script>

<style  >
#components-layout-demo-side .logo {
  margin: 16px;
}
.ant-layout-sider-zero-width-trigger {
  position: absolute;
  top: 0px;
  right: -36px;
  z-index: 1;
  width: 36px;
  height: 42px;
  color: #fff;
  font-size: 18px;
  line-height: 42px;
  text-align: center;
  background: #001529;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background 0.3s ease;
}
.ant-layout-header {
  height: 42px;
  padding: 0 50px;
  line-height: 64px;
  background: #001529;
}

.ant-advanced-search-form {
  padding: 24px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}

.ant-advanced-search-form .ant-form-item {
  display: flex;
}

.ant-advanced-search-form .ant-form-item-control-wrapper {
  flex: 1;
}

.advanced-search .ant-form {
  max-width: none;
}
.advanced-search .log-search-result-list {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fff;
  min-height: 200px;
  padding: 10px;
}
.ant-advanced-search-form .ant-form-item {
  margin-bottom: 0px !important;
}
span.ant-radio + * {
  padding-right: 0px;
  padding-left: 0px;
}
.ant-form-item {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  font-feature-settings: 'tnum', 'tnum';
  margin-bottom: 4px !important;
  vertical-align: top;
}
.searchKeyword .ant-form-item-control-wrapper {
  width: 100%;
}
</style>
