<template>
  <a-layout id="components-layout-demo-side" style="min-height: 100vh">
    <aside-menu></aside-menu>
    <a-layout style="min-width: 375px">
      <header-menu />
      <a-layout-content style="margin: 0 16px">
        <a-breadcrumb style="margin: 16px 0">
          <a-breadcrumb-item>시스템 관리</a-breadcrumb-item>
          <a-breadcrumb-item>공지사항 관리</a-breadcrumb-item>
        </a-breadcrumb>
        <div
          :style="{ padding: '24px', background: '#fff', minHeight: '360px' }"
        >
          <div class="advanced-search">
            <a-form class="ant-advanced-search-form">
              <a-row :gutter="24">
                <a-col :xs="24" :md="12" :lg="10" :xl="7">
                  <a-form-item style="width: 100%" class="searchKeyword">
                    <a-input
                      v-model="searchKeyword"
                      style="width: 100%"
                      placeholder="제목을 입력해 주세요."
                      @keyup.enter="search()"
                    >
                    </a-input>
                  </a-form-item>
                </a-col>
                <a-col :xs="24" :md="12" :lg="9" :xl="7"> </a-col>
                <a-col
                  :xs="24"
                  :md="24"
                  :lg="5"
                  :xl="10"
                  :style="{ textAlign: 'right' }"
                >
                  <a-button type="primary" @click="search()"> 검색 </a-button>
                  <a-button type="danger" @click="$router.go($router.currentRoute)" class="refresh">검색 초기화</a-button>

                  <a-button
                    @click="
                      showModal()
                      modal_register = true
                      modal_diseditable = false
                      modal_title = '공지사항 등록'
                    "
                  >
                    등록
                  </a-button>
                  <a-button
                    type=""
                    :disabled="selectedRowKeys.length == 0"
                    @click="delete_notice()"
                  >
                    삭제
                  </a-button>
                </a-col>
              </a-row>
            </a-form>
            <div class="search-result-list">
              <a-table
                :scroll="{ x: 1500 }"
                :row-selection="{
                  selectedRowKeys: selectedRowKeys,
                  onChange: onSelectChange,
                }"
                bordered
                :columns="columns"
                :data-source="filtered_data"
                :pagination="{ defaultPageSize: 30, showSizeChanger: true, pageSizeOptions: ['10', '20', '30','40','50']}"
              >
                <template slot="notice_title" slot-scope="title, record">
                  <span
                  class="clickable"
                    @click="
                      get_notice(record.id)
                      modal_title = '공지사항 조회'
                    "
                    >{{ title }}</span
                  >
                </template>
              </a-table>
            </div>
          </div>
        </div>
      </a-layout-content>

      <a-modal
        :title="modal_title"
        :visible="visible"
        :confirm-loading="confirmLoading"
        @ok="handleOk"
        @cancel="handleCancel"
        :width="800"
        :class="{ modal_diseditable: modal_diseditable }"
      >
        <template slot="closeIcon">
          <a-icon @click="handleCancel()" type="close"
        /></template>
        <a-form :form="form">
          <a-row>
            <a-col :xs="24" :md="24" :lg="24">
              <a-form-item>
                <a-input
                  v-model="title"
                  :disabled="modal_diseditable"
                  placeholder="공지사항 제목"
                />
              </a-form-item>
            </a-col>
            <a-col :xs="24" :md="24" :lg="24">
              <a-form-item>
                <client-only>
                  <quill-editor
                    ref="editor"
                    v-model="content"
                    :disabled="modal_diseditable"
                    :options="editorOption"
                    @change="onEditorChange($event)"
                  />
                </client-only>
              </a-form-item>
            </a-col>
          </a-row>
        </a-form>
        <template slot="footer">
          <!-- 수정 -->
          <a-button
            v-if="modal_diseditable == true"
            @click="
              modal_diseditable = false
              modal_register = false
              modal_title = '공지사항 수정'
            "
          >
            수정
          </a-button>

          <!-- 조회 -->
          <a-button
            v-if="modal_diseditable == false && modal_register == false"
            type="primary"
            @click="update_notice(selected_notice)"
          >
            수정하기
          </a-button>

          <!-- 등록 -->
          <a-button
            v-if="modal_diseditable == false && modal_register == true"
            type=""
            @click="handleCancel"
          >
            취소
          </a-button>
          <a-button
            v-if="modal_diseditable == false && modal_register == true"
            type="primary"
            @click="handleOk"
          >
            등록하기
          </a-button>
        </template>
      </a-modal>
      <Footer></Footer>
    </a-layout>
  </a-layout>
</template>
<script>
import moment from 'moment'
import 'moment/locale/ko'

moment.locale('ko')
const columns = [
  {
    title: '공지사항 제목',
    dataIndex: 'title',  
    width: 600,
    scopedSlots: { customRender: 'notice_title' },
  },
  {
    title: '등록일',
    dataIndex: 'created_at',
    width: 200,
  },
]

export default {
  data() {
    return {
      modal_title: '',
      selected_notice: '',
      modal_diseditable: false,
      modal_register: true,
      confirmLoading: false,
      confirmDirty: false,
      origin_data: [],
      filtered_data: [],
      columns,
      searchKeyword: '',
      selectedRowKeys: [], // Check here to configure the default column
      loading: false,
      title: '',
      content: '',
      visible: false,
    }
  },
  computed: {
    hasSelected() {
      return this.selectedRowKeys.length > 0
    },
  },
  mounted() {
    function getCookie(cookieName) {
      let cookieValue = null
      if (document.cookie) {
        const array = document.cookie.split(escape(cookieName) + '=')
        if (array.length >= 2) {
          const arraySub = array[1].split(';')
          cookieValue = unescape(arraySub[0])
        }
      }
      if (cookieValue === null) {
        alert('페이지 권한이 없습니다.')
        location.href = '/dashboard'
      }
      return cookieValue
    }
    this.$axios.get(`${this.$URL.USER}/${getCookie('user_id')}`).then((res) => {
      if (res.data.right[this.$route.name] === false) {
        alert('페이지 권한이 없습니다.')
        location.href = '/dashboard'
      }
    })
    this.get_notice_list()
  },
  updated() {
    console.log('updated')
  },
  methods: {
    search() {
      this.filtered_data = this.origin_data.filter((e) =>
        e.title.includes(this.searchKeyword)
      )
    },
    async delete_notice() {
      for (const e of this.selectedRowKeys) {
        const id = this.filtered_data[e].id
        await this.$axios.delete(`${this.$URL.NOTICE}/${id}`)
      }
      this.get_notice_list()
      this.search()
    },
    async get_notice(id) {
      await this.$axios.get(`${this.$URL.NOTICE}/${id}`).then((res) => {
        this.selected_notice = res.data.id
        this.title = res.data.title
        this.content = res.data.content
        this.showModal()
        this.modal_register = false
        this.modal_diseditable = true
      })
    },
    async update_notice(id) {
      await this.$axios
        .put(`${this.$URL.NOTICE}/${id}`, {
          title: this.title,
          content: this.content,
        })
        .then((e) => {
          this.title = ''
          this.conent = ''
          this.visible = false
          this.get_notice_list()
          this.search()
        })
    },
    showModal() {
      this.visible = true
    },
    handleOk(e) {
      this.$axios
        .post(this.$URL.NOTICE, {
          title: this.title,
          content: this.content,
          created_at: moment(),
        })
        .then((e) => {
          this.title = ''
          this.content = ''
          this.visible = false

          this.get_notice_list()
          this.search()
        })
    },
    handleCancel(e) {
      this.visible = false
    },
    handleSearch(e) {},

    handleReset() {
      this.form.resetFields()
    },
    get_notice_list() {
      this.$axios.get(this.$URL.NOTICE).then((res) => {
        this.origin_data = res.data.map((e) => {
          return {
            ...e,
            created_at: moment(e.created_at).format('YYYY-MM-DD '),
          }
        })
        this.filtered_data = res.data.map((e) => {
          return {
            ...e,
            created_at: moment(e.created_at).format('YYYY-MM-DD '),
          }
        })
      })
    },
    onSelectChange(selectedRowKeys) {
      console.log('selectedRowKeys changed: ', selectedRowKeys)
      this.selectedRowKeys = selectedRowKeys
    },
    onEditorChange({ quill, html, text }) {
      if (
        html.includes('data:image/png;') ||
        html.includes('data:image/jpeg;') ||
        html.includes('data:image/gif;') ||
        html.includes('data:image/bmp;') ||
        html.includes('data:image/webp;')
      ) {
        let type
        if (html.includes('data:image/png;')) {
          type = 'png'
        }
        if (html.includes('data:image/jpeg;')) {
          type = 'jpeg'
        }
        if (html.includes('data:image/gif;')) {
          type = 'gif'
        }
        if (html.includes('data:image/bmp;')) {
          type = 'bmp'
        }
        if (html.includes('data:image/webp;')) {
          type = 'webp'
        }
        document.querySelector('#hidden_layer').innerHTML = html
        const base64String = html
          .split('data:image/')[1]
          .split(';')[1]
          .split('">')[0]
          .split('base64,')[1]
        this.$axios
          .post('http://13.124.52.145:5001/auth/test_base_64', {
            data: base64String,
            type,
          })
          .then((res) => {
            const imgAddress = res.data.data
            const imgTag = document.querySelectorAll('#hidden_layer img')
            imgTag.forEach((e) => {
              if (e.getAttribute('src').indexOf(base64String))
                e.setAttribute('src', imgAddress)
            })
            this.content = document.querySelector('#hidden_layer').innerHTML
          })
      }
    },
  },
}
</script>

<style>
#components-layout-demo-side .logo {
  margin: 16px;
}
.ant-layout-sider-zero-width-trigger {
  position: absolute;
  top: 0px;
  right: -36px;
  z-index: 1;
  width: 36px;
  height: 42px;
  color: #fff;
  font-size: 18px;
  line-height: 42px;
  text-align: center;
  background: #001529;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background 0.3s ease;
}
.ant-layout-header {
  height: 42px;
  padding: 0 50px;
  line-height: 64px;
  background: #001529;
}

.ant-advanced-search-form {
  padding: 24px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}

.ant-advanced-search-form .ant-form-item {
  display: flex;
}

.ant-advanced-search-form .ant-form-item-control-wrapper {
  flex: 1;
}

.advanced-search .ant-form {
  max-width: none;
}
.advanced-search .search-result-list {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fff;
  min-height: 200px;
  text-align: center;
  padding-top: 00px;
}
.ant-advanced-search-form .ant-form-item {
  margin-bottom: 0px !important;
}
span.ant-radio + * {
  padding-right: 0px;
  padding-left: 0px;
}
.ant-form-item {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  font-feature-settings: 'tnum', 'tnum';
  margin-bottom: 4px !important;
  vertical-align: top;
}
.searchKeyword .ant-form-item-control-wrapper {
  width: 100%;
}
.modal_diseditable .ant-form-explain {
  margin-bottom: 0px !important;
  position: absolute;
  top: -8px;
  left: 10px;
  display: initial;
}

.modal_diseditable .ql-toolbar {
  height: 0px !important;
  overflow: hidden !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  border-top: none !important;
}
.modal_diseditable .ant-select-disabled .ant-select-selection__choice {
  color: #000 !important;
  background-color: #fff !important;
  border: transparent !important;
  font-weight: bold;
}
.ant-input-disabled {
  color: #000 !important;
  background-color: #fff !important;
  border: transparent !important;
  font-weight: bold;
}
.ant-select-disabled .ant-select-selection {
  color: #000 !important;
  background-color: #fff !important;
  border: transparent !important;
  font-weight: bold;
}
.ant-select-disabled .ant-select-arrow {
  display: none;
}
.ant-table-tbody > tr > td {
    padding: 6px 6px !important;
    overflow: hidden;

}
.ant-table-thead > tr > td {
    padding: 6px 6px !important;
    overflow: hidden; 
    white-space: nowrap;
}
</style>
