<template>
  <a-layout id="components-layout-demo-side" style="min-height: 100vh">
    <aside-menu></aside-menu>
    <a-layout style="min-width: 375px">
      <header-menu/>
      <a-layout-content style="margin: 0 16px">
        <a-breadcrumb style="margin: 16px 0">
          <a-breadcrumb-item>기준정보 관리</a-breadcrumb-item>
          <a-breadcrumb-item>거래처 관리</a-breadcrumb-item>
        </a-breadcrumb>
        <div
          :style="{ padding: '24px', background: '#fff', minHeight: '360px' }"
        >
          <div class="advanced-search">
            <a-form
              class="ant-advanced-search-form"
              :form="form"
              @submit="handleSearch"
            >
              <a-row :gutter="24">
                <a-col :xs="24" :md="12" :lg="10" :xl="7">
                  <a-form-item style="width: 100%" class="searchKeyword">
                    <a-input
                      v-model="searchKeyword"
                      style="width: 100%"
                      placeholder="거래처 코드 또는 명칭을 입력해 주세요."
                      @keyup.enter="search"
                    >
                    </a-input>
                  </a-form-item>
                </a-col>
                <a-col :xs="24" :md="12" :lg="9" :xl="7">
                  <a-form-item>
                    <a-checkbox-group
                      v-model="search_business_type"
                      style="margin-top: 10px"
                      :options="['고객사', '공급사', '설비']"
                    />
                  </a-form-item>
                </a-col>
                <a-col
                  :xs="24"
                  :md="24"
                  :lg="5"
                  :xl="10"
                  :style="{ textAlign: 'right' }"
                >
                  <a-button type="primary" @click="search()"> 검색 </a-button>
                  <a-button type="danger" @click="$router.go($router.currentRoute)" class="refresh">검색 초기화</a-button>

                  <a-button  @click="modal_title = '거래처 등록'; showModal()">
                    등록
                  </a-button>
                  <a-button type="" :disabled="selectedRowKeys.length==0" @click="delete_partner()"> 삭제 </a-button>
                  <a-button type=""  @click="excel_download()"> 엑셀 다운로드 </a-button>
                  <a-button type="safe" @click="excel_visible = true"> 엑셀 업로드 </a-button>



                   
                </a-col>
              </a-row>
            </a-form>
            <div class="search-result-list">
              <a-table
                :scroll="{ x: 1500 }"
                :row-selection="{
                  selectedRowKeys: selectedRowKeys,
                  onChange: onSelectChange,
                }"
                :columns="columns"
                :data-source="filtered_data"
                :pagination="{ defaultPageSize: 30, showSizeChanger: true, pageSizeOptions: ['10', '20', '30','40','50']}"
                bordered
              >
                <template slot="co_name" slot-scope="co_name, record">
                  <span class="clickable" @click="get_partner(record.id)"
                    >{{ co_name }}</span
                  >
                </template>
              </a-table>
            </div>
          </div>
        </div>
      </a-layout-content>
      <a-modal
        :title="modal_title"
        :visible="visible"
        :confirm-loading="confirmLoading"
        @ok="handleOk"
        @cancel="handleCancel"
        :class="{ modal_diseditable: modal_diseditable }"
      >
        <a-form :form="form">
          <a-row>
            <a-col :xs="24" :md="24" :lg="12">
              <a-form-item>
                <a-input
                  v-model="code"
                  :disabled="modal_diseditable"
                  placeholder="거래처코드"
                />
              </a-form-item>
            </a-col>
            <a-col :xs="24" :md="24" :lg="12">
              <a-form-item>
                <a-input
                  v-model="co_name"
                  :disabled="modal_diseditable"
                  placeholder="거래처명"
                />
              </a-form-item>
            </a-col>
          </a-row>
          <a-row>
            <a-col :xs="24" :md="24" :lg="12">
              <a-checkbox-group
                v-model="business_type"
                :options="['고객사', '공급사', '설비']"
                :disabled="modal_diseditable"
                style="margin-top: 10px"
              />
            </a-col>
            <a-col :xs="24" :md="24" :lg="12">
              <a-form-item>
                <a-radio-group v-model="co_type">
                  <a-radio :disabled="modal_diseditable" value="법인"
                    >법인</a-radio
                  >
                  <a-radio :disabled="modal_diseditable" value="개인사업자"
                    >개인사업자</a-radio
                  >
                  <a-radio :disabled="modal_diseditable" value="개인"
                    >개인</a-radio
                  >
                </a-radio-group>
              </a-form-item>
            </a-col>
          </a-row>
          <a-row>
            <a-col :xs="12" :md="12" :lg="12">
              <a-form-item>
                <a-input
                  v-model="repre"
                  :disabled="modal_diseditable"
                  placeholder="대표자명"
                />
              </a-form-item>
            </a-col>
            <a-col :xs="12" :md="12" :lg="12">
              <a-form-item>
                <a-input
                  v-model="business_no"
                  :disabled="modal_diseditable"
                  placeholder="사업자 등록 번호"
                />
              </a-form-item>
            </a-col>
          </a-row>
          <a-row>
            <a-col :xs="12" :md="12" :lg="12">
              <a-form-item>
                <a-input
                  v-model="person"
                  :disabled="modal_diseditable"
                  placeholder="업무 담당자"
                />
              </a-form-item>
            </a-col>
            <a-col :xs="12" :md="12" :lg="12">
              <a-form-item>
                <a-input
                  v-model="contact"
                  :disabled="modal_diseditable"
                  placeholder="전화번호"
                />
              </a-form-item>
            </a-col>
          </a-row>
          <a-row>
            <a-col :xs="12" :md="12" :lg="12">
              <a-form-item>
                <a-input
                  v-model="cellphone"
                  :disabled="modal_diseditable"
                  placeholder="휴대폰"
                />
              </a-form-item>
            </a-col>
            <a-col :xs="12" :md="12" :lg="12">
              <a-form-item>
                <a-input
                  v-model="fax"
                  :disabled="modal_diseditable"
                  placeholder="FAX 번호"
                />
              </a-form-item>
            </a-col>
          </a-row>
          <a-row>
            <a-col :xs="12" :md="12" :lg="12">
              <a-form-item>
                <a-input
                  v-model="email"
                  :disabled="modal_diseditable"
                  placeholder="메일주소"
                />
              </a-form-item>
            </a-col>
          </a-row>
          <a-row>
            <a-col :xs="24" :md="24" :lg="24">
              <a-form-item>
                <a-input
                  v-model="address1"
                  :disabled="modal_diseditable"
                  placeholder="주소"
                />
              </a-form-item>
            </a-col>
          </a-row>
          <a-row>
            <a-col :xs="24" :md="24" :lg="24">
              <a-form-item>
                <a-input
                  v-model="note"
                  :disabled="modal_diseditable"
                  placeholder="기타 사항"
                />
              </a-form-item>
            </a-col>
          </a-row>
        </a-form>
        <template slot="footer">
          <!-- 수정 -->
          <a-button
            v-if="modal_diseditable == true"
            @click="
              modal_diseditable = false;
              modal_register = false;
             
            "
          >
            수정
          </a-button>

          <!-- 조회 -->
          <a-button
            v-if="modal_diseditable == false && modal_register == false"
            type="primary"
            @click=" update_partner(selected_partner)"
          >
            수정하기
          </a-button>

          <!-- 등록 -->
          <a-button
            v-if="modal_diseditable == false && modal_register == true"
            type=""
            @click="handleCancel"
          >
            취소
          </a-button>
          <a-button
            v-if="modal_diseditable == false && modal_register == true"
            type="primary"
            @click="handleOk"
          >
            등록하기
          </a-button>
        </template>
      </a-modal>
      <a-modal v-model="excel_visible" title="엑셀 데이터 업로드" on-ok="excel_upload">
        <template slot="footer">
          <a-button key="back" @click="handleExcelCancel">
            취소
          </a-button>
          <a-button key="submit" type="primary" :loading="loading" @click="excel_upload">
            엑셀 데이터 업로드
          </a-button>
        </template>
        <a-upload :file-list="fileList" :multiple="false" :remove="handleRemove" :before-upload="beforeExcelUpload" >
        <a-button> <a-icon type="upload" /> 엑셀 파일 선택 </a-button>
      </a-upload>
      </a-modal>
      <Footer></Footer>
    </a-layout>
  </a-layout>
</template>
<script>
import XLSX from 'xlsx'
const columns = [
  {
    title: '코드',
    dataIndex: 'code',
    fixed: 'left',
    width: 100,
  },
  {
    title: '명칭',
    dataIndex: 'co_name',
    fixed: 'left',
    width: 300,
    scopedSlots: { customRender: 'co_name' },
  },
  {
    title: '거래유형',
    dataIndex: 'business_type',
    width: 150,
  },
  {
    title: '종류',
    dataIndex: 'co_type',
    width: 100,
  },
  {
    title: '대표자',
    dataIndex: 'repre',
    width: 150,
  },
  {
    title: '사업자번호',
    dataIndex: 'business_no',
    width: 150,
  },
  {
    title: '담당자',
    dataIndex: 'person',
    width: 150,
  },
  {
    title: '연락처',
    dataIndex: 'contact',
    width: 150,
  },
  {
    title: '휴대폰',
    dataIndex: 'cellphone',
    width: 150,
  },
  {
    title: '메일',
    dataIndex: 'email',
    width: 200,
  },
  {
    title: '주소',
    dataIndex: 'address1',
    width: 500,
  },
]

export default {
  data() {
    return {
      modal_title:"거래처 등록",
      selected_partner:"",
      searchKeyword: '',
      modal_register: true,
      modal_diseditable: false,
      search_business_type: [],
      visible: false,
      confirmLoading: false,
      partnerType: 'a',
      form: this.$form.createForm(this, { name: 'advanced_search' }),
      confirmDirty: false,
      origin_data: [],
      filtered_data: [],
      columns,
      selectedRowKeys: [], // Check here to configure the default column
      loading: false,
      // 등록 데이터
      code: '',
      co_name: '',
      business_type: [],
      co_type: '',
      repre: '',
      business_no: '',
      person: '',
      contact: '',
      cellphone: '',
      email: '',
      fax: '',
      address1: '',
      note: '',
      fileList:[],
      excel_visible:false,

    }
  },
  computed: {
    hasSelected() {
      return this.selectedRowKeys.length > 0
    },
  },
  beforeCreate() {
    this.form = this.$form.createForm(this, { name: 'register' })
  },
  mounted() {
    function getCookie(cookieName){
        let cookieValue=null;
        if(document.cookie){
            const array=document.cookie.split((escape(cookieName)+'='));
            if(array.length >= 2){
                const arraySub=array[1].split(';');
                cookieValue=unescape(arraySub[0]);
            }
        }
        if( cookieValue === null){
          alert("페이지 권한이 없습니다.")
          location.href="/dashboard"
        }
        return cookieValue;
    }
    this.$axios.get(`${this.$URL.USER}/${getCookie('user_id')}`).then(res=>{
      if( res.data.right[ this.$route.name ] === false ){
        alert("페이지 권한이 없습니다.")
        location.href="/dashboard"
      }
    })
    this.get_partner_list()
  },
  updated() {},
  methods: {
    handleRemove(file){
      const index = this.fileList.indexOf(file);
      const newFileList = this.fileList.slice();
      newFileList.splice(index, 1);
      this.fileList = newFileList;
    },
    handleExcelCancel(){
      this.excel_visible = false
      this.fileList = []
    },
    beforeExcelUpload(file){
      this.fileList = [file];
      return false;
    },
    excel_upload(){
      if( this.fileList.length === 0 ){
        alert("엑셀 파일을 업로드 해주세요.")
        return false
      }
      const file = this.fileList[0];
      const reader = new FileReader();
      let tmpResult = {};
      reader.onload = (e) => {
          const data = reader.result;
          const workbook = XLSX.read(data, {type: 'binary'});
          workbook.SheetNames.forEach(sheetName => {
              const roa = XLSX.utils.sheet_to_json(workbook.Sheets[sheetName]);
              console.log(roa)
              tmpResult = roa;
          });
          const ctx = this
          async function ExcelPromiseFunc(){
            ctx.$notification.info({
              message: '엑셀데이터 업로드',
              description: '엑셀 데이터 업로드 중입니다.',
            })
            for (const item of tmpResult) {
              const { id, created_at, ...data } = item;
              await ctx.$axios.post(ctx.$URL.PARTNER,data)
            }
            location.reload()
          }
          ExcelPromiseFunc()        
      };
      reader.readAsBinaryString(file);
    },
    excel_download(){
      const excelData = XLSX.utils.json_to_sheet(this.filtered_data); // this.items 는 json object 를 가지고있어야함 
      const workBook = XLSX.utils.book_new(); // 새 시트 생성 
      XLSX.utils.book_append_sheet(workBook, excelData, '거래처'); // 시트 명명, 데이터 지정
      XLSX.writeFile(workBook, 'partner.xlsx'); // 엑셀파일 만듬
    },
    async delete_partner(){
      this.$notification.info({
          message: '데이터 삭제',
          description: '데이터 삭제 중입니다.',
        })
      for(const e of this.selectedRowKeys){
        const id = this.filtered_data[e].id;
        await this.$axios.delete(`${this.$URL.PARTNER}/${id}`)     
      }     
      this.get_partner_list()
      this.search()
        this.$notification.success({
          message: '데이터 삭제',
          description: '데이터 삭제 완료.',
        })
    },
    search() {
      this.filtered_data = this.origin_data.filter(
        (e) =>
          e.code.includes(this.searchKeyword) ||
          e.co_name.includes(this.searchKeyword)
      )
      if(this.search_business_type.length > 0){
        this.filtered_data =  this.filtered_data.filter((e) => 
          (this.intersect(e.business_type.split(","),this.search_business_type ).length > 0)
        )
      }
      
    },
    intersect(first, second) { // first: set, second: set
      return first.filter(value => second.includes(value)); // 둘 다 있으면 교집합
    },
    get_partner(id) {
      this.modal_title = '거래처 조회'
      this.$axios.get(`${this.$URL.PARTNER}/${id}`).then((res) => {
        this.code = res.data.code
        this.co_name = res.data.co_name
        this.business_type = res.data.business_type.replace("{","").replace("}","")
          ? res.data.business_type.split(',')
          : []
        this.co_type = res.data.co_type
        this.repre = res.data.repre
        this.business_no = res.data.business_no
        this.person = res.data.person
        this.contact = res.data.contact
        this.cellphone = res.data.cellphone
        this.email = res.data.email
        this.fax = res.data.fax
        this.address1 = res.data.address1
        this.note = res.data.note
        this.modal_register = false
        this.modal_diseditable = true
        this.visible = true
        this.selected_partner = id
      })
    },
    update_partner(id){
      this.$axios.put(`${this.$URL.PARTNER}/${id}`,{
        code : this.code,
        co_name : this.co_name,
        business_type : this.business_type.join(",") ,     
        co_type : this.co_type,
        repre : this.repre,
        business_no : this.business_no,
        person : this.person,
        contact : this.contact,
        cellphone : this.cellphone,
        email : this.email,
        fax : this.fax,
        address1 : this.address1,
        note : this.note   
      }).then((res) => {
          this.visible = false
          this.get_partner_list()
      })
    },
    get_partner_list() {
      this.origin_data=[]
      this.filtered_data=[]
      this.$axios.get(this.$URL.PARTNER).then((res) => {
        this.origin_data = res.data
        this.filtered_data = res.data
      })
    },
    showModal() {
      this.code = ""
      this.co_name = ""
      this.business_type = "" 
      this.co_type = ""
      this.repre = ""
      this.business_no = ""
      this.person = ""
      this.contact = ""
      this.cellphone = ""
      this.email = ""
      this.fax = ""
      this.address1 = ""
      this.note = ""
      this.visible = true
      this.modal_register = true
      this.modal_diseditable = false
    },
    handleOk(e) {
      this.$axios
        .post(this.$URL.PARTNER, {
          code: this.code,
          co_name: this.co_name,
          business_type: this.business_type.join(','),
          co_type: this.co_type,
          repre: this.repre,
          business_no: this.business_no,
          person: this.person,
          contact: this.contact,
          cellphone: this.cellphone,
          email: this.email,
          fax: this.fax,
          address1: this.address1,
          note: this.note,
        })
        .then((e) => {
          this.origin_data = []
          this.filtered_data = []
          this.visible = false
          this.get_partner_list()
          this.$notification.success({
            message: '파트너 등록 완료',
            description: '파트너가 성공적으로 등록되었습니다.',
          })
        })
    },
    handleCancel(e) {
      this.visible = false
    },
    handleSearch(e) {
      e.preventDefault()
      this.form.validateFields((error, values) => {
        console.log('error', error)
        console.log('Received values of form: ', values)
      })
    },

    handleReset() {
      this.form.resetFields()
    },

    start() {
      this.loading = true
      // ajax request after empty completing
      setTimeout(() => {
        this.loading = false
        this.selectedRowKeys = []
      }, 1000)
    },
    onSelectChange(selectedRowKeys) {
      console.log('selectedRowKeys changed: ', selectedRowKeys)
      this.selectedRowKeys = selectedRowKeys
    },
  },
}
</script>

<style  >
#components-layout-demo-side .logo {
  margin: 16px;
}
.ant-layout-sider-zero-width-trigger {
  position: absolute;
  top: 0px;
  right: -36px;
  z-index: 1;
  width: 36px;
  height: 42px;
  color: #fff;
  font-size: 18px;
  line-height: 42px;
  text-align: center;
  background: #001529;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background 0.3s ease;
}
.ant-layout-header {
  height: 42px;
  padding: 0 50px;
  line-height: 64px;
  background: #001529;
}

.ant-advanced-search-form {
  padding: 24px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}

.ant-advanced-search-form .ant-form-item {
  display: flex;
}

.ant-advanced-search-form .ant-form-item-control-wrapper {
  flex: 1;
}

.advanced-search .ant-form {
  max-width: none;
}
.advanced-search .search-result-list {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fff;
  min-height: 200px;
  text-align: center;
  padding-top: 00px;
}
.ant-advanced-search-form .ant-form-item {
  margin-bottom: 0px !important;
}
span.ant-radio + * {
  padding-right: 0px;
  padding-left: 0px;
}
.ant-form-item {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  font-feature-settings: 'tnum', 'tnum';
  margin-bottom: 4px !important;
  vertical-align: top;
}
.searchKeyword .ant-form-item-control-wrapper {
  width: 100%;
}
.modal_diseditable .ant-form-explain {
  margin-bottom: 0px !important;
  position: absolute;
  top: -8px;
  left: 10px;
  display: initial;
}

.modal_diseditable .ql-toolbar {
  height: 0px !important;
  overflow: hidden !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  border-top: none !important;
}
.modal_diseditable .ant-select-disabled .ant-select-selection__choice {
  color: #000 !important;
  background-color: #fff !important;
  border: transparent !important;
  font-weight: bold;
}
.ant-input-disabled {
  color: #000 !important;
  background-color: #fff !important;
  border: transparent !important;
  font-weight: bold;
}
.ant-select-disabled .ant-select-selection {
  color: #000 !important;
  background-color: #fff !important;
  border: transparent !important;
  font-weight: bold;
}
.ant-select-disabled .ant-select-arrow {
  display: none;
}
.ant-table-tbody > tr > td {
    padding: 6px 6px !important;
    overflow: hidden;

}
.ant-table-thead > tr > th {
    padding: 6px 6px !important;
    overflow: hidden; 
    white-space: nowrap;
}
</style>
