/* eslint-disable vue/no-unused-vars */
<template>
  <a-layout id="components-layout-demo-side" style="min-height: 100vh">
    <aside-menu></aside-menu>
    <a-layout style="min-width: 375px">
      <header-menu />
      <a-layout-content style="margin: 0 16px">
        <a-breadcrumb style="margin: 16px 0">
          <a-breadcrumb-item>제조 관리</a-breadcrumb-item>
          <a-breadcrumb-item>작업지시서 관리</a-breadcrumb-item>
        </a-breadcrumb>
        <div
          :style="{ padding: '24px', background: '#fff', minHeight: '360px' }"
        >
          <div class="advanced-search">
            <a-form class="ant-advanced-search-form">
              <a-row :gutter="24">
                <a-col :xs="24" :md="12" :lg="10" :xl="6">
                  <a-input
                    v-model="searchKeyword"
                    style="width: 100%"
                    placeholder="주문자명 또는 프로젝트명을 입력해 주세요."
                  >
                  </a-input>
                </a-col>
                <a-col :xs="24" :md="12" :lg="10" :xl="11">
                  기간:
                  <a-date-picker v-model="from_date" /> ~
                  <a-date-picker v-model="to_date" />
                    <span class="clickable" @click="all_date=false;from_date=moment().add('-7','days');to_date=moment()">최근 1주일</span>
                      <span class="clickable" @click="all_date=false;from_date=moment().add('-30','days');to_date=moment()">최근 30일</span>
                      <span class="clickable" @click="all_date=true;from_date='';to_date=''">전체</span>
                     <br>                  
                  <a-checkbox-group
                    v-model="checkedList"
                    :options="plainOptions"
                    @change="onChangeCheckList"
                  />
                  <a-checkbox
                    :indeterminate="indeterminate"
                    :checked="checkAll"
                    @change="onCheckAllChange"
                  >
                    전체
                  </a-checkbox>
                </a-col>
                <a-col
                  :xs="24"
                  :md="24"
                  :lg="14"
                  :xl="7"
                  :style="{ textAlign: 'right' }"
                >
                  <a-button type="primary" @click="search()" html-type="submit">
                    검색
                  </a-button>
                </a-col>
              </a-row>
            </a-form>
            <div class="search-result-list project-list">
              <a-row :gutter="16" style="text-align:left">
                <a-col v-for="item in filtered_data" :key="item.id" :xs="24" :md="12"  :lg="6"  :xl="6" >
                  <project-card :item="item" @open_project_detail="open_project_detail" />
                </a-col>                
              </a-row>
            </div>
          </div>
        </div>
      </a-layout-content>

      <Footer></Footer>
    </a-layout>

    <a-modal
      title="프로젝트 등록/수정"
      :visible="modal_visible"
      :confirm-loading="confirmLoading"
      :width="800"
      :closable="true"
      :class="{ modal_diseditable: modal_diseditable }"
      class="project_modal"
    >
      <template slot="closeIcon">
        <a-icon @click="handleCancel()" type="close"
      /></template>
      <a-form>
        <a-row>
          <a-form
            v-for="(item, index) in project"
            :key="index + 'project_form'"
          >
            <a-col :xs="24" :md="24" :lg="24">
              <a-form-item help="프로젝트명">
                <a-input
                  v-model="item.project_name"
                  placeholder="프로젝트명"
                  :disabled="modal_diseditable"
                />
              </a-form-item>
            </a-col>
            <a-col :xs="24" :md="24" :lg="6">
              <a-form-item help="프로젝트 종류">
                <a-select
                  v-model="item.project_type"
                  placeholder="프로젝트 종류"
                  option-filter-prop="children"
                  :disabled="modal_diseditable"
                  @focus="handleFocus"
                  @blur="handleBlur"
                  @change="handleChange"
                >
                  <a-select-option value="default">실사출력</a-select-option>
                  <a-select-option value="pre">사인물</a-select-option>
                  <a-select-option value="parcel">후레임간판</a-select-option>
                  <a-select-option value="cargo">채널간판</a-select-option>
                  <a-select-option value="cargoParcel"
                    >포인트간판</a-select-option
                  >
                  <a-select-option value="etc">광고자재</a-select-option>
                </a-select>
              </a-form-item>
            </a-col>
            <a-col :xs="24" :md="24" :lg="6">
              <a-form-item help="원본데이터 위치">
                <a-input
                  v-model="item.project_file_address"
                  :disabled="modal_diseditable"
                  placeholder="원본데이터 위치"
                />
              </a-form-item>
            </a-col>
            <a-col :xs="24" :md="24" :lg="6">
              <a-form-item help="마감일">
                <a-date-picker
                  v-model="item.expected_time"
                  placeholder="마감일"
                  :disabled="modal_diseditable"
                  style="width: 100%"
                >
                  <a-icon slot="suffixIcon" type="schedule" />
                </a-date-picker>
              </a-form-item>
            </a-col>
            <a-col :xs="24" :md="24" :lg="6">
              <a-form-item help="납기일">
                <a-date-picker
                  v-model="item.final_due"
                  placeholder="납기일"
                  :disabled="modal_diseditable"
                  style="width: 100%"
                >
                  <a-icon slot="suffixIcon" type="alert" />
                </a-date-picker>
              </a-form-item>
            </a-col>
            <a-col :xs="24" :md="24" :lg="6">
              <a-form-item help="작업형태">
                <a-select
                  v-model="item.project_method"
                  placeholder="작업형태"
                  :disabled="modal_diseditable"
                  @focus="handleFocus"
                  @blur="handleBlur"
                  @change="handleChange"
                >
                  <a-select-option value="default">직접제작</a-select-option>
                  <a-select-option value="pre">완조립</a-select-option>
                  <a-select-option value="parcel">외주</a-select-option>
                  <a-select-option value="cargo">일부외주</a-select-option>
                </a-select>
              </a-form-item>
            </a-col>
            <a-col :xs="24" :md="24" :lg="6">
              <a-form-item help="시안형태">
                <a-select
                  v-model="item.design_type"
                  placeholder="시안형태"
                  :disabled="modal_diseditable"
                  @focus="handleFocus"
                  @blur="handleBlur"
                  @change="handleChange"
                >
                  <a-select-option value="default">완성데이터</a-select-option>
                  <a-select-option value="pre">시안수정</a-select-option>
                  <a-select-option value="parcel">시안새작업</a-select-option>
                  <a-select-option value="cargo">시안없음</a-select-option>
                </a-select>
              </a-form-item>
            </a-col>
            <a-col :xs="24" :md="24" :lg="6">
              <a-form-item help="수량">
                <a-input
                  v-model="item.count"
                  :disabled="modal_diseditable"
                  placeholder="수량"
                />
              </a-form-item>
            </a-col>
            <a-col :xs="24" :md="24" :lg="6">
              <a-form-item help="포장형태">
                <a-input
                  v-model="item.package_type"
                  :disabled="modal_diseditable"
                  placeholder="포장형태"
                />
              </a-form-item>
            </a-col>
            <a-col :xs="24" :md="24" :lg="18">
              <a-form-item help="주의사항">
                <a-input
                  v-model="item.etc"
                  :disabled="modal_diseditable"
                  placeholder="주의사항"
                />
              </a-form-item>
            </a-col>
            <a-col :xs="24" :md="24" :lg="6">
              <a-form-item help="작업자">
                <a-select
                  mode="tags"
                  v-model="item.worker"
                  :disabled="modal_diseditable"
                  placeholder="작업자"
                >
                  <a-select-option value="" disabled>작업자</a-select-option>
                  <a-select-option
                    v-for="i in worker_list"
                    :key="i + 'worker'"
                    :value="i.user_name"
                  >
                    {{ i.user_name }}
                  </a-select-option>
                </a-select>
              </a-form-item>
            </a-col>
            <a-col :xs="24" :md="24" :lg="24">
              <a-form-item>
                <client-only>
                  <quill-editor
                    ref="editor"
                    v-model="item.content"
                    :options="editorOption"
                    :disabled="modal_diseditable"
                    @blur="onEditorBlur($event)"
                    @focus="onEditorFocus($event)"
                    @ready="onEditorReady($event)"
                    @change="onProjectEditorChange($event, index)"
                  />
                </client-only>
              </a-form-item>
            </a-col>
          </a-form>
          <a-col :xs="24" :md="24" :lg="24" :style="{ textAlign: 'right' }">
            <a-button v-if="modal_register == true" @click="project_add()"
              >프로젝트 추가</a-button
            >
          </a-col>
        </a-row>
      </a-form>
      <template slot="footer">
        <!-- 수정 -->
        <a-button
          v-if="modal_diseditable == true"
          @click="
            modal_diseditable = false
            modal_register = false
          "
        >
          수정
        </a-button>

        <!-- 조회 -->
        <a-button
          v-if="modal_diseditable == false && modal_register == false"
          type="primary"
          @click="updateInquiry"
        >
          수정하기
        </a-button>

        <!-- 등록 -->
        <a-button
          v-if="modal_diseditable == false && modal_register == true"
          type=""
          @click="handleCancel"
        >
          취소
        </a-button>
        <a-button
          v-if="modal_diseditable == false && modal_register == true"
          type="primary"
          @click="handleOk"
        >
          등록하기
        </a-button>
      </template>
    </a-modal>
    <a-modal
      title="불량 내역"
      :visible="complete_visible"
      @ok="complete_handle"
      @cancel="complete_cancel"
    >
      <a-input v-model="fault_etc" placeholder="불량 내역" />
    </a-modal>
    <div id="hidden_layer" style="display: none"></div>
  </a-layout>
</template>
<script>
import moment from 'moment'
import 'moment/locale/ko'
import ProjectCard from '../components/ProjectCard.vue'

moment.locale('ko')
const columns = [
  {
    title: '주문정보',
    children: [
      {
        title: '주문날짜/시간',
        dataIndex: 'ordered_at',
        key: 'ordered_at',
        width: 125,
        sorter: (a, b) =>
          parseInt(
            moment.duration(moment(a.ordered_at).diff(b.ordered_at)).asMinutes()
          ),
      },
      {
        title: '주문자명',
        dataIndex: 'orderer',
        key: 'orderer',
        width: 120,
        filters: [],
        onFilter: (value, record) => record.orderer.indexOf(value) === 0,
      },
      {
        title: '묶음',
        dataIndex: 'set',
        key: 'set',
        width: 60,
      },
    ],
  },
  {
    title: '작업 지시 정보',
    children: [
      {
        title: '프로젝트 명',
        dataIndex: 'project_name',
        key: 'project_name',
        width: 400,
        scopedSlots: { customRender: 'project_name' },
      },
      {
        title: '수량',
        dataIndex: 'count',
        key: 'count',
        width: 50,
      },
      {
        title: '예상시간',
        dataIndex: 'expected_time',
        key: 'expected_time',
        width: 110,
      },
      {
        title: '마감일',
        dataIndex: 'final_due',
        key: 'final_due',
        width: 110,
      },
    ],
  },
  {
    title: '작업 공정',
    children: [
      {
        title: '작업자',
        dataIndex: 'worker',
        key: 'worker',
        width: 120,
      },
      {
        title: '가동장비',
        dataIndex: 'machine',
        key: 'machine',
        width: 100,
        scopedSlots: { customRender: 'machine' },
      },
      {
        title: '디자인',
        dataIndex: 'design',
        key: 'design',
        width: 55,
        scopedSlots: { customRender: 'design' },
      },
      {
        title: '생산',
        dataIndex: 'produce',
        key: 'produce',
        width: 50,
        scopedSlots: { customRender: 'produce' },
      },
      {
        title: '완료',
        dataIndex: 'produce_complete',
        key: 'produce_complete',
        width: 50,
        scopedSlots: { customRender: 'produce_complete' },
      },
    ],
  },
]

export default {
  components: { ProjectCard },
  data() {
    return {
      to_date:"",
      all_date:true,
      from_date:"",
      fault_etc: '',
      searchKeyword: '',
      project: [],
      columns,
      visible: false,
      modal_visible: false,
      modal_diseditable: false,
      modal_register: true,
      placement: 'left',
      subDrawer: false,
      category: undefined,
      confirmLoading: false,
      deliveryType: 1,
      content: '',
      editorOption: {
        // Some Quill options...
        theme: 'snow',
        modules: {
          toolbar: [
            ['bold', 'italic', 'underline', 'strike'], // toggled buttons
            ['blockquote', 'code-block'],
            [{ header: 1 }, { header: 2 }], // custom button values
            [{ list: 'ordered' }, { list: 'bullet' }],
            [{ script: 'sub' }, { script: 'super' }], // superscript/subscript
            [{ indent: '-1' }, { indent: '+1' }], // outdent/indent
            [{ direction: 'rtl' }],
            [{ size: ['small', false, 'large', 'huge'] }], // custom dropdown
            [{ header: [1, 2, 3, 4, 5, 6, false] }],
            [{ color: [] }, { background: [] }], // dropdown with defaults from theme
            [{ font: [] }],
            [{ align: [] }],
            ['link', 'image'],
            ['clean'],
          ],
        },
      },
      // 문의 내용 관련 데이터
      is_urgent: '당일 출고',
      received_channel: '전화',
      received_at_day: '',
      received_at_time: '',
      client_company_name: '',
      client_person: '',
      client_person_tel: '',
      is_prepayed_deliver: '운임 비용 없음',
      delivery_method: '방문수령',
      received_worker: '',
      domain_location: '청주',
      sender: '(주)피노',
      receiver: '',
      inquiry_end_due: '',
      inquiry_final_due: '',
      receiver_address: '',
      filtered_data: [],
      origin_data: [],
      complete_target: '',
      complete_visible: false,
      worker_list: [],
      inqury_detail_id: '',
      project_detail_id: '',
      date: '',
      facility_data: [],
      moment,
      plainOptions: ['작업중', '완료'],
      checkAll: false,
      checkedList: [],
      indeterminate: true,
      selectedRowKeys: [],
    }
  },
  watch: {
    date(cur) {
      this.get_facility_data(cur)
    },
    all_date(cur,af){
      if(this.all_date === true){
        this.to_date = ""
        this.from_date=""
      }
    }
  },
  mounted() {
    function getCookie(cookieName) {
      let cookieValue = null
      if (document.cookie) {
        const array = document.cookie.split(escape(cookieName) + '=')
        if (array.length >= 2) {
          const arraySub = array[1].split(';')
          cookieValue = unescape(arraySub[0])
        }
      }
      if (cookieValue === null) {
        alert('페이지 권한이 없습니다.')
        location.href = '/dashboard'
      }
      return cookieValue
    }
    this.$axios.get(`${this.$URL.USER}/${getCookie('user_id')}`).then((res) => {
      if (res.data.right[this.$route.name] === false) {
        alert('페이지 권한이 없습니다.')
        location.href = '/dashboard'
      }
    })
    this.received_at_day = this.moment().format('YYYY-MM-DD')
    this.received_at_time = this.moment(this.moment().format('HH:MM'), 'HH:mm')
    this.get_data()
    // console.log(this.$URL.)
    this.$axios.get(this.$URL.USER_LIST).then((res) => {
      this.worker_list = res.data.map((e) => {
        return { user_name: e.user_name }
      })
    })

    // this.worker_list
  },

  methods: {
    onChangeCheckList(checkedList) {
      this.indeterminate =
        !!checkedList.length && checkedList.length < this.plainOptions.length
      this.checkAll = checkedList.length === this.plainOptions.length
    },
    onCheckAllChange(e) {
      Object.assign(this, {
        checkedList: e.target.checked ? this.plainOptions : [],
        indeterminate: false,
        checkAll: e.target.checked,
      })
    },
    async get_facility_data(date) {
      await this.$axios.get(this.$URL.FACILITY).then((res) => {
        this.facility_data = res.data
        this.facility_data = this.facility_data.map((e) => {
          return {
            ...e,
            time0: this.origin_data
              .filter(
                (m) =>
                  m.machine.includes('오전') &&
                  m.machine.includes(e.name) &&
                  m.machine.includes(date.format('YYYY-MM-DD'))
              )
              .map((e) => {
                return { name: e.project_name }
              }),
            time1: this.origin_data
              .filter(
                (m) =>
                  m.machine.includes('오후') &&
                  m.machine.includes(e.name) &&
                  m.machine.includes(date.format('YYYY-MM-DD'))
              )
              .map((e) => {
                return { name: e.project_name }
              }),
            time2: this.origin_data
              .filter(
                (m) =>
                  m.machine.includes('저녁') &&
                  m.machine.includes(e.name) &&
                  m.machine.includes(date.format('YYYY-MM-DD'))
              )
              .map((e) => {
                return { name: e.project_name }
              }),
          }
        })
      })
    },
    async get_data() {
      this.origin_data = []
      this.filtered_data = []
      await this.$axios
        .get(`${this.$URL.INQUIRY}?type=producing`)
        .then((res) => {
          const received_project_data = []
          res.data.forEach((e) => {
            if (e.project.length > 0) {
              e.project.forEach((i, index, arr) => {
                i.set = `${index + 1}/${arr.length}`
                if (i.expected_time) {
                  i.expected_time = i.expected_time.split('T')[0]
                }
                if (i.final_due) {
                  i.final_due = i.final_due.split('T')[0]
                }
                i.delivery_method = e.delivery_method
                i.orderer = e.client_company_name
                i.is_urgent = e.is_urgent

                i.inquiry_id = e.id
                i.received_worker = e.received_worker
                i.inquiry_final_due = this.moment(e.inquiry_final_due).format(
                  'YYYY-MM-DD'
                )
                // console.log(i.worker)

                i.worker = i.worker
                  ? i.worker.replace('{', '').replace('}', '')
                  : ''

                if (e.received_at) {
                  i.ordered_at = this.moment(e.received_at).format(
                    'YYYY-MM-DD'
                  )
                } else {
                  i.ordered_at = ''
                }
              })
              received_project_data.push(...e.project)
            }
          })
          this.origin_data = received_project_data
          this.search()
          const unique = [
            ...new Set(this.origin_data.map((item) => item.orderer)),
          ]
          const column_filter_data = unique.map((item) => {
            return { text: item, value: item }
          })
          this.columns[0].children[1].filters = column_filter_data
        })

      await this.get_facility_data(this.moment())
    },
    show_alert(str) {
      alert(str)
    },
    showModal() {
      this.reset_project_modal_data()
      this.modal_diseditable = false
      this.modal_visible = true
      this.modal_register = true
    },
    showDrawer() {
      this.visible = true
    },
    onClose() {
      this.visible = false
    },
    onChange(e) {
      this.placement = e.target.value
    },
    openSubDrawer() {
      this.subDrawer = true
    },
    onSubDrawerClose() {
      this.subDrawer = false
    },
    async handleOk(e) {
      this.confirmLoading = true
      await this.$axios
        .post(`${this.$URL.INQUIRY}`, {
          is_urgent: this.is_urgent,
          received_channel: this.received_channel,
          received_at: this.moment(
            this.received_at_day +
              ' ' +
              this.moment(this.received_at_time).format('HH:mm')
          ),
          client_company_name: this.client_company_name,
          client_person: this.client_person,
          client_person_tel: this.client_person_tel,
          is_prepayed_deliver: this.is_prepayed_deliver,
          delivery_method: this.delivery_method,
          domain_location: this.domain_location,
          sender: this.sender,
          content: this.content,
          receiver: this.receiver,
          received_worker: this.received_worker,
          inquiry_end_due: this.moment(this.inquiry_end_due),
          inquiry_final_due: this.moment(this.inquiry_final_due),
          receiver_address: this.receiver_address,
          project: this.project,
        })
        .then((res) => {
          this.reset_project_modal_data()
          this.get_data()
        })
    },
    async updateInquiry() {
      await this.$axios
        .put(`${this.$URL.INQUIRY}/${this.inqury_detail_id}`, {
          is_urgent: this.is_urgent,
          received_channel: this.received_channel,
          received_at: this.moment(
            this.received_at_day +
              ' ' +
              this.moment(this.received_at_time).format('HH:mm')
          ),
          client_company_name: this.client_company_name,
          client_person: this.client_person,
          client_person_tel: this.client_person_tel,
          is_prepayed_deliver: this.is_prepayed_deliver,
          delivery_method: this.delivery_method,
          domain_location: this.domain_location,
          sender: this.sender,
          content: this.content,
          receiver: this.receiver,
          received_worker: this.received_worker,
          inquiry_end_due: this.moment(this.inquiry_end_due),
          inquiry_final_due: this.moment(this.inquiry_final_due),
          receiver_address: this.receiver_address,
          project: this.project,
          project_id: this.project_detail_id,
        })
        .then((res) => {
          this.reset_project_modal_data()
          this.get_data()
        })
    },
    getCurrentStyle(current, today) {
      const style = {}
      if (current.date() === 1) {
        style.border = '1px solid #1890ff'
        style.borderRadius = '50%'
      }
      return style
    },
    handleCancel() {
      this.modal_visible = false
    },
    reset_project_modal_data() {
      this.is_urgent = '당일 출고'
      this.received_worker = ''
      this.received_channel = '전화'
      this.received_at = ''
      this.client_company_name = ''
      this.client_person = ''
      this.client_person_tel = ''
      this.is_prepayed_deliver = '운임 비용 없음'
      this.delivery_method = '방문수령'
      this.domain_location = '청주'
      this.sender = ''
      this.receiver = ''
      this.inquiry_end_due = ''
      this.inquiry_final_due = ''
      this.receiver_address = ''
      this.project = []

      this.received_worker = ''
      this.modal_visible = false
      this.confirmLoading = false
    },
    handleChange() {},
    handleBlur() {},
    handleFocus() {},
    onEditorBlur() {},
    onEditorFocus() {},
    onEditorReady() {},
    onEditorChange({ quill, html, text }) {
      if (
        html.includes('data:image/png;') ||
        html.includes('data:image/jpeg;') ||
        html.includes('data:image/gif;') ||
        html.includes('data:image/bmp;') ||
        html.includes('data:image/webp;')
      ) {
        let type
        if (html.includes('data:image/png;')) {
          type = 'png'
        }
        if (html.includes('data:image/jpeg;')) {
          type = 'jpeg'
        }
        if (html.includes('data:image/gif;')) {
          type = 'gif'
        }
        if (html.includes('data:image/bmp;')) {
          type = 'bmp'
        }
        if (html.includes('data:image/webp;')) {
          type = 'webp'
        }
        document.querySelector('#hidden_layer').innerHTML = html
        const base64String = html
          .split('data:image/')[1]
          .split(';')[1]
          .split('">')[0]
          .split('base64,')[1]
        this.$axios
          .post('http://13.124.52.145:5001/auth/test_base_64', {
            data: base64String,
            type,
          })
          .then((res) => {
            const imgAddress = res.data.data
            const imgTag = document.querySelectorAll('#hidden_layer img')
            imgTag.forEach((e) => {
              if (e.getAttribute('src').indexOf(base64String))
                e.setAttribute('src', imgAddress)
            })
            this.content = document.querySelector('#hidden_layer').innerHTML
          })
      }
    },
    onProjectEditorChange({ quill, html, text }, id) {
      if (
        html.includes('data:image/png;') ||
        html.includes('data:image/jpeg;') ||
        html.includes('data:image/gif;') ||
        html.includes('data:image/bmp;') ||
        html.includes('data:image/webp;')
      ) {
        let type
        if (html.includes('data:image/png;')) {
          type = 'png'
        }
        if (html.includes('data:image/jpeg;')) {
          type = 'jpeg'
        }
        if (html.includes('data:image/gif;')) {
          type = 'gif'
        }
        if (html.includes('data:image/bmp;')) {
          type = 'bmp'
        }
        if (html.includes('data:image/webp;')) {
          type = 'webp'
        }
        document.querySelector('#hidden_layer').innerHTML = html
        const base64String = html
          .split('data:image/')[1]
          .split(';')[1]
          .split('">')[0]
          .split('base64,')[1]
        this.$axios
          .post('http://13.124.52.145:5001/auth/test_base_64', {
            data: base64String,
            type,
          })
          .then((res) => {
            const imgAddress = res.data.data
            const imgTag = document.querySelectorAll('#hidden_layer img')
            imgTag.forEach((e) => {
              if (e.getAttribute('src').indexOf(base64String))
                e.setAttribute('src', imgAddress)
            })
            this.project[id].content =
              document.querySelector('#hidden_layer').innerHTML
          })
      }
    },
    project_add() {
      this.project.push({})
    },
    async open_project_detail(id, project_id) {
      this.project_detail_id = project_id
      this.inqury_detail_id = id
      await this.$axios.get(`${this.$URL.INQUIRY}/${id}`).then((res) => {
        this.is_urgent = res.data.is_urgent
        this.received_channel = res.data.received_channel
        this.received_at = res.data.received_at
        this.received_worker = res.data.received_worker
        this.client_company_name = res.data.client_company_name
        this.client_person = res.data.client_person
        this.client_person_tel = res.data.client_person_tel
        this.is_prepayed_deliver = res.data.is_prepayed_deliver
        this.delivery_method = res.data.delivery_method
        this.domain_location = res.data.domain_location
        this.content = res.data.content
        this.sender = res.data.sender
        this.etc = res.data.etc
        this.receiver = res.data.receiver
        this.inquiry_end_due = res.data.inquiry_end_due
        this.inquiry_final_due = res.data.inquiry_final_due
        this.receiver_address = res.data.receiver_address
        this.project = res.data.project.filter((e) => e.id === project_id)
        this.modal_diseditable = true
        this.modal_visible = true
        this.modal_register = false
        this.project[0].worker = this.project[0].worker
          ? this.project[0].worker.replace('{', '').replace('}', '')
          : ''
      })
    },
    search() {
      this.filtered_data = this.origin_data.filter(
        (e) =>
          e.project_name.includes(this.searchKeyword) ||
          e.orderer.includes(this.searchKeyword) ||
          e.worker.includes(this.searchKeyword)
      )
      if(!this.all_date){
        this.filtered_data = this.filtered_data.filter(e=>this.moment(this.from_date) <= this.moment(e.ordered_at) && this.moment(this.to_date).endOf('day') >= this.moment(e.ordered_at) ) 
      }
      console.log(this.checkedList.includes("작업중"))
      if( this.checkedList.length === 1 ){
        if( this.checkedList.includes("작업중") ){
          this.filtered_data = this.filtered_data.filter(e=>e.produce===false)
        }
        if(  this.checkedList.includes("완료")  ){
          this.filtered_data = this.filtered_data.filter(e=>e.complete===true)
        }
      }
      
    },
    async process_update(id, process, value) {
      if (process === 'produce_complete') {
        this.complete_target = id
        this.complete_visible = true
      } else {
        await this.$axios
          .put(`${this.$URL.PROJECT}/${id}`, {
            [process]: value,
          })
          .then((res) => {
            this.$notification.success({
              message: '프로젝트 변경',
              description: '프로젝트가 성공적으로 변경되었습니다.',
            })
            this.get_data()
          })
      }
    },
    complete_cancel() {
      this.complete_visible = false
    },
    async complete_handle() {
      await this.$axios
        .put(`${this.$URL.PROJECT}/${this.complete_target}`, {
          fault_etc: this.fault_etc,
          produce_complete: true,
        })
        .then((res) => {
          this.fault_etc = ''
          this.complete_visible = false
          this.$notification.success({
            message: '프로젝트 생산 완료',
            description: '프로젝트가 성공적으로 생산되었습니다.',
          })
          this.get_data()
        })
    },
    onSelectChange(selectedRowKeys) {
      console.log('selectedRowKeys changed: ', selectedRowKeys)
      this.selectedRowKeys = selectedRowKeys
    },
  },
}
</script>

<style>
#components-layout-demo-side .logo {
  margin: 16px;
}
.ant-layout-sider-zero-width-trigger {
  position: absolute;
  top: 0px;
  right: -36px;
  z-index: 1;
  width: 36px;
  height: 42px;
  color: #fff;
  font-size: 18px;
  line-height: 42px;
  text-align: center;
  background: #001529;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background 0.3s ease;
}
.ant-layout-header {
  height: 42px;
  padding: 0 50px;
  line-height: 64px;
  background: #001529;
}

.ant-advanced-search-form {
  padding: 24px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}

.ant-advanced-search-form .ant-form-item {
  display: flex;
}

.ant-advanced-search-form .ant-form-item-control-wrapper {
  flex: 1;
}

.advanced-search .ant-form {
  max-width: none;
}
.advanced-search .search-result-list {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fff;
  min-height: 200px;
  text-align: center;
  padding-top: 00px;
}
.ant-advanced-search-form .ant-form-item {
  margin-bottom: 0px !important;
}
span.ant-radio + * {
  padding-right: 0px;
  padding-left: 0px;
}
.ant-form-item {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  font-feature-settings: 'tnum', 'tnum';
  margin-bottom: 4px !important;
  vertical-align: top;
}
.searchKeyword .ant-form-item-control-wrapper {
  width: 100%;
}

.project-list .ant-table-thead > tr > th,
.project-list .ant-table-tbody > tr > td {
  padding: 6px 6px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.project-list .ant-table-thead > tr > th {
  font-weight: bold;
}
.project-list .ant-table-tbody > tr > td {
  padding: 10px 6px !important;
}
.projectName {
  padding-right: 80px;
}
.delivery_method {
  width: 100px;
  padding: 3px;
}
.project_modal .ant-input-disabled {
  color: #000 !important;
  background-color: #fff;
  border: transparent !important;
  font-weight: bold;
}
.project_modal .ant-select-disabled .ant-select-selection {
  color: #000 !important;
  background-color: #fff;
  border: transparent !important;
  font-weight: bold;
}
.project_modal .ant-select-disabled .ant-select-arrow {
  display: none;
}
.ant-time-picker-input[disabled] {
  color: #000 !important;
  background-color: #fff;
  border: transparent !important;
  font-weight: bold;
}
.ant-form-explain {
  margin-bottom: 0px !important;
  position: absolute;
  top: -8px;
  left: 10px;
  display: none;
}
.modal_diseditable .ant-form-explain {
  margin-bottom: 0px !important;
  position: absolute;
  top: -8px;
  left: 10px;
  display: initial;
}

.project_modal.modal_diseditable .ql-toolbar {
  height: 0px !important;
  overflow: hidden !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  border-top: none !important;
}
.project_modal.modal_diseditable
  .ant-select-disabled
  .ant-select-selection__choice {
  color: #000 !important;
  background-color: #fff;
  border: transparent !important;
  font-weight: bold;
}
.machine_schedule .ant-drawer-content-wrapper {
  height: 100% !important;
}
.machine_schedule_day .ant-card-body {
  padding: 2px !important;
}
.machine_schedule_item .ant-card-head {
  padding: 0 3px !important;
  min-height: 24px !important;
}
.machine_schedule_item .ant-card-head-title {
  padding: 3px 0 !important;
}
.machine_schedule_day .ant-card-head-title {
  padding: 3px 0 !important;
}
.machine_schedule_day .ant-card-head {
  min-height: 29px !important;
  padding: 0 6px !important;
}
.ant-table-tbody > tr > td {
    padding: 6px 6px !important;
    overflow: hidden;

}
.ant-table-thead > tr > th {
    padding: 6px 6px !important;
    overflow: hidden; 
    white-space: nowrap;
}
</style>
