/* eslint-disable vue/no-unused-vars */
<template>
  <a-layout id="components-layout-demo-side" style="min-height: 100vh">
    <aside-menu></aside-menu>
    <a-layout style="min-width: 375px">
      <header-menu />
      <a-layout-content style="margin: 0 16px">
        <a-breadcrumb style="margin: 16px 0">
          <a-breadcrumb-item>제조 관리</a-breadcrumb-item>
          <a-breadcrumb-item>작업지시서 관리</a-breadcrumb-item>
        </a-breadcrumb>
        <div
          :style="{ padding: '24px', background: '#fff', minHeight: '360px' }"
        >
          <div class="advanced-search">
            <a-form class="ant-advanced-search-form">
              <a-row :gutter="24">
                <a-col :xs="24" :md="12" :lg="10" :xl="6">
                  <a-form-item style="width: 100%" class="searchKeyword">
                    <a-input
                      v-model="searchKeyword"
                      style="width: 100%"
                      placeholder="주문자명/프로젝트명을 입력해 주세요."
                    >
                    </a-input>
                  </a-form-item>
                </a-col>
                <a-col :xs="24" :md="12" :lg="9" :xl="10">
                   <a-col :xs="24" :md="12" :lg="10" :xl="24">
                    기간:
                      <a-date-picker v-model="from_date" /> ~ 
                      <a-date-picker v-model="to_date" />
                      <span class="clickable" @click="all_date=false;from_date=moment().add('-7','days');to_date=moment()">최근 1주일</span>
                      <span class="clickable" @click="all_date=false;from_date=moment().add('-30','days');to_date=moment()">최근 30일</span>
                      <span class="clickable" @click="all_date=true;from_date='';to_date=''">전체</span>
                  </a-col>
                </a-col>
                <a-col
                  :xs="24"
                  :md="24"
                  :lg="5"
                  :xl="8"
                  :style="{ textAlign: 'right' }"
                >
                  <a-button type="primary" @click="search" html-type="submit">
                    검색
                  </a-button>
                  <a-button type="danger" @click="$router.go($router.currentRoute)" class="refresh">검색 초기화</a-button>

                  <a-button
                    @click="
                      showModal()
                      modal_title = '프로젝트 등록'
                    "
                    >등록</a-button
                  >
                  <a-button type="danger" @click="showDrawer">
                    장비별 스케쥴
                  </a-button>
                  <a-button @click="$router.push('/complete')"
                    >실적</a-button
                  >
                  <a-button
                    type=""
                    :disabled="selectedRowKeys.length == 0"
                    @click="delete_project()"
                  >
                    삭제
                  </a-button>
                </a-col>
              </a-row>
            </a-form>
            <div class="search-result-list project-list">
              <a-table
                :columns="columns"
                :data-source="filtered_data"
                bordered
                :row-selection="{
                  selectedRowKeys: selectedRowKeys,
                  onChange: onSelectChange,
                }"
                :scroll="{ x: 'calc(700px + 50%)' }"
                :pagination="{ defaultPageSize: 30, showSizeChanger: true, pageSizeOptions: ['10', '20', '30','40','50']}"
              >
                <template slot="receipt_method" slot-scope="receipt_method,record">
                 {{record.receipt_method}}
                </template>
                <template slot="estimated_price" slot-scope="estimated_price,record">
                 {{record.estimated_price}}
                </template>
                <template slot="pay_method" slot-scope="pay_method,record">
                  {{record.pay_method}}                 
                </template>
                <template slot="print" slot-scope="print,record">
                   <span @click="open_modal_and_print(record.inquiry_id, record.id)" class="clickable">출력</span>
                </template>
                <template slot="status" slot-scope="status,record">
                  {{status}}
                </template>
                <template slot="design" slot-scope="design, record">
                  <div
                    type="check-circle"
                    :style="{
                      backgroundColor: design ? '#1890ff' : 'red',
                      height: '35px',
                      width: '35px',
                      cursor: 'pointer',
                      lineHeight:'35px',
                      color : '#fff',
                      fontSize:'12px'
                    }"
                    style="
                      border: 1px solid #aaa;  
                      border-radius: 99px;
                      color: #fff;
                      padding: 0px 3px;
                      font-size: 10px;!important"
                    @click="process_update(record.id, 'design', !design)"
                  >
                  {{ design? '완료' : '대기'  }}
                  </div>
                </template>
                <template slot="confirm_data" slot-scope="confirm_data, record">
                  <div
                    type="check-circle"
                    :style="{
                      backgroundColor: confirm_data ? '#1890ff' : 'red',
                      cursor: 'pointer',
                      lineHeight:'35px',
                      color : '#fff',
                      fontSize:'12px'
                    }"
                    style="
                      border: 1px solid #aaa;  
                      border-radius: 99px;
                      color: #fff;
                      padding: 0px 3px;
                      font-size: 10px;!important"
                    @click="process_update(record.id, 'confirm_data', !confirm_data)"
                  >
                  {{ confirm_data? confirm_data : '미확인'  }}
                  </div>
                </template>
                
                <template
                  v-if="machine"
                  slot="machine"
                  slot-scope="machine, record"
                >
                  {{
                    machine.split('/').length == 4
                      ? machine.split('/')[1]
                      : machine.split('/')[0]
                  }}
                </template>
                <template slot="produce" slot-scope="produce, record">
                  <div
                    type="check-circle"
                    :style="{
                      backgroundColor: produce ? '#1890ff' : 'red',
                      height: '35px',
                      width: '35px',
                      cursor: 'pointer',
                      lineHeight:'35px',
                      color : '#fff',
                      fontSize:'12px'
                    }"
                    style="
                      border: 1px solid #aaa;  
                      border-radius: 99px;
                      color: #fff;
                      padding: 0px 3px;
                      font-size: 10px;!important"
                    @click="process_update(record.id, 'produce', !produce)"
                  >
                  {{ produce? '완료' : '대기'  }}
                  </div>
                </template>
                <template slot="delivery" slot-scope="delivery, record">
                  <div
                    type="check-circle"
                    :style="{
                      backgroundColor: delivery ? '#1890ff' : 'red',
                      height: '49px',
                      width: '50px',
                      position: 'absolute',
                      marginTop: '-25px',
                      marginLeft: '-6px',
                      cursor: 'pointer',
                    }"
                    @click="process_update(record.id, 'delivery', !delivery)"
                  />
                </template>
                <template
                  slot="produce_complete"
                  slot-scope="produce_complete, record"
                >
                   <div
                    type="check-circle"
                    :style="{
                      backgroundColor: produce_complete ? '#1890ff' : 'red',
                      height: '35px',
                      width: '35px',
                      cursor: 'pointer',
                      lineHeight:'35px',
                      color : '#fff',
                      fontSize:'12px'
                    }"
                    style="
                      border: 1px solid #aaa;  
                      border-radius: 99px;
                      color: #fff;
                      padding: 0px 3px;
                      font-size: 10px;!important"
                    @click="process_update(record.id, 'produce_complete', !produce_complete)"
                  >
                  {{ produce_complete? '완료' : '대기'  }}
                  </div>
                 
                  <!-- <a-icon v-else type="close" :style="{ color: 'red' }" `/> -->
                </template>
                <template slot="deliveryMethod" slot-scope="deliveryMethod">
                  <select>
                    <option>택배</option>
                    <option>직접배송</option>
                  </select>
                </template>
                <template slot="project_name" slot-scope="project_name, record">
                  <a-tag v-if="record.is_urgent == '당일 출고'" color="#f50">
                    <template #icon> </template>당일</a-tag
                  >
                  <span
                    class="project_name clickable"
                    @click="
                      open_project_detail(record.inquiry_id, record.id)
                      modal_title = '프로젝트 조회'
                    "
                    >{{ project_name }}</span
                  >
                </template>
                <template
                  slot="delivery_method"
                  slot-scope="delivery_method, record"
                >
                 {{delivery_method}}
                </template>
              </a-table>
            </div>
          </div>
        </div>
      </a-layout-content>

      <Footer></Footer>
    </a-layout>
    <a-drawer
      class="machine_schedule"
      placement="bottom"
      :closable="true"
      :visible="visible"
      @close="onClose"
    >
      <template slot="title">
        장비 스케쥴 현황
        <a-date-picker v-model="date" />
      </template>
      <a-row style="position: relative">
        <div
          style="
            position: absolute;
            z-index: 100;
            font-size: 151px;
            font-weight: bold;
            opacity: 0.3;
            top: calc(50% - 113px);
            left: calc(50% - 113px);
          "
        >
          A동
        </div>
        <a-col :xs="24" :md="24" :lg="24" :xl="24">
          <a-row>
            <a-col
              v-for="item in facility_data.filter((e) => e.location === 'A동')"
              :key="item.id"
              :xs="24"
              :md="12"
              :lg="4"
              :xl="4"
              style="padding: 0px"
            >
              <a-card class="machine_schedule_day">
                <template slot="title" style="padding: 3px 0">{{
                  item.name
                }}</template>
                <a-row
                  style="min-height: 65px; padding: 3px; background-color: blue"
                >
                  <a-col
                    v-for="t in item.time0"
                    :key="t.project_name"
                    :xs="12"
                    :md="12"
                    :lg="12"
                    :xl="12"
                  >
                    <a-card
                      class="machine_schedule_item"
                      :title="t.project_name"
                    ></a-card>
                  </a-col>
                </a-row>
                <a-row
                  style="min-height: 65px; padding: 3px; background-color: red"
                >
                  <a-col
                    v-for="t in item.time1"
                    :key="t.project_name"
                    :xs="12"
                    :md="12"
                    :lg="12"
                    :xl="12"
                  >
                    <a-card
                      class="machine_schedule_item"
                      :title="t.project_name"
                    ></a-card>
                  </a-col>
                </a-row>
                <a-row
                  style="
                    min-height: 65px;
                    padding: 3px;
                    background-color: yellow;
                  "
                >
                  <a-col
                    v-for="t in item.time2"
                    :key="t.project_name"
                    :xs="12"
                    :md="12"
                    :lg="12"
                    :xl="12"
                  >
                    <a-card
                      class="machine_schedule_item"
                      :title="t.project_name"
                    ></a-card>
                  </a-col>
                </a-row>
              </a-card>
            </a-col>
          </a-row>
        </a-col>
      </a-row>
      <a-row style="position: relative">
        <div
          style="
            position: absolute;
            z-index: 100;
            font-size: 151px;
            font-weight: bold;
            opacity: 0.3;
            top: calc(50% - 113px);
            left: calc(50% - 113px);
          "
        >
          B동
        </div>
        <a-col :xs="24" :md="24" :lg="24" :xl="24">
          <a-row>
            <a-col
              v-for="item in facility_data.filter((e) => e.location === 'B동')"
              :key="item.id"
              :xs="24"
              :md="12"
              :lg="4"
              :xl="4"
              style="padding: 0px"
            >
              <a-card class="machine_schedule_day">
                <template slot="title" style="padding: 3px 0">{{
                  item.name
                }}</template>
                <a-row
                  style="min-height: 65px; padding: 3px; background-color: blue"
                >
                  <a-col
                    v-for="t in item.time0"
                    :key="t.project_name"
                    :xs="12"
                    :md="12"
                    :lg="12"
                    :xl="12"
                  >
                    <a-card
                      class="machine_schedule_item"
                      :title="t.project_name"
                    ></a-card>
                  </a-col>
                </a-row>
                <a-row
                  style="min-height: 65px; padding: 3px; background-color: red"
                >
                  <a-col
                    v-for="t in item.time1"
                    :key="t.project_name"
                    :xs="12"
                    :md="12"
                    :lg="12"
                    :xl="12"
                  >
                    <a-card
                      class="machine_schedule_item"
                      :title="t.project_name"
                    ></a-card>
                  </a-col>
                </a-row>
                <a-row
                  style="
                    min-height: 65px;
                    padding: 3px;
                    background-color: yellow;
                  "
                >
                  <a-col
                    v-for="t in item.time2"
                    :key="t.project_name"
                    :xs="12"
                    :md="12"
                    :lg="12"
                    :xl="12"
                  >
                    <a-card
                      class="machine_schedule_item"
                      :title="t.project_name"
                    ></a-card>
                  </a-col>
                </a-row>
              </a-card>
            </a-col>
          </a-row>
        </a-col>
      </a-row>
      <a-row style="position: relative">
        <div
          style="
            position: absolute;
            z-index: 100;
            font-size: 151px;
            font-weight: bold;
            opacity: 0.3;
            top: calc(50% - 113px);
            left: calc(50% - 113px);
          "
        >
          C동
        </div>
        <a-col :xs="24" :md="24" :lg="24" :xl="24">
          <a-row>
            <a-col
              v-for="item in facility_data.filter((e) => e.location === 'C동')"
              :key="item.id"
              :xs="24"
              :md="12"
              :lg="4"
              :xl="4"
              style="padding: 0px"
            >
              <a-card class="machine_schedule_day">
                <template slot="title" style="padding: 3px 0">{{
                  item.name
                }}</template>
                <a-row
                  style="min-height: 65px; padding: 3px; background-color: blue"
                >
                  <a-col
                    v-for="t in item.time0"
                    :key="t.project_name"
                    :xs="12"
                    :md="12"
                    :lg="12"
                    :xl="12"
                  >
                    <a-card
                      class="machine_schedule_item"
                      :title="t.project_name"
                    ></a-card>
                  </a-col>
                </a-row>
                <a-row
                  style="min-height: 65px; padding: 3px; background-color: red"
                >
                  <a-col
                    v-for="t in item.time1"
                    :key="t.project_name"
                    :xs="12"
                    :md="12"
                    :lg="12"
                    :xl="12"
                  >
                    <a-card
                      class="machine_schedule_item"
                      :title="t.project_name"
                    ></a-card>
                  </a-col>
                </a-row>
                <a-row
                  style="
                    min-height: 65px;
                    padding: 3px;
                    background-color: yellow;
                  "
                >
                  <a-col
                    v-for="t in item.time2"
                    :key="t.project_name"
                    :xs="12"
                    :md="12"
                    :lg="12"
                    :xl="12"
                  >
                    <a-card
                      class="machine_schedule_item"
                      :title="t.project_name"
                    ></a-card>
                  </a-col>
                </a-row>
              </a-card>
            </a-col>
          </a-row>
        </a-col>
      </a-row>
    </a-drawer>
    <a-modal
      :title="modal_title"
      :visible="modal_visible"
      :confirm-loading="confirmLoading"
      :width="800"
      :closable="true"
      :class="{ modal_diseditable: modal_diseditable }"
      class="project_modal"
    >
      <template slot="closeIcon">
        <a-icon @click="handleCancel()" type="close"
      /></template>
      <a-form>
        <a-row>
          <a-col
            :xs="print_status ? 6 : 24"
            :md="print_status ? 6 : 24"
            :lg="6"
          >
            <a-form-item help="긴급여부">
              <a-select
                v-model="is_urgent"
                placeholder="긴급여부"
                :disabled="modal_diseditable"
                @focus="handleFocus"
                @blur="handleBlur"
                @change="handleChange"
              >
                <a-select-option value="당일 출고">당일 출고</a-select-option>
                <a-select-option value="일반 출고">일반 출고</a-select-option>
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :xs="print_status ? 6 : 24" :md="24" :lg="6">
            <a-form-item help="접수 담당자">
              <a-select
                v-model="received_worker"
                :disabled="modal_diseditable"
                placeholder="접수 담당자명"
              >
                <a-select-option value="" disabled
                  >접수 담당자명</a-select-option
                >
                <a-select-option
                  v-for="item in worker_list"
                  :key="item + 'received_worker'"
                  :value="item.user_name"
                >
                  {{ item.user_name }}
                </a-select-option>
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :xs="print_status ? 12 : 24" :md="24" :lg="12">
            <a-form-item help="접수일">
              <a-date-picker
                v-model="received_at_day"
                placeholder="접수일"
                :disabled="modal_diseditable"
                style="width: 50%"
              />
              <a-time-picker
                v-model="received_at_time"
                placeholder="시간"
                format="H:mm"
                :disabled="modal_diseditable"
                style="width: 50%"
              />
            </a-form-item>
          </a-col>
          <a-col :xs="print_status ? 6 : 24" :md="24" :lg="6">
            <a-form-item help="접수 경로">
              <a-select
                v-model="received_channel"
                placeholder="접수 경로"
                :disabled="modal_diseditable"
                @focus="handleFocus"
                @blur="handleBlur"
                @change="handleChange"
              >
                <a-select-option value="전화">전화</a-select-option>
                <a-select-option value="온라인">온라인</a-select-option>
                <a-select-option value="카카오톡">카카오톡</a-select-option>
                <a-select-option value="방문">방문</a-select-option>
              </a-select>
            </a-form-item>
          </a-col>

          <a-col :xs="print_status ? 6 : 24" :md="24" :lg="6">
            <a-form-item help="상호">
              <a-auto-complete
                :disabled="modal_diseditable"
                v-model="client_company_name"
                :data-source="partner_data"              
                placeholder="상호"
                @search="onSearch"
              />

            </a-form-item>
          </a-col>
          <a-col :xs="print_status ? 6 : 24" :md="24" :lg="6">
            <a-form-item help="담당자">
              <a-input
                v-model="client_person"
                :disabled="modal_diseditable"
                placeholder="담당자"
              />
            </a-form-item>
          </a-col>
          <a-col :xs="print_status ? 6 : 24" :md="24" :lg="6">
            <a-form-item help="담당자 연락처">
              <a-input
                v-model="client_person_tel"
                :disabled="modal_diseditable"
                placeholder="담당자 연락처"
              />
            </a-form-item>
          </a-col>
          <a-col :xs="print_status ? 6 : 24" :md="24" :lg="6">
            <a-form-item help="운임비용">
              <a-select
                v-model="is_prepayed_deliver"
                placeholder="운임비용"
                :disabled="modal_diseditable"
                @focus="handleFocus"
                @blur="handleBlur"
                @change="handleChange"
              >
                <a-select-option value="운임 비용 없음"
                  >운임 비용 없음</a-select-option
                >
                <a-select-option value="선불">선불</a-select-option>
                <a-select-option value="착불">착불</a-select-option>
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :xs="print_status ? 6 : 24" :md="24" :lg="6">
            <a-form-item help="배송방법">
              <a-select
                v-model="delivery_method"
                :disabled="modal_diseditable"
                placeholder="배송방법"
                @focus="handleFocus"
                @blur="handleBlur"
                @change="handleChange"
              >
                <a-select-option value="배송">배송</a-select-option>
                <a-select-option value="방문수령">방문수령</a-select-option>
                <a-select-option value="택배">택배</a-select-option>
                <a-select-option value="화물">화물</a-select-option>
                <a-select-option value="화물택배">화물택배</a-select-option>
                <a-select-option value="창고">창고</a-select-option>
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :xs="print_status ? 6 : 24" :md="24" :lg="6">
            <a-form-item help="배송지 선택">
              <a-select
                v-model="domain_location"
                :disabled="modal_diseditable"
                placeholder="배송지 선택"
                @focus="handleFocus"
                @blur="handleBlur"
                @change="handleChange"
              >
                <a-select-option value="default">청주</a-select-option>
                <a-select-option value="pre">세종</a-select-option>
                <a-select-option value="parcel">대전</a-select-option>
                <a-select-option value="cargo">공주</a-select-option>
                <a-select-option value="cargoParcel">충청</a-select-option>
                <a-select-option value="etc">기타</a-select-option>
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :xs="print_status ? 6 : 24" :md="24" :lg="6">
            <a-form-item help="발송인명">
              <a-input
                v-model="sender"
                :disabled="modal_diseditable"
                placeholder="발송인명"
              />
            </a-form-item>
          </a-col>
          <a-col :xs="print_status ? 6 : 24" :md="24" :lg="6">
            <a-form-item help="수하인명">
              <a-input
                v-model="receiver"
                :disabled="modal_diseditable"
                placeholder="수하인명"
              />
            </a-form-item>
          </a-col>
          <a-col :xs="print_status ? 6 : 24" :md="24" :lg="6">
            <a-form-item help="마감일">
              <a-date-picker
                v-model="inquiry_end_due"
                placeholder="마감일"
                :disabled="modal_diseditable"
                style="width: 100%"
              >
                <a-icon slot="suffixIcon" type="schedule" />
              </a-date-picker>
            </a-form-item>
          </a-col>
          <a-col :xs="print_status ? 6 : 24" :md="24" :lg="6">
            <a-form-item help="납기일">
              <a-date-picker
                v-model="inquiry_final_due"
                placeholder="납기일"
                :disabled="modal_diseditable"
                style="width: 100%"
              >
                <a-icon slot="suffixIcon" type="alert" />
              </a-date-picker>
            </a-form-item>
          </a-col>
          <a-col :xs="print_status ? 12 : 24" :md="24" :lg="12">
            <a-form-item help="납기 장소">
              <a-input
                v-model="receiver_address"
                v-decorator="['specification0']"
                :disabled="modal_diseditable"
                placeholder="납기 장소"
              />
            </a-form-item>
          </a-col>
          <a-form
            v-for="(item, index) in project"
            :key="index + 'project_form'"
          >
            <a-divider
              style="
                height: 2px;
                background-color: #7cb305;
                margin-bottom: 20px;
                margin-top: 10px;
                margin-left: 0px;
              "
            />
            <a-col :xs="print_status ? 24 : 24" :md="24" :lg="24">
              <a-form-item help="프로젝트명">
                <a-input
                  v-model="item.project_name"
                  placeholder="프로젝트명"
                  :disabled="modal_diseditable"
                />
              </a-form-item>
            </a-col>
            <a-col :xs="print_status ? 6 : 24" :md="24" :lg="6">
              <a-form-item help="프로젝트 종류">
                <a-select
                  v-model="item.project_type"
                  placeholder="프로젝트 종류"
                  option-filter-prop="children"
                  :disabled="modal_diseditable"
                  @focus="handleFocus"
                  @blur="handleBlur"
                  @change="handleChange"
                > 
                  <a-select-option v-for="item in common_code_project_type" :key="item" :value="item">{{item}}</a-select-option>
                </a-select>
              </a-form-item>
            </a-col>
            <a-col :xs="print_status ? 6 : 24" :md="24" :lg="6">
              <a-form-item help="원본데이터 위치">
                <a-input
                  v-model="item.project_file_address"
                  :disabled="modal_diseditable"
                  placeholder="원본데이터 위치"
                />
              </a-form-item>
            </a-col>
            <a-col :xs="print_status ? 6 : 24" :md="24" :lg="6">
              <a-form-item help="마감일">
                <a-date-picker
                  v-model="item.expected_time"
                  placeholder="마감일"
                  :disabled="modal_diseditable"
                  style="width: 100%"
                >
                  <a-icon slot="suffixIcon" type="schedule" />
                </a-date-picker>
              </a-form-item>
            </a-col>
            <a-col :xs="print_status ? 6 : 24" :md="24" :lg="6">
              <a-form-item help="납기일">
                <a-date-picker
                  v-model="item.final_due"
                  placeholder="납기일"
                  :disabled="modal_diseditable"
                  style="width: 100%"
                >
                  <a-icon slot="suffixIcon" type="alert" />
                </a-date-picker>
              </a-form-item>
            </a-col>
            <a-col :xs="print_status ? 6 : 24" :md="24" :lg="6">
              <a-form-item help="작업형태">
                <a-select
                  v-model="item.project_method"
                  placeholder="작업형태"
                  :disabled="modal_diseditable"
                  @focus="handleFocus"
                  @blur="handleBlur"
                  @change="handleChange"
                >
                  <a-select-option v-for="item in common_code_project_method" :key="item" :value="item">{{item}}</a-select-option>
           
                </a-select>
              </a-form-item>
            </a-col>
            <a-col :xs="print_status ? 6 : 24" :md="24" :lg="6">
              <a-form-item help="시안형태">
                <a-select
                  v-model="item.design_type"
                  placeholder="시안형태"
                  :disabled="modal_diseditable"
                  @focus="handleFocus"
                  @blur="handleBlur"
                  @change="handleChange"
                >
                  <a-select-option v-for="item in common_code_design_type" :key="item" :value="item">{{item}}</a-select-option>

                </a-select>
              </a-form-item>
            </a-col>
            <a-col :xs="print_status ? 6 : 24" :md="24" :lg="6">
              <a-form-item help="수량">
                <a-input
                  v-model="item.count"
                  :disabled="modal_diseditable"
                  placeholder="수량"
                />
              </a-form-item>
            </a-col>
            <a-col :xs="print_status ? 6 : 24" :md="24" :lg="6">
              <a-form-item help="포장형태">
                <a-input
                  v-model="item.package_type"
                  :disabled="modal_diseditable"
                  placeholder="포장형태"
                />
              </a-form-item>
            </a-col>
            <a-col :xs="print_status ? 6 : 18" :md="24" :lg="18">
              <a-form-item help="주의사항">
                <a-input
                  v-model="item.etc"
                  :disabled="modal_diseditable"
                  placeholder="주의사항"
                />
              </a-form-item>
            </a-col>
            <a-col :xs="print_status ? 6 : 24" :md="24" :lg="6">
              <a-form-item help="작업자">
                <a-select
                  mode="tags"
                  v-model="item.worker"
                  :disabled="modal_diseditable"
                  placeholder="작업자"
                >
                  <a-select-option value="" disabled>작업자</a-select-option>
                  <a-select-option
                    v-for="i in worker_list"
                    :key="i + 'worker'"
                    :value="i.user_name"
                  >
                    {{ i.user_name }}
                  </a-select-option>
                </a-select>
              </a-form-item>
            </a-col>
            <a-col :xs="print_status ? 24 : 24" :md="24" :lg="24">
              <a-form-item help="장비 스케쥴">
                <a-cascader
                  v-model="item.machine"
                  :disabled="modal_diseditable"
                  :options="machine_list"
                  placeholder="설비 배정"
                />
              </a-form-item>
            </a-col>

            <a-col :xs="print_status ? 24 : 24" :md="24" :lg="24">
              <a-form-item>
                <client-only>
                  <quill-editor
                    ref="editor"
                    v-model="item.content"
                    :options="editorOption"
                    :disabled="modal_diseditable"
                    @blur="onEditorBlur($event)"
                    @focus="onEditorFocus($event)"
                    @ready="onEditorReady($event)"
                    @change="onProjectEditorChange($event, index)"
                  />
                </client-only>
              </a-form-item>
            </a-col>
          </a-form>
          <a-col :xs="24" :md="24" :lg="24" :style="{ textAlign: 'right' }">
            <a-button v-if="modal_register == true" @click="project_add()"
              >프로젝트 추가</a-button
            >
          </a-col>
        </a-row>
      </a-form>
      <template slot="footer">
        <!-- 수정 -->
        <a-button
          v-if="modal_diseditable == true"
          @click="
            modal_diseditable = false
            modal_register = false
            modal_title = '프로젝트 수정'
          "
        >
          수정
        </a-button>

        <!-- 조회 -->
        <a-button
          v-if="modal_diseditable == false && modal_register == false"
          type="primary"
          @click="updateInquiry"
        >
          수정하기
        </a-button>
        <a-button v-if="modal_diseditable == true" @click="print()">
          출력
        </a-button>
        <!-- 등록 -->
        <a-button
          v-if="modal_diseditable == false && modal_register == true"
          type=""
          @click="handleCancel"
        >
          취소
        </a-button>
        <a-button
          v-if="modal_diseditable == false && modal_register == true"
          type="primary"
          @click="handleOk"
        >
          등록하기
        </a-button>
      </template>
    </a-modal>
    <a-modal
      title="불량 내역"
      :visible="complete_visible"
      @ok="complete_handle"
      @cancel="complete_cancel"
    >
      <a-input v-model="fault_etc" placeholder="불량 내역" />
    </a-modal>
    <div id="hidden_layer" style="display: none"></div>
  </a-layout>
</template>
<script>
import moment from 'moment'
import 'moment/locale/ko'
import common_code from '@/mixins/common_code.js'

moment.locale('ko')
const columns = [
   {
        title: '주문날짜/시간',
        dataIndex: 'ordered_at',
        key: 'ordered_at',
        width: 125,
        sorter: (a, b) =>
          parseInt(
            moment.duration(moment(a.ordered_at).diff(b.ordered_at)).asMinutes()
          ),
        align: 'center',
      },
      {
        title: '주문자명',
        dataIndex: 'orderer',
        key: 'orderer',
        width: 120,
        filters: [],
        onFilter: (value, record) => record.orderer.indexOf(value) === 0,
        align: 'center',
      },
      {
        title: '프로젝트 명',
        dataIndex: 'project_name',
        key: 'project_name',
        width: 360,
        scopedSlots: { customRender: 'project_name' },
      },
      {
        title: '마감일',
        dataIndex: 'final_due',
        key: 'final_due',
        width: 110,
        align: 'center',
      },
      {
        title: '작업자/가동장비',
        dataIndex: 'worker',
        key: 'worker',
        width: 150,
        align: 'center',
      },
       {
        title: '견적금액(만원)',
        dataIndex: 'estimated_price',
        key: 'estimated_price',
        width: 100,
          align: 'center',
        scopedSlots: { customRender: 'estimated_price' },
      },
      {
        title: '결제방식',
        dataIndex: 'pay_method',
        key: 'pay_method',
        width: 120,
        align: 'center',
        scopedSlots: { customRender: 'pay_method' },
      },
      {
        title: '증빙유형',
        dataIndex: 'receipt_method',
        key: 'receipt_method',
        width: 120,
        align: 'center',
        scopedSlots: { customRender: 'receipt_method' },
      },
       {
        title: '관리자/확인일',
        dataIndex: 'confirm_data',
        key: 'confirm_data',
        width: 180,
        align: 'center',
        scopedSlots: { customRender: 'confirm_data' },
      },
        {
        title: '인쇄',
        dataIndex: 'print',
        key: 'print',
        width: 80,
        align: 'center',
        scopedSlots: { customRender: 'print' },
      },
        {
        title: '상태',
        dataIndex: 'status',
        key: 'status',
        width: 100,
        align: 'center',
        scopedSlots: { customRender: 'status' },
      },
]

export default {
  mixins:[common_code],
  data() {
    return {
      from_date:"",
      to_date:"",
      all_date: true,
      modal_title: '',
      selectedRowKeys: [],
      fault_etc: '',
      searchKeyword: '',
      project: [],
      columns,
      moment,
      visible: false,
      modal_visible: false,
      modal_diseditable: false,
      modal_register: true,
      placement: 'left',
      subDrawer: false,
      category: undefined,
      confirmLoading: false,
      deliveryType: 1,
      content: '',
      editorOption: {
        // Some Quill options...
        theme: 'snow',
        modules: {
          toolbar: [
            ['bold', 'italic', 'underline', 'strike'], // toggled buttons
            ['blockquote', 'code-block'],
            [{ header: 1 }, { header: 2 }], // custom button values
            [{ list: 'ordered' }, { list: 'bullet' }],
            [{ script: 'sub' }, { script: 'super' }], // superscript/subscript
            [{ indent: '-1' }, { indent: '+1' }], // outdent/indent
            [{ direction: 'rtl' }],
            [{ size: ['small', false, 'large', 'huge'] }], // custom dropdown
            [{ header: [1, 2, 3, 4, 5, 6, false] }],
            [{ color: [] }, { background: [] }], // dropdown with defaults from theme
            [{ font: [] }],
            [{ align: [] }],
            ['link', 'image'],
            ['clean'],
          ],
        },
      },
      // 문의 내용 관련 데이터
      is_urgent: '당일 출고',
      received_channel: '전화',
      received_at_day: '',
      received_at_time: '',
      client_company_name: '',
      client_person: '',
      client_person_tel: '',
      is_prepayed_deliver: '운임 비용 없음',
      delivery_method: '방문수령',
      received_worker: '',
      domain_location: '청주',
      sender: '(주)피노',
      receiver: '',
      inquiry_end_due: '',
      inquiry_final_due: '',
      receiver_address: '',
      filtered_data: [],
      origin_data: [],
      complete_target: '',
      complete_visible: false,
      worker_list: [],
      inqury_detail_id: '',
      project_detail_id: '',
      machine_list: [],
      facility_data: [],
      date: '',
      print_status: false,
      partner_origin_data:[],
      partner_data:[],
      partner_result:[]
    }
  },
  computed:{
    common_code_project_type(){
      if(this.common_code.filter(e=>e.type==='작업/프로젝트'&&e.name==='프로젝트 종류').length)
      return this.common_code.filter(e=>e.type==='작업/프로젝트'&&e.name==='프로젝트 종류').map(e=>{return e.value})
      else 
      return []
    },
    common_code_project_method(){
      if(this.common_code.filter(e=>e.type==='작업/프로젝트'&&e.name==='작업형태').length)
      return this.common_code.filter(e=>e.type==='작업/프로젝트'&&e.name==='작업형태').map(e=>{return e.value})
      else 
      return []
    },
    common_code_design_type(){
      if(this.common_code.filter(e=>e.type==='작업/프로젝트'&&e.name==='시안형태').length)
      return this.common_code.filter(e=>e.type==='작업/프로젝트'&&e.name==='시안형태').map(e=>{return e.value})
      else 
      return []
    }
  },
  watch: {
    date(cur) {
      this.get_facility_data(cur)
    },
    all_date(cur,af){
      if(this.all_date === true){
        this.to_date = ""
        this.from_date=""
      }
    },
    client_company_name(cur){
      const target = this.partner_origin_data.filter(e=>e.co_name === cur)[0]
      if(target){
        this.client_person = target.person
        this.client_person_tel = target.contact
      }
      
    }
  },
  mounted() {
    this.date = this.moment()
    function getCookie(cookieName) {
      let cookieValue = null
      if (document.cookie) {
        const array = document.cookie.split(escape(cookieName) + '=')
        if (array.length >= 2) {
          const arraySub = array[1].split(';')
          cookieValue = unescape(arraySub[0])
        }
      }
      if (cookieValue === null) {
        alert('페이지 권한이 없습니다.')
        location.href = '/dashboard'
      }
      return cookieValue
    }
    this.$axios.get(`${this.$URL.USER}/${getCookie('user_id')}`).then((res) => {
      if (res.data.right[this.$route.name] === false) {
        alert('페이지 권한이 없습니다.')
        location.href = '/dashboard'
      }
    })
    this.received_at_day = this.moment().format('YYYY-MM-DD')
    this.received_at_time = this.moment()
    this.get_data()
    this.$axios.get(this.$URL.USER_LIST).then((res) => {
      this.worker_list = res.data.map((e) => {
        return { user_name: e.user_name }
      })
    })

    this.$axios.get(this.$URL.FACILITY).then((res) => {
      console.log(res)
      const day_list = []
      for (let k = 0; k < 8; k++) {
        day_list.push({
          label: this.moment().add(k, 'days').format('YYYY-MM-DD'),
          value: this.moment().add(k, 'days').format('YYYY-MM-DD'),
          children: [
            {
              value: '오전',
              label: '오전',
            },
            {
              value: '오후',
              label: '오후',
            },
            {
              value: '저녁',
              label: '저녁',
            },
          ],
        })
      }
      const origin_data = res.data
      this.machine_list = [...new Set(res.data.map((item) => item.location))]
      this.machine_list = this.machine_list.map((e) => {
        return {
          label: e,
          value: e,
          children: origin_data
            .filter((m) => m.location === e)
            .map((k) => {
              return { ...k, label: k.name, value: k.name, children: day_list }
            }),
        }
      })
      //  this.machine_list = res.data.map( e=>{ return{ ...e, label:e.name, value:e.name, children: day_list } } )
      this.get_facility_data()
      this.get_partner_list()
    })
  },
  methods: {
    onSearch(searchText){
      this.partner_data = this.partner_origin_data.filter(e=>e.co_name.includes(searchText)).map(e=>{ return e.co_name })
    },
    get_partner_list() {
      this.partner_data=[]
      this.$axios.get(this.$URL.PARTNER).then((res) => {
        this.partner_origin_data = res.data
        // this.partner_data = this.partner_origin_data.map(e=>{ return e.co_name })
      })
    },
 
    get_data() {
      this.origin_data = []
      this.filtered_data = []
      this.$axios.get(`${this.$URL.INQUIRY}?type=producing`).then((res) => {
        const received_project_data = []
        res.data.forEach((e) => {
          if (e.project.length > 0) {
            e.project.forEach((i, index, arr) => {
              console.log(i)
              i.set = `${index + 1}/${arr.length}`
              if (i.expected_time) {
                i.expected_time = i.expected_time.split('T')[0]
              }
              if (i.final_due) {
                i.final_due = i.final_due.split('T')[0]
              }
              i.delivery_method = e.delivery_method
              // i.confirm_data = "ddd"
              i.orderer = e.client_company_name
              i.is_urgent = e.is_urgent
              i.status = i.produce_complete? '생산완료':'생산중' 
              i.inquiry_id = e.id
              i.received_worker = e.received_worker
              i.inquiry_final_due = this.moment(e.inquiry_final_due).format(
                'YYYY-MM-DD'
              )
              // console.log(i.worker)

              i.worker = i.worker
                ? i.worker.replace('{', '').replace('}', '') 
                : ''
              i.worker += i.machine? '/'+i.machine.split("/").splice(0,2).join("-") : ""

              if (e.received_at) {
                i.ordered_at = this.moment(e.received_at).format(
                  'YYYY-MM-DD  HH:mm'
                )
              } else {
                i.ordered_at = ''
              }
            })
            received_project_data.push(...e.project)
          }
        })
        this.origin_data = received_project_data
        this.search()
        const unique = [
          ...new Set(this.origin_data.map((item) => item.orderer)),
        ]
        const column_filter_data = unique.map((item) => {
          return { text: item, value: item }
        })
       
        this.project_add()
      })
    },
    async get_facility_data(date) {
      await this.$axios.get(this.$URL.FACILITY).then((res) => {
        this.facility_data = res.data
        this.facility_data = this.facility_data.map((e) => {
          return {
            ...e,
            time0: this.origin_data.filter(m=>m.machine).filter(
              (m) =>
                m.machine.includes('오전') &&
                m.machine.includes(e.name) &&
                m.machine.includes(this.moment(date).format('YYYY-MM-DD'))
            ),
            time1: this.origin_data.filter(m=>m.machine).filter(
              (m) =>
                m.machine.includes('오후') &&
                m.machine.includes(e.name) &&
                m.machine.includes(this.moment(date).format('YYYY-MM-DD'))
            ),
            time2: this.origin_data.filter(m=>m.machine).filter(
              (m) =>
                m.machine.includes('저녁') &&
                m.machine.includes(e.name) &&
                m.machine.includes(this.moment(date).format('YYYY-MM-DD'))
            ),
          }
        })
      })
    },
    show_alert(str) {
      alert(str)
    },
    onSelectChange(selectedRowKeys) {
      console.log('selectedRowKeys changed: ', selectedRowKeys)
      this.selectedRowKeys = selectedRowKeys
    },
    showModal() {
      this.reset_project_modal_data()
      this.project_add()
      this.modal_diseditable = false
      this.modal_visible = true
      this.modal_register = true
    },
    showDrawer() {
      this.visible = true
    },
    onClose() {
      this.visible = false
    },
    onChange(e) {
      this.placement = e.target.value
    },
    openSubDrawer() {
      this.subDrawer = true
    },
    onSubDrawerClose() {
      this.subDrawer = false
    },
    async handleOk(e) {
      for(let p =0 ; p < this.project.length ; p++ ){
        if(this.project[p].project_name === undefined){
           alert("프로젝트 이름은 필수 입력 사항입니다.")
          return false
        }
        if(this.project[p].project_name === null){
           alert("프로젝트 이름은 필수 입력 사항입니다.")
          return false
        }
        if(this.project[p].project_name === ""){
          alert("프로젝트 이름은 필수 입력 사항입니다.")
          return false
        } 
      }
      this.confirmLoading = true
      await this.$axios
        .post(`${this.$URL.INQUIRY}`, {
          is_urgent: this.is_urgent,
          received_channel: this.received_channel,
          received_at: this.moment(
            this.received_at_day +
              ' ' +
              this.moment(this.received_at_time).format('HH:mm')
          ),
          client_company_name: this.client_company_name,
          client_person: this.client_person,
          client_person_tel: this.client_person_tel,
          is_prepayed_deliver: this.is_prepayed_deliver,
          delivery_method: this.delivery_method,
          domain_location: this.domain_location,
          sender: this.sender,
          content: this.content,
          receiver: this.receiver,
          received_worker: this.received_worker,
          inquiry_end_due: this.moment(this.inquiry_end_due),
          inquiry_final_due: this.moment(this.inquiry_final_due),
          receiver_address: this.receiver_address,
          project: this.project.map((e) => {
            return { ...e, machine: e.machine }
          }),
        })
        .then((res) => {
          this.reset_project_modal_data()
          this.get_data()
        })
    },
    async updateInquiry() {
      await this.$axios
        .put(`${this.$URL.INQUIRY}/${this.inqury_detail_id}`, {
          is_urgent: this.is_urgent,
          received_channel: this.received_channel,
          received_at: this.moment(
            this.received_at_day +
              ' ' +
              this.moment(this.received_at_time).format('HH:mm')
          ),
          client_company_name: this.client_company_name,
          client_person: this.client_person,
          client_person_tel: this.client_person_tel,
          is_prepayed_deliver: this.is_prepayed_deliver,
          delivery_method: this.delivery_method,
          domain_location: this.domain_location,
          sender: this.sender,
          content: this.content,
          receiver: this.receiver,
          received_worker: this.received_worker,
          inquiry_end_due: this.moment(this.inquiry_end_due),
          inquiry_final_due: this.moment(this.inquiry_final_due),
          receiver_address: this.receiver_address,
          project: this.project,
          project_id: this.project_detail_id,
        })
        .then((res) => {
          this.reset_project_modal_data()
          this.get_data()
        })
    },
    getCurrentStyle(current, today) {
      const style = {}
      if (current.date() === 1) {
        style.border = '1px solid #1890ff'
        style.borderRadius = '50%'
      }
      return style
    },
    handleCancel() {
      this.modal_visible = false
    },
    reset_project_modal_data() {
      this.is_urgent = '당일 출고'
      this.received_worker = ''
      this.received_channel = '전화'
      this.received_at_day = this.moment().format('YYYY-MM-DD')
      this.received_at_time = this.moment()
      this.client_company_name = ''
      this.client_person = ''
      this.client_person_tel = ''
      this.is_prepayed_deliver = '운임 비용 없음'
      this.delivery_method = '방문수령'
      this.domain_location = '청주'
      this.sender = ''
      this.receiver = ''
      this.inquiry_end_due = ''
      this.inquiry_final_due = ''
      this.receiver_address = ''
      this.project = []

      this.received_worker = ''
      this.modal_visible = false
      this.confirmLoading = false
    },
    handleChange() {},
    handleBlur() {},
    handleFocus() {},
    onEditorBlur() {},
    onEditorFocus() {},
    onEditorReady() {},
    onEditorChange({ quill, html, text }) {
      if (
        html.includes('data:image/png;') ||
        html.includes('data:image/jpeg;') ||
        html.includes('data:image/gif;') ||
        html.includes('data:image/bmp;') ||
        html.includes('data:image/webp;')
      ) {
        let type
        if (html.includes('data:image/png;')) {
          type = 'png'
        }
        if (html.includes('data:image/jpeg;')) {
          type = 'jpeg'
        }
        if (html.includes('data:image/gif;')) {
          type = 'gif'
        }
        if (html.includes('data:image/bmp;')) {
          type = 'bmp'
        }
        if (html.includes('data:image/webp;')) {
          type = 'webp'
        }
        document.querySelector('#hidden_layer').innerHTML = html
        const base64String = html
          .split('data:image/')[1]
          .split(';')[1]
          .split('">')[0]
          .split('base64,')[1]
        this.$axios
          .post('http://13.124.52.145:5001/auth/test_base_64', {
            data: base64String,
            type,
          })
          .then((res) => {
            const imgAddress = res.data.data
            const imgTag = document.querySelectorAll('#hidden_layer img')
            imgTag.forEach((e) => {
              if (e.getAttribute('src').indexOf(base64String))
                e.setAttribute('src', imgAddress)
            })
            this.content = document.querySelector('#hidden_layer').innerHTML
          })
      }
    },
    onProjectEditorChange({ quill, html, text }, id) {
      if (
        html.includes('data:image/png;') ||
        html.includes('data:image/jpeg;') ||
        html.includes('data:image/gif;') ||
        html.includes('data:image/bmp;') ||
        html.includes('data:image/webp;')
      ) {
        let type
        if (html.includes('data:image/png;')) {
          type = 'png'
        }
        if (html.includes('data:image/jpeg;')) {
          type = 'jpeg'
        }
        if (html.includes('data:image/gif;')) {
          type = 'gif'
        }
        if (html.includes('data:image/bmp;')) {
          type = 'bmp'
        }
        if (html.includes('data:image/webp;')) {
          type = 'webp'
        }
        document.querySelector('#hidden_layer').innerHTML = html
        const base64String = html
          .split('data:image/')[1]
          .split(';')[1]
          .split('">')[0]
          .split('base64,')[1]
        this.$axios
          .post('http://13.124.52.145:5001/auth/test_base_64', {
            data: base64String,
            type,
          })
          .then((res) => {
            const imgAddress = res.data.data
            const imgTag = document.querySelectorAll('#hidden_layer img')
            imgTag.forEach((e) => {
              if (e.getAttribute('src').indexOf(base64String))
                e.setAttribute('src', imgAddress)
            })
            this.project[id].content =
              document.querySelector('#hidden_layer').innerHTML
          })
      }
    },
    project_add() {
      this.project.push({})
    },
    async open_project_detail(id, project_id) {
      this.project_detail_id = project_id
      this.inqury_detail_id = id
      await this.$axios.get(`${this.$URL.INQUIRY}/${id}`).then((res) => {
        this.is_urgent = res.data.is_urgent
        this.received_channel = res.data.received_channel
        this.received_at = res.data.received_at
        this.received_at_time = this.moment(this.moment(res.data.received_at).format('HH:mm'), 'HH:mm')
        this.received_worker = res.data.received_worker
        this.client_company_name = res.data.client_company_name
        this.client_person = res.data.client_person
        this.client_person_tel = res.data.client_person_tel
        this.is_prepayed_deliver = res.data.is_prepayed_deliver
        this.delivery_method = res.data.delivery_method
        this.domain_location = res.data.domain_location
        this.content = res.data.content
        this.sender = res.data.sender
        this.etc = res.data.etc
        this.receiver = res.data.receiver
        this.inquiry_end_due = res.data.inquiry_end_due
        this.inquiry_final_due = res.data.inquiry_final_due
        this.receiver_address = res.data.receiver_address
        this.project = res.data.project.filter((e) => e.id === project_id)
        this.modal_diseditable = true
        this.modal_visible = true
        this.modal_register = false
        this.project[0].worker = this.project[0].worker
          ? this.project[0].worker.replace('{', '').replace('}', '')
          : ''
        this.project[0].machine = this.project[0].machine? this.project[0].machine.split("/") : ''
      })
    },
    search() {
      // console.log(this.origin_data.filter( e=> e.received_worker.includes(this.searchKeyword) ))
      this.filtered_data = this.origin_data.filter(
        (e) =>
          e.project_name.toLowerCase().includes(this.searchKeyword.toLowerCase()) ||
          e.received_worker.toLowerCase().includes(this.searchKeyword.toLowerCase()) ||
          e.orderer.toLowerCase().includes(this.searchKeyword.toLowerCase())
      )
       if(!this.all_date){
        this.filtered_data = this.filtered_data.filter(e=>this.moment(this.from_date) <= this.moment(e.ordered_at) && this.moment(this.to_date).endOf('day') >= this.moment(e.ordered_at) ) 
      }
    },
    async process_update(id, process, value) {
      if(process === 'produce'){
        if( this.origin_data.find(e=>e.id===id).design === false && value === true ){
            this.$notification.success({
              message: '프로젝트 변경 실패',
              description: '데이터 작업이 완료되었는지 확인해주세요',
            })
            return false
        }
      }

      if (process === 'produce_complete') {
        this.complete_target = id
        this.complete_visible = true
      } else {
        if(process === 'confirm_data'){ 
          value = this.moment()
          const { data , ...etc } = await this.$axios.get(`${this.$URL.USER}/${this.getCookie('user_id')}`)
          if( data.user_type !=='임원' ){
            if(confirm("임원계정이 아닙니다. 프로젝트 확인을 진행하시겠습니까?")){
              console.log(data)
              await this.$axios
                .put(`${this.$URL.PROJECT}/${id}`, {
                  [process]: `${data.user_name}/${this.moment().format("YYYY-MM-DD")}`,
                })
                .then((res) => {
                  this.$notification.success({
                    message: '프로젝트 변경',
                    description: '프로젝트가 성공적으로 변경되었습니다.',
                  })
                  this.get_data()
                })
            }
            }else{
              await this.$axios
                .put(`${this.$URL.PROJECT}/${id}`, {
                  [process]: `${data.user_name}/${this.moment().format("YYYY-MM-DD")}`,
                })
                .then((res) => {
                  this.$notification.success({
                    message: '프로젝트 변경',
                    description: '프로젝트가 성공적으로 변경되었습니다.',
                  })
                  this.get_data()
                })
            }
         
          return false
        }
        await this.$axios
          .put(`${this.$URL.PROJECT}/${id}`, {
            [process]: value,
          })
          .then((res) => {
            this.$notification.success({
              message: '프로젝트 변경',
              description: '프로젝트가 성공적으로 변경되었습니다.',
            })
            this.get_data()
          })
      }
      
    },
    getCookie(cookieName) {
      let cookieValue = null
      if (document.cookie) {
        const array = document.cookie.split(escape(cookieName) + '=')
        if (array.length >= 2) {
          const arraySub = array[1].split(';')
          cookieValue = unescape(arraySub[0])
        }
      }
      return cookieValue
    },
    complete_cancel() {
      this.complete_visible = false
    },
    async complete_handle() {
      await this.$axios
        .put(`${this.$URL.PROJECT}/${this.complete_target}`, {
          fault_etc: this.fault_etc,
          produce_complete: true,
        })
        .then((res) => {
          this.fault_etc = ''
          this.complete_visible = false
          this.$notification.success({
            message: '프로젝트 생산 완료',
            description: '프로젝트가 성공적으로 생산되었습니다.',
          })
          this.get_data()
        })
    },
    open_modal_and_print(id, project_id){
      this.open_project_detail(id, project_id)
      setTimeout(()=>{
         this.print_status = true
          this.$nextTick(() => {
              window.print()
            })
        
      },2000)
     
    },
    print() {
      this.print_status = true
      this.$nextTick(() => {
        window.print()
      })

    },
    async delete_project() {
      for (const e of this.selectedRowKeys) {
        const id = this.filtered_data[e].id
        await this.$axios.delete(`${this.$URL.PROJECT}/${id}`)
      }
      this.get_data()
      this.search()
      this.selectedRowKeys = []
    },
  },
}
</script>

<style>
@media print {
  .ant-modal-content {
    box-shadow: none !important;
  }
  .project_modal * {
  }
  .project_modal .ant-modal {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    overflow: visible;
    width: 1100px;
  }
  .ant-modal-wrap {
    position: absolute !important;
    overflow: visible !important;
  }
}
#components-layout-demo-side .logo {
  margin: 16px;
}
.ant-layout-sider-zero-width-trigger {
  position: absolute;
  top: 0px;
  right: -36px;
  z-index: 1;
  width: 36px;
  height: 42px;
  color: #fff;
  font-size: 18px;
  line-height: 42px;
  text-align: center;
  background: #001529;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background 0.3s ease;
}
.ant-layout-header {
  height: 42px;
  padding: 0 50px;
  line-height: 64px;
  background: #001529;
}

.ant-advanced-search-form {
  padding: 24px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}

.ant-advanced-search-form .ant-form-item {
  display: flex;
}

.ant-advanced-search-form .ant-form-item-control-wrapper {
  flex: 1;
}

.advanced-search .ant-form {
  max-width: none;
}
.advanced-search .search-result-list {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fff;
  min-height: 200px;
  text-align: center;
  padding-top: 00px;
}
.ant-advanced-search-form .ant-form-item {
  margin-bottom: 0px !important;
}
span.ant-radio + * {
  padding-right: 0px;
  padding-left: 0px;
}
.ant-form-item {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  font-feature-settings: 'tnum', 'tnum';
  margin-bottom: 4px !important;
  vertical-align: top;
}
.searchKeyword .ant-form-item-control-wrapper {
  width: 100%;
}

.project-list .ant-table-thead > tr > th,
.project-list .ant-table-tbody > tr > td {
  padding: 6px 6px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.project-list .ant-table-thead > tr > th {
  font-weight: bold;
}
.project-list .ant-table-tbody > tr > td {
  padding: 10px 6px !important;
}
.projectName {
  padding-right: 80px;
}
.delivery_method {
  width: 100px;
  padding: 3px;
}
.project_modal .ant-input-disabled {
  color: #000 !important;
  background-color: #fff;
  border: transparent !important;
  font-weight: bold;
}
.project_modal .ant-select-disabled .ant-select-selection {
  color: #000 !important;
  background-color: #fff;
  border: transparent !important;
  font-weight: bold;
}
.project_modal .ant-select-disabled .ant-select-arrow {
  display: none;
}
.ant-time-picker-input[disabled] {
  color: #000 !important;
  background-color: #fff;
  border: transparent !important;
  font-weight: bold;
}
.ant-form-explain {
  margin-bottom: 0px !important;
  position: absolute;
  top: -8px;
  left: 10px;
  display: none;
}
.modal_diseditable .ant-form-explain {
  margin-bottom: 0px !important;
  position: absolute;
  top: -8px;
  left: 10px;
  display: initial;
}

.project_modal.modal_diseditable .ql-toolbar {
  height: 0px !important;
  overflow: hidden !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  border-top: none !important;
}
.project_modal.modal_diseditable
  .ant-select-disabled
  .ant-select-selection__choice {
  color: #000 !important;
  background-color: #fff;
  border: transparent !important;
  font-weight: bold;
}
.machine_schedule .ant-drawer-content-wrapper {
  height: 100% !important;
}
.machine_schedule_day .ant-card-body {
  padding: 2px !important;
}
.machine_schedule_item .ant-card-head {
  padding: 0 3px !important;
  min-height: 24px !important;
}
.machine_schedule_item .ant-card-head-title {
  padding: 3px 0 !important;
}
.machine_schedule_day .ant-card-head-title {
  padding: 3px 0 !important;
}
.machine_schedule_day .ant-card-head {
  min-height: 29px !important;
  padding: 0 6px !important;
}
.ant-table colgroup > col.ant-table-selection-col {
    width: 30px;
}

.ant-table-tbody > tr > td {
    padding: 6px 6px !important;
    overflow: hidden;

}
.ant-table-thead > tr > td {
    padding: 6px 6px !important;
    overflow: hidden; 
    white-space: nowrap;
}
.project_modal .ant-cascader-picker-disabled .ant-cascader-picker-label {
    color: #000 !important;
    background-color: #fff;
    border: transparent !important;
    font-weight: bold;
}
</style>

