/* eslint-disable vue/no-unused-vars */
<template>
  <a-layout id="components-layout-demo-side" style="min-height: 100vh">
    <aside-menu></aside-menu>
    <a-layout style="min-width: 375px">
      <header-menu />
      <a-layout-content style="margin: 0 16px">
        <a-breadcrumb style="margin: 16px 0">
          <a-breadcrumb-item>판매 관리</a-breadcrumb-item>
          <a-breadcrumb-item>문의 관리</a-breadcrumb-item>
        </a-breadcrumb>
        <div
          :style="{ padding: '24px', background: '#fff', minHeight: '360px' }"
        >
          <div class="advanced-search">
            <a-form class="ant-advanced-search-form">
              <a-row :gutter="24">
                <a-col :xs="24" :md="12" :lg="10" :xl="6">
                  <a-form-item style="width: 100%" class="searchKeyword">
                    <a-input
                      v-model="searchKeyword"
                      style="width: 100%"
                      placeholder="회사/제목을 입력해 주세요."
                    >
                    </a-input>
                  </a-form-item>
                </a-col>
                <a-col :xs="24" :md="12" :lg="9" :xl="10">
                   <a-col :xs="24" :md="12" :lg="10" :xl="24">
                    기간:
                      <a-date-picker v-model="from_date" /> ~ 
                      <a-date-picker v-model="to_date" />
                      <span class="clickable" @click="all_date=false;from_date=moment().add('-7','days');to_date=moment()">최근 1주일</span>
                      <span class="clickable" @click="all_date=false;from_date=moment().add('-30','days');to_date=moment()">최근 30일</span>
                      <span class="clickable" @click="all_date=true;from_date='';to_date=''">전체</span>
                     
                  </a-col>
                </a-col>
                <a-col
                  :xs="24"
                  :md="24"
                  :lg="5"
                  :xl="8"
                  :style="{ textAlign: 'right' }"
                >
                  <a-button @click="search()" type="primary" html-type="submit">
                    검색
                  </a-button>
                  <a-button type="danger" @click="$router.go($router.currentRoute)" class="refresh">검색 초기화</a-button>

                  <a-button
                    @click="
                      showModal()
                      modal_title = '문의 등록'
                    "
                    >문의 등록</a-button
                  >
                  <a-button
                    type=""
                    :disabled="selectedRowKeys.length == 0"
                    @click="delete_menu()"
                  >
                    삭제
                  </a-button>
                </a-col>
              </a-row>
            </a-form>
            <div class="search-result-list question-list">
              <a-table
                :columns="columns"
                :data-source="filtered_data"
                bordered
                :row-selection="{
                  selectedRowKeys: selectedRowKeys,
                  onChange: onSelectChange,
                }"
                :scroll="{ x: 'calc(700px + 50%)' }"
                :pagination="{ defaultPageSize: 30, showSizeChanger: true, pageSizeOptions: ['10', '20', '30','40','50']}"
              >
                <template slot="question_title" slot-scope="title, record">
                  <span
                    class="clickable"
                    @click="
                      open_question_detail(record.id)
                      modal_title = '문의 조회'
                    "
                    >{{ title }}</span
                  >
                </template>

                <template slot="status" slot-scope="status, record">
                  <span @click="toggle_question(record.id)" class="clickable" v-if="status==='응답 대기'" style="color:red;font-weight:bold">응답 대기</span>
                  <span @click="toggle_question(record.id)" class="clickable" v-else style="">응답 완료</span>
                </template>
               
              </a-table>
            </div>
          </div>
        </div>
      </a-layout-content>

      <Footer></Footer>
    </a-layout>

    <a-modal
      :title="modal_title"
      :visible="modal_visible"
      :confirm-loading="confirmLoading"
      :width="800"
      :closable="true"
      :class="{ modal_diseditable: modal_diseditable }"
      class="project_modal"
    >
      <template slot="closeIcon">
        <a-icon @click="handleCancel()" type="close"
      /></template>
      <a-form>
        <a-row>
          <a-col :xs="24" :md="24" :lg="18">
            <a-form-item help="상호">
              <a-input
                v-model="title"
                :disabled="modal_diseditable"
                placeholder="문의 제목"
              />
            </a-form-item>
          </a-col>
          <a-col :xs="24" :md="24" :lg="6">
            <a-form-item help="진행 상태">
              <a-select
                v-model="status"
                placeholder="진행 상태"
                :disabled="modal_diseditable"
              >
                <a-select-option value="응답 대기">응답 대기</a-select-option>
                <a-select-option value="응답 완료">응답 완료</a-select-option>
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :xs="24" :md="24" :lg="6">
            <a-form-item help="회사">
              <a-input
                v-model="co_name"
                :disabled="modal_diseditable"
                placeholder="회사"
              />
            </a-form-item>
          </a-col>
          <a-col :xs="24" :md="24" :lg="6">
            <a-form-item help="담당자">
              <a-input
                v-model="person"
                :disabled="modal_diseditable"
                placeholder="담당자"
              />
            </a-form-item>
          </a-col>
          <a-col :xs="24" :md="24" :lg="6">
            <a-form-item help="연락처">
              <a-input
                v-model="contact"
                :disabled="modal_diseditable"
                placeholder="연락처"
              />
            </a-form-item>
          </a-col>
          <a-col :xs="24" :md="24" :lg="6">
            <a-form-item help="휴대폰">
              <a-input
                v-model="cellphone"
                :disabled="modal_diseditable"
                placeholder="휴대폰"
              />
            </a-form-item>
          </a-col>

          <a-col :xs="24" :md="24" :lg="6">
            <a-form-item help="이메일">
              <a-input
                v-model="email"
                :disabled="modal_diseditable"
                placeholder="이메일"
              />
            </a-form-item>
          </a-col>
          <a-col :xs="24" :md="24" :lg="6">
            <a-form-item help="팩스">
              <a-input
                v-model="fax"
                :disabled="modal_diseditable"
                placeholder="팩스"
              />
            </a-form-item>
          </a-col>
          <a-col :xs="24" :md="24" :lg="12">
            <a-form-item help="비고">
              <a-input
                v-model="note"
                :disabled="modal_diseditable"
                placeholder="비고"
              />
            </a-form-item>
          </a-col>
          <a-col :xs="24" :md="24" :lg="24">
            <a-form-item>
              <client-only>
                <quill-editor
                  ref="editor"
                  v-model="content"
                  :options="editorOption"
                  :disabled="modal_diseditable"
                  @blur="onEditorBlur($event)"
                  @focus="onEditorFocus($event)"
                  @ready="onEditorReady($event)"
                  @change="onEditorChange($event)"
                />
              </client-only>
            </a-form-item>
          </a-col>
        </a-row>
      </a-form>
      <template slot="footer">
        <!-- 수정 -->
        <a-button
          v-if="modal_diseditable == true"
          @click="
            modal_title = '문의 수정'
            modal_diseditable = false
            modal_register = false
          "
        >
          수정
        </a-button>

        <!-- 조회 -->
        <a-button
          v-if="modal_diseditable == false && modal_register == false"
          type="primary"
          @click="update_question"
        >
          수정하기
        </a-button>

        <!-- 등록 -->
        <a-button
          v-if="modal_diseditable == false && modal_register == true"
          type=""
          @click="handleCancel"
        >
          취소
        </a-button>
        <a-button
          v-if="modal_diseditable == false && modal_register == true"
          type="primary"
          @click="handleOk"
        >
          등록하기
        </a-button>
      </template>
    </a-modal>

    <div id="hidden_layer" style="display: none"></div>
  </a-layout>
</template>
<script>
import moment from 'moment'
import 'moment/locale/ko'

moment.locale('ko')
const columns = [
  
  {
    title: '문의날짜/시간',
    dataIndex: 'created_at',
    key: 'created_at',
    width: 90,
    sorter: (a, b) =>
      parseInt(
        moment.duration(moment(a.created_at).diff(b.created_at)).asMinutes()
      ),
    align:"center"
  },
  {
    title: '문의 제목',
    dataIndex: 'title',
    key: 'title',
    width: 400,
    scopedSlots: { customRender: 'question_title' },
  },
  {
    title: '회사명',
    dataIndex: 'co_name',
    key: 'co_name',
    width: 100,
    align:"center"
  },
  {
    title: '담당자',
    dataIndex: 'person',
    key: 'person',
    width: 100,
    align:"center"
  },
  {
    title: '연락처',
    dataIndex: 'contact',
    key: 'contact',
    width: 80,
    align:"center"
  },
  {
    title: '이메일',
    dataIndex: 'email',
    key: 'received_channel',
    width: 100,
    align:"center"
  },
  {
    title: '상태',
    dataIndex: 'status',
    key: 'status',
    width: 90,
    align:"center",
    scopedSlots: { customRender: 'status' },
  },
]

export default {
  data() {
    return {
      modal_title: '',
      selectedRowKeys: [], // Check here to configure the default column
      searchKeyword: '',
      columns,
      moment,
      visible: false,
      modal_visible: false,
      modal_diseditable: false,
      modal_register: true,
      content: '',
      from_date:"",
      to_date:"",
      all_date: true,
      target_id: '',
      editorOption: {
        // Some Quill options...
        theme: 'snow',
        modules: {
          toolbar: [
            ['bold', 'italic', 'underline', 'strike'], // toggled buttons
            ['blockquote', 'code-block'],
            [{ header: 1 }, { header: 2 }], // custom button values
            [{ list: 'ordered' }, { list: 'bullet' }],
            [{ script: 'sub' }, { script: 'super' }], // superscript/subscript
            [{ indent: '-1' }, { indent: '+1' }], // outdent/indent
            [{ direction: 'rtl' }],
            [{ size: ['small', false, 'large', 'huge'] }], // custom dropdown
            [{ header: [1, 2, 3, 4, 5, 6, false] }],
            [{ color: [] }, { background: [] }], // dropdown with defaults from theme
            [{ font: [] }],
            [{ align: [] }],
            ['link', 'image'],
            ['clean'],
          ],
        },
      },
      // 문의 내용 관련 데이터
      title: '',
      status: '응답 대기',
      co_name: '',
      person: '',
      contact: '',
      cellphone: '',
      email: '',
      fax: '',
      note: '',
      filtered_data: [],
      origin_data: [],
    }
  },
  mounted() {
    function getCookie(cookieName) {
      let cookieValue = null
      if (document.cookie) {
        const array = document.cookie.split(escape(cookieName) + '=')
        if (array.length >= 2) {
          const arraySub = array[1].split(';')
          cookieValue = unescape(arraySub[0])
        }
      }
      if (cookieValue === null) {
        alert('페이지 권한이 없습니다.')
        location.href = '/dashboard'
      }
      return cookieValue
    }
    this.$axios.get(`${this.$URL.USER}/${getCookie('user_id')}`).then((res) => {
      if (res.data.right[this.$route.name] === false) {
        alert('페이지 권한이 없습니다.')
        location.href = '/dashboard'
      }
    })
    this.get_data()
  },
  watch:{
    all_date(cur,af){
      if(this.all_date === true){
        this.to_date = ""
        this.from_date=""
      }
    },
    from_date(cur,af){
      if( this.from_date !== '' ){
        this.all_date = false
      }
    },
    to_date(cur,af){
      if( this.to_date !== '' ){
        this.all_date = false
      }
    }
  },
  methods: {
    get_data() {
      this.origin_data = []
      this.filtered_data = []
      this.$axios.get(`${this.$URL.QUESTION}`).then((res) => {
        this.origin_data = res.data.map((e) => {
          return {
            ...e,
            created_at: moment(e.created_at).format('YYYY-MM-DD \n HH:mm'),
          }
        })
        this.filtered_data = res.data.map((e) => {
          return {
            ...e,
            created_at: moment(e.created_at).format('YYYY-MM-DD \n HH:mm'),
          }
        })
      })
    },
    show_alert(str) {
      alert(str)
    },
    showModal() {
      this.reset_question_modal_data()
      this.modal_diseditable = false
      this.modal_visible = true
      this.modal_register = true
    },
    onClose() {
      this.visible = false
    },
    onChange(e) {
      this.placement = e.target.value
    },
    reset_question_modal_data() {
      this.title = ''
      this.attached_file_0 = ''
      this.status = '응답 대기'
      this.co_name = ''
      this.person = ''
      this.contact = ''
      this.cellphone = ''
      this.email = ''
      this.fax = ''
      this.note = ''
    },
    async handleOk(e) {
      await this.$axios
        .post(this.$URL.QUESTION, {
          title: this.title,
          attached_file_0: this.attached_file_0,
          status: this.status,
          co_name: this.co_name,
          person: this.person,
          contact: this.contact,
          cellphone: this.cellphone,
          email: this.email,
          fax: this.fax,
          note: this.note,
          content: this.content,
          created_at: moment().toISOString(),
        })
        .then((res) => {
          this.reset_question_modal_data()
          this.modal_visible = false
          this.get_data()
        })
    },
    async update_question() {
      await this.$axios
        .put(`${this.$URL.QUESTION}/${this.target_id}`, {
          title: this.title,
          attached_file_0: this.attached_file_0,
          status: this.status,
          co_name: this.co_name,
          person: this.person,
          contact: this.contact,
          cellphone: this.cellphone,
          email: this.email,
          fax: this.fax,
          note: this.note,
          content: this.content,
        })
        .then((res) => {
          this.reset_question_modal_data()
          this.modal_visible = false
          this.get_data()
        })
    },
    async toggle_question(id){
       await this.$axios
        .put(`${this.$URL.QUESTION}/${id}`, {         
          status: this.origin_data.find(e=>e.id===id).status==="응답 완료"?"응답 대기":"응답 완료"        
        })
        .then((res) => {
          this.reset_question_modal_data()
          this.modal_visible = false
          this.get_data()
        })
    },
    open_question_detail(id) {
      this.$axios.get(`${this.$URL.QUESTION}/${id}`).then((res) => {
        this.content = res.data.content
        this.title = res.data.title
        this.attached_file_0 = res.data.attached_file_0
        this.status = res.data.status
        this.co_name = res.data.co_name
        this.person = res.data.person
        this.contact = res.data.contact
        this.cellphone = res.data.cellphone
        this.email = res.data.email
        this.fax = res.data.fax
        this.note = res.data.note
        this.modal_visible = true
        this.modal_register = false
        this.modal_diseditable = true
        this.target_id = res.data.id
      })
    },
    handleCancel() {
      this.modal_visible = false
      this.content = ""
      this.title = ''
      this.attached_file_0 = ''
      this.status = '응답 대기'
      this.co_name = ''
      this.person = ''
      this.contact = ''
      this.cellphone = ''
      this.email = ''
      this.fax = ''
      this.note = ''
    },

    handleChange() {},
    handleBlur() {},
    handleFocus() {},
    onEditorBlur() {},
    onEditorFocus() {},
    onEditorReady() {},
    onEditorChange({ quill, html, text }) {
      if (
        html.includes('data:image/png;') ||
        html.includes('data:image/jpeg;') ||
        html.includes('data:image/gif;') ||
        html.includes('data:image/bmp;') ||
        html.includes('data:image/webp;')
      ) {
        let type
        if (html.includes('data:image/png;')) {
          type = 'png'
        }
        if (html.includes('data:image/jpeg;')) {
          type = 'jpeg'
        }
        if (html.includes('data:image/gif;')) {
          type = 'gif'
        }
        if (html.includes('data:image/bmp;')) {
          type = 'bmp'
        }
        if (html.includes('data:image/webp;')) {
          type = 'webp'
        }
        document.querySelector('#hidden_layer').innerHTML = html
        const base64String = html
          .split('data:image/')[1]
          .split(';')[1]
          .split('">')[0]
          .split('base64,')[1]
        this.$axios
          .post('http://13.124.52.145:5001/auth/test_base_64', {
            data: base64String,
            type,
          })
          .then((res) => {
            const imgAddress = res.data.data
            const imgTag = document.querySelectorAll('#hidden_layer img')
            imgTag.forEach((e) => {
              if (e.getAttribute('src').indexOf(base64String))
                e.setAttribute('src', imgAddress)
            })
            this.content = document.querySelector('#hidden_layer').innerHTML
          })
      }
    },

    search() {
      this.filtered_data = this.origin_data.filter(
        (e) =>
          e.co_name.toLowerCase().includes(this.searchKeyword.toLowerCase()) ||
          e.person.toLowerCase().includes(this.searchKeyword.toLowerCase()) ||
          e.title.toLowerCase().includes(this.searchKeyword.toLowerCase())
      )
      if(!this.all_date){
        this.filtered_data = this.filtered_data.filter(e=>this.moment(this.from_date) <= this.moment(e.created_at) && this.moment(this.to_date).endOf('day') >= this.moment(e.created_at) ) 
      }
    },
    onSelectChange(selectedRowKeys) {
      console.log('selectedRowKeys changed: ', selectedRowKeys)
      this.selectedRowKeys = selectedRowKeys
    },
    async delete_menu() {
      for (const e of this.selectedRowKeys) {
        const id = this.filtered_data[e].id
        await this.$axios.delete(`${this.$URL.QUESTION}/${id}`)
      }
      this.get_data()
      this.search()
      this.selectedRowKeys = []
    },
  },
}
</script>

<style>
#components-layout-demo-side .logo {
  margin: 16px;
}
.ant-layout-sider-zero-width-trigger {
  position: absolute;
  top: 0px;
  right: -36px;
  z-index: 1;
  width: 36px;
  height: 42px;
  color: #fff;
  font-size: 18px;
  line-height: 42px;
  text-align: center;
  background: #001529;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background 0.3s ease;
}
.ant-layout-header {
  height: 42px;
  padding: 0 50px;
  line-height: 64px;
  background: #001529;
}

.ant-advanced-search-form {
  padding: 24px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}

.ant-advanced-search-form .ant-form-item {
  display: flex;
}

.ant-advanced-search-form .ant-form-item-control-wrapper {
  flex: 1;
}

.advanced-search .ant-form {
  max-width: none;
}
.advanced-search .search-result-list {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fff;
  min-height: 200px;
  text-align: center;
  padding-top: 00px;
}
.ant-advanced-search-form .ant-form-item {
  margin-bottom: 0px !important;
}
span.ant-radio + * {
  padding-right: 0px;
  padding-left: 0px;
}
.ant-form-item {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  font-feature-settings: 'tnum', 'tnum';
  margin-bottom: 4px !important;
  vertical-align: top;
}
.searchKeyword .ant-form-item-control-wrapper {
  width: 100%;
}

.project-list .ant-table-thead > tr > th,
.project-list .ant-table-tbody > tr > td {
  padding: 6px 6px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.project-list .ant-table-thead > tr > th {
  font-weight: bold;
}
.project-list .ant-table-tbody > tr > td {
  padding: 10px 6px !important;
}
.projectName {
  padding-right: 80px;
}
.delivery_method {
  width: 100px;
  padding: 3px;
}
.project_modal .ant-input-disabled {
  color: #000 !important;
  background-color: #fff;
  border: transparent !important;
  font-weight: bold;
}
.project_modal .ant-select-disabled .ant-select-selection {
  color: #000 !important;
  background-color: #fff;
  border: transparent !important;
  font-weight: bold;
}
.project_modal .ant-select-disabled .ant-select-arrow {
  display: none;
}
.ant-time-picker-input[disabled] {
  color: #000 !important;
  background-color: #fff;
  border: transparent !important;
  font-weight: bold;
}
.ant-form-explain {
  margin-bottom: 0px !important;
  position: absolute;
  top: -8px;
  left: 10px;
  display: none;
}
.modal_diseditable .ant-form-explain {
  margin-bottom: 0px !important;
  position: absolute;
  top: -8px;
  left: 10px;
  display: initial;
}

.project_modal.modal_diseditable .ql-toolbar {
  height: 0px !important;
  overflow: hidden !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  border-top: none !important;
}
.project_modal.modal_diseditable
  .ant-select-disabled
  .ant-select-selection__choice {
  color: #000 !important;
  background-color: #fff;
  border: transparent !important;
  font-weight: bold;
}
.ant-table-thead > tr > th {
    font-weight: bold;
}
/* .ant-table-selection-column{
  max-width: 30px;
} */
.ant-table colgroup > col.ant-table-selection-col {
    width: 30px;
}
.ant-table-tbody > tr > td {
    padding: 6px 6px !important;
    overflow: hidden;

}
.ant-table-thead > tr > td {
    padding: 6px 6px !important;
    overflow: hidden; 
    white-space: nowrap;
}
</style>
