<template>
  <a-layout id="components-layout-demo-side" style="min-height: 100vh">
    <aside-menu></aside-menu>
    <a-layout style="min-width: 375px">
      <header-menu/>
      <a-layout-content style="margin: 0 16px">
        <a-breadcrumb style="margin: 16px 0">
          <a-breadcrumb-item>기준정보 관리</a-breadcrumb-item>
          <a-breadcrumb-item>사용자 권한 관리</a-breadcrumb-item>
        </a-breadcrumb>
        <div
          :style="{ padding: '24px', background: '#fff', minHeight: '360px' }"
        >
          <div class="advanced-search">
            <a-form
              class="ant-advanced-search-form"
              :form="form"
              @submit="handleSearch"
            >
              <a-row :gutter="24">
                <a-col :xs="24" :md="12" :lg="10" :xl="7">
                  <a-form-item style="width: 100%" class="searchKeyword">
                    <a-input
                       v-model="searchKeyword"
                      style="width: 100%"
                      placeholder="유저 이름을 입력해 주세요."
                        @keyup.enter="search"
                    >
                    </a-input>
                  </a-form-item>
                </a-col>
                <a-col
                  :xs="24"
                  :md="24"
                  :lg="5"
                  :xl="17"
                  :style="{ textAlign: 'right' }"
                >
                  <a-button type="primary" @click="search"> 검색 </a-button>
                  <a-button type="danger" @click="$router.go($router.currentRoute)" class="refresh">검색 초기화</a-button>

                  <a-button :disabled="disabled" @click="changeRight"> 수정 </a-button>
                </a-col>
              </a-row>
            </a-form>
            <div class="search-result-list userRightControl">
              <a-table
                :scroll="{ x: 1500 }"
                :columns="columns"
                :data-source="filtered_data"
                :pagination="{ defaultPageSize: 30, showSizeChanger: true, pageSizeOptions: ['10', '20', '30','40','50']}"
                  :row-selection="{
                  selectedRowKeys: selectedRowKeys,
                  onChange: onSelectChange,
                }"
                bordered
              >
                <template slot="question" slot-scope="question,record">
                  <a-checkbox :checked="question"   
                  @change="record.question=!record.question"
                    @click="disabled=false" />
                </template>
                <template slot="project_mng" slot-scope="project_mng,record">
                  <a-checkbox    
                    :checked="project_mng"             
                    @change="record.project_mng=!record.project_mng"
                    @click="disabled=false"
                  />
                 
                </template>
                <template slot="delivery" slot-scope="delivery,record">
                  <a-checkbox
                    :checked="record.delivery"
                    @change="record.delivery=!record.delivery"
                    @click="disabled=false"
                  />
                </template>
                <template slot="warehouse_etc" slot-scope="warehouse_etc,record">
                  <a-checkbox
                    :checked="record.warehouse_etc"
                    @change="record.warehouse_etc=!record.warehouse_etc"
                    @click="disabled=false"
                  />
                </template>

                <template slot="warehouse_product" slot-scope="warehouse_product,record">
                  <a-checkbox
                    :checked="record.warehouse_product"
                    @change="record.warehouse_product=!record.warehouse_product"
                    @click="disabled=false"
                  />
                </template>
                <template
                  slot="item"
                  slot-scope="item,record"
                >
                  <a-checkbox
                    :checked="record.item"
                    @change="record.item=!record.item"
                    @click="disabled=false"
                  />
                </template>
                <template
                  slot="partner"
                  slot-scope="partner,record"
                >
                  <a-checkbox
                    :checked="record.partner"
                    @change="record.partner=!record.partner"
                    @click="disabled=false"
                  />
                </template>
                <template
                  slot="facility"
                  slot-scope="facility,record"
                >
                  <a-checkbox
                    :checked="record.facility"
                    @change="record.facility=!record.facility"
                    @click="disabled=false"
                  />
                </template>

                <template slot="location" slot-scope="location,record">
                  <a-checkbox :checked="record.location" 
                  @change="record.location=!record.location"
                    @click="disabled=false" />
                </template>
                <template slot="label" slot-scope="label,record">
                  <a-checkbox
                    :checked="record.label"
                    @change="record.label=!record.label"
                    @click="disabled=false"
                  />
                </template>
                <template slot="code" slot-scope="code,record">
                  <a-checkbox
                    :checked="record.code"
                    @change="record.code=!record.code"
                    @click="disabled=false"
                  />
                </template>
                <template slot="notice" slot-scope="notice,record">
                  <a-checkbox
                    :checked="record.notice"
                    @change="record.notice=!record.notice"
                    @click="disabled=false"
                  />
                </template>

                <template slot="userList" slot-scope="userList,record">
                  <a-checkbox :checked="record.userList" 
                    @change="record.userList=!record.userList"
                    @click="disabled=false" />
                </template>
                <template slot="userRightControl" slot-scope="userRightControl,record">
                  <a-checkbox
                    :checked="record.userRightControl"
                    @change="record.userRightControl=!record.userRightControl"
                    @click="disabled=false"
                  />
                </template>
                <template slot="menu" slot-scope="menu,record">
                  <a-checkbox
                    :checked="record.menu"
                    @change="record.menu=!record.menu"
                    @click="disabled=false"
                  />
                </template>
                <template slot="log" slot-scope="log,record">
                  <a-checkbox
                    :checked="record.log"
                    @change="record.log=!record.log"
                    @click="disabled=false"
                  />
                </template>

                <template slot="project" slot-scope="project,record">
                  <a-checkbox :checked="record.project" 
                    @change="record.project=!record.project"
                    @click="disabled=false" />
                </template>
                <template slot="cur_delivery" slot-scope="cur_delivery,record">
                  <a-checkbox :checked="record.cur_delivery" 
                    @change="record.cur_delivery=!record.cur_delivery"
                    @click="disabled=false" />
                </template>
                <template slot="cur_facility" slot-scope="cur_facility,record">
                  <a-checkbox :checked="record.cur_facility" 
                    @change="record.cur_facility=!record.cur_facility"
                    @click="disabled=false" />
                </template>
                <template slot="cur_warehouse" slot-scope="cur_warehouse,record">
                  <a-checkbox :checked="record.cur_warehouse" 
                    @change="record.cur_warehouse=!record.cur_warehouse"
                    @click="disabled=false" />
                </template>

                  <template slot="project_detail" slot-scope="project_detail,record">
                  <a-checkbox :checked="record.project_detail" 
                    @change="record.project_detail=!record.project_detail"
                    @click="disabled=false" />
                </template>   <template slot="complete" slot-scope="complete,record">
                  <a-checkbox :checked="record.complete" 
                    @change="record.complete=!record.complete"
                    @click="disabled=false" />
                </template>

              </a-table>
            </div>
          </div>
        </div>
      </a-layout-content>

      <Footer></Footer>
    </a-layout>
  </a-layout>
</template>
<script>
const columns = [
  {
    title: '유저 이름',
    dataIndex: 'user_name',
    fixed: 'left',
    width: 150,
  },
  {
    title: '아이디',
    dataIndex: 'user_id',
    fixed: 'left',
    width: 120,
  },
  {
    title: '최초 생성일',
    dataIndex: 'created_at',
    fixed: 'left',
    width: 110,
    scopedSlots: { customRender: 'created_at' },
  },
  {
    title: '판매 관리',
    children: [
      {
        title: '문의 응대 관리',
        dataIndex: 'question',
        scopedSlots: { customRender: 'question' },
        width: 100,
      },
      {
        title: '주문/프로젝트 관리',
        dataIndex: 'project_mng',
        scopedSlots: { customRender: 'project_mng' },
        width: 100,
      },
      {
        title: '출하(배송) 관리',
        dataIndex: 'delivery',
        scopedSlots: { customRender: 'delivery' },
        width: 100,
      },  
    ],
  },
  {
    title: '제조 관리',
    children: [
      {
        title: '작업지시서 관리',
        dataIndex: 'project_detail',
        scopedSlots: { customRender: 'project_detail' },
        width: 100,
      },
      {
        title: '제작 실적 관리',
        dataIndex: 'complete',
        scopedSlots: { customRender: 'complete' },
        width: 100,
      },
    ]
  },
  {
    title: '자재 관리',
    children: [     
      {
        title: '자재 재고 관리',
        dataIndex: 'warehouse_etc',
        scopedSlots: { customRender: 'warehouse_etc' },
        width: 100,
      },
       {
        title: '상품 재고 관리',
        dataIndex: 'warehouse_product',
        scopedSlots: { customRender: 'warehouse_product' },
        width: 100,
      },
    ],
  },
  {
    title: '기준 정보 관리',
    children: [
      {
        title: '아이템 관리',
        dataIndex: 'item',
        scopedSlots: { customRender: 'item' },
        width: 100,
      },
      {
        title: '거래처 관리',
        dataIndex: 'partner',
        scopedSlots: { customRender: 'partner' },
        width: 100,
      },
      {
        title: '설비 관리',
        dataIndex: 'facility',
        scopedSlots: { customRender: 'facility' },
        width: 100,
      },
      {
        title: '창고 관리',
        dataIndex: 'location',
        scopedSlots: { customRender: 'location' },
        width: 100,
      },
      {
        title: '라벨 관리',
        dataIndex: 'label',
        scopedSlots: { customRender: 'label' },
        width: 100,
      },
    ],
  },
  {
    title: '시스템 관리',
    children: [
      {
        title: '공통 코드 관리',
        dataIndex: 'code',
        scopedSlots: { customRender: 'code' },
        width: 100,
      },
      {
        title: '공지사항 관리',
        dataIndex: 'notice',
        scopedSlots: { customRender: 'notice' },
        width: 100,
      },
      {
        title: '사용자 관리',
        dataIndex: 'userList',
        scopedSlots: { customRender: 'userList' },
        width: 100,
      },
      {
        title: '사용자 권한 관리',
        dataIndex: 'userRightControl',
        scopedSlots: { customRender: 'userRightControl' },
        width: 100,
      },
       {
        title: '퀵 메뉴 관리',
        dataIndex: 'menu',
        scopedSlots: { customRender: 'menu' },
        width: 100,
      },
      {
        title: '로그 관리',
        dataIndex: 'log',
        scopedSlots: { customRender: 'log' },
        width: 100,
      },    
    ],
  },
  {
    title: '모니터링',
    children: [
      {
        title: '주문 진행 현황',
        dataIndex: 'project',
        scopedSlots: { customRender: 'project' },
        width: 100,
      },
      {
        title: '출하(배송)현황',
        dataIndex: 'cur_delivery',
        scopedSlots: { customRender: 'cur_delivery' },
        width: 100,
      },
      {
        title: '설비 현황',
        dataIndex: 'cur_facility',
        scopedSlots: { customRender: 'cur_facility' },
        width: 100,
      },
      {
        title: '재고 현황',
        dataIndex: 'cur_warehouse',
        scopedSlots: { customRender: 'cur_warehouse' },
        width: 100,
      },
    ],
  },
]

export default {
  data() {
    return {
      searchKeyword:"",
      drawer_visible: false,   
      visible: false,
      confirmLoading: false,
      partnerType: 'a',
      form: this.$form.createForm(this, { name: 'advanced_search' }),
      confirmDirty: false,
      columns,
      selectedRowKeys: [], // Check here to configure the default column
      loading: false,
      origin_data:[],
      filtered_data:[],
      disabled:true
    }
  },
  computed: {
    hasSelected() {
      return this.selectedRowKeys.length > 0
    },
  },
  beforeCreate() {
    
    this.form = this.$form.createForm(this, { name: 'register' })
    this.$axios.get(this.$URL.USER_RIGHT).then((res) => {
      const date = new Date()
      res.data.filter(e=>e.is_deleted!==true).forEach((e) => {
        this.origin_data.push({
          id: e.id,
          user_id: e.user_id,
          user_name: e.user_name,
          created_at: date.toLocaleDateString('ko-KR'),
          ...e.right
        })
      })
      this.search()
    })
  },
  mounted(){
    function getCookie(cookieName){
        let cookieValue=null;
        if(document.cookie){
            const array=document.cookie.split((escape(cookieName)+'='));
            if(array.length >= 2){
                const arraySub=array[1].split(';');
                cookieValue=unescape(arraySub[0]);
            }
        }
        if( cookieValue === null){
          alert("페이지 권한이 없습니다.")
          location.href="/dashboard"
        }
        return cookieValue;
    }
    this.$axios.get(`${this.$URL.USER}/${getCookie('user_id')}`).then(res=>{
      if( res.data.right[ this.$route.name ] === false ){
        alert("페이지 권한이 없습니다.")
        location.href="/dashboard"
      }
    })
  },
  updated() {
    console.log('updated')
  },
  methods: {
    onClose() {
      this.drawer_visible = false
    },
    showModal() {
      this.visible = true
    },
    handleOk(e) {
      this.ModalText = 'The modal will be closed after two seconds'
      this.confirmLoading = true
      setTimeout(() => {
        this.visible = false
        this.confirmLoading = false
      }, 2000)
    },
    handleCancel(e) {
      console.log('Clicked cancel button')
      this.visible = false
    },
    handleSearch(e) {
      e.preventDefault()
      this.form.validateFields((error, values) => {
        console.log('error', error)
        console.log('Received values of form: ', values)
      })
    },

    handleReset() {
      this.form.resetFields()
    },

    start() {
      this.loading = true
      // ajax request after empty completing
      setTimeout(() => {
        this.loading = false
        this.selectedRowKeys = []
      }, 1000)
    },
    onSelectChange(selectedRowKeys) {
      console.log('selectedRowKeys changed: ', selectedRowKeys)
      this.selectedRowKeys = selectedRowKeys
    },
    async changeRight(){
      await this.$axios.post(this.$URL.USER_RIGHT,this.filtered_data)
      this.filtered_data = []
      this.origin_data = []
      await this.$axios.get(this.$URL.USER_RIGHT).then((res) => {
      const date = new Date()
      res.data.forEach((e) => {
        this.origin_data.push({
          id: e.id,
          user_id: e.user_id,
          user_name: e.user_name,
          created_at: date.toLocaleDateString('ko-KR'),
          ...e.right
        })
      })
      this.search()
    })
    this.disabled=true
    },
    search(){
       this.filtered_data = this.origin_data.filter(
        (e) =>
          e.user_id.includes(this.searchKeyword) ||
          e.user_name.includes(this.searchKeyword)
      )
    }
  },
}
</script>

<style  >
#components-layout-demo-side .logo {
  margin: 16px;
}
.ant-layout-sider-zero-width-trigger {
  position: absolute;
  top: 0px;
  right: -36px;
  z-index: 1;
  width: 36px;
  height: 42px;
  color: #fff;
  font-size: 18px;
  line-height: 42px;
  text-align: center;
  background: #001529;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background 0.3s ease;
}
.ant-layout-header {
  height: 42px;
  padding: 0 50px;
  line-height: 64px;
  background: #001529;
}

.ant-advanced-search-form {
  padding: 24px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}

.ant-advanced-search-form .ant-form-item {
  display: flex;
}

.ant-advanced-search-form .ant-form-item-control-wrapper {
  flex: 1;
}

.advanced-search .ant-form {
  max-width: none;
}
.advanced-search .search-result-list {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fff;
  min-height: 200px;
  text-align: center;
  padding-top: 00px;
}
.ant-advanced-search-form .ant-form-item {
  margin-bottom: 0px !important;
}
span.ant-radio + * {
  padding-right: 0px;
  padding-left: 0px;
}
.ant-form-item {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  font-feature-settings: 'tnum', 'tnum';
  margin-bottom: 4px !important;
  vertical-align: top;
}
.searchKeyword .ant-form-item-control-wrapper {
  width: 100%;
}

.ant-table-tbody > tr > td {
    padding: 6px 6px !important;
    overflow: hidden;

    word-wrap: break-word;
}

.ant-table-thead > tr > th, .ant-table-tbody > tr > td {
    padding: 6px 6px;
    word-wrap: break-word;
}
</style>
