<template>
  <a-layout id="components-layout-demo-side" style="min-height: 100vh">
    <aside-menu></aside-menu>
    <a-layout style="min-width: 375px">
      <header-menu />
      <a-layout-content style="margin: 0 16px">
        <a-breadcrumb style="margin: 16px 0">
          <a-breadcrumb-item>시스템 관리</a-breadcrumb-item>
          <a-breadcrumb-item>사용자 관리</a-breadcrumb-item>
        </a-breadcrumb>
        <div
          :style="{ padding: '24px', background: '#fff', minHeight: '360px' }"
        >
          <div class="advanced-search">
            <a-form class="ant-advanced-search-form">
              <a-row :gutter="24">
                <a-col :xs="24" :md="12" :lg="10" :xl="7">
                  <a-form-item style="width: 100%" class="searchKeyword">
                    <a-input
                      v-model="searchKeyword"
                      style="width: 100%"
                      placeholder="유저 이름또는 아이디를 입력해 주세요."
                      @keyup.enter="search"
                    >
                    </a-input>
                  </a-form-item>
                </a-col>
                <a-col
                  :xs="24"
                  :md="24"
                  :lg="5"
                  :xl="17"
                  :style="{ textAlign: 'right' }"
                >
                  <a-button type="primary" @click="search"> 검색 </a-button>
                  <a-button type="danger" @click="$router.go($router.currentRoute)" class="refresh">검색 초기화</a-button>

                  <a-button @click="visible = true;modal_register =true;modal_diseditable=false"> 등록 </a-button>
                </a-col>
              </a-row>
            </a-form>
            <div class="search-result-list userRightControl">
              <a-table
                :scroll="{ x: 1500 }"
                :columns="columns"
                :data-source="filtered_data"
                :pagination="{ defaultPageSize: 30, showSizeChanger: true, pageSizeOptions: ['10', '20', '30','40','50']}"
                bordered
                :row-selection="{
                  selectedRowKeys: selectedRowKeys,
                  onChange: onSelectChange,
                }"
              >
              <template slot="user_id" slot-scope="user_id,record">
               <span class="clickable" @click="open_user_detail(record.id);modal_diseditable=true; modal_register=false"> {{record.user_id}} </span>
              </template>
              </a-table>
            </div>
          </div>
        </div>
      </a-layout-content>
      <Footer></Footer>
      <a-modal title="유저 등록" :visible="visible">
        <template slot="closeIcon">
          <a-icon type="close" @click="cancel()"
        /></template>
        <a-form>
          <a-row>
            <a-col :xs="24" :md="24" :lg="12">
              <a-form-item>
                <a-input
                  v-model="user_id"
                     :disabled="modal_diseditable"
                  v-decorator="[
                    'user_id',
                    {
                      rules: [
                        {
                          required: true,
                          message: '아이디를 입력해주세요',
                        },
                      ],
                    },
                  ]"
                  placeholder="아이디"
                />
              </a-form-item>
            </a-col>
            <a-col :xs="24" :md="24" :lg="12">
              <a-form-item>
                <a-input
                  v-model="user_name"
                     :disabled="modal_diseditable"
                  v-decorator="[
                    'user_name',
                    {
                      rules: [
                        {
                          required: true,
                          message: '이름을 입력해주세요',
                        },
                      ],
                    },
                  ]"
                  placeholder="이름"
                />
              </a-form-item>
            </a-col>
          </a-row>
          <a-row>
            <a-col :xs="24" :md="24" :lg="12">
              <a-form-item>
                <a-input-password
                v-if="modal_register"
                  v-model="password"
                  v-decorator="[
                    'password',
                    {
                      rules: [
                        {
                          required: true,
                          message: '비밀번호를 입력해주세요',
                        },
                      ],
                    },
                  ]"
                  placeholder="비밀번호"
                />
              </a-form-item>
            </a-col>
            <a-col :xs="24" :md="24" :lg="12">
              <a-form-item>
                <a-input-password
                  v-if="modal_register"
                  v-model="repassword"
                  v-decorator="[
                    'repassword',
                    {
                      rules: [
                        {
                          required: true,
                          message: '비밀번호를 확인해주세요',
                        },
                      ],
                    },
                  ]"
                  placeholder="비밀번호 확인"
                />
              </a-form-item>
            </a-col>
          </a-row>
          <a-row>
            <a-col :xs="12" :md="12" :lg="12">
              <a-form-item>
                <a-input
                  v-model="user_email"
                     :disabled="modal_diseditable"
                  v-decorator="[
                    'user_email',
                    {
                      rules: [
                        {
                          required: true,
                          message: '이메일을 입력해주세요',
                        },
                      ],
                    },
                  ]"
                  placeholder="이메일"
                />
              </a-form-item>
            </a-col>
            <a-col :xs="12" :md="12" :lg="12">
              <a-form-item>
                <a-input
                  v-model="department_code"
                     :disabled="modal_diseditable"
                  v-decorator="[
                    'department_code',
                    {
                      rules: [
                        {
                          required: false,
                          message: '부서명을 입력해주세요',
                        },
                      ],
                    },
                  ]"
                  placeholder="부서명"
                />
              </a-form-item>
            </a-col>
          </a-row>
          <a-row>
            <a-col :xs="12" :md="12" :lg="12">
              <a-form-item>
                <a-input
                  v-model="user_phone"
                     :disabled="modal_diseditable"
                  v-decorator="[
                    'user_phone',
                    {
                      rules: [
                        {
                          required: true,
                          message: '연락처를 입력해주세요',
                        },
                      ],
                    },
                  ]"
                  placeholder="연락처"
                />
              </a-form-item>
            </a-col>
            <a-col :xs="12" :md="12" :lg="12">
              <a-form-item>
                 <a-select
                  v-model="user_type"
                  placeholder="직급(임원/직원/기타)"
                 >
                  <a-select-option value="임원">
                    임원
                  </a-select-option>
                  <a-select-option  value="직원">
                    직원
                  </a-select-option>
                  <a-select-option  value="기타">
                    기타
                  </a-select-option>
                </a-select>
                <!-- <a-input
                  v-model="user_type"
                  :disabled="modal_diseditable"
                  
                  v-decorator="[
                    'user_type',
                    {
                      rules: [
                        {
                          required: false,
                          message: '직급을 입력해주세요',
                        },
                      ],
                    },
                  ]"
                  placeholder="직급(임원/직원/기타)"
                /> -->
              </a-form-item>
            </a-col>
          </a-row>
          <a-row>
            <a-col :xs="24" :md="24" :lg="24">
              <a-form-item>
                <a-input
                  v-model="user_address"
                  :disabled="modal_diseditable"
                  v-decorator="[
                    'user_address',
                    {
                      rules: [
                        {
                          required: false,
                          message: '주소를 입력해주세요',
                        },
                      ],
                    },
                  ]"
                  placeholder="주소"
                />
              </a-form-item>
            </a-col>
          </a-row>
          <a-row>
            <a-col :xs="24" :md="24" :lg="24">
              <a-form-item>
                <a-input
                  v-model="etc"
                  :disabled="modal_diseditable"
                  v-decorator="[
                    'etc',
                    {
                      rules: [
                        {
                          required: false,
                          message: '기타사항을 입력해주세요',
                        },
                      ],
                    },
                  ]"
                  placeholder="기타사항"
                />
              </a-form-item>
            </a-col>
          </a-row>
        </a-form>
              <template slot="footer">
        <!-- 수정 -->
        <a-button
          v-if="modal_diseditable == true"
          @click="
            modal_diseditable = false
            modal_register = false
          "
        >
          수정
        </a-button>
        <a-button
          v-if="modal_diseditable == true"
          @click="delete_user"
        >
          삭제
        </a-button> 
        <!-- 조회 -->
        <a-button
          v-if="modal_diseditable == false && modal_register == false"
          type="primary"
          @click="update_user"
        >
          수정하기
        </a-button>
        

        <!-- 등록 -->
        <a-button
          v-if="modal_diseditable == false && modal_register == true"
          type=""
          @click="handleCancel"
        >
          취소
        </a-button>
        <a-button
          v-if="modal_diseditable == false && modal_register == true"
          type="primary"
          @click="handleOk"
        >
          등록하기
        </a-button>
      </template>
      </a-modal>
    </a-layout>
  </a-layout>
</template>
<script>
const columns = [
  {
    title: '이름',
    dataIndex: 'user_name',
    width: 150,
  },
  {
    title: '아이디',
    dataIndex: 'user_id',
    width: 120,
       scopedSlots: { customRender: 'user_id' },
  },
  {
    title: '이메일',
    dataIndex: 'user_email',
    scopedSlots: { customRender: 'user_email' },
  },
  {
    title: '부서 코드',
    dataIndex: 'department_code',
    scopedSlots: { customRender: 'department_code' },
  },
  {
    title: '연락처',
    dataIndex: 'user_phone',
    scopedSlots: { customRender: 'user_phone' },
  },
  {
    title: '유형',
    dataIndex: 'user_type',
    scopedSlots: { customRender: 'user_type' },
  },

]
const data = []
export default {
  data() {
    return {
      visible: false,
      confirmLoading: false,
      confirmDirty: false,
      origin_data: [],
      filtered_data: [],
      columns,
      loading: false,
      searchKeyword: '',
      form: this.$form.createForm(this, { name: 'register' }),
      user_id: '',
      user_name: '',
      user_email: '',
      department_code: '',
      user_phone: '',
      user_type: undefined,
      partner_name: '',
      user_address: '',
      etc: '',
      repassword: '',
      password: '',
      selectedRowKeys: [],
      modal_diseditable:false,
      modal_register:true,
      target_id:""
    }
  },
  beforeCreate() {
    this.$axios.get(this.$URL.USER_LIST).then((res) => {
      const date = new Date()
      res.data.forEach((e) => {
        this.origin_data.push({
          id: e.id,
          user_id: e.user_id,
          user_name: e.user_name,
          department_code: e.department_code,
          user_phone: e.user_phone,
          user_type: e.user_type,
          user_email: e.user_email,
          user_address: e.user_address,
          partner_name: e.partner_name,
          etc: e.etc,
        })
      })
      this.filtered_data = this.origin_data.filter(
        (e) =>
          e.user_id.includes(this.searchKeyword) ||
          e.user_name.includes(this.searchKeyword)
      )
    })
  },
  mounted() {
    function getCookie(cookieName) {
      let cookieValue = null
      if (document.cookie) {
        const array = document.cookie.split(escape(cookieName) + '=')
        if (array.length >= 2) {
          const arraySub = array[1].split(';')
          cookieValue = unescape(arraySub[0])
        }
      }
      if (cookieValue === null) {
        alert('페이지 권한이 없습니다.')
        location.href = '/dashboard'
      }
      return cookieValue
    }
    this.$axios.get(`${this.$URL.USER}/${getCookie('user_id')}`).then((res) => {
      if (res.data.right[this.$route.name] === false) {
        alert('페이지 권한이 없습니다.')
        location.href = '/dashboard'
      }
    })
  },
  updated() {
    console.log('updated')
  },
  methods: {
    update_user(){
       this.$axios
        .put(`${this.$URL.USER}/${this.target_id}`, {
          user_id: this.user_id,
          user_name: this.user_name,
          department_code: this.department_code,
          user_phone: this.user_phone,
          user_type: this.user_type,
          user_email: this.user_email,
          user_address: this.user_address,
          partner_name: this.partner_name,
          etc: this.etc,
        })
        .then((res) => {
          this.origin_data = []
          this.filtered_data = []
          this.$axios
            .get(`${this.$URL.USER_LIST}`)
            .then((res) => {
              const date = new Date()
              res.data.forEach((e) => {
                this.origin_data.push({
                  id: e.id,
                  user_id: e.user_id,
                  user_name: e.user_name,
                  department_code: e.department_code,
                  user_phone: e.user_phone,
                  user_type: e.user_type,
                  user_email: e.user_email,
                  user_address: e.user_address,
                  partner_name: e.partner_name,
                  etc: e.etc,
                })
                this.user_id = ''
                this.user_name = ''
                this.department_code = ''
                this.user_phone = ''
                this.user_type = ''
                this.user_email = ''
                this.user_address = ''
                this.partner_name = ''
                this.password = ''
                this.repassword = ''
                this.etc = ''
              })
              this.filtered_data = this.origin_data.filter(
                (e) =>
                  e.user_id.includes(this.searchKeyword) ||
                  e.user_name.includes(this.searchKeyword)
              )
            })
            .catch((e) => alert(e))
          this.visible = false
        })
    },
    open_user_detail(id){
      this.target_id = id
      const user = this.origin_data.filter(e=>e.id === id)[0]
      this.user_id = user.user_id
      this.user_name = user.user_name
      this.department_code = user.department_code
      this.user_phone = user.user_phone
      this.user_type = user.user_type
      this.user_email = user.user_email
      this.user_address = user.user_address
      this.partner_name = user.partner_name
      this.etc = user.etc
      this.visible = true
      this.modal_register = false
      this.modal_diseditable = true
    },
    cancel() {
      this.visible = false
         this.user_id = ''
                this.user_name = ''
                this.department_code = ''
                this.user_phone = ''
                this.user_type = ''
                this.user_email = ''
                this.user_address = ''
                this.partner_name = ''
                this.password = ''
                this.repassword = ''
                this.etc = ''
    },
    handleOk(e) {
   
      this.$axios
        .post(this.$URL.USER_LIST, {
          user_id: this.user_id,
          user_name: this.user_name,
          department_code: this.department_code,
          user_phone: this.user_phone,
          user_type: this.user_type,
          user_email: this.user_email,
          user_address: this.user_address,
          partner_name: this.partner_name,
          password: this.password,
          repassword: this.repassword,
          etc: this.etc,
        })
        .then((res) => {
          this.origin_data = []
          this.filtered_data = []
          this.$axios
            .get(this.$URL.USER_LIST)
            .then((res) => {
              const date = new Date()
              res.data.forEach((e) => {
                this.origin_data.push({
                  id: e.id,
                  user_id: e.user_id,
                  user_name: e.user_name,
                  department_code: e.department_code,
                  user_phone: e.user_phone,
                  user_type: '',
                  user_email: e.user_email,
                  user_address: e.user_address,
                  partner_name: e.partner_name,
                  etc: e.etc,
                })
                this.user_id = ''
                this.user_name = ''
                this.department_code = ''
                this.user_phone = ''
                this.user_type = ''
                this.user_email = ''
                this.user_address = ''
                this.partner_name = ''
                this.password = ''
                this.repassword = ''
                this.etc = ''
              })
              this.filtered_data = this.origin_data.filter(
                (e) =>
                  e.user_id.includes(this.searchKeyword) ||
                  e.user_name.includes(this.searchKeyword)
              )
            })
            .catch((e) => alert(e))
          this.visible = false
        })
    },
    onClose() {
      this.drawer_visible = false
         this.user_id = ''
                this.user_name = ''
                this.department_code = ''
                this.user_phone = ''
                this.user_type = ''
                this.user_email = ''
                this.user_address = ''
                this.partner_name = ''
                this.password = ''
                this.repassword = ''
                this.etc = ''
    },
    showModal() {
      this.visible = true
    },
    search() {
      this.filtered_data = this.origin_data.filter(
        (e) =>
          e.user_id.includes(this.searchKeyword) ||
          e.user_name.includes(this.searchKeyword)
      )
    },
    onSelectChange(selectedRowKeys) {
      console.log('selectedRowKeys changed: ', selectedRowKeys)
      this.selectedRowKeys = selectedRowKeys
    },
    delete_user(){
      this.$axios.delete(`${this.$URL.USER}/${this.target_id}`)
      alert('삭제되었습니다')
      location.reload()
    }
  },
}
</script>

<style>
#components-layout-demo-side .logo {
  margin: 16px;
}
.ant-layout-sider-zero-width-trigger {
  position: absolute;
  top: 0px;
  right: -36px;
  z-index: 1;
  width: 36px;
  height: 42px;
  color: #fff;
  font-size: 18px;
  line-height: 42px;
  text-align: center;
  background: #001529;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background 0.3s ease;
}
.ant-layout-header {
  height: 42px;
  padding: 0 50px;
  line-height: 64px;
  background: #001529;
}

.ant-advanced-search-form {
  padding: 24px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}

.ant-advanced-search-form .ant-form-item {
  display: flex;
}

.ant-advanced-search-form .ant-form-item-control-wrapper {
  flex: 1;
}

.advanced-search .ant-form {
  max-width: none;
}
.advanced-search .search-result-list {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fff;
  min-height: 200px;
  text-align: center;
  padding-top: 00px;
}
.ant-advanced-search-form .ant-form-item {
  margin-bottom: 0px !important;
}
span.ant-radio + * {
  padding-right: 0px;
  padding-left: 0px;
}
.ant-form-item {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  font-feature-settings: 'tnum', 'tnum';
  margin-bottom: 4px !important;
  vertical-align: top;
}
.searchKeyword .ant-form-item-control-wrapper {
  width: 100%;
}


.userRightControl  .ant-table-tbody > tr > td {
    padding: 6px 6px !important;
    overflow: hidden;

}
.userRightControl .ant-table-thead > tr > th {
    padding: 6px 6px !important;
    overflow: hidden; 
    white-space: nowrap;
}
</style>
