<template>
  <a-layout id="components-layout-demo-side" style="min-height: 100vh">
    <aside-menu></aside-menu>
    <a-layout style="min-width: 375px">
      <header-menu/>
      <a-layout-content style="margin: 0 16px">
        <a-breadcrumb style="margin: 16px 0">
          <a-breadcrumb-item>기준 정보 관리</a-breadcrumb-item>
          <a-breadcrumb-item>재고 현황</a-breadcrumb-item>
        </a-breadcrumb>
        <div
          :style="{ padding: '24px', background: '#fff', minHeight: '360px' }"
        >
          <div class="advanced-search">
            <a-form
              class="ant-advanced-search-form"
              :form="form"
              @submit="handleSearch"
            >
              <a-row :gutter="24">
                <a-col :xs="24" :md="12" :lg="10" :xl="7">
                  <a-form-item style="width: 100%" class="searchKeyword">
                    <a-input
                      style="width: 100%"
                      placeholder="아이템 코드 또는 명칭을 입력해 주세요."
                    >
                    </a-input>
                  </a-form-item>
                </a-col>
                <a-col :xs="24" :md="12" :lg="9" :xl="13">
                  <a-form-item>
                    <a-checkbox-group v-model="location_search_type">
                      <a-checkbox v-for="loc in location_list" :key="loc.id+'location'" :value="loc.id">{{loc.name}}</a-checkbox>
                    </a-checkbox-group>
                  </a-form-item>
                </a-col>
                <a-col
                      :xs="24"
                  :md="24"
                  :lg="5"
                  :xl="4"
                  :style="{ textAlign: 'right' }"
                >
                  <a-button type="primary" html-type="submit"> 검색 </a-button>
                </a-col>
              </a-row>
            </a-form>
            <div class="search-result-list">
              <a-table
                :scroll="{ x: 1500 }"
                :columns="columns"
                :data-source="filtered_data"
                :pagination="{ pageSize: 10 }"
              >
                <template slot="name" slot-scope="name, record">
                  <span @click="open_drawer(record.id)">{{ name }}</span>
                </template>

                 <template slot="count" slot-scope="count">
                  <span v-for="item in count" :key="item.loc+item.count+'count'" > 
                      {{item.loc}}
                  <a-badge :count="item.count" :overflow-count="9999"/>
                   
                 </span>
                </template>
              </a-table>
            </div>
          </div>
        </div>
      </a-layout-content>
      <a-drawer
        title="재고 현황"
        placement="right"
        :closable="false"
        :visible="drawer_visible"
        @close="onClose"
        width="500"
      >
        <a-timeline>
          <span v-for="item in transaction_list" :key="item.id+'item'">
            <a-timeline-item v-if="item.incoming_qtty > 0" color="green">
             [{{item.created_at.split(" ")[0]}}] {{item.location}} 입고(+{{item.incoming_qtty}})  {{item.partner_code}} {{item.note}}
            </a-timeline-item>
            <a-timeline-item v-else color="red">
             [{{item.created_at.split(" ")[0]}}] {{item.location}} 출고(-{{item.outgoing_qtty}})  {{item.partner_code}} {{item.note}}
            </a-timeline-item>
          </span>
        </a-timeline>
       
      </a-drawer>
      <a-modal
        title="입/출고 등록"
        :visible="visible"
        :confirm-loading="confirmLoading"
        @ok="handleOk"
        @cancel="handleCancel"
      >
        <a-form :form="form">
          <a-row>
            <a-col :xs="24" :md="24" :lg="12">
              <a-form-item>
                  <a-select v-model="location_id"   placeholder="창고 위치" >
                    <a-select-option v-for="loc in location_list" :key="loc.name"  :value="loc.id">
                      {{loc.name}}
                    </a-select-option>
                  </a-select>
              </a-form-item>
            </a-col>
            <a-col :xs="24" :md="24" :lg="12">
              <a-form-item>
                  <a-select v-model="item_id" placeholder="ITEM" >
                    <a-select-option  v-for="item in item_list" :key="item.name" :value="item.id">
                      {{item.name}}
                    </a-select-option>
                  </a-select>
              </a-form-item>
            </a-col>
          </a-row>
          <a-row>
            <a-col :xs="12" :md="12" :lg="12">
              <a-form-item>
                <a-input v-model="type" placeholder="구분" />
              </a-form-item>
            </a-col>
            <a-col :xs="12" :md="12" :lg="12">
              <a-form-item>
                <a-input v-model="kind" placeholder="유형" />
              </a-form-item>
            </a-col>
            <a-col :xs="12" :md="12" :lg="12">
              <a-form-item>
                <a-input v-model="partner_code" placeholder="관련 파트너" />
              </a-form-item>
            </a-col>
          </a-row>
          <a-row>
            <a-col :xs="12" :md="12" :lg="12">
              <a-form-item>
                <a-input v-model="incoming_qtty" placeholder="입고수량" />
              </a-form-item>
            </a-col>
            <a-col :xs="12" :md="12" :lg="12">
              <a-form-item>
                <a-input v-model="outgoing_qtty" placeholder="출고수량" />
              </a-form-item>
            </a-col>
          </a-row>
          <a-row>
            <a-col :xs="24" :md="24" :lg="24">
              <a-form-item>
                <a-input v-model="note" placeholder="기타 사항" />
              </a-form-item>
            </a-col>
          </a-row>
        </a-form>
            <template slot="footer">
        <!-- 수정 -->
        <a-button
          v-if="modal_diseditable == true"
          @click="
            modal_diseditable = false
            modal_register = false
          "
        >
          수정
        </a-button>
        <a-button
          v-if="modal_diseditable == true"
          @click="delete_item"
        >
          삭제
        </a-button> 
        <!-- 조회 -->
        <a-button
          v-if="modal_diseditable == false && modal_register == false"
          type="primary"
          @click="update_item"
        >
          수정하기
        </a-button>
        

        <!-- 등록 -->
        <a-button
          v-if="modal_diseditable == false && modal_register == true"
          type=""
          @click="handleCancel"
        >
          취소
        </a-button>
        <a-button
          v-if="modal_diseditable == false && modal_register == true"
          type="primary"
          @click="handleOk"
        >
          등록하기
        </a-button>
      </template>
      </a-modal>
      <a-layout-footer style="text-align: center"> PINAWAKENS </a-layout-footer>
    </a-layout>
  </a-layout>
</template>
<script>
const columns = [
  {
    title: '제품/자재',
    dataIndex: 'type',
    width: 80,
  },
  {
    title: '명칭',
    dataIndex: 'name',
    width: 200,
    scopedSlots: { customRender: 'name' },
  },
  {
    title: '수량',
    dataIndex: 'count',
    width: 200,
    scopedSlots: { customRender: 'count' },
  },
  {
    title: '단위',
    dataIndex: 'unit',
    width: 100,
  },
]

export default {
  data() {
    return {
      modal_diseditable : false,
      modal_register : true,
      location_search_type:[],
      type:"조정",
      kind:"",
      partner_code:"",
      incoming_qtty:"",
      outgoing_qtty:"",
      note:"",
      location:"",
      location_id:"",
      item_id:"",
      drawer_visible: false,
      visible: false,
      confirmLoading: false,
      partnerType: 'a',
      form: this.$form.createForm(this, { name: 'advanced_search' }), 
      confirmDirty: false,
      columns,
      selectedRowKeys: [], // Check here to configure the default column
      loading: false,
      location_list:[],
      item_list:[],
      filtered_data:[],
      origin_data:[],
      transaction_list:[]
    }
  },
  computed: {
    hasSelected() {
      return this.selectedRowKeys.length > 0
    },
  },
  watch:{
    location_search_type(arr){
      // eslint-disable-next-line prefer-const
      let copy_data =  JSON.parse(JSON.stringify(this.origin_data)); 
      copy_data.forEach(e=>{  
        e.transaction = e.transaction.filter(i=> arr.includes(i.location_id) )
      })
      this.filtered_data = copy_data.filter(e=>e.transaction.length > 0)

      this.filtered_data.forEach( e=> {
        if(e.transaction.length > 0){
          const location_list = [ ...new Set(this.$_.map(e.transaction,"location_id")) ]
          console.log(location_list)
          e.count = []
          location_list.forEach(i => {
            e.count.push(
              { 
                loc : this.location_list.find(k => k.id === i).name , 
                count: e.transaction.filter( loc  => loc.location_id === i ).reduce( (acc,cur) => { return acc + cur.incoming_qtty },0) - e.transaction.filter( loc  => loc.location_id === i ).reduce( (acc,cur) => { return acc + cur.outgoing_qtty },0) 
              }
            )
          })
        }   
      })     
    }
  },
  beforeCreate() {
    this.form = this.$form.createForm(this, { name: 'register' })
  },
  mounted(){
    function getCookie(cookieName){
        let cookieValue=null;
        if(document.cookie){
            const array=document.cookie.split((escape(cookieName)+'='));
            if(array.length >= 2){
                const arraySub=array[1].split(';');
                cookieValue=unescape(arraySub[0]);
            }
        }
        if( cookieValue === null){
          alert("페이지 권한이 없습니다.")
          location.href="/dashboard"
        }
        return cookieValue;
    }
    this.$axios.get(`${this.$URL.USER}/${getCookie('user_id')}`).then(res=>{
      if( res.data.right[ this.$route.name ] === false ){
        alert("페이지 권한이 없습니다.")
        location.href="/dashboard"
      }
    })
    //  location_list
    this.get_data()
    
  },
  updated() {
    console.log('updated')
  },
  methods: {
    get_data(){
      this.$axios.get(this.$URL.LOCATION)
      .then((res)=>{
        this.location_list = res.data; 
        this.location_search_type = this.location_list.map(e=>{return e.id})
        this.$axios.get(`${this.$URL.ITEM}/transaction`).then((res)=>{
            // eslint-disable-next-line prefer-const
            res.data.forEach( e=> {
              if(e.transaction.length > 0){
                const location_list = [ ...new Set(this.$_.map(e.transaction,"location_id")) ]
                e.count = []
                location_list.forEach(i => {
                  if(this.location_list.filter(k => k.id === i).length > 0){
                    e.count.push(
                      { 
                        loc : this.location_list.filter(k => k.id === i)[0].name , 
                        count: e.transaction.filter( loc  => loc.location_id === i ).reduce( (acc,cur) => { return acc + cur.incoming_qtty },0) - e.transaction.filter( loc  => loc.location_id === i ).reduce( (acc,cur) => { return acc + cur.outgoing_qtty },0) 
                      }
                    )
                  }
                })
              }   
            })
            this.item_list = res.data; 
            this.origin_data = res.data;
            this.filtered_data = res.data;
          })
        })
    },
    open_drawer(id){
      this.transaction_list = this.item_list.find(i=>i.id===id).transaction
        .map(e=>{
           // 창고를 삭제한 경우 escape가 필요
            return{ 
              ...e, 
              location: this.location_list.find(k=> k.id ===  e.location_id)? this.location_list.find(k=> k.id ===  e.location_id).name  :  ""
            } 
          })
      this.drawer_visible = true
    },
    onClose() {
      this.drawer_visible = false
    },
    showModal() {
      this.visible = true
    },
    handleOk(e) {
      this.$axios.post(`${this.$URL.TRANSACTION}`,{
        type : this.type,
        kind : this.kind,
        partner_code : this.partner_code,
        item_id : this.item_id,
        location_id : this.location_id,
        incoming_qtty : this.incoming_qtty,
        outgoing_qtty : this.outgoing_qtty,
        note : this.note,
      }).then(res=>{
        this.type="조정"
        this.kind=""
        this.partner_code=""
        this.item_id=""
        this.location_id=""
        this.incoming_qtty=""
        this.outgoing_qtty=""
        this.note=""
         this.visible = false
         this.get_data()
      })
    },
    handleCancel(e) {
      console.log('Clicked cancel button')
      this.visible = false
    },
    handleSearch(e) {},

    handleReset() {
      this.form.resetFields()
    },

    start() {
      this.loading = true
      // ajax request after empty completing
      setTimeout(() => {
        this.loading = false
        this.selectedRowKeys = []
      }, 1000)
    },
    onSelectChange(selectedRowKeys) {
      console.log('selectedRowKeys changed: ', selectedRowKeys)
      this.selectedRowKeys = selectedRowKeys
    },
  },
}
</script>

<style  >
#components-layout-demo-side .logo {
  margin: 16px;
}
.ant-layout-sider-zero-width-trigger {
  position: absolute;
  top: 0px;
  right: -36px;
  z-index: 1;
  width: 36px;
  height: 42px;
  color: #fff;
  font-size: 18px;
  line-height: 42px;
  text-align: center;
  background: #001529;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background 0.3s ease;
}
.ant-layout-header {
  height: 42px;
  padding: 0 50px;
  line-height: 64px;
  background: #001529;
}

.ant-advanced-search-form {
  padding: 24px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}

.ant-advanced-search-form .ant-form-item {
  display: flex;
}

.ant-advanced-search-form .ant-form-item-control-wrapper {
  flex: 1;
}

.advanced-search .ant-form {
  max-width: none;
}
.advanced-search .search-result-list {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fff;
  min-height: 200px;
  text-align: center;
  padding-top: 00px;
}
.ant-advanced-search-form .ant-form-item {
  margin-bottom: 0px !important;
}
span.ant-radio + * {
  padding-right: 0px;
  padding-left: 0px;
}
.ant-form-item {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  font-feature-settings: 'tnum', 'tnum';
  margin-bottom: 4px !important;
  vertical-align: top;
}
.searchKeyword .ant-form-item-control-wrapper {
  width: 100%;
}
.ant-checkbox-wrapper + .ant-checkbox-wrapper {
    margin-right: 8px!important;
    margin-left:  0px!important;
}
.ant-table-tbody > tr > td {
    padding: 6px 6px !important;
    overflow: hidden;

}
.ant-table-thead > tr > td {
    padding: 6px 6px !important;
    overflow: hidden; 
    white-space: nowrap;
}
</style>
