<template>
  <a-layout id="components-layout-demo-side" style="min-height: 100vh">
    <aside-menu></aside-menu>
    <a-layout style="min-width: 375px">
      <header-menu />
      <a-layout-content style="margin: 0 16px">
        <a-breadcrumb style="margin: 16px 0">
          <a-breadcrumb-item>재고 관리</a-breadcrumb-item>
          <a-breadcrumb-item>상품 재고 관리</a-breadcrumb-item>
        </a-breadcrumb>
        <div
          :style="{ padding: '24px', background: '#fff', minHeight: '360px' }"
        >
          <div class="advanced-search">
            <a-form class="ant-advanced-search-form">
              <a-row :gutter="24">
                <a-col :xs="24" :md="12" :lg="10" :xl="7">
                  <a-form-item style="width: 100%" class="searchKeyword">
                    <a-input
                      v-model="searchKeyword"
                      style="width: 100%"
                      placeholder="아이템 코드 또는 명칭을 입력해 주세요."
                    >
                    </a-input>
                  </a-form-item>
                </a-col>
                <a-col :xs="24" :md="12" :lg="9" :xl="7"> </a-col>
                <a-col
                  :xs="24"
                  :md="24"
                  :lg="5"
                  :xl="10"
                  :style="{ textAlign: 'right' }"
                >
                  <a-button
                    type="primary"
                    @click="
                      visible = true
                      is_in_process = true
                      get_item_info(undefined)
                    "
                  >
                    입고
                  </a-button>
                  <a-button
                    type="danger"
                    visible="true"
                    @click="
                      visible = true
                      is_in_process = false
                      get_item_info(undefined)
                    "
                  >
                    출고
                  </a-button>
                  <a-button type="primary" @click="search"> 검색 </a-button>
                  <a-button type="danger" @click="$router.go($router.currentRoute)" class="refresh">검색 초기화</a-button>

                
                </a-col>
              </a-row>
            </a-form>
            <div class="search-result-list">
              <a-table
                bordered
                :scroll="{ x: 1500 }"
                :columns="columns"
                :data-source="filtered_data"
                :pagination="{ pageSize: 10 }"
                :row-selection="{
                  selectedRowKeys: selectedRowKeys,
                  onChange: onSelectChange,
                }"
                class="warehouse"
              >
                <template slot="name" slot-scope="name, record">
                  <span @click="open_drawer(record.id)">{{ name }}</span>
                </template>

                <template slot="count" slot-scope="count">
                  <span
                    v-for="item in count"
                    :key="item.loc + item.count + 'count'"
                  >
                    {{ item.loc }}
                    <a-badge :count="item.count" :overflow-count="9999" />
                  </span>
                </template>
                <template slot="etc" slot-scope="record">
                  <a-button
                    @click="
                      visible = true
                      is_in_process = true
                      get_item_info(record.product_id)
                    "
                    type="primary"
                    >입고</a-button
                  >
                  <a-button
                    @click="
                      visible = true
                      is_in_process = false
                      get_item_info(record.product_id)
                    "
                    type="danger"
                    >출고</a-button
                  >
                  <a-button
                    @click="
                      info_visible = true
                      info_is_in_process = false
                      get_item_current_info(record.product_id)
                    "
                    type="info"
                    >정보 조회</a-button
                  >
                </template>
              </a-table>
            </div>
          </div>
        </div>
      </a-layout-content>
      <a-drawer
        title="재고 현황"
        placement="right"
        :closable="false"
        :visible="drawer_visible"
        @close="onClose"
        width="500"
      >
        <a-timeline>
          <span v-for="item in transaction_list" :key="item.id + 'item'">
            <a-timeline-item v-if="item.incoming_qtty > 0" color="green">
              [{{ item.created_at.split(' ')[0] }}] {{ item.location }} 입고(+{{
                item.incoming_qtty
              }}) {{ item.partner_code }} {{ item.note }}
            </a-timeline-item>
            <a-timeline-item v-else color="red">
              [{{ item.created_at.split(' ')[0] }}] {{ item.location }} 출고(-{{
                item.outgoing_qtty
              }}) {{ item.partner_code }} {{ item.note }}
            </a-timeline-item>
          </span>
        </a-timeline>
      </a-drawer>
      <a-modal
        :title="is_in_process ? '입고 등록' : '출고 등록'"
        :visible="visible"
        :confirm-loading="confirmLoading"
        @ok="handleOk"
        @cancel="handleCancel"
      >
        <a-form>
          <a-row>
            <a-col :xs="24" :md="24" :lg="12">
              <a-form-item>
                <a-input
                  v-model="id"
                  ref="cursor"
                  id="barcode"
                  :disabled="modal_diseditable"
                  :class="{ modal_diseditable: modal_diseditable }"
                  @keyup.enter="get_barcode_item()"
                  placeholder="바코드 번호"
                />
              </a-form-item>
            </a-col>
            <a-col :xs="24" :md="24" :lg="12">
              <a-form-item>
                <a-input
                  :disabled="modal_diseditable"
                  :class="{ modal_diseditable: modal_diseditable }"
                  v-model="name"
                  placeholder="명칭"
                />
              </a-form-item>
            </a-col>
            <a-col :xs="24" :md="24" :lg="24">
              <a-form-item>
                <a-cascader
                  v-model="category_id"
                  :disabled="modal_diseditable"
                  :class="{ modal_diseditable: modal_diseditable }"
                  :options="categoryData"
                  change-on-select
                />
              </a-form-item>
            </a-col>
            <a-col :xs="24" :md="24" :lg="12">
              <a-form-item>
                <a-input
                  v-model="texture"
                  :disabled="modal_diseditable"
                  :class="{ modal_diseditable: modal_diseditable }"
                  placeholder="재질"
                />
              </a-form-item>
            </a-col>
            <a-col :xs="24" :md="24" :lg="12">
              <a-form-item>
                <a-input
                  v-model="specification_0"
                  :disabled="modal_diseditable"
                  :class="{ modal_diseditable: modal_diseditable }"
                  placeholder="규격1"
                />
              </a-form-item>
            </a-col>
            <a-col :xs="12" :md="12" :lg="12">
              <a-form-item>
                <a-input
                  v-model="specification_1"
                  :disabled="modal_diseditable"
                  :class="{ modal_diseditable: modal_diseditable }"
                  placeholder="규격2"
                />
              </a-form-item>
            </a-col>
            <a-col :xs="12" :md="12" :lg="12">
              <a-form-item>
                <a-input
                  v-model="specification_2"
                  :disabled="modal_diseditable"
                  :class="{ modal_diseditable: modal_diseditable }"
                  placeholder="규격3"
                />
              </a-form-item>
            </a-col>
            <a-col :xs="12" :md="12" :lg="12">
              <a-form-item>
                <a-input
                  v-model="unit"
                  :disabled="modal_diseditable"
                  :class="{ modal_diseditable: modal_diseditable }"
                  placeholder="단위"
                />
              </a-form-item>
            </a-col>

            <a-col v-if="is_in_process === true" :xs="12" :md="12" :lg="12">
              <a-form-item>
                <a-input
                  v-model="incoming_qtty"
                  :disabled="modal_diseditable"
                  :class="{ modal_diseditable: modal_diseditable }"
                  placeholder="입고수량"
                />
              </a-form-item>
            </a-col>
            <a-col v-else :xs="12" :md="12" :lg="12">
              <a-form-item>
                <a-input
                  v-model="outgoing_qtty"
                  :disabled="modal_diseditable"
                  :class="{ modal_diseditable: modal_diseditable }"
                  placeholder="출고수량"
                />
              </a-form-item>
            </a-col>
            <a-col :xs="12" :md="12" :lg="12">
              <a-form-item>
                <a-date-picker
                  v-model="date"
                  style="width: 100%"
                  placeholder="입/출고 일"
                />
              </a-form-item>
            </a-col>
            <a-col :xs="24" :md="24" :lg="24">
              <a-form-item>
                <a-input
                  v-model="note"
                  :disabled="modal_diseditable"
                  :class="{ modal_diseditable: modal_diseditable }"
                  placeholder="비고"
                />
              </a-form-item>
            </a-col>
          </a-row>
        </a-form>
        <template slot="footer">
          <!-- 수정 -->
          <a-button
            v-if="modal_diseditable == true"
            @click="
              modal_diseditable = false
              modal_register = false
            "
          >
            수정
          </a-button>
          <a-button v-if="modal_diseditable == true" @click="delete_item">
            삭제
          </a-button>
          <!-- 조회 -->
          <a-button
            v-if="modal_diseditable == false && modal_register == false"
            type="primary"
            @click="update_item"
          >
            수정하기
          </a-button>
          <!-- 등록 -->
          <a-button
            v-if="modal_diseditable == false && modal_register == true"
            type=""
            @click="handleCancel"
          >
            취소
          </a-button>
          <a-button
            v-if="modal_diseditable == false && modal_register == true"
            type="primary"
            @click="handleOk"
          >
            등록하기
          </a-button>
        </template>
      </a-modal>
      <a-modal
        :title="'입출고 조회'"
        :visible="info_visible"
        :confirm-loading="confirmLoading"
        @cancel="handleCancel"
      >
        <a-table
          bordered
          :columns="transaction_columns"
          :data-source="transaction_filtered_data"
          :pagination="{ pageSize: 10 }"
          class="warehouse"
        >
          <template slot="etc" slot-scope="id, record">
            <a-row>
              <a-col :xs="12" :md="12" :lg="12">
                <a-button style="padding: 0px 3px" @click="info_modify(record)"
                  >수정</a-button
                >
              </a-col>
              <a-col :xs="12" :md="12" :lg="12">
                <a-button
                  @click="delete_transaction(record)"
                  style="padding: 0px 3px"
                  type="danger"
                  >삭제</a-button
                >
              </a-col>
            </a-row>
          </template>
        </a-table>
        <a-form v-if="is_info_modify">
          <a-row>
            <a-col :xs="12" :md="8" :lg="8">
              <a-form-item>
                <a-input
                  v-model="transaction_incoming_qtty"
                  :disabled="modal_diseditable"
                  :class="{ modal_diseditable: modal_diseditable }"
                  placeholder="입고수량"
                />
              </a-form-item>
            </a-col>
            <a-col :xs="12" :md="8" :lg="8">
              <a-form-item>
                <a-input
                  v-model="transaction_outgoing_qtty"
                  :disabled="modal_diseditable"
                  :class="{ modal_diseditable: modal_diseditable }"
                  placeholder="출고수량"
                />
              </a-form-item>
            </a-col>
            <a-col :xs="12" :md="8" :lg="8">
              <a-form-item>
                <a-date-picker
                  v-model="transaction_date"
                  style="width: 100%"
                  placeholder="입/출고 일"
                />
              </a-form-item>
            </a-col>
            <a-col :xs="24" :md="24" :lg="24">
              <a-form-item>
                <a-input
                  v-model="transaction_note"
                  :disabled="modal_diseditable"
                  :class="{ modal_diseditable: modal_diseditable }"
                  placeholder="비고"
                />
              </a-form-item>
            </a-col>
          </a-row>
        </a-form>
        <template slot="footer">
          <!-- 수정 -->
          <div></div>
          <a-button
            v-if="is_info_modify"
            @click="
              is_info_modify = false
              transaction_modify()
            "
          >
            수정하기
          </a-button>
          <a-button v-if="is_info_modify" @click="is_info_modify = false">
            취소
          </a-button>
        </template>
      </a-modal>
      <Footer></Footer>
    </a-layout>
  </a-layout>
</template>
<script>
const transaction_columns = [
  {
    title: '입고수량',
    dataIndex: 'incoming_qtty',
    align: 'center',
  },
  {
    title: '출고수량',
    dataIndex: 'outgoing_qtty',
    align: 'center',
  },
  {
    title: '변동일',
    dataIndex: 'created_at',
    align: 'center',
  },
  {
    title: '비고',
    dataIndex: 'note',
  },
  {
    title: '기타',
    dataIndex: 'etc',
    scopedSlots: { customRender: 'etc' },
    width: 80,
  },
]
const columns = [
  {
    title: '상품 ID',
    dataIndex: 'product_id',
    width: 80,
    scopedSlots: { customRender: 'product_id' },
  },
  {
    title: '상품명',
    dataIndex: 'item_name',
    width: 180,
    scopedSlots: { customRender: 'name' },
  },
  {
    title: '상품 분류',
    children: [
      {
        title: '분류1',
        dataIndex: 'category_0',
        width: 100,
      },
      {
        title: '분류2',
        dataIndex: 'category_1',
        width: 100,
      },
      {
        title: '분류3',
        dataIndex: 'category_2',
        width: 100,
      },
    ],
  },
  {
    title: '상품 규격',
    children: [
      {
        title: '규격1',
        dataIndex: 'specification_0',
        width: 150,
      },
      {
        title: '규격2',
        dataIndex: 'specification_1',
        width: 150,
      },
    ],
  },
  {
    title: '수량 및 변동일',
    children: [
      {
        title: '재고 수량',
        dataIndex: 'count',
        width: 150,
      },
      {
        title: '최근 변동일',
        dataIndex: 'changed_date',
        width: 150,
      },
    ],
  },
  {
    title: '기능',
    scopedSlots: { customRender: 'etc' },
  },
]

export default {
  data() {
    return {
      target_transaction: {},
      transaction_columns,
      is_in_process: true,
      category_id: '',
      categoryData: '',
      selectedRowKeys: [],
      modal_diseditable: false,
      modal_register: true,
      location_search_type: [],
      type: '',
      kind: '',
      partner_code: '',
      incoming_qtty: '',
      outgoing_qtty: '',
      note: '',
      location: '',
      location_id: '',
      item_id: '',
      drawer_visible: false,
      visible: false,
      confirmLoading: false,
      partnerType: 'a',
      form: this.$form.createForm(this, { name: 'advanced_search' }),
      confirmDirty: false,
      columns,
      loading: false,
      location_list: [],
      item_list: [],
      filtered_data: [],
      origin_data: [],
      transaction_list: [],
      raw_category_data: [],
      record_data: [],
      date: '',
      info_visible: false,
      is_info_modify: false,
      data: [],
      transaction_filtered_data: [],
      transaction_incoming_qtty: '',
      transaction_outgoing_qtty: '',
      transaction_date: '',
      transaction_note: '',
    }
  },
  computed: {
    hasSelected() {
      return this.selectedRowKeys.length > 0
    },
  },
  watch: {
    location_search_type(arr) {
      // eslint-disable-next-line prefer-const
      let copy_data = JSON.parse(JSON.stringify(this.origin_data))
      copy_data.forEach((e) => {
        e.transaction = e.transaction.filter((i) => arr.includes(i.location_id))
      })
      this.filtered_data = copy_data.filter((e) => e.transaction.length > 0)

      this.filtered_data.forEach((e) => {
        if (e.transaction.length > 0) {
          const location_list = [
            ...new Set(this.$_.map(e.transaction, 'location_id')),
          ]
          console.log(location_list)
          e.count = []
          location_list.forEach((i) => {
            e.count.push({
              loc: this.location_list.find((k) => k.id === i).name,
              count:
                e.transaction
                  .filter((loc) => loc.location_id === i)
                  .reduce((acc, cur) => {
                    return acc + cur.incoming_qtty
                  }, 0) -
                e.transaction
                  .filter((loc) => loc.location_id === i)
                  .reduce((acc, cur) => {
                    return acc + cur.outgoing_qtty
                  }, 0),
            })
          })
        }
      })
    },
  },
  beforeCreate() {
    this.form = this.$form.createForm(this, { name: 'register' })
  },
  async mounted() {
    function getCookie(cookieName) {
      let cookieValue = null
      if (document.cookie) {
        const array = document.cookie.split(escape(cookieName) + '=')
        if (array.length >= 2) {
          const arraySub = array[1].split(';')
          cookieValue = unescape(arraySub[0])
        }
      }
      if (cookieValue === null) {
        alert('페이지 권한이 없습니다.')
        location.href = '/dashboard'
      }
      return cookieValue
    }
    this.$axios.get(`${this.$URL.USER}/${getCookie('user_id')}`).then((res) => {
      if (res.data.right[this.$route.name] === false) {
        alert('페이지 권한이 없습니다.')
        location.href = '/dashboard'
      }
    })

    await this.get_raw_category_list()
    await this.get_location_list()
    await this.get_location_managed_item()
  },
  updated() {
    console.log('updated')
  },
  methods: {
    info_modify(record) {
      this.is_info_modify = true
      this.target_transaction = record
      this.transaction_incoming_qtty = record.incoming_qtty
      this.transaction_outgoing_qtty = record.outgoing_qtty
      this.transaction_date = record.created_at
      this.transaction_note = record.note
    },
    transaction_modify() {
      this.$axios
        .put(`${this.$URL.TRANSACTION}/${this.target_transaction.id}`, {
          incoming_qtty: this.transaction_incoming_qtty,
          outgoing_qtty: this.transaction_outgoing_qtty,
          created_at: this.transaction_date,
          note: this.transaction_note,
        })
        .then((res) => {
          this.transaction_incoming_qtty = ''
          this.transaction_outgoing_qtty = ''
          this.transaction_date = ''
          this.transaction_note = ''
          this.is_info_modify = false
          location.reload()
        })
    },
    delete_transaction(record) {
      this.$axios
        .delete(`${this.$URL.TRANSACTION}/${record.id}`)
        .then((res) => {
          location.reload()
        })
    },
    sort_by_date(a, b) {
      // Turn your strings into dates, and then subtract them
      // to get a value that is either negative, positive, or zero.
      return new Date(b.date) - new Date(a.date)
    },
    get_item_current_info(id) {
      this.transaction_filtered_data = this.data
        .filter((e) => e.id === id)[0]
        .transaction.filter((e) => e.is_deleted === false)
        .sort((a, b) => {
          return new Date(b.created_at) - new Date(a.created_at)
        })
        .map((e) => {
          return {
            id: e.id,
            outgoing_qtty: e.outgoing_qtty,
            incoming_qtty: e.incoming_qtty,
            note: e.note,
            created_at: e.created_at.split(' ')[0],
          }
        })
    },
    get_item_info(id) {
      this.$axios.get(`${this.$URL.ITEM}/${id}`).then((res) => {
        this.id = res.data.id
        this.name = res.data.name
        this.category_id = res.data.category_id_list
          .replace('{', '')
          .replace('}', '')
          .split(',')
          .map((e) => {
            return parseInt(e)
          })
        this.type = res.data.type
        this.kind = res.data.kind
        this.texture = res.data.texture
        this.specification_0 = res.data.specification_0
        this.specification_1 = res.data.specification_1
        this.specification_2 = res.data.specification_2
        this.location_id = res.data.location_id
        this.incoming_qtty = res.data.incoming_qtty
        this.outgoing_qtty = res.data.outgoing_qtty
        this.note = res.data.note
        this.unit = res.data.unit
      })
      this.$nextTick(() => {
        document.querySelector('#barcode').focus()
      })
      // document.querySelector('#barcode').focus()
    },
    get_barcode_item() {
      this.get_item_info(this.id)
    },
    async get_raw_category_list() {
      await this.$axios.get(this.$URL.ITEM_CATEGORY).then((res) => {
        this.raw_category_data = res.data.map((e) => {
          return {
            id: e.id,
            value: e.id,
            label: e.name,
            parent_id: e.parent_id,
          }
        })
        this.categoryData = this.listToTree(this.raw_category_data)
      })
    },
    async get_location_list() {
      await this.$axios.get(this.$URL.LOCATION).then((res) => {
        this.origin_data = res.data.map((e) => {
          const category = e.category_id_list
            .replace('{', '')
            .replace('}', '')
            .split(',')
          return {
            ...e,
            category: category.join(','),
            category_0: this.raw_category_data.find(
              (e) => e.id === parseInt(category[0])
            ).label,
            category_1:
              category.length > 1
                ? this.raw_category_data.find(
                    (e) => e.id === parseInt(category[1])
                  ).label
                : '',
            category_2:
              category.length > 2
                ? this.raw_category_data.find(
                    (e) => e.id === parseInt(category[2])
                  ).label
                : '',
          }
        })
        this.filtered_data = res.data.map((e) => {
          const category = e.category_id_list
            .replace('{', '')
            .replace('}', '')
            .split(',')
          return {
            ...e,
            category: category.join(','),
            category_0: this.raw_category_data.find(
              (e) => e.id === parseInt(category[0])
            ).label,
            category_1:
              category.length > 1
                ? this.raw_category_data.find(
                    (e) => e.id === parseInt(category[1])
                  ).label
                : '',
            category_2:
              category.length > 2
                ? this.raw_category_data.find(
                    (e) => e.id === parseInt(category[2])
                  ).label
                : '',
          }
        })
      })
    },
    async get_location_managed_item() {
      await this.$axios.get(this.$URL.ITEM).then((res) => {
        this.data = res.data.filter(
          (e) =>
            e.isLocMng === true && e.type === '상품' && e.is_deleted === false
        )
        console.log(this.data)
        console.log(this.origin_data)
        console.log(this.data
          .filter(
            (k) =>
              this.origin_data.filter((i) =>
                k.category_id_list.includes(i.category)
              ).length
          ))

        this.data
          .filter(
            (k) =>
              this.origin_data.filter((i) =>
                k.category_id_list.includes(i.category)
              ).length
          )
          .forEach((e) => {
            //  data.forEach(e => {
            const location = this.origin_data.find((i) =>
              e.category_id_list.includes(i.category)
            )
            
            this.record_data.push({
              product_id: e.id,
              ...location,
              item_name: e.name,
              specification_0: e.specification_0,
              specification_1: e.specification_1,
              specification_2: e.specification_2,
              count:
                e.transaction.length > 0
                  ? e.transaction
                      .filter((e) => e.is_deleted === false)
                      .map((t) => t.incoming_qtty)
                      .reduce((p, n) => p + n) -
                    e.transaction
                      .filter((e) => e.is_deleted === false)
                      .map((t) => t.outgoing_qtty)
                      .reduce((p, n) => p + n)
                  : '',
              changed_date:
                e.transaction.length > 0
                  ? e.transaction
                      .filter((e) => e.is_deleted === false)
                      .sort((a, b) => {
                        return new Date(b.created_at) - new Date(a.created_at)
                      })[0]
                      .created_at.split(' ')[0]
                  : '',
            })
            console.log(this.record_data)
          })
        this.origin_data = this.record_data
        this.filtered_data = this.record_data
      })
    },
    listToTree(arr = []) {
      // eslint-disable-next-line prefer-const
      let map = {}
      let node
      // eslint-disable-next-line prefer-const
      let res = []
      let i
      for (i = 0; i < arr.length; i += 1) {
        map[arr[i].id] = i
        arr[i].children = []
      }
      for (i = 0; i < arr.length; i += 1) {
        node = arr[i]
        if (node.parent_id) {
          arr[map[node.parent_id]].children.push(node)
        } else {
          res.push(node)
        }
      }
      return res
    },
    open_drawer(id) {
      this.transaction_list = this.item_list
        .find((i) => i.id === id)
        .transaction.map((e) => {
          return {
            ...e,
            location: this.location_list.find((k) => k.id === e.location_id)
              .name,
          }
        })
      this.drawer_visible = true
    },
    onClose() {
      this.drawer_visible = false
    },
    showModal() {
      this.visible = true
    },
    handleOk(e) {
      this.$axios
        .post(`${this.$URL.TRANSACTION}`, {
          type: this.type,
          kind: this.kind,
          partner_code: this.partner_code,
          item_id: this.id,
          // location_id : this.location_id,
          incoming_qtty: this.incoming_qtty ? parseInt(this.incoming_qtty) : 0,
          outgoing_qtty: this.outgoing_qtty ? parseInt(this.outgoing_qtty) : 0,
          note: this.note,
          created_at: this.date,
        })
        .then((res) => {
          this.info_visible = false
          this.visible = false
          location.reload()
        })
    },
    handleCancel(e) {
      console.log('Clicked cancel button')
      this.visible = false
      this.info_visible = false
      this.id = ''
      this.category_id = ''
    },
    handleSearch(e) {},

    handleReset() {
      this.form.resetFields()
    },

    start() {
      this.loading = true
      // ajax request after empty completing
      setTimeout(() => {
        this.loading = false
        this.selectedRowKeys = []
      }, 1000)
    },
    onSelectChange(selectedRowKeys) {
      console.log('selectedRowKeys changed: ', selectedRowKeys)
      this.selectedRowKeys = selectedRowKeys
    },
    search() {
      this.filtered_data = this.origin_data.filter((e) =>
        e.name.includes(this.searchKeyword)
      )
    },
  },
}
</script>

<style>
#components-layout-demo-side .logo {
  margin: 16px;
}
.ant-layout-sider-zero-width-trigger {
  position: absolute;
  top: 0px;
  right: -36px;
  z-index: 1;
  width: 36px;
  height: 42px;
  color: #fff;
  font-size: 18px;
  line-height: 42px;
  text-align: center;
  background: #001529;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background 0.3s ease;
}
.ant-layout-header {
  height: 42px;
  padding: 0 50px;
  line-height: 64px;
  background: #001529;
}

.ant-advanced-search-form {
  padding: 24px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}

.ant-advanced-search-form .ant-form-item {
  display: flex;
}

.ant-advanced-search-form .ant-form-item-control-wrapper {
  flex: 1;
}

.advanced-search .ant-form {
  max-width: none;
}
.advanced-search .search-result-list {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fff;
  min-height: 200px;
  text-align: center;
  padding-top: 00px;
}
.ant-advanced-search-form .ant-form-item {
  margin-bottom: 0px !important;
}
span.ant-radio + * {
  padding-right: 0px;
  padding-left: 0px;
}
.ant-form-item {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  font-feature-settings: 'tnum', 'tnum';
  margin-bottom: 4px !important;
  vertical-align: top;
}
.searchKeyword .ant-form-item-control-wrapper {
  width: 100%;
}
.advanced-search .ant-checkbox-wrapper + .ant-checkbox-wrapper {
  margin-right: 8px !important;
  margin-left: 0px !important;
}
.warehouse td {
  padding: 1px !important;
}
.warehouse th {
  text-align: center !important;
}
.ant-table-tbody > tr > td {
    padding: 6px 6px !important;
}
.ant-table-thead > tr > td {
    padding: 6px 6px !important;
}
</style>
