<template>
  <a-layout id="components-layout-demo-side" style="min-height: 100vh">
    <aside-menu></aside-menu>
    <a-layout style="min-width: 375px">
      <header-menu/>
      <a-layout-content style="margin: 0 16px">
        <a-breadcrumb style="margin: 16px 0">
          <a-breadcrumb-item>기준정보 관리</a-breadcrumb-item>
          <a-breadcrumb-item>창고 관리</a-breadcrumb-item>
        </a-breadcrumb>
        <div
          :style="{ padding: '24px', background: '#fff', minHeight: '360px' }"
        >
          <div class="advanced-search">
            <a-form
              class="ant-advanced-search-form"
          
            >
              <a-row :gutter="24">
                <a-col :xs="24" :md="12" :lg="10" :xl="7">
                  <a-form-item style="width: 100%" class="searchKeyword">
                    <a-input
                      v-model="searchKeyword"
                      style="width: 100%"
                      placeholder="명칭을 입력해 주세요."
                      @keyup.enter="search()"
                    >
                    </a-input>
                  </a-form-item>
                </a-col>
                <a-col :xs="24" :md="12" :lg="9" :xl="7">
                 
                </a-col>
                <a-col
                  :xs="24"
                  :md="24"
                  :lg="5"
                  :xl="10"
                  :style="{ textAlign: 'right' }"
                >
                  <a-button type="primary" @click="search()"> 검색 </a-button>
                  <a-button :style="{ marginLeft: '8px' }" @click="showModal">
                    등록
                  </a-button>
                  <a-button type="" :disabled="selectedRowKeys.length==0" @click="delete_location()"> 삭제 </a-button>
             
                </a-col>
              </a-row>
            </a-form>
            <div class="search-result-list">
              <a-table
                :scroll="{ x: 1500 }"
                :row-selection="{
                  selectedRowKeys: selectedRowKeys,
                  onChange: onSelectChange,
                }"
                bordered
                :columns="columns"
                :data-source="filtered_data"
                :pagination="{ pageSize: 10 }"
              >       
              <template slot="name" slot-scope="name,record">               
                  <span @click="get_location(record.id)"
                    >{{ name }}</span
                  >              
              </template>
              </a-table>
            </div>
          </div>
        </div>
      </a-layout-content>
   
      <a-modal
        title="창고 등록"
        :visible="visible"
        :confirm-loading="confirmLoading"
        @ok="handleOk"
        @cancel="handleCancel"
         :class="{ modal_diseditable: modal_diseditable }"
      >
        <a-form :form="form">
          <a-row>            
            <a-col :xs="24" :md="24" :lg="24">
              <a-form-item>
                <a-input
                  v-model="name"
                    :disabled="modal_diseditable"
                  placeholder="창고 이름"
                />
              </a-form-item>
            </a-col>
            <a-col :xs="24" :md="24" :lg="24">
              <a-form-item>
                <a-cascader
                  v-model="category_id_list"
                  :disabled="modal_diseditable"
                  :class="{ modal_diseditable: modal_diseditable }"
                  :options="categoryData"
                  change-on-select
                />
              </a-form-item>
            </a-col>
             <a-col :xs="24" :md="24" :lg="24">
              <a-form-item>
                <a-input
                  v-model="note"
                    :disabled="modal_diseditable"
                  placeholder="비고"
                />
              </a-form-item>
            </a-col>
          </a-row>
        </a-form>
        <template slot="footer">
          <!-- 수정 -->
          <a-button
            v-if="modal_diseditable == true"
            @click="
              modal_diseditable = false;
              modal_register = false;
             
            "
          >
            수정
          </a-button>

          <!-- 조회 -->
          <a-button
            v-if="modal_diseditable == false && modal_register == false"
            type="primary"
            @click="update_location(selected_location)"
          >
            수정하기
          </a-button>

          <!-- 등록 -->
          <a-button
            v-if="modal_diseditable == false && modal_register == true"
            type=""
            @click="handleCancel"
          >
            취소
          </a-button>
          <a-button
            v-if="modal_diseditable == false && modal_register == true"
            type="primary"
            @click="handleOk"
          >
            등록하기
          </a-button>
        </template>
      </a-modal>
      <Footer></Footer>
    </a-layout>
  </a-layout>
</template>
<script>
const columns = [
  {
    title: '창고 이름',
    dataIndex: 'name',
    width: 150,
    scopedSlots: { customRender: 'name' },
  },
  {
    title: '분류',   
    children:[
        {
          title: '분류1',
          dataIndex: 'category_0',  
          width: 100,
          scopedSlots: { customRender: 'category_0' },
        },
        {
          title: '분류2',
          dataIndex: 'category_1',  
          width: 100,
          scopedSlots: { customRender: 'category_1'},
        },
         {
          title: '분류3',
          dataIndex: 'category_2',  
          width: 100,
          scopedSlots: { customRender: 'category_2' },
        },
    ]
  },
  {
    title: '자재',   
    children:[
        {
          title: '자재명',
          dataIndex: 'item_name',  
          width: 300,
          scopedSlots: { customRender: 'item_name' },
        },
        {
          title: '규격1',
          dataIndex: 'specification_0',  
          width: 200,
          scopedSlots: { customRender: 'specification_0'},
        },
        {
          title: '규격2',
          dataIndex: 'specification_1',  
          width: 200,
          scopedSlots: { customRender: 'specification_1' },
        },
         {
          title: '재고 수량',
          dataIndex: 'count',  
          width: 200,
          scopedSlots: { customRender: 'count' },
        },
        {
          title: '최근 변동일',
          dataIndex: 'changed_date',  
          width: 200,
          scopedSlots: { customRender: 'changed_date' },
        },
    ]
  },
 
]

export default {
  data() {
    return {
      category_id:"",
      name:"",
      note:"",
      selected_location:"",
      modal_diseditable:false,
      modal_register:true,
      visible: false,
      confirmLoading: false,
      partnerType: 'a',
      confirmDirty: false,
      origin_data:[],
      filtered_data:[],
      columns,
      searchKeyword:"",
      selectedRowKeys: [], // Check here to configure the default column
      loading: false,
      category_id_list:[],
      categoryData:"",
      raw_category_data:"",
      record_data:[],
    }
  },
  computed: {
    hasSelected() {
      return this.selectedRowKeys.length > 0
    },
  },  
  mounted(){
    function getCookie(cookieName){
        let cookieValue=null;
        if(document.cookie){
            const array=document.cookie.split((escape(cookieName)+'='));
            if(array.length >= 2){
                const arraySub=array[1].split(';');
                cookieValue=unescape(arraySub[0]);
            }
        }
        if( cookieValue === null){
          alert("페이지 권한이 없습니다.")
          location.href="/dashboard"
        }
        return cookieValue;
    }
    this.$axios.get(`${this.$URL.USER}/${getCookie('user_id')}`).then(res=>{
      if( res.data.right[ this.$route.name ] === false ){
        alert("페이지 권한이 없습니다.")
        location.href="/dashboard"
      }
    })
    this.get_raw_category_list()
    this.get_location_list()
    this.get_location_managed_item()
  },
  updated() {
    console.log('updated')
  },
  methods: {
    async  get_raw_category_list(){
      await this.$axios.get(this.$URL.ITEM_CATEGORY).then((res) => {
        this.raw_category_data = res.data.map((e) => {
          return { id: e.id, value: e.id, label: e.name, parent_id: e.parent_id }
        })
        this.categoryData = this.listToTree(this.raw_category_data)
      })
    },
    listToTree(arr = []) {
      // eslint-disable-next-line prefer-const
      let map = {}
      let node
      // eslint-disable-next-line prefer-const
      let res = []
      let i
      for (i = 0; i < arr.length; i += 1) {
        map[arr[i].id] = i
        arr[i].children = []
      }
      for (i = 0; i < arr.length; i += 1) {
        node = arr[i]
        if (node.parent_id) {
          arr[map[node.parent_id]].children.push(node)
        } else {
          res.push(node)
        }
      }
      return res
    },
    search() {
      this.filtered_data = this.origin_data.filter(e=>e.name.includes(this.searchKeyword) )      
    },
    async delete_location(){
      for(const e of this.selectedRowKeys){
        const id = this.filtered_data[e].id;
        await this.$axios.delete(`${this.$URL.LOCATION}/${id}`)     
      }     
      this.get_location_list()
      this.search()
    },
    async get_location(id){
      await this.$axios.get(`${this.$URL.LOCATION}/${id}`)
        .then(res=>{
          this.name=res.data.name
          this.note=res.data.note   
       
          this.showModal()  
          this.modal_register=false
          this.modal_diseditable=true
          this.selected_location = res.data.id
        })      
    },
    async update_location(id){
      await this.$axios.put(`${this.$URL.LOCATION}/${id}`,{
       name:this.name, note:this.note , depth0: this.depth0, depth1: this.depth1   
      }).then(e=>{
        this.name=""
        this.note=""
        this.visible = false
    
        this.get_location_list()
        this.search()
      })
    },
    showModal() {
      this.visible = true
    },
    handleOk(e) {
     this.$axios.post(this.$URL.LOCATION,{
       name:this.name, note:this.note , category_id_list: this.category_id_list
     }).then(e=>{
       this.name=""
       this.note=""
       this.depth0=""
       this.depth1=""
       this.visible = false       
       this.get_location_list()
       this.search()
     })
    },
    handleCancel(e) {
      console.log('Clicked cancel button')
      this.visible = false
    },
    handleSearch(e) {
    
    },

    handleReset() {
      this.form.resetFields()
    },
    async get_location_list(){
      await this.$axios.get(this.$URL.LOCATION).then(res=>{
        this.origin_data = res.data.map(e=>{ 
          const category = e.category_id_list.replace("{","").replace("}","").split(",")
          return{ ...e,          
          category:category.join(","),
          category_0 : this.raw_category_data.find(e=>e.id===parseInt(category[0])).label,
          category_1 : category.length > 1 ? this.raw_category_data.find(e=>e.id===parseInt(category[1])).label : "",
          category_2 : category.length > 2 ? this.raw_category_data.find(e=>e.id===parseInt(category[2])).label : "",
          } 
          })
        this.filtered_data = res.data.map(e=>{ 
          const category = e.category_id_list.replace("{","").replace("}","").split(",")
          return{ ...e,          
          category:category.join(","),
          category_0 : this.raw_category_data.find(e=>e.id===parseInt(category[0])).label,
          category_1 : category.length > 1 ? this.raw_category_data.find(e=>e.id===parseInt(category[1])).label : "",
          category_2 : category.length > 2 ? this.raw_category_data.find(e=>e.id===parseInt(category[2])).label : "",
          } 
          })
      })
    },
    async get_location_managed_item(){
      await this.$axios.get(this.$URL.ITEM).then(res=>{
        const data = res.data.filter(e=>e.isLocMng===true)
       
        data.filter(k=> this.origin_data.filter(i=> k.category_id_list.includes(i.category) ).length ).forEach(e => {
          const location = this.origin_data.find(i=> e.category_id_list.includes(i.category)   )
          console.log(location)
          console.log(e)
          this.record_data.push(
            {
              ...location,
              item_name : e.name,
              specification_0: e.specification_0,
              specification_1: e.specification_1,
              specification_2: e.specification_2,              
              count :  e.transaction.length>0? e.transaction.map(t=>t.incoming_qtty).reduce((p,n)=>p+n) -  e.transaction.map(t=>t.outgoing_qtty).reduce((p,n)=>p+n) : "",
              changed_date : e.transaction.length>0? e.transaction[0].created_at.split(" ")[0] : ""
            }
          ) 
        });
        this.filtered_data = this.record_data
      })
    },
    onSelectChange(selectedRowKeys) {
      console.log('selectedRowKeys changed: ', selectedRowKeys)
      this.selectedRowKeys = selectedRowKeys
    },
  },
}
</script>

<style  >
#components-layout-demo-side .logo {
  margin: 16px;
}
.ant-layout-sider-zero-width-trigger {
  position: absolute;
  top: 0px;
  right: -36px;
  z-index: 1;
  width: 36px;
  height: 42px;
  color: #fff;
  font-size: 18px;
  line-height: 42px;
  text-align: center;
  background: #001529;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background 0.3s ease;
}
.ant-layout-header {
  height: 42px;
  padding: 0 50px;
  line-height: 64px;
  background: #001529;
}

.ant-advanced-search-form {
  padding: 24px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}

.ant-advanced-search-form .ant-form-item {
  display: flex;
}

.ant-advanced-search-form .ant-form-item-control-wrapper {
  flex: 1;
}

.advanced-search .ant-form {
  max-width: none;
}
.advanced-search .search-result-list {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fff;
  min-height: 200px;
  text-align: center;
  padding-top: 00px;
}
.ant-advanced-search-form .ant-form-item {
  margin-bottom: 0px !important;
}
span.ant-radio + * {
  padding-right: 0px;
  padding-left: 0px;
}
.ant-form-item {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  font-feature-settings: 'tnum', 'tnum';
  margin-bottom: 4px !important;
  vertical-align: top;
}
.searchKeyword .ant-form-item-control-wrapper {
  width: 100%;
}
.modal_diseditable .ant-form-explain {
  margin-bottom: 0px !important;
  position: absolute;
  top: -8px;
  left: 10px;
  display: initial;
}

.modal_diseditable .ql-toolbar {
  height: 0px !important;
  overflow: hidden !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  border-top: none !important;
}
.modal_diseditable .ant-select-disabled .ant-select-selection__choice {
  color: #000 !important;
  background-color: #fff !important;
  border: transparent !important;
  font-weight: bold;
}
.ant-input-disabled {
  color: #000 !important;
  background-color: #fff !important;
  border: transparent !important;
  font-weight: bold;
}
.ant-select-disabled .ant-select-selection {
  color: #000 !important;
  background-color: #fff !important;
  border: transparent !important;
  font-weight: bold;
}
.ant-select-disabled .ant-select-arrow {
  display: none;
}
.ant-table-tbody > tr > td {
    padding: 6px 6px !important;
  
}
.ant-table-thead > tr > td {
    padding: 6px 6px !important;
  
}
</style>
