<div id="product_name">
    <div class="card mb-1 shadow-none">
        <div class="card-header" id="headingOne">
            <h6 class="m-0">
                <a href="#collapseSecond" class="text-dark" data-toggle="collapse" aria-expanded="true"
                    aria-controls="collapseSecond">
                    <h4 class="card-title">상품간단 정보</h4>
                </a>
            </h6>
        </div>
        <div id="collapseSecond" class="collapse show" aria-labelledby="headingOne"
            data-parent="#product_name">
            <div class="form-group row m-3">
                <label for="example-text-input" class="col-md-2 col-form-label">상품 이름</label>
                <div class="col-md-10 ">
                    <input name="name" class="form-control" type="text" value="{{product.name}}" placeholder="상품 이름을 입력해주세요." id="product_name_input">
                </div>
            </div>
            <div class="form-group row m-3">
                <label for="example-text-input" class="col-md-2 col-form-label">상품 간단 설명</label>
                <div class="col-md-10 ">
                    <input name="description_summary" class="form-control" type="text" value="{{product.description_summary}}" placeholder="상품 간단 설명을 입력해주세요." id="description_summary">
                </div>
            </div>
            <div class="form-group row m-3">
                <label for="example-text-input" class="col-md-2 col-form-label">HOT 여부</label>
                <div class="col-md-10">
                    <div class="square-switch">
                        <input name="is_hot" class="data-toggle"  type="checkbox" id="is_hot" switch="none" {% if product.is_hot %} checked {% endif %}/>
                        <label for="is_hot" data-on-label="On" data-off-label="Off"></label>
                    </div>
                </div>
            </div>
            <div class="form-group row m-3">
                <label for="example-text-input" class="col-md-2 col-form-label">NEW 여부</label>
                <div class="col-md-10">
                    <div class="square-switch">
                        <input name="is_new" class="data-toggle"  type="checkbox" id="is_new" switch="none"  {% if product.is_new %} checked {% endif %} />
                        <label for="is_new" data-on-label="On" data-off-label="Off"></label>
                    </div>
                </div>
            </div>
            <div class="form-group row m-3">
                <label for="example-text-input" class="col-md-2 col-form-label">노출 여부</label>
                <div class="col-md-10">
                    <div class="square-switch">
                        <input name="is_show" class="data-toggle"  type="checkbox" id="is_show" switch="none"  {% if product.is_show %} checked {% endif %} />
                        <label for="is_show" data-on-label="On" data-off-label="Off"></label>
                    </div>
                </div>
            </div>
            <div class="form-group row m-3">
                <label for="example-text-input" class="col-md-2 col-form-label">메인페이지 노출 여부</label>
                <div class="col-md-10">
                    <div class="square-switch">
                        <input name="is_main_display" class="data-toggle"  type="checkbox" id="is_main_display" switch="none"  {% if product.is_main_display %} checked {% endif %} />
                        <label for="is_main_display" data-on-label="On" data-off-label="Off"></label>
                    </div>
                </div>
            </div>
            <div class="form-group row m-3">
                <label for="example-text-input" class="col-md-2 col-form-label">상품 그룹 선택</label>
                <div class="col-md-10">
                    <div class="square-switch">
                        <select id="product_group" class="form-control" style="max-width: 200px;">
                            <option value="">미선택</option>

                            {% for i in group %}
                            <option value="{{ i.id }}" {% if product.group == i %} selected {% endif %}>{{ i.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group row m-3">
                <label for="example-text-input" class="col-md-2 col-form-label">상품 그룹내 이름 </label>
                <div class="col-md-10 ">
                    <input style="max-width: 500px;"  name="c" class="form-control" type="text" value="{{product.group_specific_name|default:""}}" placeholder="상품 그룹내 이름을 입력해주세요." id="group_specific_name">
                </div>
            </div>
           <div class="form-group row m-3">
                <label for="example-text-input" class="col-md-2 col-form-label">상품 그룹내 순서 </label>
                <div class="col-md-10 ">
                    <input style="max-width: 500px;"  name="group_specific_index" class="form-control" type="text" value="{{product.group_specific_index|default:0}}" placeholder="상품 그룹내 순서를 입력해주세요." id="group_specific_index">
                </div>
            </div>
            <div class="form-group row m-3">
                <label for="example-text-input" class="col-md-2 col-form-label">상품 그룹내 메인 상품 여부</label>
                <div class="col-md-10">
                    <div class="square-switch">
                        <input name="is_group_main_product"  class="data-toggle"  type="checkbox" id="is_group_main_product" switch="none"  {% if product.is_group_main_product %} checked {% endif %} />
                        <label for="is_group_main_product" data-on-label="On" data-off-label="Off"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>                    
</div>
<script>
    $("#is_group_main_product").on("change", function(){
        console.log( $(this).is(":checked") )
        if( $(this).is(":checked")  ){
            alert("그룹 메인 상품은 자동으로 노출 되게 설정됩니다")
            if( !$("#is_show").is(":checked") ) $("#is_show").click()
        }else{
            alert("그룹 내 메인 상품이 아닌경우  자동으로 비노출 되게 설정됩니다")
            if( $("#is_show").is(":checked") ) $("#is_show").click()
        }
    })
</script>
