<div id="product_image">
    <div class="card mb-1 shadow-none">
        <div class="card-header" id="headingOne">
            <h6 class="m-0">
                <a href="#collapseFifth" class="text-dark" data-toggle="collapse" aria-expanded="true"
                    aria-controls="collapseFifth">
                    <h4 class="card-title">상품 이미지</h4>
                </a>
            </h6>
        </div>
        <div id="collapseFifth" class="collapse show" aria-labelledby="headingOne"
            data-parent="#product_image">
            <small class="form-text text-muted" style="margin-left: 20px">
                이미지는 순서대로 표시됩니다. 변경시 이미지를 드래그앤드롭 해주세요.
            </small>
            <div class="form-group row m-3 product_img_con" id="product_img_con">
                {% for item in  product.shopproductimage_set.all %}
                <div data-img-id="{{item.id}}" id="product_img_{{item.id}}" class="product_img ui-state-default"><div data-img-id="{{item.id}}" class="remove_btn">X</div>
                        <img src="{{item.image.url}}" class="img">
                </div>
                {% endfor %}
                <div class="product_img default">
                    이미지를<br>추가해주세요
                </div>
            </div>
        </div>
        <input id="product_img_file" type="file" style="opacity:0; width: 1px; height:1px">
        <input type="hidden" id="image_list" name="image_list" >
    </div>                    
</div>

<script>
    function render_product_img(id, url) {      
        // 화면을 재생성 해주고 id 를 따로 input value 로 넣어준다
        var img_add_btn = $(".product_img.default").detach()
        var prev_html = $(".product_img_con").html()
        $(".product_img_con").empty()
        var img_tpl = '<div data-img-id="'+id+'" id="product_img_'+id+'" class="product_img ui-state-default"><div data-img-id="'+id+'" class="remove_btn">X</div>'+
                        '<img src="'+ url +'" class="img">'+
                        '</div>'
        $(".product_img_con").html(
            prev_html+img_tpl
        )
        $(".product_img_con").append(
            img_add_btn)
        // console.log( $("#image_list").val().split(",") )
        var current_data = $("#image_list").val().split(",")
        current_data = current_data.filter( function(el){return el != ""} )
        current_data.push(id)
        $("#image_list").val( current_data.join(",") )            
    }
    $(document).ready(function(){
        $(document).on("click",".product_img.default", function(){
            $("#product_img_file").click()
        })        
        $(document).on("change","#product_img_file", function(){
            // 서버에 전송하는 코드 작성
            var form = new FormData()
            form.append("file",document.querySelector('#product_img_file').files[0])
            $.ajax({
                url:"/shop_admin/upload_product_img",
                type:"post",
                data:form,
                processData: false,
                contentType: false,
                success:function(res){
                    render_product_img(res.result.id,res.result.url)
                }
            })
        })
        $(document).on("click", ".remove_btn", function(){
            var target = $(this)
            var current_data = $("#image_list").val().split(",")
            current_data = current_data.filter( function(el){return el != ""} )
            current_data = current_data.filter( function(el){return el != parseInt( target.attr("data-img-id") )} )
            $("#image_list").val( current_data.join(",") )
            target.closest(".product_img").remove()
        })

        $( "#product_img_con" ).sortable({
            change: function( event, ui ){
                // console.log(event)
                // console.log(ui)
                // 순서가 바뀌었으니 input val 을 변경해준다
                var data = []
                $(".product_img_con>.product_img.ui-state-default").each(function(e){ data.push($(this).attr("data-img-id")) })
                $("#image_list").val( data.join(",") )
                
            } 
            }
        );
        $( "#product_img_con" ).disableSelection();
        })        
</script>