<div id="product_detail">
    <div class="card mb-1 shadow-none">
        <div class="card-header" id="headingOne">
            <h6 class="m-0">
                <a href="#collapseSixth" class="text-dark" data-toggle="collapse" aria-expanded="true"
                    aria-controls="collapseSixth">
                    <h4 class="card-title">상세설명</h4>
                </a>
            </h6>
        </div>

        <div id="collapseSixth" class="collapse show" aria-labelledby="headingOne"
            data-parent="#product_detail">
            <div class="form-group row m-3 " id="product_detail">
                <textarea name="detail" id="summernote" style="width: 100%; min-height: 600px"></textarea>
            </div>
        </div>
    </div>                    
</div>