<div id="product_delivery">
    <div class="card mb-1 shadow-none">
        <div class="card-header" id="headingOne">
            <h6 class="m-0">
                <a href="#collapseSeventh" class="text-dark" data-toggle="collapse" aria-expanded="true"
                    aria-controls="collapseSeventh">
                    <h4 class="card-title">배송</h4>
                </a>
            </h6>
        </div>

        <div id="collapseSeventh" class="collapse show" aria-labelledby="headingOne"
            data-parent="#product_delivery">
            <div class="form-group row m-3">
                <label class="control-label col-md-2">배송 정책</label>
                <div class="col-md-10 row d-flex align-items-center">
                    <label for="example-text-input" class="col-md-1 col-form-label">평균 출고 예상일 </label>
                    <div class="col-md-2 ">
                        <input name="delivery_duration" class="comma-format  form-control"  type="text" value="{{product.delivery_duration|default:"0"}}">
                    </div>
                <label for="example-text-input" class="col-md-1 col-form-label">방문수령</label>
                <div class="col-md-2 ">
                    <input name="direct_receive_price" class="comma-format  form-control"  type="text" value="{{product.direct_receive_price|default:"0"}}">
                </div>
          
                <label for="example-text-input" class="col-md-1 col-form-label">선불택배 수령</label>
                <div class="col-md-2 ">
                    <input name="pre_parcel_price" class="comma-format  form-control"  type="text" value="{{product.pre_parcel_price|default:"0"}}">
                </div>
           
                <label for="example-text-input" class="col-md-1 col-form-label">후불택배 수령</label>
                <div class="col-md-2 ">
                    <input name="after_parcel_price" class="comma-format  form-control"  type="text" value="{{product.after_parcel_price|default:"0"}}">
                </div>
           
                <label for="example-text-input" class="col-md-1 col-form-label">선불퀵 수령</label>
                <div class="col-md-2 ">
                    <input name="pre_quick_price" class="comma-format  form-control"  type="text" value="{{product.pre_quick_price|default:"0"}}">
                </div>
           
                <label for="example-text-input" class="col-md-1 col-form-label">후불퀵 수령</label>
                <div class="col-md-2 ">
                    <input name="after_quick_price" class="comma-format  form-control"  type="text" value="{{product.after_quick_price|default:"0"}}">
                </div>           
                <label for="example-text-input" class="col-md-1 col-form-label">선불 화물 수령</label>
                <div class="col-md-2 ">
                    <input name="pre_carton_price" class="comma-format  form-control"  type="text" value="{{product.pre_carton_price|default:"0"}}">
                </div>           
                <label for="example-text-input" class="col-md-1 col-form-label">후불 화물 수령</label>
                <div class="col-md-2 ">
                    <input name="after_carton_price" class="comma-format  form-control"  type="text" value="{{product.after_carton_price|default:"0"}}">
                </div>
            
                <label for="example-text-input" class="col-md-1 col-form-label">지역배송</label>
                <div class="col-md-2 ">
                    <input name="local_delivery_price" class="comma-format  form-control"  type="text" value="{{product.local_delivery_price|default:"0"}}">
                </div>
                </div>
            </div>
        </div>
    </div>
</div>