<link href="/static/admin/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
<link href="/static/admin/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">
<link href="/static/admin/libs/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet">
<link href="/static/admin/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
<link href="/static/css/json-edit.css" rel="stylesheet" />



<script src="/static/admin/js/tree_dummy_data.js"></script>

<script src="/static/admin/js/libs/select2/js/select2.min.js"></script>
<script src="/static/admin/js/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="/static/admin/js/libs/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
<script src="/static/admin/js/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
<script src="/static/admin/js/libs/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>

<script src="/static/admin/js/libs/jquery.repeater/jquery.repeater.min.js"></script>
<script src="/static/admin/js/lodash.js"></script>
<!-- <script src="/static/admin/js/pages/form-repeater.int.js"></script> -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<script src="/static/js/json-edit.js"></script>
