{% load product_options %} 
<div id="product_option">
  <div class="card mb-1 shadow-none">
    <div class="card-header" id="headingOne">
      <h6 class="m-0">
        <a  style="display: flex;align-items: center" class="text-dark" data-toggle="collapse" aria-expanded="true" aria-controls="collapseFourth">
          <h4 class="card-title" style="margin-bottom: 0px;">옵션</h4>
            {% if product.group %}
                <span style="display: inline-block;font-size: 15px; margin-left: 20px;">그룹 명 : {{ product.group.name }}</span>
                <span style="display: inline-block;font-size: 15px; margin-left: 20px;">세부 상품 : </span>
                {% for item in product.group.group_product_set_id_list %}
                <span class="btn {% if product.id == item.id %}btn-primary{% endif %} " style="margin-left: 3px;display: inline-block;line-height: 10px; padding: 5px 10px; border-radius: 20px;border: 1px solid #666 " onclick="window.open('/shop_admin/modify_product/{{ item.id }}'); return false">{{ item.group_specific_name }}</span>
                {% endfor %}
            {% endif %}
        </a>
      </h6>
    </div>
    <div id="collapseFourth" class="collapse show" aria-labelledby="headingOne" data-parent="#product_option">
      <div class="form-group row m-3">
        <label class="col-md-2 col-form-label">
          텍스트 옵션</label>
        <div class="col-md-10 text_option">
          <div class="col-md-12">
            {% if text_option %}
              {% for item in text_option%}
                <div class="row option_container text_option_item">
                  <div class="col-4 option_name_col">
                    <input class="form-control option_name" type="text" value="{{item.name}}" placeholder="옵션 이름을 입력해주세요."/>
                  </div>
                  <div class="col-4 option_val_col">
                    <input class="form-control option_value" type="text" value="{{item.value}}" placeholder="옵션 값을 입력해주세요."/>
                  </div>
                  <div class="col-2" style="display: flex">                   
                    <input value="삭제" type="button" class="btn btn-outline-primary waves-effect waves-light repeater-delete"/>
                    <input value="추가" type="button" class="btn btn-outline-primary waves-effect waves-light repeater-add"/>
                    <div class="d-flex flex-column justify-content-around">
                      <i class="fas fa-arrow-circle-up upper"></i>
                      <i class="fas fa-arrow-circle-down downer"></i>
                    </div>
                  </div>
                  <div class="col-4 option_exp_title_col">                   
                    <input class="form-control exp_title" type="text"  value="{{item.exp_title}}" placeholder="설명 타이틀을 입력해주세요."/>
                    <input type="file" data-url="{{item.exp_image}}" class="form-control exp_image"/>
                   
                  </div>
                  <div class="col-4 option_exp_content_col">
                    <textarea class="form-control exp_content" style="height:73px" type="text"  placeholder="설명 내용을 입력해주세요.">{{item.exp_content}}</textarea>
                  </div>
                  <div class="exp_image_view col-3 ">
                    {% if item.exp_image %}
                    
                    <img style="height:73px" src="{{ item.exp_image_id|get_image }}">
                    {% endif %}
                  </div>
                </div>
              {% endfor %}
              {%else%}
              <div class="row option_container text_option_item">
                <div class="col-2 option_name_col">
                  <input class="form-control option_name" type="text" value="" placeholder="옵션 이름을 입력해주세요."/>
                </div>
                <div class="col-3 option_val_col">
                  <input class="form-control option_value" type="text" value="" placeholder="옵션 값을 입력해주세요."/>
                </div>
                <div class="col-6" style="display: flex">
                  <input type="file" class="form-control" style="width: 250px; display: inline-block"/>
                  <input value="삭제" type="button" class="btn btn-outline-primary waves-effect waves-light repeater-delete"/>
                  <input value="추가" type="button" class="btn btn-outline-primary waves-effect waves-light repeater-add"/>
                  <div class="d-flex flex-column justify-content-around">
                    <i class="fas fa-arrow-circle-up upper"></i>
                    <i class="fas fa-arrow-circle-down downer"></i>
                  </div>
                </div>
                <div class="col-4 option_exp_title_col">                   
                  <input class="form-control exp_title" type="text"  value="{{item.exp_title}}" placeholder="설명 타이틀을 입력해주세요."/>
                  <input type="file" data-url="{{item.exp_image}}" class="form-control exp_image"/>
                 
                </div>
                <div class="col-4 option_exp_content_col">
                  <textarea class="form-control exp_content" style="height:73px" type="text"  placeholder="설명 내용을 입력해주세요.">{{item.exp_content}}</textarea>
                </div>
                <div class="exp_image_view col-3 ">
                  {% if item.exp_image %}
                  <img style="height:73px" src="{{item.exp_image_id}}">
                  {% endif %}
                </div>
              </div>
            {% endif %}
          </div>
        </div>
        <label class="col-md-2 col-form-label" style="margin-top: 20px">
          수치 입력 옵션</label>
        <div class="col-md-10 text_option" style="margin-top: 20px">
          <div class="square-switch ml-3">
            <input name="number_input_option" class="data-toggle" type="checkbox" id="number_input_option" switch="none"/>
            <label for="number_input_option" data-on-label="On" data-off-label="Off"></label>
          </div>
          <div class="input_option_content col-md-12">
            <input id="price_per_area" class="form-control" type="text" placeholder="단위 면적당 금액(원)" style="display: inline-block; width: 200px"/>
            <input id="min_price_per_one" class="form-control" type="text" placeholder="최소 주문 금액(1개당)" style="display: inline-block; width: 200px"/>
            단위 : <input type="radio" name="dimension" value="cm" id="cm" ><label for="cm">CM</label><input type="radio" name="dimension" value="mm" id="mm"><label for="mm">MM</label>
            <br/>
         
            입력 종류 : <select name="input_type" class="form-control" style="max-width: 500px; display:inline-block"
            value="{{number_input_option.input_type}}"
            >
                <option value="width_input_height_input">가로직접/세로직접/높이없음</option>
                <option value="width_select_height_select">가로선택/세로선택/높이없음</option>
                <option value="width_input_height_select">가로직접/세로선택/높이없음</option>
                <option value="width_select_height_input">가로선택/세로직접/높이없음</option>

                <option value="width_input_height_input_vertical_input">가로직접/세로직접/높이직접</option>
                <option value="width_select_height_select_vertical_input">가로선택/세로선택/높이직접</option>
                <option value="width_input_height_select_vertical_input">가로직접/세로선택/높이직접</option>
                <option value="width_select_height_input_vertical_input">가로선택/세로직접/높이직접</option>

                <option value="width_input_height_input_vertical_select">가로직접/세로직접/높이선택</option>
                <option value="width_select_height_select_vertical_select">가로선택/세로선택/높이선택</option>
                <option value="width_input_height_select_vertical_select">가로직접/세로선택/높이선택</option>
                <option value="width_select_height_input_vertical_select">가로선택/세로직접/높이선택</option>                
            </select>
            <!-- <input type="radio" data-on=".both_input" name="input_type" id="width_input_height_input" value="width_input_height_input"><label for="width_input_height_input">가로세로 직접 입력</label>
            <input type="radio" data-on=".height_select" name="input_type" id="width_input_height_select" value="width_input_height_select"><label for="width_input_height_select">가로 직접 입력 세로 선택 입력</label>
            <input type="radio" data-on=".width_select" name="input_type" id="width_select_height_input" value="width_select_height_input"><label for="width_select_height_input">가로 선택 입력 세로 직접 입력</label>
            <input type="radio" data-on=".height_select,.width_select" name="input_type" id="width_select_height_select" value="width_select_height_select"><label for="width_select_height_select">가로 선택 입력 세로 선택 입력</label>
            <input type="radio" data-on=".triple_input" name="input_type" id="width_height_depth_input" value="width_height_depth_input"><label for="width_height_depth_input">가로, 세로, 높이 입력</label><br>
           -->
            <!-- <div class="width_select height_select select_control" style="display: inline-block;">           
              <div style="display: flex; align-items:center">
                수치 직접 입력  
              <span class="square-switch ml-3">
                <input name="can_direct_input"  class="data-toggle" type="checkbox" id="can_direct_input" switch="none"/>
                <label for="can_direct_input"  style=" margin-top: 10px;" data-on-label="허용" data-off-label="불가"></label>
              </span>
              </div>  
            </div> -->
            <br>
            <input id="min_width" class="form-control width_form" type="text" placeholder="최소 가로 길이" style="display: inline-block; width: 200px"/>
            <input id="max_width" class="form-control width_form" type="text" placeholder="최대 가로 길이" style="display: inline-block; width: 200px"/>
            <input id="select_width" type="text"  class="form-control width_select select_control" style="display: inline-block; width: 200px" placeholder="가로 길이 선택 입력(&로 구분)" name="width_select">
            <br>
            <input id="min_height" class="form-control height_form" type="text" placeholder="최소 세로 길이" style="display: inline-block; width: 200px"/>
            <input id="max_height" class="form-control height_form" type="text" placeholder="최대 세로 길이" style="display: inline-block; width: 200px"/>
            <input id="select_height" type="text"  class="form-control height_select select_control" style="display: inline-block; width: 200px" placeholder="세로 길이 선택 입력(&로 구분)" name="height_select">
            <br>
            <input id="min_vertical" class="form-control vertical_form " type="text" placeholder="최소 높이 길이" style="display: inline-block; width: 200px"/>
            <input id="max_vertical" class="form-control vertical_form " type="text" placeholder="최대 높이 길이" style="display: inline-block; width: 200px"/>
            <input  id="select_vertical" type="text"  class="form-control vertical_select select_control" style="display: inline-block; width: 200px" placeholder="높이 길이 선택 입력(&로 구분)" name="vertical_select">
            <br>
          </div>
        </div>
        <label class="col-md-2 col-form-label">
          셀렉트 옵션</label>
        <div class="col-md-10 select-option-container ">
          {% if select_option %} 
            {% for item in select_option %}
              <div class="select-group-item option_container">
                <div class="col-6">
                  <div class="col-form-label" style="width: 800px">
                    <input class="form-control option_title" type="text" value="{{item.name}}" placeholder="셀렉트 옵션 그룹 이름을 입력해주세요." style="display: inline-block; width: 250px"/>
                    <input type="radio" class="price_variation_type" name="price_variation_type_{{forloop.counter0}}" 
                    id="price_variation_type_{{forloop.counter0}}_static_price" value="true" 
                    {% if "is_static_price" in item  %}
                      {% if item.is_static_price == "true" %}
                        checked
                      {% endif %}
                    {% endif %}
                    >
                    <label for="price_variation_type_{{forloop.counter0}}_static_price">고정가격</label>
                    <input type="radio" class="price_variation_type" name="price_variation_type_{{forloop.counter0}}" 
                    id="price_variation_type_{{forloop.counter0}}_dynamic_price" value="false"
                    {% if "is_static_price" in item  %}
                      {% if item.is_static_price == "false" %}
                        checked
                      {% endif %}
                    {% endif %}
                    >
                    <label for="price_variation_type_{{forloop.counter0}}_dynamic_price">변동가격(면적당)</label>
                    <button class="badge select-group-add badge-primary">
                      그룹추가
                    </button>
                    <button class="badge badge-warning select-group-delete">
                      그룹삭제
                    </button>
                  </div>
                </div> 
                <div class="row" style="padding-left: 12px;">
                  <div class="col-4 option_exp_title_col">                   
                    <input class="form-control exp_title" type="text"  value="{{item.exp_title}}" placeholder="설명 타이틀을 입력해주세요."/>
                    <input type="file" data-url="{{item.exp_image}}" class="form-control exp_image"/>
                   
                  </div>
                  <div class="col-4 option_exp_content_col">
                    <textarea class="form-control exp_content" style="height:73px" type="text"  placeholder="설명 내용을 입력해주세요.">{{item.exp_content}}</textarea>
                  </div>
                  <div class="exp_image_view col-3 ">
                    {% if item.exp_image %}
                    <img style="height:73px" src="{{ item.exp_image_id|get_image }}">
                    {% endif %}
                  </div>
                </div>
                <div class="col-md-12 select-option">
                  {% for option in item.list %}
                    <div class="row option_container select_option">
                      <div class="col-3 option_val_col">
                        <input class="form-control option_value" type="text" value="{{option.value}}" placeholder="셀렉트 옵션 값을 입력해주세요."/>
                      </div>
                      <div class="col-7" style="display: flex">
                        <input class="form-control option_price" style="width: 200px" type="text" value="{{option.price}}" placeholder="셀렉트 옵션 가격"/>
                        <input type="file" class="form-control" style="width: 250px; display: inline-block"/>
                        <input value="삭제" type="button" class="btn btn-outline-primary waves-effect waves-light select-repeater-delete"/>
                        <input value="추가" type="button" class="btn btn-outline-primary waves-effect waves-light select-repeater-add"/>
                        <div class="d-flex flex-column justify-content-around">
                          <i class="fas fa-arrow-circle-up upper"></i>
                          <i class="fas fa-arrow-circle-down downer"></i>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
              {%endfor%}
              {%else%}
              <div class="select-group-item option_container">
                <div class="col-6">
                  <div class="col-form-label" style="width: 800px">
                    <input class="form-control option_title" type="text" value="" placeholder="셀렉트 옵션 그룹 이름을 입력해주세요." style="display: inline-block; width: 250px"/>
                    <input type="radio" class="price_variation_type" name="price_variation_type_99"  id="static_price_99" value="false" checked>
                    <label for="static_price_99">고정가격</label>
                    <input type="radio" class="price_variation_type" name="price_variation_type_99"  id="dynamic_price_99" value="true">
                    <label for="dynamic_price_99">변동가격(면적당)</label>
                     
                    <button class="badge select-group-add badge-primary">
                      그룹추가
                    </button>
                    <button class="badge badge-warning select-group-delete">
                      그룹삭제
                    </button>
                  </div>
                </div>
                <div class="row" style="padding-left: 12px;">
                  <div class="col-4 option_exp_title_col">                   
                    <input class="form-control exp_title" type="text"  value="{{item.exp_title}}" placeholder="설명 타이틀을 입력해주세요."/>
                    <input type="file" data-url="{{item.exp_image}}" class="form-control exp_image"/>
                   
                  </div>
                  <div class="col-4 option_exp_content_col">
                    <textarea class="form-control exp_content" style="height:73px" type="text"  placeholder="설명 내용을 입력해주세요.">{{item.exp_content}}</textarea>
                  </div>
                  <div class="exp_image_view col-3 ">
                    {% if item.exp_image %}
                    <img style="height:73px" src="{{item.exp_image}}">
                    {% endif %}
                  </div>
                </div>
                <div class="col-md-12 select-option">
                  <div class="row option_container select_option">
                    <div class="col-3 option_val_col">
                      <input class="form-control option_value" type="text" value="" placeholder="셀렉트 옵션 값을 입력해주세요."/>
                    </div>
                    <div class="col-7" style="display: flex">
                      <input class="form-control option_price" style="width: 200px" type="text" value="" placeholder="셀렉트 옵션 가격"/>
                      <input type="file" class="form-control" style="width: 250px; display: inline-block"/>
                      <input value="삭제" type="button" class="btn btn-outline-primary waves-effect waves-light select-repeater-delete"/>
                      <input value="추가" type="button" class="btn btn-outline-primary waves-effect waves-light select-repeater-add"/>
                      <div class="d-flex flex-column justify-content-around">
                        <i class="fas fa-arrow-circle-up upper"></i>
                        <i class="fas fa-arrow-circle-down downer"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {%endif%}
            </div>
            <label class="col-md-2 col-form-label">
              디자인 옵션 그룹</label>
            <div class="col-md-10 col-form-label">
              <div class="col-md-12 design_option_container">
                {% if design_option %}
                  {% for item in design_option %}
                    <div class="row option_container design_option">
                      <div class="col-2 option_name_col">
                        <input class="form-control option_name" type="text" value="{{item.name}}" placeholder="디자인 옵션 이름"/>
                      </div>
                      <div class="col-3 option_val_col">
                        <input class="form-control option_price" type="text" value="{{item.price}}" placeholder="디자인 옵션 가격"/>
                      </div>
                      <div class="col-7" style="display: flex">
                        <input value="삭제" type="button" class="btn btn-outline-primary waves-effect waves-light design-repeater-delete"/>
                        <input value="추가" type="button" class="btn btn-outline-primary waves-effect waves-light design-repeater-add"/>
                      </div>
                    </div>
                  {% endfor %}
                  {%else%}
                  <div class="row option_container design_option">
                    <div class="col-2 option_name_col">
                      <input class="form-control option_name" type="text" value="" placeholder="디자인 옵션  이름"/>
                    </div>
                    <div class="col-3 option_val_col">
                      <input class="form-control option_price" style="" type="text" value="" placeholder="디자인 옵션 가격"/>
                    </div>
                    <div class="col-7" style="display: flex">
                      <input value="삭제" type="button" class="btn btn-outline-primary waves-effect waves-light design-repeater-delete"/>
                      <input value="추가" type="button" class="btn btn-outline-primary waves-effect waves-light design-repeater-add"/>
                    </div>
                  </div>
                  {%endif%}
                </div>
              </div>
              <label class="col-md-2 col-form-label" style="margin-top: 20px">
                파일 업로드 여부</label>
              <div class="col-md-10" style="margin-top: 20px">
                <div class="col-md-10" style="margin-top: 00px">
                <div class="square-switch">
                  <input name="need_to_file_upload" class="data-toggle" type="checkbox" id="need_to_file_upload" switch="none"
                          {%if product.need_to_file_upload   %} checked="checked" {% endif %}/>
                  <label for="need_to_file_upload" data-on-label="On" data-off-label="Off"></label>
                </div>
                </div>
              </div>
              <label class="col-md-2 col-form-label" style="margin-top: 20px">
                템플릿 파일 첨부</label>
              <div class="col-md-10" style="margin-top: 00px">
                <div class="col-md-2 col-form-label">
                  <input type="file" data-file="{{template_file}}" class="form-control template_file"> {% if item.template_file %} <a href="{{item.template_file}}" target="_blank">템플릿 파일</a> {% endif %}
                </div>               
              </div>
              <label class="col-md-2 col-form-label">
                텍스트 입력 옵션</label>
              <div class="col-md-10">
                <div class="col-md-12 text_area_option_container">
                  {% if textarea_option %}
                    <div class="row option_container text_area_option">
                      <div class="col-2 option_name_col">
                        <input class="form-control option_name" type="text" value="{{item.name}}" placeholder="텍스트 입력 옵션명을 입력해주세요."/>
                      </div>
                      <div class="col-3 option_val_col">
                        <input class="form-control option_placeholder" type="text" value="{{item.placeholder}}" placeholder="Placeholder를 입력해주세요."/>
                      </div>
                      <div class="col-7" style="display: flex">
                        <input value="삭제" type="button" class="btn btn-outline-primary waves-effect waves-light textarea-repeater-delete"/>
                        <input value="추가" type="button" class="btn btn-outline-primary waves-effect waves-light textarea-repeater-add"/>
                      </div>
                    </div>
                  {% else %}
                    <div class="row option_container text_area_option">
                      <div class="col-2 option_name_col">
                        <input class="form-control option_name" type="text" value="" placeholder="텍스트 입력 옵션명을 입력해주세요."/>
                      </div>
                      <div class="col-3 option_val_col">
                        <input class="form-control option_placeholder" type="text" value="" placeholder="Placeholder를 입력해주세요."/>
                      </div>
                      <div class="col-7" style="display: flex">
                        <input value="삭제" type="button" class="btn btn-outline-primary waves-effect waves-light textarea-repeater-delete"/>
                        <input value="추가" type="button" class="btn btn-outline-primary waves-effect waves-light textarea-repeater-add"/>
                      </div>
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{ number_input_option|json_script:"inital_number_input_option" }}
      <script>
        $(document).ready(function () {
          // 가로 세로 입력 옵션에 대한 부분 초기화 코드
          var initial_number_input_option = JSON.parse($("#inital_number_input_option").text());
          $("#number_input_option").prop('checked', initial_number_input_option.need_to_input_option);
          if ($("#number_input_option").is(":checked") === false) {
            $(".input_option_content").addClass("hidden");
          }else{
              $("#price_per_area").val(initial_number_input_option.price_per_area)
              $("#min_width").val(initial_number_input_option.min_width)
              $("#max_width").val(initial_number_input_option.max_width)
              $("#select_width").val(initial_number_input_option.width_select)
              $("#min_height").val(initial_number_input_option.min_height)
              $("#max_height").val(initial_number_input_option.max_height)
              $("#select_height").val(initial_number_input_option.height_select)
              $("#min_vertical").val(initial_number_input_option.min_height)
              $("#max_vertical").val(initial_number_input_option.max_height)
              $("#select_vertical").val(initial_number_input_option.vertical_select)
              $("#min_price_per_one").val(initial_number_input_option.min_price_per_one)
              $("input[name=dimension][value="+initial_number_input_option.dimension+"]").prop("checked",true)
          

          }

          $(document).on("click", "#number_input_option", function () {
            if ($(this).is(":checked")) {
              $(".input_option_content").removeClass("hidden");
            } else {
              $(".input_option_content").addClass("hidden");
            }
          });

          $(document).on("click", ".upper", function () {
            var seg = $(this).closest(".row");
            var target = $(this)
              .closest(".row")
              .prev();
            $(target).before(seg);
          });
          $(document).on("click", ".downer", function () {
            var seg = $(this).closest(".row");
            var target = $(this)
              .closest(".row")
              .next();
            $(target).after(seg);
          });

          $(document).on("click", ".text_option_item .repeater-add", function () {
            var template = ` <div class="row option_container text_option_item">
                          <div class="col-4 option_name_col">
                              <input class="form-control option_name" type="text" value="" placeholder="텍스트옵션 이름을 입력해주세요.">
                          </div>
                          <div class="col-4 option_val_col">
                              <input class="form-control option_value" type="text" value="" placeholder="텍스트옵션 값을 입력해주세요.">
                          </div>
                          <div class="col-2" style="display: flex">                   
                            <input value="삭제" type="button" class="btn btn-outline-primary waves-effect waves-light repeater-delete"/>
                            <input value="추가" type="button" class="btn btn-outline-primary waves-effect waves-light repeater-add"/>
                            <div class="d-flex flex-column justify-content-around">
                              <i class="fas fa-arrow-circle-up upper"></i>
                              <i class="fas fa-arrow-circle-down downer"></i>
                            </div>
                          </div>
                          <div class="col-4 option_exp_title_col">                   
                            <input class="form-control exp_title" type="text" value="" placeholder="설명 타이틀을 입력해주세요."/>
                            <input type="file" data-url="" class="form-control exp_image"/>
                            <div class="exp_image_view">                          
                            </div>
                          </div>
                          <div class="col-4 option_exp_content_col">
                            <textarea class="form-control exp_content" style="height:73px" type="text" value="" placeholder="설명 타이틀을 입력해주세요."></textarea>
                          </div>
                      </div>`;
            $(template).insertAfter(".text_option_item.option_container:last");
            $(".text_option_item.option_container")
              .find(".repeater-add")
              .not(".repeater-add:last")
              .remove();
          });
          $(document).on("click", ".text_option_item .repeater-delete", function () {
            if ($(".text_option.option_container").length != 1) {
              $(this)
                .closest(".text_option_item.option_container")
                .remove();
              if ($(".text_option_item.option_container:last").find(".repeater-add").length == 0) {
                var template = `<input value="추가"  type="button" class="btn btn-outline-primary waves-effect waves-light repeater-add">  `;
                $(template).insertAfter($(".text_option_item.option_container:last").find(".repeater-delete"));
              }
            }
          });
          let price_variation_type_num=100;
          $(document).on("click", ".select-option-container .select-group-add", function () {
            var select_group = `<div class="select-group-item">
                  <div class="col-6">
                      <div class="col-form-label" style="width: 800px;">
                          <input  class="form-control option_title" type="text" value="" placeholder="셀렉트 옵션 그룹 이름을 입력해주세요."
                           style="display: inline-block;width: 250px">
                           <input type="radio" class="price_variation_type" name="price_variation_type_${price_variation_type_num}" id="static_price_${price_variation_type_num}" value="false">
                            <label for="static_price_${price_variation_type_num}">고정가격</label>
                            <input type="radio" class="price_variation_type" name="price_variation_type_${price_variation_type_num}" id="dynamic_price_${price_variation_type_num}" value="true">
                            <label for="dynamic_price_${price_variation_type_num}">변동가격(면적당)</label>
                          <button class="badge select-group-add badge-primary">그룹추가</button>
                          <button class="badge badge-warning select-group-delete">그룹삭제</button>
                      </div>
                  </div>
                  <div class="row" style="padding-left: 12px;">
                  <div class="col-4 option_exp_title_col">                   
                    <input class="form-control exp_title" type="text"  value="" placeholder="설명 타이틀을 입력해주세요."/>
                    <input type="file" data-url="" class="form-control exp_image"/>
                   
                  </div>
                  <div class="col-4 option_exp_content_col">
                    <textarea class="form-control exp_content" style="height:73px" type="text"  placeholder="설명 내용을 입력해주세요."></textarea>
                  </div>
                  <div class="exp_image_view col-3 ">                   
                  </div>
                </div>
                  <div class="col-md-12 select-option">
                      <div class="row option_container select_option">
                          <div class="col-3 option_val_col">
                              <input class="form-control option_value" type="text" value="" placeholder="셀렉트 옵션 값을 입력해주세요.">
                          </div>
                          <div class="col-7" style="display:flex">
                              <input class="form-control option_price" style="width: 200px;" type="text" value="" placeholder="셀렉트 옵션 가격">
                              <input type="file" class="form-control" style="width: 250px; display: inline-block;">
                              <input value="삭제"  type="button" class="btn btn-outline-primary waves-effect waves-light select-repeater-delete">
                              <input value="추가"  type="button" class="btn btn-outline-primary waves-effect waves-light select-repeater-add">
                              <div class="d-flex flex-column justify-content-around"><i class="fas fa-arrow-circle-up upper"></i><i class="fas fa-arrow-circle-down downer"></i></div>

                              </div>
                      </div>
                  </div>
              </div>`;
              price_variation_type_num = price_variation_type_num+1
            $(select_group).insertAfter(".select-option-container .select-group-item:last");
          });
          $(document).on("click", ".select-option-container .select-group-delete", function () {
            $(this)
              .closest(".select-group-item")
              .remove();
            if( $(".select-option-container .select-group-item").length == 0  ){
              var select_group = `<div class="select-group-item">
                  <div class="col-6">
                      <div class="col-form-label" style="width: 800px;">
                          <input  class="form-control option_title" type="text" value="" placeholder="셀렉트 옵션 그룹 이름을 입력해주세요."
                           style="display: inline-block;width: 250px">
                           <input type="radio" class="price_variation_type" id="static_price_${price_variation_type_num}" value="false">
                            <label for="static_price_${price_variation_type_num}">고정가격</label>
                            <input type="radio" class="price_variation_type" id="dynamic_price_${price_variation_type_num}" value="true">
                            <label for="static_price_${price_variation_type_num}">변동가격(면적당)</label>
                          <button class="badge select-group-add badge-primary">그룹추가</button>
                          <button class="badge badge-warning select-group-delete">그룹삭제</button>
                      </div>
                  </div>
                  <div class="row" style="padding-left: 12px;">
                    <div class="col-4 option_exp_title_col">                   
                      <input class="form-control exp_title" type="text"  value="" placeholder="설명 타이틀을 입력해주세요."/>
                      <input type="file" data-url="" class="form-control exp_image"/>
                    
                    </div>
                    <div class="col-4 option_exp_content_col">
                      <textarea class="form-control exp_content" style="height:73px" type="text"  placeholder="설명 내용을 입력해주세요."></textarea>
                    </div>
                    <div class="exp_image_view col-3 ">
                 
                    </div>
                  </div>
                    <div class="col-md-12 select-option">
                      <div class="row option_container select_option">
                          <div class="col-3 option_val_col">
                              <input class="form-control option_value" type="text" value="" placeholder="셀렉트 옵션 값을 입력해주세요.">
                          </div>
                          <div class="col-7" style="display:flex">
                              <input class="form-control option_price" style="width: 200px;" type="text" value="" placeholder="셀렉트 옵션 가격">
                              <input type="file" class="form-control" style="width: 250px; display: inline-block;">
                              <input value="삭제"  type="button" class="btn btn-outline-primary waves-effect waves-light select-repeater-delete">
                              <input value="추가"  type="button" class="btn btn-outline-primary waves-effect waves-light select-repeater-add">
                              <div class="d-flex flex-column justify-content-around"><i class="fas fa-arrow-circle-up upper"></i><i class="fas fa-arrow-circle-down downer"></i></div>

                              </div>
                      </div>
                  </div>
              </div>`;
              price_variation_type_num=price_variation_type_num+1
              $(".select-option-container " ).html(select_group )
          
            }
          });
          $(document).on("click", ".select-option-container .select-repeater-add", function () {
            var template = `  <div class="row option_container select_option">
                          <div class="col-3 option_val_col">
                              <input class="form-control option_value" type="text" value="" placeholder="셀렉트 옵션 값을 입력해주세요.">
                          </div>
                          <div class="col-7 btn_group" style="display:flex">
                              <input class="form-control option_price" style="width: 200px;" type="text" value="" placeholder="셀렉트 옵션 가격">
                              <input type="file" class="form-control" style="width: 250px; display: inline-block;">
                              <input value="삭제"  type="button" class="btn btn-outline-primary waves-effect waves-light select-repeater-delete">
                              <input value="추가"  type="button" class="btn btn-outline-primary waves-effect waves-light select-repeater-add">
                              <div class="d-flex flex-column justify-content-around"><i class="fas fa-arrow-circle-up upper"></i><i class="fas fa-arrow-circle-down downer"></i></div>

                              </div>
                      </div>  `;
            $(template).insertAfter($(this).closest(".option_container"));
            $(this)
              .closest(".select-option")
              .find(".select-repeater-add")
              .not(".select-repeater-add:last")
              .remove();
          });
          $(document).on("click", ".select-option-container .select-repeater-delete", function () {
            if ($(this).closest(".select-option").find(".select_option").length != 1) {
              var container = $(this).closest(".select-option");
              $(this)
                .closest(".select_option")
                .remove();
              var tempalte = ` <input value="추가"  type="button" class="btn btn-outline-primary waves-effect waves-light select-repeater-add">`;
              if ($(container).find(".select-repeater-add").length == 0) {
                $(tempalte).insertAfter($(container).find(".select-repeater-delete:last"));
              }
            }
          });
          $(document).on("click", ".design-repeater-add", function () {
            var template = `<div class="row option_container design_option ">
                      <div class="col-2 option_name_col">
                          <input class="form-control option_name" type="text" value="" placeholder="디자인 옵션  이름">
                      </div>
                      <div class="col-3 option_val_col">
                          <input class="form-control option_price" style="" type="text" value="" placeholder="디자인 옵션 가격">
                      </div>
                      <div class="col-7" style="display:flex">
                          <input value="삭제"  type="button" class="btn btn-outline-primary waves-effect waves-light design-repeater-delete">
                          <input value="추가"  type="button" class="btn btn-outline-primary waves-effect waves-light design-repeater-add">
                      </div>
                  </div>`;
            $(template).insertAfter($(this).closest(".design_option"));
            $(this)
              .closest(".design_option_container")
              .find(".design-repeater-add")
              .not(".design-repeater-add:last")
              .remove();
          });
          $(document).on("click", ".design-repeater-delete", function () {
            var container = $(this).closest(".design_option_container");
            if ($(container).find(".design_option").length != 1) {
              $(this)
                .closest(".design_option")
                .remove();
              if ($(container).find(".design-repeater-add").length == 0) {
                var tempalte = `  <input value="추가"  type="button" class="btn btn-outline-primary waves-effect waves-light design-repeater-add"> `;
                $(tempalte).insertAfter($(container).find(".design-repeater-delete:last"));
              }
            }
          });
          $(document).on("click", ".textarea-repeater-add", function () {
            var template = `<div class="row option_container text_area_option">
                      <div class="col-2 option_name_col">
                          <input class="form-control option_name" type="text" value="" placeholder="텍스트 입력 옵션명을 입력해주세요.">
                      </div>
                      <div class="col-3 option_val_col">
                          <input class="form-control option_placeholder" type="text" value="" placeholder="Placeholder를 입력해주세요.">
                      </div>
                      <div class="col-7" style="display:flex">
                          <input value="삭제"  type="button" class="btn btn-outline-primary waves-effect waves-light textarea-repeater-delete">
                          <input value="추가"  type="button" class="btn btn-outline-primary waves-effect waves-light textarea-repeater-add">
                      </div>
                  </div> `;
            $(template).insertAfter($(this).closest(".text_area_option"));
            $(this)
              .closest(".text_area_option_container")
              .find(".textarea-repeater-add")
              .not(".textarea-repeater-add:last")
              .remove();
          });
          $(document).on("click", ".textarea-repeater-delete", function () {
            var container = $(this).closest(".text_area_option_container");
            if ($(container).find(".text_area_option").length != 1) {
              $(this)
                .closest(".text_area_option")
                .remove();
              if ($(container).find(".textarea-repeater-add").length == 0) {
                var tempalte = `<input value="추가"  type="button" class="btn btn-outline-primary waves-effect waves-light textarea-repeater-add">`;
                $(tempalte).insertAfter($(container).find(".textarea-repeater-delete:last"));
              }
            }
          });
          $(document).on("change",".template_file", function(){
            var filename = $(this).val().split('\\').pop();        
            var form = new FormData()
            form.append("file",$(this)[0].files[0])
            var ctx = this    
            $.ajax({
                url:"/shop_admin/upload_product_template_file",
                type:"post",
                data:form,
                processData: false,
                contentType: false,
                success:function(res){                                    
                    $( ctx).attr("data-file",res.result.url  )
                    $( ctx).attr("data-file-id",res.result.id  )

                  } 
                })            

          })
          $(document).on("change",".exp_image", function(){          
            var filename = $(this).val().split('\\').pop();        
            var form = new FormData()
            form.append("file",$(this)[0].files[0])
            var ctx = this            
            $.ajax({
                url:"/shop_admin/upload_product_img",
                type:"post",
                data:form,
                processData: false,
                contentType: false,
                success:function(res){
                  console.log( $( ctx).closest(".option_container")
                      .find(".exp_image_view").eq(0))
                  $( ctx).closest(".option_container")
                      .find(".exp_image_view").eq(0)
                      .html("<img style='height:73px' src='"+res.result.url+"'/>")
                    $( ctx).closest(".option_container")
                      .find(".exp_image").eq(0).attr("data-url",res.result.url )
                         $( ctx).closest(".option_container")
                      .find(".exp_image").eq(0).attr("data-url-id",res.result.id )
                  } 
                })
            })
            $("select[name=input_type]").change(function(){
              console.log(this)
              // todo
              $(".vertical_form,.vertical_select,.width_select,.height_select").css("display","none")
              if(this.value.includes("vertical")){ $(".vertical_form").css("display","inline-block")  }
              if(this.value.includes("width_select")){ $(".width_select").css("display","inline-block")  }
              if(this.value.includes("height_select")){ $(".height_select").css("display","inline-block")  }
              if(this.value.includes("vertical_select")){ $(".vertical_select").css("display","inline-block")  }
            })
                     
            $("select[name=input_type]").val( $("select[name=input_type]").attr("value")    )          
            $("select[name=input_type]").change()
            
           
        });

        function get_option_data() {
          
          var text_option = $.map($(".text_option_item"), function (e) {
            return {
              name: $(e)
                .find(".option_name:last")
                .val(),
              value: $(e)
                .find(".option_value:last")
                .val(), 
            exp_image :  $(e)
                .find(".exp_image:last")
                .attr("data-url") ,
               exp_image_id :  $(e)
                .find(".exp_image:last")
                .attr("data-url-id") ,
              exp_title :  $(e)
                .find(".exp_title:last")
                .val() ,
              exp_content :  $(e)
                .find(".exp_content:last")
                .val() ,
            };
          });
          var select_option = $.map($(".select-option-container .select-group-item"), function (e) {
            return {
              name: $(e)
                .find(".option_title:last")
                .val(),
              is_static_price : $( "input[name="+$(e).find(".price_variation_type:last").attr("name")+"]:checked" ).val(),
              list: $.map($(e).find(".select_option"), function (t) {
                console.log($(t).find(".option_price:last").val());
                return {
                  value: $(t)
                    .find(".option_value:last")
                    .val(),
                  price: $(t)
                    .find(".option_price:last") 
                    .val(),                 
                    };
              }),
              exp_image :  $(e)
                    .find(".exp_image:last")
                    .attr("data-url") ,
            exp_image_id :  $(e)
                .find(".exp_image:last")
                .attr("data-url-id") ,
              exp_title :  $(e)
                .find(".exp_title:last")
                .val() ,
              exp_content :  $(e)
                .find(".exp_content:last")
                .val() ,
            };
          });
        
          var design_option = $.map($(".design_option_container").find(".design_option"), function (e) {
            return {
              name: $(e)
                .find(".option_name:last")
                .val(),
              price: $(e)
                .find(".option_price:last")
                .val()
            };
          });

          var textarea_option = $.map($(".text_area_option_container").find(".text_area_option"), function (e) {
            return {
              name: $(e)
                .find(".option_name:last")
                .val(),
              placeholder: $(e)
                .find(".option_placeholder:last")
                .val()
            };
          });

          var number_input_option = {
            need_to_input_option: $("#number_input_option").is(":checked"),
            min_price_per_one:$("#min_price_per_one").val(),
            price_per_area: $("#price_per_area").val(),
            min_width: $("#min_width").val(),
            max_width: $("#max_width").val(),
            min_height: $("#min_height").val(),
            max_height: $("#max_height").val(),
            dimension : $("input[name=dimension]:checked").val(),
            input_type : $("select[name=input_type]").val(),
            // can_direct_input: $("input[name=can_direct_input]").is(":checked"),
            width_select: $("input[name=width_select]").val(),
            height_select: $("input[name=height_select]").val(),
            min_vertical: $("#min_vertical").val(),
            max_vertical: $("#max_vertical").val(),
            vertical_select: $("input[name=vertical_select]").val(),
            
          }

          return {            
            text_option: text_option,
            number_input_option: number_input_option,
            select_option: select_option,
            design_option: design_option,
            textarea_option: textarea_option,
            need_to_file_upload: $("#need_to_file_upload").is(":checked")
          };
        }
      </script>
      <style>
        .badge,
        .downer,
        .upper {
          cursor: pointer;
        }

        .upper {}

        .hidden {
          display: none;
        }
      </style>
