{% load product_options %}
<div id="product_additional_product">
    <div class="card mb-1 shadow-none">
        <div class="card-header" id="headingOne">
            <h6 class="m-0">
                <a href="#collapseEighth" class="text-dark" data-toggle="collapse" aria-expanded="true"
                    aria-controls="collapseEighth">
                    <h4 class="card-title">추가상품</h4>
                </a>
            </h6>
        </div>
        <div id="collapseEighth" class="collapse show" aria-labelledby="headingOne"
            data-parent="#product_additional_product">
            <div class="form-group row m-3">
                <label class="control-label col-md-2">추가상품 구성</label>           
                {% if additional_product.additional_product %}
                <div class="col-md-10 additional_product_container">
                {% for item in additional_product.additional_product %}
               
                    <div class="select-group-item">
                        <div class="col-2">
                            <div class="col-form-label" style="width: 400px;"> 
                                <input  class="form-control option_title" value="{{item.name}}" type="text" placeholder="부속상품 그룹 이름을 입력해주세요."
                                style="display: inline-block;width: 250px"> 
                                <button class="badge select-group-add badge-primary">그룹추가</button> 
                                <button class="badge badge-warning select-group-delete">그룹삭제</button>
                            </div>
                        </div>
                        <div class="col-md-12 select-option">      
                            {% for option in item.list %}
                            <div class="row option_container select_option">                             
                                <div class="col-3 option_val_col">
                                    <input class="form-control option_value" type="text" value="{% space_escape option.value %}" placeholder="부속상품 이름을 입력해주세요.">
                                </div>
                                <div class="col-7" style="display:flex">      
                                    <input class="form-control option_price" style="width: 200px;" type="text" value="{{option.price}}" placeholder="부속상품  가격">      
                                    <input type="file" data-file="{{ option.image }}" class="form-control template_file" style="width: 250px; display: inline-block;">
                                    <input value="삭제"  type="button" class="btn btn-outline-primary waves-effect waves-light select-repeater-delete">                  
                                    <input value="추가"  type="button" class="btn btn-outline-primary waves-effect waves-light select-repeater-add">  
                                    <div class="d-flex flex-column justify-content-around"><i class="fas fa-arrow-circle-up upper"></i><i class="fas fa-arrow-circle-down downer"></i></div>                                              
                                </div>
                            </div>    
                            {% endfor %}
                            <div class="row option_container select_option">                             
                                <div class="col-3 option_val_col">
                                    <input class="form-control option_value" type="text" value="{{option.value}}" placeholder="부속상품 이름을 입력해주세요.">                                          
                                </div>
                                <div class="col-7" style="display:flex">      
                                    <input class="form-control option_price" style="width: 200px;" type="text" value="{{option.price}}" placeholder="부속상품  가격">      
                                    <input type="file" class="form-control template_file" style="width: 250px; display: inline-block;">
                                    <input value="삭제"  type="button" class="btn btn-outline-primary waves-effect waves-light select-repeater-delete">                  
                                    <input value="추가"  type="button" class="btn btn-outline-primary waves-effect waves-light select-repeater-add">  
                                    <div class="d-flex flex-column justify-content-around"><i class="fas fa-arrow-circle-up upper"></i><i class="fas fa-arrow-circle-down downer"></i></div>                                              
                                </div>
                            </div>    
                                               
                        </div> 
                    </div>
                
                {% endfor %}
                </div>
                {% else %}
                
                <div class="col-md-10 additional_product_container">
                    <div class="select-group-item">
                        <div class="col-2">
                            <div class="col-form-label" style="width: 400px;"> 
                                <input  class="form-control option_title" type="text" placeholder="부속상품 그룹 이름을 입력해주세요."
                                style="display: inline-block;width: 250px"> 
                                <button class="badge select-group-add badge-primary">그룹추가</button> 
                                <button class="badge badge-warning select-group-delete">그룹삭제</button>
                            </div>
                        </div>
                        <div class="col-md-12 select-option">      
                            <div class="row option_container select_option">                             
                                <div class="col-3 option_val_col">
                                    <input class="form-control option_value" type="text" value="{% space_escape option.value %}" placeholder="부속상품 이름을 입력해주세요.">
                                </div>
                                <div class="col-7" style="display:flex">      
                                    <input class="form-control option_price" style="width: 200px;" type="text" value="{{option.price}}" placeholder="부속상품  가격">      
                                    <input type="file" class="form-control template_file" style="width: 250px; display: inline-block;">
                                    <input value="삭제"  type="button" class="btn btn-outline-primary waves-effect waves-light select-repeater-delete">                  
                                    <input value="추가"  type="button" class="btn btn-outline-primary waves-effect waves-light select-repeater-add">  
                                    <div class="d-flex flex-column justify-content-around"><i class="fas fa-arrow-circle-up upper"></i><i class="fas fa-arrow-circle-down downer"></i></div>                                              
                                </div>
                            </div>                       
                        </div> 
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>                    
</div>
<script>
    $(document).ready(function(){
        $(document).on("click", ".additional_product_container .select-group-add", function(){
            var select_group = `<div class="select-group-item">
                        <div class="col-2">
                            <div class="col-form-label" style="width: 400px;"> 
                                <input  class="form-control option_title" type="text" value="" placeholder="부속상품 그룹 이름을 입력해주세요."
                                 style="display: inline-block;width: 250px"> 
                                <button class="badge select-group-add badge-primary">그룹추가</button> 
                                <button class="badge badge-warning select-group-delete">그룹삭제</button>
                            </div>
                        </div>
                        <div class="col-md-12 select-option">                 
                            <div class="row option_container select_option">                             
                                <div class="col-3 option_val_col">
                                    <input class="form-control option_value" type="text" value="" placeholder="부속상품 이름을 입력해주세요.">                                          
                                </div>
                                <div class="col-7" style="display:flex">      
                                    <input class="form-control option_price" style="width: 200px;" type="text" value="" placeholder="부속상품  가격">      
                                    <input type="file" class="form-control template_file" style="width: 250px; display: inline-block;">
                                    <input value="삭제"  type="button" class="btn btn-outline-primary waves-effect waves-light select-repeater-delete">                  
                                    <input value="추가"  type="button" class="btn btn-outline-primary waves-effect waves-light select-repeater-add">  
                                    <div class="d-flex flex-column justify-content-around"><i class="fas fa-arrow-circle-up upper"></i><i class="fas fa-arrow-circle-down downer"></i></div>                                              
                            
                                    </div>
                            </div>                           
                        </div> 
                    </div>`
            $(select_group).insertAfter(".additional_product_container .select-group-item:last")
        })
        $(document).on("click", ".additional_product_container .select-group-delete", function(){      
            $(this).closest(".select-group-item").remove()
        })
        $(document).on("click", ".additional_product_container .select-repeater-add" , function(){
            var template = `  <div class="row option_container select_option">
                                <div class="col-3 option_val_col">
                                    <input class="form-control option_value" type="text" value="" placeholder="부속상품 이름을 입력해주세요.">                                          
                                </div>
                                <div class="col-7 btn_group" style="display:flex">          
                                    <input class="form-control option_price" style="width: 200px;" type="text" value="" placeholder="부속상품 가격">     
                                    <input type="file" class="form-control template_file" style="width: 250px; display: inline-block;">
                                    <input value="삭제"  type="button" class="btn btn-outline-primary waves-effect waves-light select-repeater-delete">                  
                                    <input value="추가"  type="button" class="btn btn-outline-primary waves-effect waves-light select-repeater-add">  
                                    <div class="d-flex flex-column justify-content-around"><i class="fas fa-arrow-circle-up upper"></i><i class="fas fa-arrow-circle-down downer"></i></div>                                              
                            
                                    </div>
                            </div>  `
            $(template).insertAfter( $(this).closest(".option_container") )
            $(this).closest(".select-option").find(".select-repeater-add").not(".select-repeater-add:last").remove()         
        })
        $(document).on("click",".additional_product_container .select-repeater-delete", function(){
          if( $(this).closest(".select-option").find( ".select_option" ).length != 1 ){
            var container = $(this).closest(".select-option")
            $(this).closest(".select_option").remove()
            var tempalte = ` <input value="추가"  type="button" class="btn btn-outline-primary waves-effect waves-light select-repeater-add">` 
            if( $(container).find(".select-repeater-add").length == 0){
                $(tempalte).insertAfter($(container).find(".select-repeater-delete:last"))
            }
          }
        })
        
    })
    function get_addtional_product_data(){
        var additional_product =  $.map( $(".additional_product_container .select-group-item"), 
            function(e){ 
                return { 
                    "name": $(e).find(".option_title:last").val(), 
                    "list": $.map( $(e).find(".select_option"), function(t){
                                if( $(t).find(".option_value:last").val().trim()!="" && $(t).find(".option_value:last").val().trim()!="" )
                                return {
                                    "value":$(t).find(".option_value:last").val().replace(/\s/g, '!!'),
                                    "price":$(t).find(".option_price:last").val(),
                                    "image":$(t).find("input[type=file]").attr("data-file"),
                                    "image_id":$(t).find("input[type=file]").attr("data-file-id")
                                }
                            }) 

            }
        })
        return  {"additional_product":additional_product}
    }
</script>