<div id="product_category">
    <div class="card mb-1 shadow-none">
        <div class="card-header" id="headingOne">
            <h6 class="m-0">
                <a href="#collapseFirst" class="text-dark" data-toggle="collapse" aria-expanded="true"
                    aria-controls="collapseFirst">
                    <h4 class="card-title">카테고리</h4>
                </a>
            </h6>
        </div>

        <div id="collapseFirst" class="collapse show" aria-labelledby="headingOne"
            data-parent="#product_category">
            <div class="card-body">
                <input type="hidden" name="category_list" >
                <div id="grid" class="tui-tree-wrap"></div>
            </div>
        </div>
    </div>                    
</div>

<!-- 헤드 커스텀 렌더링으로 다시 작성 할것  -->
<script>

    $.ajax({
        url:"/shop_admin/get_category_data",
        success:function(res){
            const grid = new tui.Grid({
                el: document.getElementById('grid'),
                data: res.data,
                rowHeaders: ['checkbox'],
                bodyHeight: 500,
                treeColumnOptions: {
                name: 'name',
                useCascadingCheckbox: true
                },
                columns: [
                {
                    header: '카테고리 이름',
                    name: 'name',
                    width: 300
                },
                {
                    header: '노출여부',
                    name: 'is_public'
                },
                {
                    header: '제품수',
                    name: 'count'
                },    
                ]
            });
            grid.on('onGridMounted', ev=>{
                // fix 로딩 화면
                $("#product_loading").remove()
                grid.expandAll()
                let data_row_key_list = $.map( $(".tui-grid-tree-extra-content") , function(e){ return $(e).closest(".tui-grid-cell").attr("data-row-key")  } )
                for(var k =0; k < data_row_key_list.length; k++){
                    grid.disableRowCheck(data_row_key_list[k])
                    // $(".tui-grid-cell-row-header[data-row-key='"+ data_row_key_list[k] +"']").find("input").css("display","none")
                }
               
                
            })

            grid.on('expand', ev => {
                const { rowKey } = ev;
                const descendantRows = grid.getDescendantRows(rowKey);

                if (!descendantRows.length) {
                grid.appendRow(
                    {
                    name: 'dynamic loading data',
                    _children: [
                        {
                        name: 'leaf row'
                        },
                        {
                        name: 'internal row',
                        _children: []
                        }
                    ]
                    },
                    { parentRowKey: rowKey }
                );
                }
            });

            grid.on('collapse', ev => {
                const { rowKey } = ev;
                const descendantRows = grid.getDescendantRows(rowKey);

                console.log('rowKey: ' + rowKey);
                console.log('descendantRows: ' + descendantRows);
            });
            grid.on('check', ev => {
                const { rowKey } = ev;
                //  child가 있는 경우                
                console.log(grid.getData())
                var data = []
                grid.getData().forEach(e => {                    
                    if(e._attributes.checked == true) { data.push(e.id) }
                });
                $("input[name='category_list']").val(data.join(","))

            });

            grid.on('uncheck', ev => {
                console.log('uncheck!', ev);
               
            });

            grid.on('focusChange', ev => {
                console.log('change focused cell!', ev);
            });
           
            try{    
                var pre_select_category = "{{ product.category.id }}";
                console.log(pre_select_category)
                var data = grid.getData()
                console.log(data.filter(e=>e.id==parseInt(pre_select_category))[0].rowKey)
                grid.check(data.filter(e=>e.id==parseInt(pre_select_category))[0].rowKey)
            }
            catch(e){console.log("dd")}
        }
    })

    
    

</script>
<style>
    .tui-grid-lside-area {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        z-index: 1;
    }
    .tui-grid-layer-focus-border {
        position: absolute;
        overflow: hidden;
        z-index: 1;
    }
</style>