<div id="product_show_price">
    <div class="card mb-1 shadow-none">
        <div class="card-header" id="headingOne">
            <h6 class="m-0">
                <a href="#collapseThird" class="text-dark" data-toggle="collapse" aria-expanded="true"
                    aria-controls="collapseThird">
                    <h4 class="card-title">판매가</h4>
                </a>
            </h6>
        </div>
        <div id="collapseThird" class="collapse show" aria-labelledby="headingOne"
            data-parent="#product_show_price">
            <div class="form-group row m-3 d-flex align-items-center">
                <label for="example-text-input" class="col-md-1 col-form-label">가격</label>
                <div class="col-md-2 ">
                    <input name="showing_price" class="comma-format  form-control"  type="text" value="{{product.showing_price}}">
                </div>           
               
                <label for="example-text-input" class="col-md-1 col-form-label">할인가격</label>
                <div class="col-md-2 ">
                    <input name="discount_price" id="" class="comma-format form-control"  type="text" value="{{product.discount_price|default:"0"}}" >
                    
                </div>
                <label for="example-text-input" class="col-md-1 col-form-label">판매단위</label>
                <div class="col-md-2 ">
                    <input name="count_convention" class="comma-format  form-control"  type="text" value="{{product.count_convention|default:"개"}}">
                </div>          
                <label for="example-text-input" class="col-md-1 col-form-label">판매범위</label>
                <div class="col-md-2 ">
                    <input name="selling_range" class="comma-format  form-control"  type="text" value="{{product.selling_range|default:"1~999"}}">
                </div>
            </div>
            <div class="form-group row m-3 d-flex align-items-center">
                
            </div>
       
          
            
        </div>
    </div>                    
</div>