<div id="product_additional_profit">
    <div class="card mb-1 shadow-none">
        <div class="card-header" id="headingOne">
            <h6 class="m-0">
                <a href="#collapseNineth" class="text-dark" data-toggle="collapse" aria-expanded="true"
                    aria-controls="collapseNineth">
                    <h4 class="card-title">구매/혜택조건</h4>
                </a>
            </h6>
        </div>
        <div id="collapseNineth" class="collapse show" aria-labelledby="headingOne"
            data-parent="#product_additional_profit">
            <div class="form-group row m-3">
                <label for="example-text-input" class="col-md-2 col-form-label">포인트</label>
                <div class="col-md-10 ">
                    <input name="point" class="form-control comma-format"  type="text" value="{{product.point|default:"0"}}" name="demo_vertical"> 
                    <small class=" form-text text-muted">
                        원단위 포인트는 숫자만 입력해주시고, % 포인트는 숫자 입력수+%를 입력해주세요.
                    </small>
                </div>
            </div>
        </div>
    </div>                    
</div>