<header id="page-topbar">
    <div class="navbar-header">
        <div class="d-flex">
            <div class="navbar-brand-box">
                <a href="/" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="/static/admin/img/logo.svg" alt="" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="/static/admin/img/logo-dark.png" alt="" height="17">
                    </span>
                </a>

                <a href="/" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="/static/admin/img/logo-light.svg" alt="" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="/static/admin/img/logo-light.png" alt="" height="19">
                    </span>
                </a>
            </div>

            <button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect" id="vertical-menu-btn">
                <i class="fa fa-fw fa-bars"></i>
            </button>

            <form class="app-search d-none d-lg-block">
                <div class="position-relative">
                    <input type="text" class="form-control" placeholder="...">
                    <span class="bx bx-search-alt"></span>
                </div>
            </form>

            <div class="dropdown dropdown-mega d-none d-lg-block ml-2">
                <button type="button" class="btn header-item waves-effect" data-toggle="dropdown" aria-haspopup="false"
                    aria-expanded="false">
                    전체 메뉴
                    <i class="mdi mdi-chevron-down"></i>
                </button>
                <div class="dropdown-menu dropdown-megamenu">
                    <div class="row">
                        <div class="col-sm-8">

                            <div class="row">
                                <div class="col-md-4">
                                    <h5 class="font-size-14 mt-0"> <%=translation.UI_Components%></h5>
                                    <ul class="list-unstyled megamenu-list">
                                        <li>
                                            <a href="javascript:void(0);"><%=translation.Lightbox%></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);"><%=translation.Range_Slider%></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);"><%=translation.Sweet_Alert%></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);"><%=translation.Rating%></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);"><%=translation.Forms%></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);"><%=translation.Tables%></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);"><%=translation.Charts%></a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-md-4">
                                    <h5 class="font-size-14 mt-0">Applications</h5>
                                    <ul class="list-unstyled megamenu-list">
                                        <li>
                                            <a href="javascript:void(0);"><%=translation.Ecommerce%></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);"><%=translation.Calendar%></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);"><%=translation.Email%></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);"><%=translation.Projects%></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);"><%=translation.Tasks%></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);"><%=translation.Contacts%></a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-md-4">
                                    <h5 class="font-size-14 mt-0">Extra Pages</h5>
                                    <ul class="list-unstyled megamenu-list">
                                        <li>
                                            <a href="javascript:void(0);"><%=translation.Light_Sidebar%></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);"><%=translation.Compact_Sidebar%></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);"><%=translation.Horizontal_layout%></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);"><%=translation.Maintenance%></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);"><%=translation.Coming_Soon%></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);"><%=translation.Timeline%></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);"><%=translation.FAQs%></a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h5 class="font-size-14 mt-0"><%=translation.UI_Components%></h5>
                                    <ul class="list-unstyled megamenu-list">
                                        <li>
                                            <a href="javascript:void(0);"><%=translation.Lightbox%></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);"><%=translation.Range_Slider%></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);"><%=translation.Sweet_Alert%></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);"><%=translation.Rating%></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);"><%=translation.Forms%></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);"><%=translation.Tables%></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);"><%=translation.Charts%></a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-sm-5">
                                    <div>
                                        <img src="/static/admin/img/megamenu-img.png" alt=""
                                            class="img-fluid mx-auto d-block">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="d-flex">

            <div class="dropdown d-inline-block d-lg-none ml-2">
                <button type="button" class="btn header-item noti-icon waves-effect" id="page-header-search-dropdown"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="mdi mdi-magnify"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right p-0"
                    aria-labelledby="page-header-search-dropdown">

                    <form class="p-3">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="<%=translation.Search%> ..."
                                    aria-label="Recipient's username">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit"><i
                                            class="mdi mdi-magnify"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="dropdown d-inline-block">
                <!-- <button type="button" class="btn header-item waves-effect" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <img class="" src="/static/admin/img/flags/us.jpg" alt="Header Language" height="16">
                    <span class="align-middle">English</span>
                </button>
                <div class="dropdown-menu dropdown-menu-right">

                    <a href="?clang=en" class="dropdown-item notify-item">
                        <img src="/static/admin/img/flags/us.jpg" alt="user-image" class="mr-1" height="12"> <span
                            class="align-middle">English</span>
                    </a>

                    <a href="?clang=sp" class="dropdown-item notify-item">
                        <img src="/static/admin/img/flags/spain.jpg" alt="user-image" class="mr-1" height="12"> <span
                            class="align-middle">Spanish</span>
                    </a>

                    <a href="?clang=gr" class="dropdown-item notify-item">
                        <img src="/static/admin/img/flags/germany.jpg" alt="user-image" class="mr-1" height="12">
                        <span class="align-middle">German</span>
                    </a>

                    <a href="?clang=it" class="dropdown-item notify-item">
                        <img src="/static/admin/img/flags/italy.jpg" alt="user-image" class="mr-1" height="12"> <span
                            class="align-middle">Italian</span>
                    </a>

                    <a href="?clang=rs" class="dropdown-item notify-item">
                        <img src="/static/admin/img/flags/russia.jpg" alt="user-image" class="mr-1" height="12">
                        <span class="align-middle">Russian</span>
                    </a>
                </div> -->
            </div>

            <div class="dropdown d-none d-lg-inline-block ml-1">
                <button type="button" class="btn header-item noti-icon waves-effect" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="bx bx-customize"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <div class="px-lg-2">
                        <div class="row no-gutters">
                            <div class="col">
                                <a class="dropdown-icon-item" href="#">
                                    <img src="/static/admin/img/brands/github.png" alt="Github">
                                    <span><%=translation.GitHub%></span>
                                </a>
                            </div>
                            <div class="col">
                                <a class="dropdown-icon-item" href="#">
                                    <img src="/static/admin/img/brands/bitbucket.png" alt="bitbucket">
                                    <span><%=translation.Bitbucket%></span>
                                </a>
                            </div>
                            <div class="col">
                                <a class="dropdown-icon-item" href="#">
                                    <img src="/static/admin/img/brands/dribbble.png" alt="dribbble">
                                    <span><%=translation.Dribbble%></span>
                                </a>
                            </div>
                        </div>

                        <div class="row no-gutters">
                            <div class="col">
                                <a class="dropdown-icon-item" href="#">
                                    <img src="/static/admin/img/brands/dropbox.png" alt="dropbox">
                                    <span><%=translation.Dropbox%></span>
                                </a>
                            </div>
                            <div class="col">
                                <a class="dropdown-icon-item" href="#">
                                    <img src="/static/admin/img/brands/mail_chimp.png" alt="mail_chimp">
                                    <span><%=translation.Mail_Chimp%></span>
                                </a>
                            </div>
                            <div class="col">
                                <a class="dropdown-icon-item" href="#">
                                    <img src="/static/admin/img/brands/slack.png" alt="slack">
                                    <span><%=translation.Slack%></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dropdown d-none d-lg-inline-block ml-1">
                <button type="button" class="btn header-item noti-icon waves-effect" data-toggle="fullscreen">
                    <i class="bx bx-fullscreen"></i>
                </button>
            </div>

            <div class="dropdown d-inline-block">
                <button type="button" class="btn header-item noti-icon waves-effect"
                    id="page-header-notifications-dropdown" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <i class="bx bx-bell bx-tada"></i>
                    <span class="badge badge-danger badge-pill">3</span>
                </button>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right p-0"
                    aria-labelledby="page-header-notifications-dropdown">
                    <div class="p-3">
                        <div class="row align-items-center">
                            <div class="col">
                                <h6 class="m-0"> <%=translation.Notifications%> </h6>
                            </div>
                            <div class="col-auto">
                                <a href="#!" class="small"><%=translation.View_All%></a>
                            </div>
                        </div>
                    </div>
                    <div data-simplebar style="max-height: 230px;">
                        <a href="" class="text-reset notification-item">
                            <div class="media">
                                <div class="avatar-xs mr-3">
                                    <span class="avatar-title bg-primary rounded-circle font-size-16">
                                        <i class="bx bx-cart"></i>
                                    </span>
                                </div>
                                <div class="media-body">
                                    <h6 class="mt-0 mb-1"><%=translation.Your_order_is_placed%></h6>
                                    <div class="font-size-12 text-muted">
                                        <p class="mb-1"><%=translation.If_several_languages_the_grammar%></p>
                                        <p class="mb-0"><i class="mdi mdi-clock-outline"></i> <%=translation.min_ago%>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="" class="text-reset notification-item">
                            <div class="media">
                                <img src="/static/admin/img/users/avatar-3.jpg" class="mr-3 rounded-circle avatar-xs"
                                    alt="user-pic">
                                <div class="media-body">
                                    <h6 class="mt-0 mb-1">James Lemire</h6>
                                    <div class="font-size-12 text-muted">
                                        <p class="mb-1"><%=translation.It_will_seem_like_simplified_English%>.</p>
                                        <p class="mb-0"><i class="mdi mdi-clock-outline"></i>
                                            <%=translation.hours_ago%></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="" class="text-reset notification-item">
                            <div class="media">
                                <div class="avatar-xs mr-3">
                                    <span class="avatar-title bg-success rounded-circle font-size-16">
                                        <i class="bx bx-badge-check"></i>
                                    </span>
                                </div>
                                <div class="media-body">
                                    <h6 class="mt-0 mb-1"><%=translation.Your_item_is_shipped%></h6>
                                    <div class="font-size-12 text-muted">
                                        <p class="mb-1"><%=translation.If_several_languages_coalesce_the_grammar%></p>
                                        <p class="mb-0"><i class="mdi mdi-clock-outline"></i>
                                            <%=translation.min_ago%></p>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <a href="" class="text-reset notification-item">
                            <div class="media">
                                <img src="/static/admin/img/users/avatar-4.jpg" class="mr-3 rounded-circle avatar-xs"
                                    alt="user-pic">
                                <div class="media-body">
                                    <h6 class="mt-0 mb-1">Salena Layfield</h6>
                                    <div class="font-size-12 text-muted">
                                        <p class="mb-1">
                                            <%=translation.As_a_skeptical_Cambridge_friend_of_mine_occidental%>.</p>
                                        <p class="mb-0"><i class="mdi mdi-clock-outline"></i>
                                            <%=translation.hours_ago%></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="p-2 border-top">
                        <a class="btn btn-sm btn-link font-size-14 btn-block text-center" href="javascript:void(0)">
                            <i class="mdi mdi-arrow-right-circle mr-1"></i>
                            <%=translation.View_More%>..
                        </a>
                    </div>
                </div>
            </div>

            <div class="dropdown d-inline-block">
                <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="rounded-circle header-profile-user" src="/static/admin/img/users/avatar-1.jpg"
                        alt="Header Avatar">
                    <span class="d-none d-xl-inline-block ml-1">Henry</span>
                    <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <!-- item-->
                    <a class="dropdown-item" href="#"><i class="bx bx-user font-size-16 align-middle mr-1"></i>
                        <%=translation.Profile%></a>
                    <a class="dropdown-item" href="#"><i class="bx bx-wallet font-size-16 align-middle mr-1"></i>
                        <%=translation.My_Wallet%></a>
                    <a class="dropdown-item d-block" href="#"><span class="badge badge-success float-right">11</span><i
                            class="bx bx-wrench font-size-16 align-middle mr-1"></i> <%=translation.Settings%></a>
                    <a class="dropdown-item" href="#"><i class="bx bx-lock-open font-size-16 align-middle mr-1"></i>
                        <%=translation.Lock_screen%></a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-danger" href="/logout"><i
                            class="bx bx-power-off font-size-16 align-middle mr-1 text-danger"></i><%=translation.Logout%></a>
                </div>
            </div>

            <div class="dropdown d-inline-block">
                <button type="button" class="btn header-item noti-icon right-bar-toggle waves-effect">
                    <i class="bx bx-cog bx-spin"></i>
                </button>
            </div>
        </div>
    </div>
</header>