<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <div id="sidebar-menu">
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Menu</li>

                <li>
                    <a href="javascript: void(0);" class="waves-effect">
                        <i class="las la-cubes"></i><span class="badge badge-pill badge-info float-right">03</span>
                        <span>카테고리/상품 관리</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/shop_admin/category_list">카테고리 관리</a></li>
                        <li><a href="/shop_admin/product_group">상품 그룹 관리</a></li> 
                        <li><a href="/shop_admin/product_list">상품 관리</a></li>                       
                        <li><a href="/shop_admin/supplement_list">부속 상품 관리</a></li>
                        <li><a href="/shop_admin/sample_image_bulk_upload">샘플 이미지 대량 업로드</a></li>
                        <li><a href="/shop_admin/sample_image_list">샘플 이미지 관리</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="waves-effect">
                       <i class="las la-chalkboard"></i></i><span class="badge badge-pill badge-info float-right">03</span>
                        <span>디스플레이 관리</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">   
                        <li><a href="/shop_admin/jumbotron_list">점보트론 관리</a></li>   
                        <li><a href="/shop_admin/main_shortcut_list">퀵버튼 관리</a></li>                                    
                        <li><a href="/shop_admin/notice_list">공지사항 관리</a></li>
                        <li><a href="/shop_admin/banner_list">배너 관리</a></li>
                        <li><a href="/shop_admin/faq_list">고객센터 관리</a></li>
                        <li><a href="/shop_admin/about_pinot">쇼핑몰 정보 관리</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="waves-effect">
                        <i class="las la-bell"></i><span class="badge badge-pill badge-info float-right">03</span>
                        <span>주문/문의 관리</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/shop_admin/order">주문 조회</a></li>        
                        <li><a href="/shop_admin/design_list">디자인 조회</a></li>                
                        <li><a href="/shop_admin/order_history">주문 완료 목록 조회</a></li>                  
                        
                        <li><a href="/shop_admin/custom_purchase">개인 결제 관리</a></li>
                        <li><a href="/shop_admin/custom_purchase_history">개인 결제 완료 목록 관리</a></li>
                        <li><a href="/shop_admin/waiting">미결제 확인</a></li>                        
                        <li><a href="/shop_admin/delivery">배송현황 관리</a></li>
                        <li><a href="/shop_admin/confirm">구매확정 내역</a></li>
                        <li><a href="/shop_admin/cancel">취소 관리</a></li>
                        <li><a href="/shop_admin/refund">반품 관리</a></li>
                        <li><a href="/shop_admin/change">교환 관리</a></li>
                        <li><a href="/shop_admin/inquiry_list">제휴문의 관리</a></li>
                    </ul>
                </li>              
                <li>
                    <a href="javascript: void(0);" class="waves-effect">
                        <i class="las la-comments"></i><span class="badge badge-pill badge-info float-right">03</span>
                        <span>문의/리뷰 관리</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/shop_admin/inquiry">문의 관리</a></li>
                        <li><a href="/shop_admin/custom_inpuiry">개별 제작 문의 관리</a></li>
                        <li><a href="/shop_admin/review">리뷰 관리</a></li>
                        <li><a href="/shop_admin/partner">제휴 관리</a></li>
                        <li><a href="/">리뷰이벤트 관리</a></li>
                    </ul>
                </li>           
                <li style="width:80%; height:1px; background-color:#ddd; margin:10%"></li>
                <li>
                    <a href="javascript: void(0);" class="waves-effect">
                        <i class="las la-clipboard"></i><span class="badge badge-pill badge-info float-right">03</span>
                        <span>제조 관리</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/shop_admin/">작업 관리</a></li>
                        <li><a href="/shop_admin/complete">작업 완료 목록</a></li>
                        <li><a href="/shop_admin/specification_sheet">작업지시서 관리</a></li>
                        <li><a href="/">제조공정 관리</a></li>
                        <li><a href="/">제품 코드 관리</a></li>                               
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="waves-effect">
                        <i class="las la-industry"></i><span class="badge badge-pill badge-info float-right">03</span>
                        <span>고객 관리</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/shop_admin/user_list">고객 정보</a></li>
                        <li><a href="/">혜택 등록</a></li>
                        <li><a href="/">혜택 조회/수정</a></li>
                        <li><a href="/">혜택 리포트</a></li>      
                        <li><a href="/">고객 등급 관리</a></li>
                        <li><a href="/">포인트 지급내역 조회</a></li>    
                        <li><a href="/shop_admin/abuser_list">판매방해 고객관리</a></li>                                 
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="waves-effect">
                        <i class="bx bx-home-circle"></i><span class="badge badge-pill badge-info float-right">03</span>
                        <span>마케팅 메세지</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/">마케팅 보내기</a></li>
                        <li><a href="/">마케팅 이력</a></li>
                        <li><a href="/">마케팅 통계</a></li>   
                    </ul>                    
                </li>       
                <li>
                    <a href="javascript: void(0);" class="waves-effect">
                        <i class="las la-male"></i><span class="badge badge-pill badge-info float-right">03</span>
                        <span>내부 관리</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/shop_admin/internal/employee">직원 관리</a></li>                                            
                    </ul>                    
                </li>  
                <li>
                    <a href="javascript: void(0);" class="waves-effect">
                        <i class="las la-rocket"></i><span class="badge badge-pill badge-info float-right">03</span>
                        <span>개발자 모드</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/shop_admin/dev/log">서버 로그 정보</a></li>       
                        <li><a href="/shop_admin/dev/access_log">서버 접속 정보</a></li>                                           
                    </ul>                    
                </li>                
            </ul>
        </div>
    </div>
</div>