{% extends "shop_admin/base.html" %}
{% block content %}
{% include "shop_admin/components/add_product_js.html" %}     
<script src="/static/admin/js/pages/form-advanced.init.js"></script>
<script src="/static/admin/js/libs/select2/js/select2.min.js"></script>


<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">판매 방해 유저관리</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Contacts</a></li>
                    <li class="breadcrumb-item active">Users List</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-sm-4">
                        <div class="search-box mr-2 mb-2 d-inline-block">
                            <div class="position-relative">
                                <input type="text" class="form-control" placeholder="Search...">
                                <i class="bx bx-search-alt search-icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="text-sm-right">
                            <button type="button" class="btn btn-success btn-rounded waves-effect waves-light mb-2 mr-2 waves-effect waves-light" data-toggle="modal"
                            data-target=".bs-example-modal-xl"> <i class="mdi mdi-plus mr-1"></i>판매방해유저 등록</button>                               
                        </div>
                    </div><!-- end col-->
                </div>
                <div class="table-responsive">
                    <table class="table table-centered table-nowrap table-hover">
                        <thead class="thead-light">
                            <tr>
                              
                                <th scope="col">이름/주소</th>
                                <th scope="col">이메일</th>
                                <th scope="col">태그</th>
                                <th scope="col">구매수</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                               
                                <td>
                                    <h5 class="font-size-14 mb-1"><a href="/shop_admin/user_detail" class="text-dark">David McHenry</a></h5>
                                    <p class="text-muted mb-0">UI/UX Designer</p>
                                </td>
                                <td>david@skote.com</td>
                                <td>
                                    <div>
                                        <a href="#" class="badge badge-soft-primary font-size-11 m-1">Photoshop</a>
                                        <a href="#" class="badge badge-soft-primary font-size-11 m-1">illustrator</a>
                                    </div>
                                </td>
                                <td>
                                    125
                                </td>
                                <td>
                                    <ul class="list-inline font-size-20 contact-links mb-0">
                                        <li class="list-inline-item px-2">
                                            <a href="" data-toggle="tooltip" data-placement="top" title="Message"><i
                                                    class="bx bx-message-square-dots"></i></a>
                                        </li>
                                        <li class="list-inline-item px-2">
                                            <a href="" data-toggle="tooltip" data-placement="top" title="Profile"><i
                                                    class="bx bx-user-circle"></i></a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>                      
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="pagination pagination-rounded justify-content-center mt-4">
                            <li class="page-item disabled">
                                <a href="#" class="page-link"><i class="mdi mdi-chevron-left"></i></a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link">1</a>
                            </li>
                            <li class="page-item active">
                                <a href="#" class="page-link">2</a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link">3</a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link">4</a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link">5</a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link"><i class="mdi mdi-chevron-right"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div> <!-- container-fluid -->

{% include "shop_admin/common/components/modal/add_user.html" %}
{% endblock %}