{% extends "shop_admin/base.html" %}

{% block content %}
{% include "shop_admin/components/add_product_js.html" %}    
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title mt-0" id="myExtraLargeModalLabel">작업지시서 등록</h5>
            <button type="button" onclick="history.back()" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">        
                <form id="receipt" class="modal_form">               
                    <div class="form-group col-4 row">
                        <label for="example-text-input" class="col-2 col-form-label">접수담당자</label>
                        <div class="col-10 " style="display: flex; justify-content: space-between;align-items: center;">
                            <select name="receipt" class="select2 form-control select2-multiple" multiple="multiple"
                                    data-placeholder="접수 담당자 선택">
                                {% for emp in employee_list %}
                                    <option value="{{emp.id}}">{{emp.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>       
                    <div class="form-group col-4 row">
                        <label for="example-text-input" class="col-2 col-form-label">접수경로</label>
                        <div class="col-10 d-flex justify-content-start" style="align-items: center;">                        
                            <div class="custom-control custom-checkbox">
                                <input name="receipt_type" value="전화"  type="radio" class="custom-control-input" id="receipt_type_1">
                                <label class="custom-control-label" for="receipt_type_1">전화</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input name="receipt_type" value="재고 충전" type="radio" class="custom-control-input" id="receipt_type_0">
                                <label class="custom-control-label" for="receipt_type_0">온라인</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input name="receipt_type" value="카카오톡" type="radio" class="custom-control-input" id="receipt_type_2">
                                <label class="custom-control-label" for="receipt_type_2">카카오톡</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input name="receipt_type"  value="방문" type="radio" class="custom-control-input" id="receipt_type_3">
                                <label class="custom-control-label" for="receipt_type_3">방문</label>
                            </div>  
                                                        
                        </div>
                    </div>           
                    <div class="form-group row  col-4">
                        <label for="example-datetime-local-input" class="col-2 col-form-label">접수일자/시간</label>
                        <div class="col-10">
                            <input name="receipt_date_time" class="form-control" type="datetime-local" value=""
                                id="example-datetime-local-input">
                        </div>
                    </div>
                    <div class="form-group col-4 row">
                        <label for="example-text-input" class="col-2 col-form-label">상호</label>
                        <div class="col-10 ">
                            <input name="client_company_name" class="form-control" type="text" value="" placeholder="상호를 입력해주세요." id="product_name_input">
                        </div>
                    </div>          
                    <div class="form-group col-4 row">
                        <label for="example-text-input" class="col-2 col-form-label">담당자</label>
                        <div class="col-10 ">
                            <input name="client_person_name" class="form-control" type="text" value="" placeholder="담당자를 입력해주세요." id="product_name_input">
                        </div>
                    </div>           
                    <div class="form-group col-4 row">
                        <label for="example-text-input" class="col-2 col-form-label">연락처</label>
                        <div class="col-10 ">
                            <input name="client_person_phone" class="form-control" type="text" value="" placeholder="담당자 핸드폰을 입력해주세요." id="product_name_input">
                        </div>
                    </div>              
                    <div class="form-group col-4 row">
                        <label for="example-text-input" class="col-2 col-form-label">운임비용</label>
                        <div class="col-10  d-flex justify-content-start" style=";align-items: center;">
                            <div class="custom-control custom-checkbox">
                                <input name="delivery_charge_type"  value="없음" type="radio" class="custom-control-input" id="delivery_charge_type_0">
                                <label class="custom-control-label" for="delivery_charge_type_0">없음</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input name="delivery_charge_type" value="선불"  type="radio" class="custom-control-input" id="delivery_charge_type_1">
                                <label class="custom-control-label" for="delivery_charge_type_1">선불</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input name="delivery_charge_type" value="착불"  type="radio" class="custom-control-input" id="delivery_charge_type_2">
                                <label class="custom-control-label" for="delivery_charge_type_2">착불</label>
                            </div>                                              
                        </div>
                    </div>          
                    <div class="form-group col-4 row">
                        <label for="example-text-input" class="col-2 col-form-label">긴급출고</label>
                        <div class="col-10  d-flex justify-content-start" style="align-items: center;">
                            
                            <div class="custom-control custom-checkbox">
                                <input name="is_urgent" type="radio" value="false" class="custom-control-input" id="is_urgent_1">
                                <label class="custom-control-label" for="is_urgent_1">일반출고</label>
                            </div>     
                            <div class="custom-control custom-checkbox">
                                <input name="is_urgent" type="radio" value="true" class="custom-control-input" id="is_urgent_0">
                                <label class="custom-control-label" for="is_urgent_0">당일출고</label>
                            </div>                                                            
                        </div>
                    </div>                      
                    <div class="form-group col-4 row">
                        <label for="example-text-input" class="col-2 col-form-label">배송방법</label>
                        <div class="col-10  d-flex justify-content-start" style="align-items: center;">
                            <div class="custom-control custom-checkbox">
                                <input name="delivery_type" value="배송" type="radio" class="custom-control-input" id="delivery_type_0">
                                <label class="custom-control-label" for="delivery_type_0">배송</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input name="delivery_type" value="방문수령" type="radio" class="custom-control-input" id="delivery_type_1">
                                <label class="custom-control-label" for="delivery_type_1">방문수령</label>
                            </div> 
                            <div class="custom-control custom-checkbox">
                                <input name="delivery_type" value="택배" type="radio" class="custom-control-input" id="delivery_type_2">
                                <label class="custom-control-label" for="delivery_type_2">택배</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input name="delivery_type" value="화물" type="radio" class="custom-control-input" id="delivery_type_3">
                                <label class="custom-control-label" for="delivery_type_3">화물</label>
                            </div>      
                            <div class="custom-control custom-checkbox">
                                <input name="delivery_type" value="화물택배" type="radio" class="custom-control-input" id="delivery_type_4">
                                <label class="custom-control-label" for="delivery_type_4">화물택배</label>
                            </div>                                                             
                        </div>
                    </div>     
                    <div class="form-group col-4 row">
                        <label for="example-text-input" class="col-2 col-form-label">지역</label>
                        <div class="col-10  d-flex justify-content-start local_check" style="align-items: center;">
                            <div class="custom-control custom-checkbox">
                                <input name="local" value="청주" type="radio" class="custom-control-input" id="local_type_0">
                                <label class="custom-control-label" for="local_type_0">청주</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input name="local" value="세종" type="radio" class="custom-control-input" id="local_type_1">
                                <label class="custom-control-label" for="local_type_1">세종</label>
                            </div> 
                            <div class="custom-control custom-checkbox">
                                <input name="local" value="대전" type="radio" class="custom-control-input" id="local_type_2">
                                <label class="custom-control-label" for="local_type_2">대전</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input name="local" value="공주" type="radio" class="custom-control-input" id="local_type_3">
                                <label class="custom-control-label" for="local_type_3">공주</label>
                            </div>      
                            <div class="custom-control custom-checkbox">
                                <input name="local" value="충청" type="radio" class="custom-control-input" id="local_type_4">
                                <label class="custom-control-label" for="local_type_4">충청</label>
                            </div>    
                            <div class="custom-control custom-checkbox">
                                <input name="local" value="기타" type="radio" class="custom-control-input" id="local_type_5">
                                <label class="custom-control-label" for="local_type_5">기타</label>
                            </div>                                                          
                        </div>
                    </div>                                 
                    <div class="form-group col-4 row">
                        <label for="example-text-input" class="col-2 col-form-label">발송인명</label>
                        <div class="col-10">
                            <input name="sender_name" class="form-control" type="text" value="주식회사 피노" placeholder="발송인명을 입력해주세요." id="product_name_input">
                        </div>
                    </div> 
                    <div class="form-group col-4 row">
                        <label for="example-text-input" class="col-2 col-form-label">수하인명</label>
                        <div class="col-10">
                            <input name="receipter_name" class="form-control" type="text" value="" placeholder="수하인명을 입력해주세요." id="product_name_input">
                        </div>
                    </div> 
                    <div class="form-group col-4 row">
                    
                        <label for="example-text-input" class="col-2 col-form-label">마감일</label>
                        <div class="col-10">
                            <input type="text" id="project_due" name="project_due" class="form-control" data-date-format="yyyy-mm-dd" data-provide="datepicker"
                                data-date-autoclose="true">                         
                        </div><!-- input-group -->
                    </div> 
                    <div class="form-group col-4 row">
                        <label for="example-text-input" class="col-2 col-form-label">납기일</label>
                        <div class="col-10">
                            <input name="due" class="form-control" data-date-format="yyyy-mm-dd" data-provide="datepicker"  data-date-autoclose="true"  value=""
                                id="due">
                        </div>
                    </div>  
                    <div class="form-group col-4 row">
                        <label for="example-text-input" class="col-2 col-form-label">납기장소</label>
                        <div class="col-10">
                            <input name="receipt_location" class="form-control" type="text" value="" placeholder="납기장소을 입력해주세요." id="product_name_input">
                        </div>
                    </div> 
                        
                    <div class="form-group col-12 row">
                        <label for="example-text-input" class="col-1 col-form-label pt-0">주문요청<br>사항</label>
                        <div class="col-11 ">
                            <input name="receipt_comment" class="form-control" type="text" value="" placeholder="주문 요청사항을 입력해주세요." id="product_name_input">
                        </div>
                    </div>       
                </form>       
            </div>
            <div class="row form_row">
            </div>
                <div class="row">
                <div id="add_btn" class="col-12">
                    <button  class="add_project col-12 btn btn-primary">추가등록</button>
                </div>
            </div>
            <div class="row justify-content-end mt-3 mr-1">
                <button id="receipt_submit" class="btn btn-primary">등록하기</button>
            </div>
        </div>
    </div><!-- /.modal-content -->
     
    <script src="/static/admin/js/pages/form-advanced.init.js"></script>
    <script src="/static/admin/js/libs/select2/js/select2.min.js"></script>
    <script>
        jQuery.fn.serializeObject = function() {
            var obj = null;
            try {
                if (this[0].tagName && this[0].tagName.toUpperCase() == "FORM") {
                    var arr = this.serializeArray();
                    if (arr) {
                        obj = {};
                        jQuery.each(arr, function() {
                            obj[this.name] = this.value;
                        });
                    }//if ( arr ) {
                }
            } catch (e) {
                alert(e.message);
            } finally {
            }
        
            return obj;
        };


        var form_seg = `     
            <div style='width:100%; border-top: 1px solid #ddd;margin-bottom: 15px;'></div>
            <div class="form_title"><h5 style="font-weight:bold"><프로젝트1></h5></div>
            <form class="project_seg d-flex" style="flex-wrap: wrap;">                
                    <div class="form-group col-4 row">
                        <label for="example-text-input" class="col-2 col-form-label pt-0">프로젝트 명</label>
                        <div class="col-10 ">
                            <input name="project_name" class="form-control" type="text" value="" placeholder="프로젝트 이름을 입력해주세요." id="product_name_input">
                        </div>
                    </div> 
                    <div class="form-group col-4 row">
                        <label for="example-text-input" class="col-2 col-form-label">프로젝트<br>종류</label>                    
                        <div class="col-10 " style="display: flex; justify-content: space-around;align-items: center;">
                            <select name="project_type" class="form-control">
                                <option>실사출력</option>
                                <option>사인물</option>
                                <option>후레임간판</option>
                                <option>채널간판</option>
                                <option>지주간판</option>
                                <option>포인트간판</option>
                                <option>어닝</option>
                                <option>광고자재</option>
                                <option>기타</option>
                            </select>
                        </div>
                    </div> 
                    <div class="form-group col-4 row">
                        <label for="example-text-input" class="col-2 col-form-label pt-0">원본<br>데이터위치</label>
                        <div class="col-10 ">
                            <input name="directory" class="form-control" type="text" value="" placeholder="데이터 위치를 입력해주세요." id="product_name_input">
                        </div>
                    </div>  
                    
                    <div class="form-group col-4 row">
                        <label for="example-text-input" class="col-2 col-form-label">마감일</label>
                        <div class="col-10">
                            <input type="text" name="project_due" class="form-control project_due" data-date-format="yyyy-mm-dd" data-provide="datepicker"
                                data-date-autoclose="true">                         
                        </div>
                    </div> 
                    <div class="form-group col-4 row">
                        <label for="example-text-input" class="col-2 col-form-label">납기일</label>
                        <div class="col-10">
                            <input type="text" name="due"" class="form-control" data-date-format="yyyy-mm-dd" data-provide="datepicker"
                                data-date-autoclose="true">                         
                        </div>
                    </div> 
                    <div class="form-group col-4 row">
                        <label for="example-text-input" class="col-2 col-form-label">작업형태</label>                    
                        <div class="col-10 " style="display: flex; justify-content: space-around;align-items: center;">
                            <select name="process_type" class="form-control">
                                <option value="직접제작">직접제작</option>
                                <option value="완조립">완조립</option>
                                <option value="외주">외주</option>
                                <option value="일부 외주">일부 외주</option>
                            </select>
                        </div>
                    </div> 
                    <div class="form-group col-4 row">
                        <label for="example-text-input" class="col-2 col-form-label">시안형태</label>
                        <div class="col-10 " style="display: flex; justify-content: space-around;align-items: center;">
                            <select name="design" class="form-control">
                                <option>완성데이터</option>
                                <option>시안수정</option>
                                <option>시안 새작업</option>
                                <option>시안 없음</option>
                            </select>               
                        </div>
                    </div> 
                    <div class="form-group col-4 row">
                        <label for="example-text-input" class="col-2 col-form-label pt-0">수량</label>
                        <div class="col-10 ">
                            <input name="count" class="form-control" type="text" value="" placeholder="수량을 입력해주세요." id="product_name_input">
                        </div>
                    </div> 
                    
                    <div class="form-group col-4 row">
                        <label for="example-text-input" class="col-2 col-form-label pt-0">포장형태</label>
                        <div class="col-10 ">
                            <input name="memo" class="form-control" type="text" value="" placeholder="포장형태를 입력해주세요." id="product_name_input">
                        </div>
                    </div>  
                    <div class="form-group col-12 row">
                        <label for="example-text-input" class="col-1 col-form-label pt-0">주의사항</label>
                        <div class="col-11 ">
                            <input name="packaging_text" class="form-control" type="text" value="" placeholder="주의사항을 입력해주세요." id="product_name_input">
                        </div>
                    </div>  
                    <div class="form-group col-12 row">
                        <label for="example-text-input" class="col-1 col-form-label pt-0">데이터 설명</label>
                        <div  class="col-11 ">
                            <div class="summernote" ></div>
                        </div>
                    </div>         
                    
                    



                </form>
        `
        $(".form_row").eq(0).append( ( form_seg ) )
        $('.summernote').last().summernote({height: 400});     
        $("#receipt_submit").on("click", function(){
            if( !$("select[name='receipt']").val() ){ 
                alert("접수당담자를 입력해주세요");
                $("span.select2-selection.select2-selection--multiple").attr("style","border:1px solid red!important");
                return false 
                }
            
            var form_data = {}
            var receipt_data =  $("#receipt").serializeObject()
            receipt_data["receipt"] = $("select[name='receipt']").val()
            // console.log(receipt_data)
            form_data['receipt_data']= receipt_data ;
            var project_data = []
            $(".project_seg").each(function(){
                var data = $(this).serializeObject()
                console.log(  $(this).find(".summernote") )
                data["description"] = $(this).find(".summernote").summernote("code")
                project_data.push(data)
            })
            form_data['project_data'] =  project_data ;
            console.log( JSON.stringify(form_data))
            console.log(form_data)
            $.ajax({
                type : 'POST',
                url : '/shop_admin/ajax_order',
                data : JSON.stringify(form_data),
                dataType : 'json',
                enctype: 'multipart/form-data',
                contentType: 'application/json; charset=utf-8',
                processData: false,       
                cache:false,
                error: function(xhr, status, error){
                    alert(error);
                },
                success : function(json){
                    alert("등록되었습니다.")
                    location.href="/shop_admin/"
                    // location.reload()
                }
            });
        })     
        $('.select2-multiple').select2();
        $(".add_project").on("click", function(){
            // console.log("zmfflr")
            // var form_seg = ( $("form.project_seg").last().clone() )
            $(".form_row").eq(0).append( ( form_seg ) )
            // $( $.parseHTML( form_seg ) ).appendTo
            $('.summernote').last().summernote({height: 400});
            $('.select2-multiple').select2();
            var project_due = $("#project_due").val()
            console.log(project_due)
            $(".project_due").last().val(  project_due )
            var due = $("#due").val()
            $("input[name='due']").last().val(  due )
            $(".form_title").each(function(index, obj){
                var count = index+1 ;
                $(obj).html('<h5 style="font-weight:bold"><프로젝트'+count +'></h5>')
            })
        })
        // initialize
        $("input[name='receipt_type']").eq(0).click()
        $("input[name='is_urgent']").eq(0).click()
        $("input[name='local']").eq(0).click()
        $("input[name='delivery_type']").eq(0).click()
        $("input[name='delivery_charge_type']").eq(0).click()
        function strftime(sFormat, date) {
  if (!(date instanceof Date)) date = new Date();
  var nDay = date.getDay(),
    nDate = date.getDate(),
    nMonth = date.getMonth(),
    nYear = date.getFullYear(),
    nHour = date.getHours(),
    aDays = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],
    aMonths = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
    aDayCount = [0, 31, 59, 90, 120, 151, 181, 212, 243, 273, 304, 334],
    isLeapYear = function() {
      if ((nYear&3)!==0) return false;
      return nYear%100!==0 || nYear%400===0;
    },
    getThursday = function() {
      var target = new Date(date);
      target.setDate(nDate - ((nDay+6)%7) + 3);
      return target;
    },
    zeroPad = function(nNum, nPad) {
      return ('' + (Math.pow(10, nPad) + nNum)).slice(1);
    };
  return sFormat.replace(/%[a-z]/gi, function(sMatch) {
    return {
      '%a': aDays[nDay].slice(0,3),
      '%A': aDays[nDay],
      '%b': aMonths[nMonth].slice(0,3),
      '%B': aMonths[nMonth],
      '%c': date.toUTCString(),
      '%C': Math.floor(nYear/100),
      '%d': zeroPad(nDate, 2),
      '%e': nDate,
      '%F': date.toISOString().slice(0,10),
      '%G': getThursday().getFullYear(),
      '%g': ('' + getThursday().getFullYear()).slice(2),
      '%H': zeroPad(nHour, 2),
      '%I': zeroPad((nHour+11)%12 + 1, 2),
      '%j': zeroPad(aDayCount[nMonth] + nDate + ((nMonth>1 && isLeapYear()) ? 1 : 0), 3),
      '%k': '' + nHour,
      '%l': (nHour+11)%12 + 1,
      '%m': zeroPad(nMonth + 1, 2),
      '%M': zeroPad(date.getMinutes(), 2),
      '%p': (nHour<12) ? 'AM' : 'PM',
      '%P': (nHour<12) ? 'am' : 'pm',
      '%s': Math.round(date.getTime()/1000),
      '%S': zeroPad(date.getSeconds(), 2),
      '%u': nDay || 7,
      '%V': (function() {
              var target = getThursday(),
                n1stThu = target.valueOf();
              target.setMonth(0, 1);
              var nJan1 = target.getDay();
              if (nJan1!==4) target.setMonth(0, 1 + ((4-nJan1)+7)%7);
              return zeroPad(1 + Math.ceil((n1stThu-target)/604800000), 2);
            })(),
      '%w': '' + nDay,
      '%x': date.toLocaleDateString(),
      '%X': date.toLocaleTimeString(),
      '%y': ('' + nYear).slice(2),
      '%Y': nYear,
      '%z': date.toTimeString().replace(/.+GMT([+-]\d+).+/, '$1'),
      '%Z': date.toTimeString().replace(/.+\((.+?)\)$/, '$1')
    }[sMatch] || sMatch;
  });
}
const now = new Date();
const offsetMs = now.getTimezoneOffset() * 60 * 1000;
const dateLocal = new Date(now.getTime() - offsetMs);
const str = dateLocal.toISOString().slice(0, 19).replace(/-/g, "-");
console.log(str)
        $("input[name='receipt_date_time']").val( str )
        $("input[name=project_due]").val( str.split("T")[0]  )
        $("input[name=due]").val( str.split("T")[0]  )
    </script>
    <style>
        .col-form-label{
            font-weight: bold;
            display: flex;
            align-items: center;
            text-align: center;
        }
        .select2-search__field{
            -webkit-box-flex: 0;
            -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
            max-width: 91.66667%;
            color: #495057;
            width: 100%!important;
        }
        .select2{
            padding-right: 12px;
            padding-left: 12px;
            -webkit-box-flex: 0;
            -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
            max-width: 91.66667%;
        }
        .machine .custom-checkbox{
            margin-left: 30px;
            min-width: 100px;
        }
        .select2 {
            width: initial!important;
            padding-right: 0px;
            padding-left: 0px; 
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100;
            flex: 0 0 100%;
            max-width: 100%;
        }
        .custom-control.custom-checkbox{
            margin-left: 30px
        }
        .custom-control.custom-checkbox:nth-child(1){
            margin-left: 0px
        }
        .col-form-label{
            padding: 0px 12px;
        }
        .local_check>.custom-control.custom-checkbox{
            margin-left: 10px!important;
        }
        .custom-control.custom-checkbox:nth-child(1) {
            margin-left: 0px!important;
        }
        .col-form-label{
            max-width: 90px;
            align-items: center;
            justify-content: center;
        }
    </style>

{% endblock %}