{% extends "shop_admin/base.html" %}

{% block content %}
{% include "shop_admin/components/add_product_js.html" %}     


<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">상품등록</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">쇼핑몰 관리</a></li>
                    <li class="breadcrumb-item active">상품등록</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="col-lg-12 ">
        <div class="card">
            <div class="card-body">
                <div id="delivery_info">
                    <div class="card mb-1 shadow-none">
                        <div class="card-header" id="headingOne">
                            <h6 class="m-0">
                                <a href="#collapseSecond" class="text-dark" data-toggle="collapse" aria-expanded="true"
                                    aria-controls="collapseSecond">
                                    <h4 class="card-title">주문 정보</h4>
                                </a>
                            </h6>
                        </div>
                        <div id="collapseSecond" class="collapse show" aria-labelledby="headingOne"
                            data-parent="#product_name">
                            <div class="form-group row m-3">
                                <div class="col-6">
                                    <label for="example-text-input" class="col-md-2 col-form-label">운송장 번호</label>
                                    <div class="col-md-10 ">
                                        <input name="name" class="form-control" type="text" value="" placeholder="운송장 번호을 입력해주세요." id="product_name_input">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <label for="example-text-input" class="col-md-2 col-form-label">주문 접수일</label>
                                    <div class="col-md-10 ">
                                        <input name="name" class="form-control" type="text" value="" placeholder="2021-01-07" id="product_name_input">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <label for="example-text-input" class="col-md-2 col-form-label">전화번호</label>
                                    <div class="col-md-10 ">
                                        <input name="name" class="form-control" type="text" value="" placeholder="전화 번호을 입력해주세요." id="product_name_input">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <label for="example-text-input" class="col-md-2 col-form-label">주문인명</label>
                                    <div class="col-md-10 ">
                                        <input name="name" class="form-control" type="text" value="" placeholder="김명수" id="product_name_input">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <label for="example-text-input" class="col-md-2 col-form-label">핸드폰번호</label>
                                    <div class="col-md-10 ">
                                        <input name="name" class="form-control" type="text" value="" placeholder="전화 번호을 입력해주세요." id="product_name_input">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <label for="example-text-input" class="col-md-2 col-form-label">주소</label>
                                    <div class="col-md-10 ">
                                        <input name="name" class="form-control" type="text" value="" placeholder="서울시" id="product_name_input">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>  
</div>


<script src="/static/admin/js/add_product.js"></script>
<style>
   
</style>
<script>
function formatNumber(nStr) {
    //check for blank, use jquery trim for ie8 compat
    if ("" === $.trim(nStr)) {
        return 0;
    }
    // Check if it is a number
    if (!$.isNumeric(nStr)) {
        return nStr;      
    }
    nStr = parseInt(nStr).toLocaleString()  
    return nStr;
}

function initCommas() {
    // Cache document for better performance
    var $document = $(document);
    $document.on('blur', '.comma-format', function() {        
        // Format and place back into text
        var string = formatNumber($(this).val())     
        $(this).val((string).toString());
    });
}
initCommas();
</script>

{% endblock %}