{% extends "shop_admin/base.html" %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />
<script src="https://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">배너 관리</h4>       
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-sm-4">                      
                    </div>
                    <div class="col-sm-8 flex justify-content-end" style="display: flex;">
                        <button class="btn btn-primary add_jumbotron">배너 등록</button>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-centered table-nowrap">
                        <thead class="thead-light">
                            <tr>
                                <th style="width: 20px;">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                                        <label class="custom-control-label" for="customCheck1">&nbsp;</label>
                                    </div>
                                </th>
                                <th>이름</th>
                                <th>PC</th>
                                <!-- <th>모바일</th> -->
                                <th>링크</th>
                                <th>위치</th>   
                                <th>조회수</th>       
                                <th>클릭수</th>    
                                <th>기간</th>                 
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in banner_list %}
                            <tr class="jumbotron_list" data-id="{{item.id}}">
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck2">
                                        <label class="custom-control-label" for="customCheck2">&nbsp;</label>
                                    </div>
                                </td>
                                <th  style="width: 200px;">{{item.name|safe}}
                                    <span class="badge badge-primary modify_btn title"> <i class="bx bx-highlight"></i></span> 
                                    <span class="badge badge-danger delete_btn"> <i class="bx bx-trash"></i></span> 

                                </th>
                                <td class="text-body font-weight-bold" style="width: 250px;;" > 
                                    <span class="title"><img src="{{item.pc_image_url}}" style="width: 250px;"></span>                                  
                                </td>
                                <!-- <td style="width: 140px">
                                    <span ><img src="{{item.mobile_image_url}}" style="width: 250px;"></span>
                                </td> -->
                                <th>{{item.link|safe}}</th>
                                <td>
                                    {% if item.get_type_display == "전체 페이지(상단)" %}
                                    <span >{{item.get_type_display}}</span>
                                    {% else %}
                                    <span >{{item.get_type_display}}-{{ item.category }}</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <span >{{item.view_count|default:"0"}}</span>
                                </td>
                                <td>
                                    <span >{{item.click_count|default:"0"}}</span>
                                </td>
                                <td>
                                    {{item.start_dt}}~{{item.end_dt}}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>              
            </div>
        </div>
    </div>
</div>
<!-- end row -->
</div> <!-- container-fluid -->
</div>
<!-- End Page-content -->


<div class="modal fade write_modal" tabindex="-1" role="dialog" 
aria-labelledby="read_notice" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">              
                <input placeholder="배너 이름을 입력해주세요." name="name" type="text" id="name" class="form-control modal-title mt-0">              
            </div>
            <div class="modal-body" id="write_notice_content">
                <input type="hidden" name="jumbotron_id">
                PC 이미지 : <input type="file" id="pc_image" name="pc_image"><br>
                <!-- 모바일 이미지 : <input type="file" id="mobile_image" name="mobile_image"><br> -->
                <span style="font-size: 14px; color:#888;">해당 이미지 업로드시에만 이미지가 변경됩니다.</span><br><br>
                링크 : <input type="text" name="link" id="link" class="form-control"><br>
                백그라운드 색상 : <input type="text" name="background_color" id="background_color" class="form-control"><br>                
                위치 :   <select class="form-control" name="banner_type" id="banner_type">
                            <option value="common">전체 페이지(상단)</option>
                            <option value="search">검색 페이지</option>
                            {% for item in category_list %}
                            <option value="{{item.id}}">{{item}}</option>
                            {% endfor %}
                        </select>
                <br>              
                기간 설정 : 
                <div style="display: flex; justify-content: space-between;align-items: center;">
                    <input type="text" name="start_dt" id="start_dt" style="width: 40%" class="form-control">~<input type="text" name="end_dt"  style="width: 40%"  id="end_dt"  class="form-control"><br>
                </div>
                <br><br>
                <button class="btn btn-primary add_jumbotron_item" style="float:right">등록/수정 하기</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
 
<script>
    $.datepicker.setDefaults({
        dateFormat: 'yy-mm-dd',
        prevText: '이전 달',
        nextText: '다음 달',
        monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
        monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
        dayNames: ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
        showMonthAfterYear: true,
        yearSuffix: '년'
    });
    $("#start_dt").datepicker({})
    $("#end_dt").datepicker({})
    $(".title").on("click", function(){
       var id = $(this).closest("tr").attr("data-id")
        $.ajax({
            type:"post",
            data:{
                type:"detail",
                id:$(this).closest("tr").attr("data-id")
            },
            success:function(res){
                $("input[name='jumbotron_id']").val(id)
                $("input[name='name']").val(res.result[0].name)
                $("input[name='start_dt']").val(res.result[0].start_dt)
                $("input[name='end_dt']").val(res.result[0].end_dt)
                
                $("input[name='link']").val(res.result[0].link)              
                $("select[name='type']").val(res.result[0].type)        
                $("input[name='background_color']").val(res.result[0].background_color)        
                $(".write_modal").modal("show")
            }
        })
    })
    $(".add_jumbotron").on("click", function(){
        $("input[name='jumbotron_id']").val("")
        $("input[name='link']").val("")
        $("input[name='name']").val("")
        $("input[name='banner_type']").val("")
        $("input[name='background_color']").val("")
        $("input[name='start_dt']").val("")
        $("input[name='end_dt']").val("")
        $(".write_modal").modal("show")
    })
    
    $(".add_jumbotron_item").on("click", function(){
        if(  $("input[name='end_dt']").val() == "" ||  $("input[name='start_dt']").val() == ""){
            alert("배너 노출 기간을 설정해주세요." )
        }
        var id = $(this).closest("tr").attr("data-id")
        var formData = new FormData();
        formData.append("pc_image", $("#pc_image")[0].files[0]);
     
        formData.append("link", $("#link").val());
        formData.append("name", $("#name").val());
        formData.append("background_color", $("#background_color").val());        
        formData.append("banner_type", $("#banner_type").val());   
        formData.append("start_dt", $("#start_dt").val());   
        formData.append("end_dt", $("#end_dt").val());   
        formData.append("type", "add_modify");  
        formData.append("id", $("input[name=jumbotron_id]").val());  
        $.ajax({
            type:"post",
            enctype: 'multipart/form-data',
            processData: false,
            contentType: false,
            data:formData,
            success:function(res){          
                location.reload()      
            }
        })
    })
    


    $(".delete_btn").on("click", function(){
        if(confirm("배너를 삭제하시겠습니까?")){
            $.ajax({
                type:"post",
                data:{
                    type:"delete",
                    id:$(this).closest("tr").attr("data-id"),
                },
                success:function(res){
                    console.log(res)
                    location.reload()
                }
            })
        }
    })
</script>
<style>
    .title{
        cursor: pointer;
    }
    .modify_btn{
        display: none;
        cursor: pointer;
    }
    tr:hover .modify_btn{
        display: inline-block;
    }
    .delete_btn{
        display: none;
        cursor: pointer;
    }
    tr:hover .delete_btn{
        display: inline-block;
    }
</style>
{% endblock %}