{% extends "shop_admin/base.html" %}
{% load index_filter %}

{% block content %}
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">카테고리 관리</h4>

            {% comment %} <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Ecommerce</a></li>
                    <li class="breadcrumb-item active">Orders</li>
                </ol>
            </div> {% endcomment %}
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-sm-4">                      
                    </div>
                    <div class="col-sm-8 flex justify-content-end" style="display: flex;">
                        <button class="btn btn-primary add_jumbotron">카테고리 등록</button>
                        <button class="btn btn-danger delete_item">카테고리 삭제</button>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-centered table-nowrap">
                        <thead class="thead-light">
                            <tr>
                                <th style="width: 20px;">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                                        <label class="custom-control-label" for="customCheck1">&nbsp;</label>
                                    </div>
                                </th>
                                <th>이름</th>
                                <th>썸네일</th>                             
                                <th>순서</th>      
                                <th>메인페이지  노출상품</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in category_list %}
                            <tr class="category_list" data-id="{{item.id}}">
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck-{{item.id}}">
                                        <label class="custom-control-label" for="customCheck-{{item.id}}">&nbsp;</label>
                                    </div>
                                </td>
                                <th  style="width: 300px;"><span class="title">{{item}}</span><i style="cursor:pointer;margin-left: 5px" class="spread fas fa-arrow-circle-right "></i>
                                </th>
                                <td class="text-body font-weight-bold" style="width: 500px;;" > 
                                    <span class="title"><img src="{{item.image_url}}" style="height: 100px;"></span>
                                    <!-- 
                                     -->
                                </td>
                                <td >
                                     <span >{{item.index}}</span>
                                </td>                             
                                <td>
                                    {% for product in item.main_display_product %}
                                    <span class="badge badge-primary" style="margin-right: 10px;">{{product}}</span>
                                   {% endfor %}
                                </td>
                               
                            </tr>

                            {% for item2 in item.category_set.all %}
                            <tr class="category_list hidden" data-parent-id="{{item.id}}" data-id="{{item2.id}}">
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck2-{{item2.id}}">
                                        <label class="custom-control-label" for="customCheck2-{{item2.id}}">&nbsp;</label>
                                    </div>
                                </td>
                                <th class="title" style="width: 300px; padding-left: 30px; ">{{item2}}
                                </th>
                                <td class="text-body font-weight-bold" style="width: 500px;;" > 
                                    <span class="title"><img src="{{item.image_url}}" style="height: 100px;"></span>
                                    <!-- 
                                     -->
                                </td>
                                <td >
                                     <span >{{item2.index}}</span>
                                </td>                             
                                <td>
                                
                                </td>
                                
                            </tr>
                            {% endfor %}

                            {% endfor %}
                        </tbody>
                    </table>
                </div>              
            </div>
        </div>
    </div>
</div>
<!-- end row -->
</div> <!-- container-fluid -->
</div>
<!-- End Page-content -->


<div class="modal fade write_modal" tabindex="-1" role="dialog" id="write_modal"
aria-labelledby="write_modal-label" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <form id="category_form">
                <div class="modal-header">              
                    <span id="write_modal-label">카테고리 등록</span>
                    <button id="close_modal" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="write_notice_content">
                    <input type="hidden" id="pk" >
                    카테고리 이름 : <input placeholder="카테고리 이름을 입력해주세요." type="text" id="name" class="form-control modal-title mt-0">
                    상위카테고리 : 
                    <select id="parent_category_id" class="form-control" name="parent_category_id"></select>
                    순서 : 
                    <input placeholder="카테고리 디스플레이 순서를 입력해주세요." type="number" id="index" class="form-control modal-title mt-0">
                    <button type="submit" class="btn btn-primary add_jumbotron_item">등록 하기</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    function render_category_select(selected){
        var parent_category_json = {{ category_list|json|safe }}
        console.log(parent_category_json)
        var option_html = parent_category_json.map(e=>{
            if(selected === e.pk){
                return "<option value='"+e.pk+"' selected>"+e.fields.name+"</option>"
            }
            else return "<option value='"+e.pk+"'>"+e.fields.name+"</option>"
        })
        $("#parent_category_id").html("<option value=''>메인 카테고리로 추가/수정</option>"+option_html.join(""))
    }    
    
    $(".spread").on("click", function(){
        var id = $(this).closest("tr").attr("data-id")
        $(this).toggleClass("spreading")
        $("tr[data-parent-id='"+id+"']").toggleClass("hidden")
    })
    if($(".jumbotron_list").length >= 6 ) {
        $(".add_jumbotron").addClass("disabled")
    }
    $(".title").on("click", function(){
       var id = $(this).closest("tr").attr("data-id")
        $.ajax({
            url:"/shop_admin/category_detail/"+id,
            success:function(res){
                render_category_select(res.result[0].parent_category_id)
                $("#pk").val(id)
                $("#name").val(res.result[0].name)
                $("#index").val(res.result[0].index)                
                $(".write_modal").modal("show")
            }
        })
    })
    $(".add_jumbotron").on("click", function(){
        $("#modal_title").text("카테고리 등록")
        $("#pk").val()
        render_category_select()
        $(".write_modal").modal("show")
    })
    $("#category_form").on("submit",function(){
        $.ajax({
            method:"POST",
            data: {
                "pk": $("#pk").val(),
                "name": $("#name").val(),
                "parent_category_id" : $("#parent_category_id").val(),
                "index" : $("#index").val()
                },
            success:function(res){
                console.log(res)
                location.reload()
            }
        })
        return false
    })
    $("#close_modal").on("click", function(){
        $(".write_modal").modal("hide")
    })
    $(".delete_item").on("click", function(){
        var data = []  
        $(".custom-control-input:checked").each(function(_, item){return data.push($(item).attr("id").split("-")[1]) })
        console.log(data)
        $.ajax({
            contentType: "application/json; charset=utf-8",
            method:"DELETE",
            data: { "list" : data.join(",") },
            success:function(res){
                console.log(res)
                location.reload()
            }
        })
    })
</script>
<style>
    .spreading{
        transform:rotateZ(90deg);
    }
    .title{
        cursor: pointer;
    }
    .modify_btn{
        display: none;
        cursor: pointer;
    }
    tr:hover .modify_btn{
        display: inline-block;
    }
    .delete_btn{
        display: none;
        cursor: pointer;
    }
    tr:hover .delete_btn{
        display: inline-block;
    }
    .hidden{
        display:none;
    }
</style>
{% endblock %}