{% extends "shop_admin/base.html" %} 
{% block content %} 
{% include "shop_admin/components/add_product_js.html" %}
{% load index_filter %}
<!-- Development version -->
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>

<!-- Production version -->
<script src="https://unpkg.com/@popperjs/core@2"></script>
<div class="row">
  <div class="col-12">
    <div
      class="page-title-box d-flex align-items-center justify-content-between"
    >
      <h4 class="mb-0 font-size-18">작업 완료 관리</h4>
      <div>
         <button  class="btn btn-success"  onclick="location.href='/shop_admin'">작업목록</button>
        <button  class="btn btn-success" onclick="location.href='/shop_admin/add_order'" >작업지시서 등록</button>
        <button  class="btn btn-primary full_screen">전체화면</button>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="row mb-2">
          <div class="col" style="display: flex; ">
            <div class="search-box mr-2  " style="display: flex; align-items: center;">
              <div class="position-relative">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Search..."
                  id="search"
                  value="{{search}}"
              />
                <i class="bx bx-search-alt search-icon"></i>
              </div>
            </div>
            <div class="data_group " style="display: flex; align-items: center;">
              <button  data-date="7" class="recent btn mr-2 {%if recent == "7"%} btn-primary {% endif %}">최근 7일</button>
              <button  data-date="30" class="recent btn mr-2 {%if recent == "30"%} btn-primary {% endif %}">최근 30일</button>
              <button  data-date="60" class="recent btn mr-2 {%if recent == "60"%} btn-primary {% endif %} ">최근 60일</button>
              날짜별 검색 : &nbsp;
              <input id="end" type="date" style="height: 33px;"  value="{{end}}">~
              <input id="start" type="date" style="height: 33px;" value="{{start}}">
              <button id="duration_search" class="btn mr-2 ">검색</button>
            </div>
          </div>
          <div class="col-sm-4 filter"  >
            <div class="row justify-content-end">             
              <div class="col" style="display: flex; justify-content: flex-end;">
                <select id="per" style="margin-left: 20px; height: 33px">
                  <option value="20" {% if per == 20 %}selected {% endif %}>20개씩 보기</option>
                  <option value="50" {% if per == 50 %}selected {% endif %}>50개씩 보기</option>
                  <option value="100" {% if per == 100 %}selected {% endif %}>100개씩 보기</option>
                </select>                
                <ul class="pagination pagination-rounded justify-content-end mb-2">
                <li class="page-item disabled">
                    <a class="page-link" href="javascript: void(0);" aria-label="Previous">
                        <i class="mdi mdi-chevron-left"></i>
                    </a>
                </li>
                {% for item in total_page %}
                <li class="page-item {% if item == page%} active {% endif %}">
                  <a class="page-link" href="/shop_admin/complete?page={{item}}&per={{per}}&search={{search}}&recent={{recent}}&start={{start}}&end={{end}}">{{item}}</a></li>
                {% endfor %}
                <li class="page-item">
                    <a class="page-link" href="javascript: void(0);" aria-label="Next">
                        <i class="mdi mdi-chevron-right"></i>
                    </a>
                </li>
            </ul></div>
            </div> </div
          ><!-- end col-->
        </div>
        <div class="table-responsive">
          <table class="table table-centered table-nowrap table-hover" style="table-layout: auto">
            <thead class="thead-light">
              <tr>
                <th class="text-center br" scope="col" colspan="4">주문 정보</th>
                <th class="text-center br" scope="col" colspan="7"
                  >프로젝트 정보</th
                >
                <th class="text-center br" scope="col" colspan="2">작업공정</th>
                <th class="text-center" scope="col" colspan="3">기타</th>
              </tr>
              <tr>
                <th>주문날짜</th>
                <th>주문시간</th>            
                <th>접수자</th>                
                <th class="br">주문자명</th>
                <!-- <th >주문정보</th> -->
                <th>긴급</th>
                <th>프로젝트명</th>
                <th  style="word-break:break-all; width: 80px">수량</th>
                <th  style="word-break:break-all; width: 80px">접수<br>상태</th>
                <th  style="word-break:break-all; width: 80px">예상<br>시간</th>
                <th  >마감일</th>
                <th  class="br">납기일</th>
                <th style="word-break:break-all; width: 70px">작업자</th>
                <th  class="br">배송방법</th>              
                <th>작업시간</th>
                <th>에로사항</th>
                <th>삭제</th>
              </tr>
            </thead>
            <tbody>
              {% for project in project_list %}
              <tr data-receipt-id="{{project.receipt.id}}" data-project-id="{{project.id}}">
                <td class="date">{{project.receipt.receipt_date_time|split_day}}({{project.receipt.receipt_date_time|to_ko_day   }})</td>
                <td>{{project.receipt.receipt_date_time|split_time}}</td>            
                <td>{{project.receipt.receipt_employee_text}}</td>
                <td class="receipt_info br">{{project.receipt.client_company_name}}</td>
                <td 
                class="{% if project.receipt.is_urgent %}urgent{%else%}{% endif %} is_urgent"
                data-process-target="is_urgent">
                  {{project.is_urgent}}
                </td>              
                <td
                class="open_project_info" style="width:400px; word-break: break-all!important;
    word-spacing: normal!important;
    white-space: inherit!important;"                  
                  >{{ project.project_name }}</td
                >
                <td style="white-space: break-spaces; text-align: center;">{{ project.count|default:"00" }}</td>
                <td class="receipt {% if project.is_project_description_ready %} receipt_ready {% endif %}" style="text-align: center;">
                  {% if project.is_project_description_ready %}
                  접수완료
                  {% else %}
                  접수중
                  {% endif %}
                </td>
                <td style="text-align: center;">
                 {{project.expected_time|default:"미지정"}}
                </td>
                <td class="project_due_text  date" style="text-align: center;font-size: 14px;">{{ project.project_due_text }}({{project.project_due_text|to_ko_day}})</td>
                <td class="date br"> {{ project.due_text }}({{project.due_text|to_ko_day}}) </td>
                <td class="operator_info " style="text-align: center;">{{ project.operator_employee_text|default:"미지정" }}</td>
               
                <td class="br " style="text-align: center;">
                  <select class="form-coltrol delivery_type">
                    <option value="배송">배송</option>
                    <option value="방문수령">방문수령</option>
                    <option value="택배">택배</option>
                    <option value="화물">화물</option>
                    <option value="화물택배">화물택배</option>
                  </select>
                  <script>
                    $("select.delivery_type")
                      .last()
                      .val("{{project.receipt.delivery_type}}");
                  </script>
                </td>
              
                <td class="date"> {{ project.real_manufactured_time|default:""}} </td>
                <td class="date"> {{ project.fault_memo|default:""}} </td>
                
                
                <td class="project_info" style="cursor: pointer"
                  >
                  <span class="badge badge-danger delete_btn">삭제</span>
                  </td
                >
              </tr>
              {% endfor %}
            </tbody>
          </table>         
        </div>       
      </div>
    </div>

  </div>
</div>
{% include "shop_admin/common/components/modal/project_info.html" %}
{% include "shop_admin/common/components/modal/machine_info.html" %}
{% include "shop_admin/common/components/modal/operator_info.html" %}
{% include "shop_admin/common/components/modal/receipt_info.html" %}
{% include "shop_admin/common/components/modal/complete_memo.html" %}
<script src="/static/admin/js/libs/select2/js/select2.min.js"></script>
<script>
 
  $('.select2-multiple').select2();
  var popoverTriggerList = [].slice.call(
    document.querySelectorAll('[data-bs-toggle="popover"]')
  );
  var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
    return new bootstrap.Popover(popoverTriggerEl);
  });
 

  


  $(".open_project_info").on("click", function () {
    var id = $(this).closest("tr").attr("data-project-id");
    $.ajax({
      url: "/shop_admin/get_project",
      data: { id: id },
      success: function (res) {
        console.log(res);
        $("input[name='project_name']").val(res.result.project_name);
        $("select[name='project_type']").val(res.result.project_type);
        $("input[name='directory']").val(res.result.directory);
        try{
          $("input[name='project_due']").val(res.result.project_due  );
          $("input[name='due']").val(res.result.due  );
        }
        catch(e){
          console.log(e)
        }
        $("#project_detail input[name='id']").val(id);
        $("#summernote").summernote({"height":400})
        $("#summernote").summernote('code', res.result.description);
        $("select[name='process_type']").val(res.result.process_type);
        $("select[name='design']").val(res.result.design);
        $("input[name='count']").val(res.result.count);
        $("select[name='operator']").val(res.result.operator).change();
        $("input[name='memo']").val(res.result.memo);
        $("input[name='packaging_text']").val(res.result.packaging_text);
        $(".project_info_modal").modal("show");
      },
    });
   
  });
  $(".receipt_info").on("click", function(){
      var id = $(this).closest("tr").attr("data-receipt-id")

    $.ajax({
      url: "/shop_admin/ajax_order",
      data: { "id": id },
      dataType : 'json',
      success: function (res) {
        console.log(res);
        $("select[name='receipt']").val(res.receipt_employee).change();
        // $("input[name='receipt_type']").val(res.receipt_type);
        $('input:radio[name="receipt_type"]:input[value="' + res.receipt_type + '"]').attr("checked", true);

        try{
          $("input[name='receipt_date_time']").val(res.receipt_date_time.substring(0, 16));
        }
        catch(e){
          console.log(e)
        }
        $("input[name='receipt_id']").val(id);
        $("input[name='client_company_name']").val(res.client_company_name);
        $("input[name='client_person_name']").val(res.client_person_name);
        $("input[name='client_person_phone']").val(res.client_person_phone);
        // $("input[name='delivery_charge_type']").val(res.delivery_charge_type);
        $('input:radio[name="delivery_charge_type"]:input[value="' + res.delivery_charge_type + '"]').attr("checked", true);

        // $("input[name='is_urgent']").val(res.is_urgent);
        $('input:radio[name="is_urgent"]:input[value="' + res.is_urgent + '"]').attr("checked", true);

        // $("input[name='delivery_type']").val(res.delivery_type);
        $('input:radio[name="delivery_type"]:input[value="' + res.delivery_type + '"]').attr("checked", true);

        // $("input[name='local']").val(res.local);
        $('input:radio[name="local"]:input[value="' + res.local + '"]').attr("checked", true);

        $("input[name='sender_name']").val(res.sender_name);
        $("input[name='receipter_name']").val(res.receipter_name);
        try{
          $("input[name='due']").val(res.due.substring(0,16));
        }
        catch(e){
          console.log(e)
        }
        $("input[name='receipt_location']").val(res.receipt_location);
        $("input[name='receipt_comment']").val(res.receipt_comment);
        
        
        $(".receipt_info_modal").modal("show")
      },
    });
     
  })
  

  var full_screen = false
  $(".full_screen").on("click", function(){
    if(full_screen == false){
      full_screen = true
      $("#page-topbar").addClass("d-none")
      $(".vertical-menu").addClass("d-none")
      $(".main-content").addClass("ml-0")
      $(".page-content").addClass("pt-0")
    }else{
      full_screen = false
      $("#page-topbar").removeClass("d-none")
      $(".vertical-menu").removeClass("d-none")
      $(".main-content").removeClass("ml-0")
      $(".page-content").removeClass("pt-0")
    }
  })
  $(document).on("click", ".complete.activate", function(){
    console.log("dff")
    var id = $(this).closest("tr").attr("data-project-id")
    // 메모 작성후 완료로 수정
    $(".fault-memo-badge").find("input[name='data-project-id']").val(id)
    $("input[name='fault_memo']").val("")
    $(".complete_memo_modal").modal("show")
  })
  
  function getFormatDate(date){
      var year = date.getFullYear();
      var month = (1 + date.getMonth());
      month = month >= 10 ? month : '0' + month;
      var day = date.getDate();
      day = day >= 10 ? day : '0' + day;
      return year + '-' + month + '-' + day;
  }
  date = getFormatDate(new Date());
  function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
        return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }

  $("#per").on("change", function(){
    location.href = "/shop_admin/complete?per=" + $("#per").val() + "&page=1"+"&due="+$(this).attr("id")+"&search="+$("#search").val() + "&recent" + getParameterByName("recent")+"&start="+$("#start").val()+"&end="+$("#end").val()
  })
  $("td.date").each(function(){
     $(this).text( $(this).text().replace("2021","21") )
  })

  $("#search").keypress(function (e) {
        if (e.which == 13){
          location.href = "/shop_admin/complete?per" + $("#per").val() + "&page=1"+"&due="+$(".due_btn.badge-primary").attr("id")+"&search="+$("#search").val() + "&recent" + getParameterByName("recent")+"&start="+$("#start").val()+"&end="+$("#end").val()
        }
  }
  )
  $(".delete_btn").on("click", function(e){
    var ctx = this
    var id = $(this).closest("tr").attr("data-project-id")
    if(confirm("해당 프로젝트를 삭제하시겠습니까?")){
      $.ajax({
      url: "/shop_admin/delete_project",
      data: { "id": id },
      type:"POST",
      success:function(){
      
        $(ctx).closest("tr").remove()
        
      }
    })}
    e.preventDefault()
    return false;
  })
  function getFormatDate(date){
    console.log(date)
    var year = date.getFullYear();              //yyyy
    var month = (1 + date.getMonth());          //M
    month = month >= 10 ? month : '0' + month;  //month 두자리로 저장
    var day = date.getDate();                   //d
    day = day >= 10 ? day : '0' + day;          //day 두자리로 저장
    return  year + '-' + month + '-' + day;       //'-' 추가하여 yyyy-mm-dd 형태 생성 가능
  }
  $(".recent").on("click", function(){
    var now = new Date();
    var duration = parseInt($(this).attr("data-date"))
    var current = getFormatDate(now);  
    var end = new Date(now.setDate(now.getDate() - duration))
    var to = getFormatDate(end)
    $("#start").val(current)
    $("#end").val(to)    
    location.href = "/shop_admin/complete?per=" + $("#per").val() + "&page=1"+"&due=per"+"&search="+$("#search").val() + "&recent=" +duration+"&start="+current+"&end="+to
  })
  $("#duration_search").on("click", function(){
    location.href = "/shop_admin/complete?per=" + $("#per").val() + "&page=1"+"&due=per"+"&search="+$("#search").val() + "&recent=" +"&start="+$("#start").val()+"&end="+$("#end").val()
  })

</script>

<style>
  .dashboad_header .card-body {
    height: 120px;
  }
  .process {
    display: inline-block;
    vertical-align: middle;
    border-radius: 15px;
    color:#fff;
    padding: 2px 3px;
    font-size: 10px;
  }
  .is_urgent {
    cursor: pointer;
  }
  .is_urgent::before {
    cursor: pointer;
    content: "일반";
    font-size: 11px;
    padding: 2px 2px;
    background-color: #ddd;
    color: #666;
    border-radius: 3px;    
    width: 32px;
    display: block;
    text-align: center;
  }
  .urgent::before {
    content: "긴급"!important;
    font-size: 11px;
    padding: 2px 2px;
    background-color: #dc3545!important;
    color: #fff;
    border-radius: 3px;    
    width: 32px;
    display: block;
    text-align: center;
  }
  @keyframes blink {
    0% {
      opacity: 1;
      background-color: green;
    }
    50% {
      opacity: 1;
      background-color: blue;
    }
    100% {
      opacity: 1;
      background-color: green;
    }
  }
  td {
    line-height: 20px;
  }
  .ready {
    animation: blink 1s linear infinite;
    }
  .ready::before{
    content: "준비";
  }
  .action {
    border: 1px solid green;
    background-color: green !important;   
  }
  .action::before{
    content: "진행";
  }
  .waiting {  
    background-color: #fff !important;
    border: 1px solid #aaa;
  }
  .waiting::before{
    content: "대기";
    color: black!important;
  }
  .success {
    border: 1px solid grey;
    background-color: grey !important;
  }
  .success::before{
    content: "완료";
  }
  .unselected {
    font-weight: bold;
    color: #dc3545;
    cursor: pointer;
  }
  .filter .badge {
    font-size: 14px;
  }
  .badge {
    cursor: pointer;
  }
  .select2-search.select2-search--inline{
      width: 0px!important;
  }
  .select2.select2-container.select2-container--default.select2-container--below{
      width: 200px!important;
  }
  .processing_machine{
      cursor: pointer;
  }
  .delete_btn{
    visibility: hidden;
    font-size: 12px;
  }
  .project_info:hover .delete_btn{
    visibility: initial;
  }
  .receipt_info{
    cursor: pointer;
  }
  .complete{
    padding: 2px 3px;
  }
  .activate{
    background-color: blue;
    color: #fff;;
    cursor: pointer;
  }
  th{
      text-align: center;
  }
  .project_due_text{
      font-size: 16px ;
      /* font-weight: bold; */
      color:blue;
  }
  .br{
      border-right: 1px solid #ddd;;
  }
  .table td, .table th {
    padding: 8px 4px;
  }
  .open_project_info{
    cursor: pointer;
  }
  .receipt{
    color:red;
    cursor: pointer;
  }
  .receipt.receipt_ready{
    color: #666!important;
  }
</style>
<script></script>
{% endblock %}
