{% extends "shop_admin/base.html" %}

{% block content %}
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">개별 제작 문의 관리</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Ecommerce</a></li>
                    <li class="breadcrumb-item active">Orders</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-sm-4">
                        <div class="search-box mr-2 mb-2 d-inline-block">
                            <div class="position-relative">
                                <input type="text" class="form-control" placeholder="Search...">
                                <i class="bx bx-search-alt search-icon"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-centered table-nowrap">
                        <thead class="thead-light">
                            <tr>
                                <th style="width: 60%">제목</th>
                                <th>작성자</th>
                                <th>이메일</th>
                                <th>작성일</th>
                                <th>처리상태</th>
                                <th>답변일</th>
                                    <th>블라인드 여부</th>
                            </tr>
                        </thead>
                        <tbody>
                        <script>
                            function do_blind(status,id){
                                $.ajax({
                                    url:"/custom/blind/"+id,
                                    type:"post",
                                    data: {
                                        status:status
                                    },
                                    success:function (res){
                                        alert("수정되었습니다.")
                                        location.reload()
                                    }
                                }
                                )
                            }
                        </script>
                            {% for item in custom_inquiry_list %}
                            <tr data-id="{{item.id}}">
                                <td class="text-body font-weight-bold" > 
                                    <span class="title">{{item.title}}</span>
                                </td>
                                <td>{% if item.writer %} {{item.writer.nickname}} {% else %} <span style="color:red">[비회원]{{ item.name }}</span> {% endif %}</td>
                                <td>{% if item.writer %} {{item.writer.username}} {% else %} <span style="color:red">{{ item.email }}</span> {% endif %}</td>
                                <td>{{item.created_at}}</td>
                                <td>{{item.get_status_display}}</td>
                                <td>{{item.answered_at}}</td>
                                <td>{% if item.is_blind %}<span onclick="do_blind(false,{{ item.id }})" style="color:red">블라인드</span>{% else %}<span onclick="do_blind(true,{{ item.id }})">노출</span>{%  endif %}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <ul class="pagination pagination-rounded justify-content-end mb-2">
                    <li class="page-item disabled">
                        <a class="page-link" href="javascript: void(0);" aria-label="Previous">
                            <i class="mdi mdi-chevron-left"></i>
                        </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="javascript: void(0);">1</a></li>
                    <li class="page-item"><a class="page-link" href="javascript: void(0);">2</a></li>
                    <li class="page-item"><a class="page-link" href="javascript: void(0);">3</a></li>
                    <li class="page-item"><a class="page-link" href="javascript: void(0);">4</a></li>
                    <li class="page-item"><a class="page-link" href="javascript: void(0);">5</a></li>
                    <li class="page-item">
                        <a class="page-link" href="javascript: void(0);" aria-label="Next">
                            <i class="mdi mdi-chevron-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- end row -->
</div> <!-- container-fluid -->
</div>
<!-- End Page-content -->


<div class="modal fade bs-write-modal-xl write_modal" tabindex="-1" role="dialog" 
aria-labelledby="read_notice" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">     
                제작 문의 관리  
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="write_notice_content">
                <input type="hidden" id="inquiry_id">
                <div id="inquiry_title"></div>
                <div id="inquiry_info" style="margin-bottom: 20px;"></div>
                <div id="inqury_content"></div>
                <div id="attached_file_list"></div>
                <div id="reply_container"></div>
                <div id="summernote"></div>
                <input class="form-control" type="file" id="attached_file_0" name="attached_file_0" >
                <input class="form-control" type="file" id="attached_file_1" name="attached_file_1" >
                <input class="form-control" type="file" id="attached_file_2" name="attached_file_2" >
                <div class="d-flex justify-content-end">
                    <select id="inquiry_status" class="form-control" style="width: 200px;" >
                        <option value="pending">처리중</option>
                        <option value="complete">처리완료</option>
                    </select>
                    <button class="btn btn-primary add_answer_item">답변 등록</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    $(".title").on("click", function(){       
        $.ajax({
            url:"/shop_admin/ajax_custom_inquiry/"+$(this).closest("tr").attr("data-id"),
            success:function(res){
                $("#inquiry_title").html("<b style='font-size: 20px; line-height: 40px;'>"+res.ci[0].title+"</b>")
                $("#inqury_content").html(res.ci[0].content)
                $("#summernote").summernote({"height":500})
                $("#inquiry_info").html(
                    "작성자:"+res.ci[0].name+" | 이메일:"+res.ci[0].email+" | 작성일:"+res.ci[0].created_at
                )
                $("#attached_file_list").empty()
                var file_template = ""
                if( res.ci[0].am_url_0 ){
                    file_template += '<div><a target="_blank" href="'+res.ci[0].am_url_0+'" download="">첨부파일 1</a><div>'
                }
                if( res.ci[0].am_url_1 ){
                    file_template += '<div><a target="_blank" href="'+res.ci[0].am_url_1+'" download="">첨부파일 2</a><div>'
                }
                if( res.ci[0].am_url_2 ){
                    file_template += '<div><a target="_blank" href="'+res.ci[0].am_url_2+'" download="">첨부파일 3</a><div>'
                }
                $("#attached_file_list").append(file_template)
                for(var k =0 ; k<res.reply.length; k++){
                    var template = '<div class="inquiry_info" style="margin-bottom: 20px;">'+ "작성자:"+res.reply[k].name+" | 작성일:"+res.reply[k].created_at+'</div>'+
                    '<div class="inqury_content">'+ res.reply[k].content +'</div>'
                    if( res.reply[k].am_url_0 ){
                        template += '<div><a target="_blank" href="'+res.reply[k].am_url_0+'" download="'+res.reply[k].attached_file_0+'">첨부파일 1</a><div>'
                    }
                    if( res.reply[k].am_url_1 ){
                        template += '<div><a target="_blank" href="'+res.reply[k].am_url_1+'" download="'+res.reply[k].attached_file_1+'">첨부파일 2</a><div>'
                    }
                    if( res.reply[k].am_url_2 ){
                        template += '<div><a target="_blank" href="'+res.reply[k].am_url_2+'" download="'+res.reply[k].attached_file_2+'">첨부파일 3</a><div>'
                    }
                    $("#reply_container").append(template)
                }

                

                $(".write_modal").modal("show")
                $("#inquiry_id").val(res.ci[0].id)
            }
        })
    })
    $(document).on("click",".add_answer_item", function(){
        var formData = new FormData();
        formData.append("inquiry_id", $("#inquiry_id").val());
        formData.append("name", "관리자");
        formData.append("content", $("#summernote").summernote('code'));
        formData.append("attached_file_0",  $("#attached_file_0")[0].files[0]);
        formData.append("attached_file_1",  $("#attached_file_1")[0].files[0]);        
        formData.append("attached_file_2",  $("#attached_file_2")[0].files[0]); 
        formData.append("status",  $("#inquiry_status").val()); 
        
        
        $.ajax({
            url:"/shop_admin/ajax_custom_inquiry_answer/"+$("#inquiry_id").val(),
            type:"post",
            enctype: 'multipart/form-data',  
            processData: false, 
            contentType: false,
            data:formData,
            success:function(res){
                location.reload()
            }
        })
    })
</script>
<style>
    .title{
        cursor: pointer;
    }
    .modify_btn{
        display: none;
        cursor: pointer;
    }
    tr:hover .modify_btn{
        display: inline-block;
    }
    .delete_btn{
        display: none;
        cursor: pointer;
    }
    tr:hover .delete_btn{
        display: inline-block;
    }
    #reply_container .inquiry_info{
        margin-top:10px;
        padding-top: 10px;
        border-top: 1px solid #ddd;
    }
    #attached_file_list{
        margin-bottom: 50px;
    }
        
    #attached_file_list a{
        padding: 10px 0px;;
       
    }
</style>
{% endblock %}