{% extends "shop_admin/base.html" %}

{% block content %}
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">개인결제 관리</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Ecommerce</a></li>
                    <li class="breadcrumb-item active">Orders</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-sm-4">
                        <div class="search-box mr-2 mb-2 d-inline-block">
                            <div class="position-relative">
                                <input type="text" class="form-control" placeholder="Search...">
                                <i class="bx bx-search-alt search-icon"></i>
                            </div>
                      
                        </div>
                    </div>
           
                </div>

                <div class="table-responsive">
                    <table class="table table-centered table-nowrap">
                        <thead class="thead-light">
                            <tr>
                                <th style="width: 20px;">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                                        <label class="custom-control-label" for="customCheck1">&nbsp;</label>
                                    </div>
                                </th>
                                <th>유저 이름</th>
                                <th style="width: 60%">개인 결제 제목</th>
                                <th>결제금액</th>
                                <th>결제상태</th>                                
                                <th>작성일</th>                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in custom_purchase_list %}
                            <tr data-id="{{item.id}}">
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck2">
                                        <label class="custom-control-label" for="customCheck2">&nbsp;</label>
                                    </div>
                                </td>
                                <td class="text-body font-weight-bold user" > 
                                    {{item.user.username}}
                                </td>
                                <td > 
                                    {{item.title}}
                                </td>
                                <td class="text-body font-weight-bold" > 
                                    {{item.total}}
                                </td>
                                
                                <td class="order_status">{{item.get_purchase_status_display|default:"결제대기중"}}</td>
                                
                                <td>{{item.created_at}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <ul class="pagination pagination-rounded justify-content-end mb-2">
                    {% for item in total_page %}
                    <li class="page-item {% if item == page%}active{%endif%}"><a class="page-link" href="/shop_admin/custom_purchase?page={{item}}">{{item}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- end row -->
</div> <!-- container-fluid -->
</div>
<!-- End Page-content -->

<!--  Modal content for the above example -->
<div class="modal fade bs-read-modal-xl read_modal" tabindex="-1" role="dialog"
aria-labelledby="read_notice" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="read_custom_purchase_title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="read_custom_purchase_content">
                <table class="table">
                    <tr>
                        <th >공급가액</th>
                        <th >부가세</th>
                        <th >합계</th>
                    </tr>
                    <tr>
                        <th class="price"></th>
                        <th class="vat"></th>
                        <th class="total"></th>
                    </tr>
                </table>
                <div class="content"></div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade bs-write-modal-xl write_modal"  role="dialog" 
aria-labelledby="read_notice" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">           
                <input placeholder="개인결제 제목을 입력해주세요." type="text" id="add_custom_purchase_title" class=" form-control modal-title mt-0">   
                <select id="user_id" class="form-control modal-title mt-0 select2" style="width: 500px;">   
                    <option></option>             
                    {% for item in user_list %}
                    <option data-id="{{item.id}}" value="{{item.username}}({{item.email}})">{{item.username}}({{item.email}})</option>
                    {% endfor %}
                </select>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="write_custom_purchase_content">
                <table class="table">
                <tr>
                    <th >공급가액</th>
                    <th >부가세</th>
                    <th >합계</th>
                </tr>
                <tr>
                    <th class="price">
                        <input type="number" class="form-control">
                    </th>
                    <th class="vat">
                        <input type="number" class="form-control">
                    </th>
                    <th class="total">
                        <input type="number" class="form-control">
                    </th>
                </tr>
            </table>
                <div id="summernote"></div>
                <button class="btn btn-primary add_custom_purchase_item">등록/수정 하기</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" id="order_status_modal" tabindex="-1" role="dialog" aria-labelledby="order_status_modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">개인결제 상태 변경</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <input type="hidden" id="purchase" >
          <span data-status="before-purchase" class="badge badge-secondary">결제 대기중</span>
          <span data-status="purchased" class="badge badge-secondary ">결제완료</span>
          <span data-status="creating" class="badge badge-secondary ">제작중</span>
          <span data-status="delievering" class="badge badge-secondary ">배송중</span>
          <span data-status="complete" class="badge badge-secondary ">배송완료</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-submit">변경내역 저장</button>
        </div>
      </div>
    </div>
  </div>
<script>


  $(".user").on("click", function(){
      $.ajax({
          url:`/shop_admin/custom_purchase_detail/${$(this).closest("tr").attr("data-id")}`,
          success:function(res){
            $("#read_custom_purchase_title").text(res.title)
            $("#read_custom_purchase_content .price").text(res.price)
            $("#read_custom_purchase_content .total").text(res.total)
            $("#read_custom_purchase_content .vat").text(res.vat)
            $(".content").html(res.content)
            $(".read_modal").modal("show")
          }
      })
  })
  $(".add_custom_purchase").on("click", function(){
        $(".write_modal").modal("show")        
        $('#summernote').summernote({height: 400});
        $(".write_modal").removeClass("modifying")
        $('.select2').select2({ placeholder: "개인결제 유저를 선택해주세요",allowClear: true});
  })
  $(".add_custom_purchase_item").on("click", function(){
    var type;
    if($(".write_modal").hasClass("modifying")){ type = "PUT"}else{type="POST"}
    $.ajax({
        url:"/shop_admin/custom_purchase_detail/0",
        type:type,
        data:{
            title:$("#add_custom_purchase_title").val(),
            content: $('#summernote').summernote('code'),
            user:$("#user_id").find("option:selected").attr("data-id"),
            id:$(".write_modal").attr("data-id"),
            price:$(".price").find("input").val(),
            vat:$(".vat").find("input").val(),
            total:$(".total").find("input").val(),
            state:"before-purchase"
        },
        success:function(res){
            console.log(res)
            location.reload()
        }
    })
  })
  $(".order_status").on("click", function(){
            $("#order_status_modal").modal("show")
            $("#purchase").val( $(this).closest("tr").attr("data-id") )
        })
  $(document).on("click",".badge", function(){
            $(".badge").removeClass("badge-primary")
            $(".badge").addClass("badge-secondary")
            $(this).removeClass("badge-secondary")
            $(this).addClass("badge-primary")
        })
  $(".btn-submit").on("click", function(){
            $.ajax({
                url:"/shop_admin/custom_purchase_detail/0",
                type:"PUT",
                data:{
                    id:$("#purchase").val(),
                    purchase_status : $(".badge-primary").attr("data-status") 
                },
                success:function(res){
                    alert("변경되었습니다.")
                    location.reload()
                }
            })
        })
</script>
<style>
    .modal .badge{
        font-size: 16px;
        cursor: pointer;
    }
    .title{
        cursor: pointer;
    }
    .title{
        cursor: pointer;
    }
    .modify_btn{
        display: none;
        cursor: pointer;
    }
    tr:hover .modify_btn{
        display: inline-block;
    }
    .delete_btn{
        display: none;
        cursor: pointer;
    }
    tr:hover .delete_btn{
        display: inline-block;
    }
    .select2-container .select2-selection--single{
        height: 37px!important;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered{
        line-height: 35px!important;
    }
</style>
{% endblock %}