{% extends "shop_admin/base.html" %}

{% block content %}
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">개인결제 관리</h4>

        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
             <div class="row mb-2">
                    <div class="col-12">
                        <table style="width: 100%;">
                            <tr>
                                <th style="width: 150px;">기간</th>
                                <td  style="width: calc(100%-150px);vertical-align: center; display: flex; align-items: center;">
                                    <div class="d-inline-block">
                                        <span style="line-height: 30px;font-size: 13px;cursor: pointer;" data-selected="ALL" data-month="ALL" class="date badge badge-light {% if selected == "5" %}badge-primary{%endif%}">전체보기</span>
                                        <span style="line-height: 30px;font-size: 13px;cursor: pointer;" data-selected="TODAY" data-month="TODAY" class="date badge badge-light {% if selected == "2" %}badge-primary{%endif%}">오늘</span>
                                        <span style="line-height: 30px;font-size: 13px;cursor: pointer;" data-selected="-7" data-month="-7" class="date badge badge-light {% if selected == "3" %}badge-primary{%endif%}">지난 7일</span>
                                        <span style="line-height: 30px;font-size: 13px;cursor: pointer;" data-selected="-30" data-month="-30" class="date badge badge-primary {% if selected == "4" %}badge-primary{%endif%}">지난 30일</span>

                                      </div>
                                      <div
                                      class=""
                                      style="display: flex; align-items: center; margin-left: 20px;"
                                    >
                                      <input
                                        type="text"
                                        id="datePicker"
                                        style="width: 125px"
                                        class="form-control"
                                        value="2021-01-01"
                                      />&nbsp;~&nbsp;
                                      <input
                                        type="text"
                                        id="datePicker2"
                                        style="width: 125px"
                                        class="form-control"
                                        value=""
                                      />
                                    </div>
                              </td>
                              </tr>
                              <tr>
                                  <th style="width: 150px;">진행 상태</th>
                                  <td  style="vertical-align: center;">

                                      <div style="display: inline-block; margin-top:10px">
                                          <input name="category" id="cer_0" type="radio">
                                          <label for="cer_0">전체</label>
                                      </div>
                                      <div style="display: inline-block; margin-top:10px">
                                        <input name="category" id="cer_1" type="radio" value="purchased">
                                        <label for="cer_1">결제대기</label>
                                    </div>
                                    <div style="display: inline-block; margin-top:10px">
                                        <input name="category" id="cer_2" type="radio" value="creating">
                                        <label for="cer_2">결제완료</label>
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                    <th style="width: 150px;">상세 조건</th>
                                    <td  style="width: calc(100%-150px);vertical-align: center;">
                                      <input type="text" id="searchKeyword" class="form-control" style="width: 250px; display: inline-block;">&nbsp;&nbsp; *이름/아이디
                                  </td>
                                  </tr>
                        </table>

                        <div class="col-12 " style="display: flex;justify-content: center;">
                          <button class="btn btn-danger"  onclick="location.href='/shop_admin/custom_purchase'" >검색 초기화</button>
                          <button class="btn btn-primary ml-2 search">검색</button>
                        </div>
                    </div>
                     <div class="col-12 " style="display:flex; justify-content: end;">
                        <button class="btn btn-primary add_custom_purchase">
                            개인 결제 추가
                        </button>
                     </div> 
                </div>
                <div class="table-responsive">
                    <table class="table table-centered table-nowrap">
                        <thead class="thead-light">
                            <tr>
                                <th style="width: 20px;">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                                        <label class="custom-control-label" for="customCheck1">&nbsp;</label>
                                    </div>
                                </th>
                                <th>상품번호</th>
                                <th>회원아이디/이름/전화번호</th>
                                <th>개인결제 제품</th>
                                <th>수량</th>
                                <th>공급가액</th>
                                <th>상품등록일</th>
                                <th>상태</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for item in custom_purchase_list %}
                            <tr data-id="{{item.id}}">
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck2">
                                        <label class="custom-control-label" for="customCheck2">&nbsp;</label>
                                    </div>
                                </td>
                                <td class="text-body font-weight-bold " > 
                                    {{item.id}}                                 
                                </td>
                                <td class="text-body font-weight-bold user" > 
                                    {{item.user.username}}<br>
                                    {{ item.user.nickname }}/{{ item.user.phone }}
                                </td>
                                <td class="custom_title"> 
                                    {{item.product.private_product_name}}
                                </td>
                                <td class="text-body font-weight-bold" > 
                                    {{item.product.private_product_count}}
                                </td>
                                <td class="text-body font-weight-bold" > 
                                    {{item.product.total_price}}
                                </td>
                                <td class="text-body font-weight-bold" > 
                                    {{item.created_at}}
                                </td>
                                <td class="order_status">{{item.get_purchase_status_display|default:"결제대기중"}}</td>                               
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <ul class="pagination pagination-rounded justify-content-end mb-2">
                    {% for item in total_page %}
                    <li class="page-item {% if item == page%}active{%endif%}"><a class="page-link" href="/shop_admin/custom_purchase?page={{item}}">{{item}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- end row -->
</div> <!-- container-fluid -->
</div>
<!-- End Page-content -->

<!--  Modal content for the above example -->
<div class="modal fade bs-read-modal-xl read_modal" tabindex="-1" role="dialog"
aria-labelledby="read_notice" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="read_custom_purchase_title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="read_custom_purchase_content">
                <table class="table">
                    <tr>
                        <th >공급가액</th>
                        <th >부가세</th>
                        <th >배송비</th>
                        <th >합계</th>
                    </tr>
                    <tr>
                        <th class="price"></th>
                        <th class="vat"></th>
                        <th class="delivery_cost"></th>
                       
                        <th class="total"></th>
                    </tr>
                </table>
                <div class="content"></div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade  write_modal"  role="dialog" 
aria-labelledby="read_notice" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">           
                개인 결제 추가
                
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="write_custom_purchase_content">
                <div class="row">
                    <div class="col-3" style="display: flex; align-items:center">
                        회원 검색
                    </div>
                    <div class="col-9">
                        <select id="user_id" class="form-control modal-title mt-0 select2" style="width: 100%;">   
                            <option></option>             
                            {% for item in user_list %}
                            <option data-id="{{item.id}}" value="{{item.id}}">{{item.username}}({{item.nickname}})</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-3" style="display: flex; align-items:center">제품명</div>
                    <div class="col-9">
                        <input type="text" name="original_product_name" class="form-control" >
                    </div>
                    <div class="col-3" style="display: flex; align-items:center">디자인[파일]</div>
                    <div class="col-9">
                        <input type="file" name="original_product_design" class="form-control" >
                    </div>
                    <div class="col-3" style="display: flex; align-items:center">옵션</div>
                    <div class="col-9">
                        <input type="text" name="product_inner_option" class="form-control" >
                    </div>
                    <div class="col-3" style="display: flex; align-items:center">부속상품</div>
                    <div class="col-9">
                        <input type="text" name="additional_product_inner" class="form-control" >
                    </div>
                    <div class="col-3" style="display: flex; align-items:center">요청사항</div>
                    <div class="col-9">
                        <input type="text" name="comment" class="form-control" >
                    </div>
                    <div class="col-3" style="display: flex; align-items:center">수량</div>
                    <div class="col-9">
                        <input type="text" name="count" class="form-control" >
                    </div>
                    <div class="col-3" style="display: flex; align-items:center">공급가액</div>
                    <div class="col-9">
                        <input type="text" name="total_price" class="form-control" >
                    </div>
                    <!-- <div class="col-3" style="display: flex; align-items:center">배송비</div>
                    <div class="col-9">
                        <input type="text" name="delivery_cost" class="form-control" >
                    </div> -->
                </div>
                <div class="row">
                    <div class="col-12" style="display: flex; align-items:center; justify-content: end;">
                        <button class="btn btn-primary add_custom_purchase_item">등록/수정 하기</button>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal -->
<div class="modal fade" id="order_status_modal" tabindex="-1" role="dialog" aria-labelledby="order_status_modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">개인결제 상태 변경</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <input type="hidden" id="purchase" >
          <span data-status="before-purchase" class="badge badge-secondary">결제 대기중</span>
          <span data-status="purchased" class="badge badge-secondary ">결제완료</span>
          <span data-status="creating" class="badge badge-secondary ">제작중</span>
          <span data-status="delievering" class="badge badge-secondary ">배송중</span>
          <span data-status="complete" class="badge badge-secondary ">배송완료</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-submit">변경내역 저장</button>
        </div>
      </div>
    </div>
  </div>
<script>
$('.select2').select2({ placeholder: "개인결제 유저를 선택해주세요",allowClear: true});

  $(".user,.custom_title").on("click", function(){
      $.ajax({
          url:`/shop_admin/custom_purchase_detail/${$(this).closest("tr").attr("data-id")}`,
          success:function(res){
            $("#add_custom_purchase_title").val(res.title)
            $(".write_modal .price input").val(res.price)
            $(".write_modal .total input").val(res.total)
            $(".write_modal .delivery_cost input").val(res.delivery_cost)
            $(".write_modal .vat input").val(res.vat)
            $('#summernote').summernote({height: 400});
            $('#summernote').summernote('code', res.content);            
            $('.select2').select2({ placeholder: "개인결제 유저를 선택해주세요",allowClear: true});
            $("#user_id").select2().val([res.user]).trigger('change');
            $(".write_modal").modal("show")
            $(".write_modal").attr("data-id",res.id)
            $(".write_modal").addClass("modifying")
          }
      })
  })
  $(".write_modal .price input, .write_modal .delivery_cost input").on("keyup", function(){
      var supply = parseInt( $(".write_modal .price input").val() ) * 1.1
      var delivery = parseInt( $(".write_modal .delivery_cost input").val() )
      $(".write_modal .vat input").val(  parseInt( $(".write_modal .price input").val() ) * 0.1    )
      $(".write_modal .total input").val( parseInt(supply) + delivery )
  })
  $(".add_custom_purchase").on("click", function(){
        $(".write_modal").modal("show")        
        $('#summernote').summernote({height: 400});
        $(".write_modal").removeClass("modifying")
        $('.select2').select2({ placeholder: "개인결제 유저를 선택해주세요",allowClear: true});
  })
  $(".add_custom_purchase_item").on("click", function(){
    var type;
    if($(".write_modal").hasClass("modifying")){ type = "PUT"}else{type="POST"}
    var priv_data = {
            "vat": "",
            "json": {},
            "comment": $("input[name='comment']").val(),
            "total_price": $("input[name='total_price']").val(),
            "original_product_id": "",
            "private_product_name": $("input[name='original_product_name']").val(),
            "private_product_count": $("input[name='count']").val(),            
            "private_product_option":  $("input[name='product_inner_option']").val(),
            "private_additional_product": $("input[name='additional_product_inner']").val(),
            "private_design_file_id": "",
            "original_product_price": 0,
            "is_private": "true",
            "user":$("#user_id").find("option:selected").attr("data-id"),
        }

    $.ajax({
        url:"/shop_admin/custom_purchase_detail",
        type:type,
        headers: {'Content-Type': 'application/json'},
        data:JSON.stringify(priv_data),
        success:function(res){
            console.log(res)
           location.reload()
        }
    })
  })
  $(".delete").on("click", function(){
        if( confirm("해당 개인결제를 삭제하시겠습니까?") ){
           
            $.ajax({
                url:"/shop_admin/custom_purchase_detail/0",
                type:"DELETE",
                data:{                   
                    id: $(this).closest("tr").attr("data-id"),                 
                },
                success:function(res){
                    alert("삭제되었습니다.")
                    location.reload()
                }
            })
        }
  })
  $(".order_status").on("click", function(){
            $("#order_status_modal").modal("show")
            $("#purchase").val( $(this).closest("tr").attr("data-id") )
        })
  $(document).on("click",".badge", function(){
            $(".badge").removeClass("badge-primary")
            $(".badge").addClass("badge-secondary")
            $(this).removeClass("badge-secondary")
            $(this).addClass("badge-primary")
        })
  $(".btn-submit").on("click", function(){
            $.ajax({
                url:"/shop_admin/custom_purchase_detail/0",
                type:"PUT",
                data:{
                    id:$("#purchase").val(),
                    purchase_status : $(".badge-primary").attr("data-status") 
                },
                success:function(res){
                    alert("변경되었습니다.")
                    location.reload()
                }
            })
        })
</script>
<style>
    .badge{
        font-size: 16px;
        cursor: pointer;
    }
    .title{
        cursor: pointer;
    }
    .modify_btn{
        display: none;
        cursor: pointer;
    }
    tr:hover .modify_btn{
        display: inline-block;
    }
    .delete_btn{
        display: none;
        cursor: pointer;
    }
    tr:hover .delete_btn{
        display: inline-block;
    }
    .select2-container .select2-selection--single{
        height: 37px!important;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered{
        line-height: 35px!important;
    }
    .custom_title{
        cursor: pointer;
    }
    .delete{
        cursor: pointer;
    }
</style>
{% endblock %}