{% extends "shop_admin/base.html" %} 
{% block content %} 
{% include "shop_admin/components/add_product_js.html" %}
{% load index_filter %}
<!-- Development version -->
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
<script>
  (function($) {
    $.fn.hasScrollBar = function() {
      return this[0] ? this[0].scrollHeight > this.innerHeight() : false;
    }
  })(jQuery);
</script>
<!-- Production version -->
<script src="https://unpkg.com/@popperjs/core@2"></script>
<div class="row">
  <div class="col-12">
    <div
      class="page-title-box d-flex align-items-center justify-content-between"
    >
      <h4 class="mb-0 font-size-18">작업 관리</h4>
      <div>
        <button  class="btn btn-success"  onclick="location.href='/shop_admin/complete'">완료목록</button>
        <button  class="btn btn-success" onclick="location.href='/shop_admin/add_order'" >작업지시서 등록</button>
        <button  class="btn btn-primary full_screen">전체화면</button>
      </div>
    </div>
  </div>
</div>
<div class="row dashboad_header">
  <div class="col-md-2 align-self-stretch">
    <div class="card mini-stats-wid work">
      <div class="card-body d-flex row">
        <div class="media col-3">
          <div class="media-body">
            <p class="text-muted font-weight-medium">잔여 작업</p>
            <h4 class="mb-0">{{all_project_list_count}}</h4>
          </div>
        </div>
        <div class="media col-3">
          <div class="media-body">
            <p class="text-muted font-weight-medium">지연</p>
            <h4 class="mb-0">{{filtering_delayed_project}}</h4>
          </div>
        </div>
        <div class="media col-3">
          <div class="media-body">
            <p class="text-muted font-weight-medium">오늘 마감</p>
            <h4 class="mb-0">{{filter_due_today}}</h4>
          </div>
        </div>
        <div class="media col-3">
          <div class="media-body">
            <p class="text-muted font-weight-medium">내일 마감</p>
            <h4 class="mb-0">{{ filter_due_tomorrow}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 align-self-stretch">
    <div class="card mini-stats-wid">
      <div class="card-body">
        <div class="media">
          <div class="media-body">
            <p class="text-muted font-weight-medium">작업중 및 작업 대기</p>
            <h5 class="mb-0" id="working_list"
              >              
              {% if project_type_list.0  %}실사출력({{project_type_list.0}}) , {% endif %}
              {% if project_type_list.1  %}사인물({{project_type_list.1}}), {% endif %}
              {% if project_type_list.2  %}후레임간판({{project_type_list.2}}), {% endif %}
              {% if project_type_list.3  %}채널간판({{project_type_list.3}}), {% endif %}
              {% if project_type_list.4  %}지주간판({{project_type_list.4}}),{% endif %}
              {% if project_type_list.5  %}포인트간판({{project_type_list.5}}),{% endif %}
              {% if project_type_list.6  %}어닝({{project_type_list.6}}),{% endif %}
              {% if project_type_list.7  %}광고자재({{project_type_list.7}}),{% endif %}
              {% if project_type_list.8  %}기타({{project_type_list.8}}),{% endif %}
              </h5
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card mini-stats-wid">
      <div class="card-body">
        <div class="media">
          <div class="media-body">
            <p class="text-muted font-weight-medium">주문자명</p>
            <h5 class="mb-0"
              >{{orderer_list}}</h5
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card mini-stats-wid">
      <div class="card-body">
        <div class="media">
          <div class="media-body">
            <p class="text-muted font-weight-medium">장비 상태</p>
            <span>가동중 : </span><span id="working_machine"></span><br />
            <span>대기중 : </span><span id="waiting_machine"></span><br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- start page title -->

<!-- end page title -->

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="row mb-2">
          <div class="col-sm-4">
            <div class="search-box mr-2 mb-2 d-inline-block">
              <div class="position-relative">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Search..."
                  id="search"
                  value="{{search}}"
                />
                <i class="bx bx-search-alt search-icon"></i>
              </div>
            </div>
          </div>
          <div class="col-sm-8 filter">
            <div class="row justify-content-end">
              <div class="col-3 justify-content-end" style="text-align: end">
                <span id="total" class="due_btn badge {% if due == "total" %} badge-primary {%else%}  bg-light text-dark {%endif%}">전체</span>
                <span id="today" class="due_btn badge {% if due == "today" %} badge-primary {%else%}  bg-light text-dark {%endif%}">오늘마감</span>
                <span id="tomorrow" class="due_btn badge {% if due == "tomorrow" %} badge-primary {%else%}  bg-light text-dark {%endif%}">내일마감</span>
              </div>
              <div class="col-2">
              <select id="per" style="margin-left: 20px">
                  <option value="20" {% if per == 20 %}selected {% endif %}>20개씩 보기</option>
                  <option value="50" {% if per == 50 %}selected {% endif %}>50개씩 보기</option>
                  <option value="100" {% if per == 100 %}selected {% endif %}>100개씩 보기</option>
                </select>
              </div>
            </div> </div
          ><!-- end col-->
        </div>
        <div class="table-responsive">
          <table class="table table-centered table-nowrap table-hover" style="table-layout: auto">
            <thead class="thead-light">
              <tr>
                <th class="text-center br" scope="col" colspan="5">주문 정보</th>
                <th class="text-center br" scope="col" colspan="5"
                  >프로젝트 정보</th
                >
                <th class="text-center br" scope="col" colspan="7">작업공정</th>
                <th class="text-center" scope="col" colspan="3">기타</th>
              </tr>
              <tr>
                <th>주문날짜</th>
                <th>주문시간</th>
                <th>묶음</th>
                <th>접수자</th>
                
                <th class="br">주문자명</th>
                <!-- <th >주문정보</th> -->
                <th>긴급</th>
                <th>프로젝트명</th>
                <th  style="word-break:break-all; width: 80px">수량</th>              
                <th  style="word-break:break-all; width: 80px">예상<br>시간</th>
                <th  class="br">마감일</th>
                <th style="word-break:break-all; width: 70px">작업자</th>
                <th style="word-break:break-all; width: 70px">가동장비</th>
                <th style="word-break:break-all; width: 50px">견적</th>
                <th style="word-break:break-all; width: 50px">디자인</th>
                <th style="word-break:break-all; width: 50px">생산</th>
                <th style="word-break:break-all; width: 50px">배송</th>
                <th style="word-break:break-all; width: 50px" class="br">완료</th>
                <th>배송방법</th>
                <th>납기일</th>
                <th>기타</th>
              </tr>
            </thead>
            <tbody>
              {% for project in project_list %}
              <tr data-receipt-id="{{project.receipt.id}}" data-project-id="{{project.id}}">
                <td class="date">{{project.receipt.receipt_date_time|split_day}}({{project.receipt.receipt_date_time|to_ko_day   }})</td>
                <td>{{project.receipt.receipt_date_time|split_time}}</td>
                <td>{{project.project_number}}/{{project.total_project_count}}</td>
                <td>{{project.receipt.receipt_employee_text}}</td>
                <td class="receipt_info br">{{project.receipt.client_company_name}}</td>
                <td 
                class="{% if project.receipt.is_urgent %}urgent{%else%}{% endif %} is_urgent"
                data-process-target="is_urgent">
                  {{project.is_urgent}}
                </td>              
                <td
                class="open_project_info"                  
                  >{{ project.project_name }}</td
                >
                <td style="white-space: break-spaces;text-align: center;">{{ project.count|default:"00" }}</td>
               
                <td class="expected_time" data-process-target="expected_time">
                 {{project.expected_time | default:"미지정"}}
                </td>
                <td class="project_due_text br date">{{ project.project_due_text }}({{project.project_due_text|to_ko_day}})</td>
                <td class="operator_info " style="text-align: center;">{{ project.operator_employee_text|default:"미지정" }}</td>
                <td style="text-align: center;">
                  <span class="processing_machine">
                    {{  project.processing_machine|default:"미지정" }}
                  </span>
                </td>
                <td  style="text-align: center;"
                  ><span
                    data-process-target="processing_status"
                    class="process {{project.processing_status}} "
                  ></span>
                </td>
                <td  style="text-align: center;"
                  ><span
                    data-process-target="design_status"
                    class="process {{project.design_status}} "
                  ></span>
                </td>
                <td  style="text-align: center;"
                  ><span
                    data-process-target="post_processing_status"
                    class="process {{project.post_processing_status}}"
                  ></span>               
                  <script>
                    $("select.post_processing_text")
                      .last()
                      .val("{{project.post_processing_text}}");
                  </script>
                </td>
                <td  style="text-align: center;">
                  <span
                    data-process-target="packaging_status"
                    class="process {{project.packaging_status}}"
                  ></span>
               
                </td>
                <td  class="br">
                  <span class="complete {% if project.is_ready_to_complete %}activate{% endif %}">
                    {% if project.is_ready_to_complete %}완료{% else %}진행중{%endif%}
                  </span>
                
                </td>
                <td>
                  <select class="form-coltrol delivery_type">
                    <option value="배송">배송</option>
                    <option value="방문수령">방문수령</option>
                    <option value="택배">택배</option>
                    <option value="화물">화물</option>
                    <option value="화물택배">화물택배</option>
                  </select>
                  <script>
                    $("select.delivery_type")
                      .last()
                      .val("{{project.receipt.delivery_type}}");
                  </script>
                </td>
                <td class="date"> {{ project.due_text }}({{project.due_text|to_ko_day}}) </td>
                <td class="project_info" style="cursor: pointer"
                  >
                  <span class="badge badge-danger delete_btn">삭제</span>
                  </td
                >
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <ul class="pagination pagination-rounded justify-content-end mb-2">
            <li class="page-item disabled">
                <a class="page-link" href="javascript: void(0);" aria-label="Previous">
                    <i class="mdi mdi-chevron-left"></i>
                </a>
            </li>
            {% for item in total_page %}
            <li class="page-item {% if item == page%} active {% endif %}">
              <a class="page-link" href="/shop_admin?page={{item}}&per={{per}}&search={{search}}">{{item}}</a></li>
            {% endfor %}
            <li class="page-item">
                <a class="page-link" href="javascript: void(0);" aria-label="Next">
                    <i class="mdi mdi-chevron-right"></i>
                </a>
            </li>
        </ul>
        </div>       
      </div>
    </div>

  </div>
</div>
{% include "shop_admin/common/components/modal/project_info.html" %}
{% include "shop_admin/common/components/modal/machine_info.html" %}
{% include "shop_admin/common/components/modal/operator_info.html" %}
{% include "shop_admin/common/components/modal/receipt_info.html" %}
{% include "shop_admin/common/components/modal/complete_memo.html" %}
{% include "shop_admin/common/components/modal/expected_time_info.html" %}
<script src="/static/admin/js/libs/select2/js/select2.min.js"></script>
<script>
  
  link_current_coring_machine()
  $('.select2-multiple').select2();
  var popoverTriggerList = [].slice.call(
    document.querySelectorAll('[data-bs-toggle="popover"]')
  );
  var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
    return new bootstrap.Popover(popoverTriggerEl);
  });
  $(".process").on("click", function () {
    var process;
    if ($(this).hasClass("waiting")) {
      $(this).removeClass("waiting");
      $(this).addClass("action");
      process = "action";
    } else if ($(this).hasClass("action")) {
      $(this).removeClass("action");
      $(this).addClass("success");
      process = "success";
      // console.log($(this).closest("td").next().find(".process"))
      $(this).closest("td").next().find(".process").addClass("ready")
      $(this).closest("td").next().find(".process").removeClass("waiting")
      console.log($(this).closest("td").next().find(".process").attr("data-process-target"))
      $.ajax({
      url: "/shop_admin/modify_project",
      type: "POST",
      data: {
        id: $(this).closest("tr").attr("data-project-id"),
        target: $(this).closest("td").next().find(".process").attr("data-process-target"),
        value: "ready",
      },
      success: function () {     
      },
      error: function(e){
        console.log(e)
      }
    });


      
    } else {
      $(this).removeClass("success");
      $(this).addClass("waiting");
      process = "waiting";
    }

    if( $(this).closest("tr").find("span.process[data-process-target='processing_status']").hasClass("success")
        && $(this).closest("tr").find("span.process[data-process-target='post_processing_status']").hasClass("success")
        &&  $(this).closest("tr").find("span.process[data-process-target='packaging_status']").hasClass("success")
      ){
        $(this).closest("tr").find(".complete").addClass("activate")
        $.ajax({
          url: "/shop_admin/modify_project",
          type: "POST",
          data: {
            id: $(this).closest("tr").attr("data-project-id"),
            target:"is_ready_to_complete",
            value: true,
          },
          success: function (res) {
           
          },
          error: function(e){
            console.log(e)
          }
        });
      }else
      {
        $(this).closest("tr").find(".complete").removeClass("activate")
      } 

    
    $.ajax({
      url: "/shop_admin/modify_project",
      type: "POST",
      data: {
        id: $(this).closest("tr").attr("data-project-id"),
        target: $(this).attr("data-process-target"),
        value: process,
      },
      success: function () {
     
      },
    });
  });
  $(".processing_machine").on("click", function () {
    $(".machine-badge").attr("data-project-id" , $(this).closest("tr").attr("data-project-id"))  
    $(".machine-badge>.badge").each(function(){
        $(this).removeClass("badge-primary")
        $(this).addClass("badge-light")
    })
    $(".machine_info_modal").modal("show")
    var text = $(this).text().trim().split(",")
    text.forEach(function(e){
        console.log(e)
        $(".machine-badge>.badge").each(function(){
            console.log($(this).text().trim())
            if($(this).text().trim() == e){
                $(this).addClass("badge-primary")
                $(this).removeClass("badge-light")
            }
        })
    })


  });

  $(".operator_info").on("click", function(){
    $(".operator-badge").attr("data-project-id" , $(this).closest("tr").attr("data-project-id"))  
    $(".operator-badge>.badge").each(function(){
        $(this).removeClass("badge-primary")
        $(this).addClass("badge-light")
    })
    $(".operator_info_modal").modal("show")
    var text = $(this).text().trim().split(",")
    text.forEach(function(e){
        console.log(e)
        $(".operator-badge>.badge").each(function(){
            console.log($(this).text().trim())
            if($(this).text().trim() == e){
                $(this).addClass("badge-primary")
                $(this).removeClass("badge-light")
            }
        })
    })
  })
  $(".post_processing_text").on("change", function () {
    $.ajax({
      url: "/shop_admin/modify_project",
      type: "POST",
      data: {
        id: $(this).closest("tr").attr("data-project-id"),
        target: "post_processing_text",
        value: $(this).val(),
      },
      success: function () {
     
      },
    });
  });

  $(".delivery_type").on("change", function () {
    $.ajax({
      url: "/shop_admin/modify_receipt",
      type: "POST",
      data: {
        id: $(this).closest("tr").attr("data-receipt-id"),
        target: "delivery_type",
        value: $(this).val(),
      },
      success: function () {
    
      },
    });
  });
  $(".is_urgent").on("click", function () {
    var data, ctx;
    ctx = $(this)
    if($(this).hasClass("urgent")){ data=false }else{data=true}
    $.ajax({
      url: "/shop_admin/modify_receipt",
      type: "POST",
      data: {
        id: $(this).closest("tr").attr("data-receipt-id"),
        target: $(this).attr("data-process-target"),
        value: data,
      },
      success: function () {
     
        if( ctx.hasClass("urgent")){ 
            ctx.removeClass("urgent")
        }else{
            ctx.addClass("urgent")
        }
        location.reload()
      },
    });
  });


  $(".open_project_info").on("click", function () {
    var id = $(this).closest("tr").attr("data-project-id");
    $.ajax({
      url: "/shop_admin/get_project",
      data: { id: id },
      success: function (res) {
        console.log(res);
        $("input[name='project_name']").val(res.result.project_name);
        $("select[name='project_type']").val(res.result.project_type);
        $("input[name='directory']").val(res.result.directory);
        try{
          $("input[name='project_due']").val(res.result.project_due  );
          $("input[name='due']").val(res.result.due  );
        }
        catch(e){
          console.log(e)
        }
        $("#project_detail input[name='id']").val(id);
        $('#summernote').summernote('destroy');
        $("#summernote").summernote({"height":400})
        $("#summernote").summernote('code', res.result.description);
        $("select[name='process_type']").val(res.result.process_type);
        $("select[name='design']").val(res.result.design);
        $("input[name='count']").val(res.result.count);
        $("select[name='operator']").val(res.result.operator).change();
        $("input[name='memo']").val(res.result.memo);
        $("input[name='packaging_text']").val(res.result.packaging_text);
        $(".project_info_modal").modal("show");        
        $("input[data-provide='datepicker']").datepicker({
          dateFormat: 'yy-mm-dd'
        });
      },
    });
   
  });
  $(".receipt_info").on("click", function(){
      var id = $(this).closest("tr").attr("data-receipt-id")

    $.ajax({
      url: "/shop_admin/ajax_order",
      data: { "id": id },
      dataType : 'json',
      success: function (res) {
        console.log(res);
        $("select[name='receipt']").val(res.receipt_employee).change();
        // $("input[name='receipt_type']").val(res.receipt_type);
        $('input:radio[name="receipt_type"]:input[value="' + res.receipt_type + '"]').attr("checked", true);

        try{
          $("input[name='receipt_date_time']").val(res.receipt_date_time.substring(0, 16));
        }
        catch(e){
          console.log(e)
        }
        $("input[name='receipt_id']").val(id);
        $("input[name='client_company_name']").val(res.client_company_name);
        $("input[name='client_person_name']").val(res.client_person_name);
        $("input[name='client_person_phone']").val(res.client_person_phone);
        // $("input[name='delivery_charge_type']").val(res.delivery_charge_type);
        $('input:radio[name="delivery_charge_type"]:input[value="' + res.delivery_charge_type + '"]').attr("checked", true);

        // $("input[name='is_urgent']").val(res.is_urgent);
        $('input:radio[name="is_urgent"]:input[value="' + res.is_urgent + '"]').attr("checked", true);

        // $("input[name='delivery_type']").val(res.delivery_type);
        $('input:radio[name="delivery_type"]:input[value="' + res.delivery_type + '"]').attr("checked", true);

        // $("input[name='local']").val(res.local);
        $('input:radio[name="local"]:input[value="' + res.local + '"]').attr("checked", true);

        $("input[name='sender_name']").val(res.sender_name);
        $("input[name='receipter_name']").val(res.receipter_name);
        try{
          $("input[name='due']").val(res.due.substring(0,16));
        }
        catch(e){
          console.log(e)
        }
        $("input[name='receipt_location']").val(res.receipt_location);
        $("input[name='receipt_comment']").val(res.receipt_comment);
        
        
        $(".receipt_info_modal").modal("show")
      },
    });
     
  })
  $(".delete_btn").on("click", function(e){
    var ctx = this
    var id = $(this).closest("tr").attr("data-project-id")
    if(confirm("해당 프로젝트를 삭제하시겠습니까?")){
      $.ajax({
      url: "/shop_admin/delete_project",
      data: { "id": id },
      type:"POST",
      success:function(){
      
        $(ctx).closest("tr").remove()
        
      }
    })}
    e.preventDefault()
    return false;
  })

  var full_screen = false
  $(".full_screen").on("click", function(){
    if(full_screen == false){
      full_screen = true
      $("#page-topbar").addClass("d-none")
      $(".vertical-menu").addClass("d-none")
      $(".main-content").addClass("ml-0")
      $(".page-content").addClass("pt-0")
    }else{
      full_screen = false
      $("#page-topbar").removeClass("d-none")
      $(".vertical-menu").removeClass("d-none")
      $(".main-content").removeClass("ml-0")
      $(".page-content").removeClass("pt-0")
    }
  })
  $(document).on("click", ".complete.activate", function(){
    console.log("dff")
    var id = $(this).closest("tr").attr("data-project-id")
    // 메모 작성후 완료로 수정
    $(".fault-memo-badge").find("input[name='data-project-id']").val(id)
    $("input[name='fault_memo']").val("")
    $(".complete_memo_modal").modal("show")
  })

  $(document).on("click", ".receipt", function(){
    var value;
    if($(this).hasClass("receipt_ready")){
      value = false
    }else{
      value = true
    }
    $.ajax({
      url: "/shop_admin/modify_project",
      type: "POST",
      data: {
        id:  $(this).closest("tr").attr("data-project-id"),
        target: "is_project_description_ready",
        value: value,
      },
      success: function () {
        // 완료 메세지를 보내고 완료 처리를 한다
        location.reload()
      },
    });

  })
  function getFormatDate(date){
      var year = date.getFullYear();
      var month = (1 + date.getMonth());
      month = month >= 10 ? month : '0' + month;
      var day = date.getDate();
      day = day >= 10 ? day : '0' + day;
      return year + '-' + month + '-' + day;
  }
  date = getFormatDate(new Date());

  $(".project_due_text").each(function(){
    var date_text = $(this).text().split("(")[0]
    var target_date = new Date(date_text)

    if( new Date() > target_date ) {
      $(this).css("color","red")
    }
  })
  $("#per").on("change", function(){
    location.href="/shop_admin?per="+$(this).val()+"&page=1"
  })
  $(".due_btn").on("click", function(){
    location.href = "/shop_admin?per" + $("#per").val() + "&page=1"+"&due="+$(this).attr("id")+"&search="+$("#search").val()
  })
  $("td.date").each(function(){
     $(this).text( $(this).text().replace("2021","21") )
  })
  $(".expected_time").on("click", function(){
    console.log("Sdfsdf")
      var id =  $(this).closest("tr").attr("data-project-id");
      $(".expected_time_modal-badge").find("input[name='data-project-id']").val(id)
      $(".expected_time_modal").modal("show")      
      $("input[name='expected_time']").val( $(this).text().trim()  )
  })
  $("#search").keypress(function (e) {
        if (e.which == 13){
          location.href = "/shop_admin?per" + $("#per").val() + "&page=1"+"&due="+$(".due_btn.badge-primary").attr("id")+"&search="+$("#search").val()
        }
  }
  )
  var text = $("#working_list").text().trim()
  if( text[text.length-1] == "," ){
    text = text.substr(0, text.length-1)
    $("#working_list").text(text)
  }
</script>

<style>
  .dashboad_header .card-body {
    height: 120px;
  }
  .process {
    display: inline-block;
    vertical-align: middle;
    border-radius: 15px;
    color:#fff;
    padding: 2px 3px;
    font-size: 10px;
  }
  .is_urgent {
    cursor: pointer;
  }
  .is_urgent::before {
    cursor: pointer;
    content: "일반";
    font-size: 11px;
    padding: 2px 2px;
    background-color: #ddd;
    color: #666;
    border-radius: 3px;    
    width: 32px;
    display: block;
    text-align: center;
  }
  .urgent::before {
    content: "긴급"!important;
    font-size: 11px;
    padding: 2px 2px;
    background-color: #dc3545!important;
    color: #fff;
    border-radius: 3px;    
    width: 32px;
    display: block;
    text-align: center;
  }
  @keyframes blink {
    0% {
      opacity: 1;
      background-color: green;
    }
    50% {
      opacity: 1;
      background-color: blue;
    }
    100% {
      opacity: 1;
      background-color: green;
    }
  }
  td {
    line-height: 20px;
  }
  .ready {
    animation: blink 1s linear infinite;
    }
  .ready::before{
    content: "준비";
  }
  .action {
    border: 1px solid green;
    background-color: green !important;   
  }
  .action::before{
    content: "진행";
  }
  .waiting {  
    background-color: #fff !important;
    border: 1px solid #aaa;
  }
  .waiting::before{
    content: "대기";
    color: black!important;
  }
  .success {
    border: 1px solid grey;
    background-color: grey !important;
  }
  .success::before{
    content: "완료";
  }
  .unselected {
    font-weight: bold;
    color: #dc3545;
    cursor: pointer;
  }
  .filter .badge {
    font-size: 14px;
  }
  .badge {
    cursor: pointer;
  }
  .select2-search.select2-search--inline{
      width: 0px!important;
  }
  .select2.select2-container.select2-container--default.select2-container--below{
      width: 200px!important;
  }
  .processing_machine{
      cursor: pointer;
  }
  .delete_btn{
    visibility: hidden;
    font-size: 12px;
  }
  .project_info:hover .delete_btn{
    visibility: initial;
  }
  .receipt_info{
    cursor: pointer;
  }
  .complete{
    padding: 2px 3px;
  }
  .activate{
    background-color: blue;
    color: #fff;;
    cursor: pointer;
  }
  th{
      text-align: center;
  }
  .project_due_text{
      font-size: 16px ;
      font-weight: bold;
      color:blue;
  }
  .br{
      border-right: 1px solid #ddd;;
  }
  .table td, .table th {
    padding: 8px 4px;
  }
  .open_project_info{
    cursor: pointer;
  }
  .receipt{
    color:red;
    cursor: pointer;
  }
  .receipt.receipt_ready{
    color: #666!important;
  }
  .expected_time{
    text-align: center;
    cursor: pointer;
  }
  .open_project_info{
    width: 400px;
    word-break: break-all!important;
    word-spacing: normal!important;
    white-space: inherit!important;
  }
  .work .media-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
</style>
<script></script>
{% endblock %}
