{% extends "shop_admin/base.html" %}
{% load humanize %} 
{% block content %}
{% include "shop_admin/components/add_product_js.html" %}    

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">배송 정책 리스트</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Ecommerce</a></li>
                    <li class="breadcrumb-item active">Orders</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->



<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-sm-4">
                        <div class="search-box mr-2 mb-2 d-inline-block">
                            <div class="position-relative">
                                <input type="text" class="form-control" placeholder="Search...">
                                <i class="bx bx-search-alt search-icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="text-sm-right">
                            <button  data-toggle="modal" data-target=".add_supplement_modal" type="button" class="btn btn-success btn-rounded waves-effect waves-light mb-2 mr-2 waves-effect waves-light" 
                       
                            > <i class="mdi mdi-plus mr-1"></i>배송 정책 등록</button>                               
                        </div>
                    </div><!-- end col-->
                </div>
                <div class="table-responsive">
                    <table class="table table-centered table-nowrap">
                        <thead class="thead-light">
                            <tr>
                                <th style="width: 20px;">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                                        <label class="custom-control-label" for="customCheck1">&nbsp;</label>
                                    </div>
                                </th>
                                <th>배송 이름</th>
                                <th>배송 가격</th>      
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in delivery_list%}
                            <tr>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck2">
                                        <label class="custom-control-label" for="customCheck2">&nbsp;</label>
                                    </div>
                                </td>
                                <td><a class="text-body font-weight-bold">{{item.text}}</a> </td>
                                <td>{{item.price|intcomma}}</td>   
                                <td>
                                    <a class="mr-3 text-primary" data-id="{{item.id}}" data-toggle="tooltip"
                                        data-placement="top" title="" data-original-title="Edit"><i
                                            class="mdi mdi-pencil font-size-18"></i></a>
                                    <a href="javascript:void(0);" data-id="{{item.id}}" class="delete_btn" class="text-danger" data-toggle="tooltip"
                                        data-placement="top" title="" data-original-title="Delete"><i
                                            class="mdi mdi-close font-size-18"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <ul class="pagination pagination-rounded justify-content-end mb-2">
                    <!-- <li class="page-item disabled">
                        <a class="page-link" href="javascript: void(0);" aria-label="Previous">
                            <i class="mdi mdi-chevron-left"></i>
                        </a>
                    </li> -->
                    {% for item in total_page %}
                    <li class="page-item {% if item == page%}active{%endif%}"><a class="page-link" href="/shop_admin/delivery_list?page={{item}}">{{item}}</a></li>
                    {% endfor %}
                    <!-- <li class="page-item">
                        <a class="page-link" href="javascript: void(0);" aria-label="Next">
                            <i class="mdi mdi-chevron-right"></i>
                        </a>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- end row -->
</div> <!-- container-fluid -->
</div>

<div class="modal fade add_supplement_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
<div class="modal-dialog ">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">배송정책 등록</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group row">

                <label for="recipient-name" class="col-form-label col-2" >이름:</label>
                <input type="text" class="form-control  col-10" name="name">
              </div>
              <div class="form-group row">
                <label for="message-text" class="col-form-label  col-2">가격:</label>
                <input class="form-control col-10" name="per_price">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
            <button type="button" class="btn btn-primary add_supplement">등록</button>
          </div>
    </div>
</div>
</div>


<!-- End Page-content -->
<script>
    $(".delete_btn").on("click", function(){
        $.ajax({
            type:"post",
            data:{
                method:"delete",
                id:$(this).attr("data-id")
            },
            success:function(res){
                alert("삭제되었습니다.")
                location.reload()
            }
        })
    })
    $(".add_supplement").on("click", function(){
        $.ajax({
        type:"post",
        data:{
            method:"add_supplement",
            name: $("input[name='name']").val(),
            per_price: $("input[name='per_price']").val(),
        },
        success:function(res){
            alert("등록되었습니다.")
            location.reload()
        }
    })
    })
    
</script>
{% endblock %}