{% extends "shop_admin/base.html" %}
{% load product_options %} 
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">디자인 확인</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Ecommerce</a></li>
                    <li class="breadcrumb-item active">Orders</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-12">
                        <table style="width: 100%;">
                            <tr>
                                <th style="width: 150px;">기간</th>
                                <td  style="width: calc(100%-150px);vertical-align: center; display: flex; align-items: center;">
                                    <div class="d-inline-block">
                                        <span style="line-height: 30px;font-size: 13px;cursor: pointer;" data-selected="ALL" data-month="ALL" class="date badge badge-light {% if selected == "5" %}badge-primary{%endif%}">전체보기</span>
                                        <span style="line-height: 30px;font-size: 13px;cursor: pointer;" data-selected="TODAY" data-month="TODAY" class="date badge badge-light {% if selected == "2" %}badge-primary{%endif%}">오늘</span>
                                        <span style="line-height: 30px;font-size: 13px;cursor: pointer;" data-selected="-7" data-month="-7" class="date badge badge-light {% if selected == "3" %}badge-primary{%endif%}">지난 7일</span>
                                        <span style="line-height: 30px;font-size: 13px;cursor: pointer;" data-selected="-30" data-month="-30" class="date badge badge-primary {% if selected == "4" %}badge-primary{%endif%}">지난 30일</span>

                                      </div>
                                      <div
                                      class=""
                                      style="display: flex; align-items: center; margin-left: 20px;"
                                    >
                                      <input
                                        type="text"
                                        id="datePicker"
                                        style="width: 125px"
                                        class="form-control"
                                        value="2021-01-01"
                                      />&nbsp;~&nbsp;
                                      <input
                                        type="text"
                                        id="datePicker2"
                                        style="width: 125px"
                                        class="form-control"
                                        value=""
                                      />
                                    </div>
                              </td>
                              </tr>
                              <tr>
                                  <th style="width: 150px;">진행 상태</th>
                                  <td  style="vertical-align: center;">

                                      <div style="display: inline-block; margin-top:10px">
                                          <input name="category" id="cer_0" type="radio">
                                          <label for="cer_0">전체</label>
                                      </div>
                                      <div style="display: inline-block; margin-top:10px">
                                        <input name="category" id="cer_1" type="radio" value="purchased">
                                        <label for="cer_1">미확인</label>
                                    </div>
                                    <div style="display: inline-block; margin-top:10px">
                                        <input name="category" id="cer_2" type="radio" value="creating">
                                        <label for="cer_2">확인완료</label>
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                    <th style="width: 150px;">상세 조건</th>
                                    <td  style="width: calc(100%-150px);vertical-align: center;">
                                      <input type="text" id="searchKeyword" class="form-control" style="width: 250px; display: inline-block;">&nbsp;&nbsp; *이름/아이디
                                  </td>
                                  </tr>
                        </table>

                        <div class="col-12 " style="display: flex;justify-content: center;">
                          <button class="btn btn-danger" onclick="location.href='/shop_admin/design_list'">검색 초기화</button>
                          <button class="btn btn-primary ml-2 search">검색</button>
                        </div>
                      </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-centered table-nowrap">
                        <thead class="thead-light">
                            <tr>
                                <th style="width: 20px;">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                                        <label class="custom-control-label" for="customCheck1">&nbsp;</label>
                                    </div>
                                </th>
                                <th style="width: 100px">주문 번호</th>
                                <th style="width: 300px">회원 아이디/이름/전화번호</th>
                                <th style="width: 300px">결제상품</th>
                                <th>디자인</th>
                                <th>작업디자인</th>
                                <th>디자인 등록일</th>
                                <th>디자인 컨펌일</th>
                                <th>상태</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in design_list %}

                            
                            <tr data-id="{{item.id}}">
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck2">
                                        <label class="custom-control-label" for="customCheck2">&nbsp;</label>
                                    </div>
                                </td>
                            <td>
                                {{ item.purchase.iamport_id }}
                            </td>
                            <td>
                                 {{item.purchase.user.username}}<br>
                                  {{item.purchase.user.nickname}} / {{item.purchase.user.phone}}
                            </td>
                                <td class="text-body font-weight-bold d-flex align-items-center"  >
                                    <div>
                                        <span class="title">{% get_name_by_id item %}</span><br>
                                        <span class="comment" style="font-weight: normal;">요청사항 : {{item.product.comment|default:"없음"}}</span>
                                    </div>
                                </td>
                                <td>
                                       {%  for i in  item.product.json.product_inner_option %}
                                            {% if  i.type == "design"%}
                                                <span>디자인 : {{ i.name }}</span><br>
                                             {% endif %}
                                         {% endfor %}
                                    {% if item.file_0 %}
                                        <a class="badge badge-primary" href="{{item.file_0.url}}" target="_blank" style="margin-right: 20px;">첨부파일1</a>
                                    {% endif %}
                                    {% if item.file_1 %}
                                        <a class="badge badge-primary" href="{{item.file_1.url}}" target="_blank" style="margin-right: 20px;">첨부파일2</a>
                                    {% endif %}
                                    {% if item.file_2 %}
                                        <a class="badge badge-primary" href="{{item.file_2.url}}" target="_blank" style="">첨부파일3</a>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if item.admin_design_file %}
                                    <a class="badge badge-primary"  href="{{ item.admin_design_file.url }}" style="color: #fff;cursor: pointer" target="_blank">작업 디자인</a> <br>
                                    {% endif %}
                                     <input type="file" class="upload_file" id="design_file_upload_file_{{ item.id }}"  data-id="{{item.id}}" data-attr="admin_design_file" style="position: fixed;bottom: -20000px;">
                                   <a onclick="$('#design_file_upload_file_{{ item.id }}').click()" class="badge badge-safe design_file_upload" data-id="{{item.id}}" data-attr="admin_design_file" style="cursor:pointer">작업 파일 업로드</a>
                                </td>
                                <td>{{item.created_at}}</td>
                                <td>{{item.confirmed_at|default:""}}</td>
                                <td>{{item.get_design_status_display|default:"디자인 처리중"}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
                <ul class="pagination pagination-rounded justify-content-end mb-2">
                    <li class="page-item disabled">
                        <a class="page-link" href="javascript: void(0);" aria-label="Previous">
                            <i class="mdi mdi-chevron-left"></i>
                        </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="javascript: void(0);">1</a></li>
                    <li class="page-item"><a class="page-link" href="javascript: void(0);">2</a></li>
                    <li class="page-item"><a class="page-link" href="javascript: void(0);">3</a></li>
                    <li class="page-item"><a class="page-link" href="javascript: void(0);">4</a></li>
                    <li class="page-item"><a class="page-link" href="javascript: void(0);">5</a></li>
                    <li class="page-item">
                        <a class="page-link" href="javascript: void(0);" aria-label="Next">
                            <i class="mdi mdi-chevron-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- end row -->
</div> <!-- container-fluid -->
</div>
<!-- End Page-content -->

<script>

    $(".upload_file").on("change", function (){
        var form = new FormData()
        form.append("id",$(this).attr("data-id") )
        form.append("attr",$(this).attr("data-attr") )
        form.append("value",$(this)[0].files[0] )
        $.ajax({
            type:"post",
            contentType:false,
            processData:false,
            data:form,
            success:function (res){
                console.log(res)
                alert("업로드 되었습니다.")
                location.reload()
            }
        })
    })


</script>
<style>
    .title{
        cursor: pointer;
    }
    .modify_btn{
        display: none;
        cursor: pointer;
    }
    tr:hover .modify_btn{
        display: inline-block;
    }
    .delete_btn{
        display: none;
        cursor: pointer;
    }
    tr:hover .delete_btn{
        display: inline-block;
    }
    .reply_title{
        margin-top:20px;
        padding-top: 10px;
        border-top:1px solid #ddd;
    }
</style>
{% endblock %}