{% extends "shop_admin/base.html" %}
{% block content %}
{% include "shop_admin/components/add_product_js.html" %}     
<script src="/static/admin/js/pages/form-advanced.init.js"></script>
<script src="/static/admin/js/libs/select2/js/select2.min.js"></script>


<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">직원 관리</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">내부관리</a></li>
                    <li class="breadcrumb-item active">직원 관리</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-sm-4">
                        <div class="search-box mr-2 mb-2 d-inline-block">
                            <div class="position-relative">
                                <input type="text" class="form-control" placeholder="Search...">
                                <i class="bx bx-search-alt search-icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="text-sm-right">
                            <button type="button" class="btn btn-success btn-rounded waves-effect waves-light mb-2 mr-2 waves-effect waves-light" data-toggle="modal"
                            data-target=".bs-employee-modal-xl"> <i class="mdi mdi-plus mr-1"></i>직원 관리</button>                               
                        </div>
                    </div><!-- end col-->
                </div>
                <div class="table-responsive">
                    <table class="table table-centered table-nowrap table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">이름/주소</th>
                                <th scope="col">이메일</th>
                                <th scope="col">담당업무</th>
                                <th scope="col">직책</th>
                                <th scope="col">핸드폰</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in employee_list %}
                            <tr data-id="{{item.id}}">
                                <td>
                                    <h5 class="emp_row" class="font-size-14 mb-1">{{item.name}}
                                    <span class="delete_btn badge badge-danger">x</span>
                                    </h5>
                                    <p class="text-muted mb-0">{{ item.address }}</p>
                                </td>
                                <td>{{item.email}}</td>
                                <td>
                                    {{item.position}}
                                </td>
                                <td>
                                    {{item.scope}}
                                </td>
                                <td>
                                    {{item.phone}}
                                </td>
                            </tr>      
                            {% endfor %}                
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="pagination pagination-rounded justify-content-center mt-4">
                            <li class="page-item disabled">
                                <a href="#" class="page-link"><i class="mdi mdi-chevron-left"></i></a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link">1</a>
                            </li>
                            <li class="page-item active">
                                <a href="#" class="page-link">2</a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link">3</a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link">4</a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link">5</a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link"><i class="mdi mdi-chevron-right"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div> <!-- container-fluid -->
<style>
.delete_btn{
    visibility: hidden;
    cursor: pointer;
}
.emp_row:hover .delete_btn{
    visibility: visible;
}
</style>
<script>
    $(".delete_btn").on("click", function(){
        $.ajax({
            type:"post",
            data:{
                method: "delete",
                id : $(this).closest("tr").attr("data-id")
            },
            success:function(){
                alert("삭제되었습니다.");
                location.reload();
            }
        })
    })

</script>
{% include "shop_admin/common/components/modal/add_employee.html" %}
{% endblock %}