{% extends "shop_admin/base.html" %}
{% load humanize %} 
{% block content %}
{% include "shop_admin/components/add_product_js.html" %}    

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">샘플 이미지 리스트</h4>

        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-12">
                      <table style="width: 100%;"> 
                          <tr>
                              <th style="width: 150px;">검색어</th>
                              <td  style="width: calc(100%-150px);vertical-align: center;">
                                <input type="text" class="form-control" id="searchKeyword" style="width: 250px; display: inline-block;" value="{{ q | safe}}">
                            </td>
                            </tr>
                            <tr>
                                <th style="width: 150px;">분류</th>
                                <td  style="vertical-align: center;">
                                <div style="display: inline-block; margin-top:10px">
                                        <input name="category" id="ca-0" type="radio" value=""  >
                                        <label for="ca-0">전체</label>
                                    </div>
                                    {% for i in category0_list %} 
                                    <div style="display: inline-block; margin-top:10px">
                                        <input name="category" id="ca{{forloop.counter0}}" type="radio" value="{{ i.id }}"  >
                                        <label for="ca{{forloop.counter0}}">{{i.name}}</label>
                                    </div>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th style="width: 150px;">업종</th>
                                <td  style="vertical-align: center;">
                                <div style="display: inline-block; margin-top:10px">
                                        <input name="category" id="ca1-0" type="radio" value=""  >
                                        <label for="ca1-0">전체</label>
                                    </div>
                                    {% for i in category1_list %} 
                                    <div style="display: inline-block; margin-top:10px">
                                        <input name="category" id="ca1{{forloop.counter0}}" type="radio" value="{{ i.id }}"  >
                                        <label for="ca1{{forloop.counter0}}">{{i.name}}</label>
                                    </div>
                                    {% endfor %}
                                </td>
                              </tr>
                      </table>
                      <div class="col-12 " style="display: flex;justify-content: center;">                      
                        <button class="btn btn-danger" onclick="location.href='/shop_admin/product_list'">검색 초기화</button>
                        <button  class="btn btn-primary ml-2 search">검색</button>
                      </div>
                    </div>
                    <div class="col-12 d-flex justify-content-end">
                       
                    </div><!-- end col-->
                </div>
                
                <div class="table-responsive">
                    <table class="table table-centered table-nowrap">
                        <thead class="thead-light">
                            <tr>
                                <th style="width: 20px;">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                                        <label class="custom-control-label" for="customCheck1">&nbsp;</label>
                                    </div>
                                </th>
                                <th>이미지</th>  
                                <th>카테고리</th>
                                <th>이미지 아이디</th>
                                <th>판매 수</th> 
                                
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in img_list%}
                            <tr >
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck2">
                                        <label class="custom-control-label" for="customCheck2">&nbsp;</label>
                                    </div>
                                </td>
                            
                                <td>
                                   <div style="width:150px; height:150px; background-image:url({{item.image_url}}); background-size: contain;background-position: center;background-repeat: no-repeat;" ></div>
                                </td>    
                                <td>
                                    <div style="display: flex; align-items: center;">
                                        분류:<select class="form-control ca-0" data-id="{{item.id}}"  style="width: 150px">
                                            {% for i in category0_list %}
                                            <option value="{{i.id}}" {% if item.category0_id == i.id %} selected {%endif%} >{{i.name}} </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div style="display: flex; align-items: center;">
                                        업종:<select class="form-control ca-1" data-id="{{item.id}}" style="width: 150px">
                                            {% for i in category1_list %}
                                            <option value="{{i.id}}" {% if item.category1_id == i.id %} selected {%endif%} >{{i.name}} </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </td>                      
                                <td>{{ item.image_sample_id }}
                                </td>
                                <td>{{item.sell_count}}</td>                
                                <td >
                                    <!-- <a href="/shop_admin/modify_product/{{item.id}}" class=" text-primary" data-toggle="tooltip"
                                        data-placement="top" title="" data-original-title="Edit"><i
                                            class="mdi mdi-pencil font-size-18"></i></a> -->
                                    <a  class=" delete_btn text-primary" data-id="{{item.id}}" data-toggle="tooltip"
                                    data-placement="top" title="" data-original-title="Delete" style="cursor: pointer"><i
                                    class="mdi mdi-close font-size-18"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <ul class="pagination pagination-rounded justify-content-end mb-2">
            
                    {% for item in total_page %}
                    <li class="page-item {% if item == page%}active{%endif%}"><a class="page-link" href="/shop_admin/sample_image_list?page={{item}}&cat={{ category|safe }}&q={{ q }}">{{item}}</a></li>
                    {% endfor %}
                 
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- end row -->
</div> <!-- container-fluid -->
</div>
<!-- End Page-content -->
<script>
const queryString = window.location.search;
const urlParams = new URLSearchParams(queryString);
const cat = urlParams.get('cat')
if(cat)$("input[value="+cat+"]").click()
// $(".search").on("click", function (){
//     let value = $("input[name='category']:checked").val()
//     location.href="/shop_admin/product_list?cat="+ (value?value:"") +"&q="+$("#searchKeyword").val()
// })
    $(".ca-0").on("change", function(){
        $.ajax({
            type:"post",
            data:{
                method:"update",
                id:$(this).attr("data-id"),
                value:$(this).val(),
                target :"category0_id"
            },
            success:function(res){
                alert("수정되었습니다.")
                location.reload()
            }
        })
    })
    $(".ca-1").on("change", function(){
        $.ajax({
            type:"post",
            data:{
                method:"update",
                id:$(this).attr("data-id"),
                value:$(this).val(),
                target :"category1_id"
            },
            success:function(res){
                alert("수정되었습니다.")
                location.reload()
            }
        })
    })
    $(".delete_btn").on("click", function(){
        $.ajax({
            type:"post",
            data:{
                method:"delete",
                id:$(this).attr("data-id")
            },
            success:function(res){
                alert("삭제되었습니다.")
                location.reload()
            }
        })
    })

</script>
{% endblock %}