{% extends "shop_admin/base.html" %}

{% block content %}
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">문의 관리</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Ecommerce</a></li>
                    <li class="breadcrumb-item active">Orders</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-sm-4">
                        <div class="search-box mr-2 mb-2 d-inline-block">
                            <div class="position-relative">
                                <input type="text" class="form-control" placeholder="Search...">
                                <i class="bx bx-search-alt search-icon"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-centered table-nowrap">
                        <thead class="thead-light">
                            <tr>
                                <th style="width: 20px;">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                                        <label class="custom-control-label" for="customCheck1">&nbsp;</label>
                                    </div>
                                </th>
                                <th>제품</th>
                                <th style="width: 60%">제목</th>
                                <th>작성일</th>
                                <th>처리상태</th>
                                <th>답변일</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in notice %}
                            <tr data-id="{{item.id}}">
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck2">
                                        <label class="custom-control-label" for="customCheck2">&nbsp;</label>
                                    </div>
                                </td>
                                <td class="text-body font-weight-bold" > 
                                    <span class="title">{{item.title}}</span>
                                    <span class="badge badge-primary modify_btn"> <i class="bx bx-highlight"></i></span> 
                                    <span class="badge badge-danger delete_btn"> <i class="bx bx-trash"></i></span> 
                                    
                                </td>
                                <td>{{item.created_at}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <ul class="pagination pagination-rounded justify-content-end mb-2">
                    <li class="page-item disabled">
                        <a class="page-link" href="javascript: void(0);" aria-label="Previous">
                            <i class="mdi mdi-chevron-left"></i>
                        </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="javascript: void(0);">1</a></li>
                    <li class="page-item"><a class="page-link" href="javascript: void(0);">2</a></li>
                    <li class="page-item"><a class="page-link" href="javascript: void(0);">3</a></li>
                    <li class="page-item"><a class="page-link" href="javascript: void(0);">4</a></li>
                    <li class="page-item"><a class="page-link" href="javascript: void(0);">5</a></li>
                    <li class="page-item">
                        <a class="page-link" href="javascript: void(0);" aria-label="Next">
                            <i class="mdi mdi-chevron-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- end row -->
</div> <!-- container-fluid -->
</div>
<!-- End Page-content -->

<!--  Modal content for the above example -->
<div class="modal fade bs-read-modal-xl read_modal" tabindex="-1" role="dialog"
aria-labelledby="read_notice" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="read_notice_title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="read_notice_content">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade bs-write-modal-xl write_modal" tabindex="-1" role="dialog" 
aria-labelledby="read_notice" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">              
                <input placeholder="공지사항 제목을 입력해주세요." type="text" id="write_notice_title" class="form-control modal-title mt-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="write_notice_content">
                <div id="summernote"></div>
                <button class="btn btn-primary add_notice_item">등록하기</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    $(".title").on("click", function(){
       
        $.ajax({
            url:"/shop_admin/ajax_notice/"+$(this).closest("tr").attr("data-id"),
            success:function(res){
                $("#read_notice_title").text(res.title)
                $("#read_notice_content").html(res.content)
                $(".read_modal").modal("show")
            }
        })
    })
    $(".add_notice").on("click", function(){
        $(".write_modal").modal("show")        
        $('#summernote').summernote({height: 400});
        $(".write_modal").removeClass("modifying")
    })
    $(".add_notice_item").on("click", function(){
        var type;
        if($(".write_modal").hasClass("modifying")){ type = "PUT"}else{type="POST"}
        $.ajax({
            url:"/shop_admin/ajax_notice",
            type:type,
            data:{
                title:$("#write_notice_title").val(),
                content: $('#summernote').summernote('code'),
                id:$(".write_modal").attr("data-id")
            },
            success:function(res){
                console.log(res)
                location.reload()
            }
        })
    })
    $(".modify_btn").on("click", function(){
        $.ajax({
            url:"/shop_admin/ajax_notice/"+$(this).closest("tr").attr("data-id"),
            success:function(res){
                $("#write_notice_title").val(res.title)
                $('#summernote').summernote({height: 400});
                $("#summernote").summernote("code",res.content);
                $(".write_modal").attr("data-id",res.id)
                $(".write_modal").modal("show")
                $(".write_modal").addClass("modifying")
            }
        })
    })
    $(".delete_btn").on("click", function(){
        if(confirm("공지사항을 삭제하시겠습니까?")){
            $.ajax({
                url:"/shop_admin/ajax_notice",
                type:"DELETE",
                data:{
                    id:$(this).closest("tr").attr("data-id"),
                },
                success:function(res){
                    console.log(res)
                    location.reload()
                }
            })
        }
    })
</script>
<style>
    .title{
        cursor: pointer;
    }
    .modify_btn{
        display: none;
        cursor: pointer;
    }
    tr:hover .modify_btn{
        display: inline-block;
    }
    .delete_btn{
        display: none;
        cursor: pointer;
    }
    tr:hover .delete_btn{
        display: inline-block;
    }
</style>
{% endblock %}