<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Login | Skote - Nodejs Admin & Dashboard Template</title>

    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="/static/admin/img/favicon.ico">

    <!-- Bootstrap Css -->
    <link href="/static/admin/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="/static/admin/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="/static/admin/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

</head>

<body>
<div class="home-btn d-none d-sm-block">
    <a href="/" class="text-dark"><i class="fas fa-home h2"></i></a>
</div>

<div class="account-pages my-5 pt-sm-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="card overflow-hidden">
                    <div class="bg-soft-primary">
                        <div class="row">
                            <div class="col-7">
                                <div class="text-primary p-4">
                                    <h5 class="text-primary">Welcome Back !</h5>
                                    <p>Sign in to continue to Skote.</p>
                                </div>
                            </div>
                            <div class="col-5 align-self-end">
                                <img src="/static/admin/img/profile-img.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-0">
                        <div>
                            <a href="/">
                                <div class="avatar-md profile-user-wid mb-4">
                                    <span class="avatar-title rounded-circle bg-light">
                                        <img src="/static/admin/img/logo.svg" alt="" class="rounded-circle"
                                            height="34">
                                    </span>
                                </div>
                            </a>
                        </div>
                        <div class="p-2">
                            <form class="form-horizontal" method="post" action="/post-login">

                                {% if error   %}
                                <div class="alert alert-danger flash">{{ error }}</div>
                                {% endif %}
                                {% if message   %}
                                <div class="alert alert-success flash">{{ message }}</div>
                                {% endif %}

                                <div class="form-group">
                                    <label for="username">Email</label>
                                    <input type="text" name="email" class="form-control" value="admin@themesbrand.com"
                                        id="username" placeholder="Enter Email" required>
                                </div>

                                <div class="form-group">
                                    <label for="userpassword">Password</label>
                                    <input type="password" name="password" value="123456" class="form-control"
                                        id="userpassword" placeholder="Enter password" required>
                                </div>

                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customControlInline">
                                    <label class="custom-control-label" for="customControlInline">Remember me</label>
                                </div>

                                <div class="mt-3">
                                    <button class="btn btn-primary btn-block waves-effect waves-light" type="submit">Log
                                        In</button>
                                </div>

                                <div class="mt-4 text-center">
                                    <a href="/forgot-password" class="text-muted"><i class="mdi mdi-lock mr-1"></i>
                                        Forgot your password?</a>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
                <div class="mt-5 text-center">
                    <p>Don't have an account ? <a href="register" class="font-weight-medium text-primary"> Signup now
                        </a> </p>
                    <p><i class="mdi mdi-heart text-danger"></i>
                        by Themesbrand</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- end wrapper-page -->

<!-- JAVASCRIPT -->
<script src="/static/admin/js/libs/jquery/jquery.min.js"></script>
<script src="/static/admin/js/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/admin/js/libs/metismenu/metisMenu.min.js"></script>
<script src="/static/admin/js/libs/simplebar/simplebar.min.js"></script>
<script src="/static/admin/js/libs/node-waves/waves.min.js"></script>

<!-- Plugins js-->
<script src="/static/admin/js/libs/jquery-countdown/jquery.countdown.min.js"></script>

<!-- Countdown js -->
<script src="/static/admin/js/pages/coming-soon.init.js"></script>


<!-- App js -->
<script src="/static/admin/js/app.js"></script>
</body>

</html>