{% extends "shop_admin/base.html" %}

{% block content %}
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">바로가기 관리</h4>

            {% comment %} <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Ecommerce</a></li>
                    <li class="breadcrumb-item active">Orders</li>
                </ol>
            </div> {% endcomment %}
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-sm-4">                      
                    </div>
                    <div class="col-sm-8 flex justify-content-end" style="display: flex;">
                        <button class="btn btn-primary add_jumbotron">바로가기 등록</button>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-centered table-nowrap">
                        <thead class="thead-light">
                            <tr>
                                <th style="width: 20px;">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                                        <label class="custom-control-label" for="customCheck1">&nbsp;</label>
                                    </div>
                                </th>
                                <th>이름</th>
                                <th>PC 이미지</th>
                                <th>모바일 이미지</th>
                                <th>링크</th>
                                <th>순서</th>      
                                <th>최근 30일간 클릭수</th>      
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in main_shortcut_list %}
                            <tr class="jumbotron_list" data-id="{{item.id}}">
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck2">
                                        <label class="custom-control-label" for="customCheck2">&nbsp;</label>
                                    </div>
                                </td>
                                <th  style="width: 300px;">{{item.name|safe}}
                                    <span class="badge badge-primary modify_btn title"> <i class="bx bx-highlight"></i></span> 
                                    <span class="badge badge-danger delete_btn"> <i class="bx bx-trash"></i></span> 

                                </th>
                                <td class="text-body font-weight-bold" style="width: 500px;;" > 
                                    <span class="title"><img src="{{item.pc_image_url}}" style="height: 100px;"></span>
                                    <!-- 
                                     -->
                                </td>
                                <td style="width: 400px">
                                    <span ><img src="{{item.mobile_image_url}}" style="height: 100px;"></span>
                                </td>
                                <th>{{item.link|safe}}</th>
                                <td>
                                    <span >{{item.index}}</span>
                                </td>
                                <td>
                                    <span >{{item.recent_click_count}}</span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>              
            </div>
        </div>
    </div>
</div>
<!-- end row -->
</div> <!-- container-fluid -->
</div>
<!-- End Page-content -->


<div class="modal fade write_modal" tabindex="-1" role="dialog" 
aria-labelledby="read_notice" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">              
                <input placeholder="바로가기 이름을 입력해주세요." type="text" id="name" class="form-control modal-title mt-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="write_notice_content">
                <input type="hidden" name="jumbotron_id">
                PC 이미지 : <input type="file" id="pc_image" name="pc_image"><br>
                모바일 이미지 : <input type="file" id="mobile_image" name="mobile_image"><br>
                <span style="font-size: 14px; color:#888;">해당 이미지 업로드시에만 이미지가 변경됩니다.</span><br><br>
                링크 : <input type="text" name="link" id="link" class="form-control"><br>
                순서 : <input type="text" name="index" id="index" class="form-control"><br><br>
                상단 마진 : <input type="checkbox" name="is_margin_top_exist" id="is_margin_top_exist"><br><br>

                <button class="btn btn-primary add_jumbotron_item">등록/수정 하기</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    $(".title").on("click", function(){
       var id = $(this).closest("tr").attr("data-id")
        $.ajax({
            type:"post",
            data:{
                type:"detail",
                id:$(this).closest("tr").attr("data-id")
            },
            success:function(res){
                $("input[name='jumbotron_id']").val(id)
                $("input[name='link']").val(res.result[0].link)
                $("input[name='name']").val(res.result[0].name)
                $("input[name='index']").val(res.result[0].index)
                $(".write_modal").modal("show")
            }
        })
    })
    $(".add_jumbotron").on("click", function(){
        $("input[name='jumbotron_id']").val("")
        $("input[name='link']").val("")
        $("input[name='index']").val("")
        $(".write_modal").modal("show")
    })
    
    $(".add_jumbotron_item").on("click", function(){
        var id = $(this).closest("tr").attr("data-id")
        var formData = new FormData();
        formData.append("pc_image", $("#pc_image")[0].files[0]);
        formData.append("mobile_image", $("#mobile_image")[0].files[0]);
        formData.append("link", $("#link").val());
        formData.append("index", $("#index").val());
        formData.append("name", $("#name").val());
        formData.append("is_margin_top_exist", $("#is_margin_top_exist").is(":checked") );
        formData.append("type", "add_modify");
        formData.append("id", $("input[name=jumbotron_id]").val());  
        $.ajax({
            type:"post",
            enctype: 'multipart/form-data',
            processData: false,
            contentType: false,
            data:formData,
            success:function(res){          
                location.reload()      
            }
        })
    })
    


    $(".delete_btn").on("click", function(){
        if(confirm("메인 페이지 바로가기 이미지를 삭제하시겠습니까?")){
            $.ajax({
                type:"post",
                data:{
                    type:"delete",
                    id:$(this).closest("tr").attr("data-id"),
                },
                success:function(res){
                    console.log(res)
                    location.reload()
                }
            })
        }
    })
</script>
<style>
    .title{
        cursor: pointer;
    }
    .modify_btn{
        display: none;
        cursor: pointer;
    }
    tr:hover .modify_btn{
        display: inline-block;
    }
    .delete_btn{
        display: none;
        cursor: pointer;
    }
    tr:hover .delete_btn{
        display: inline-block;
    }
</style>
{% endblock %}