{% extends "shop_admin/base.html" %}

{% block content %}
{% include "shop_admin/components/add_product_js.html" %}     


<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">상품등록</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">쇼핑몰 관리</a></li>
                    <li class="breadcrumb-item active">상품등록</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="col-lg-12 ">
        <div class="card">
            <div class="card-body">
                <form id="add_product_form" action="" onsubmit="return false">
                {% include "shop_admin/components/add_product_category.html"  with product=product  %}     
                {% include "shop_admin/components/add_product_name.html"  with product=product  %}                   
                {% include "shop_admin/components/add_product_price.html"  with product=product  %}   
                {% include "shop_admin/components/add_product_option.html"  with product=product  %}  
                {% include "shop_admin/components/add_product_images.html"  with product=product  %}
                {% include "shop_admin/components/add_product_detail.html"  with product=product  %}
                {% include "shop_admin/components/add_product_delevery_policy.html" with delevery_policy=delevery_policy product=product %}
                {% include "shop_admin/components/add_product_additional_product.html" with additional_product=additional_product product=product %}
                {% include "shop_admin/components/add_product_point.html" with product=product %}
                <input id="submit"  class="btn btn-primary" style="float:right" value="제품 추가/저장">
                </form>
            </div>
        </div>
    </div>  
</div>
<!-- <div id="product_loading" class="d-flex justify-content-center " style="z-index:100000;width: 100%; height: 100%; background-color:rgba(0,0,0,0.3); top: 0px; left: 0px; position:absolute">
  <div class="spinner-border" style="margin-top: 50%" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div> -->

<script src="/static/admin/js/pages/form-advanced.init.js"></script>

<style>
    /* .repeater-add{
        position: absolute;
        bottom: 0px;
    } */
    .option_value::after{
        content:"delete";
        display: block;
        margin-left: 30px;
    }
    .product_img{
        width: 150px;
        height: 150px;
        border-radius: 10px;
        border: 2px solid rgba(0,0,255,0.5);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        cursor: pointer;
        margin-right: 20px;
        position: relative;
    }    
    .product_img .img{
        width: 130px;
        height: 130px;
        margin: 10px;
    }
    .product_img .remove_btn{
        position: absolute;
        top: 10px;
        right: 10px;
        border:2px solid #000;
        width: 20px;
        height: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 15px;;
        background-color: #fff;;
    }
    .note-editor.note-frame.panel.panel-default{
        width: 100%
    }
    .option_apply{
        width: 320px;
    }
</style>
<script>
function formatNumber(nStr) {
    //check for blank, use jquery trim for ie8 compat
    if ("" === $.trim(nStr)) {
        return 0;
    }
    // Check if it is a number
    if (!$.isNumeric(nStr)) {
        return nStr;      
    }
    nStr = parseInt(nStr).toLocaleString()  
    return nStr;
}

function initCommas() {
    // Cache document for better performance
    var $document = $(document);
    $document.on('blur', '.comma-format', function() {        
        // Format and place back into text
        var string = formatNumber($(this).val())     
        $(this).val((string).toString());
    });
}



$(document).ready(function () {
    initCommas();
    $(".data-toggle").change(function () {
        var target = $(this).attr("data-toggle-element") 
        if(this.checked){
            $(target).removeClass("d-none")
        }else{
            $(target).addClass("d-none")
        }
    })
 
    
    $('#summernote').summernote({height: 400});
    $('#summernote').summernote('code','{{product.detail|safe}}');
    $(".option_apply").click()

    
})
$("#submit").on("click", function(){   
    // if( get_option_data().number_input_option.need_to_input_option == true &&  get_option_data().select_option[0].name != ''  )
    // {
    //     alert("수치 입력 옵션과 셀렉트 옵션은 둘중 하나만 입력할 수 있습니다.")
    //     return false
    // }
   

    var detail = $("#summernote").summernote("code")
    var form_data = new FormData()
    form_data.append("category_list", $("input[name='category_list']").val() );
    form_data.append("name", $("input[name='name']").val() );
    form_data.append("showing_price", $("input[name='showing_price']").val() );
    
    form_data.append("discount", $("#square-switch1").is(":checked") );
    form_data.append("is_new", $("#is_new").is(":checked") );
    form_data.append("is_hot", $("#is_hot").is(":checked") );
    form_data.append("is_show", $("#is_show").is(":checked") );
    form_data.append("description_summary",  $("input[name='description_summary']").val()  );
    form_data.append("discount_price", $("input[name='discount_price']").val() );
    form_data.append("is_main_display", $("#is_main_display").is(":checked") );
    form_data.append("group", $("#product_group").val());
    form_data.append("group_specific_name", $("#group_specific_name").val());
    form_data.append("group_specific_index", $("#group_specific_index").val());

    form_data.append("is_group_main_product", $("#is_group_main_product").is(":checked"));

    form_data.append("template_file", $("input.template_file").eq(0).attr("data-file"));
     
    form_data.append("count_convention", $("input[name='count_convention']").val() );
    form_data.append("selling_range", $("input[name='selling_range']").val() );
    form_data.append("direct_receive_price", $("input[name='direct_receive_price']").val() );
    form_data.append("pre_parcel_price", $("input[name='pre_parcel_price']").val() );
    form_data.append("after_parcel_price", $("input[name='after_parcel_price']").val() );
    form_data.append("pre_quick_price", $("input[name='pre_quick_price']").val() );
    form_data.append("after_quick_price", $("input[name='after_quick_price']").val() );
    form_data.append("pre_carton_price", $("input[name='pre_carton_price']").val() );
    form_data.append("after_carton_price", $("input[name='after_carton_price']").val() );
    form_data.append("local_delivery_price", $("input[name='local_delivery_price']").val() );
    form_data.append("delivery_duration", $("input[name='delivery_duration']").val() );
    
    form_data.append("detail",  detail);

    form_data.append("point", $("input[name='point']").val() );
    form_data.append("option_data", JSON.stringify(get_option_data()) );
    form_data.append("additional_product_json_data", JSON.stringify(get_addtional_product_data()) );

    
    form_data.append("need_to_file_upload", $("#need_to_file_upload").is(":checked") );
    var img_list = []
    $(".product_img").find(".remove_btn").each(function(){
        img_list.push( $(this).attr("data-img-id") )
    })
    form_data.append("img_id_list", img_list )


    console.log(form_data)
    $.ajax({
        type:"post",
        data:form_data,
        cache:false,
        contentType: false,
        processData:false,
        success:function(res){
            console.log(res)
            alert("수정되었습니다.")
            location.href="/shop_admin/product_list"
        }
    })
})

</script>

{% endblock %}