{% extends "shop_admin/base.html" %}
{% load humanize %} 
{% load product_options %} 
{% block content %}
{% include "shop_admin/components/add_product_js.html" %}    

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">Orders</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Ecommerce</a></li>
                    <li class="breadcrumb-item active">Orders</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->



<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-12">
                        <table style="width: 100%;"> 
                            <tr>
                                <th style="width: 150px;">기간</th>
                                <td  style="width: calc(100%-150px);vertical-align: center; display: flex; align-items: center;">
                                    <div class="d-inline-block">           
                                        <span style="line-height: 30px;font-size: 13px;cursor: pointer;" data-selected="ALL" data-month="ALL" class="date badge badge-light {% if selected == "5" %}badge-primary{%endif%}">전체보기</span>
                                        <span style="line-height: 30px;font-size: 13px;cursor: pointer;" data-selected="TODAY" data-month="TODAY" class="date badge badge-light {% if selected == "2" %}badge-primary{%endif%}">오늘</span>
                                        <span style="line-height: 30px;font-size: 13px;cursor: pointer;" data-selected="-7" data-month="-7" class="date badge badge-light {% if selected == "3" %}badge-primary{%endif%}">지난 7일</span>
                                        <span style="line-height: 30px;font-size: 13px;cursor: pointer;" data-selected="-30" data-month="-30" class="date badge badge-primary {% if selected == "4" %}badge-primary{%endif%}">지난 30일</span>
                                        
                                      </div>     
                                      <div
                                      class=""
                                      style="display: flex; align-items: center; margin-left: 20px;"
                                    >
                                      <input
                                        type="text"
                                        id="datePicker"
                                        style="width: 125px"
                                        class="form-control"
                                        value="2021-01-01"
                                      />&nbsp;~&nbsp;
                                      <input
                                        type="text"
                                        id="datePicker2"
                                        style="width: 125px"
                                        class="form-control"
                                        value=""
                                      />
                                    </div>
                              </td>
                              </tr>
                              <tr>
                                  <th style="width: 150px;">진행 상태</th>
                                  <td  style="vertical-align: center;">                           
                                    
                                      <div style="display: inline-block; margin-top:10px">                                     
                                          <input name="category" id="cer_0" type="radio">  
                                          <label for="cer_0">전체</label> 
                                      </div>
                                      <div style="display: inline-block; margin-top:10px">                                     
                                        <input name="category" id="cer_1" type="radio" value="purchased">
                                        <label for="cer_1">결제 완료</label> 
                                    </div>
                                    <div style="display: inline-block; margin-top:10px">                                     
                                        <input name="category" id="cer_2" type="radio" value="creating">
                                        <label for="cer_2">제작 중</label> 
                                    </div>
                                    <div style="display: inline-block; margin-top:10px">                                     
                                        <input name="category" id="cer_3" type="radio" value="delievering">
                                        <label for="cer_3">출고 완료</label> 
                                    </div>
                                    
                                  </td>
                                </tr>
                                <tr>
                                    <th style="width: 150px;">상세 조건</th>
                                    <td  style="width: calc(100%-150px);vertical-align: center;">
                                      <input type="text" id="searchKeyword" class="form-control" style="width: 250px; display: inline-block;">&nbsp;&nbsp; *주문자명/주문번호/수취인명/휴대폰 뒷자리 4개
                                  </td>
                                  </tr>
                        </table>

                        <div class="col-12 " style="display: flex;justify-content: center;">                      
                          <button class="btn btn-danger" onclick="location.href='/shop_admin/order'">검색 초기화</button>
                          <button class="btn btn-primary ml-2 search">검색</button>
                        </div>
                      </div>
                      <div class="col-12 d-flex justify-content-end">
                        <div class="text-sm-right">
                            <button type="button" class="btn btn-primary btn-rounded waves-effect waves-light mb-2 mr-2 waves-effect waves-light" >발주확인 처리</button>                               
                        </div>
                        </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-centered table-nowrap" style="table-layout: unset;">
                        <thead class="thead-light">
                            <tr>      
                                <th>주문 일시<br>주문번호</th>                               
                                <th>수취인/연락처</th>
                                <th>결제 상품</th>     
                                <th>결제 방법</th>
                                <th>세금계산서<br>/현금영수증</th>
                                <th>출고예정일</th>                                
                                <th>배송방법</th>
                                <th>송장번호(택배사)</th>
                                <th>결제 금액</th>
                                <th>진행 상태</th>
                            
                            </tr>
                        </thead>
                        <tbody>
                            {% for purchase in order_list %}
          
          <tr class="order_row order_admin"   data-id="{{purchase.id}}">          
            
              <td class="order_num" style="width:120px;">{{purchase.created_at}}<br>{{purchase.iamport_id}}</td>
              <td>{{purchase.user.nickname}}님<br>{{purchase.user.phone}}</td>
              <td data-for="pur_{{purchase.id}}" class="order_product purchase_name" style="width:430px;cursor:pointer">{{purchase.get_purchase_name|safe}}</td>
              <td >{{purchase.payment_method}}</td>                     
              <td class="order_proof_method" data-proof="{{purchase.proof_method}}" ></td>  
              <td class="order_delivery_extimate_date" >
             
              </td>
              <td class="" >{{purchase.deliver_type}}</td>  
              <td class="" >
                <div style=" display: flex;
                flex-direction: row;
                width: 100%;
                justify-content: space-between;">
                    <select  class="form-control">
                        <option value="">미선택</option>
                        <option value="CJ">CJ</option>
                    </select>
                    <button class="btn">입력</button>
                </div>
                <input type="text"  class="form-control" placeholder="송장번호">
              </td>  
              <td>
                {{purchase.total_price|intcomma}}원
              </td>
              <td>
                {{purchase.get_purchase_status_display}}
              </td>
          </tr>

          <tr id="pur_{{purchase.id}}" class="purchase_detail hidden" style="margin: 5px;">
            <td colspan="10">
            <div class="row">
                <div class="col-7">
                    <div class="order_header">
                      <div class="order_check" style="border-right:none;width:10px;">
                    </div>
                      <div class="order_num" style="width:120px;">상품 이미지</div>
                      <div class="order_product" style="width:740px;">주문제품</div>
                      <div class="order_process" style="width:50px;">수량</div>
                      <div class="order_process">등록일자</div>
                      <div class="order_process" style="border-right:none">공급가액<br>(부가세)</div>
                    </div>
                    {% for item in purchase.purchaseitem_set.all %}
                        {% if  item.is_private == False %}
                        <div class="order_row"  data-id="{{item.id}}">
                        <div class="order_check" style="width:10px;"></div>
                        <div class="order_num" style="width:120px;"> <img src="{{item.get_product_image}}" style="width: 100px"></div>
                        <div class="order_product" style="width:740px;align-items:start; padding-left: 20px;"><a href="/product/detail/{{item.product.original_product_id}}">
                            <b>{% get_name_by_id item %}</b></a> 
                            {% for option in item.product.json.product_inner_option %}
                            {% if option.type == "design" %}
                            <span>디자인 : [{{ option.name }}]</span>
                            {%endif%}
                            {% endfor %}
                            <section>옵션 : 
                            {% for option in item.product.json.product_inner_option %} 
                            {% if option.type != "design" %} 
                            [{{option.type}} : {{ option.name }}]
                            {%endif%} 
                            {% endfor %}
                            </section>
                            <span>요청사항 : {% if item.product.comment != "" %} {{item.product.comment}} {% else %} 없음 {% endif %} </span>
                            <div class="flex-row"> <span>부속상품&nbsp;:&nbsp;</span><span class="additional_product_text">{{ item.get_additional_product  }}</span> </div>
                            {% if item.file_0 %}<a class="badge badge-primary" style="color:#fff!important" href="{{item.file_0.url}}" download>첨부파일</a>{% endif %}
                            {% if item.file_1 %}<a class="badge badge-primary" style="color:#fff!important" href="{{item.file_1.url}}" download>첨부파일</a>{% endif %}
                            {% if item.file_2 %}<a class="badge badge-primary" style="color:#fff!important" href="{{item.file_2.url}}" download>첨부파일</a>{% endif %}
                        </div>
                        <div class="order_process" style="width:50px;">{{ item.product.json.count }} </div>
            
                        <div class="order_price" style="font-size: 12px; width: 100px;;"
                            >{{ item.created_at|date:"Y-m-d" }}</div
                        >
                        <div class="order_process product_price">{{ item.product.total_price|intcomma }}원<br>
                        <span class="vat" style="display: none;">({{ item.product.vat|intcomma  }}원)</span></div>
                        </div>
                      {% else %}
                      <div class="order_row"  data-id="{{item.id}}">
                        <div class="order_check" style="width:10px;"></div>
                        <div class="order_num" style="width:120px;"> <img src="{{item.get_product_image}}" style="width: 100px"></div>
                        <div class="order_product" style="width:740px;align-items:start; padding-left: 20px;">
                            <b>{% get_name_by_id item %}</b>                           
                            <span>옵션 : {{ item.product.private_product_option }}</span>         
                            <span>요청사항 : {% if item.product.comment != "" %} {{item.product.comment}} {% else %} 없음 {% endif %} </span>
                            <div class="flex-row"> 
                                <span>부속상품&nbsp;:&nbsp;</span><span class="additional_product_text">
                                    {{ item.product.private_additional_product  }}</span> 
                                </div>
                            {% if item.file_0 %}<a class="badge badge-primary" style="color:#fff!important" href="{{item.file_0.url}}" download>첨부파일</a>{% endif %}
                            {% if item.file_1 %}<a class="badge badge-primary" style="color:#fff!important" href="{{item.file_1.url}}" download>첨부파일</a>{% endif %}
                            {% if item.file_2 %}<a class="badge badge-primary" style="color:#fff!important" href="{{item.file_2.url}}" download>첨부파일</a>{% endif %}
                        </div>
                        <div class="order_process" style="width:50px;">{{ item.product.private_product_count }} </div>
            
                        <div class="order_price" style="font-size: 12px; width: 100px;;"
                            >{{ item.created_at|date:"Y-m-d" }}</div
                        >
                        <div class="order_process product_price">{{ item.product.total_price|intcomma }}원<br>
                        <span class="vat" style="display: none;">({{ item.product.total_price|get_vat|intcomma  }}원)</span></div>
                        </div>
                     {% endif %}

                    {% endfor %}
                    </div>
                    <div class="col-5 purchase_info">
                        <table class="table" style="border-top: 2px solid #ddd;">
                            <tr>
                                <th>유저 아이디</th>
                                <td>{{purchase.user.nickname}}</td>
                                <th>유저 연락처</th>
                                <td>{{purchase.user.phone}}</td>
                            </tr>
                            <tr>
                                <th>결제 금액</th>
                                <td>{{purchase.total_price|intcomma}}원</td>
                                <th>환불 정보</th>
                                <td>({{purchase.user.refund_bank}})-{{purchase.user.refund_account}} {{purchase.user.refund_account_owner}}</td>
                            </tr>
                            <tr>
                                <th>주문자 이름</th>
                                <td>{{purchase.sender_name}}</td>
                                <th>주문자 연락처</th>
                                <td>{{purchase.sender_tel}}</td>
                            </tr>
                            <tr>
                                <th>발송지</th>
                                <td colspan="3">({{purchase.sender_postal_code}}){{purchase.sender_address_simple}} {{purchase.sender_address_detail}}</td>
                               
                            </tr>
                            <tr>
                                <th>배송 방법</th>
                                <td>{{purchase.deliver_type}}</td>
                                <th>수취인 이름</th>
                                <td>{{purchase.name}}</td>
                               
                            </tr>
                            <tr>
                                <th>수취인 연락처</th>
                                <td>{{purchase.phone}}</td>
                                <th></th>
                                <td></td>
                                </tr>
                            <tr>
                                <th>배송지</th>
                                <td colspan="3">({{purchase.postal_code}}){{purchase.address_simple}} {{purchase.address_detail}}</td>
                            </tr>
                            
                            <tr>
                                <th>배송 요청사항</th>
                                <td colspan="3">{{purchase.comment}}</td>
                            </tr>
                            <tr>
                                <th>결제 및 증빙</th>
                                <td colspan="3">
                                    {% if purchase.payment_method == "undefined" %} 이니시스 결제 {% else %} 무통장 입금 {% endif %}
                                    {% if purchase.payment_method != "undefined" %}
                                        <br>- {% if purchase.proof_method == "현금영수증-소득공제"  %} 
                                              현금영수증-소득공제(이름:{{purchase.user.proof_name}}, 핸드폰:{{purchase.user.proof_tel}})
                                              {% endif %} 
                                              {% if purchase.proof_method == "현금영수증-지출증빙"  %} 
                                              현금영수증-지출증빙(법인:{{purchase.user.proof_company_name}}, 사업자등록번호:{{purchase.user.proof_company_num}})
                                              {% endif %} 
                                              {% if purchase.proof_method == "세금계산서"  %} 
                                                세금계산서({{purchase.user.proof_email}}<a href="{{purchase.user.proof_file_url}}" class="badge badge-primary" download>사업자등록증</a>)
                                              {% endif %} 
                                              {% if purchase.proof_method == "증빙없음"  %} 
                                                증빙없음
                                              {% endif %} 
                                    {% endif %}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </td>
          </tr>
          {% endfor %}
                   
                        </tbody>
                    </table>
                </div>
                <ul class="pagination pagination-rounded justify-content-end mb-2">
                    {% for item in total_page %}
                    <li onclick="location.href='/shop_admin/order?page={{item}}'" class="page-item {% if forloop.counter == page  %}active{% endif%}"><a class="page-link" href="javascript: void(0);">{{item}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- end row -->
</div> <!-- container-fluid -->
</div>
<!-- Modal -->
<div class="modal fade" id="order_status_modal" tabindex="-1" role="dialog" aria-labelledby="order_status_modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">주문상태 변경</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="hidden" id="purchase" >
          <span data-status="cancel" class="badge badge-secondary">취소</span>
          <span data-status="before-withdraw" class="badge badge-secondary ">입금 대기중</span>
          <span data-status="after-withdraw" class="badge badge-secondary ">결제 완료</span>
          <span data-status="creating" class="badge badge-secondary ">상품 준비중</span>
          <span data-status="delivering" class="badge badge-secondary ">출고 완료</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-submit">변경내역 저장</button>
        </div>
      </div>
    </div>
  </div>
<!-- End Page-content -->
<script>
    $(document).ready(function(){
        $(".order_proof_method").each(function(){
            let text =""
            if(   $(this).attr("data-proof").includes("현금") ) text = "현금영수증"
            if(   $(this).attr("data-proof").includes("세금") ) text = "세금계산서"
            if(   $(this).attr("data-proof").includes("카드") ) text = "카드결제"
            
            
            $(this).text( 
              text
             )
        })
        $(".purchase_name").on("click", function(){
            var target = $(this).attr("data-for")
            $("#"+target).toggleClass("hidden")
        })
        $(".order_status").on("click", function(){
            $("#order_status_modal").modal("show")
            $("#purchase").val( $(this).closest(".order_row").attr("data-id") )
        })
        $(document).on("click",".badge", function(){
            $(".badge").removeClass("badge-primary")
            $(".badge").addClass("badge-secondary")
            $(this).removeClass("badge-secondary")
            $(this).addClass("badge-primary")
        })
        $(".btn-submit").on("click", function(){
            console.log(  $("#purchase").val() )
            console.log( $(".badge-primary").attr("data-status") )
            $.ajax({
                url:"/shop_admin/ajax_order_status",
                data:{
                    id:$("#purchase").val(),
                    status : $(".badge-primary").attr("data-status") 
                },
                success:function(res){
                    alert("변경되었습니다.")
                    location.reload()
                }
            })
        })
        function dateFormat(date) {
        let month = date.getMonth() + 1;
        let day = date.getDate();
        let hour = date.getHours();
        let minute = date.getMinutes();
        let second = date.getSeconds();

        month = month >= 10 ? month : '0' + month;
        day = day >= 10 ? day : '0' + day;
        hour = hour >= 10 ? hour : '0' + hour;
        minute = minute >= 10 ? minute : '0' + minute;
        second = second >= 10 ? second : '0' + second;

        return date.getFullYear() + '-' + month + '-' + day ;
  }
  var date_option = {
      format: "yyyy-mm-dd", //데이터 포맷 형식(yyyy : 년 mm : 월 dd : 일 )
      // startDate: '-10d',	//달력에서 선택 할 수 있는 가장 빠른 날짜. 이전으로는 선택 불가능 ( d : 일 m : 달 y : 년 w : 주)
      // endDate: '+10d',	//달력에서 선택 할 수 있는 가장 느린 날짜. 이후로 선택 불가 ( d : 일 m : 달 y : 년 w : 주)
      autoclose: true, //사용자가 날짜를 클릭하면 자동 캘린더가 닫히는 옵션
      calendarWeeks: false, //캘린더 옆에 몇 주차인지 보여주는 옵션 기본값 false 보여주려면 true
      clearBtn: false, //날짜 선택한 값 초기화 해주는 버튼 보여주는 옵션 기본값 false 보여주려면 true
      // datesDisabled : ['2019-06-24','2019-06-26'],//선택 불가능한 일 설정 하는 배열 위에 있는 format 과 형식이 같아야함.
      // daysOfWeekDisabled : [0,6],	//선택 불가능한 요일 설정 0 : 일요일 ~ 6 : 토요일
      // daysOfWeekHighlighted : [3], //강조 되어야 하는 요일 설정
      disableTouchKeyboard: false, //모바일에서 플러그인 작동 여부 기본값 false 가 작동 true가 작동 안함.
      immediateUpdates: false, //사용자가 보는 화면으로 바로바로 날짜를 변경할지 여부 기본값 :false
      multidate: false, //여러 날짜 선택할 수 있게 하는 옵션 기본값 :false
      multidateSeparator: ",", //여러 날짜를 선택했을 때 사이에 나타나는 글짜 2019-05-01,2019-06-01
      // templates : {
      //     leftArrow: '&laquo;',
      //     rightArrow: '&raquo;'
      // }, //다음달 이전달로 넘어가는 화살표 모양 커스텀 마이징
      showWeekDays: true, // 위에 요일 보여주는 옵션 기본값 : true
      // title: "테스트",	//캘린더 상단에 보여주는 타이틀
      todayHighlight: true, //오늘 날짜에 하이라이팅 기능 기본값 :false
      toggleActive: true, //이미 선택된 날짜 선택하면 기본값 : false인경우 그대로 유지 true인 경우 날짜 삭제
      weekStart: 0, //달력 시작 요일 선택하는 것 기본값은 0인 일요일
      language: "ko", //달력의 언어 선택, 그에 맞는 js로 교체해줘야한다.
      orientation: "bottom left",
    
    };
    $.datepicker.setDefaults({
        dayNames: ['일요일', '월요일', '화요일', '수요일', '목요일', '금요일', '토요일'],
        dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
        monthNamesShort: ['1','2','3','4','5','6','7','8','9','10','11','12'],
        monthNames: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'],
        yearSuffix: '년',
        dateFormat: 'yy-mm-dd',
        showMonthAfterYear:true,
        constrainInput: true
    });
    $("#datePicker").datepicker();
    $("#datePicker2").datepicker();
    $("#datePicker").datepicker();
    $("#datePicker2").datepicker();
    $("#datePicker2").datepicker("setDate","today");

    $(".date").on("click", function(){
      $(".date").removeClass("badge-primary")
      $(".date").addClass("badge-light")
      $(this).addClass("badge-primary")
      $(this).removeClass("badge-light")
      if( $(this).attr("data-selected")=="ALL" ){ $("#datePicker").datepicker("setDate",new Date( "2021-01-01" )); }
      if( $(this).attr("data-selected")=="-7" ){ $("#datePicker").datepicker("setDate","-7D");  }
      if( $(this).attr("data-selected")=="-30" ){ $("#datePicker").datepicker("setDate","-30D");  }
      if( $(this).attr("data-selected")=="TODAY" ){ $("#datePicker").datepicker("setDate","today");  }
      var month = $(".mypage_filter .badge-primary").attr("data-month")
    })

    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const type = urlParams.get('type')

    if(type)$("input[value="+type+"]").click()
    else{ $("#cer_0").click()  }
    $(".search").on("click", function (){
        let value = $("input[name='type']:checked").val()
        location.href="/shop_admin/order?type="+ (value?value:"") +"&q="+$("#searchKeyword").val()+"&date_from="+ $("#datePicker").val()+"&date_to="+ $("#datePicker2").val()+"&selected="+$(".badge-primary").attr("data-selected")
    })
    })
</script>
<style>
    .badge{
        font-size: 16px;
        cursor: pointer;
    }
    .hidden{
        display: none;
    }
    .order_header {
    display: flex;
    width: 100%;
    text-align: center;
}
.order_header div {
    font-weight: bold;
    padding: 5px 0px;
    border: 1px solid #ddd;
    border-top: 2px solid #ddd;
    border-left: none;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}
.order_header .order_num {
    width: 160px;
    border-left: 0px solid #fff;
}
.order_header .order_process {
    width: 100px;
}
.order_row {
    display: flex;
    width: 100%;
    text-align: center;
    font-size: 14px;
    text-align: center;
    padding: 10px 0px;
}
.order_row div {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
.order_row .order_process {
    width: 100px;
}

.order_row.order_admin{
    display: revert!important;
}
th{
    text-align: center;
}
.table{
    table-layout: fixed;
}
.purchase_info{
    
}
.purchase_info dt,.purchase_info dl {
    float: left;
}
.purchase_info dt{
    width: 200px;
}
.purchase_info dl{
    width: 400px;
}
.order_status{
    cursor: pointer;
}

</style>

{% endblock %}