{% extends "shop_admin/base.html" %}
{% load humanize %} 
{% load product_options %} 
{% block content %}
{% include "shop_admin/components/add_product_js.html" %}    

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">Orders</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Ecommerce</a></li>
                    <li class="breadcrumb-item active">Orders</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->



<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-sm-4">
                        <div class="search-box mr-2 mb-2 d-inline-block">
                            <div class="position-relative">
                                <input type="text" class="form-control" placeholder="Search...">
                                <i class="bx bx-search-alt search-icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <!-- <div class="text-sm-right">
                            <button type="button" class="btn btn-success btn-rounded waves-effect waves-light mb-2 mr-2 waves-effect waves-light" 
                            onclick="location.href='/shop_admin/add_order'"
                            > <i class="mdi mdi-plus mr-1"></i>작업지시서 등록</button>                               
                        </div> -->
                    </div><!-- end col-->
                </div>
                <div class="table-responsive">
                    <table class="table table-centered table-nowrap">
                        <thead class="thead-light">
                            <tr>                               
                                <th>결제 일시<br>결제 ID</th>                               
                                <th>결제 유저 이름</th>
                                <th>결제 상품</th>                               
                                <th>결제 금액</th>
                                <th>진행 상태</th>
                                <th>삭제</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for purchase in order_list %}
          
          <tr class="order_row order_admin"   data-id="{{purchase.id}}">           
              <td class="order_num" style="width:120px;">{{purchase.created_at}}<br>{{purchase.iamport_id}}</td>
              <td>{{purchase.user.nickname}}님</td>
              <td data-for="pur_{{purchase.id}}" class="order_product purchase_name" style="width:430px;cursor:pointer">{{purchase.get_purchase_name}}</td>
              <td class="order_process" style="width:150px;">{{purchase.total_price|intcomma}}원</td>        
              <td class="order_price order_status" style="border-right:1px solid #ddd">{{purchase.get_purchase_status_display}}</td>
              <td>삭제</td>
          </tr>

          <tr id="pur_{{purchase.id}}" class="purchase_detail hidden" style="margin: 5px;">
            <td colspan="6">
            <div class="row">
                <div class="col-7">
                    <div class="order_header">
                      <div class="order_check" style="border-right:none;width:10px;"></div>
                      <div class="order_num" style="width:120px;">상품 이미지</div>
                      <div class="order_product" style="width:740px;">주문제품</div>
                      <div class="order_process" style="width:50px;">수량</div>
                      <div class="order_process">등록일자</div>
                      <div class="order_process" style="border-right:none">공급가액<br>(부가세)</div>
                    </div>
                  
                    {% for item in purchase.purchaseitem_set.all %}
                    <div class="order_row"  data-id="{{item.id}}">
                      <div class="order_check" style="width:10px;"></div>
                      <div class="order_num" style="width:120px;"> <img src="{{item.get_product_image}}" style="width: 100px"></div>
                      <div class="order_product" style="width:740px;align-items:start; padding-left: 20px;"><a href="/product/detail/{{item.product.original_product_id}}">
                   
                   
                        <b>{% get_name_by_id item %}</b></a> 
                        {% for option in item.product.json.product_inner_option %}
                        {% if option.type == "design" %}
                        <span>디자인 : [{{ option.name }}]</span>
                        {%endif%}
                        {% endfor %}
                        <section>옵션 : 
                        {% for option in item.product.json.product_inner_option %} 
                        {% if option.type != "design" %} 
                          [{{option.type}} : {{ option.name }}]
                        {%endif%} 
                        {% endfor %}
                        </section>
                        <span>요청사항 : {% if item.product.comment != "" %} {{item.product.comment}} {% else %} 없음 {% endif %} </span>
                        <div class="flex-row"> <span>부속상품&nbsp;:&nbsp;</span><span class="additional_product_text">{{ item.get_additional_product  }}</span> </div>
                        {% if item.file_0 %}<a class="badge badge-primary" style="color:#fff!important" href="{{item.file_0.url}}" download>첨부파일</a>{% endif %}
                        {% if item.file_1 %}<a class="badge badge-primary" style="color:#fff!important" href="{{item.file_1.url}}" download>첨부파일</a>{% endif %}
                        {% if item.file_2 %}<a class="badge badge-primary" style="color:#fff!important" href="{{item.file_2.url}}" download>첨부파일</a>{% endif %}
                   

                    </div>
                    <div class="order_process" style="width:50px;">{{ item.product.json.count }} </div>
         
                      <div class="order_price" style="font-size: 12px; width: 100px;;"
                        >{{ item.created_at|date:"Y-m-d" }}</div
                      >
                      <div class="order_process product_price">{{ item.product.total_price|intcomma }}원<br>
                      <span class="vat" style="display: none;">({{ item.product.vat|intcomma  }}원)</span></div>
                    </div>
                    {% endfor %}
                    </div>
                    <div class="col-5 purchase_info">
                        <table class="table" style="border-top: 2px solid #ddd;">
                            <tr>
                                <th>유저 아이디</th>
                                <td>{{purchase.user.nickname}}</td>
                                <th>유저 연락처</th>
                                <td>{{purchase.user.phone}}</td>
                            </tr>
                            <tr>
                                <th>결제금액</th>
                                <td>{{purchase.total_price}}</td>
                                <th>환불 정보</th>
                                <td>({{purchase.user.refund_bank}})-{{purchase.user.refund_account}} {{purchase.user.refund_account_owner}}</td>
                            </tr>
                            <tr>
                                <th>주문자 이름</th>
                                <td>{{purchase.sender_name}}</td>
                                <th>주문자 연락처</th>
                                <td>{{purchase.sender_tel}}</td>
                            </tr>
                            <tr>
                                <th>발송지</th>
                                <td colspan="3">({{purchase.sender_postal_code}}){{purchase.sender_address_simple}} {{purchase.sender_address_detail}}</td>
                               
                            </tr>
                            <tr>
                                <th>배송 방법</th>
                                <td>{{purchase.deliver_type}}</td>
                                <th>수취인 이름</th>
                                <td>{{purchase.name}}</td>
                               
                            </tr>
                            <tr>
                                <th>수취인 연락처</th>
                                <td>{{purchase.tel}}<br>{{purchase.phone}}</td>
                                <th>수취인 이메일</th>
                                <td>{{purchase.email}}</td>
                                </tr>
                            <tr>
                                <th>배송지</th>
                                <td colspan="3">({{purchase.postal_code}}){{purchase.address_simple}} {{purchase.address_detail}}</td>
                            </tr>
                            
                            <tr>
                                <th>배송 요청사항</th>
                                <td colspan="3">{{purchase.comment}}</td>
                            </tr>
                            <tr>
                                <th>결제 및 증빙</th>
                                <td colspan="3">
                                    {% if purchase.payment_method == "undefined" %} 이니시스 결제 {% else %} 무통장 입금 {% endif %}
                                    {% if purchase.payment_method != "undefined" %}
                                        <br>- {% if purchase.proof_method == "현금영수증-소득공제"  %} 
                                              현금영수증-소득공제(이름:{{purchase.user.proof_name}}, 핸드폰:{{purchase.user.proof_tel}})
                                              {% endif %} 
                                              {% if purchase.proof_method == "현금영수증-지출증빙"  %} 
                                              현금영수증-지출증빙(법인:{{purchase.user.proof_company_name}}, 사업자등록번호:{{purchase.user.proof_company_num}})
                                              {% endif %} 
                                              {% if purchase.proof_method == "세금계산서"  %} 
                                                세금계산서({{purchase.user.proof_email}}<a href="{{purchase.user.proof_file_url}}" class="badge badge-primary" download>사업자등록증</a>)
                                              {% endif %} 
                                              {% if purchase.proof_method == "증빙없음"  %} 
                                                증빙없음
                                              {% endif %} 
                                              
                                              
                                              
                                    {% endif %}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </td>
          </tr>
          {% endfor %}
                   
                        </tbody>
                    </table>
                </div>
                <ul class="pagination pagination-rounded justify-content-end mb-2">
                    {% for item in total_page %}
                    <li onclick="location.href='/shop_admin/order?page={{item}}'" class="page-item {% if forloop.counter == page  %}active{% endif%}"><a class="page-link" href="javascript: void(0);">{{item}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- end row -->
</div> <!-- container-fluid -->
</div>
<!-- Modal -->
<div class="modal fade" id="order_status_modal" tabindex="-1" role="dialog" aria-labelledby="order_status_modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">주문상태 변경</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <input type="hidden" id="purchase" >
          <span data-status="cancel" class="badge badge-secondary">취소</span>
          <span data-status="creating" class="badge badge-secondary ">제작중</span>
          <span data-status="delievering" class="badge badge-secondary ">배송중</span>
          <span data-status="complete" class="badge badge-secondary ">완료</span>
          <span data-status="refund-delievering" class="badge badge-secondary ">환불-배송중</span>
          <span data-status="refund-complete" class="badge badge-secondary ">환불완료</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-submit">변경내역 저장</button>
        </div>
      </div>
    </div>
  </div>
<!-- End Page-content -->
<script>
    $(document).ready(function(){
        $(".purchase_name").on("click", function(){
            var target = $(this).attr("data-for")
            $("#"+target).toggleClass("hidden")
        })
        $(".order_status").on("click", function(){
            $("#order_status_modal").modal("show")
            $("#purchase").val( $(this).closest(".order_row").attr("data-id") )
        })
        $(document).on("click",".badge", function(){
            $(".badge").removeClass("badge-primary")
            $(".badge").addClass("badge-secondary")
            $(this).removeClass("badge-secondary")
            $(this).addClass("badge-primary")
        })
        $(".btn-submit").on("click", function(){
            console.log(  $("#purchase").val() )
            console.log( $(".badge-primary").attr("data-status") )
            $.ajax({
                url:"/shop_admin/ajax_order_status",
                data:{
                    id:$("#purchase").val(),
                    status : $(".badge-primary").attr("data-status") 
                },
                success:function(res){
                    alert("변경되었습니다.")
                    location.reload()
                }
            })
        })
    })
</script>
<style>
    .badge{
        font-size: 16px;
        cursor: pointer;
    }
    .hidden{
        display: none;
    }
    .order_header {
    display: flex;
    width: 100%;
    text-align: center;
}
.order_header div {
    font-weight: bold;
    padding: 5px 0px;
    border: 1px solid #ddd;
    border-top: 2px solid #ddd;
    border-left: none;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}
.order_header .order_num {
    width: 160px;
    border-left: 0px solid #fff;
}
.order_header .order_process {
    width: 100px;
}
.order_row {
    display: flex;
    width: 100%;
    text-align: center;
    font-size: 14px;
    text-align: center;
    padding: 10px 0px;
}
.order_row div {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
.order_row .order_process {
    width: 100px;
}

.order_row.order_admin{
    display: revert!important;
}
th{
    text-align: center;
}
.table{
    table-layout: fixed;
}
.purchase_info{
    
}
.purchase_info dt,.purchase_info dl {
    float: left;
}
.purchase_info dt{
    width: 200px;
}
.purchase_info dl{
    width: 400px;
}
.order_status{
    cursor: pointer;
}

</style>

{% endblock %}