{% extends "shop_admin/base.html" %}
{% load product_options %} 
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">디자인 확인</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Ecommerce</a></li>
                    <li class="breadcrumb-item active">Orders</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2"> 
                    <div class="col-sm-4">
                        <div class="search-box mr-2 mb-2 d-inline-block">
                            <div class="position-relative">
                                <input type="text" class="form-control" placeholder="Search...">
                                <i class="bx bx-search-alt search-icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="text-sm-right">
                            <button type="button"
                                class="btn btn-success btn-rounded waves-effect waves-light mb-2 mr-2 add_notice"><i
                                    class="mdi mdi-plus mr-1"></i> Add New Notice</button>
                        </div>
                    </div><!-- end col-->
                </div>

                <div class="table-responsive">
                    <table class="table table-centered table-nowrap">
                        <thead class="thead-light">
                            <tr>
                                <th style="width: 20px;">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                                        <label class="custom-control-label" for="customCheck1">&nbsp;</label>
                                    </div>
                                </th>
                                <th style="width: 100px">회사/단체명</th>
                                <th style="width: 100px">제안자명</th>
                                <th>이메일</th>
                                <th>연락처</th>
                                <th>제목</th>
                                <th>첨부파일</th>
                                <th>작성일자</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in partner_inquiry_list %}
                            <tr data-id="{{item.id}}">
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck2">
                                        <label class="custom-control-label" for="customCheck2">&nbsp;</label>
                                    </div>
                                 
                                </td>
                                <td style="text-align: center;">
                                    {{item.company_name}}
                                   
                                </td>
                                <td class="text-body font-weight-bold  align-items-center"  > 
                                    {{item.manager_name}}
                                   
                                </td>
                                <td class="text-body font-weight-bold align-items-center"  > 
                                    {{item.email}}                                   
                                </td>
                                <td class="text-body font-weight-bold align-items-center"  > 
                                    {{item.tel}}                                   
                                </td>
                                <td class="text-body font-weight-bold  align-items-center title"  > 
                                    {{item.title}}                                   
                                </td>
                                <td>                                   
                                    {% if item.file %}
                                        <a class="badge badge-primary" href="{{item.file.url}}" target="_blank" style="margin-right: 20px;" download>첨부파일</a>  
                                    {% endif %}                             
                                </td>
                                <td>{{item.created_at}}</td>                              
                            </tr>
                            <tr id="content_{{item.id}}" class="hidden">
                                <td></td>
                                <td colspan="7">
                                    {{item.contents|safe}}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <ul class="pagination pagination-rounded justify-content-end mb-2">
                    <li class="page-item disabled">
                        <a class="page-link" href="javascript: void(0);" aria-label="Previous">
                            <i class="mdi mdi-chevron-left"></i>
                        </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="javascript: void(0);">1</a></li>
                    <li class="page-item"><a class="page-link" href="javascript: void(0);">2</a></li>
                    <li class="page-item"><a class="page-link" href="javascript: void(0);">3</a></li>
                    <li class="page-item"><a class="page-link" href="javascript: void(0);">4</a></li>
                    <li class="page-item"><a class="page-link" href="javascript: void(0);">5</a></li>
                    <li class="page-item">
                        <a class="page-link" href="javascript: void(0);" aria-label="Next">
                            <i class="mdi mdi-chevron-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- end row -->
</div> <!-- container-fluid -->
</div>
<!-- End Page-content -->


<script>
     $(".title").on("click", function(){   
        var id = $(this).closest("tr").attr("data-id")
        $("#content_"+id).toggleClass("hidden")
    })
 

</script>
<style>
    .hidden{
        display: none;
    }
    .title{
        cursor: pointer;
    }
    .modify_btn{
        display: none;
        cursor: pointer;
    }
    tr:hover .modify_btn{
        display: inline-block;
    }
    .delete_btn{
        display: none;
        cursor: pointer;
    }
    tr:hover .delete_btn{
        display: inline-block;
    }
    .reply_title{
        margin-top:20px;
        padding-top: 10px;
        border-top:1px solid #ddd;
    }
</style>
{% endblock %}