{% extends "shop_admin/base.html" %}
{% load humanize %} 
{% block content %}
{% include "shop_admin/components/add_product_js.html" %}    

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">상품 리스트</h4>

        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-12">
                      <table style="width: 100%;"> 
                          <tr>
                              <th style="width: 150px;">검색어</th>
                              <td  style="width: calc(100%-150px);vertical-align: center;">
                                <input type="text" class="form-control" id="searchKeyword" style="width: 250px; display: inline-block;" value="{{ q | safe}}">
                            </td>
                            </tr>
                            <tr>
                                <th style="width: 150px;">대분류 카테고리</th>
                                <td  style="vertical-align: center;">
                                <div style="display: inline-block; margin-top:10px">

                                        <input name="category" id="ca-0" type="radio" value=""  >
                                        <label for="ca-0">전체</label>
                                    </div>
                                    {% for i in category_list %} 
                                    <div style="display: inline-block; margin-top:10px">

                                        <input name="category" id="ca{{forloop.counter0}}" type="radio" value="{{ i.id }}"  >
                                        <label for="ca{{forloop.counter0}}">{{i.name}}</label>
                                    </div>
                                    {% endfor %}
                                </td>
                              </tr>
                      </table>
                      <div class="col-12 " style="display: flex;justify-content: center;">                      
                        <button class="btn btn-danger" onclick="location.href='/shop_admin/product_list'">검색 초기화</button>
                        <button  class="btn btn-primary ml-2 search">검색</button>
                      </div>
                    </div>
                    <div class="col-12 d-flex justify-content-end">
                        <div class="text-sm-right">
                            <button type="button" class="btn btn-primary btn-rounded waves-effect waves-light mb-2 mr-2 waves-effect waves-light" 
                            ></i>선불택배 일괄변경</button>                               
                        </div>
                        <div class="text-sm-right">
                            <button type="button" class="btn btn-primary btn-rounded waves-effect waves-light mb-2 mr-2 waves-effect waves-light" 
                            > </i>제작일정 일괄변경</button>                               
                        </div>
                        <div class="text-sm-right">
                            <button type="button" class="btn btn-danger btn-rounded waves-effect waves-light mb-2 mr-2 waves-effect waves-light" 
                            ></i>비노출 처리</button>                               
                        </div>
                        <div class="text-sm-right">
                            <button type="button" class="btn btn-warning btn-rounded waves-effect waves-light mb-2 mr-2 waves-effect waves-light" 
                            ></i>품절 처리</button>                               
                        </div>
                        <div class="text-sm-right">
                            <button type="button" class="btn btn-success btn-rounded waves-effect waves-light mb-2 mr-2 waves-effect waves-light" 
                            onclick="location.href='/shop_admin/add_product'"
                            > <i class="mdi mdi-plus mr-1"></i>상품 등록</button>                               
                        </div>
                    </div><!-- end col-->
                </div>
                
                <div class="table-responsive">
                    <table class="table table-centered table-nowrap">
                        <thead class="thead-light">
                            <tr>
                                <th style="width: 20px;">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                                        <label class="custom-control-label" for="customCheck1">&nbsp;</label>
                                    </div>
                                </th>
                                <th>카테고리</th>  
                                <th>상품 이름</th>
                                <th>보조 설명</th> 
                                <th>상품 가격</th> 
                                <th>판매 가격</th> 
                                <th>조회 수</th> 

                                <th>판매 수</th>
                                <th>노출 여부</th>
                                <th>노출 순서</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in product_list%}

                            <tr data-show-index="{{ item.show_index }}" style="{% if item.group != None and item.is_group_main_product == False %}display:none{% endif %}">
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck2">
                                        <label class="custom-control-label" for="customCheck2">&nbsp;</label>
                                    </div>
                                </td>
                                <td>
                                    {{item.category}}
                                </td>                          
                                <td><a href="/shop_admin/modify_product/{{item.id}}" target="_blank" class="text-body font-weight-bold">{{item.name}}</a>
                                    {% if item.group %}<br>
                                        {% for s in item.group.group_product_set_id_list %}
                                            <span class="btn "
                                                  style="margin-left: 3px;display: inline-block;line-height: 10px; padding: 5px 10px; border-radius: 20px;border: 1px solid #666 " onclick="window.open('/shop_admin/modify_product/{{ s.id }}'); return false">
                                                {{ s.group_specific_name }}</span>
                                        {% endfor %}
                                    {% endif %}
                                </td>
                                <td>{{item.description_summary}}</td>
                                <td>{{item.showing_price|intcomma}}</td>                             
                                <td>{{item.discount_price|intcomma}}</td>  
                                <td>{{item.view_count}}</td>             
                                <td>{{item.sell_count}}</td>                
                                <td>
                                    {% if item.is_show == True %} <span style="color: blue;">노출</span> {%else%} <span style="color: red;">비노출</span> {% endif %}
                                </td>
                                <td> <input class="form-control show_index" style="width: 60px" data-id="{{item.id}}" value="{{item.show_index}}"></td>        
                                <td style="display: flex; align-items: center">
                                    <a href="/shop_admin/modify_product/{{item.id}}" class=" text-primary" data-toggle="tooltip"
                                        data-placement="top" title="" data-original-title="Edit"><i
                                            class="mdi mdi-pencil font-size-18"></i></a>
                                    <a href="javascript:void(0);" data-id="{{item.id}}" class="delete_btn" class="text-danger" data-toggle="tooltip"
                                        data-placement="top" title="" data-original-title="Delete"><i
                                            class="mdi mdi-close font-size-18"></i></a>
                                    <a href="javascript:void(0);" data-id="{{item.id}}" class="copy_btn" class="text-danger" data-toggle="tooltip"
                                            data-placement="top" title="" data-original-title="Copy"><i
                                            class="mdi mdi-checkbox-multiple-marked-outline font-size-18"></i></a>
                                    <span style="display: flex; flex-direction: column; margin-left: 5px">
                                        <span class="upward" style="cursor: pointer">△</span>
                                        <span class="downward" style="cursor: pointer">▽</span>
                                    </span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <ul class="pagination pagination-rounded justify-content-end mb-2">
            
                    {% for item in total_page %}
                    <li class="page-item {% if item == page%}active{%endif%}"><a class="page-link" href="/shop_admin/product_list?page={{item}}&cat={{ category|safe }}&q={{ q }}">{{item}}</a></li>
                    {% endfor %}
                 
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- end row -->
</div> <!-- container-fluid -->
</div>
<!-- End Page-content -->
<script>
const queryString = window.location.search;
const urlParams = new URLSearchParams(queryString);
const cat = urlParams.get('cat')
if(cat)$("input[value="+cat+"]").click()
$(".search").on("click", function (){
    let value = $("input[name='category']:checked").val()
    location.href="/shop_admin/product_list?cat="+ (value?value:"") +"&q="+$("#searchKeyword").val()
})
$(".upward").on("click", function (){
    $.ajax({
        url:"/shop_admin/change_product_index",
        type:"post",
        data:{
            direction:"upward",
            show_index : $(this).closest("tr").attr("data-show-index")
        },
        success:function (res){
            console.log(res)
            location.reload()
        }
    })
})
$(".show_index").on("keyup", function(e){
    if(e.keyCode == 13){
        $.ajax({
        url:"/shop_admin/change_product_index",
        type:"post",
        data:{
            show_index: $(this).val(),
            id : $(this).attr("data-id")
        },
        success:function (res){
            console.log(res)
            location.reload()
        }
    })
    }
})
$(".downward").on("click", function (){
    $.ajax({
        url:"/shop_admin/change_product_index",
        type:"post",
        data:{
            direction:"downward",
            show_index : $(this).closest("tr").attr("data-show-index")
        },
        success:function (res){
            console.log(res)
            location.reload()
        }
    })
})
    $(".delete_btn").on("click", function(){
        $.ajax({
            type:"post",
            data:{
                method:"delete",
                id:$(this).attr("data-id")
            },
            success:function(res){
                alert("삭제되었습니다.")
                location.reload()
            }
        })
    })
    $(".copy_btn").on("click", function(){
        $.ajax({
            type:"post",
            data:{
                method:"COPY",
                id:$(this).attr("data-id")
            },
            success:function(res){
                alert("복사되었습니다.")
                location.reload()
            }
        })
    })
    $("#searchKeyword").on("keyup", function(e){
        if(e.keyCode == 13){
            $("#search").click()
        }
    })
    $("#search").on("click", function(){
        location.href=location.origin + location.pathname+"?q="+$("#searchKeyword").val()+"&cat="+$("input[name=category]:checked").val()+"&page=1"
    })
</script>
{% endblock %}