{% extends "shop_admin/base.html" %}

{% block content %}
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">상품 그룹 관리</h4>
        </div>
    </div>
    
</div>   		   


<!-- end page title -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <di
             class="card-body">
                <div class="row mb-2">
                    <div class="col-sm-4">                      
                    </div>
                    <div class="col-sm-8 flex justify-content-end" style="display: flex;">
                        <button class="btn btn-primary add_group">상품 그룹 등록</button>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-centered table-nowrap">
                        <thead class="thead-light">
                            <tr>
                                <th style="width: 20px;">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                                        <label class="custom-control-label" for="customCheck1">&nbsp;</label>
                                    </div>
                                </th>
                                <th>이름</th>
                                <th>포함된 상품</th>
                                <th>수정</th>
                                <th>삭제</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in group_list %}
                            <tr class="group_list" data-id="{{item.id}}">
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck2">
                                        <label class="custom-control-label" for="customCheck2">&nbsp;</label>
                                    </div>
                                </td>
                                <th  style="width: 300px;" class="group_name">{{item.name|safe}}
                                    </th>
                                <th style=" flex-wrap:nowrap">
                                    <div style="display: flex;">
                                        {% for i in item.product_set %}
                                        <div style="display:flex; align-items:center; margin-right: 10px;">
                                            <span class="btn " 
                                                style="margin-right: 5px;display: inline-block;line-height: 10px; padding: 5px 10px; border-radius: 20px;border: 1px solid #666 " onclick="window.open('/shop_admin/modify_product/{{ i.id }}'); return false">
                                                {{ i.group_specific_name }} 
                                            </span>
                                            {{i.name}}
                                        </div>
                                        {% endfor %}
                                    </div>
                                </th>
                                <td>
                                  <button class="btn modify_group">수정</button>
                                </td>
                                <td>
                                    <button class="btn btn-warning delete_group">삭제</button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>              
            </div>
        </div>
    </div>
</div>
<!-- end row -->
</div> <!-- container-fluid -->
</div>
<!-- End Page-content -->


<div class="modal fade write_modal" tabindex="-1" role="dialog" 
    aria-labelledby="read_notice" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">        
                <input type="hidden" id="group_id">      
                <input placeholder="상품 그룹 이름을 입력해주세요." type="text" id="name" class="form-control modal-title mt-0">
                <button type="button" class="btn btn-primary add_group_item" style="width: 170px;"> 그룹 등록/수정 </button>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
       
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
 
    $(".add_group").on("click", function(){
        $("#name").val("")
        $("#group_id").val( "")
        $(".write_modal").modal("show")
        $(".add_group_item").text("그룹 등록")
    })
    $(".modify_group").on("click", function(){
        let text = $(this).closest("tr").find(".group_name").first().text().trim()
        $("#name").val(text)
        $("#group_id").val( $(this).closest("tr").attr("data-id")  )
        $(".add_group_item").text("그룹 수정")
        $(".write_modal").modal("show")
    })
    $(".add_group_item").on("click", function(){
        var formData = new FormData();
        formData.append("id", $("#group_id").val());
        formData.append("name", $("#name").val());
   
        $.ajax({
            type:"post",
            url:"/shop_admin/product_group" + ($("#group_id").val()?"/"+$("#group_id").val():"") ,
            processData: false,
            contentType: false,
            data:formData,
            success:function(res){          
                location.reload()      
            }
        })
    })
    


    $(".delete_group").on("click", function(){
        if(confirm("상품 그룹을 삭제하시겠습니까?")){
            $.ajax({
                type:"delete",
                url:"/shop_admin/product_group/"+$(this).closest("tr").attr("data-id"),
                data:{
                   
                    id:$(this).closest("tr").attr("data-id"),
                },
                success:function(res){
                    console.log(res)
                    location.reload()
                }
            })
        }
    })
</script>
<style>
    .title{
        cursor: pointer;
    }
    .modify_btn{
        display: none;
        cursor: pointer;
    }
    tr:hover .modify_btn{
        display: inline-block;
    }
    .delete_btn{
        display: none;
        cursor: pointer;
    }
    tr:hover .delete_btn{
        display: inline-block;
    }
</style>
{% endblock %}