{% extends "shop_admin/base.html" %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />
<script src="https://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">샘플 이미지 대량 업로드</h4>       
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-sm-4">                      
                    </div>
                </div>

                <div class="table-responsive">
                    <div style="display: flex; width: 700px;margin-bottom: 10px;;">
                        <select class="form-control" id="cat_0">
                            {% for i in cat_0 %}
                            <option value="{{i.id}}">{{i}}</option>
                            {% endfor %}
                        </select>
                        <select class="form-control" id="cat_1">
                            {% for i in cat_1 %}
                            <option value="{{i.id}}">{{i}}</option>
                            {% endfor %}
                        </select>
                        <button id="btnSubmit" style="width:150px;" class="btn btn-primary ml-2 search">업로드</button>
                        <br>
                        
                    </div>
                    *.샘플이미지 아이디는 파일명 기준 입니다.<br>
                    *.샘플이미지 파일명은 [이미지소싱 사이트]-[이미지소싱 사이트의 아이디]로 작성해주세요 <br>
                    *.이미지소싱 사이트 - 아이클릭아트 : IC, 피노 자체 제작 : PN<br>
                    *.EX : 아이클릭아트의 2343170 샘플 이미지 인 경우 파일명은 IC-2343170 입니다.<br>

                    <div id="drop" style="border:1px solid #ddd; width:100%; min-height:300px; padding:3px; margin-top: 20px;;">
                      <div id="placeholder">파일 drag & drop</div>
                      <div id="thumbnails">
                      </div>
                    </div>
                </div>              
            </div>
        </div>
    </div>
</div>
<!-- end row -->
</div> <!-- container-fluid -->
</div>
<!-- End Page-content -->

 
<script>
    var uploadFiles = [];
var $drop = $("#drop");
$drop.on("dragenter", function(e) {  //드래그 요소가 들어왔을떄
  $(this).addClass('drag-over');
}).on("dragleave", function(e) {  //드래그 요소가 나갔을때
  $(this).removeClass('drag-over');
}).on("dragover", function(e) {
  e.stopPropagation();
  e.preventDefault();
}).on('drop', function(e) {  //드래그한 항목을 떨어뜨렸을때
    $("#placeholder").detach()
  e.preventDefault();
  $(this).removeClass('drag-over');
  var files = e.originalEvent.dataTransfer.files;  //드래그&드랍 항목
  for(var i = 0; i < files.length; i++) {
    var file = files[i];
    var size = uploadFiles.push(file);  //업로드 목록에 추가
    preview(file, size - 1);  //미리보기 만들기
  }  
});
function preview(file, idx) {
  var reader = new FileReader();
  reader.onload = (function(f, idx) {
    return function(e) {
      var div = '<div class="thumb"> \
        <div class="close" data-idx="' + idx + '">x</div> \
        <img src="' + e.target.result + '" title="' + escape(f.name) + '"/> \
      </div>';
      $("#thumbnails").append(div);
    };
  })(file, idx);
  reader.readAsDataURL(file);
}
$("#btnSubmit").on("click", function() {
  var formData = new FormData();
  formData.append('cat_0',$("#cat_0").val());
  formData.append('cat_1',$("#cat_1").val());
  
  $.each(uploadFiles, function(i, file) {
    if(file.upload != 'disable')  //삭제하지 않은 이미지만 업로드 항목으로 추가
      formData.append('upload-file', file, file.name);
  });
  $.ajax({
    url: '/shop_admin/sample_image_bulk_upload',
    data : formData,
    type : 'post',
    contentType : false,
    processData: false,
    success : function(ret) {
      alert("샘플이미지가 업로드 되었습니다.");
      location.reload()
    }
  });
});
$("#thumbnails").on("click", ".close", function(e) {
  var $target = $(e.target);
  var idx = $target.attr('data-idx');
  uploadFiles[idx].upload = 'disable';  //삭제된 항목은 업로드하지 않기 위해 플래그 생성
  $target.parent().remove();  //프리뷰 삭제
});
</script>
<style>
    #placeholder{
        width: 100%;
        padding: 10px;;
        min-height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        font-weight: 600;
    }
    #thumbnails{
        display: flex;
        flex-wrap: wrap;
    }
    .drag-over { background-color: #ff0; }
.thumb { width:200px; padding:5px;  position: relative; }
.thumb > img { width:100%; }
.thumb > .close {       position: absolute;
    background-color: red;
    cursor: pointer;
    padding: 5px;
    border-radius: 28px;
    line-height: 16px;
    padding-top: 0px;
    right: 0px; }

    .title{
        cursor: pointer;
    }
    .modify_btn{
        display: none;
        cursor: pointer;
    }
    tr:hover .modify_btn{
        display: inline-block;
    }
    .delete_btn{
        display: none;
        cursor: pointer;
    }
    tr:hover .delete_btn{
        display: inline-block;
    }
</style>
{% endblock %}