{% extends "shop_admin/base.html" %}

{% block content %}

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">거래처 관리</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">고객관리</a></li>
                    <li class="breadcrumb-item active">거래처 관리</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->
<div class="row">
    <div class="col-xl-4">
        <div class="card overflow-hidden">
            <div class="bg-soft-primary">
                <div class="row">
                    <div class="col-7">
                        <div class="text-primary p-3">
                            <h5 class="text">관련 태그</h5>
                            <span class="badge badge-primary">우수 고객</span>
                            <span class="badge badge-primary">충북 큰손</span>
                            <span class="badge badge-danger">데이터 자주 틀림</span>
                            <span class="badge badge-danger">전화 응대 힘듦</span>
                        </div>
                    </div>
                    <div class="col-5 align-self-end">
                        <img src="/static/admin/img/profile-img.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="card-body pt-0">
                <div class="row">
                    <div class="col-sm-4 mt-4">
                        <!-- <div class="avatar-md profile-user-wid mb-4">
                            <img src="/static/admin/img/users/avatar-1.jpg" alt=""
                                class="img-thumbnail rounded-circle">
                        </div> -->
                        <h5 class="font-size-15 text-truncate">김간판</h5>
                        <p class="text-muted mb-0 text-truncate">서울시 노원구</p>
                    </div>

                    <div class="col-sm-8">
                        <div class="pt-4">

                            <div class="row">
                                <div class="col-4">
                                    <h5 class="font-size-15">125 건</h5>
                                    <p class="text-muted mb-0">거래 횟수</p>
                                </div>
                                <div class="col-4">
                                    <h5 class="font-size-15">1,000</h5>
                                    <p class="text-muted mb-0">총 거래액<br>(만원)</p>
                                </div>
                                <div class="col-4">
                                    <h5 class="font-size-15 text-danger">1,000</h5>
                                    <p class="text-muted mb-0">미수금<br>(만원)</p>
                                </div>
                            </div>
                            <!-- <div class="mt-4">
                                <a href="" class="btn btn-primary waves-effect waves-light btn-sm">View Profile <i
                                        class="mdi mdi-arrow-right ml-1"></i></a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end card -->

        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">회원 메모 사항</h4>

                <p class="text-muted mb-4">
                    김빌런씨는 포토샵이 없다. 김빌런씨는 손그림으로 전달해준다. 무슨 이야기인지 알아듣기가 어렵다. 김빌런씨는 맨날 1점만 준다.
                </p>
                <div class="table-responsive">
                    <table class="table table-nowrap mb-0">
                        <tbody>
                            <tr>
                                <th scope="row">회원 아이디 :</th>
                                <td>CynthiaPrice</td>
                            </tr>
                            <tr>
                                <th scope="row">핸드폰 :</th>
                                <td>123-123-1234</td>
                            </tr>
                            <tr>
                                <th scope="row">이메일 :</th>
                                <td>cynthiaskote@gmail.com</td>
                            </tr>
                            <tr>
                                <th scope="row">주소 :</th>
                                <td>서울시 동대문구 전농동 </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- end card -->

        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-5">거래 분야</h4>
                <div class="">
                    <ul class="verti-timeline list-unstyled">
                        <li class="event-list active">
                            <div class="event-timeline-dot">
                                <i class="bx bx-right-arrow-circle"></i>
                                <!-- <i class="bx bx-right-arrow-circle bx-fade-right"></i> -->
                            </div>
                            <div class="media">
                                <div class="mr-3">
                                    <i class="bx bx-server h4 text-primary"></i>
                                </div>
                                <div class="media-body">
                                    <div>
                                        <h5 class="font-size-15"><a href="#" class="text-dark">아크릴</a>
                                        </h5>
                                        <!-- <span class="text-primary">2016 - 19</span> -->
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="event-list">
                            <div class="event-timeline-dot">
                                <i class="bx bx-right-arrow-circle"></i>
                            </div>
                            <div class="media">
                                <div class="mr-3">
                                    <i class="bx bx-code h4 text-primary"></i>
                                </div>
                                <div class="media-body">
                                    <div>
                                        <h5 class="font-size-15"><a href="#" class="text-dark">후렘</a>
                                        </h5>
                                        <!-- <span class="text-primary">2013 - 16</span> -->
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="event-list">
                            <div class="event-timeline-dot">
                                <i class="bx bx-right-arrow-circle"></i>
                            </div>
                            <div class="media">
                                <div class="mr-3">
                                    <i class="bx bx-edit h4 text-primary"></i>
                                </div>
                                <div class="media-body">
                                    <div>
                                        <h5 class="font-size-15"><a href="#" class="text-dark">실사출력</a></h5>
                                        <!-- <span class="text-primary">2011 - 13</span> -->
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <!-- end card -->
    </div>

    <div class="col-xl-8">

        <div class="row">
            <div class="col-md-4">
                <div class="card mini-stats-wid">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body">
                                <p class="text-muted font-weight-medium">제작중</p>
                                <h4 class="mb-0">125건</h4>
                            </div>

                            <div class="mini-stat-icon avatar-sm align-self-center rounded-circle bg-primary">
                                <span class="avatar-title">
                                    <i class="bx bx-check-circle font-size-24"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mini-stats-wid">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body">
                                <p class="text-muted font-weight-medium">배송중</p>
                                <h4 class="mb-0">12건</h4>
                            </div>

                            <div class="avatar-sm align-self-center mini-stat-icon rounded-circle bg-primary">
                                <span class="avatar-title">
                                    <i class="bx bx-hourglass font-size-24"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mini-stats-wid">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body">
                                <p class="text-muted font-weight-medium">이번달 거래액</p>
                                <h4 class="mb-0">$36,524</h4>
                            </div>

                            <div class="avatar-sm align-self-center mini-stat-icon rounded-circle bg-primary">
                                <span class="avatar-title">
                                    <i class="bx bx-package font-size-24"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">거래액 통계</h4>
                <div id="revenue-chart" class="apex-charts"></div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">구매 이력</h4>
                <div class="table-responsive">
                    <table class="table table-nowrap table-hover mb-0">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">작업지시서</th>
                                <th scope="col">주문일</th>
                                <th scope="col">배송일</th>
                                <th scope="col">거래액</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Skote admin UI</td>
                                <td>2 Sep, 2019</td>
                                <td>20 Oct, 2019</td>
                                <td>$506</td>
                            </tr>

                            <tr>
                                <th scope="row">2</th>
                                <td>Skote admin Logo</td>
                                <td>1 Sep, 2019</td>
                                <td>2 Sep, 2019</td>
                                <td>$94</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Redesign - Landing page</td>
                                <td>21 Sep, 2019</td>
                                <td>29 Sep, 2019</td>
                                <td>$156</td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>App Landing UI</td>
                                <td>29 Sep, 2019</td>
                                <td>04 Oct, 2019</td>
                                <td>$122</td>
                            </tr>
                            <tr>
                                <th scope="row">5</th>
                                <td>Blog Template</td>
                                <td>05 Oct, 2019</td>
                                <td>16 Oct, 2019</td>
                                <td>$164</td>
                            </tr>
                            <tr>
                                <th scope="row">6</th>
                                <td>Redesign - Multipurpose Landing</td>
                                <td>17 Oct, 2019</td>
                                <td>05 Nov, 2019</td>
                                <td>$192</td>
                            </tr>
                            <tr>
                                <th scope="row">7</th>
                                <td>Logo Branding</td>
                                <td>04 Nov, 2019</td>
                                <td>05 Nov, 2019</td>
                                <td>$94</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end row -->

</div> <!-- container-fluid -->

<script src="/static/admin/js/libs/apexcharts/apexcharts.min.js"></script>
<script src="/static/admin/js/pages/profile.init.js"></script>

{% endblock %}