{% extends "shop_admin/base.html" %}
{% load sass_tags %} 
{% block content %}
{% include "shop_admin/components/add_product_js.html" %}     
<script src="/static/admin/js/pages/form-advanced.init.js"></script>
<script src="/static/admin/js/libs/select2/js/select2.min.js"></script>
<link
  href="{% sass_src 'css/mypage.scss' %}"
  rel="stylesheet"
  type="text/css"
/>

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">고객 관리</h4>

        </div>
    </div>
</div>
<!-- end page title -->
<div class="row">

    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-12">
                        <table style="width: 100%;"> 
                            <tr>
                                <th style="width: 150px;">가입 일자</th>
                                <td  style="width: calc(100%-150px);vertical-align: center; display: flex; align-items: center;">
                                    <div class="d-inline-block">           
                                        <span style="line-height: 30px;font-size: 13px;cursor: pointer;" data-selected="ALL" data-month="all" class="date badge badge-light {% if selected == "5" %}badge-primary{%endif%}">전체보기</span> 
                                        <span style="line-height: 30px;font-size: 13px;cursor: pointer;" data-selected="TODAY" data-month="-1m" class="date badge badge-light {% if selected == "2" %}badge-primary{%endif%}">오늘</span>
                                        <span style="line-height: 30px;font-size: 13px;cursor: pointer;" data-selected="-7" data-month="-3m" class="date badge badge-light {% if selected == "3" %}badge-primary{%endif%}">지난 7일</span>
                                        <span style="line-height: 30px;font-size: 13px;cursor: pointer;" data-selected="-30" data-month="-6m" class="date badge badge-primary {% if selected == "4" %}badge-primary{%endif%}">지난 30일</span>         
                                        
                                      </div>     
                                      <div
                                      class=""
                                      style="display: flex; align-items: center; margin-left: 20px;"
                                    >
                                      <input
                                        type="text"
                                        id="datePicker"
                                        style="width: 125px"
                                        class="form-control"
                                        value="2019-06-27"
                                      />&nbsp;~&nbsp;
                                      <input
                                        type="text"
                                        id="datePicker2"
                                        style="width: 125px"
                                        class="form-control"
                                        value=""
                                      />
                                    </div>
                              </td>
                              </tr>
                              <tr>
                                  <th style="width: 150px;">회원 인증</th>
                                  <td  style="vertical-align: center;">                           
                                    
                                      <div style="display: inline-block; margin-top:10px">                                     
                                          <input name="type" id="cer_0" type="radio" value="">
                                          <label for="cer_0">전체</label> 
                                      </div>
                                      <div style="display: inline-block; margin-top:10px">                                     
                                        <input name="type" id="cer_1" type="radio" value="false">
                                        <label for="cer_1">인증대기</label> 
                                    </div>
                                    <div style="display: inline-block; margin-top:10px">                                     
                                        <input name="type" id="cer_2" type="radio" value="true">
                                        <label for="cer_2">인증완료</label> 
                                    </div>

                                  </td>
                                </tr>
                                <tr>
                                    <th style="width: 150px;">상세 조건</th>
                                    <td  style="width: calc(100%-150px);vertical-align: center;">
                                      <input type="text" class="form-control" style="width: 250px; display: inline-block;"  id="searchKeyword" value="{{ q|safe }}">&nbsp;&nbsp; *이름/아이디/휴대폰 뒷자리 4개
                                  </td>
                                  </tr>
                        </table>

                        <div class="col-12 " style="display: flex;justify-content: center;">                      
                          <button class="btn btn-danger" onclick="location.href='/shop_admin/user_list'">검색 초기화</button>
                          <button class="btn btn-primary ml-2 search">검색</button>
                        </div>
                      </div>
                      <div class="col-12 d-flex justify-content-end">
                        <div class="text-sm-right">
                            <button type="button" class="btn btn-primary btn-rounded waves-effect waves-light mb-2 mr-2 waves-effect waves-light" >사업자 인증 처리</button>                               
                        </div>
                        </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-centered table-nowrap table-hover">
                        <thead class="thead-light">
                            <tr>                              
                                <th scope="col"><input type="checkbox"></th>
                                <th scope="col">회원가입일</th>
                                <th scope="col">가입형태</th>
                                <th scope="col">아이디(이메일)</th>
                                <th scope="col">이름/연락처</th>                                
                                <th scope="col">사업자 인증 서류</th>
                                <th scope="col">업종</th>
                                <th scope="col">주소</th>                             
                                <th scope="col">최종 로그인 일시</th>                   
                                <th scope="col">회원 인증</th>                   
                            
                            </tr>
                        </thead>
                        <tbody>
                            {%  for item in user_list %}
                            <tr>        
                                <td>
                                    <input type="checkbox">
                                </td>              
                                <td>
                                    {{ item.date_joined|date:"y.m.d" }}
                                </td>           
                                <td>
                                    {{ item.sns_login_type|default:"일반" }}
                                </td>
                                <td>
                                    <div>
                                      {{ item.username }}
                                    </div>
                                </td>
                                
                                <td>
                                    <h5 class="font-size-14 mb-1"><a href="/shop_admin/user_detail" class="text-dark">{{ item.nickname  }}</a></h5>
                                    <p class="text-muted mb-0">{{ item.phone }}</p>
                                </td>
                                <td>
                                    작가/기업명 : {{ item.proof_name|default:"" }}<br>
                                    인스타그램: {{item.proof_sns|default:""}}<br>
                                    {% if  item.proof_file %}
                                    <a href="{{ item.proof_file.url }}" target="_blank">작가/사업자 인증 첨부파일</a>
                                    {% endif %}
                                 </td>
                                 <td>
                                    {{ item.company_type|default:"" }}
                                </td>
                                <td>
                                    {{ item.address_simple|default:"" }}<br> {{ item.address_detail|default:"" }}
                                </td>
                                <td>
                                    {{ item.last_login|default:"" }}
                                </td>  
                                <td>
                                    {% if item.is_certified %}
                                        <a data-id="{{item.id}}" data-value="{{item.is_certified}}"  class="is_certified badge badge-soft-primary font-size-11 m-1">
                                           인증</a>
                                      {% else %}
                                        <a data-id="{{item.id}}" data-value="{{item.is_certified}}"  class="is_certified badge badge-soft-danger font-size-11 m-1">
                                           미인증</a>
                                      {% endif %}
                                  </td>
                                                  
                      
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                          <ul class="pagination pagination-rounded justify-content-end mb-2">

                    {% for item in total_page %}
                    <li class="page-item {% if item == page%}active{%endif%}"><a class="page-link" href="/shop_admin/user_list?page={{item}}&q={{ q }}">{{item}}</a></li>
                    {% endfor %}

                </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div> <!-- container-fluid -->
<script>
const queryString = window.location.search;
const urlParams = new URLSearchParams(queryString);
const type = urlParams.get('type')

if(type)$("input[value="+type+"]").click()
else{ $("#cer_0").click()  }
$(".search").on("click", function (){
    let value = $("input[name='type']:checked").val()
    location.href="/shop_admin/user_list?type="+ (value?value:"") +"&q="+$("#searchKeyword").val()+"&date_from="+ $("#datePicker").val()+"&date_to="+ $("#datePicker2").val()+"&selected="+$(".badge-primary").attr("data-selected")
})

    $(".is_certified").on("click", function(){
        $.ajax({
            url:"/shop_admin/user_list",
            method:"POST",
            data:{"data-target":"is_certified","id":$(this).attr("data-id"), "data-value": $(this).attr("data-value")==="False"?true:false },
            success:function(res){
                if(res.result == "ok"){
                    alert("회원 인증 상태가 변경되었습니다.")
                    location.reload()
                }
            }
        })
    })
    function dateFormat(date) {
        let month = date.getMonth() + 1;
        let day = date.getDate();
        let hour = date.getHours();
        let minute = date.getMinutes();
        let second = date.getSeconds();

        month = month >= 10 ? month : '0' + month;
        day = day >= 10 ? day : '0' + day;
        hour = hour >= 10 ? hour : '0' + hour;
        minute = minute >= 10 ? minute : '0' + minute;
        second = second >= 10 ? second : '0' + second;

        return date.getFullYear() + '-' + month + '-' + day ;
  }
  var date_option = {
      format: "yyyy-mm-dd", //데이터 포맷 형식(yyyy : 년 mm : 월 dd : 일 )
      // startDate: '-10d',	//달력에서 선택 할 수 있는 가장 빠른 날짜. 이전으로는 선택 불가능 ( d : 일 m : 달 y : 년 w : 주)
      // endDate: '+10d',	//달력에서 선택 할 수 있는 가장 느린 날짜. 이후로 선택 불가 ( d : 일 m : 달 y : 년 w : 주)
      autoclose: true, //사용자가 날짜를 클릭하면 자동 캘린더가 닫히는 옵션
      calendarWeeks: false, //캘린더 옆에 몇 주차인지 보여주는 옵션 기본값 false 보여주려면 true
      clearBtn: false, //날짜 선택한 값 초기화 해주는 버튼 보여주는 옵션 기본값 false 보여주려면 true
      // datesDisabled : ['2019-06-24','2019-06-26'],//선택 불가능한 일 설정 하는 배열 위에 있는 format 과 형식이 같아야함.
      // daysOfWeekDisabled : [0,6],	//선택 불가능한 요일 설정 0 : 일요일 ~ 6 : 토요일
      // daysOfWeekHighlighted : [3], //강조 되어야 하는 요일 설정
      disableTouchKeyboard: false, //모바일에서 플러그인 작동 여부 기본값 false 가 작동 true가 작동 안함.
      immediateUpdates: false, //사용자가 보는 화면으로 바로바로 날짜를 변경할지 여부 기본값 :false
      multidate: false, //여러 날짜 선택할 수 있게 하는 옵션 기본값 :false
      multidateSeparator: ",", //여러 날짜를 선택했을 때 사이에 나타나는 글짜 2019-05-01,2019-06-01
      // templates : {
      //     leftArrow: '&laquo;',
      //     rightArrow: '&raquo;'
      // }, //다음달 이전달로 넘어가는 화살표 모양 커스텀 마이징
      showWeekDays: true, // 위에 요일 보여주는 옵션 기본값 : true
      // title: "테스트",	//캘린더 상단에 보여주는 타이틀
      todayHighlight: true, //오늘 날짜에 하이라이팅 기능 기본값 :false
      toggleActive: true, //이미 선택된 날짜 선택하면 기본값 : false인경우 그대로 유지 true인 경우 날짜 삭제
      weekStart: 0, //달력 시작 요일 선택하는 것 기본값은 0인 일요일
      language: "ko", //달력의 언어 선택, 그에 맞는 js로 교체해줘야한다.
      orientation: "bottom left",
    
    };
    $.datepicker.setDefaults({
        dayNames: ['일요일', '월요일', '화요일', '수요일', '목요일', '금요일', '토요일'],
        dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'], 
        monthNamesShort: ['1','2','3','4','5','6','7','8','9','10','11','12'],
        monthNames: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'],
        yearSuffix: '년',
        dateFormat: 'yy-mm-dd',
        showMonthAfterYear:true,
        constrainInput: true   
    });
    $("#datePicker").datepicker();
    $("#datePicker2").datepicker();
    $("#datePicker2").datepicker("setDate","today");
    $(".date").on("click", function(){
      $(".date").removeClass("badge-primary")
      $(".date").addClass("badge-light")
      $(this).addClass("badge-primary")
      $(this).removeClass("badge-light")
      if( $(this).attr("data-selected")=="ALL" ){ $("#datePicker").datepicker("setDate",new Date( "2021-01-01" )); }  
      if( $(this).attr("data-selected")=="-7" ){ $("#datePicker").datepicker("setDate","-7D");  }      
      if( $(this).attr("data-selected")=="-30" ){ $("#datePicker").datepicker("setDate","-30D");  }    
      if( $(this).attr("data-selected")=="TODAY" ){ $("#datePicker").datepicker("setDate","today");  }    
      var month = $(".mypage_filter .badge-primary").attr("data-month")
    })
</script>
<style>
    .delete_basket{
      cursor: pointer;
    }
    .search_con_mypage{
      position: relative;
      justify-content: space-around;
     
    }
    .search_con_mypage input{
      width: 300px;
      height: 38px;
      background-color: #fff;
      border: 1px solid #ddd;
      padding-left: 25px;
      font-size: 15px;;
     
    }
   
    .search_con_mypage .icon{
      width: 25px;
      height: 25px;  
    }
    .purchase_detail table{
      width: 100%;
      margin-top: 10px;
    }
    .purchase_detail table th.section_title{
      padding: 20px 10px;
      border-bottom : 1px solid #ddd;
      border-top: 2px solid #52277247;
      min-width: 25%; 
    }
    .purchase_detail table th{
      min-width: 25%; 
      padding: 20px;
      
    }
  
    .purchase_detail table td{
      padding: 20px;
      min-width: 25%;
      font-size: 15px;;
    } 
    .price_header{
      font-weight: lighter;
    }
    .price_content {
      font-weight: lighter;
    }
    .purchase_detail .order_header div{
      border-color: #52277247;
    }
    .price_header{
      text-align: center;
    }
    .price_content {
      text-align: center;
    }
    .modal-xl {
      max-width: 919px!important;
    }
  
  </style>
{% include "shop_admin/common/components/modal/add_user.html" %}
{% endblock %}