@media screen and  (min-width: 601px) {
    .custom_order{
        .board_info{
            margin-bottom: 20px;
            .board_count{
                font-size: 20px;
            }
        }
        .table{
            display: table;
            table-layout: fixed;
            width: 100%;
            &.board , &.board_view {
                border-top: 3px solid #162446;
                .head{
                    .cell{
                        text-align: center;
                        font-size: 18px;
                        font-weight: bold;
                        color: #000;
                        display: table-cell;
                        vertical-align: middle;
                        border-bottom: 1px solid #bfbfbf;
                        padding: 27px 10px;
                        &.num{
                            padding-left: 50px;
                            width: 10%;
                        }
                        &.category{
                            color: #000;
                            width: 20%;   
                            font-weight: bold;
                        }
                        &.tit{
                            width: 45%;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            text-align: center;
                        }
                        &.date{
                            width: 15%;
                        }
                        &.count{
                            padding-right: 50px;
                            width: 12%;
                        }
                    }
                }     
               
                .cell{
                    text-align: center;
                    font-size: 18px;               
                    color: #000;
                    display: table-cell;
                    vertical-align: middle;
                    border-bottom: 1px solid #bfbfbf;
                    padding: 27px 10px;
                    &.num{
                        padding-left: 50px;
                        width: 10%;
                    }
                    &.category{
                        color: #000;
                        width: 20%;   
                        font-weight: bold;
                    }
                    &.tit{
                        width: 45%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        text-align: left;
                       
                    }
                    &.date{
                        width: 15%;
                    }
                    &.count{
                        padding-right: 50px;
                        width: 12%;
                    }
                }
              
            }
            .row {
                display: table-row;
                width: 100%;
            }
        }
    
        
    }
    .custom_order.write{
        .head{
            .cell{
                display:block!important;
                width:100%!important;
                padding: 27px 10px!important;
                text-align: left!important;
                float: left;
                label{
                    margin-bottom: 6px;
                }
                input:not([type=file]){
                    width: calc(100% - 100px);
                    height: 44px;
                    border-radius: 8px;
                    background-color: #EEEEEE;
                    border: none;
                    padding-left: 45px;
                    margin-left: 20px;
                }
                &.width_33{
                    width: 33%!important;
                }
                &.count.width_33{
                    padding-top: 38px!important;width:calc(100% - 66%)!important
                }
                input[type=radio]{
                    height: 15px;;
                    width: initial;

                }
            }
        }

    }
    .custom_order_detail{
        .board_view {
            border-top: 3px solid #000;
            .cell {
                border-bottom: 1px solid #bfbfbf;
                padding: 25px 35px;
                display: table-cell;
                vertical-align: middle;
                width: 100%;
                &.tit{
                    width: 100%;
                    p{
                        margin-bottom: 25px;
                        color: #162446;
                        font-size: 20px;
                        font-weight: bold;
                    }
                }
                dl{
                    zoom: 1;

                }
            }
        }
        .board_view .cell dl dt, .board_view .cell dl dd {
            float: left;
        }
        .board_view .cell.tit>dl>dt {
            margin-right: 9px;
            margin-left: 7px;
        }
        .board_view .cell.tit>dl>dt:first-child {
            margin-left: 0;
        }
   
        .board_view .cell.tit>dl>dt {
            margin-right: 9px;
            margin-left: 7px;
        }
        .board_view .cell.tit>dl>dt:before {
            margin-right: 8px;
            display: inline-block;
            content: '';
            width: 1px;
            height: 12px;
            background-color: #000;
        }
        .board_view .cell dl:after {
            display: block;
            clear: both;
            content: '';
        }
        .table {
            display: table;
            table-layout: fixed;
            width: 100%;
        }
    }
 }  
  
 @media screen and  (max-width: 600px) {
    .custom_order{
        .board_info{
            margin-top: 20px;
            .board_count{
                font-size: 14px;
            }
        }
        .table{
            display: table;
            table-layout: fixed;
            width: 100%;
            &.board , &.board_view {
                border-top: 3px solid #162446;
                .row{ 
                    width: 100%;
                    display: block;
                    padding: 12px;
                    border-bottom: 1px solid #bfbfbf;
                }
                .head{
                    display: none;
                    .cell{
                        text-align: center;
                        font-size: 18px;
                        font-weight: bold;
                        color: #000;
                        display: table-cell;
                        vertical-align: middle;
                        border-bottom: 0 none;
                        padding: 0;
                        &.num{
                            padding-left: 50px;
                            width: 10%;
                            display: none;
                        }
                        &.category{
                            width: 100%;
                            text-align: left;
                            margin-bottom: 6px;
                            font-weight: bold;
                            font-size: 18px;
                            border-bottom: 0 none;                         
                        }
                        &.tit{
                            width: 100%;
                            margin-bottom: 6px;
                            text-align: center;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            p{
                                margin-bottom: 5px;
                                font-size: 16px;
                                font-weight: bold;
                                color: #162446;

                            }
                            dt{
                                margin-left: 0;
                                margin-right: 9px;
                                float: left;
                                font-size: 13px;
                            }
                            
                            dl:after{
                                display: block;
                                clear: both;
                                content: '';
                            }
                        }
                        &.date{
                            width: 100%;
                            text-align: right;
                            border-bottom: 0 none;

                        }
                        &.count{
                            display: none;

                        }
                    }
                }     
               
                .cell{
                    text-align: center;
                    font-size: 14px;
                    font-weight: bold;
                    color: #000;                   
                    vertical-align: middle;
                    border-bottom: 0 none;
                    padding: 0;
                    &.num{
                        padding-left: 50px;
                        width: 10%;
                        display: none;
                    }
                    &.category{
                        width: 100%;
                        text-align: left;
                        margin-bottom: 6px;       
                        color: #2d7983;
                        font-weight: bold;       
                        border-bottom: 0 none;

                    }
                    &.tit{
                        width: 100%;
                        margin-bottom: 6px;
                        text-align: left;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;

                    }
                    &.date{
                        width: 100%;
                        text-align: right;
                        border-bottom: 0 none;

                    }
                    &.count{
                        display: none;

                    }
                }
            }
            .row {
                display: table-row;
                width: 100%;
            }
        }
    
        
    }
    .sub_content {
        padding-top: 35px;
        .layout {
            width: auto;
            margin: 0 auto;
            padding: 0 15px;
        }
        .board_view {
            border-top: 3px solid #000;
            .cell {
                display: table-cell;
                vertical-align: middle;
                padding: 15px;
                border-bottom: 1px solid #bfbfbf;
                width: 100%;
                dd{
                    margin-right: 8px;
                }
                dl{
                    margin-bottom: 0px;
                }
                dl:after {
                    display: block;
                    clear: both;
                    content: '';
                }
               
                dl dt, dd {
                    float: left;
                    font-size:13px;
                    
                }
                dt:first-child:before {
                    display: none;
                }
                dt:before{
                    margin-right: 8px;
                    display: inline-block;
                    content: '';
                    width: 1px;
                    height: 12px;
                    background-color: #000;
                    height: 10px;
                }
                &.tit p {
                    margin-bottom: 5px;
                    font-size: 16px;
                    font-weight: bold;
                    color: #162446;
                }
                &.sub_info{
                    dl dt {
                        margin-bottom: 5px;
                        font-weight: bold;
                        color: #162446;
                    }
                    dl dt, dl dd{
                        float: none;
                        display: block;
                        width: 100%;
                    }
                }
            }
            &.move_page .cell {
                background-color: #f5f5f5;
                color: #9a9999;
                dl dt {
                    margin-bottom: 5px;
                    font-weight: bold;
                    color: #162446;
                    float: none;
                    display: block;
                    width: 100%;
                    font-size: 13px;

                }
            }
        }

    }
    .custom_order.write{
        .row{
            display: block!important;
        }
        .head{
            .cell{
                display:block!important;
                width:100%!important;
                padding: 5px 10px!important;
                text-align: left!important;
                font-size: 14px!important;
                display: flex!important;
                flex-direction: row;
                align-items: center;
                margin-bottom: 0px!important;
                span{
                    display:inline-block;
                    width: 30px;
                }
                border-bottom: 1px solid #bfbfbf!important;
                label{
                    margin-bottom: 6px;
                }
                &.category, &.count {
                   
                }
                input{
                    margin-left: 20px;
                }
                input:not([type=file]){
                    width: calc(100% - 100px);
                    height: 44px;
                    border-radius: 8px;
                    background-color: #EEEEEE;
                    border: none;
                    padding-left: 45px;
                   
                }
                &.width_33{
                    width: 100%!important;
                }
                &.count.width_33{
                    width: 100%!important;;
                }
                input[type=radio]{
                    height: 11px; 
                    width: initial;
                    margin-top: -4px;
                }
            }
        }

    }
    
 }  
.wrap_btn_board{
    text-align: center;
    margin-bottom: 20px;
}
.wrap_btn_board .btn_board {
    height: 42px;
    line-height: 42px;
    font-weight: normal;
    font-size: 13px;
}

 .wrap_btn_board .btn_board {
    display: inline-block;
    background-color: #2d7983;
    color: #fff!important; 
    text-align: center;
    width: 148px;
}


