@media screen and (min-width: 601px) {
  .custom_order .board_info {
    margin-bottom: 20px;
  }
  .custom_order .board_info .board_count {
    font-size: 20px;
  }
  .custom_order .table {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  .custom_order .table.board, .custom_order .table.board_view {
    border-top: 3px solid #162446;
  }
  .custom_order .table.board .head .cell, .custom_order .table.board_view .head .cell {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    display: table-cell;
    vertical-align: middle;
    border-bottom: 1px solid #bfbfbf;
    padding: 27px 10px;
  }
  .custom_order .table.board .head .cell.num, .custom_order .table.board_view .head .cell.num {
    padding-left: 50px;
    width: 10%;
  }
  .custom_order .table.board .head .cell.category, .custom_order .table.board_view .head .cell.category {
    color: #000;
    width: 20%;
    font-weight: bold;
  }
  .custom_order .table.board .head .cell.tit, .custom_order .table.board_view .head .cell.tit {
    width: 45%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
  }
  .custom_order .table.board .head .cell.date, .custom_order .table.board_view .head .cell.date {
    width: 15%;
  }
  .custom_order .table.board .head .cell.count, .custom_order .table.board_view .head .cell.count {
    padding-right: 50px;
    width: 12%;
  }
  .custom_order .table.board .cell, .custom_order .table.board_view .cell {
    text-align: center;
    font-size: 18px;
    color: #000;
    display: table-cell;
    vertical-align: middle;
    border-bottom: 1px solid #bfbfbf;
    padding: 27px 10px;
  }
  .custom_order .table.board .cell.num, .custom_order .table.board_view .cell.num {
    padding-left: 50px;
    width: 10%;
  }
  .custom_order .table.board .cell.category, .custom_order .table.board_view .cell.category {
    color: #000;
    width: 20%;
    font-weight: bold;
  }
  .custom_order .table.board .cell.tit, .custom_order .table.board_view .cell.tit {
    width: 45%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
  }
  .custom_order .table.board .cell.date, .custom_order .table.board_view .cell.date {
    width: 15%;
  }
  .custom_order .table.board .cell.count, .custom_order .table.board_view .cell.count {
    padding-right: 50px;
    width: 12%;
  }
  .custom_order .table .row {
    display: table-row;
    width: 100%;
  }
  .custom_order.write .head .cell {
    display: block !important;
    width: 100% !important;
    padding: 27px 10px !important;
    text-align: left !important;
    float: left;
  }
  .custom_order.write .head .cell label {
    margin-bottom: 6px;
  }
  .custom_order.write .head .cell input:not([type=file]) {
    width: calc(100% - 100px);
    height: 44px;
    border-radius: 8px;
    background-color: #EEEEEE;
    border: none;
    padding-left: 45px;
    margin-left: 20px;
  }
  .custom_order.write .head .cell.width_33 {
    width: 33% !important;
  }
  .custom_order.write .head .cell.count.width_33 {
    padding-top: 38px !important;
    width: calc(100% - 66%) !important;
  }
  .custom_order.write .head .cell input[type=radio] {
    height: 15px;
    width: initial;
  }
  .custom_order_detail .board_view {
    border-top: 3px solid #000;
  }
  .custom_order_detail .board_view .cell {
    border-bottom: 1px solid #bfbfbf;
    padding: 25px 35px;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
  }
  .custom_order_detail .board_view .cell.tit {
    width: 100%;
  }
  .custom_order_detail .board_view .cell.tit p {
    margin-bottom: 25px;
    color: #162446;
    font-size: 20px;
    font-weight: bold;
  }
  .custom_order_detail .board_view .cell dl {
    zoom: 1;
  }
  .custom_order_detail .board_view .cell dl dt, .custom_order_detail .board_view .cell dl dd {
    float: left;
  }
  .custom_order_detail .board_view .cell.tit > dl > dt {
    margin-right: 9px;
    margin-left: 7px;
  }
  .custom_order_detail .board_view .cell.tit > dl > dt:first-child {
    margin-left: 0;
  }
  .custom_order_detail .board_view .cell.tit > dl > dt {
    margin-right: 9px;
    margin-left: 7px;
  }
  .custom_order_detail .board_view .cell.tit > dl > dt:before {
    margin-right: 8px;
    display: inline-block;
    content: '';
    width: 1px;
    height: 12px;
    background-color: #000;
  }
  .custom_order_detail .board_view .cell dl:after {
    display: block;
    clear: both;
    content: '';
  }
  .custom_order_detail .table {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .custom_order .board_info {
    margin-top: 20px;
  }
  .custom_order .board_info .board_count {
    font-size: 14px;
  }
  .custom_order .table {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  .custom_order .table.board, .custom_order .table.board_view {
    border-top: 3px solid #162446;
  }
  .custom_order .table.board .row, .custom_order .table.board_view .row {
    width: 100%;
    display: block;
    padding: 12px;
    border-bottom: 1px solid #bfbfbf;
  }
  .custom_order .table.board .head, .custom_order .table.board_view .head {
    display: none;
  }
  .custom_order .table.board .head .cell, .custom_order .table.board_view .head .cell {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    display: table-cell;
    vertical-align: middle;
    border-bottom: 0 none;
    padding: 0;
  }
  .custom_order .table.board .head .cell.num, .custom_order .table.board_view .head .cell.num {
    padding-left: 50px;
    width: 10%;
    display: none;
  }
  .custom_order .table.board .head .cell.category, .custom_order .table.board_view .head .cell.category {
    width: 100%;
    text-align: left;
    margin-bottom: 6px;
    font-weight: bold;
    font-size: 18px;
    border-bottom: 0 none;
  }
  .custom_order .table.board .head .cell.tit, .custom_order .table.board_view .head .cell.tit {
    width: 100%;
    margin-bottom: 6px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .custom_order .table.board .head .cell.tit p, .custom_order .table.board_view .head .cell.tit p {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #162446;
  }
  .custom_order .table.board .head .cell.tit dt, .custom_order .table.board_view .head .cell.tit dt {
    margin-left: 0;
    margin-right: 9px;
    float: left;
    font-size: 13px;
  }
  .custom_order .table.board .head .cell.tit dl:after, .custom_order .table.board_view .head .cell.tit dl:after {
    display: block;
    clear: both;
    content: '';
  }
  .custom_order .table.board .head .cell.date, .custom_order .table.board_view .head .cell.date {
    width: 100%;
    text-align: right;
    border-bottom: 0 none;
  }
  .custom_order .table.board .head .cell.count, .custom_order .table.board_view .head .cell.count {
    display: none;
  }
  .custom_order .table.board .cell, .custom_order .table.board_view .cell {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #000;
    vertical-align: middle;
    border-bottom: 0 none;
    padding: 0;
  }
  .custom_order .table.board .cell.num, .custom_order .table.board_view .cell.num {
    padding-left: 50px;
    width: 10%;
    display: none;
  }
  .custom_order .table.board .cell.category, .custom_order .table.board_view .cell.category {
    width: 100%;
    text-align: left;
    margin-bottom: 6px;
    color: #2d7983;
    font-weight: bold;
    border-bottom: 0 none;
  }
  .custom_order .table.board .cell.tit, .custom_order .table.board_view .cell.tit {
    width: 100%;
    margin-bottom: 6px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .custom_order .table.board .cell.date, .custom_order .table.board_view .cell.date {
    width: 100%;
    text-align: right;
    border-bottom: 0 none;
  }
  .custom_order .table.board .cell.count, .custom_order .table.board_view .cell.count {
    display: none;
  }
  .custom_order .table .row {
    display: table-row;
    width: 100%;
  }
  .sub_content {
    padding-top: 35px;
  }
  .sub_content .layout {
    width: auto;
    margin: 0 auto;
    padding: 0 15px;
  }
  .sub_content .board_view {
    border-top: 3px solid #000;
  }
  .sub_content .board_view .cell {
    display: table-cell;
    vertical-align: middle;
    padding: 15px;
    border-bottom: 1px solid #bfbfbf;
    width: 100%;
  }
  .sub_content .board_view .cell dd {
    margin-right: 8px;
  }
  .sub_content .board_view .cell dl {
    margin-bottom: 0px;
  }
  .sub_content .board_view .cell dl:after {
    display: block;
    clear: both;
    content: '';
  }
  .sub_content .board_view .cell dl dt, .sub_content .board_view .cell dd {
    float: left;
    font-size: 13px;
  }
  .sub_content .board_view .cell dt:first-child:before {
    display: none;
  }
  .sub_content .board_view .cell dt:before {
    margin-right: 8px;
    display: inline-block;
    content: '';
    width: 1px;
    height: 12px;
    background-color: #000;
    height: 10px;
  }
  .sub_content .board_view .cell.tit p {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #162446;
  }
  .sub_content .board_view .cell.sub_info dl dt {
    margin-bottom: 5px;
    font-weight: bold;
    color: #162446;
  }
  .sub_content .board_view .cell.sub_info dl dt, .sub_content .board_view .cell.sub_info dl dd {
    float: none;
    display: block;
    width: 100%;
  }
  .sub_content .board_view.move_page .cell {
    background-color: #f5f5f5;
    color: #9a9999;
  }
  .sub_content .board_view.move_page .cell dl dt {
    margin-bottom: 5px;
    font-weight: bold;
    color: #162446;
    float: none;
    display: block;
    width: 100%;
    font-size: 13px;
  }
  .custom_order.write .row {
    display: block !important;
  }
  .custom_order.write .head .cell {
    display: block !important;
    width: 100% !important;
    padding: 5px 10px !important;
    text-align: left !important;
    font-size: 14px !important;
    display: flex !important;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0px !important;
    border-bottom: 1px solid #bfbfbf !important;
  }
  .custom_order.write .head .cell span {
    display: inline-block;
    width: 30px;
  }
  .custom_order.write .head .cell label {
    margin-bottom: 6px;
  }
  .custom_order.write .head .cell input {
    margin-left: 20px;
  }
  .custom_order.write .head .cell input:not([type=file]) {
    width: calc(100% - 100px);
    height: 44px;
    border-radius: 8px;
    background-color: #EEEEEE;
    border: none;
    padding-left: 45px;
  }
  .custom_order.write .head .cell.width_33 {
    width: 100% !important;
  }
  .custom_order.write .head .cell.count.width_33 {
    width: 100% !important;
  }
  .custom_order.write .head .cell input[type=radio] {
    height: 11px;
    width: initial;
    margin-top: -4px;
  }
}

.wrap_btn_board {
  text-align: center;
  margin-bottom: 20px;
}

.wrap_btn_board .btn_board {
  height: 42px;
  line-height: 42px;
  font-weight: normal;
  font-size: 13px;
}

.wrap_btn_board .btn_board {
  display: inline-block;
  background-color: #2d7983;
  color: #fff !important;
  text-align: center;
  width: 148px;
}

/*# sourceMappingURL=custom_order.css.map */