@charset "UTF-8";
/*  헤더 영역 css 시작 */
.search_con {
  position: relative;
  justify-content: space-around;
  padding: 10px;
}

.search_con input {
  border-radius: 60px;
  background-color: #fff;
  border: 2px solid #6060f0;
}

.search_con .search.icon {
  width: 25px;
  height: 25px;
  top: 17px;
  right: 17px;
  position: absolute;
}

/* 데스크톱 css 시작 */
@media screen and (min-width: 641px) {
  .mobile {
    display: none;
  }
  .main_menu_top {
    font-size: 14px;
    height: 40px;
  }
  .main_menu_top .menu_item_list div span {
    cursor: pointer;
    color: #333;
  }
  .header {
    width: 100%;
  }
  .header .header_con {
    padding: 5px;
  }
  .header .contents {
    display: flex;
    margin: 18px 0px;
    display: flex;
    justify-content: end;
  }
  .header .contents .menu_item {
    font-size: 10px;
    flex-direction: column;
    position: relative;
    text-align: center;
    margin-top: 3px;
  }
  .header .contents .menu_item .menu_icon {
    cursor: pointer;
  }
  .header .contents .basket .menu_icon,
.header .contents .custom .menu_icon {
    left: 50%;
    margin-left: -8px;
  }
  .header .contents .menu_item.basket::before {
    content: "";
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: 0px auto;
  }
  .header .contents .menu_item.custom::before {
    content: "";
    width: 32px;
    height: 32px;
    background-color: #00c48c;
    border-radius: 50%;
    margin: 0px auto;
  }
  .header .menu {
    transition: height 0.15s ease-out;
    height: 35px;
    width: 100%;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
  }
  .header .menu .row {
    display: flex;
  }
  .header .menu .row span {
    border: 2px solid transparent;
    line-height: 30px;
    position: relative;
    cursor: pointer;
  }
  .header .menu .row span i {
    opacity: 0;
  }
  .header .menu .row span.acryl_block:hover ul::after {
    content: "";
    background-size: 323px 442px;
    background-image: url("/static/img/block.png");
    width: 323px;
    height: 442px;
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .header .menu .row span {
    position: relative;
    letter-spacing: 0px;
  }
  .header .menu .row span.group:hover {
    color: #e3007f !important;
    border: 2px solid #e3007f;
    border-radius: 5px 5px 0px 0px;
  }
  .header .menu .row span.group:hover ul {
    display: flex;
    z-index: 1000;
    height: 451px;
    flex-direction: column;
    background-color: #fff;
    padding-left: 17px;
    margin-left: -12px;
    width: 530px;
    border: 2px solid #e3007f !important;
    border-radius: 0px 5px 5px 5px;
    padding-top: 10px;
    overflow: hidden;
  }
  .header .menu .row span.group:hover ul li {
    color: #666;
  }
  .header .menu .row span.group:hover i {
    opacity: 1;
  }
  .header .menu .row span.group:hover .hover_img_show {
    width: 323px;
    height: 442px;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1000;
  }
}

.menu_item_seg:hover::before {
  content: " ";
  width: 100%;
  border: 1px solid #fff;
  height: 8px;
  display: block;
  position: absolute;
  bottom: -4px;
  left: 0px;
  z-index: 10002;
  background-color: #fff;
}

/* 데스크톱 css 끝 */
/* 모바일 css 시작 */
@media screen and (max-width: 640px) {
  .desktop {
    display: none !important;
  }
  .container {
    padding-right: 0px;
    padding-left: 0px;
  }
  .row {
    margin: 0px;
  }
  .header .header_con {
    padding: 13px;
  }
  .header .logo {
    height: 22px;
  }
  .header .banner_con {
    width: 100%;
  }
  .header .banner_con .banner {
    width: 100%;
    max-height: 60px;
  }
  .header .contents {
    display: flex;
    margin-top: 18px;
    display: flex;
    justify-content: space-around;
  }
  .header .contents .search_con {
    position: relative;
    justify-content: space-around;
  }
  .header .contents .menu_item {
    opacity: 0.5;
    font-size: 10px;
    flex-direction: column;
    position: relative;
  }
  .header .contents .menu_item .menu_icon {
    width: 32px;
    height: 32px;
  }
  .header .contents .menu_item.basket::before {
    content: "";
    width: 32px;
    height: 32px;
    background-color: #ff617d;
    border-radius: 50%;
  }
  .header .contents .menu_item.custom::before {
    content: "";
    width: 32px;
    height: 32px;
    background-color: #00c48c;
    border-radius: 50%;
  }
}

/* 모바일 css 끝 */

/*# sourceMappingURL=header.css.map */