.ie_body{
    width:1280px!important;
}
.main_menu_top{
    display: block!important;
}
.top_info{
    display: flex!important;
    justify-content: space-between;
}
.user_menu{
    display: inline-block;!important
}
.header_wrapper{
    flex-direction: row!important;
}
.search_con{
    width:400px!important;
    margin-top:0px;
}
.menu_item{
    display: flex!important;
}
.hamburger{
    display: none;!important;
}
.header_custom_inquiry{
    display: none!important;
}
.ie_desktop_visible{
    display: block!important;
}
.ie_desktop_hidden{
    display: none!important;
}
.lg\:w-\[176px\] {
    width: 176px;
}
.carouselExampleIndicators .thumb_list {
    box-shadow: 0px 4px 5px rgb(0 0 0 / 30%);
    display: flex;
}

.lg\:flex-col {
    flex-direction: column;
}

.lg\:-translate-y-1\/2 {
    --tw-translate-y: -50%;
    transform: var(--tw-transform);
}
.lg\:ml-96 {
    margin-left: 24rem;
}
.lg\:absolute {
    position: absolute;
}
.lg\:top-2\/4 {
    top: 50%;
}
.thumb_list{
    left:50%!important;
    transform: translateY(-50%)!important;
    width:178px!important;
}
.quick_btn{
    display: flex!important;
    justify-content: space-between;
    flex-wrap: wrap;
}
.quick_btn .relative{
    margin-top:10px;
    width:calc(20% - 10px);
}

.quick_btn .relative:nth-child(1){
    margin-top:0px!important;
    width:calc(50% - 5px)!important;
}
.quick_btn .relative:nth-child(2){
    margin-top:0px!important;
    width:calc(50% - 5px)!important;
}
.product_group{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.product_group > a{
    width:312px!important;
    margin-right:8px;
}
.product_group > a:nth-child(4){
    width:312px!important;
    margin-right:0px!important;
}
.inner_footer{
    flex-direction: row;!important;
}
.main.cover_img{
    width:100%;
    padding-bottom:100%;
}
.product_qna_submit{
    background-color: rgb(107, 114, 128);
}
.ie_menu{
    display: block!important;
}
.ie_menu_con{
    width:1280px!important
}
.ie_row{
    justify-content: flex-start!important;
}
.ie_row .all{
    display: inline-block!important;
}
.group.menu_item_seg{
    padding: 0px 6px;
}
.group.menu_item_seg{
    width:auto!important;
    margin-top:-10px;!important;
}
.sub_menu_item{

}
.sm\:hidden{
    display: none;
}
.sub_menu_item{
     position: absolute;
    width: 170px;
    text-align: left;
}
.menu_item_seg:hover .sub_menu_item{
    display: inline-block;

}
