@charset "UTF-8";
@media screen and (min-width: 641px) {
  .row {
    margin: 0px;
  }
  .carouselExampleIndicators {
    position: relative;
  }
  .carouselExampleIndicators #carouselExampleIndicators {
    margin-top: -10px;
    position: relative;
  }
  .carouselExampleIndicators .thumb_list {
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
    display: flex;
  }
  .carouselExampleIndicators .thumb_list img {
    cursor: pointer;
    border: 1px solid #eee;
    border-style: inset;
  }
  .carouselExampleIndicators .thumb_list img:hover {
    border: 1px solid #ddd;
  }
  .quick_btn .menu_button_0 {
    width: calc(50% - 6px);
    height: 267px;
    border: 1px solid #ddd;
  }
  .quick_btn .menu_button_0 .custom_menu_icon_text_0 {
    position: absolute;
  }
  .quick_btn .menu_button_0 .custom_menu_ic on_text_1 {
    position: absolute;
  }
  .quick_btn .menu_item {
    height: 267px;
    width: calc(25% - 8px);
    border: 1px solid #ddd;
    margin-left: 10px;
    background-size: cover;
  }
  .quick_btn .plate {
    background-image: url(/static/img/index_3.png);
  }
  .quick_btn .plate:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/static/img/index_3.png);
  }
  .quick_btn .box {
    background-image: url(/static/img/index_1.png);
  }
  .quick_btn .box:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/static/img/index_1.png);
  }
  .quick_btn .pocket {
    background-image: url(/static/img/index_2.png);
  }
  .quick_btn .pocket:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/static/img/index_2.png);
  }
  .quick_btn .vessel {
    background-image: url(/static/img/index_0.png);
  }
  .quick_btn .vessel:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/static/img/index_0.png);
  }
  .quick_btn .popup {
    background-image: url(/static/img/popup.png);
  }
  .quick_btn .popup:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/static/img/popup.png);
  }
  .quick_btn .sign {
    background-image: url(/static/img/sign.png);
  }
  .quick_btn .sign:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/static/img/sign.png);
  }
  .quick_btn .menu_item {
    cursor: pointer;
    color: transparent;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-size: 20px;
  }
  .quick_btn .menu_item:hover {
    color: #fff;
  }
  .theme_group {
    width: 213px !important;
    float: left;
    margin-top: 26px !important;
  }
  .theme_group .theme_item {
    cursor: pointer;
    width: 213px !important;
    height: 73px;
    float: left;
    border: 1px solid #ff617d !important;
    text-align: center;
    line-height: 73px;
    margin-top: -1px;
    margin-left: -1px;
  }
  .theme_group .theme_item.selected {
    color: #fff;
    background-color: #ff617d;
  }
  .theme_product_group {
    padding-left: 222px;
    margin-top: 0px !important;
  }
  .theme_product_group::after {
    content: "";
    clear: both;
    display: table;
  }
  .product {
    cursor: pointer;
    float: left;
    background: transparent 0% 0% no-repeat padding-box;
    border: 1px solid #eee;
    width: 267px;
    margin-top: 13px;
  }
  .product .img {
    position: relative;
    width: 265px;
    height: 265px;
    margin-bottom: 12px;
  }
  .product .img .tag {
    height: 16px;
    padding: 0px 8px;
    line-height: 16px;
    font-size: 10px;
    bottom: 8px;
  }
  .product .img .tag.hot {
    left: 74px;
    color: #fff;
    background: #ff617d 0% 0% no-repeat padding-box;
  }
  .product .img .tag.new {
    left: 120px;
    color: #fff;
    background: #00c48c 0% 0% no-repeat padding-box;
  }
  .product .name {
    font-size: 18px;
    opacity: 1;
    margin: 12px;
    margin-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    white-space: nowrap;
  }
  .product .description {
    padding-left: 12px;
    font-size: 14px;
    line-height: 20px;
    color: #666;
    width: 264px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    min-height: 20px;
  }
  .product .price {
    margin-left: 12px;
    margin-top: 3px;
    font-size: 18px;
    line-height: 25px;
    color: #666;
    font-weight: bold;
  }
  .product .price span {
    font-size: 12px;
    font-weight: normal;
  }
  .tab {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0px 16px;
    width: 100%;
    height: 44px;
    position: RELATIVE;
  }
  .tab .tab_img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 44px;
  }
  .tab .category_name {
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    left: 16px;
    top: 13px;
  }
  .tab .view_all {
    color: #696969;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    right: 16px;
    top: 13px;
  }
}

@media screen and (max-width: 640px) {
  .body .menu_button_0 {
    position: relative;
  }
  .body .menu_button_0 .custom_menu_icon_text_0 {
    position: absolute;
    top: 50px;
    left: calc(16px + 35px);
    font-size: 28px;
    opacity: 0.8;
    font-weight: bold;
  }
  .body .menu_button_0 .custom_menu_icon_text_1 {
    position: absolute;
    top: 90px;
    left: calc(16px + 35px + 70px);
    font-size: 14px;
    opacity: 0.8;
    font-weight: bold;
  }
  .body .menu_button_group {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
  .body .menu_button_group .menu_item {
    text-align: center;
    width: 110px;
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 14px;
    align-items: center;
  }
  .body .menu_button_group .menu_item img {
    width: 72px;
  }
  .body .theme_group {
    border: 1px solid #ff617d;
    border-radius: 4px 4px 4px 4px;
    height: 63px;
    width: 344px;
    margin-left: calc((100% - 344px) / 2);
    overflow: hidden;
  }
  .body .theme_group .theme_item {
    line-height: 32px;
    text-align: center;
    box-sizing: border-box;
    float: left;
    width: 85px;
    height: 32px;
    border-left: 1px solid #ff617d;
    border-bottom: 1px solid #ff617d;
    margin-top: -1px;
    font-size: 13px;
  }
  .body .theme_group .theme_item.selected {
    background-color: #ff617d;
    color: #fff;
  }
  .body .product_group .product {
    float: left;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 10px #0000000d;
    width: 165px;
    height: 211px;
    overflow: auto;
    margin-top: 13px;
  }
  .body .product_group .product:nth-child(2n) {
    margin-left: 13px;
  }
  .body .product_group .product .img {
    position: relative;
    width: 141px;
    height: 112px;
    margin: 12px;
  }
  .body .product_group .product .img .tag {
    position: absolute;
    height: 16px;
    padding: 0px 8px;
    line-height: 16px;
    font-size: 10px;
    bottom: 8px;
  }
  .body .product_group .product .img .tag.hot {
    left: 56px;
    color: #fff;
    background: #ff617d 0% 0% no-repeat padding-box;
  }
  .body .product_group .product .img .tag.new {
    left: 97px;
    color: #fff;
    background: #00c48c 0% 0% no-repeat padding-box;
  }
  .body .product_group .product .name {
    font-size: 12px;
    opacity: 0.8;
    margin: 12px;
  }
  .body .product_group .product .price {
    margin-left: 12px;
    font-size: 14px;
    font-weight: bold;
  }
  .body .product_group .product .price span {
    font-size: 12px;
    font-weight: normal;
  }
  .body .tab {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    /* padding: 0px 16px; */
    width: 100%;
    height: 44px;
    position: RELATIVE;
  }
  .body .tab .tab_img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 44px;
  }
  .body .tab .category_name {
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    left: 16px;
    top: 13px;
  }
  .body .tab .view_all {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    right: 16px;
    top: 13px;
  }
}

.tag_con {
  position: absolute;
  height: 16px;
  bottom: 8px;
  justify-content: flex-end;
  display: flex;
  width: 100%;
}

.tag {
  padding: 0px 8px;
  line-height: 16px;
  font-size: 10px;
  margin-right: 10px;
}

/*# sourceMappingURL=index_body.css.map */