.product_list{
    .main_tab{
        margin-top: 20px;
        width: 100%;
        font-size: 24px;
        font-weight:bold;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .bread_cumb{
            font-size: 14px;
        }
    }
    .tab {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 0px 16px;
        width: 100%;
        height: 44px;
        position: RELATIVE;
        .tab_img {
          position: absolute;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 44px;
        }
        .category_name {
          font-size: 14px;
          font-weight: bold;
          position: absolute;
          left: 16px;
          top: 13px;
        }
        .view_all {
          color: #696969;
          font-size: 14px;
          font-weight: bold;
          position: absolute;
          right: 16px;
          top: 13px;
        }
      }
      .sub_category_list{
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          .sub_category{
              text-align: center;
              position: relative;
              transition: all 0.3s ease;            
            .masking{
                background-color: rgba(0,0,0,0.5);
                width: 100%;
                height: 100%;
                position: absolute;
                top:0px;
                opacity: 0;
                transition: all 0.3s ;
            }
            .masking:hover{
                opacity: 1;
            }
            a{
              margin-top:20px;
                width: calc(100% - 20px);
              display: block;

                word-break: keep-all;
                text-decoration: none;
                font-weight: bold;
                //color:#fff!important;
            }
          }
         
      }
      .filter{
          padding-top: 20px;
          margin-top: 20px;
          border-top: 1px solid #ddd;
          width: 100%;
            display: flex;
            flex-direction: row;
      
        justify-content:space-between;
        flex-direction: row;
      }
      .total{
          font-size: 20px;
          ;
      }
      .filter_group{
          a{
              color: #fff!important;
              line-height: initial!important;
              cursor: pointer;
              font-size: 14px;
          }
          a.badge-light{
              color:#666!important;
          }
          select{
              font-size: 14px;;
              // margin-left: 20px;
          }
      }
      

//   .product:nth-child(5n+1){
//       .img{
//           margin-left: 0px!important;
//       }
//       .name{
//         margin-left: 0px!important;
//       }
//       .price{
//         margin-left: 0px!important;
//       }
//   }
  .product_list{
    &:after {
      content: "";
      flex: auto;
    }
    
  }
}

.product {
  cursor: pointer;
  float: left;
  background: transparent 0% 0% no-repeat padding-box;
  border: 1px solid #eee;
  // box-shadow: 0px 2px 10px #0000000d;
  width: 267px;
  margin-top: 13px;

  .img {
    position: relative;
    width: 265px;
    height: 265px;
    margin-bottom: 12px;
    .tag {
      // position: absolute;
      height: 16px;
      padding: 0px 8px;
      line-height: 16px;
      font-size: 10px;
      bottom: 8px;
    }
    .tag.hot {
      left: 74px;
      color: #fff;
      background: #ff617d 0% 0% no-repeat padding-box;
    }
    .tag.new {
      left: 120px;
      color: #fff;
      background: #00c48c 0% 0% no-repeat padding-box;
    }
  }
  .name {
    font-size: 18px;
    opacity: 1;
    margin: 12px;
    margin-bottom: 6px;
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: -webkit-box; 
    -webkit-line-clamp: 1; /* 라인수 */ 
    -webkit-box-orient: vertical; 
    word-wrap:break-word; 
    line-height: 26px;
  }
  .description{
    padding-top: 5px;
    padding-left: 12px;
    font-size: 14px;
    line-height: 20px;
    color: #666;
    WIDTH: 264px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;   
    white-space: nowrap;
  }
  .price {
    margin-left: 12px;
    margin-top:3px;
    font-size: 18px;
    line-height:25px;
    color:#666;
    font-weight: bold;
    span {
      font-size: 12px;
      font-weight: normal;
    }
  }
}
.tag_con {
  position: absolute;
  height: 16px;
  bottom: 8px;
  justify-content: flex-end;
  display: flex;
  width: 100%;
}
.product .img .tag.hot {
  left: 74px;
  color: #fff;
  background: #ff617d 0% 0% no-repeat padding-box;
}
.product .img .tag.new {
  left: 120px;
  color: #fff;
  background: #00c48c 0% 0% no-repeat padding-box;
}
.product .img .tag {
  margin-right: 10px;
}