.login_container {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 500px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.login_container #login_tab {
  width: 340px;
}

.login_container #login_tab .nav-item {
  width: 50%;
  text-align: center;
  font-weight: bold;
}

.login_container #login_tab .nav-item a.nav-link {
  background-color: rgba(238, 238, 238, 0.3);
  border-radius: 0;
  border-color: transparent;
  border-bottom: 1px solid #666;
  height: 50px;
  line-height: 35px;
}

.login_container #login_tab .nav-item a.nav-link.active {
  background-color: #fff;
  border: 1px solid #666;
  border-bottom: 0;
}

.login_container input[type=text], .login_container input[type=password] {
  width: 340px;
  height: 54px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff !important;
  font-size: 14px;
  line-height: 20px;
  outline: none;
  -webkit-box-shadow: 0 0 0 00px white inset !important;
}

.login_container input[type=password] {
  margin-top: 10px;
}

.login_container input:-webkit-autofill,
.login_container input:-webkit-autofill:hover,
.login_container input:-webkit-autofill:focus,
.login_container input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

.login_container .login_btn {
  display: block;
  overflow: hidden;
  width: 340px;
  height: 54px;
  border-radius: 3px;
  text-align: center;
  border: 1px solid #E300E3;
  background-color: #E300E3;
  color: #fff;
  margin-top: 20px;
}

.login_container .row {
  margin: 0px;
}

.login_container .input_container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login_container .sub_btn {
  margin-top: 10px;
  font-weight: bold;
  justify-content: space-between;
  width: 340px;
  display: flex;
  flex-direction: row-reverse;
  font-size: 13px;
}

.login_container #naver_id_login {
  width: 340px;
  background-color: #00c73c;
  color: #fff;
  height: 50px;
  line-height: 40px;
  font-weight: bold;
  border-radius: 0;
  margin: 10px auto;
  border-radius: 3px;
}

.register {
  display: block;
  overflow: hidden;
  width: 340px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  font-size: 16px;
  text-align: center;
  border: 1px solid #E300E3;
  background-color: #fff;
  margin: 10px auto;
}

/*# sourceMappingURL=login.css.map */