.page_title {
  padding: 33px 0 33px 1px;
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
  color: #333;
  letter-spacing: -.5px;
}

.mypage_header ul {
  width: 100%;
  height: 100px;
  border: 2px solid #aaa;
  flex-flow: row;
  justify-content: space-around;
}

.mypage_header ul li.divider {
  border-right: 1px solid #ddd;
  height: 70px;
}

.mypage_header ul li {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 17px;
}

.mypage_header ul li .name {
  font-size: 17px;
  font-weight: bold;
  height: 48px;
}

.mypage_header ul li .header_title {
  font-size: 17px;
  font-weight: bold;
  height: 48px;
}

.mypage_header ul li span {
  font-size: 14px;
}

.mypage_header .badge {
  cursor: pointer;
}

aside {
  width: 160px;
}

aside .mypage_menu {
  margin-bottom: 10px;
  border: 1px solid #ddd;
}

aside .mypage_menu .head {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  background-color: #4dacf75c;
}

aside .mypage_menu ul {
  padding: 10px;
}

aside .mypage_menu ul li {
  cursor: pointer;
  font-size: 16px;
}

aside .mypage_menu ul li.selected {
  font-weight: bold;
}

aside .mypage_menu ul li:hover {
  color: #009fe8;
}

.main {
  margin-left: 42px;
}

.main .row {
  margin: 0px;
}

.main .mypage_main_header {
  margin-bottom: 20px;
}

.main .mypage_main_header .main_header {
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.main .mypage_main_header .main_header div {
  padding: 10px;
  width: fit-content;
  font-size: 20px;
}

.main .mypage_main_header ul {
  margin: 10px 0px;
}

.main .mypage_main_header ul li {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  height: 65px;
  width: calc(929px / 12);
  text-align: center;
}

.main .mypage_main_header ul li .title {
  font-size: 18px;
}

.main .mypage_main_header ul li .number {
  font-weight: bold;
}

.main .mypage_main_header ul .head_icon {
  line-height: 68px;
  font-size: 30px;
  color: #fff;
  background-color: #aaa;
  border-radius: 10px;
}

.main .mypage_main_header.delivery .mypage_filter .badge {
  border: 1px solid #ddd;
  font-size: 14px;
  font-weight: normal;
  line-height: 29px;
  border-radius: 0px;
  cursor: pointer;
}

.form-control {
  border-radius: 0px !important;
}

.order_header {
  width: 100%;
  text-align: center;
}

.order_header div {
  padding: 5px 0px;
  border: 1px solid #ddd;
  border-top: 2px solid #ddd;
  border-left: none;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  font-size: 15px;
}

.order_header .order_num {
  border-left: 0px solid #fff;
}

.order_header .order_price {
  border-right: 0px solid #fff;
}

.order_row {
  display: flex;
  width: 100%;
  text-align: center;
  font-size: 14px;
  text-align: center;
  padding: 10px 0px;
  border-bottom: 1px solid #ddd;
}

.order_row .badge {
  width: fit-content;
}

.page_aticle .head_aticle {
  padding: 5px 0 34px;
}

.tit {
  height: 36px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #333;
  letter-spacing: -.5px;
}

.main {
  margin-top: -70px;
}

.head_aticle {
  width: 100%;
  border-bottom: 2px solid #522772;
  padding-bottom: 34px;
  position: relative;
}

.order_row .order_check {
  height: 120px;
  margin-top: -10px;
  margin-bottom: -10px;
  border-right: 1px solid #ddd;
}

/*# sourceMappingURL=mypage.css.map */