.page_title{
    padding: 33px 0 33px 1px;
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    color: #333;
    letter-spacing: -.5px;
}
.mypage_header{
    ul{
        width: 100%;
        height: 100px;;
        // display: flex;
        border: 2px solid #aaa;
        flex-flow: row;
        justify-content: space-around;
        li.divider{
            border-right:1px solid #ddd;
            height: 70px;
        }
        li{
            text-align: center;
            display: flex;
            flex-direction: column;
            // align-self: center;
           .name{
             font-size: 17px;
             font-weight:bold; 
             height: 48px;
           } 
           .header_title{
            font-size: 17px;
            font-weight:bold; 
            height: 48px;
           }
           font-size: 17px;
           span{
               font-size: 14px;
           }
        }
    }
    .badge{
        cursor:pointer
    }
}

aside{
    width: 200px;
    .mypage_menu{
        margin-bottom: 10px;
        border:1px solid #ddd;
        .head{
            padding: 10px;
            font-size: 18px;
            font-weight:bold;
            background-color:#4dacf75c;
        }
        ul{
            padding: 10px;
            li{
                cursor: pointer;
                font-size: 16px;
                &.selected{
                    font-weight:bold;
                }
                &:hover{
                    color:#009fe8;
                }
            }
        }
    }
}

.main{
    // width: calc(100% - 210px);
    margin-left: 10px;
    // margin-top: 10px;
    .row{
        margin:0px;
        
    }
    .mypage_main_header{
        // border-bottom: 1px solid #ddd;
        margin-bottom: 20px;
        .main_header{
            width: 100%;
            border-bottom: 1px solid #ddd;
            div{
                padding: 10px;
                width: fit-content;
                font-size: 20px;
               
            }
        }
        .row.summary_list{
    
        }
        ul{
            margin: 10px 0px;
            // display: flex;
            li{ 
                display: flex;
                flex-flow: column;
                justify-content: space-around;
                height:65px;
                width: calc(929px / 12);
                text-align: center;
                .title{
                    font-size: 18px;;
                }
                .number{
                    font-weight: bold;
                }
                
            }
            .head_icon{
                line-height:68px;
                font-size: 30px;
                color:#fff;
                background-color: #aaa;;
                border-radius: 10px;
            }
        }
        &.delivery{
            // border-bottom: 2px solid #ddd;
            .mypage_filter .badge{
                border: 1px solid #ddd;
                font-size: 14px;
                font-weight: normal;
                line-height: 29px;
                border-radius:0px;
                cursor: pointer;
            }
        }
    }
    
}
.form-control{
    border-radius:0px!important;
}
.order_header{
    // display: flex;
    width: 100%;
    text-align: center;
    div{
        // font-weight: bold;
        padding: 5px 0px;
        border:1px solid #ddd;
        border-top: 2px solid #ddd;
        border-left: none;
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        font-size: 15px;;       
    }
    .order_num{
        // width: 160px;
        border-left:0px solid #fff;
    }
    .order_product{
        // width:270px;
       
    }
    .order_etc{
        // width: 200px;
    }
    .order_price{
        // width: 100px;
        border-right:0px solid #fff;
    }
    .order_design{
        // width: 100px;
    }
    .order_process{
        // width: 100px;
    }
}
.order_row{
    display: flex;
    width: 100%;
    text-align: center;
    font-size: 14px;
    text-align: center;
    padding: 10px 0px;
    border-bottom: 1px solid #ddd;
    div{     
        // display: flex;
        // flex-flow: column;
        // justify-content: space-around;
        // text-align: center;
        // align-items: center;
    }
    .badge{
        width: fit-content;
    }
    .order_num{
        // width: 160px;
    }
    .order_product{
        // width:270px;
    }
    .order_etc{
        // width: 200px;
    }
    .order_price{
        // width: 100px;
    }
    .order_design{
        // width: 100px;
    }
    .order_process{
        // width: 100px;
    }
}

// .product_final_price::after{
//     content: "";
//     display: table;;
//     clear:both;
// }

.page_aticle .head_aticle {
    padding: 5px 0 34px;
}
 .tit {
    height: 36px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #333;
    letter-spacing: -.5px;













    
}
.main{
    margin-top: -70px;
}
.head_aticle{
    width: 100%;
    border-bottom: 2px solid #522772;
    padding-bottom: 34px;
    position: relative;;
}
.order_row .order_check{
    height: 120px;
    margin-top: -10px;
    margin-bottom: -10px;
    border-right: 1px solid #ddd;
}