.container {
    position: relative;
    // min-width: 1100px;
    // padding-top: 10px;
    background: none;
    label {
        display: inline-block;
        margin-bottom: 0rem;
    }
    .inner {
        position: relative;
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
        .h2_tit {
            font-size: 32px;
            line-height: 36px;
            color: #000;
            font-weight: 700;
        }
        .tbl_box {
            margin-top: 55px;
            .tbl_box_in {
                margin-top: 20px;
                border-top: 2px solid #000;
                border-bottom: 1px solid #ddd;
                .tbl03 {
                    margin: 30px 0;
                    th{
                        padding: 10px 20px 10px 20px;
                        font-size: 15px;
                        line-height: 18px;
                        color: #000;
                        text-align: left;
                        vertical-align: middle;
                        width: 100px;;
                    }
                    tr:first-child td {
                        border-top: 0;
                    }
                    td {
                        vertical-align: middle;
                        padding: 10px 20px 10px 0;
                        font-size: 18px;
                        line-height: 24px;
                        color: #666;
                        input.text_input,select, input[type="text"].text_input, input[type="password"].text_input, input[type="tel"].text_input, input[type="text"].input_fileTxt {
                            width: 100px;
                            height: 40px;
                            font-size: 15px;
                            color: #000;
                            border: solid 1px #ccc;
                            box-sizing: border-box;
                            font-weight: 300;
                        }
                        .vertiC_txt {
                            font-size: 15px;
                            color: #000;
                        }
                        
                        .select03 {
                            display: inline-block;
                            position: relative;
                            min-width: 80px;
                            padding: 8px 40px 8px 15px;
                            background: #fff url(https://www.acryiae.com/front/resources/images/common/ico_sel_arrow01.png) no-repeat 92% center;
                            font-size: 15px;
                            border: 1px solid #ccc;
                            appearance: none;
                            -ms-appearance: none;
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            -o-appearance: none;
                            background: none;
                            padding-right: 10px;
                          
                        }
                    }
                }
            }
        }
        .h4_tit01 {
            font-size: 25px;
            line-height: 30px;
            color: #000;
        }
    }
    input[type=text],input[type=password]{
        padding-left: 10px;
    }

}

.price_header{
    font-weight: bold;
    text-align: center;
    line-height: 2;
}
.price_content{
    text-align: center;
    line-height: 1.5;
}