.container {
  position: relative;
  background: none;
}

.container label {
  display: inline-block;
  margin-bottom: 0rem;
}

.container .inner {
  position: relative;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.container .inner .h2_tit {
  font-size: 32px;
  line-height: 36px;
  color: #000;
  font-weight: 700;
}

.container .inner .tbl_box {
  margin-top: 55px;
}

.container .inner .tbl_box .tbl_box_in {
  margin-top: 20px;
  border-top: 2px solid #000;
  border-bottom: 1px solid #ddd;
}

.container .inner .tbl_box .tbl_box_in .tbl03 {
  margin: 30px 0;
}

.container .inner .tbl_box .tbl_box_in .tbl03 th {
  padding: 10px 20px 10px 20px;
  font-size: 15px;
  line-height: 18px;
  color: #000;
  text-align: left;
  vertical-align: middle;
  width: 100px;
}

.container .inner .tbl_box .tbl_box_in .tbl03 tr:first-child td {
  border-top: 0;
}

.container .inner .tbl_box .tbl_box_in .tbl03 td {
  vertical-align: middle;
  padding: 10px 20px 10px 0;
  font-size: 18px;
  line-height: 24px;
  color: #666;
}

.container .inner .tbl_box .tbl_box_in .tbl03 td input.text_input, .container .inner .tbl_box .tbl_box_in .tbl03 td select, .container .inner .tbl_box .tbl_box_in .tbl03 td input.text_input[type="text"], .container .inner .tbl_box .tbl_box_in .tbl03 td input.text_input[type="password"], .container .inner .tbl_box .tbl_box_in .tbl03 td input.text_input[type="tel"], .container .inner .tbl_box .tbl_box_in .tbl03 td input.input_fileTxt[type="text"] {
  width: 100px;
  height: 40px;
  font-size: 15px;
  color: #000;
  border: solid 1px #ccc;
  box-sizing: border-box;
  font-weight: 300;
}

.container .inner .tbl_box .tbl_box_in .tbl03 td .vertiC_txt {
  font-size: 15px;
  color: #000;
}

.container .inner .tbl_box .tbl_box_in .tbl03 td .select03 {
  display: inline-block;
  position: relative;
  min-width: 80px;
  padding: 8px 40px 8px 15px;
  background: #fff url(https://www.acryiae.com/front/resources/images/common/ico_sel_arrow01.png) no-repeat 92% center;
  font-size: 15px;
  border: 1px solid #ccc;
  appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  background: none;
  padding-right: 10px;
}

.container .inner .h4_tit01 {
  font-size: 25px;
  line-height: 30px;
  color: #000;
}

.container input[type=text], .container input[type=password] {
  padding-left: 10px;
}

.price_header {
  font-weight: bold;
  text-align: center;
  line-height: 2;
}

.price_content {
  text-align: center;
  line-height: 1.5;
}

/*# sourceMappingURL=payment.css.map */