.product_detail .product_top_info {
  align-items: flex-start;
}

.product_detail .img_container {
  width: 560px;
}

.product_detail .img_container .cover_img {
  border: 1px solid #F0F0F0;
}

.product_detail .img_container .cover_img {
  margin-top: 20px;
}

.product_detail .img_container .cover_img:nth-child(1) {
  margin-top: 0px;
}

.product_detail .img_container .img_con {
  margin-top: 7px;
  display: flex;
}

.product_detail .img_container .img_con .thumb_img {
  border: 1px solid #F0F0F0;
  margin-right: 10px;
}

.product_detail .product_order_detail {
 
  padding: 0px 20px;
}

.product_detail .product_order_detail.fixed {
  top: 10px;
  left: 50%;
  margin-left: -40px;
  position: fixed;
}

.product_detail .product_order_detail.bottom {
  left: 50%;
  margin-left: -40px;
  position: absolute;
}

.product_detail .product_order_detail .product_title {
  font-size: 28px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
}

.product_detail .product_order_detail .product_info_text {
  font-size: 20px;
  color: #333;
  padding-bottom: 10px;
}

.product_detail .product_order_detail .product_original_price {
  font-size: 16px;
  font-weight: normal;
  color: #666;
  padding-bottom: 10px;
}

.product_detail .product_order_detail .product_original_price strike {
  text-decoration: line-through;
  color: #666;
}

.product_detail .product_order_detail .product_original_price strike span {
  color: rgba(0, 0, 0, 0.7);
  font-size: 24px;
}

.product_detail .product_order_detail .product_final_price {
  padding-bottom: 10px;
}

.product_detail .product_order_detail .product_final_price span {
  color: #333;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
}

.product_detail .product_order_detail .option_title {
  display: inline-block;
  width: 145px;
  font-size: 16px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
}

.product_detail .product_order_detail .option_title .las {
  font-size: 18px;
  cursor: POINTER;
  transform: translateY(1px);
}

.product_detail .product_order_detail .option_title .las:hover {
  font-size: 18px;
  color: blue;
  transform: translateY(1px);
}

.product_detail .product_order_detail .product_option_item {
  line-height: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 8px 0px; */
}

.product_detail .product_order_detail .select_form {
  max-width: 430px;
  /* width: 100%; */
  width: initial!important;
  flex-grow: 1;
  padding: 0px 0px;
  font-size: 16px;
  line-height: 1;
}

.product_detail .product_common_info {
  margin-top: 20px;
}

.product_detail .product_common_info .tab_title {
  width: 100%;
  border-bottom: 1px solid #F0F0F0;
}

.product_detail .product_common_info .tab .tab-titles {
  width: 100%; 
  list-style-type: none;
  font-size: 0;
  top: 0;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  justify-content: center;
}

.product_detail .product_common_info .tab .tab-titles li {
  display: inline-block;
  margin: 0px 10px;
  text-align: center;
  color: #555;
  font-weight: bold;
  font-size: 16px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  padding-left: 0px!important;
  padding-right: 0px!important;
}

.product_detail .product_common_info .tab .tab-titles li.active {
  margin-bottom: -2px;
  background: #ffffff;
  border-bottom: 1px solid #fff;
  color: #111;
  
}

.product_detail .product_common_info .tab .tab-titles li.active::after {
  content: " ";
  display: block;
  position: absolute;
  bottom: 0px;;
  width: 100%;
  height: 8px;
  background-color: #D33877;
}


.product_detail .product_common_info .info_contents {
  width: 100%;
}

.product_detail .product_common_info .info_contents img {
  width: 100%;
  padding: 20px;
}

.product_detail .product_common_info .review {
  padding: 10px;
  width: 100%;
}

.product_detail .product_common_info .review article {
  border-bottom: 1px solid #dddd;
}

.product_detail .product_common_info .review .review_img {
  width: 150px;
  height: 150px;
  padding: 5px;
}

.product_detail .product_common_info .review ul {
  display: flex;
  flex-direction: column;
}

.product_detail .product_common_info .review .review_text {
  padding: 35px 20px;
  height: 150px;
}

.product_detail .product_common_info .review .review_text .text_title {
  font-size: 14px;
  font-weight: bold;
  color: #222;
}

.product_detail .product_common_info .review .review_text .text_product {
  font-size: 14px;
  color: #777;
}

.product_detail .product_common_info .review .review_text .text_content {
  font-size: 14px;
  color: #444;
}

.product_detail .product_common_info .review .review_text .text_writer,
.product_detail .product_common_info .review .review_text .text_date,
.product_detail .product_common_info .review .review_text .text_review_count {
  font-size: 14px;
  color: #777;
}

.product_detail .product_common_info .qna {
  padding: 10px;
  width: 100%;
}

.product_detail .product_common_info .qna article {
  border-bottom: 1px solid #dddd;
}

.product_detail .product_common_info .qna .qna_text {
  padding: 10px 20px;
}

.product_detail .product_common_info .qna .qna_text .text_writer,
.product_detail .product_common_info .qna .qna_text .text_date,
.product_detail .product_common_info .qna .qna_text .text_review_count {
  font-size: 14px;
  color: #777;
}

.product_detail .product_common_info .qna .qna_text .text_title {
  font-size: 14px;
  font-weight: bold;
  color: #222;
}

.product_detail .product_common_info .qna .qna_text .text_product {
  font-size: 14px;
  color: #777;
}

.product_detail .product_common_info .qna .qna_text .text_content {
  font-size: 14px;
  color: #444;
}

.product_detail .product_common_info .exchange_cont h3 {
  padding: 45px 0 10px 0;
  font-size: 18px;
}

.product_detail .product_common_info .exchange_cont .admin_msg {
  min-height: 100px;
  line-height: 1.5;
}

.product_detail .product_common_info .exchange_cont .admin_msg p {
  margin-bottom: 3px;
}

.thumb_img {
  cursor: pointer;
}

.product_title {
  padding: 20px 0px;
}

/*# sourceMappingURL=product_detail.css.map */