.product_detail {
  .product_top_info {
    align-items: flex-start;
  }
  .img_container {
    width: 640px;

    .cover_img {
      // width: 500px;
      // height: 500px;
      border: 1px solid #ddd;
    }
    .cover_img {
      margin-top: 20px;
    }
    .cover_img:nth-child(1) {
      margin-top: 0px;
    }
    .img_con {
      margin-top: 7px;

      display: flex;
      // justify-content: space-between;
      .thumb_img {
        // width: 94px;
        // height: 94px;
        
        border: 1px solid #ddd;
        margin-right: 10px;
      }
    }
  }

  .product_order_detail {
    &.fixed {
      top: 10px;
      left: 50%;
      margin-left: -40px;
      position: fixed;
    }
    &.bottom {
      left: 50%;
      margin-left: -40px;
      position: absolute;
    }
    // margin-left: 15px;
    border: 1px solid #ddd;
    padding: 0px 20px;
    .product_title {
      font-size: 28px;
      font-weight: bold;
      color: rgba(0, 0, 0, 0.7);
    }
    .product_info_text {
      font-size: 20px;
      color: #333;
      padding-bottom: 10px;
    }
    .product_original_price {
      font-size: 16px;
      font-weight: normal;
      color: #666;
      padding-bottom: 10px;
      strike {
        text-decoration: line-through;
        color: #666;
        span {
          color: rgba(0, 0, 0, 0.7);
          font-size: 24px;
        }
      }
    }
    .product_final_price {
      padding-bottom: 10px;
      span {
        color: #333;
        font-weight: bold;
        font-size: 20px;
        line-height: 40px;
      }
    }
    .option_title {
      display: inline-block;
      width: 160px;
      font-size: 16px;
      font-weight: bold;
      color: rgba(0, 0, 0, 0.7);
      .las {
        font-size: 18px;
        cursor: POINTER;
        transform: translateY(1px);
      }
      .las:hover {
        font-size: 18px;
        color: blue;
        transform: translateY(1px);
      }
    }
    .product_option_item {
      line-height: 13px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 8px 0px;
    }
    .select_form {
      max-width: 430px;
      width:100%;
      padding: 10px;
      font-size: 16px;
      line-height: 1;
    }
  }
  .product_common_info {
    margin-top: 20px;
    .tab_title {
      width: 100%;
    }
    .tab .tab-titles {
      width: 100%;
      border-top: 2px solid #555;
      border-bottom: 1px solid #ccc;
      border-left: 1px solid #ccc;
      list-style-type: none;
      font-size: 0;
      top: 0;

      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
      display: flex;
      li {
        display: inline-block;
        // padding: 15px 20px 14px;
        width: 25%;
        border-right: 1px solid #ccc;
        background-color: #fafafa;
        text-align: center;
        color: #555;
        font-weight: bold;
        font-size: 16px;
        box-sizing: border-box;
        cursor: pointer;
        &.active {
          margin-bottom: -2px;
          background: #ffffff;
          border-bottom: 1px solid #fff;
          color: #111;
        }
      }
    }
    .info_contents {
      width: 100%;
      img {
        width: 100%;
        padding: 20px;
      }
    }
    .review {
      padding: 10px;
      width: 100%;
      article {
        border-bottom: 1px solid #dddd;
      }
      .review_img {
        width: 150px;
        height: 150px;
        padding: 5px;
      }
      ul {
        display: flex;
        flex-direction: column;
      }
      .review_text {
        padding: 35px 20px;
        height: 150px;
        .text_title {
          font-size: 14px;
          font-weight: bold;
          color: #222;
        }
        .text_product {
          font-size: 14px;
          color: #777;
        }
        .text_content {
          font-size: 14px;
          color: #444;
        }
        .text_writer,
        .text_date,
        .text_review_count {
          font-size: 14px;
          color: #777;
        }
      }
    }
    .qna {
      padding: 10px;
      width: 100%;
      article {
        border-bottom: 1px solid #dddd;
      }
      .qna_text {
        padding: 10px 20px;
        .text_writer,
        .text_date,
        .text_review_count {
          font-size: 14px;
          color: #777;
        }
        .text_title {
          font-size: 14px;
          font-weight: bold;
          color: #222;
        }
        .text_product {
          font-size: 14px;
          color: #777;
        }
        .text_content {
          font-size: 14px;
          color: #444;
        }
      }
    }
    .exchange_cont {
      h3 {
        padding: 45px 0 10px 0;
        font-size: 18px;
      }
      .admin_msg {
        min-height: 100px;
        line-height: 1.5;
        p {
          margin-bottom: 3px;
        }
      }
    }
  }
}
.cover_img {
  img {
    // width: 500px;
    // height: 500px;
  }
}
.thumb_img {
  cursor: pointer;
}

.product_title {
  padding: 20px 0px;
}
