#container {
  position: relative;
  padding-top: 60px;
  background: none;
  min-height: 600px;
}

#container .inner {
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

#container .inner .h2_tit {
  font-size: 32px;
  line-height: 36px;
  color: #000;
  font-weight: 700;
}

#container .inner .tbl_box {
  margin-top: 55px;
}

#container .inner .tbl_box .tbl_box_in {
  margin-top: 20px;
  border-top: 2px solid #000;
  border-bottom: 1px solid #ddd;
}

#container .inner .tbl_box .tbl_box_in .tbl03 {
  margin: 30px 0;
}

#container .inner .tbl_box .tbl_box_in .tbl03 th {
  padding: 10px 20px 10px 20px;
  font-size: 15px;
  line-height: 18px;
  color: #000;
  text-align: left;
}

#container .inner .tbl_box .tbl_box_in .tbl03 tr:first-child td {
  border-top: 0;
}

#container .inner .tbl_box .tbl_box_in .tbl03 td {
  padding: 10px 20px 10px 0;
  font-size: 18px;
  line-height: 24px;
  color: #666;
}

#container .inner .tbl_box .tbl_box_in .tbl03 td input.text_input, #container .inner .tbl_box .tbl_box_in .tbl03 td select, #container .inner .tbl_box .tbl_box_in .tbl03 td input.text_input[type="text"], #container .inner .tbl_box .tbl_box_in .tbl03 td input.text_input[type="password"], #container .inner .tbl_box .tbl_box_in .tbl03 td input.text_input[type="tel"], #container .inner .tbl_box .tbl_box_in .tbl03 td input.input_fileTxt[type="text"] {
  width: 100px;
  height: 40px;
  font-size: 15px;
  color: #000;
  border: solid 1px #ccc;
  box-sizing: border-box;
  font-weight: 300;
}

#container .inner .tbl_box .tbl_box_in .tbl03 td .vertiC_txt {
  font-size: 15px;
  color: #000;
}

#container .inner .tbl_box .tbl_box_in .tbl03 td .select03 {
  display: inline-block;
  position: relative;
  min-width: 80px;
  padding: 8px 40px 8px 15px;
  background: #fff url(https://www.acryiae.com/front/resources/images/common/ico_sel_arrow01.png) no-repeat 92% center;
  font-size: 15px;
  border: 1px solid #ccc;
  appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  background: none;
  padding-right: 10px;
}

#container .inner .h4_tit01 {
  font-size: 25px;
  line-height: 30px;
  color: #000;
}

#container input[type=text], #container input[type=password] {
  padding-left: 10px;
}

caption {
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0 !important;
  height: 0 !important;
  font-size: 0 !important;
  line-height: 0 !important;
}

.box_agree {
  margin-top: 55px !important;
}

.h4_tit01 {
  font-size: 25px;
  line-height: 30px;
  color: #000;
}

.ui_check_wrap02 > div {
  position: relative;
  overflow: hidden;
  font-size: 15px;
  line-height: 20px;
  color: #000;
}

.ui_check_wrap02 > div .ui_check_input {
  position: absolute;
  top: 5px;
  left: 5px;
}

.ui_check_wrap02 > div .ui_check {
  display: inline-block;
  position: relative;
  z-index: 1;
  padding-left: 30px;
  font-size: 15px;
  line-height: 20px;
  color: #000;
  cursor: pointer;
}

.box_agree .ui_check_wrap02 > div .ui_check {
  background-position: 0 center;
  line-height: 30px;
  color: #000;
}

.ui_check_wrap02 > div .ui_check_input:checked + .ui_check {
  color: #000;
}

.box_agree .box_agree_in {
  margin-top: 20px;
  border-top: 2px solid #000;
}

.box_agree_list01 {
  margin-top: 30px;
  border: 1px solid #ddd;
}

.box_agree_list01 .box_agree_tit01 {
  font-size: 16px;
  line-height: 18px;
  color: #000;
}

.box_agree_list01 .box_agree_tit01 .ui_check_wrap {
  float: left;
}

.ui_check_wrap > div {
  position: relative;
  overflow: hidden;
  float: left;
  font-size: 14px;
  line-height: 20px;
  color: #000;
}

.ui_check_wrap:after {
  content: '';
  display: block;
  clear: both;
}

.box_agree_list01 .box_agree_tit01:after {
  content: '';
  display: block;
  clear: both;
}

.box_agree_list01 .box_agree_txt01 {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100px;
  padding: 20px;
  background: #f5f5f5;
  font-size: 14px;
  line-height: 20px;
  color: #666;
  border-top: 1px solid #ddd;
}

.box_agree_list01 .box_agree_txt01 {
  height: 175px;
  border-top: 0;
  font-weight: 300;
}

.ui_check_wrap > div .ui_check_input:checked + .ui_check {
  color: #000;
  border: 1px solid #000;
}

.btn {
  line-height: 1;
  padding: 0px;
}

.btn_l.w220 {
  width: 220px;
}

.btn_l.btn_mwht2 {
  color: #000;
  border: 1px solid #E300E3;
}

.btn_l {
  display: inline-block;
  overflow: hidden;
  min-width: 75px;
  height: 62px;
  padding: 0 30px;
  border: 2px solid #000;
  box-sizing: border-box;
  text-align: center;
  color: #000;
  vertical-align: top;
  cursor: pointer;
  line-height: 62px;
}

/*# sourceMappingURL=signup.css.map */