{% extends "shop_user/components/mypage_base.html" %}
{% load sass_tags %} 
{% load product_options %} 
{% load humanize %} 
{% block content %}
<script>
  $("aside").css("display","none")
  $(".page_title").text("장바구니")
</script>
<script
  type="text/javascript"
  src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"
></script>
<link
  href="{% sass_src 'css/mypage.scss' %}"
  rel="stylesheet"
  type="text/css"
/>
<style>
  .main{width:100%!important}
</style>
<link href="{% sass_src 'css/signup.scss' %}" rel="stylesheet" type="text/css" />
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <main class="main" style="margin-top:0px;">
     

      <div class="row mypage_main_header delivery flex-col align-content-center">
        <div class="justify-content-center w-full" >
          <div class="order_header  xxs:hidden md:flex align-items-center   " style="">
            <div class="order_check h-[36px]" style="border-right:none"><input class="all_check" type="checkbox" checked></div>
            <div class="order_num md:w-[120px]" style="">상품 이미지</div>
            <div class="order_product md:w-[calc(100%-360px)] " style="">주문제품</div> 
            <div class="order_process md:w-[50px]" style="">수량</div>       
            <div class="order_process md:w-[85px]" style="border-right:1px solid #ddd">주문금액</div>
            <div class="order_process md:w-[80px]" style="border-right:none;">등록일자</div>
          </div>
          {% for item in basket %}
          <div class="order_row_attr  flex text-base flex-wrap  md:flex-row  py-[10px]" style="border-bottom:1px solid #ddd"  data-id="{{item.id}}">
            <div class="order_check"><input class="product_item" value="{{item.id}}" type="checkbox" ></div>
            <div class="order_num" style="width:120px;padding-left: 9px;"> <img src="{{item.get_product_image}}" style="width: 100px"></div>
            <div class="order_product flex-start  xxs:w-[calc(100%-150px)] sm:w-[calc(100%-360px)] " style="align-items:start; padding-left: 20px;;"><a style="font-size: 14px;" href="/product/detail/{{item.product.original_product_id}}">
            <b>{% get_name_by_id item %}</b></a> 
            {% for option in item.product.json.product_inner_option %}
            {% if option.type == "design" %}
            <span>디자인 : [{{ option.name }}]</span>
            {%endif%}
            {% endfor %}
            <section>옵션 :
            {% if item.product.json.size.need_to_input_option %}
              [사이즈 : {{ item.product.json.size.width }}(cm) x {{ item.product.json.size.height }}(cm)]
            {%endif%}
            {% for option in item.product.json.product_inner_option %} 
            {% if option.type != "design" %} 
              [{{option.type}} : {{ option.name }}]
            {%endif%} 
            {% endfor %}
            </section>

            <span>요청사항 : {% if item.product.comment != "" %} {{item.product.comment}} {% else %} 없음 {% endif %} </span>
            <div class="flex-row"> <span>부속상품&nbsp;:&nbsp;</span><span class="additional_product_text">{{ item.get_additional_product  }}</span> </div>
            {% if item.file_0 %}<a class="badge badge-primary" style="color:#fff!important" href="{{item.file_0.url}}" download>첨부파일</a>{% endif %}
            {% if item.file_1 %}<a class="badge badge-primary" style="color:#fff!important" href="{{item.file_1.url}}" download>첨부파일</a>{% endif %}
            {% if item.file_2 %}<a class="badge badge-primary" style="color:#fff!important" href="{{item.file_2.url}}" download>첨부파일</a>{% endif %}
            </div>
            <div class="order_process  xxs:text-right xxs:w-[190px] md:text-center md:w-[50px]" style="">{{ item.product.json.count }}개</div>
            <div class="order_process product_price xxs:text-right xxs:pr-[10px] xxs:w-[calc(100%-190px)] sm:w-full md:w-[85px] md:text-center">{{ item.product.total_price|intcomma }}원
              <span class="vat" style="display: none;">({{ item.product.vat|intcomma  }}원)</span>

            </div>
            <div class="order_price text-center xxs:hidden md:inline-block" style="font-size: 12px;">{{ item.created_at|date:"Y-m-d A h:i" }}</div>
          </div>
          {% endfor %}
          <div class="w-full">
          <div class="order_row_attr " style="border-bottom: none;">
            <div class="order_num flex lg:px-[10px] xxs:flex-wrap xxs:justify-end md:justify-between" style="width:100%; flex-direction:row; ">
              <div style="flex-direction:row">
                <span>공급가액 </span>&nbsp;<span id="supply_total" style="margin-right:20px;"></span>
                <span>부가세액 </span>&nbsp;<span id="vat_total"  style="margin-right:20px;"></span>
              </div>
              <div class="mr-[20px]"  style="flex-direction:row">
                <span>주문금액 </span>&nbsp;<span id="total_price"></span>
              </div>
            
            </div>
          </div>  
        </div>
        <div class="flex justify-content-end w-full   lg:mt-[20px]">
          <button class="btn btn-warning delete_basket" style="padding: 10px;float:right;margin-right:10px;">선택상품 삭제</button>
          <button class="btn btn-secondary estimate" style="padding: 10px;float:right;margin-right:10px;">견적서 출력</button>
          <button class="btn btn-primary payment" style="padding: 10px;float:right">결제하기</button>
        </div>
        </div>
      </div>
    </main>
    <style>
      .main .mypage_main_header.delivery {
        border-bottom: none!important;
      }
    </style>
<script>
    setTimeout(()=>{$(".product_item").prop("checked","checked")},100)
  $(document).ready(function () {
    $(".additional_product_text").each(function(){

    })

    $(".product_item").prop("checked","checked")
    // 최초 가격 공급 가액등 이니셜라이징
    var total = 0;
    var vat_total = 0;
    function refresh_price(){
      total = 0
      $(".product_item:checked").each(function () {
        total = total + parseInt($(this).closest(".order_row_attr").find(".product_price").eq(0).text().replace(",", ""));
      });
      $("#supply_total").text(total.toLocaleString()+"원");

      vat_total = 0;
      $(".product_item:checked").each(function () {    
        vat_total = vat_total + parseInt($(this).closest(".order_row_attr").find(".vat").eq(0).text().replace(",", "").replace("원","").replace("(","").replace(")",""));
      });
      $("#vat_total").text(vat_total.toLocaleString()+"원");
      $("#total_price").html( (total+vat_total).toLocaleString()+"원"  )
    }
    refresh_price()
    // 최초 가격 공급 가액등 이니셜라이징 끝

    // 각 항목 별로 체크했을때 가격 변경
    $(".product_item").on("click", function(){
      refresh_price();      
    })
    // 각 항목 별로 체크했을때 가격 변경 끝
    

    $(".payment").on("click", function(){
      var id_list= []
      $("input:checked").each(function(){ id_list.push($(this).val()) })
      if(id_list.length == 0 ){
        alert("장바구니에서 상품을 선택해주세요")
        return false
      }
      location.href="/account/payment?id="+ id_list.join(",")
    })
    $(".delete_basket").on("click" , function () {
      var id_list = []
      $(".product_item").each(function(){
        if($(this).is(":checked") == true ){
          id_list.push( $(this).closest(".order_row_attr").attr("data-id") )
        }
      })
      $.ajax({
        url:"/account/delete_basket",
        type:"POST",
        data:{"id": id_list },
        success: function (res) {
          alert("장바구니에서 제품이 삭제되었습니다.")
          location.reload()
        }
      })
    })
    $(".all_check").on("click", function(){
      if( $(this).is(":checked") == true  ){
        $("input[type=checkbox]").prop("checked", true);
      }else{
         $("input[type=checkbox]").prop("checked", false);
      }
      refresh_price();
    })
    $(".estimate").on("click", function(){
      var id_list = []
      
      $(".product_item:checked").each(function(){
        id_list.push( $(this).closest(".order_row_attr").attr("data-id")  )
      })
      if(id_list.length == 0 ){
        alert("장바구니에서 상품을 선택해주세요")
        return false
      }
      //$(".order_row_attr").each(function(){
      //  if( $(this).attr("data-id") ){
      //    id_list.push( $(this).attr("data-id") )
      //  }
      //})
      window.open("/product/estimate/"+ id_list.join(","))
    })
  });
</script>
<style>
  .delete_basket{
    cursor: pointer;
  }
  #supply_total{
    font-size: 24px;;
    color:#333;
    margin-left: 20px;
  }
  #vat_total{
    font-size: 24px;;
    color:#333;
    margin-left: 20px;
  }
  #total_price{
    font-size: 30px;;
    color:#e3007f;
    margin-left: 20px;
  }
  .order_row_attr div{
    align-items: baseline;
  }
  .order_check{
    width: 25px;;
  }
  .order_header .order_check{
    border-right: 1px solid #ddd!important;
    width: 25px;
  }
  .order_row_attr .order_price {
    width: 80px!important;
}
</style>
{% endblock %}
