{% extends "shop_user/components/mypage_base.html" %}
{% load sass_tags %} 
{% load product_options %} 
{% load humanize %} 
{% block content %}
<script
  type="text/javascript"
  src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"
></script>
<link
  href="{% sass_src 'css/mypage.scss' %}"
  rel="stylesheet"
  type="text/css"
/>
<link href="{% sass_src 'css/signup.scss' %}" rel="stylesheet" type="text/css" />
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <main class="main w-full px-[10px] md:w-[calc(100%-210px)]">
      <div class="row mypage_main_header delivery">
        <div class="head_aticle">
          <h2 class="tit">개인결제</h2>
        </div>
        <div
          class="row mypage_filter"
          style="margin: 10px 0px; justify-content: space-between"
        >
          <div>
            <span class="badge badge-primary">오늘</span>
            <span class="badge">1주일</span>
            <span class="badge">1개월</span>
            <span class="badge">6개월</span>
            <span class="badge">전체보기</span>
          </div>
        
        </div>

        <div class="hidden lg:block lg:w-full">
          <div class="order_header flex">          
            <div class="order_check " style="border-right:none"><input class="all_check" type="checkbox" checked></div>
            <div class="w-full items-start text-xs text-gray-400  justify-start lg:w-[120px] lg:justify-center lg:text-black lg:w-[100px] lg:text-black lg:text-sm lg:items-center">상품 이미지</div>
            <div class="w-2/3 text-lg items-start lg:pl-2 lg:w-[calc(100%-550px)] xl:w-[calc(100%-550px)] lg:items-center">주문제품</div>
            <div class="w-1/3 text-lg  justify-end lg:w-[100px] lg:text-base lg:items-center lg:justify-center">수량</div>
            <div class="w-1/3 text-lg  justify-end lg:w-[100px] lg:text-base lg:items-center lg:justify-center">주문금액</div>
            <div class="w-1/3 text-lg  justify-end lg:w-[110px] lg:text-base lg:items-center lg:justify-center">등록일자</div>
            <div class="order_process w-1/3 lg:w-[100px] lg:justify-center lg:items-center" style="border-right: none;">삭제</div>
           </div>
        </div>
      
          {% for item in custom_purchase_list %}
          <div class="order_row order_row_attr flex-wrap mb-3 lg:flex-row " data-id="{{item.id}}">
            <div class="order_check" style="border-right: none; display: flex;align-items: center;">
              <input class="product_item" value="{{item.id}}" type="checkbox" checked>
            </div>
            <div class="w-full items-start text-xs text-gray-400  justify-start lg:w-[120px] lg:justify-center lg:text-black lg:w-[100px] lg:text-black lg:text-sm lg:items-center" style="padding:0px 10px">
              <img style="width: 100px" src="/static/img/custom_purchase.jpg">
            </div>
            <div class="w-2/3 text-lg items-start lg:pl-2 lg:w-[calc(100%-550px)] xl:w-[calc(100%-550px)] " style="text-align: left; align-items: flex-start;display: flex;flex-direction: column;justify-content: center;">
              <span style="font-size: 14px; font-weight: bold;">{{item.product.private_product_name}}</span>
              옵션: {{item.product.private_product_option}}<br>
              부속상품 : {{item.product.private_additional_product}}
            </div>
            <div class="w-1/3 text-lg  justify-end lg:w-[100px] lg:text-base lg:items-center lg:justify-center" style="border-right: none; display: flex;align-items: center;">{{item.product.private_product_count}}</div>
            <div class="product_price w-1/3 text-lg  justify-end lg:w-[100px] lg:text-base lg:items-center lg:justify-center" style="border-right: none; display: flex;align-items: center;">{{item.product.total_price|intcomma}}원</div>
            <div class="w-1/3 text-lg  justify-end lg:w-[110px] lg:text-base lg:items-center lg:justify-center" style="font-size:14px;display: flex;align-items: center;">{{item.created_at}}</div>
            <div class="order_process w-1/3 lg:w-[100px] lg:justify-center lg:items-center" style="border-right: none;display: flex;align-items: center;">삭제</div>
           </div>
          </div>         
          {% endfor %}
          <div class="w-full">
            <div class="order_row_attr " style="border-bottom: none;">
              <div class="order_num flex lg:px-[10px] xxs:flex-wrap xxs:justify-end md:justify-between" style="width:100%; flex-direction:row; ">
                <div style="flex-direction:row">
                  <span>공급가액 </span>&nbsp;<span id="supply_total" style="margin-right:20px;"></span>
                  <span>부가세액 </span>&nbsp;<span id="vat_total"  style="margin-right:20px;"></span>
                </div>
                <div class="mr-[20px]"  style="flex-direction:row">
                  <span>주문금액 </span>&nbsp;<span id="total_price"></span>
                </div>
              
              </div>
            </div>  
          </div>
          <div class="flex justify-content-end w-full   lg:mt-[20px]">
            <button class="btn btn-warning delete_basket" style="padding: 10px;float:right;margin-right:10px;">선택 개인결제 삭제</button>
            <button class="btn btn-primary payment" style="padding: 10px;float:right">결제하기</button>
          </div>
        </div>
      </div>
    </main>
    <div class="modal fade bs-read-modal-xl read_modal" tabindex="-1" role="dialog"
    aria-labelledby="read_notice" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mt-0" id="read_custom_purchase_title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="read_custom_purchase_content">
                   
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script>

      $(document).ready(function () {
        $(".additional_product_text").each(function(){
    
        })
    
        // 최초 가격 공급 가액등 이니셜라이징
        var total = 0;
        var vat_total = 0;
        function refresh_price(){
          total = 0
          $(".product_item:checked").each(function () {
            total = total + parseInt($(this).closest(".order_row_attr").find(".product_price").eq(0).text().replace(",", ""));
          });
          $("#supply_total").text(total.toLocaleString()+"원");
    
          vat_total = 0;
          $(".product_item:checked").each(function () {    
            vat_total = vat_total + parseInt($(this).closest(".order_row_attr").find(".vat").eq(0).text().replace(",", "").replace("원","").replace("(","").replace(")",""));
          });
          $("#vat_total").text((total*0.1).toLocaleString()+"원");
          $("#total_price").html( (total*1.1).toLocaleString()+"원"  )
        }
        refresh_price()
        // 최초 가격 공급 가액등 이니셜라이징 끝
    
        // 각 항목 별로 체크했을때 가격 변경
        $(".product_item").on("click", function(){
          refresh_price();      
        })
        // 각 항목 별로 체크했을때 가격 변경 끝
        
    
        $(".payment").on("click", function(){
          var id_list= []
          $("input:checked").each(function(){ id_list.push($(this).val()) })
          location.href="/account/payment?id="+ id_list.join(",")
        })
        $(".delete_basket").on("click" , function () {
          var id_list = []
          $(".product_item").each(function(){
            if($(this).is(":checked") == true ){
              id_list.push( $(this).closest(".order_row_attr").attr("data-id") )
            }
          })
          $.ajax({
            url:"/account/delete_basket",
            type:"POST",
            data:{"id": id_list },
            success: function (res) {
              alert("장바구니에서 개인결제 제품이 삭제되었습니다.")
              location.reload()
            }
          })
        })
        $(".all_check").on("click", function(){
          if( $(this).is(":checked") == true  ){
            $("input[type=checkbox]").prop("checked", true);
          }else{
             $("input[type=checkbox]").prop("checked", false);
          }
          refresh_price();
        })
        $(".estimate").on("click", function(){
          var id_list = []
          
          $(".product_item:checked").each(function(){
            id_list.push( $(this).closest(".order_row_attr").attr("data-id")  )
          })
    
          //$(".order_row_attr").each(function(){
          //  if( $(this).attr("data-id") ){
          //    id_list.push( $(this).attr("data-id") )
          //  }
          //})
          window.open("/product/estimate/"+ id_list.join(","))
        })
      });
    </script>

<script>
  var IMP = window.IMP; // 생략가능
  IMP.init("imp01109413");
    $("#pay").on("click", function () {
      IMP.request_pay(
        {
          pg: "inicis", // version 1.1.0부터 지원.
          pay_method: "card",
          merchant_uid: "merchant_" + new Date().getTime(),
          name: $(this).closest(".modal-content").find("#read_custom_purchase_title").text(),
          amount: $(this).closest(".modal-content").find(".total").text().trim(),
          buyer_email: "iamport@siot.do",
          buyer_name: "구매자이름",
          buyer_tel: "010-1234-5678",
          buyer_addr: "서울특별시 강남구 삼성동",
          buyer_postcode: "123-456",
          m_redirect_url: "",
        },
        function (rsp) {
          console.log(rsp)
          var msg;
          if (rsp.success) {
            // msg += '고유ID : ' + rsp.imp_uid;
            // msg += '상점 거래ID : ' + rsp.merchant_uid;
            // msg += '결제 금액 : ' + rsp.paid_amount;
            // msg += '카드 승인번호 : ' + rsp.apply_num;
            var id_list = []
            $(".delete_basket").each(function () {
              id_list.push($(this).attr("data-id"))
            })
            $.ajax({
              url: "/account/payment",
              type: "post",
              data:{
                id:id_list.join(","),
                comment:$("#comment").val(),
                phone:$("#tel").val(),
                address_simple:$("#address_0").val(),
                address_detail:$("#address_1").val(),
                postal_code:$("#postal_code").val(),
                total_price:total,
                iamport_id:rsp.imp_uid,
              },
              success: function () {
                msg = "결제가 완료되었습니다.";
                alert(msg);
                location.href="/"
              },
              error: function (e) {
                msg = "결제에 실패하였습니다.";
                msg += "에러내용 : " + e;
              },
            });
          } else {
            msg = "결제에 실패하였습니다.";
            msg += "에러내용 : " + rsp.error_msg;
          }     
        }     
      );
    });
</script>
<style>
  .order_product{
    /* width: 498px!important; */
  }
  .order_price{
    width: 200px!important
  }
  #container{
    min-height: initial!important;
  }
    .delete_basket{
    cursor: pointer;
  }
  
  .order_etc{
    width: 100px!important
  }
  .order_delivery{
    width: 150px!important;
  }
  .badge{
    cursor: pointer;
  }
  .delivery_select{
    margin: 3px;
    font-size: 15px;;
    color: #666!important;
    background-color: #fff!important;
  }
  .delivery_selected{
    color: #fff!important;
    background-color: #007bff!important;
  }
  #account_info{
    font-size: 15px;
    color:blue;
    margin-left: 111px;
  }
  
</style>
{% endblock %}
