{% extends "shop_user/components/mypage_base.html" %}
{% load sass_tags %} 
{% load product_options %} 
{% load humanize %} 
{% block content %}
<script>
  $("aside").css("display","none")
  $(".page_title").text("개인결제")
</script>
<script
  type="text/javascript"
  src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"
></script>
<link
  href="{% sass_src 'css/mypage.scss' %}"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="{% sass_src 'css/payment.scss' %}"
  rel="stylesheet"
  type="text/css"
/>
<link href="{% sass_src 'css/signup.scss' %}" rel="stylesheet" type="text/css" />
<style>
  .main{width:100%!important}
</style>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <main class="main">
     
      <div class="row mypage_main_header delivery">
        <div class="main_header">
          <div>결제 대기내역</div>
        </div>
        

        <div class="row" style="margin-top: 10px;">
          <div class="col-3">개인 결제 이름</div>
          <div class="col-9">{{purchase.title}}</div>
          <div class="col-3">주문 내용</div>
          <div class="col-9">{{purchase.content|safe}}</div>

            <div class="main_header" style="margin-top:20px;">
              <div>결제 금액 정보</div>
            </div>

           
            <div class="container" style="padding-top: 10px;">
              <div class="row">
                <div class="col-2 d-flex flex-column">
                    <div class="price_header">공급가액</div>
                    <div class="price_content supply_total">{{purchase.price|intcomma}}원</div>
                </div>
                <div class="col-2 d-flex flex-column">
                  <div class="price_header">부가세</div>
                  <div class="price_content vat_total">{{purchase.vat|intcomma}}원</div>
                </div>
                <div class="col-2 d-flex flex-column">
                  <div class="price_header">배송비</div>
                  <div class="price_content delivery_total">{{purchase.delivery_cost|intcomma}}원</div>
                </div>
                <div class="col-2 d-flex flex-column">
                  <div class="price_header">포인트 사용</div>
                  <div class="price_content">0원</div>
                </div>
                <div class="col-2 d-flex flex-column">
                  <div class="price_header">쿠폰 사용</div>
                  <div class="price_content">0원</div>
                </div>
                <div class="col-2 d-flex flex-column">
                  <div class="price_header">결제 예정금액</div>
                  <div class="price_content total_price">{{purchase.total|intcomma}}원</div>
                </div>
              </div>
            </div>
          
          <div class="main_header" style="margin-top:20px;">
            <div>주문자 정보</div>
          </div>
          <div class="container" style="padding: 0px!important;">
            <form id="submit_frm" name="submit_frm" method="post" >
              <div class="box_shop_form01 inner" style="width: 100%">
                  <div class="tbl_box" style="margin-top: 0px;">
                      <div class="inner" style="width: 100%">
                          <div class="tbl_box_in" style="margin-top:0px; border-top:none; border-bottom:none;width:100%">
                              <form id="signup_form" method="post" >
                                  {% csrf_token %}
                                  <table class="tbl03 sender" style="width: 100%;">                                 
                                      <tbody>
                                        {% if user.is_authenticated %}
                                        <tr>
                                          <th>발송지</th>
                                          <td colspan="3">
                                            <select class="address" style=" width:429px;">
                                              <option 
                                              data-postal-code="{{request.user.postal_code}}"  
                                              data-address-simple="{{request.user.address_simple}}"
                                              data-address-detail="{{request.user.address_detail}}"
                                              >기본발송지</option>
                                              {% for item in address_list %}
                                              <option 
                                              data-postal-code="{{item.postal_code}}"  
                                              data-address-simple="{{item.simple}}"
                                              data-address-detail="{{item.detail}}"
                                              >{{item.name}}</option>
                                              {% endfor %}
                                            </select>
                                          </td>
                                      
                                        </tr>
                                        {% endif %}
                                        <tr>
                                          <th scope="row" class="align_l"><label for="tel">휴대전화</label></th>
                                          <td class="align_l" style="vertical-align: top;" colspan="3">
                                              <input type="text"" name="phone" id="phone"  value="{{request.user.phone|default:""}}"  class="text_input" title="연락처를 입력해주세요." placeholder="숫자만 입력해주세요" style="width: 429px;">
                                          </td>
                                        </tr>
                                          <tr> 
                                              <th scope="row"><label for="name"">이름</label></th>
                                              <td>
                                                  <input type="text" id="name" name="name" class="text_input" title="이름을 입력해주세요." value=""  placeholder="이름을 입력해주세요" style="width:100%;">
                                              </td>                                       
                                              <th scope="row"><label for="email">연락처</label></th>
                                              <td>
                                                <input type="text"" name="tel" id="tel"  value=""  class="text_input" title="연락처를 입력해주세요." placeholder="숫자만 입력해주세요" style="width: 100%;">
                                              </td>
                                              <input type="hidden" id="memberId" name="memberId" value="">
                                          </tr>                                            
                                          <tr>
                                            <th scope="row" class="align_l"><label for="address">발송지</label></th>
                                            <td class="" colspan="3" style=" align-items: center;">
                                                <input type="text"" value="{{request.user.postal_code|default:""}}" name="postal_code" id="postal_code" class="text_input"  placeholder="우편번호를 입력해주세요" style="width: 80px;">
                                                <input type="text"" value="{{request.user.address_simple|default:""}}"  id="address_0" name="address_0" class="text_input"  placeholder="주소를 입력해주세요" style="width: 345px;">
                                                <input type="text"" value="{{request.user.address_detail|default:""}}"  id="address_1" name="address_1" class="text_input"  placeholder="세부주소를 입력해주세요" style="width: 544px;">
                                            </td>
                                          </tr>                                          
                                      </tbody>
                                  </table><!-- // tbl01 -->
                              </form>
                          </div>
                      </div>
                  </div><!-- // tbl_box -->                   
              </div>
              </form>
          </div>
          <div class="main_header" style="margin-top:20px;">
            <div>배송지 정보</div>
          </div>
          <div class="container" style="padding-top:0px;width: 100%;padding:0px!important">
            <form id="submit_frm" name="submit_frm" method="post" >
            <div class="box_shop_form01 inner" style="width: 100%">
                <div class="tbl_box" style="margin-top: 0px;">
                    <div class="inner" style="width: 100%">
                        <div class="tbl_box_in ship" style="margin-top:0px; border-top:none; border-bottom:none;width:100%">
                            <form id="signup_form" method="post" >
                                {% csrf_token %}
                                <table class="tbl03" style="width: 100%;">                                 
                                    <tbody>
                                      {% if user.is_authenticated %}
                                       <tr>
                                          <th>배송지</th>
                                          <td>
                                            <select class="ship_address" style=" width:429px;">                                           
                                              {% for item in ship_address_list %}
                                              <option 
                                              data-postal-code="{{item.postal_code}}"  
                                              data-address-simple="{{item.simple}}"
                                              data-address-detail="{{item.detail}}"                                              
                                              data-address-receiver_name="{{item.receiver_name}}"  
                                              data-address-receiver_email="{{item.receiver_email}}"
                                              data-address-receiver_tel="{{item.receiver_tel}}"
                                              data-address-receiver_phone="{{item.receiver_phone}}"
                                              >{{item.name}}</option>
                                              {% endfor %}
                                            </select>
                                          </td>
                                        </tr>
                                        {% endif %}
                                        <tr>
                                            <th scope="row"><label for="name"">수취인 이름</label></th>
                                            <td>
                                                <input type="text" id="name" name="name" class="text_input" title="이름을 입력해주세요." value="{{request.user.name|default:""}}"  placeholder="이름을 입력해주세요" style="width:429px;">
                                            </td>                                       
                                            <th scope="row"><label for="email"></label></th>
                                            <td>
                                            </td>
                                            <input type="hidden" id="memberId" name="memberId" value="">
                                        </tr>
                                        <tr>
                                            <th scope="row" class="align_l"><label for="tel">연락처</label></th>
                                            <td class="align_l" style="vertical-align: top;">
                                                <input type="text"" name="tel" id="tel"  value="{{request.user.tel|default:""}}"  class="text_input" title="연락처를 입력해주세요." placeholder="숫자만 입력해주세요" style="width: 429px;">
                                            </td>
                                            <th scope="row" class="align_l"><label for="tel">휴대전화</label></th>
                                            <td class="align_l" style="vertical-align: top;">
                                                <input type="text"" name="phone" id="phone"  value="{{request.user.phone|default:""}}"  class="text_input" title="연락처를 입력해주세요." placeholder="숫자만 입력해주세요" style="width: 429px;">
                                            </td>
                                        </tr>    
                                        <tr>
                                          <th scope="row" class="align_l"><label for="address">배송지</label></th>
                                          <td class="" colspan="3" style=" align-items: center;">
                                              
                                              <input type="text"" value="{{request.user.postal_code|default:""}}" name="postal_code" id="postal_code" class="text_input"  placeholder="우편번호를 입력해주세요" style="width: 80px;">
                                              <input type="text"" value="{{request.user.address_simple|default:""}}"  id="address_0" name="address_0" class="text_input"  placeholder="주소를 입력해주세요" style="width:345px;;">
                                              <input type="text"" value="{{request.user.address_detail|default:""}}"  id="address_1" name="address_1" class="text_input"  placeholder="세부주소를 입력해주세요" style="width: 544px;">
                                          </td>
                                        </tr>      
                                        <tr>
                                          <th>배송시<br>요청사항</th>
                                          <td colspan="3">
                                            <textarea id="comment" class="form-control" style="width: 980px; height: 50px;margin:0px!important" placeholder="배송시 요청사항을 입력해주세요"></textarea>
                                          </td>
                                        </tr>                         
                                    </tbody>
                                </table><!-- // tbl01 -->
                            </form>
                        </div>
                    </div>
                </div><!-- // tbl_box -->
                
            </div>
            </form>
        
         
            <div class="main_header" style="margin-top:20px;">
              <div>결제 방법 선택</div>
            </div>
            <div class="container" style="padding-top: 10px;display: flex; align-items: center;flex-wrap: wrap;" >
                <div class="price_header" style="margin-right: 50px;;">결제 방법</div>
                <div> 
                  <input type="radio" name="pay_method"  id="inicis" value="이니시스" checked ><label for="inicis"><img src="/static/img/inicis.jpg" style="width:100px;"></label> 
                  <input type="radio" name="pay_method"  id="account" value="무통장"><label for="account" style="margin-right: 20px;">무통장 입금</label> 
                </div>
                <div id="account_info">
                  *입금자명 및 입금금액이 주문정보와 다를경우 입금 확인 지연으로 출고가 늦어질수 있습니다.<br>
                  *입금후 전화나 카톡으로 연락주시면 더욱 빠른 진행이 가능합니다.<br>
                  *3일 이내 미입금시 자동취소됩니다.
                </div>  
            </div>
            <div class="account_method hidden">
              <div id="prove_method" class="container account " style="padding-top: 10px;display: flex; align-items: center;" >
                <div class="price_header" style="margin-right: 50px;;">증빙 방법</div>
                <div> 
                  <input type="radio" name="prove_method" id="prove_0" value="현금영수증"><label for="prove_0" style="margin-right: 20px;">현금영수증</label> 
                  <input type="radio" name="prove_method" id="prove_1" value="세금계산서" ><label for="prove_1" style="margin-right: 20px;">세금계산서</label> 
                  <input type="radio" name="prove_method" id="prove_2" value="증빙없음" checked><label for="prove_2" style="margin-right: 20px;">증빙없음</label> 
                </div>
              </div>
              <div id="prove_method_0" class="container account prove_method hidden" style="padding-top: 10px;display: flex; align-items: center;" >
                <div class="price_header" style="margin-right: 50px;;">현금 영수증</div>
                <div style="display: flex;"> 
                  <input type="radio" name="prove_method_0" id="prove_method_0_0" value="소득공제" checked><label for="prove_method_0_0" style="margin-right: 20px;" >소득공제</label> 
                  <input type="radio" name="prove_method_0" id="prove_method_0_1"  value="지출증빙"><label for="prove_method_0_1" style="margin-right: 20px;">지출증빙</label> 
                  <div class="prove_method_0 " data-prove="prove_method_0_0"><input id="proof_name" placeholder="이름을 입력해주세요"><input id="proof_tel" placeholder="핸드폰 번호를 입력해주세요"></div>
                  <div  class="prove_method_0 hidden"  data-prove="prove_method_0_1"><input id="proof_company_name" placeholder="법인명을 입력해주세요"><input id="proof_company_num" placeholder="사업자 번호를 입력해주세요"></div>
                </div>
              </div>
              <div id="prove_method_1" class="container account prove_method hidden" style="padding-top: 10px;display: flex; align-items: center;" >
                <div class="price_header" style="margin-right: 50px;;">세금 계산서</div>
                <div> 
                  <input type="file" name="prove_method_1" id="prove_method_1_0">
                  <input type="text" placeholder="계산서 발급 이메일" name="prove_method_1_email" id="prove_method_1_1">
                </div>
              </div>
            </div>
            
           

            <div class="btn_wrap align_c mgt60" style="margin-top:60px; text-align:center; margin-bottom: 100px;">
              <div  id="pay" class="btn_l btn_mwht2 w220"><span>결제하기</span></div>
              
            </div><!-- // btn_wrap -->

          </div>
        
        
        <!--//content-->


      
        </div>
      </div>
    </main>
  <script>


  $(document).ready(function () {
    var payment_method; 
    var proof_method;
    proof_method = "증빙없음" // 증빙없음 초기화

    $("input[name='pay_method']").on("change",function(){
      if( $(this).attr("id") == "account" ) {
        $(".account_method").removeClass("hidden")
        payment_method = "무통장입금"
      }else{
        $(".account_method").addClass("hidden")
        payment_method = "이니시스결제"
      }
    })
    $("input[name='prove_method']").on("change", function(){ 
      $(".container.prove_method").addClass("hidden")
      if( $(this).attr("id") == "prove_0" ) {
        $("#prove_method_0").removeClass("hidden")
        proof_method = "현금영수증-"+$("input[name='prove_method_0']").val()
      }else if( $(this).attr("id") == "prove_1"  ){
        $("#prove_method_1").removeClass("hidden")
        proof_method = "세금계산서"
      }else{
        proof_method = "증빙없음"
      }
    })
    $("input[name='prove_method_0']").on("change", function(){
      $(".prove_method_0").addClass("hidden")
      if( $(this).attr("id") == "prove_method_0_0" ) {
        $("div[data-prove='prove_method_0_0']").removeClass("hidden")
        proof_method = "현금영수증-소득공제"
      }else if( $(this).attr("id") == "prove_method_0_1"  ){
        $("div[data-prove='prove_method_0_1']").removeClass("hidden")
        proof_method = "현금영수증-지출증빙"
      }
    })

    var total = 0



    $("#total_price").text(total.toLocaleString()+"원");
    var IMP = window.IMP; // 생략가능
    IMP.init("imp01109413");
    var pay_name = "{{purchase.title}}";
    
     
    $("#pay").on("click", function () {
     
      if( $("input[name='pay_method']").val()=="무통장" ){
         if( $("input[name='prove_method']").val()=="현금영수증"){
           if( $("input[name='prove_method_0']").val()=="소득공제" ){
              if($("#proof_name").val().trim() == ""){ alert("소득공제용 이름을 입력해주세요."); return false; }
              if($("#proof_tel").val().trim() == ""){ alert("소득공제용 이름을 입력해주세요."); return false; }
           }else{ 
              if($("#proof_company_name").val().trim() == ""){ alert("소득공제용 이름을 입력해주세요."); return false; }
              if($("#proof_company_num").val().trim() == ""){ alert("소득공제용 이름을 입력해주세요."); return false; }
           }
         }
         else if( $("input[name='prove_method']").val()=="세금계산서" ){
           if( $("#prove_method_1_0")[0].files.length == 0 ){ alert("세금계산서용 사업자등록증을 첨부해주세요."); return false;  }
           if( $("#prove_method_1_1").val().trim() == "" ){ alert("세금계산서용 사업자등록증을 첨부해주세요."); return false;  }
         }
         else if( $("input[name='prove_method']").val()=="증빙없음" ){
           console.log("증빙없음")
         }
      }
      
      if(payment_method == "무통장입금" ){
        pay( "direct"+ Math.floor(Math.random() * 10000000001) )
        return false;
      } 
      IMP.request_pay(
        {
          pg: "inicis", // version 1.1.0부터 지원.
          pay_method: "card",
          merchant_uid: "merchant_" + new Date().getTime(),
          name: pay_name.replace(/\n/g,' ').trim(),
          goodsname: pay_name.replace(/\n/g,' ').trim(),
          amount: {{purchase.total}},
          buyer_email: "{{request.user.email}}",
          buyer_name: "{{request.user.username}}",
          buyer_tel: "{{request.user.phone}}",
          buyer_addr: "{{request.user.address_simple}} {{request.user.address_detail}}",
          buyer_postcode: "{{request.user.postal_code}}",
          m_redirect_url: "",
        },
        function (rsp) {
          console.log(rsp)
          var msg;
          if (rsp.success) {
            // msg += '고유ID : ' + rsp.imp_uid;
            // msg += '상점 거래ID : ' + rsp.merchant_uid;
            // msg += '결제 금액 : ' + rsp.paid_amount;
            // msg += '카드 승인번호 : ' + rsp.apply_num;
            pay(rsp.imp_uid)
          } else {
            msg = "결제에 실패하였습니다.";
            msg += "에러내용 : " + rsp.error_msg;
          }     
        }     
      );
    });
    $("select.address").on("change", function(){
      $("#postal_code").val( $(this).find("option:selected").attr("data-postal-code") )
      $("#address_0").val( $(this).find("option:selected").attr("data-address-simple") )
      $("#address_1").val( $(this).find("option:selected").attr("data-address-detail") )
    })
    $("select.ship_address").on("change", function(){
      $(".ship input[name='postal_code']").val( $(this).find("option:selected").attr("data-postal-code") )
      $(".ship input[name='address_0']").val( $(this).find("option:selected").attr("data-address-simple") )
      $(".ship input[name='address_1']").val( $(this).find("option:selected").attr("data-address-detail") )
      $(".ship input[name='name']").val( $(this).find("option:selected").attr("data-address-receiver_name") )
      $(".ship input[name='email']").val( $(this).find("option:selected").attr("data-address-receiver_email") )
      $(".ship input[name='tel']").val( $(this).find("option:selected").attr("data-address-receiver_tel") )
      $(".ship input[name='phone']").val( $(this).find("option:selected").attr("data-address-receiver_phone") )
    })
    $("select.ship_address").trigger("change")
    function pay(imp_uid){
      var id_list = []
            $(".payment_list").each(function () {
              id_list.push($(this).attr("data-id"))
            })
            var form_data = new FormData()
            form_data.append("id",id_list.join(",") )
            form_data.append("deliver_type" ,$(".delivery_selected").text().trim() )
            form_data.append("sender_name", $(".sender input[name='name']").val() )
            form_data.append("sender_tel", $(".sender input[name='tel']").val() )
            form_data.append("sender_postal_code", $(".sender input[name='postal_code']").val() )
            form_data.append("sender_address_simple", $(".sender input[name='address_0']").val() )
            form_data.append("sender_address_detail", $(".sender input[name='address_1']").val())
            form_data.append("comment", $("#comment").val())
            form_data.append("name" , $(".ship input[name='name']").val() )
            form_data.append("email" , $(".ship input[name='email']").val() )
            form_data.append("tel",$(".ship input[name='tel']").val() )
            form_data.append("phone", $(".ship input[name='phone']").val())
            form_data.append("address_simple",  $(".ship input[name='address_0']").val())
            form_data.append("address_detail", $(".ship input[name='address_1']").val())
            form_data.append("postal_code", $(".ship input[name='postal_code']").val())
            form_data.append("total_price", final+total+vat)
            form_data.append("iamport_id", imp_uid)
            form_data.append("payment_method", payment_method)
            form_data.append("proof_method", proof_method)
            form_data.append("proof_email", $("#prove_method_1_1").val() )
            form_data.append("proof_tel", $("#proof_tel").val() )
            form_data.append("proof_name", $("#proof_name").val())
            form_data.append("proof_company_name", $("#proof_company_name").val())
            form_data.append("proof_company_num",$("#proof_company_num").val() )
            form_data.append("proof_file",$("#prove_method_1_0")[0].files[0])

            if (imp_uid.indexOf("direct") == -1) {
                form_data.append("purchase_status", "after-withdraw")
              } else {
                form_data.append("purchase_status", "before-withdraw")
              }

            $.ajax({
              url: "/account/ajax_payment",
              type: "post",
              contentType: false,
              processData: false,
              data: form_data,
              success: function () {
                msg = "결제가 완료되었습니다.";
                alert(msg);
                location.href="/"
              },
              error: function (e) {
                msg = "결제에 실패하였습니다.";
                msg += "에러내용 : " + e;
              },
            });
    }
    $("#postal_code").on("click", function(e){
        new daum.Postcode({
            oncomplete: function(data) {
                console.log(data)
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
                // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var roadAddr = data.roadAddress; // 도로명 주소 변수
                var extraRoadAddr = ''; // 참고 항목 변수
                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                    extraRoadAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if(data.buildingName !== '' && data.apartment === 'Y'){
                   extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if(extraRoadAddr !== ''){
                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('postal_code').value = data.zonecode;
                document.getElementById("address_0").value = data.roadAddress;
                document.getElementById("address_1").value =  extraRoadAddr
                // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
                // if(roadAddr !== ''){
                //     document.getElementById("address_1").value = extraRoadAddr;
                // } else {
                //     document.getElementById("address_1").value = '';
                // }
            }
        }).open();
    })
    $(".ship #postal_code").on("click", function(e){
        new daum.Postcode({
            oncomplete: function(data) {
                console.log(data)
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
                // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var roadAddr = data.roadAddress; // 도로명 주소 변수
                var extraRoadAddr = ''; // 참고 항목 변수
                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                    extraRoadAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if(data.buildingName !== '' && data.apartment === 'Y'){
                   extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if(extraRoadAddr !== ''){
                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                $('.ship #postal_code').val(data.zonecode);
                $(".ship #address_0").val(data.roadAddress);
                $(".ship #address_1").val(extraRoadAddr);
                // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
                // if(roadAddr !== ''){
                //     document.getElementById("address_1").value = extraRoadAddr;
                // } else {
                //     document.getElementById("address_1").value = '';
                // }
            }
        }).open();
  });
})
</script>
<style>
  .delete_basket{
    cursor: pointer;
  }
  
  .order_etc{
    width: 100px!important
  }
  .order_delivery{
    width: 150px!important;
  }
  .badge{
    cursor: pointer;
  }
  .delivery_select{
    margin: 3px;
    font-size: 15px;;
    color: #666!important;
    background-color: #fff!important;
  }
  .delivery_selected{
    color: #fff!important;
    background-color: #007bff!important;
  }
  #account_info{
    font-size: 15px;
    color:blue;
    margin-left: 111px;
  }
  
</style>
{% endblock %}
