{% extends "shop_user/components/mypage_base.html" %}
{% load sass_tags %} 
{% load product_options %} 
{% load humanize %} 
{% block content %}

<script
  type="text/javascript"
  src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"
></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />


<link href="/static/css/signup.css" rel="stylesheet" type="text/css" />
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <main class="main w-full px-[0px]  "  style="width: 998px">
      <div class="row mypage_main_header delivery">
        <div class="head_aticle" style="font-weight: bold; font-size: 20px;border-bottom:none">
          <h2 class="tit"><img src="/static/img/09.png" style="display: inline-block;width: 40px;margin-right: 10px">주문/배송 조회</h2>
        </div>
        <div
          class="row mypage_filter"
          style="margin: 10px 0px; width: 100%;    justify-content: space-between; display:flex; margin-bottom: 20px"
        >
          <div style="flex-grow: 1; display: flex;">
            <span data-selected="5" data-month="all" class="date mypage-date {% if selected == "5" %}mypage-date-selected{%endif%}">전체보기</span>  
            <span data-selected="2" data-month="-1m" class="date mypage-date {% if selected == "2" %}mypage-date-selected{%endif%}">1주일</span>
            <span data-selected="3" data-month="-3m" class="date mypage-date {% if selected == "3" %}mypage-date-selected{%endif%}">1개월</span>
            <span data-selected="4" data-month="-6m" class="date mypage-date {% if selected == "4" %}mypage-date-selected{%endif%}">6개월</span>         
          <div
            class=""
            style="display: flex;  align-items: center;"
          >
            <input
              type="text"
              id="datePicker"
          
              class="form-control"
              value="2019-06-27"
            />&nbsp;~&nbsp;
            <input
              type="text"
              id="datePicker2"           
              class="form-control"
              value="2020-10-15"
            />
          </div>
          
            <input class="mypage_search" value="{{q|default:""}}" class="input" placeholder="상품을 검색하세요" id="search_text" style="margin-left: 10px;">
            <div class="icon " style="
              background-color: #141414;margin-left: 8px;
              width: 80px;  height: 25px;
            cursor: pointer;color:#fff; text-align: center;border-radius: 5px;;font-size: 12px;font-weight: bold; line-height: 25px;;
              ">조회하기                
            </div>        
            <div style="flex-grow: 1;"></div>
            <select class="form-control mypage-page-size" style="width: 100px;height: 46px;">
              <option >20개씩</option>
              <option >30개씩</option>
              <option >40개씩</option>
            </select>
          </div>        
      
           
        
        </div>

        <div class="hidden lg:block lg:w-full" style="justify-content: flex-end;border-top:2px solid #898989; border-bottom: 1px solid #898989;">
          <div class="order_header flex" style="height: 47px">           
            <div class="" style="border-right:none;width: 155px; font-weight: bold; font-size: 14px; border: none;" >주문 일자</div>
            <div class="" style="border-right:none;width: 120px; font-weight: bold; font-size: 14px; border: none;" >주문번호</div>
            <div class="" style="border-right:none;width: 300px; font-weight: bold; font-size: 14px; border: none;">주문제품</div>
            <div class="" style="border-right:none;width: 120px; font-weight: bold; font-size: 14px; border: none;" >결제 금액</div>
            <div class=""  style="border-right:none;;width: 100px; font-weight: bold; font-size: 14px; border: none;">진행 상태</div>        
            <div class="" style="border-right:none;width: 100px; font-weight: bold; font-size: 14px; border: none;" >상세내역</div>
            <div class="" style="border-right:none;width: 100px; font-weight: bold; font-size: 14px; border: none;color: #898989;">환불</div>
            
          </div>
        </div> 
      
          {% for purchase in delivery_list %}
          
          <div class="order_row flex-wrap  lg:flex-row"  data-for="pur_{{purchase.id}}"  
          style="height: 47px; align-items: center;border:1px solid #898989; border-left: none; border-right: none; {% if forloop.last %} border-bottom: 2px solid #898989 {% endif %}">           
            <div class="" style="width:155px; font-size: 13px;">{{purchase.created_at|date:"Y-m-d"}} {{purchase.created_at|date:"H:i"}}</div>
            <div class="" style="width: 120px; font-size: 13px;">000000{{forloop.revcounter}}</div>
            <div data-for="pur_{{purchase.id}} " class="order_product purchase_name" style="font-size: 13px;align-items: center;cursor:pointer ; word-break: keep-all; text-align: center; width:300px">{{purchase.get_purchase_name}}</div>
            <div class="order_process" style="font-size: 13px;align-items: center;display: flex; width:120px;justify-content: center;">{{purchase.total_price|intcomma}}원</div>
            <div class="" style="word-wrap: break-word;align-items: center;width: 100px; font-size: 13px;"  >{{purchase.get_purchase_status_display}}</div>        
            <div class="order_detail"  style="cursor: pointer;align-items: center;display: flex;justify-content: center;font-size: 13px;width:100px">
              보기
            </div>
            <div class="w-2/3 flex xxs:flex-row lg:flex-col lg:w-[50px]" style="color:#898989;cursor: pointer;align-items: center;display: flex;;width:100px;justify-content: center;font-size: 13px;">
              요청
            </div>
          </div>
          <div id="pur_{{purchase.id}}" class="purchase_detail hidden" style="margin: 5px;border-color: #52277247;margin-left: 0px; ">
            {{ purchase.created_at|date:"Y-m-d H"  }} 시 주문 | 주문번호 : {{ purchase.iamport_id }}<br>
            <div class="order_header" style="display: flex;">
              <div class="order_num" style="width:120px;">상품 이미지</div>
              <div class="order_product" style="width:620px;">주문제품</div>
              <div class="order_process" style="width:50px;">수량</div>
              <div class="order_process" style="width:100px;border-right:none">공급가액<br>(부가세)</div>
            </div>
            {% if user.is_authenticated %}
            {% for item in purchase.purchaseitem_set.all %}
            <div class="order_row"  data-id="{{item.id}}">
              <div class="order_num" style="width:120px; display: flex; align-items: center;justify-content: center;"> <img src="{{item.get_product_image}}" style="width: 100px"></div>
              <div class="order_product" style="width:620px;padding-left: 10px; text-align: left; display: flex;flex-direction: column;justify-content: center;"><a href="/product/detail/{{item.product.original_product_id}}">
              <b>{% get_name_by_id item %}</b></a>
              {% for option in item.product.json.product_inner_option %}
                {{option.type}} : {{ option.name }}<br>
              {% endfor %}
              <span>
              첨부파일 : {% if  item.file_0 or item.file_1 or item.file_2 %}  {% if item.file_0 %}<a class="badge badge-primary" style="color:#fff!important" href="{{item.file_0.url}}" download>첨부파일</a>{% endif %}
                         {% if item.file_1 %}<a class="badge badge-primary" style="color:#fff!important" href="{{item.file_1.url}}" download>첨부파일</a>{% endif %}
                         {% if item.file_2 %}<a class="badge badge-primary" style="color:#fff!important" href="{{item.file_2.url}}" download>첨부파일</a>{% endif %} {% else %} 없음  {%endif%}</span>
              부속상품 : {{ item.get_additional_product  }}<br>
              요청사항 : {{item.product.comment}}
              </div>
              <div class="order_process" style="width:50px;justify-content: center; display:flex;flex-direction: column;">{{ item.product.json.count }} </div>

              <div class="order_process product_price" style="justify-content: center;width:100px;align-items: center; display:flex;flex-direction: column;">{{ item.product.total_price|intcomma }}원<br>
              <span class="vat" style="">({{ item.product.vat|intcomma  }}원)</span></div>
            </div>
            
            {% endfor %}
          
            <table>
              <tr>
                <th class="section_title" colspan="4">주문자 정보</th>
              </tr>
              <tr>
                <th>주문자 명</th> <td> {{purchase.sender_name}}</th>
              </tr>
              <tr>
                <th>이메일</th>  <td>  {{purchase.sender_tel}}</td>
              </tr>
              <tr>
                <th>휴대전화</th> <td> </td>
              </tr>
              <tr>
                <th>주문자 주소</th> <td> ({{purchase.sender_postal_code}})
                  {{purchase.sender_address_simple}} {{purchase.sender_address_detail}}</td>
              </tr>
              <tr>
                <th class="section_title" colspan="4">배송지 정보</th>
              </tr>
              
              <tr>
                <th>수취인 이름</th> <td> {{purchase.name}}</th>
              </tr>
              <tr>
                <th>휴대전화</th> <td> {{purchase.tel}}</td>
              </tr>
              <tr>
                <th>배송지</th>
                <td>({{purchase.postal_code}})
                  {{purchase.address_simple}} {{purchase.address_detail}}
                </td>
              </tr>
              <tr>
                <th>배송시 요청사항</th>
                <td  style="border-bottom: 2px solid  #52277247;" colspan="3">
                  {{purchase.comment}}
                </td>
              </tr>
              <tr >
                <th style="border-bottom: 2px solid  #52277247; " class="section_title" colspan="4">
                  
                <div style="margin-bottom: 20px">결제 정보({{purchase.payment_method}})</div>         
                <div class="row" style="font-size: 15px;;display: flex; justify-content: space-between;width:100%">
                  <div class="col-2 d-flex flex-column">
                      <div class="price_header">공급가액</div>
                      <div class="price_content supply_total">{{purchase.supply_price|default:"0"|intcomma}}원</div>
                  </div>
                  <div class="col-2 d-flex flex-column">
                    <div class="price_header">부가세</div>
                    <div class="price_content vat_total">{{purchase.vat_price|default:"0"|intcomma}}원</div>
                  </div>
                  <div class="col-2 d-flex flex-column">
                    <div class="price_header">배송비</div>
                    <div class="price_content delivery_total">{{purchase.delivery_price|default:"0"|intcomma}}원</div>
                  </div>
                  <div class="col-2 d-flex flex-column">
                    <div class="price_header">결제 금액</div>
                    <div class="price_content total_price">{{purchase.total_price|default:"0"|intcomma}}원</div>
                  </div>
                </div>
                </th>
              </tr>
              
            </table>            
            {% else %}
            {% for item in purchase.temp_purchase_item.all %}
            <div class="order_row"  data-id="{{item.id}}">
              <div class="order_check" style="width:10px;"></div>
              <div class="order_num" style="width:120px;"> <img src="{{item.get_product_image}}" style="width: 100px"></div>
              <div class="order_product" style="width:320px;"><a href="/product/detail/{{item.product.original_product_id}}">
              <b>{% get_name_by_id item %}</b></a> 
              {% for option in item.product.json.product_inner_option %}
                {{option.type}} : {{ option.name }}<br>
              {% endfor %}
              요청사항 : {{item.product.comment}}
              </div>
              <div class="order_process" style="width:50px;">{{ item.product.json.count }} </div>
              <div class="order_etc"  style="width:100px;">{{ item.get_additional_product  }}</div>          
              <div class="order_price">
              {% if item.file_0 %}<a class="badge badge-primary" style="color:#fff!important" href="{{item.file_0.url}}" download>첨부파일</a>{% endif %}
              {% if item.file_1 %}<a class="badge badge-primary" style="color:#fff!important" href="{{item.file_1.url}}" download>첨부파일</a>{% endif %}
              {% if item.file_2 %}<a class="badge badge-primary" style="color:#fff!important" href="{{item.file_2.url}}" download>첨부파일</a>{% endif %}
              </div>
              <div class="order_price" style="font-size: 12px;"
                >{{ item.created_at }}</div
              >
              <div class="order_process product_price">{{ item.product.total_price|intcomma }}원<br>
              <span class="vat">({{ item.product.vat|intcomma  }}원)</span></div>
            </div>
            {% endfor %}
            {% endif %}
          </div>
          {% endfor %}           
        </div>
      </div>
    </main>
    <div class="modal fade bs-read-modal-xl read_modal" tabindex="-1" role="dialog"
    aria-labelledby="read_notice" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mt-0" id="read_custom_purchase_title">주문 상세내역</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body purchase_detail " id="read_purchase_content" style="padding:1rem 9px">
                   
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->




<script>
  
  function getParameterByName(name) {
    var url=window.location.href
    name = name.replace(/[\[\]]/g, '\\$&');
    var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, ' '));
  }
  $(document).ready(function () {
    var date_option = {
      format: "yyyy-mm-dd", //데이터 포맷 형식(yyyy : 년 mm : 월 dd : 일 )
      // startDate: '-10d',	//달력에서 선택 할 수 있는 가장 빠른 날짜. 이전으로는 선택 불가능 ( d : 일 m : 달 y : 년 w : 주)
      // endDate: '+10d',	//달력에서 선택 할 수 있는 가장 느린 날짜. 이후로 선택 불가 ( d : 일 m : 달 y : 년 w : 주)
      autoclose: true, //사용자가 날짜를 클릭하면 자동 캘린더가 닫히는 옵션
      calendarWeeks: false, //캘린더 옆에 몇 주차인지 보여주는 옵션 기본값 false 보여주려면 true
      clearBtn: false, //날짜 선택한 값 초기화 해주는 버튼 보여주는 옵션 기본값 false 보여주려면 true
      // datesDisabled : ['2019-06-24','2019-06-26'],//선택 불가능한 일 설정 하는 배열 위에 있는 format 과 형식이 같아야함.
      // daysOfWeekDisabled : [0,6],	//선택 불가능한 요일 설정 0 : 일요일 ~ 6 : 토요일
      // daysOfWeekHighlighted : [3], //강조 되어야 하는 요일 설정
      disableTouchKeyboard: false, //모바일에서 플러그인 작동 여부 기본값 false 가 작동 true가 작동 안함.
      immediateUpdates: false, //사용자가 보는 화면으로 바로바로 날짜를 변경할지 여부 기본값 :false
      multidate: false, //여러 날짜 선택할 수 있게 하는 옵션 기본값 :false
      multidateSeparator: ",", //여러 날짜를 선택했을 때 사이에 나타나는 글짜 2019-05-01,2019-06-01
      // templates : {
      //     leftArrow: '&laquo;',
      //     rightArrow: '&raquo;'
      // }, //다음달 이전달로 넘어가는 화살표 모양 커스텀 마이징
      showWeekDays: true, // 위에 요일 보여주는 옵션 기본값 : true
      // title: "테스트",	//캘린더 상단에 보여주는 타이틀
      todayHighlight: true, //오늘 날짜에 하이라이팅 기능 기본값 :false
      toggleActive: true, //이미 선택된 날짜 선택하면 기본값 : false인경우 그대로 유지 true인 경우 날짜 삭제
      weekStart: 0, //달력 시작 요일 선택하는 것 기본값은 0인 일요일
      language: "ko", //달력의 언어 선택, 그에 맞는 js로 교체해줘야한다.
    };
    $("#datePicker").datepicker(date_option);
    $("#datePicker2").datepicker(date_option);
    $("#datePicker2").datepicker("setDate","today")
    
    
    if( getParameterByName("date_from") != undefined  ){
      $("#datePicker").datepicker("setDate",new Date(getParameterByName("date_from")))
    }else{    
      $("#datePicker").datepicker("setDate","-1M")
    }
    
    $(".date").on("click", function(){
      $(".date").removeClass("badge-primary")
      $(this).addClass("badge-primary")
      if( $(this).attr("data-selected")=="5" ){ $("#datePicker").datepicker("setDate",new Date( "2021-01-01" )); }  
      if( $(this).attr("data-selected")=="2" ){ $("#datePicker").datepicker("setDate","-1M");  }      
      if( $(this).attr("data-selected")=="3" ){ $("#datePicker").datepicker("setDate","-3M");  }    
      if( $(this).attr("data-selected")=="4" ){ $("#datePicker").datepicker("setDate","-6M");  }    
      var month = $(".mypage_filter .badge-primary").attr("data-month")
      location.href="/account/delivery_list?date_from="+month+"&q="+$("#search_text").val()+"&selected="+$(".mypage_filter .badge-primary").attr("data-selected")
    })
    $(".search.icon").on("click", function(){
      var month = $(".mypage_filter .badge-primary").attr("data-month")
      location.href="/account/delivery_list?date_from="+month+"&q="+$("#search_text").val()+"&selected="+$(".mypage_filter .badge-primary").attr("data-selected")
    })
    $(".order_detail").on("click", function(){
      var target = $(this).closest(".order_row").attr("data-for")
      var html =  $("#"+target).html()
      
      $("#read_purchase_content").html(html)
      $(".read_modal").modal("show")
     
    })
  
  });
</script>
<style>
  .delete_basket{
    cursor: pointer;
  }
  .search_con_mypage{
    position: relative;
    justify-content: space-around;
   
  }
  .mypage_search{
    width: 140px;
    height: 25px;
    background-color: #fff;
    border: 1px solid #898989;
    padding-left: 5px;
    font-size: 14px;;
    border-radius: 5px;;
  }
  .search_con_mypage .icon{
    width: 25px;
    height: 25px;  
  
  }
  .purchase_detail table{
    width: 100%;
    margin-top: 10px;
  }
  .purchase_detail table th.section_title{
    padding: 20px 10px;
    border-bottom : 1px solid #ddd;
    border-top: 2px solid #52277247;
    min-width: 25%; 
  }
  .purchase_detail table th{
    min-width: 25%; 
    padding: 20px;
    
  }

  .purchase_detail table td{
    padding: 20px;
    min-width: 25%;
    font-size: 15px;;
  } 
  .price_header{
    font-weight: lighter;
  }
  .price_content {
    font-weight: lighter;
  }
  .purchase_detail .order_header div{
    border-color: #52277247;
  }
  .price_header{
    text-align: center;
  }
  .price_content {
    text-align: center;
  }
  .modal-xl {
    max-width: 919px!important;
  }
  .mypage-page-size{
    border: 1px solid #898989!important;
    width: 137px!important;
    height: 25px!important;
    border-radius: 5px!important;
    padding: 0px 14px;
    font-size: 12px;
    color:#141414;
  }

</style>
{% endblock %}
