{% extends "shop_user/components/mypage_base.html" %}
{% load sass_tags %} 
{% load product_options %} 
{% load humanize %} 
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

<script
  type="text/javascript"
  src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"
></script>
<link
  href="{% sass_src 'css/mypage.scss' %}"
  rel="stylesheet"
  type="text/css"
/>
<style>

</style>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <main class="main w-full px-[10px] md:w-[calc(100%-210px)] ">
      <div class="row mypage_main_header delivery">
        <div class="head_aticle">
          <h2 class="tit">디자인 확인</h2>
        </div>
        <div
          class="row mypage_filter"
          style="margin: 10px 0px; justify-content: space-between;width: 100%;"
        >
          <div>
            <span data-selected="5" class="date badge {% if selected == "5" %}badge-primary{%endif%}">전체보기</span>
            <span data-selected="2" class="date badge {% if selected == "2" %}badge-primary{%endif%}">1주일</span>
            <span data-selected="3" class="date badge {% if selected == "3" %}badge-primary{%endif%}">1개월</span>
            <span data-selected="4" class="date badge {% if selected == "4" %}badge-primary{%endif%}">6개월</span>
      </div>
          <div
            class=""
            style="display: flex; line-height: 40px;"
          >
            <input
              type="text"
              id="datePicker"
              style="width: 125px"
              class="form-control"
              value="2019-06-27"
            />&nbsp;~&nbsp;
            <input
              type="text"
              id="datePicker2"
              style="width: 125px"
              class="form-control"
              value="2020-10-15"
            />
          </div>
          <div style="display: flex; margin-left: 11px">
            <div
            
              style="
                width: 100px;
                text-align: end;
                line-height: 40px;
                padding-right: 10px;
                font-size:15px;
              "
              >상품명 검색</div
            >
            <input style="width: 150px" class="form-control"   id="keyword"/>
            <select style="width: 100px" class="form-control">
              <option value="10" selected>10개씩</option>
              <option value="20">20개씩</option>
              <option value="30">30개씩</option>
              <option value="40">40개씩</option>
              <option value="50">50개씩</option>
            </select>
          </div>
        </div>

        <div class="row" style="    justify-content: flex-end;">
          <div class="order_header flex" style="width: 100%;">
            <div class="order_check" style="border-right:none; width: 20px; text-align: center;display: initial;"><input class="all_check" type="checkbox" checked></div>
            <div class="order_num" style="width:80px;">주문 일자</div>
            <div class="order_num" style=width:130px;">주문 번호</div>
            <div class="order_product" style="width:350px;">주문제품</div>          
            <div class="order_price" style="border-right:1px solid #ddd; width: 190px;">디자인 요청사항</div>
            <div class="order_price" style="border-right:1px solid #ddd; width: 160px;">디자인 확인요청</div>
            <div class="order_process" style="border-right:none; width: 120px;">디자인 확인</div>
          </div>
          {% for item in design_list %}          
          <div class="order_row"  data-id="{{item.id}}">
            <div class="order_check" style="border-right:none; width:20px;  display: flex;  justify-content: center;
            flex-direction: column;    align-self: center;"><input class="product_item" value="{{item.id}}" type="checkbox" checked></div>
            <div class="order_price" style="font-size: 12px; width: 80px; display: flex; flex-direction: column; padding:0px 10px;    align-self: center;"
            >{{ item.created_at|date:"y-m-d a h:i" }}</div
          >
          <div class="order_price" style="font-size: 12px; width: 130px; padding:0px 10px; display: flex; flex-direction: column;    align-self: center;"
          >{{ item.purchase.iamport_id}}</div        >
            <div class="order_product title" style="width:350px; text-align:left;    align-self: center;" >
            <b>{% get_name_by_id item %}</b><br>
            {%  for i in  item.product.json.product_inner_option %}
                {% if  i.type == "design"%}
                    <span>디자인 : {{ i.name }}</span><br>
                 {% endif %}
             {% endfor %}
            </div>
            <div class="order_price" style="width: 190px;text-align: left;    align-self: center;">
            첨부파일 : {% if item.file_0 %}<a class="badge badge-primary" style="color:#fff!important" href="{{item.file_0.url}}" download>첨부파일</a>{% endif %}
            {% if item.file_1 %}<a class="badge badge-primary" style="color:#fff!important" href="{{item.file_1.url}}" download>첨부파일</a>{% endif %}
            {% if item.file_2 %}<a class="badge badge-primary" style="color:#fff!important" href="{{item.file_2.url}}" download>첨부파일</a>{% endif %}<br>
            요청사항 : {{item.product.comment|default:"없음"}}
          </div>          
            <div class="order_process product_price" style="width: 160px; text-align: left;    align-self: center;">
              첨부파일 : {% if item.admin_design_file %}<a class="badge badge-primary" style="color:#fff!important" href="{{item.admin_design_file.url}}" download>첨부파일</a>{% endif %}
            </div>
            <div class="order_process" style="border-right:none; width: 120px;    align-self: center;">
            <button class="btn  {% if item.design_status != "클라이언트 컨펌" %} text-white bg-primary confirm {% endif %}" style="width:100%; font-size: 12px">
            {% if item.design_status != "클라이언트 컨펌" %}
                확인완료
            {% else %}
               {{ item.confirmed_at }}
            {% endif %}
            </button>
            </div>
          </div>
          {% endfor %}
          </div>
      </div>
    </main>

<script>
    $(".unconfirm").on("click", function(){
      var purchase_item_id  = $(this).closest(".order_row").attr("data-id")
      $.ajax({
            url:"/shop_admin/purchase_design_item/"+purchase_item_id,
            data:{"target" : "design_status", "data":"디자인 처리중"},
            type:"post",
            success:function(res){
              location.reload()
            }
      })
    })
    $(".confirm").on("click", function(){
      var purchase_item_id  = $(this).closest(".order_row").attr("data-id")
      $.ajax({
            url:"/shop_admin/purchase_design_item/"+purchase_item_id,
            data:{"target" : "design_status", "data":"클라이언트 컨펌"},
            type:"post",
            success:function(res){
              location.reload()
            }
      })
    })
    $(".title").on("click", function(){   
        var purchase_item_id =     $(this).closest(".order_row").attr("data-id")
        $("#design_custom_reply_container").empty()
        $.ajax({
            url:"/shop_admin/ajax_design_custom_list/"+purchase_item_id,
            success:function(res){
                for(var k =0 ; k<res.design_custom_list.length; k++){
                    var template = '<div class="reply_title" style="font-size: 15px;">'+res.design_custom_list[k].title+'</div><br><div class="inquiry_info" style="margin-bottom: 20px;font-size:15px;">'+ "작성자:"+res.design_custom_list[k].name+" | 작성일:"+res.design_custom_list[k].created_at+'</div>'+
                    '<div class="inqury_content">'+ res.design_custom_list[k].content +'</div>'
                    if( res.design_custom_list[k].am_url_0  ){
                        template += '<div class="badge badge-primary" style="display:inline-block; margin-right: 20px;"><a target="_blank" href="'+res.design_custom_list[k].am_url_0+'" download="'+res.design_custom_list[k].attached_file_0+'">첨부파일 1</a></div>'
                    }
                    if( res.design_custom_list[k].am_url_1  ){
                        template += '<div class="badge badge-primary"  style="display:inline-block; margin-right: 20px;"><a target="_blank" href="'+res.design_custom_list[k].am_url_1+'" download="'+res.design_custom_list[k].attached_file_1+'">첨부파일 2</a></div>'
                    }
                    if( res.design_custom_list[k].am_url_2  ){
                        template += '<div class="badge badge-primary"  style="display:inline-block; margin-right: 20px;"><a target="_blank" href="'+res.design_custom_list[k].am_url_2+'" download="'+res.design_custom_list[k].attached_file_2+'">첨부파일 3</a></div>'
                    }
                    $("#design_custom_reply_container").append(template)
                }
                $('#summernote').summernote({height: 400});
                $(".write_modal").modal("show")
                $("#purchase_item_id").val(purchase_item_id)

            }
        })
    })
    $(".add_answer_item").on("click", function(){
        var type;
        var form = new FormData()
     
        form.append("name","작성자")
        form.append("design_title", $("#design_list_title").val())
        form.append("purchase_item_id" , $("#purchase_item_id").val())
        form.append("attached_file_0", $("#attached_file_0")[0].files[0])
        form.append("attached_file_1", $("#attached_file_1")[0].files[0])
        form.append("attached_file_2", $("#attached_file_2")[0].files[0])
        form.append("content",$('#summernote').summernote("code"))
        form.append("design_status",$("#inquiry_status").val())
        $.ajax({
            url:"/shop_admin/ajax_design_custom",
            type:"POST",
            enctype: 'multipart/form-data',  
            processData: false, 
            contentType: false,
            data:form,
            success:function(res){
                console.log(res)
                location.reload()
            }
        })
    })
    function dateFormat(date) {
        let month = date.getMonth() + 1;
        let day = date.getDate();
        let hour = date.getHours();
        let minute = date.getMinutes();
        let second = date.getSeconds();

        month = month >= 10 ? month : '0' + month;
        day = day >= 10 ? day : '0' + day;
        hour = hour >= 10 ? hour : '0' + hour;
        minute = minute >= 10 ? minute : '0' + minute;
        second = second >= 10 ? second : '0' + second;

        return date.getFullYear() + '-' + month + '-' + day ;
  }
  function getParameterByName(name) {
    var url = window.location.href
    name = name.replace(/[\[\]]/g, '\\$&');
    var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, ' '));
  }
  $(document).ready(function () {
    var date_option = {
      format: "yyyy-mm-dd", //데이터 포맷 형식(yyyy : 년 mm : 월 dd : 일 )
      // startDate: '-10d',	//달력에서 선택 할 수 있는 가장 빠른 날짜. 이전으로는 선택 불가능 ( d : 일 m : 달 y : 년 w : 주)
      // endDate: '+10d',	//달력에서 선택 할 수 있는 가장 느린 날짜. 이후로 선택 불가 ( d : 일 m : 달 y : 년 w : 주)
      autoclose: true, //사용자가 날짜를 클릭하면 자동 캘린더가 닫히는 옵션
      calendarWeeks: false, //캘린더 옆에 몇 주차인지 보여주는 옵션 기본값 false 보여주려면 true
      clearBtn: false, //날짜 선택한 값 초기화 해주는 버튼 보여주는 옵션 기본값 false 보여주려면 true
      // datesDisabled : ['2019-06-24','2019-06-26'],//선택 불가능한 일 설정 하는 배열 위에 있는 format 과 형식이 같아야함.
      // daysOfWeekDisabled : [0,6],	//선택 불가능한 요일 설정 0 : 일요일 ~ 6 : 토요일
      // daysOfWeekHighlighted : [3], //강조 되어야 하는 요일 설정
      disableTouchKeyboard: false, //모바일에서 플러그인 작동 여부 기본값 false 가 작동 true가 작동 안함.
      immediateUpdates: false, //사용자가 보는 화면으로 바로바로 날짜를 변경할지 여부 기본값 :false
      multidate: false, //여러 날짜 선택할 수 있게 하는 옵션 기본값 :false
      multidateSeparator: ",", //여러 날짜를 선택했을 때 사이에 나타나는 글짜 2019-05-01,2019-06-01
      // templates : {
      //     leftArrow: '&laquo;',
      //     rightArrow: '&raquo;'
      // }, //다음달 이전달로 넘어가는 화살표 모양 커스텀 마이징
      showWeekDays: true, // 위에 요일 보여주는 옵션 기본값 : true
      // title: "테스트",	//캘린더 상단에 보여주는 타이틀
      todayHighlight: true, //오늘 날짜에 하이라이팅 기능 기본값 :false
      toggleActive: true, //이미 선택된 날짜 선택하면 기본값 : false인경우 그대로 유지 true인 경우 날짜 삭제
      weekStart: 0, //달력 시작 요일 선택하는 것 기본값은 0인 일요일
      language: "ko", //달력의 언어 선택, 그에 맞는 js로 교체해줘야한다.
      orientation: "bottom left",
    
    };
    $("#datePicker").datepicker(date_option);
    $("#datePicker2").datepicker(date_option);
    $("#datePicker2").datepicker("setDate","today")
    
    
    if( getParameterByName("date_from") != undefined  ){
      $("#datePicker").datepicker("setDate",new Date(getParameterByName("date_from")))
    }else{    
      $("#datePicker").datepicker("setDate","-3M")
    }
    
    $(".date").on("click", function(){
      $(".date").removeClass("badge-primary")
      $(this).addClass("badge-primary")
      //if( $(this).attr("data-selected")=="1" ){ $("#datePicker").datepicker("setDate","-1D");
      //location.href="/account/design_list?date_from=all&date_to="+dateFormat( $("#datePicker2").datepicker("getDate"))+"&q="+$("#keyword").val()+"&selected=1"
      //}
      if( $(this).attr("data-selected")=="2" ){ $("#datePicker").datepicker("setDate","-7D");
      location.href="/account/design_list?date_from="+dateFormat( $("#datePicker").datepicker("getDate"))+"&date_to="+dateFormat( $("#datePicker2").datepicker("getDate"))+"&q="+$("#keyword").val()+"&selected=2"
      }      
      if( $(this).attr("data-selected")=="3" ){ $("#datePicker").datepicker("setDate","-1M");
      location.href="/account/design_list?date_from="+dateFormat( $("#datePicker").datepicker("getDate"))+"&date_to="+dateFormat( $("#datePicker2").datepicker("getDate"))+"&q="+$("#keyword").val()+"&selected=3"
      }    
      if( $(this).attr("data-selected")=="4" ){ $("#datePicker").datepicker("setDate","-6M");
      location.href="/account/design_list?date_from="+dateFormat( $("#datePicker").datepicker("getDate"))+"&date_to="+dateFormat( $("#datePicker2").datepicker("getDate"))+"&q="+$("#keyword").val()+"&selected=4"
      }    
      if( $(this).attr("data-selected")=="5" ){ 
      location.href="/account/design_list?date_from=all"+"&date_to="+dateFormat( $("#datePicker2").datepicker("getDate"))+"&q="+$("#keyword").val()+"&selected=1"
      }  
    })  
  });



 
</script>
<style>
  .delete_basket{
    cursor: pointer;
  }
  .inqury_content{
    width: 100%;
    word-break: break-word;
  }
  .title{
        cursor: pointer;
    }
    .modify_btn{
        display: none;
        cursor: pointer;
    }
    tr:hover .modify_btn{
        display: inline-block;
    }
    .delete_btn{
        display: none;
        cursor: pointer;
    }
    tr:hover .delete_btn{
        display: inline-block;
    }
    .reply_title{
        margin-top:20px;
        padding-top: 10px;
        border-top:1px solid #ddd;
    }
  
  
</style>
{% endblock %}
