{% extends "shop_management/base.html" %}
{% load sass_tags %}
{% block body %}
  <link href="{% sass_src 'css/login.scss' %}" rel="stylesheet" type="text/css"/>
  <div class="container login_container">
    <div class="">
      <ul class="nav nav-tabs" id="login_tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="user-tab" data-toggle="tab" href="#user" role="tab" aria-controls="home" aria-selected="true">아이디 찾기</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="nonuser-tab" data-toggle="tab" href="#nonuser" role="tab" aria-controls="profile" aria-selected="false" style="letter-spacing: -1px;">비밀번호 재발급</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="user" role="tabpanel">
          <div class="input_container row">
            <div id="find_id_area" style="     word-break: break-word;    padding: 0px 22px; display: none; align-items: center;justify-content: center;font-size: 15px;;background-color:  #E300E31a; width:340px; height: 80px; margin-bottom: 10px;"></div>
            <div class="input_form">
              <input id="name" placeholder="고객님의 이름을 입력해주세요" name="username" type="text"/><br/>
              <input id="phone" placeholder="가입시 등록하신 핸드폰번호를 입력해주세요" name="tel" type="text" style="margin-top: 10px"/>
            </div>
            <button id="user_find" class="login_btn">
              아이디 찾기
            </button>
          </div>

        </div>
        <div class="tab-pane fade" id="nonuser" role="tabpanel">
          <div class="input_container row">
            <div id="find_pw_area" style="     word-break: break-word;   padding: 0px 22px; display: none; align-items: center;justify-content: center;font-size: 15px;;background-color:  #E300E31a; width:340px; height: 80px; margin-bottom: 10px;"></div>
            <div class="input_form">
              <input id="name2" type="text" placeholder="고객님의 이름을 입력해주세요"/><br/>
              <input id="email2" type="text" style="margin-top: 10px" placeholder="가입시 등록하신 이메일 주소를 입력해주세요"/>
            </div>
            <button id="password_change" class="login_btn">
              비밀번호 변경
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function () {
      $("#user_find").on("click", function () {
        var phone = $("#phone")
          .val()
          .trim()
        if ($("#name").val().trim() == "") {
          alert("이름을 입력 해주세요.");
          return false
        }
        if (phone == "") {
          alert("핸드폰번호를 입력 해주세요.");
          return false
        }
        $.ajax({
          method: "post",
          data: {
            type: "find",
            name: $("#name").val(),
            phone: $("#phone").val()
          },
          success: function (res) {
            $("#find_id_area").html(res.result)
            $("#find_id_area").css("display", "flex")
          }
        });
      });
      $("#password_change").on("click", function () {
        var email = $("#email2")
          .val()
          .trim()
        if ($("#name2").val().trim() == "") {
          alert("이름을 입력 해주세요.");
          return false
        }
        if (email == "") {
          alert("이메일을 입력 해주세요.");
          return false
        }
        const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        if (re.test(String(email).toLowerCase()) == false) {
          alert("이메일 형식을 확인해주세요.");
          return false
        }

        $.ajax({
          method: "post",
          data: {
            type: "change",
            name: $("#name2").val(),
            email: $("#email2").val()
          },
          success: function (res) {
            $("#find_pw_area").html(res.result)
            $("#find_pw_area").css("display", "flex")
            $("#find_pw_area").attr("data-id", res["data-id"])
          }
        });
      })
    });
  </script>
  <style>
    b {
      display: contents;
    }
  </style>
{% endblock %}
