{% extends "shop_user/components/mypage_base.html" %}
{% load sass_tags %} 
{% load product_options %} 
{% load humanize %} 
{% block content %}

<link href="/static/css/signup.css" rel="stylesheet" type="text/css" />
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <main class="main">
      <div class="row mypage_main_header delivery">
      <div class="head_aticle" style="display:flex;justify-content:space-between">
          <h2 class="tit">1:1 문의</h2>
           <button class="write_inquiry_btn btn btn-primary">삭제</button>
        </div>
      
      
        <div class="row">
          <div class="order_header" style=";">
            <div class="order_etc" style="border-right:none; border-top:none">상태</div>
            <div class="order_product" style="border-right:none;border-top:none">문의 제목</div>
            <div class="order_num " style="border-right:none;border-top:none">문의 일자</div>
          </div>
          {% for item in inqury_list %}
          <div data-id="{{item.id}}" class="list_content" style="font-size:14px;">
            <div class="order_etc" style="text-align:center; color:#100e0e;border-bottom: 1px solid #f4f4f4;">
              {{ item.get_status_display  }}
            </div>
            <div class="order_product inquiry"  style="padding-left:10px; text-align:left; color:#100e0e;border-bottom: 1px solid #f4f4f4;">{{item.title}}</div>
            <div class="order_num"  style="padding-left:10px; text-align:center; color:#100e0e;border-bottom: 1px solid #f4f4f4;">{{item.created_at|date:"Y-m-d"}}</div>        
          </div>
          <div id="detail_{{item.id}}" class="inqury_detail">
            {{ item.content|safe }}
       
            <hr>
            {{ item.reply|safe }}
          </div>
         
          {% empty %}
          <div class="order_product no_inqury">
            문의 내역이 없습니다. 
          </div>        
          {% endfor %}    
          <div class="layout-pagination" style="margin: 60px 0 0; text-align: center;width: 100%">
            <div class="pagediv" style="display:flex; justify-content:center; margin-bottom: 20px;">
              <a href="/account/inquiry_list?page=" style="    display: inline-block;
              width: 34px;
              height: 34px;
              border: 1px solid #ddd;
              border-right: 0;
              background-repeat: no-repeat;
              background-position: 50% 50%;
              text-indent: -9999px;
              vertical-align: top;background-image: url(https://res.kurly.com/pc/etc/old/images/common/icon-pagination-first.png);" class="layout-pagination-button layout-pagination-first-page"></a>              
              <a href="/account/inquiry_list?page=1" style="    display: inline-block;
              width: 34px;
              height: 34px;
              border: 1px solid #ddd;
              line-height: 34px;
              font-size:12px;
              vertical-align: middle;" class="layout-pagination-button layout-pagination-number">1</a>              
              <a href="/account/inquiry_list?page=" style="display: inline-block;
              width: 34px;
              height: 34px;
              border: 1px solid #ddd;
              border-right: 0;
              background-repeat: no-repeat;
              background-position: 50% 50%;
              text-indent: -9999px;
              vertical-align: top;background-image: url(https://res.kurly.com/pc/etc/old/images/common/icon-pagination-first.png);transform: rotateZ(180deg);" class="layout-pagination-button layout-pagination-last-page"></a>
            </div>
         </div>   
        </div>
      </div>
    </main>
    <div class="modal fade " id="inquiry_write" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">문의하기</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <input id="title" class="form-control" placeholder="문의 제목"> 
            <textarea id="content" class="form-control" placeholder="문의 내용" rows="10" style="margin-top: 10px;"></textarea>
            <input id="file" type="file" placeholder="문의 제목" style="margin-top: 10px;"> 
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
            <button type="button" class="btn btn-primary save_inquiry">문의하기</button>
          </div>
        </div>
      </div>
    </div>

    <script>
      var myModal = new bootstrap.Modal(document.getElementById('inquiry_write'))
      $(".write_inquiry_btn").on("click",function(){
        myModal.show()
      })
      $(".save_inquiry").on("click", function(){
        var formData = new FormData();
        formData.append("inquiry_attached_file", $("#file")[0].files[0]);
        formData.append("title", $("#title").val());
        formData.append("content", $("#content").val());
        $.ajax({
          type:"post",
          processData: false,
          contentType: false,
          url:"/account/add_inquiry",
          data:formData,
          success:function(res){
            console.log(res)
            alert("등록되었습니다.")
            if(res.result=="ok"){
              location.reload()
            } 
            
          }
        })
      });
      $(".list_content").on("click", function(){
        var id = $(this).attr("data-id");
        $("#detail_"+id).css("display","block")
      })

    </script>

<style>
  .inqury_detail{
    display: none;
  }
  .btn{
    padding:10px;
  }
  .order_header.order_num{
    width: 200px;
  }
  .list_content{
    display: flex;
    height: 40px;
    line-height: 40px;;
  }
  .list_content .order_num{
    width: 160px;
    text-align: center;
  }
  .order_header .order_product{
    width: 640px;
  }
  .list_content .order_product.inquiry{
    width: 640px;
    padding-left: 20px;
    cursor: pointer;
  }
  .list_content .order_etc{   
    text-align: center;
    width: 200px;
  }
  .no_inqury{
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    text-align: center;;  
    color: #999
  }
  .inqury_detail{
    width: 100%;
    padding: 20px;;
  }
    .delete_basket{
    cursor: pointer;
  }
  
  .order_etc{
    width: 100px!important
  }
  .order_delivery{
    width: 150px!important;
  }
  .badge{
    cursor: pointer;
  }
  .delivery_select{
    margin: 3px;
    font-size: 15px;;
    color: #666!important;
    background-color: #fff!important;
  }
  .delivery_selected{
    color: #fff!important;
    background-color: #007bff!important;
  }
  
  
</style>
{% endblock %}