{% extends "shop_management/company_base.html" %}
{% load sass_tags %}
{% block body %}

  <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css"/>
  <link href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="/static/css/dist/tail/default.css" crossorigin="anonymous"/>
  <script src="/static/js/jquery.js"></script>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css" crossorigin="anonymous"/>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/static/js/numeric.js" charset="utf-8"></script>
  <script src="/static/js/bootstrap.min.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"/>
  <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css"/>

  <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
  <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
  <style>
    .delete_basket {
      cursor: pointer;
    }

    .order_etc {
      width: 100px !important;
    }

    .order_delivery {
      width: 150px !important;
    }

    .badge {
      cursor: pointer;
    }

    .delivery_select {
      margin: 3px;
      font-size: 15px;
      color: #666 !important;
      background-color: #fff !important;
    }

    .delivery_selected {
      color: #fff !important;
      background-color: #007bff !important;
    }

    #account_info {
      font-size: 15px;
      color: blue;
      margin-left: 111px;
    }
  </style>
  <link href="{% sass_src 'css/login.scss' %}" rel="stylesheet" type="text/css"/>
  <div class="container login_container" style="margin-top:74px; height: fit-content;">
    <div class="">
      <div class="tab-content flex flex-column align-items-center" id="myTabContent">
        <img class="logo " onclick="location.href='/'" src="/static/img/logo_kor.png" style=" width: 196px;"/>
        <div style="color: #141414; font-size: 20px;margin-top:20px;letter-spacing: -0.6px;">당신은 상상하고 우리는 만듭니다</div>
        <div style="margin-top: 64px;border-top:1px solid #ddd; width:100%; height: 1px;margin-bottom:40px; "></div>
        <div class="input_container">
          <div class="input_form ">
            <div class="relative">
              <div style="text-align:left;color: #141414;font-size: 13px;margin-bottom:10px;letter-spacing: -0.39px;">이메일</div>
              <input id="username" style="border:1px solid #F0F0F0; height: 35px;" class="" name="username" type="text" placeholder="아이디(이메일)를 입력해주세요"/><br/>
            
            </div>
            <div class="relative" style="margin-top: 30px;">
              <div style="text-align:left;color: #141414;font-size: 13px;margin-bottom:00px;letter-spacing: -0.39px;">비빌번호</div>
              <input class="password " style="border:1px solid #F0F0F0; height: 35px;"  id="password" name="password" type="password" placeholder="비밀번호를 입력해주세요"/>
             
            </div>

          </div>
         
          <button id="user_login" class="login_btn" style="width: 100%;
            height: 48px;
            font-weight: normal;
            background-color: #E61E78;
            color: #fff;           
            border: none;
            border-radius: 5px;
            font-size: 14px;
            ;">
            로그인 하기
          </button>
        </div>
        <div onclick="location.href='/account/signup'" class="btn register" style="    border: 1px solid #D33777; margin-bottom: 0px;
    background-color: #fff;
    color: #D33777; 
    height: 35px;
    
    font-size: 14px;
    line-height: 20px;
    display: block;">
          회원가입
        </div>
        <div class="sub_btn row" style="margin-top: 0px;">
          <div id="find_account" style="cursor: pointer; font-size: 10px; text-align: center;margin-top:40px; width:100%; font-weight: lighter;">아이디 | 비밀번호 재발급</div>
        </div>
        <div style="margin-top: 36px;border-top:1px solid #ddd; width:100%; height: 1px;margin-bottom:36px; "></div>
        <div style="text-align:left;color: #141414;font-size: 13px;letter-spacing: -0.39px;width:100%">SNS 로그인</div>
        <div class="sns_login flex  w-full justify-between" style="margin-top:10px">
        
          <div id="kakao" class="cursor-pointer">
            <img src="/static/img/kakao_.png">
          </div>
          <div id="naver" class="cursor-pointer">
            <img src="/static/img/naver.png">
          </div>

        </div>

        <div id="naver_id_login" style="position: fixed; bottom: -200px"></div>
        <script>
          Kakao.init('b81456e3c6f45226dd31b76242b1a64e');
          Kakao.isInitialized();

          function loginWithKakao() {

            Kakao
              .Auth
              .login({
                success: function (authObj) {
                  console.log(JSON.stringify(authObj))
                  Kakao
                    .API
                    .request({
                      url: '/v2/user/me',
                      success: function (res) {
                        console.log((res))
                        $.ajax({
                          type: "post",
                          data: {
                            type: "kakao_login",
                            token: authObj.access_token,
                            name: res.properties.nickname,
                            phone: res.kakao_account.phone_number,
                            email: res.kakao_account.email
                          },
                          success: function (res) {
                            alert(res.result + "님 환영합니다.")
                            location.href = "/"
                          }
                        })
                      },
                      fail: function (error) {
                        alert('카카오 로그인이 원활하지 않습니다. 관리자에게 문의해주세요.')
                      }
                    })
                  // get_sns_auth(authObj.access_token, "kakao", target);
                  // 토큰을 받아서 서버에서 request.post 사용자 정보를 취해야 함 - https://developers.kakao.com/docs/restapi/user-management , https://developers.kakao.com/docs/restapi/kakaostory-api - python 검색해서 참고 할것.
                },
                fail: function (err) {}
              });
          }
        </script>

        <div class="tab-pane fade" id="nonuser" role="tabpanel">
          <div class="btn">
            회원가입
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
    <div class="modal-dialog " role="document">
      <div class="modal-content rounded-none" style="border-radius:0px;">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <img src="/static/img/welcome.png">
          <div id="welcome_message">환영합니다.</div>
          <button id="move_to_main" onclick="location.href='/'">메인페이지로 이동</button>
        </div>
      </div>
    </div>
  </div>
  <script>
    try {

      var naver_id_login = new naver_id_login("Xe64rKSjzZaei02qakh4", location.origin + "/account/login");
      // var naver_id_login = new naver_id_login("Xe64rKSjzZaei02qakh4", "http://13.124.52.145:8000/account/login");
      var state = naver_id_login.getUniqState();
      naver_id_login.setButton("green", 3, 50);
      //naver_id_login.setDomain("http://13.124.52.145:8000");
      naver_id_login.setState(state);
      naver_id_login.init_naver_id_login(function (e) {
        console.log(e)
      });
      if (location.href.indexOf("access_token") != -1) {
        naver_id_login.get_naver_userprofile("naverSignInCallback()");
      }

      function naverSignInCallback() {
        $.ajax({
          type: "post",
          data: {
            type: "naver_login",
            token: naver_id_login.oauthParams.access_token,
            name: naver_id_login.getProfileData('name'),
            email: naver_id_login.getProfileData('email')
          },
          success: function (res) {
            if (res.result == "ok") {
              alert(naver_id_login.getProfileData('name') + "님 환영합니다.")

              location.href = "/"
            } else {
              alert(naver_id_login.getProfileData('name') + "님 환영합니다.  ")
              location.href = '/'
            }
          }
        })
      }
    } catch (e) {
      console.log(e)
    }

    $(document).ready(function () {
      $("#naver").click(function () {
        var url = $("#naver_id_login")
          .find("a")
          .attr("href")
        location.replace(url)
      })
      $("#kakao").click(function (e) {
        loginWithKakao()
      })
      $(".numeric").numeric();
      $(".password").keyup(function (event) {
        console.log(event)
        if (event.keyCode == 13) {
          $(this)
            .closest(".tab-content")
            .find(".login_btn")
            .click()
        }
      })
      $("#user_login").on("click", function () {
        const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        if (re.test(String($("#username").val().trim()).toLowerCase()) == false) {
          alert("아이디(이메일) 형식을 확인해주세요.");
          return false;
        }
        if ($("#username").val().trim() === "") {
          alert("아이디를 입력해주세요.");
          return false;
        }
        if ($("#username").val().trim() === "") {
          alert("아이디를 입력해주세요.");
          return false;
        }
        if ($("#password").val().trim() === "") {
          alert("비밀번호를 입력해주세요.");
          return false;
        }
        $.ajax({
          method: "post",
          data: {
            username: $("#username").val(),
            password: $("#password").val()
          },
          success: function (res) {
            if (res.result == "none" || res.result == "wrong") {
              alert("아이디나 비밀번호를 확인해주세요.")
            } else {
              location.href = "/";
            }
          }
        });
        // 회원 테이블 정리될때까지 pending
      });
    });
    $("#find_account").on("click", function () {
      location.href = "/account/find";
    })
  </script>
{% endblock %}
