{% extends "shop_management/base.html" %} {% load sass_tags %} {% block body %}
<link
  href="{% sass_src 'css/signup.scss' %}"
  rel="stylesheet"
  type="text/css"
/>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<div id="container" class="main_container" style="padding-top: 0px">
  <div id="content">
    <div class="inner">
      <h2 class="h2_tit">회원 정보 수정</h2>
    </div>
    <form id="submit_frm" name="submit_frm" method="post"  enctype="multipart/form-data" >
      <div class="box_shop_form01 inner">
        <div class="tbl_box">
          <div class="inner">
            <div class="tbl_box_in">
              <form id="signup_form" method="post">
                {% csrf_token %}
                <table class="tbl03" style="width: 640px; margin: 30px auto">
                  <tbody>
                    <tr>
                      <th scope="row" class="align_l" style="width: 200px">
                        <label for="id">아이디</label>
                      </th>
                      <td class="align_l">
                        <input
                          type="text"
                          readonly="readonly"
                          id="id"
                          name="id"
                          class="text_input"
                          title="아이디를 입력해주세요."
                          value="{{request.user.username}}"
                          style="width: 320px; border: none"
                        />
                      </td>
                    </tr>
                    <tr>
                      <th scope="row" class="align_l">
                        <label for="id">비밀번호</label>
                      </th>
                      <td class="align_l">
                        {% if user.sns_login_type == "naver" or user.sns_login_type == "kakao" %} 해당계정은 sns로그인({{ user.sns_login_type }})을 하였습니다.
                        {% else %}
                        <div
                          id="password_change"
                          style="
                            cursor: pointer;
                            font-size: 14px;
                            padding: 6px 5px;
                            border: 1px solid #000;
                            width: fit-content;
                          "
                        >
                          비밀번호 변경
                        </div>
                        {% endif %}
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">
                        <label for="name">이름</label>
                      </th>
                      <td>
                        <input type="text" id="name" name="nickname"   readonly="readonly"
                        class="text_input" title="이름을 입력해주세요." 
                        value="{{request.user.nickname|default:" "}}"
                        placeholder="이름을 입력해주세요" style="width:320px; border: none">
                      </td>
                    </tr>

                    <tr>
                      <th scope="row" class="align_l">
                        <label for="tel">연락처</label>
                      </th>
                      <td class="align_l">
                        <input
                          type="text"
                          name="tel"
                          id="tel"
                          value="{{request.user.phone|default:''}} "
                          class="text_input"
                          placeholder=" 숫자만 입력해주세요"
                          style="width: 320px"
                        />
                      </td>
                    </tr>
                    <tr>
                      <th scope="row" class="align_l">
                        <label for="address">배송지</label>
                      </th>
                      <td class="align_l">
                        <input
                          type="text"
                          value="{{request.user.postal_code|default:''}}"
                          name="postal_code"
                          id="postal_code"
                          class="text_input"
                          title="주소를 입력해주세요."
                          placeholder="우편번호를 입력해주세요"
                          style="width: 320px"
                        />
                        <input
                          type="text"
                          value="{{request.user.address_simple|default:''}}"
                          id="address_0"
                          name="address_0"
                          class="text_input"
                          title="주소를 입력해주세요."
                          placeholder="주소를 입력해주세요"
                          style="width: 320px; margin-top: 10px"
                        />
                        <input
                          type="text"
                          value="{{request.user.address_detail|default:''}}"
                          id="address_1"
                          name="address_1"
                          class="text_input"
                          title="주소를 입력해주세요."
                          placeholder="세부주소를 입력해주세요"
                          style="width: 320px; margin-top: 10px"
                        />
                      </td>
                    </tr>
                    <tr>
                      <th scope="row" class="align_l">
                        <label for="address">회원 가입일</label>
                      </th>
                      <td class="align_l">
                        {{request.user.date_joined}}
                      </td>
                    </tr>
                    <tr>
                      <th scope="row" class="align_l">
                        <label for="address">이메일 수신여부</label>
                      </th>
                      <td class="align_l">
                       <input type="checkbox" name="marketing_mail" id="marketing_mail" {% if request.user.marketing_mail %}checked{% endif %}> <label for="marketing_mail">뉴스레터, 상품, 이벤트 안내 등의 정보를 받겠습니다. </label>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row" class="align_l">
                        <label for="address">SMS 수신여부</label>
                      </th>
                      <td class="align_l">
                       <input type="checkbox" name="marketing_sms" id="marketing_sms" {% if request.user.marketing_sms %}checked{% endif %}> <label for="marketing_sms">뉴스레터, 상품, 이벤트 안내 등의 정보를 받겠습니다. </label>
                      </td>
                    </tr>
                    <!-- <tr>
                      <th scope="row" class="align_l">
                        <label for="address">사업자 인증</label>
                      </th>
                      <td class="align_l">
                        <textarea
                          type="text"
                          name="proof_name"
                          id="proof_sns"
                          class="text_input"
                          title="인스타그램등을 입력해주세요."
                          placeholder="인스타그램등을 입력해주세요"
                          style="width: 320px"
                        >{{request.user.proof_name|default:''}}</textarea>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row" class="align_l">
                        <label for="address">사업자 인증</label>
                      </th>
                      <td>
                        <input id="resume" name="change_resume" type="file" class="absolute" style="left:-3000px">
                        <div onclick="$('#resume').click()" class="rounded-full" style="cursor: pointer;
                                    border: 1px solid #E300E3;
                                    background-color: #fff;                                
                                    color: #5f0080;
                                    font-size: 14px;
                                    border: 1px solid #E300E3;
                                    background-color: #E300E3;
                                    color: #fff;
                                    font-size: 14px;
                                    height: 40px;
                                    font-weight: 700;
                                    line-height: 40px;                                  
                                    text-align: center;width:320px;"> 작가 명함/작품/사업자 등록증 업로드 </div>
                        <div id="filename" style="width:320px;">
                          {% if request.user.proof_file %}
                          <div id='file_item' style='text-align:center'><span>{{request.user.proof_file}}</span><span id='delete_file' style=' cursor:pointer; font-size:12px ; background-color:#ddd; padding: 3px; border-radius: 3px '>삭제</span></div>
                          {% endif %}
                        </div>
                      </td>
                    </tr> 
                    <tr>
                      <th>
                        업종 형태
                      </th>
                      <td>
                        <div class="mt-1">
                          <select name="company_type" class="w-full" style="width:320px;">
                              <option value="none" selected disabled hidden>업종 형태를 선택해주세요</option>
                              <option {% if request.user.company_type == "작가 및 아티스트" %} selected {% endif %} value="작가 및 아티스트"> 작가 및 아티스트 </option>
                              <option {% if request.user.company_type == "디자인 전문회사" %} selected {% endif %}  value="디자인 전문회사"> 디자인 전문회사 </option>
                              <option {% if request.user.company_type == "기획사 및 광고사" %} selected {% endif %}  value="기획사 및 광고사"> 기획사 및 광고사 </option>
                              <option {% if request.user.company_type == "관공서 및 기관" %} selected {% endif %}  value="관공서 및 기관"> 관공서 및 기관 </option>
                              <option {% if request.user.company_type == "기타" %} selected {% endif %}  value="기타"> 기타 </option>
                          </select>
                      </div>
                      </td>
                    </tr>
                    <tr>
                      <th>
                        관심 제품
                      </th>
                      <td>
                        <div class="mt-2">
                          <input type="hidden" name="favorite_product" id="favorite_product">
                          <label for="product_0"><input  {% if  "아크릴 키링, 핸드폰케이스, 굿즈류" in request.user.favorite_product%} checked {%endif%} type="checkbox" name="product" class="product" id="product_0">아크릴 키링, 핸드폰케이스, 굿즈류</label>
                          <label for="product_1"><input  {% if  "프린팅 액자 및 스티커류" in request.user.favorite_product%} checked {%endif%}  type="checkbox" name="product" class="product" id="product_1">프린팅 액자 및 스티커류</label>
                          <label for="product_2"><input  {% if  "티셔츠 및 텍스타일류" in request.user.favorite_product%} checked {%endif%}  type="checkbox" name="product" class="product" id="product_2">티셔츠 및 텍스타일류</label>
                          <label for="product_3"><input  {% if  "기타" in request.user.favorite_product%} checked {%endif%}  type="checkbox" name="product" class="product" id="product_3">기타</label>
                        </div>
                      </td>
                    </tr> -->
                  </tbody>
                </table>
                <!-- // tbl01 -->
              </form>
            </div>
          </div>
        </div>
        <!-- // tbl_box -->
        <div
          class="btn_wrap align_c mgt60"
          style="margin-top: 60px; text-align: center; margin-bottom: 100px"
        >
          <div id="submit_btn" class="btn_l btn_mwht2 w220">
            <span>회원정보 수정</span>
          </div>
        </div>
        <!-- // btn_wrap -->
      </div>
    </form>
  </div>
  <!--//content-->
</div>
<script>
  $("#resume").on("change", function(){
        var filename = $('input#resume').val().split('\\').pop();
        console.log(filename)
        $("#filename").html( "<div id='file_item' style='text-align:right'><span>"+ filename +"</span><span id='delete_file' style=' cursor:pointer; font-size:12px ; background-color:#ddd; padding: 3px; border-radius: 3px '>삭제</span></div>")
    })
    $(document).ready(function(){     
        $(document).on("click","#delete_file",function(){         
            $('#filename').html("");
            $('input#resume').val("")
        })
        $(".product").on("change", function (e){
        var arr = []
        $(".product").each(function (e){
            if( $(this).is(":checked") ){
                console.log(this)
               arr.push( $("label[for='"+ $(this).attr("id") +"']").text()  )
            }
        })
        $("#favorite_product").val( arr.join("/") )
    })
    })
  $("#postal_code").on("click", function (e) {
    new daum
      .Postcode({
        oncomplete: function (data) {
          console.log(data)
          // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
          // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
          // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
          var roadAddr = data.roadAddress; // 도로명 주소 변수
          var extraRoadAddr = ''; // 참고 항목 변수
          // 법정동명이 있을 경우 추가한다. (법정리는 제외)
          // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
          if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
            extraRoadAddr += data.bname;
          }
          // 건물명이 있고, 공동주택일 경우 추가한다.
          if (data.buildingName !== '' && data.apartment === 'Y') {
            extraRoadAddr += (
              extraRoadAddr !== ''
              ? ', ' + data.buildingName
              : data.buildingName);
          }
          // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
          if (extraRoadAddr !== '') {
            extraRoadAddr = ' (' + extraRoadAddr + ')';
          }

          // 우편번호와 주소 정보를 해당 필드에 넣는다.
          document
            .getElementById('postal_code')
            .value = data.zonecode;
          document
            .getElementById("address_0")
            .value = data.roadAddress;

          // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
          if (roadAddr !== '') {
            document
              .getElementById("address_1")
              .value = extraRoadAddr;
          } else {
            document
              .getElementById("address_1")
              .value = '';
          }
        }
      })
      .open();
  })

  var duplicate_check = false;
  var is_duplicated = true;
  $("#submit_frm").submit(function () {
    // validation
    if ($("#name").val().trim() == "") {
      alert("이름을 입력해주세요");
      return false;
    }
    if ($("#tel").val().trim() == "") {
      alert("연락처를 입력해주세요");
      return false;
    }
    if ($("#postal_code").val().trim() == "") {
      alert("우편번호를 입력해주세요");
      return false;
    }
    if ($("#address_0").val().trim() == "") {
      alert("주소를 입력해주세요");
      return false;
    }

    // submit data
    return true
  })
  $("#submit_btn").on("click", function () {
    $("#submit_frm").submit()
  })
  $("#password_change").on("click", function () {
    $.ajax({
      url: "/account/ajax_password_change",
      method: "POST",
      data: {
        "id": {{request.user.id }}
      },
      success: function (res) {
        if (res.result == "ok") {
          alert("등록된 이메일로 비밀번호 변경 url 이 전송되었습니다. 확인해주세요.")
        }
      }
    })
  })
</script>
{% endblock %}
