{% extends "shop_user/components/mypage_base.html" %}
{% block content %}
<main class="main">
   

    <div class="row mypage_main_header delivery">
        <div class="main_header">
            <div>주문/배송</div>
        </div>
        <div class="row mypage_filter" style="margin: 10px 0px; justify-content: space-between;">
            <div>
                <span class="badge badge-primary">오늘</span>
                <span class="badge">1주일</span>
                <span class="badge">1개월</span>
                <span class="badge">6개월</span>
                <span class="badge">전체보기</span>
            </div>
            <div class="" style="display:flex;line-height: 40px;margin-left: 25px;">
                <input type="text" id="datePicker" style="width: 125px;" class="form-control" value="2019-06-27">&nbsp;~&nbsp; 
                <input type="text" id="datePicker2"style="width: 125px;" class="form-control" value="2019-06-27">
            </div>
            <div style="display:flex;margin-left: 16px;">
                <div style="width: 100px;;text-align: end;line-height: 40px;; padding-right: 10px; font-size:15px;">상품명 검색</div>
                <input  style="width: 150px;;" class="form-control">
                <select style="width: 100px;" class="form-control" >
                    <option value="10" selected>10개씩</option>
                    <option value="20">20개씩</option>
                    <option value="30">30개씩</option>
                    <option value="40">40개씩</option>
                    <option value="50">50개씩</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="order_header">
                <div class="order_num" >주문일자<br>주문번호</div>
                <div class="order_product">상품명/후가공/인쇄</div>
                <div class="order_etc">부속품</div>
                <div class="order_design">디자인 확인</div>
                <div class="order_process">진행단계</div>    
                <div class="order_price">결제금액</div>     
            </div>
            <div class="order_row">
                <div class="order_num">2020-09-02<br>imp202020</div>
                <div class="order_product">상품명/후가공/인쇄</div>
                <div class="order_etc">부속품</div>
                <div class="order_design">디자인 확인</div>
                <div class="order_process">진행단계</div>    
                <div class="order_price">결제금액</div>  
            </div>
            <div class="order_row">
                <div class="order_num">2020-09-02<br>imp202020</div>
                <div class="order_product">상품명/후가공/인쇄</div>
                <div class="order_etc">부속품</div>
                <div class="order_design"><span class="badge badge-primary">디자인 확인</span></div>
                <div class="order_process"><span class="badge badge-primary">배송중</span></div>    
                <div class="order_price">결제금액</div>  
            </div>
            
        </div>
        
    </div>

</main>
<script>
	$(function() {	
        var date_option = {
		    format: "yyyy-mm-dd",	//데이터 포맷 형식(yyyy : 년 mm : 월 dd : 일 )
		    // startDate: '-10d',	//달력에서 선택 할 수 있는 가장 빠른 날짜. 이전으로는 선택 불가능 ( d : 일 m : 달 y : 년 w : 주)
		    // endDate: '+10d',	//달력에서 선택 할 수 있는 가장 느린 날짜. 이후로 선택 불가 ( d : 일 m : 달 y : 년 w : 주)
		    autoclose : true,	//사용자가 날짜를 클릭하면 자동 캘린더가 닫히는 옵션
		    calendarWeeks : false, //캘린더 옆에 몇 주차인지 보여주는 옵션 기본값 false 보여주려면 true
		    clearBtn : false, //날짜 선택한 값 초기화 해주는 버튼 보여주는 옵션 기본값 false 보여주려면 true
		    // datesDisabled : ['2019-06-24','2019-06-26'],//선택 불가능한 일 설정 하는 배열 위에 있는 format 과 형식이 같아야함.
		    // daysOfWeekDisabled : [0,6],	//선택 불가능한 요일 설정 0 : 일요일 ~ 6 : 토요일
		    // daysOfWeekHighlighted : [3], //강조 되어야 하는 요일 설정
		    disableTouchKeyboard : false,	//모바일에서 플러그인 작동 여부 기본값 false 가 작동 true가 작동 안함.
		    immediateUpdates: false,	//사용자가 보는 화면으로 바로바로 날짜를 변경할지 여부 기본값 :false 
		    multidate : false, //여러 날짜 선택할 수 있게 하는 옵션 기본값 :false 
		    multidateSeparator :",", //여러 날짜를 선택했을 때 사이에 나타나는 글짜 2019-05-01,2019-06-01
		    // templates : {
		    //     leftArrow: '&laquo;',
		    //     rightArrow: '&raquo;'
		    // }, //다음달 이전달로 넘어가는 화살표 모양 커스텀 마이징 
		    showWeekDays : true ,// 위에 요일 보여주는 옵션 기본값 : true
		    // title: "테스트",	//캘린더 상단에 보여주는 타이틀
		    todayHighlight : true ,	//오늘 날짜에 하이라이팅 기능 기본값 :false 
		    toggleActive : true,	//이미 선택된 날짜 선택하면 기본값 : false인경우 그대로 유지 true인 경우 날짜 삭제
		    weekStart : 0 ,//달력 시작 요일 선택하는 것 기본값은 0인 일요일 
		    language : "ko"	//달력의 언어 선택, 그에 맞는 js로 교체해줘야한다.
        }
		$('#datePicker').datepicker(date_option);
        $('#datePicker2').datepicker(date_option);
	});//ready end

if(location.href.indexOf("modify=success")!=-1){
    alert("고객님의 정보가 수정되었습니다.")
}

</script>

{% endblock %}