{% extends "shop_user/components/mypage_base.html" %}
{% load sass_tags %} 
{% load product_options %} 
{% load humanize %} 
{% block content %}
<script
  type="text/javascript"
  src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"
></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />

<link
  href="{% sass_src 'css/mypage.scss' %}"
  rel="stylesheet"
  type="text/css"
/>
<link href="{% sass_src 'css/signup.scss' %}" rel="stylesheet" type="text/css" />
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <main class="main w-full px-[10px] md:w-[calc(100%-210px)]">
      <div class="row mypage_main_header delivery">
        <div class="head_aticle">
          <h2 class="tit">결제 내역</h2>
        </div>
        <div
          class="row mypage_filter"
          style="margin: 10px 0px; width: 100%;    justify-content: space-between;"
        >
          <div>
           
            <span data-selected="2" data-month="-1m" class="date badge {% if selected == "2" %}badge-primary{%endif%}">1개월</span>
            <span data-selected="3" data-month="-3m" class="date badge {% if selected == "3" %}badge-primary{%endif%}">3개월</span>
            <span data-selected="4" data-month="-6m" class="date badge {% if selected == "4" %}badge-primary{%endif%}">6개월</span>         
            <span data-selected="5" data-month="all" class="date badge {% if selected == "5" %}badge-primary{%endif%}">전체보기</span>  
          
          </div>        

          <div style="display: flex; justify-content: end;">
            <div class="search_con_mypage input">
              <input value="{{q|default:""}}" class="input" placeholder="찾고싶은 상품을 검색하세요!" id="search_text" style="color: #000;">
              <div class="icon search" style="width: 30px ;height: 50px; background-color: #6060f0;
              background-color: #6060f0;
              width: 44px;
              height: 37px;
              top: 1px;
              right: 1px;
              position: absolute; cursor: pointer;
              ">
            <i style="cursor: pointer;position: relative; color:#fff;
            cursor: pointer;
            position: relative;
            color: #fff;
            font-size: 30px;
            margin-top: 3px;
            margin-left: 5px;
            " class="fas fa-search icon search"></i>  
            </div>
            </div>
          </div>
        </div>

        <div class="hidden lg:block lg:w-full" style="justify-content: flex-end;">
          <div class="order_header flex">           
            <div class="w-full items-start text-xs text-gray-400  justify-start md:w-[100px] lg:justify-center lg:w-[100px] xl:w-[190px] lg:text-black lg:text-sm lg:items-center" >주문 날짜</div>
            <div class="w-2/3 text-lg items-start lg:w-[calc(100%-520px)] lg:items-center xl:w-[calc(100%-610px)]" style="">주문제품</div>
            <div class="w-1/3 text-lg justify-end lg:w-[150px] lg:text-base lg:justify-center" >결제 금액</div>
            <div class="w-1/3 lg:w-[120px] lg:justify-center lg:items-center"  style="width:120px;">진행 상태</div>        
            <div class="w-2/3 flex xxs:flex-row lg:flex-col lg:w-[150px]" style="border-right:none">기타</div>
          </div>
        </div> 
   
          {% for purchase in order_list %}
          
          <div class="order_row flex-wrap mb-3 lg:flex-row"  data-for="pur_{{purchase.id}}">           
            <div class="w-full items-start text-xs text-gray-400  justify-start lg:justify-center lg:w-[100px] lg:text-black lg:text-sm  lg:items-center xl:w-[190px]" >{{purchase.created_at|date:"Y-m-d H:i"}}</div>
            <div data-for="pur_{{purchase.id}} " class="order_product purchase_name w-2/3 text-lg items-start lg:pl-2 lg:w-[calc(100%-520px)] xl:w-[calc(100%-610px)] lg:items-center" style="cursor:pointer">{{purchase.get_purchase_name}}</div>
            <div class="order_process w-1/3 text-lg mb-1 justify-end lg:w-[150px] lg:text-base lg:items-center lg:justify-center">{{purchase.total_price|intcomma}}원</div>
            <div class="w-1/3 lg:w-[120px] items-start lg:justify-center lg:items-center"  >{{purchase.get_purchase_status_display}}</div>        
            <div class="order_price w-2/3 lg:flex-col lg:w-[150px]" >
              <div class="order_detail w-1/2 justify-center lg:justify-center lg:w-full" style="cursor: pointer;">주문 상세내역</div>
              <div class="w-1/2 justify-end  lg:justify-center lg:w-full" style="cursor: pointer;">
                교환, 반품신청
              </div>
            </div>
          </div>

          <div id="pur_{{purchase.id}}" class="purchase_detail hidden" style="margin: 5px;border-color: #52277247;margin-left: 0px; background-color: #5227724708 ;">
            <div class="order_header">
            <div class="order_check" style="border-right:none;width:10px;"></div>
              <div class="order_num" style="width:120px;">상품 이미지</div>
              <div class="order_product" style="width:320px;">주문제품</div>
              <div class="order_process" style="width:50px;">수량</div>
              <div class="order_etc"  style="width:100px;">부속품</div>        
              <div class="order_price" style="border-right:1px solid #52277247">첨부파일</div>
              <div class="order_process">등록일자</div>
              <div class="order_process" style="border-right:none">공급가액<br>(부가세)</div>
            </div>
            {% if user.is_authenticated %}
            {% for item in purchase.purchaseitem_set.all %}
            <div class="order_row"  data-id="{{item.id}}">
              <div class="order_check" style="width:10px; border-right: 0px;"></div>
              <div class="order_num" style="width:120px;"> <img src="{{item.get_product_image}}" style="width: 100px"></div>
              <div class="order_product" style="width:320px;"><a href="/product/detail/{{item.product.original_product_id}}">
              <b>{% get_name_by_id item %}</b></a> 
              {% for option in item.product.json.product_inner_option %}
                {{option.type}} : {{ option.name }}<br>
              {% endfor %}
              요청사항 : {{item.product.comment}}
              </div>
              <div class="order_process" style="width:50px;">{{ item.product.json.count }} </div>
              <div class="order_etc"  style="width:100px;">{{ item.get_additional_product  }}</div>          
              <div class="order_price">
              {% if item.file_0 %}<a class="badge badge-primary" style="color:#fff!important" href="{{item.file_0.url}}" download>첨부파일</a>{% endif %}
              {% if item.file_1 %}<a class="badge badge-primary" style="color:#fff!important" href="{{item.file_1.url}}" download>첨부파일</a>{% endif %}
              {% if item.file_2 %}<a class="badge badge-primary" style="color:#fff!important" href="{{item.file_2.url}}" download>첨부파일</a>{% endif %}
              </div>
              <div class="order_price" style="font-size: 12px;"
                >{{ item.created_at }}</div
              >
              <div class="order_process product_price" style="justify-content: center;">{{ item.product.total_price|intcomma }}원<br>
              <span class="vat">({{ item.product.vat|intcomma  }}원)</span></div>
            </div>
            
            {% endfor %}
            <table>
              <tr>
                <th class="section_title" colspan="4">주문자 정보</th>
              </tr>
              <tr>
                <th>휴대전화</th>
                <td>{{purchase.sender_tel}}</td>
                <th>이름</th>
                <td>{{purchase.sender_name}}</td>
              </tr>
              <tr>
                <th>연락처</th>
                <td></td>
                <th>발송지</th>
                <td>({{purchase.sender_postal_code}})
                  {{purchase.sender_address_simple}} {{purchase.sender_address_detail}}
                </td>
              </tr>
              <tr>
                <th>주문번호</th><td colspan="3">{{purchase.iamport_id}}</td>
              </tr>
              <tr>
                <th class="section_title" colspan="4">배송지 정보</th>
              </tr>
              <tr>
                <th>휴대전화</th>
                <td>{{purchase.phone}}</td>
                <th>수취인 이름</th>
                <td>{{purchase.name}}</td>
              </tr>
              <tr>
                <th>연락처</th>
                <td>{{purchase.tel}}</td>
                <th>배송지</th>
                <td>({{purchase.postal_code}})
                  {{purchase.address_simple}} {{purchase.address_detail}}
                </td>
              </tr>
              <tr>
                <th>배송시 요청사항</th>
                <td  style="border-bottom: 2px solid  #52277247;" colspan="3">
                  {{purchase.comment}}
                </td>
              </tr>
              <tr >
                <th style="border-bottom: 2px solid  #52277247; " class="section_title" colspan="4">
                  
                <div style="float: left;margin-right: 12px;">결제 정보({{purchase.payment_method}})</div>         
                <div class="row" style="font-size: 15px;;float: left;width:700px">
                  <div class="col-2 d-flex flex-column">
                      <div class="price_header">공급가액</div>
                      <div class="price_content supply_total">{{purchase.supply_price|default:"0"|intcomma}}원</div>
                  </div>
                  <div class="col-2 d-flex flex-column">
                    <div class="price_header">부가세</div>
                    <div class="price_content vat_total">{{purchase.vat_price|default:"0"|intcomma}}원</div>
                  </div>
                  <div class="col-2 d-flex flex-column">
                    <div class="price_header">배송비</div>
                    <div class="price_content delivery_total">{{purchase.delivery_price|default:"0"|intcomma}}원</div>
                  </div>
                  <div class="col-2 d-flex flex-column">
                    <div class="price_header">포인트 사용</div>
                    <div class="price_content">0원</div>
                  </div>
                  <div class="col-2 d-flex flex-column">
                    <div class="price_header">쿠폰 사용</div>
                    <div class="price_content">0원</div>
                  </div>
                  <div class="col-2 d-flex flex-column">
                    <div class="price_header">결제 금액</div>
                    <div class="price_content total_price">{{purchase.total_price|default:"0"|intcomma}}원</div>
                  </div>
                </div>
                </th>
              </tr>
              
            </table>            
            {% else %}
            {% for item in purchase.temp_purchase_item.all %}
            <div class="order_row"  data-id="{{item.id}}">
              <div class="order_check" style="width:10px;"></div>
              <div class="order_num" style="width:120px;"> <img src="{{item.get_product_image}}" style="width: 100px"></div>
              <div class="order_product" style="width:320px;"><a href="/product/detail/{{item.product.original_product_id}}">
              <b>{% get_name_by_id item %}</b></a> 
              {% for option in item.product.json.product_inner_option %}
                {{option.type}} : {{ option.name }}<br>
              {% endfor %}
              요청사항 : {{item.product.comment}}
              </div>
              <div class="order_process" style="width:50px;">{{ item.product.json.count }} </div>
              <div class="order_etc"  style="width:100px;">{{ item.get_additional_product  }}</div>          
              <div class="order_price">
              {% if item.file_0 %}<a class="badge badge-primary" style="color:#fff!important" href="{{item.file_0.url}}" download>첨부파일</a>{% endif %}
              {% if item.file_1 %}<a class="badge badge-primary" style="color:#fff!important" href="{{item.file_1.url}}" download>첨부파일</a>{% endif %}
              {% if item.file_2 %}<a class="badge badge-primary" style="color:#fff!important" href="{{item.file_2.url}}" download>첨부파일</a>{% endif %}
              </div>
              <div class="order_price" style="font-size: 12px;"
                >{{ item.created_at }}</div
              >
              <div class="order_process product_price">{{ item.product.total_price|intcomma }}원<br>
              <span class="vat">({{ item.product.vat|intcomma  }}원)</span></div>
            </div>
            {% endfor %}
            {% endif %}






          </div>
          {% endfor %}           
        </div>
      </div>
    </main>
    <div class="modal fade bs-read-modal-xl read_modal" tabindex="-1" role="dialog"
    aria-labelledby="read_notice" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mt-0" id="read_custom_purchase_title">주문 상세내역</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body purchase_detail " id="read_purchase_content" style="padding:1rem 9px">
                   
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->




<script>
  
  function getParameterByName(name) {
    var url=window.location.href
    name = name.replace(/[\[\]]/g, '\\$&');
    var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, ' '));
  }
  $(document).ready(function () {
    var date_option = {
      format: "yyyy-mm-dd", //데이터 포맷 형식(yyyy : 년 mm : 월 dd : 일 )
      // startDate: '-10d',	//달력에서 선택 할 수 있는 가장 빠른 날짜. 이전으로는 선택 불가능 ( d : 일 m : 달 y : 년 w : 주)
      // endDate: '+10d',	//달력에서 선택 할 수 있는 가장 느린 날짜. 이후로 선택 불가 ( d : 일 m : 달 y : 년 w : 주)
      autoclose: true, //사용자가 날짜를 클릭하면 자동 캘린더가 닫히는 옵션
      calendarWeeks: false, //캘린더 옆에 몇 주차인지 보여주는 옵션 기본값 false 보여주려면 true
      clearBtn: false, //날짜 선택한 값 초기화 해주는 버튼 보여주는 옵션 기본값 false 보여주려면 true
      // datesDisabled : ['2019-06-24','2019-06-26'],//선택 불가능한 일 설정 하는 배열 위에 있는 format 과 형식이 같아야함.
      // daysOfWeekDisabled : [0,6],	//선택 불가능한 요일 설정 0 : 일요일 ~ 6 : 토요일
      // daysOfWeekHighlighted : [3], //강조 되어야 하는 요일 설정
      disableTouchKeyboard: false, //모바일에서 플러그인 작동 여부 기본값 false 가 작동 true가 작동 안함.
      immediateUpdates: false, //사용자가 보는 화면으로 바로바로 날짜를 변경할지 여부 기본값 :false
      multidate: false, //여러 날짜 선택할 수 있게 하는 옵션 기본값 :false
      multidateSeparator: ",", //여러 날짜를 선택했을 때 사이에 나타나는 글짜 2019-05-01,2019-06-01
      // templates : {
      //     leftArrow: '&laquo;',
      //     rightArrow: '&raquo;'
      // }, //다음달 이전달로 넘어가는 화살표 모양 커스텀 마이징
      showWeekDays: true, // 위에 요일 보여주는 옵션 기본값 : true
      // title: "테스트",	//캘린더 상단에 보여주는 타이틀
      todayHighlight: true, //오늘 날짜에 하이라이팅 기능 기본값 :false
      toggleActive: true, //이미 선택된 날짜 선택하면 기본값 : false인경우 그대로 유지 true인 경우 날짜 삭제
      weekStart: 0, //달력 시작 요일 선택하는 것 기본값은 0인 일요일
      language: "ko", //달력의 언어 선택, 그에 맞는 js로 교체해줘야한다.
    };
    $("#datePicker").datepicker(date_option);
    $("#datePicker2").datepicker(date_option);
    $("#datePicker2").datepicker("setDate","today")
    
    
    if( getParameterByName("date_from") != undefined  ){
      $("#datePicker").datepicker("setDate",new Date(getParameterByName("date_from")))
    }else{    
      $("#datePicker").datepicker("setDate","-1M")
    }
    
    $(".date").on("click", function(){
      $(".date").removeClass("badge-primary")
      $(this).addClass("badge-primary")
      if( $(this).attr("data-selected")=="5" ){ $("#datePicker").datepicker("setDate",new Date( "2021-01-01" )); }  
      if( $(this).attr("data-selected")=="2" ){ $("#datePicker").datepicker("setDate","-1M");  }      
      if( $(this).attr("data-selected")=="3" ){ $("#datePicker").datepicker("setDate","-3M");  }    
      if( $(this).attr("data-selected")=="4" ){ $("#datePicker").datepicker("setDate","-6M");  }    
      var month = $(".mypage_filter .badge-primary").attr("data-month")
      location.href="/account/order_history?date_from="+month+"&q="+$("#search_text").val()+"&selected="+$(".mypage_filter .badge-primary").attr("data-selected")

    })
    $(".search.icon").on("click", function(){
      var month = $(".mypage_filter .badge-primary").attr("data-month")
      location.href="/account/order_history?date_from="+month+"&q="+$("#search_text").val()+"&selected="+$(".mypage_filter .badge-primary").attr("data-selected")
    })
    $(".order_detail").on("click", function(){
      var target = $(this).closest(".order_row").attr("data-for")
      var html =  $("#"+target).html()
      
      $("#read_purchase_content").html(html)
      $(".read_modal").modal("show")
     
    })
  
  });
</script>
<style>
  .delete_basket{
    cursor: pointer;
  }
  .search_con_mypage{
    position: relative;
    justify-content: space-around;
   
  }
  .search_con_mypage input{
    width: 300px;
    height: 38px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding-left: 25px;
    font-size: 15px;;
   
  }
 
  .search_con_mypage .icon{
    width: 25px;
    height: 25px;  
  }
  .purchase_detail table{
    width: 100%;
    margin-top: 10px;
  }
  .purchase_detail table th.section_title{
    padding: 20px 10px;
    border-bottom : 1px solid #ddd;
    border-top: 2px solid #52277247;
    min-width: 25%; 
  }
  .purchase_detail table th{
    min-width: 25%; 
    padding: 20px;
    
  }

  .purchase_detail table td{
    padding: 20px;
    min-width: 25%;
    font-size: 15px;;
  } 
  .price_header{
    font-weight: lighter;
  }
  .price_content {
    font-weight: lighter;
  }
  .purchase_detail .order_header div{
    border-color: #52277247;
  }
  .price_header{
    text-align: center;
  }
  .price_content {
    text-align: center;
  }
  .modal-xl {
    max-width: 919px!important;
  }

</style>
{% endblock %}
