{% extends "shop_management/base.html" %} {% load sass_tags %} {% block body %}
<link href="{% sass_src 'css/login.scss' %}" rel="stylesheet" type="text/css" />
<div class="container login_container">
  <div class="">   
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="user" role="tabpanel">
        <strong>{{ user.nickname }}</strong>님 비밀번호 변경<br>
        <div class="input_container row">         
          <div class="input_form"> 
            <form id="submit_frm">
              <input placeholder="비밀번호를 입력해주세요" id="password1" name="username" type="password" style="margin-top:0px;" /><br />
              <input placeholder="비밀번호 확인을 위해 한번더 입력해주세요"  id="password2" name="password" type="password" />
            </form>
          </div>
          <button id="user_login" class="login_btn"> 비밀번호 변경 </button>
        </div>
      </div>   
    </div>
  </div>
</div>
<script>
  {% if fresh %}
  console.log("")
  {% else %}
  alert("유효기간이 만료된 토큰입니다. 패스워드 변경 가능 기간은 재스워드 변경 신청 접수후 30일 이내 입니다.")
  location.href="/"
  {% endif %}
  $(document).ready(function () {

    function check_password(str){
        console.log(str)
        var reg_pwd = /^.*(?=.{6,20})(?=.*[0-9])(?=.*[a-zA-Z]).*$/;
        if(!reg_pwd.test(str)){
        return false;
        }
        return true;
    }
    $("#submit_frm").submit(function(){
        // validation check
     
        if($("#password1").val().trim() == ""){ alert("비밀번호를 입력해주세요"); return false; }
        if($("#password1").val().trim() != $("#password2").val().trim() ){ alert("비밀번호가 일치하지 않습니다. 비밀번호를 확인해 주세요"); return false; }
             
        // password validation
        if( !check_password($("#password1").val()) ){
            alert("비밀번호를 확인해주세요.\n(영문,숫자를 혼합하여 6~20자 이내)");
            return false;
        }
        // submit data
        $.ajax({
          url:"/account/password_change_request",
          method:"post",
          data:{
            token:"{{ token }}",
            password: $("#password1").val().trim()
          },
          success:function(res){
            if(res.result == "ok"){
              alert("비밀번호가 성공적으로 변경되었습니다. 로그인을 진행해주세요")
              location.href="/"
            }
          }
        })
        return false;

    })
    $("#user_login").on("click", function(){ $("#submit_frm").submit()  })
  });
</script>
{% endblock %}
