{% extends "shop_user/components/mypage_base.html" %}
{% load sass_tags %}
{% load product_options %}
{% load humanize %}
{% block content %}
  <script>
    $("aside").css("display", "none")
    $(".page_title").text("주문/결제")
  </script>
  <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
  <link href="{% sass_src 'css/mypage.scss' %}" rel="stylesheet" type="text/css"/>
  <link href="{% sass_src 'css/payment.scss' %}" rel="stylesheet" type="text/css"/>
  <link href="{% sass_src 'css/signup.scss' %}" rel="stylesheet" type="text/css"/>
  <style>
    .main {
      width: 100% !important;
    }
   
  </style>
  <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <main class="main" style="margin-top:0px;">

    <div class="row mypage_main_header delivery flex-col align-content-center">

      <div class="justify-content-center w-full" style="margin-top: 10px;">
        <div class="order_header  xxs:hidden md:flex align-items-center ">
          <div class="order_check h-[36px]" style="border-right:none ; width: 0px;"></div>
          <div class="order_num md:w-[80px]" style="">번호</div>
          <div class="order_num md:w-[120px]" style="">상품 이미지</div>
          <div class="order_product md:w-[calc(100%-400px)]" style="">주문제품</div>
          <div class="order_process md:w-[50px]">수량</div>
          <div class="order_process md:w-[150px]" style="border-right:none">주문금액</div>
     
        </div>

        {% for item in basket %}

          {% if item.is_private == False %}

          <div data-id="{{item.id}}" pre_parcel_price="{% get_product_by_id item "pre_parcel_price" %}" after_parcel_price="{% get_product_by_id item "after_parcel_price" %}" pre_quick_price="{% get_product_by_id item "pre_quick_price" %}" after_quick_price="{% get_product_by_id item "after_quick_price" %}" pre_carton_price="{% get_product_by_id item "pre_carton_price" %}" after_carton_price="{% get_product_by_id item "after_carton_price" %}" local_delivery_price="{% get_product_by_id item "local_delivery_price" %}" class="order_row_attr payment_list  flex text-base flex-wrap  md:flex-row  py-[10px]">

            <div class="order_check" style="border-right:none"></div>
            <div class="order_num md:w-[80px] flex align-items-center justify-content-center" style="text-align: center;">{{forloop.counter}}</div>


            <div class="order_num" style="width:120px; align-items: center;text-align: center; display: flex; justify-content: center;">
              <img src="{{item.get_product_image}}" style="width: 100px"></div>
            <div class="order_product flex-start  xxs:w-[calc(100%-150px)] sm:w-[calc(100%-400px)]" style="align-items:start; padding-left: 20px;;">
              <a href="/product/detail/{{item.product.original_product_id}}">
                <b>{% get_name_by_id item %}</b>
              </a>
              {% for option in item.product.json.product_inner_option %}
                {% if option.type == "design" %}
                  <span>디자인 : [{{ option.name }}]</span>
                  {%endif%}
                {% endfor %}
                <section>옵션 :
                  {% if item.product.json.size.need_to_input_option %}
                    [사이즈 :
                    {{ item.product.json.size.width }}(cm) x
                    {{ item.product.json.size.height }}(cm)]
                    {%endif%}
                    {% for option in item.product.json.product_inner_option %}
                      {% if option.type != "design" %}
                        [{{option.type}}
                        :
                        {{ option.name }}]
                        {%endif%}
                      {% endfor %}
                    </section>

                    <span>요청사항 :
                      {% if item.product.comment != "" %}
                        {{item.product.comment}}
                      {% else %}
                        없음
                      {% endif %}
                    </span>
                    <div class="flex-row">
                      <span>부속상품&nbsp;:&nbsp;</span><span class="additional_product_text">{{ item.get_additional_product  }}</span>
                    </div>
                    {% if item.file_0 %}
                      <a class="badge badge-primary" style="color:#fff!important" href="{{item.file_0.url}}" download="download">첨부파일</a>
                    {% endif %}
                    {% if item.file_1 %}
                      <a class="badge badge-primary" style="color:#fff!important" href="{{item.file_1.url}}" download="download">첨부파일</a>
                    {% endif %}
                    {% if item.file_2 %}
                      <a class="badge badge-primary" style="color:#fff!important" href="{{item.file_2.url}}" download="download">첨부파일</a>
                    {% endif %}
                  </div>
                  <div class="order_process xxs:text-right xxs:w-[190px] md:text-center md:w-[50px]" style="">{{ item.product.json.count }}개
                  </div>
                  <div class="order_process product_price xxs:text-right xxs:pr-[10px] xxs:w-[calc(100%-190px)] sm:w-full md:w-[150px] md:text-center" style="">
                    {{ item.product.total_price|intcomma }}원<br>
                    <span class="vat" style="display: none;">({{ item.product.vat|intcomma  }}원)</span>
                  </div>
                
                </div>

                {% else %}
                <div data-id="{{item.id}}" pre_parcel_price="0" 
                after_parcel_price="0" 
                pre_quick_price="0" 
                after_quick_price="0" 
                pre_carton_price="0" 
                after_carton_price="0" 
                local_delivery_price="0" class="order_row_attr payment_list  flex text-base flex-wrap  md:flex-row  py-[10px]">
                  <div class="order_check" style="border-right:none"></div>
                  <div class="order_num md:w-[80px] flex align-items-center justify-content-center" style="text-align: center;">{{forloop.counter}}</div>
                  <div class="order_num" style="width:120px; align-items: center;text-align: center; display: flex; justify-content: center;">
                    <img src="/static/img/custom_purchase.jpg" style="width: 100px"></div>
                  <div class="order_product flex-start  xxs:w-[calc(100%-150px)] sm:w-[calc(100%-400px)]" style="align-items:start; padding-left: 20px;;">
                    <a href="/product/detail/{{item.product.original_product_id}}">
                      <b>{{ item.product.private_product_name }}</b>
                    </a><br>
                        <span>옵션 : {{ item.product.private_product_option }}</span><br>
                        <span>요청사항 :
                            {% if item.product.comment != "" %}
                              {{item.product.comment}}
                            {% else %}
                              없음
                            {% endif %}
                          </span>
                          <div class="flex-row">
                            <span>부속상품&nbsp;:&nbsp;</span><span class="additional_product_text">{{ item.product.private_additional_product  }}</span>
                          </div>
                        </div>
                        <div class="order_process xxs:text-right xxs:w-[190px] md:text-center md:w-[50px]" style="">{{ item.product.private_product_count }}개
                        </div>
                        <div class="order_process product_price xxs:text-right xxs:pr-[10px] xxs:w-[calc(100%-190px)] sm:w-full md:w-[150px] md:text-center" style="">
                          {{ item.product.total_price|intcomma }}원<br>
                          <span class="vat" style="display: none;">({{ item.product.total_price|get_vat|intcomma  }}원)</span>
                        </div>
                </div>
                {% endif %}

              {% endfor %}
              <script>
                // 장바구니에서 체크해서 결제한다 -> 장바구니 db 에서 전체 가져와서 클라이언트에서만 안보이게 가린다 => 나중에 수정할것
                $(".payment_list").each(function () {
                  if (location.href.indexOf($(this).attr("data-id")) == -1) {
                    $(this).remove()
                  }
                })
              </script>
    

              <div class="w-full flex flex-wrap">
                <div class="xxs:w-full  ">
                  <div class="main_header" style="margin-top:20px;">
                    <div>주문자 정보</div>
                  </div>
                  <div class="w-full sender" style="padding: 0px!important;">
                    <form id="submit_frm" name="submit_frm" method="post">
                      <div class="box_shop_form01 inner" style="width: 100%">
                        <div class="tbl_box" style="margin-top: 0px;">
                          <div class="inner" style="width: 100%">
                            <div class="tbl_box_in" style="margin-top:0px; border-top:none; border-bottom:none;width:100%">
                              <form id="signup_form" method="post">
                                {% csrf_token %}
                                <input type="hidden" id="memberId" name="memberId" value="">
                                    <div class="md:w-full flex flex-wrap align-items-center mt-3">
                                     <div class="xxs:hidden sm:block md:w-[100px]  lg:px-[20px]  text-center">
                                        <label for="name">주문자명</label>
                                      </div>
                                      <div class="md:w-[250px]" >
                                        <label class="text-xm text-gray-600 sm:hidden" for="tel">주문자명</label>
                                        <input type="text" id="name" name="name" class="text_input form-control" title="이름을 입력해주세요." value="{{request.user.nickname}}" placeholder="이름을 입력해주세요">
                                      </div>
                                        <div class="w-full h-[10px]"></div>
                                        <div class="xxs:hidden sm:block md:w-[100px] lg:px-[20px]  text-center">
                                          <label for="email">이메일</label>
                                        </div>
                                        <div class="md:w-[250px]" >
                                          <label class="text-xm text-gray-600 sm:hidden" for="tel">연락처</label>
                                          <input type="text" name="tel" id="tel" class="text_input  form-control" title="이메일을 입력해주세요" value="{{request.user.username}}" placeholder="이메일을 입력해주세요">
                                        </div>
                                        <div class="w-full h-[10px]"></div>
                                  
                                         
                                           <div class="xxs:hidden sm:block md:w-[100px]  lg:px-[20px]  text-center">
                                            <label for="tel">휴대전화</label>
                                           </div>
                                           <div class="md:w-[250px]" >
                                        <input type="text" name="phone" id="sender_phone" value="{{request.user.phone|default:''}}"
                                        class="text_input numeric  form-control" title="연락처를 입력해주세요." placeholder="숫자만 입력해주세요">
                                      </div>
                                      {% if request.user.address_simple %}
                                      <div class="w-full h-[10px]"></div>
                                      <div class="xxs:hidden sm:block md:w-[100px] lg:px-[20px]  text-center ">
                                        <label for="address">배송지</label>
                                      </div>
                                      <div class="md:w-[500px]" >
                                        <input class=" form-control" name="postal_code" type="text" value="{{request.user.postal_code|default:''}}" name="postal_code" id="postal_code" class="text_input w-full" placeholder="우편번호를 입력해주세요">
                                        <input class=" form-control" name="address_0" type="text" value="{{request.user.address_simple|default:''}}" id="address_0" name="address_0" class="text_input w-full" placeholder="주소를 입력해주세요">
                                        <input class=" form-control" name="address_1" type="text"  value="{{request.user.address_detail|default:''}}" id="address_1" name="address_1" class="text_input w-full" placeholder="세부주소를 입력해주세요">
                                      </div>
                                      {% else %}
                                      <div class="w-full h-[10px]"></div>
                                      <div class="xxs:hidden sm:block md:w-[100px] lg:px-[20px]  text-center ">
                                        <label for="address">배송지</label>
                                      </div>
                                      <a href="/account/modify_info">회원 정보내 미등록</a>
                                      {% endif %}
                                    </div>
                                <!-- // tbl01 -->
                              </form>
                            </div>
                          </div>
                        </div>
                        <!-- // tbl_box -->
                      </div>
                    </form>
                  </div>
                </div>
                <div class="xxs:w-full">
                  <div class="main_header flex" style="margin-top:20px; align-items: center;">
                    <div>배송지 정보</div> 
                    <input type="checkbox" id="same"  style="margin-left: 20px;;"> <label for="same" style="margin-left: 10px;;">주문자 정보와 동일</label>
                  </div>
                  <div class="w-full ">
                    <form id="submit_frm" name="submit_frm" method="post">
                      <div class="box_shop_form01 inner" style="width: 100%">
                        <div class="tbl_box" style="margin-top: 0px;">
                          <div class="inner" style="width: 100%">
                            <div class="tbl_box_in ship" style="margin-top:0px; border-top:none; border-bottom:none;width:100%">
                              <form id="signup_form" method="post">
                                {% csrf_token %}
                                  <div class="md:w-full flex flex-wrap align-items-center mt-3">
                                    <div class="xxs:hidden sm:block md:w-[100px]  text-center">
                                      <label for="name">배송방법</label>
                                    </div>                                    
                                      <div class="order_num md:w-[250px]" style=" display: flex; flex-direction: row; justify-content:flex-start ; ;">
                      
                                        <span data-type="pre_parcel_price" class="badge  delivery_select">선불택배</span>
                                        <span data-type="after_quick_price" class="badge  delivery_select">퀵배송(구매자 부담)</span>
                                        <span data-type="after_quick_price" class="badge  delivery_select">방문수령</span>
                      
                                      </div>
                               
                                      <div class="w-full h-[10px]"></div>
                                     <div class="xxs:hidden sm:block md:w-[100px]  text-center">
                                        <label for="name">수취인 이름</label>
                                      </div>
                                    <div class="md:w-[250px]" >
                                        <input type="text" id="name" name="name" class="text_input form-control pr-[10px] " title="이름을 입력해주세요." value="{{request.user.name|default:''}}" placeholder="이름을 입력해주세요" style="width:100%;">
                                    </div>
                                             <div class="w-full h-[10px]"></div>
                                    <div class="xxs:hidden sm:block md:w-[100px]  lg:px-[20px]  text-center ">
                                        <label for="tel">휴대전화</label>
                                      </div>
                                       <div class="md:w-[250px]" >
                                        <input  type="text"  name="phone" id="phone"   class=" form-control text_input numeric w-full"  placeholder="숫자만 입력해주세요">
                                      </div>
                                             <div class="w-full h-[10px]"></div>
                                    <div class="xxs:hidden sm:block md:w-[100px] lg:px-[20px]  text-center ">
                                        <label for="address">배송지</label>
                                      </div>
                                      <div class="md:w-[500px]" >
                                        <input class=" form-control" type="text"  name="postal_code" id="postal_code" class="text_input w-full" placeholder="우편번호를 입력해주세요">
                                        <input class=" form-control" type="text"  id="address_0" name="address_0" class="text_input w-full" placeholder="주소를 입력해주세요">
                                        <input class=" form-control" type="text"  id="address_1" name="address_1" class="text_input w-full" placeholder="세부주소를 입력해주세요">
                                      </div>
                                             <div class="w-full h-[10px]"></div>
                                     <div class="xxs:hidden sm:block md:w-[100px]   lg:px-[20px]  text-center ">
                                     배송시<br>요청사항</div>
                                        <div class="md:w-[500px]" >
                                        <textarea id="comment" class="w-full form-control" style="height: 80px;margin:0px!important" placeholder="배송시 요청사항을 입력해주세요"></textarea>
                                      </div>

                                  </div>
                                <!-- // tbl01 -->
                              </form>
                            </div>
                          </div>
                        </div>
                        <!-- // tbl_box -->
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div style="width: 100%">
                <div class="main_header" style="margin-top:20px;">
                  <div>결제 금액 정보</div>
                </div>
                <div class="w-full" style="padding-top: 10px;">
                  <div class="row flex-wrap xxs:justify-around  lg:justify-around">
                    <div class="xxs:w-1/3 lg:w-1/6 d-flex flex-column">
                      <div class="price_header">공급가액</div>
                      <div class="price_content supply_total" style="margin-left:0px">원</div>
                    </div>
                    <div class="xxs:w-1/3 lg:w-1/6 d-flex flex-column">
                      <div class="price_header">부가세</div>
                      <div class="price_content vat_total" style="margin-left:0px">원</div>
                    </div>
                    <div class="xxs:w-1/3 lg:w-1/6 d-flex flex-column">
                      <div class="price_header">배송비</div>
                      <div class="price_content delivery_total" style="margin-left:0px">원</div>
                    </div>
          
                    <div class="xxs:w-1/3 lg:w-1/6 d-flex flex-column">
                      <div class="price_header">결제금액</div>
                      <div class="price_content total_price" style="font-size: 24px;margin-left:0px">원</div>
                    </div>
                  </div>
                </div>
                <div class="main_header" style="margin-top:20px;">
                  <div>결제 방법 선택</div>
                </div>
                <div class="w-full lg:p-[10px]" style="padding-top: 10px;display: flex; align-items: center;flex-wrap: wrap;">
                  <div class="price_header w-[100px]">결제 방법</div>
                  <div>
                    <input type="radio" name="pay_method" id="inicis" value="이니시스" checked="checked">
                    <label for="inicis">온라인 결제</label>
                    <input type="radio" name="pay_method" id="account" value="무통장">
                    <label for="account" style="margin-right: 20px;">무통장 입금</label>
                  </div>
                  <div id="account_info">
                    *입금자명 및 입금금액이 주문정보와 다를경우 입금 확인 지연으로 출고가 늦어질수 있습니다.<br>
                    *입금후 전화나 카톡으로 연락주시면 더욱 빠른 진행이 가능합니다.<br>
                    *3일 이내 미입금시 자동취소됩니다.
                  </div>
                </div>
                <div class="account_method hidden  lg:p-[10px]">
                  <div id="prove_method" class=" account  lg:w-1/3 " style="padding-top: 10px;display: flex; align-items: center;">
                    <div class="price_header w-[100px]">증빙 방법</div>
                    <div>
                      <input type="radio" name="prove_method" id="prove_0" value="현금영수증">
                      <label for="prove_0" class="text-sm" style="margin-right: 5px;">현금영수증</label>
                      <input type="radio" name="prove_method" id="prove_1" value="세금계산서">
                      <label for="prove_1" class="text-sm" style="margin-right: 5px;">세금계산서</label>
                      <input type="radio" name="prove_method" id="prove_2" value="증빙없음" checked="checked">
                      <label for="prove_2" class="text-sm" >증빙없음</label>
                    </div>
                  </div>
                  <div id="prove_method_0" class="account prove_method hidden flex-wrap  " style="padding-top: 10px; align-items: center;">
                    <div class="price_header w-[100px]  lg:float-left">현금 영수증</div>
                    <div  class="flex-wrap flex align-items-center xxs:pl-[10px] lg:pl-0">
                      <input type="radio" name="prove_method_0" id="prove_method_0_0" value="소득공제" checked="checked">
                      <label for="prove_method_0_0" class="text-sm" style="margin-right: 5px;">소득공제</label>
                      <input type="radio" name="prove_method_0" id="prove_method_0_1" value="지출증빙">
                      <label for="prove_method_0_1" class="text-sm" style="margin-right: 5px;">지출증빙</label>
                      <div class="prove_method_0  xxs:w-[165px] lg:w-1/2" data-prove="prove_method_0_0">
                        <input id="proof_name" type="text" class="text-sm w-[165px]" style="border:1px solid #6b7280;" placeholder="이름">
                        <input id="proof_tel" type="text" class="text-sm w-[165px]" placeholder="핸드폰번호">
                      </div>
                      <div class="prove_method_0 hidden xxs:w-[165px] lg:w-1/2" data-prove="prove_method_0_1">
                        <input id="proof_company_name" class="text-sm w-[165px]" type="text" placeholder="법인명">
                        <input id="proof_company_num" class="text-sm w-[165px]" type="text" placeholder="사업자 번호">
                      </div>
                    </div>
                  </div>
                  <div id="prove_method_1" class=" account prove_method hidden xxs:w-full" style="padding-top: 10px; align-items: center;">
                    <div class="price_header w-[100px] lg:float-left">세금 계산서</div>
                    <div class="xxs:flex xxs:flex-col xxs:w-full xxs:pl-[20px] lg:flex-row lg:pl-[10px] lg:items-center lg:w-[calc(100%-200px)]">
                      사업자 등록증 사본 : &nbsp;<input type="file" class="w-full lg:w-1/3"  name="prove_method_1" id="prove_method_1_0">
                      <input type="text" style="border:1px solid #6b7280;" class="xxs:w-[calc(100%-30px)] lg:w-1/4" placeholder="계산서 담당자" name="tax_person" id="prove_method_1_2">
                      <input type="text" style="border:1px solid #6b7280;" class="xxs:w-[calc(100%-30px)] lg:w-1/4" placeholder="계산서 발급 이메일" name="prove_method_1_email" id="prove_method_1_1">
                    </div>
                  </div>
                </div>

                <div class="btn_wrap align_c mgt60" style="margin-top:60px; text-align:center; margin-bottom: 100px;">
                  <div id="pay" class="btn_l btn_mwht2 w220">
                    <span>결제하기</span></div>
                </div>
                <!-- // btn_wrap -->

              </div>

              <!--//content-->

            </div>
          </div>
        </main>
        <script>
          // 배송비가 0이 아닌것만 표시되게 한다
          // $(".badge.delivery_select").each(function(){
          //   var target_attr = $(this).attr("data-type");
          //   var target_dom = this
          //   $(".order_row_attr.payment_list").each(function(){
          //     console.log($(this).attr(target_attr))
          //     if( $(this).attr(target_attr) == "0" ){ $(target_dom).css("display","none") }
          //   })
          // })

          $(document).ready(function () {
            var payment_method;
            var proof_method;

            $("input[name='pay_method']").on("change", function () {
              if ($(this).attr("id") == "account") {
                $(".account_method").removeClass("hidden")
                payment_method = "무통장입금"
              } else {
                $(".account_method").addClass("hidden")
                payment_method = "이니시스결제"
              }
            })
            $("input[name='prove_method']").on("change", function () {
              $(".container.prove_method").addClass("hidden")
              if ($(this).attr("id") == "prove_0") {
                $("#prove_method_0").removeClass("hidden")
                $("#prove_method_1").addClass("hidden")
                proof_method = "현금영수증-" + $("input[name='prove_method_0']").val()
              } else if ($(this).attr("id") == "prove_1") {
                $("#prove_method_0").addClass("hidden")
                $("#prove_method_1").removeClass("hidden")
                proof_method = "세금계산서"
              } else {
                $("#prove_method_1").addClass("hidden")
                $("#prove_method_0").addClass("hidden")
                proof_method = "증빙없음"
              }
            })
            $("input[name='prove_method_0']").on("change", function () {
              $(".prove_method_0").addClass("hidden")
              if ($(this).attr("id") == "prove_method_0_0") {
                $("div[data-prove='prove_method_0_0']").removeClass("hidden")
                proof_method = "현금영수증-소득공제"
              } else if ($(this).attr("id") == "prove_method_0_1") {
                $("div[data-prove='prove_method_0_1']").removeClass("hidden")
                proof_method = "현금영수증-지출증빙"
              }
            })

            var total = 0;
            var vat = 0;
            var final = 0;
            $(".product_price").each(function () {
              total = total + parseInt($(this).text().replace(",", ""));
            });
            $(".supply_total").text(total.toLocaleString() + "원");

            $(".vat").each(function () {
              vat = vat + parseInt($(this).text().replace(",", "").replace(")", "").replace("(", "").replace("원", ""));
            })
            $(".vat_total").text(vat.toLocaleString() + "원");

            $(".delivery_item").on("click", function () {
              $(this)
                .closest(".order_row_attr")
                .find(".delivery_item span")
                .removeClass("badge-primary")
              $(this)
                .find("span")
                .addClass("badge-primary")
              $(this)
                .closest(".order_row_attr")
                .find(".delivery_item span")
                .removeClass("product_price")
              $(this)
                .find("span")
                .addClass("product_price")
              total = 0;
              $(".product_price").each(function () {
                total = total + parseInt($(this).text().replace(",", ""));
              });
              $("#total_price").text(total.toLocaleString() + "원");
            })

            $(".delivery_select").on("click", function () {
              $(".delivery_select").removeClass("delivery_selected")
              $(this).addClass("delivery_selected")
              var type = $(this).attr("data-type")
              var value = 0
              final = 0
              $(".payment_list").each(function (idx, e) {
                if (value < parseInt($(e).attr(type))) {
                  final = parseInt($(e).attr(type))
                }
              })
              $(".delivery_total").text(final.toLocaleString() + "원");
              $(".total_price").text((final + total + vat).toLocaleString() + "원")
            })
            $(".delivery_select")
              .eq(0)
              .click()

            $("#total_price").text(total.toLocaleString() + "원");
            var IMP = window.IMP; // 생략가능
            IMP.init("imp01109413");
            var pay_name = "";
            if ($(".product_price").length > 1) {
              pay_name = $(".product_price")
                .closest(".order_row_attr")
                .find(".order_product")
                .eq(0)
                .text()
                .trim()
                .replace(/\n/g, "")
                .replace(/\s\s+/g, ' ') + "외 " + (
              $(".product_price").length - 1) + "건";
            } else {
              pay_name = $(".product_price")
                .closest(".order_row_attr")
                .find(".order_product")
                .text()
                .trim()
                .replace(/\n/g, "")
                .replace(/\s\s+/g, ' ');
            }

            $("#pay").on("click", function () {
              if(confirm("결제하시겠습니까?")){
                   console.log(pay_name)
                if ($(".badge.delivery_selected:visible").length === 0) {
                  alert("배송 비용을 선택해주세요");
                  return false;
                }
                if ($("input[name='pay_method']").val() == "무통장") {
                  if ($("input[name='prove_method']").val() == "현금영수증") {
                    if ($("input[name='prove_method_0']").val() == "소득공제") {
                      if ($("#proof_name").val().trim() == "") {
                        alert("소득공제용 이름을 입력해주세요.");
                        return false;
                      }
                      if ($("#proof_tel").val().trim() == "") {
                        alert("소득공제용 이름을 입력해주세요.");
                        return false;
                      }
                    } else {
                      if ($("#proof_company_name").val().trim() == "") {
                        alert("소득공제용 이름을 입력해주세요.");
                        return false;
                      }
                      if ($("#proof_company_num").val().trim() == "") {
                        alert("소득공제용 이름을 입력해주세요.");
                        return false;
                      }
                    }
                  } else if ($("input[name='prove_method']").val() == "세금계산서") {
                    if ($("#prove_method_1_0")[0].files.length == 0) {
                      alert("세금계산서용 사업자등록증을 첨부해주세요.");
                      return false;
                    }
                    if ($("#prove_method_1_1").val().trim() == "") {
                      alert("세금계산서용 사업자등록증을 첨부해주세요.");
                      return false;
                    }
                    if ($("#prove_method_1_2").val().trim() == "") {
                      alert("세금계산서 담당자를 입력해주세요.");
                      return false;
                    }
                  } else if ($("input[name='prove_method']").val() == "증빙없음") {
                    console.log("증빙없음")
                  }
                }

                if (payment_method == "무통장입금") {
                  pay("direct" + Math.floor(Math.random() * 10000000001))
                  return false;
                }
                IMP.request_pay({
                  pg: "inicis", // version 1.1.0부터 지원.
                  pay_method: "card",
                  merchant_uid: "merchant_" + new Date().getTime(),
                  name: pay_name
                    .replace(/\n/g, ' ')
                    .trim(),
                  amount: final + total + vat,
                  buyer_email: "{{request.user.email}}",
                  buyer_name: "{{request.user.username}}",
                  buyer_tel: "{{request.user.phone}}",
                  buyer_addr: "{{request.user.address_simple}} {{request.user.address_detail}}",
                  buyer_postcode: "{{request.user.postal_code}}",
                  m_redirect_url: ""
                }, function (rsp) {
                  console.log(rsp)
                  var msg;
                  if (rsp.success) {
                    // msg += '고유ID : ' + rsp.imp_uid;
                    // msg += '상점 거래ID : ' + rsp.merchant_uid;
                    // msg += '결제 금액 : ' + rsp.paid_amount;
                    // msg += '카드 승인번호 : ' + rsp.apply_num;
                    pay(rsp.imp_uid)
                  } else {
                    msg = "결제에 실패하였습니다.";
                    msg += "에러내용 : " + rsp.error_msg;
                  }
                }
              );
              }

            else{  alert("결제가 취소되었습니다.") }
           
             
            });
            $("select.address").on("change", function () {
              $("#postal_code").val($(this).find("option:selected").attr("data-postal-code"))
              $("#address_0").val($(this).find("option:selected").attr("data-address-simple"))
              $("#address_1").val($(this).find("option:selected").attr("data-address-detail"))
            })
            $("select.ship_address").on("change", function () {
              $(".ship input[name='postal_code']").val($(this).find("option:selected").attr("data-postal-code"))
              $(".ship input[name='address_0']").val($(this).find("option:selected").attr("data-address-simple"))
              $(".ship input[name='address_1']").val($(this).find("option:selected").attr("data-address-detail"))
              $(".ship input[name='name']").val($(this).find("option:selected").attr("data-address-receiver_name"))
              $(".ship input[name='email']").val($(this).find("option:selected").attr("data-address-receiver_email"))
              $(".ship input[name='tel']").val($(this).find("option:selected").attr("data-address-receiver_tel"))
              $(".ship input[name='phone']").val($(this).find("option:selected").attr("data-address-receiver_phone"))
            })
            $("select.ship_address").trigger("change")

            $("#same").on("change", function(){
              if( $(this).is(":checked") ){
                $(".ship input[name=name]").val( $(".sender input[name=name]").val() )                
                $(".ship input[name=phone]").val( $(".sender input[name=phone]").val() )
                $(".ship input[name=postal_code]").val( $(".sender input[name=postal_code]").val() )
                $(".ship input[name=address_0]").val( $(".sender input[name=address_0]").val() )
                $(".ship input[name=address_1]").val( $(".sender input[name=address_1]").val() )
                
              }
            })

            function pay(imp_uid) {
              var id_list = []
              $(".payment_list").each(function () {
                id_list.push($(this).attr("data-id"))
              })
              var form_data = new FormData()
              form_data.append("id", id_list.join(","))
              form_data.append("deliver_type", $(".delivery_selected").text().trim())
              form_data.append("sender_name", $(".sender input[name='name']").val())
              form_data.append("sender_tel", $(".sender input[name='tel']").val())
              form_data.append("sender_phone", $(".sender input[name='sender_phone']").val())

              form_data.append("sender_postal_code", $(".sender input[name='postal_code']").val())
              form_data.append("sender_address_simple", $(".sender input[name='address_0']").val())
              form_data.append("sender_address_detail", $(".sender input[name='address_1']").val())
              form_data.append("comment", $("#comment").val())
              form_data.append("name", $(".ship input[name='name']").val())
              form_data.append("email", $(".ship input[name='email']").val())
              form_data.append("tel", $(".ship input[name='tel']").val())
              form_data.append("phone", $(".ship input[name='phone']").val())
              form_data.append("address_simple", $(".ship input[name='address_0']").val())
              form_data.append("address_detail", $(".ship input[name='address_1']").val())
              form_data.append("postal_code", $(".ship input[name='postal_code']").val())
              form_data.append("total_price", final + total + vat)
              form_data.append("iamport_id", imp_uid)
              form_data.append("payment_method", payment_method)
              form_data.append("proof_method", proof_method)
              form_data.append("proof_email", $("#prove_method_1_1").val())
              form_data.append("tax_person", $("#prove_method_1_2").val())
             
              form_data.append("proof_tel", $("#proof_tel").val())
              form_data.append("proof_name", $("#proof_name").val())
              form_data.append("proof_company_name", $("#proof_company_name").val())
              form_data.append("proof_company_num", $("#proof_company_num").val())
              form_data.append("proof_file", $("#prove_method_1_0")[0].files[0])

              form_data.append("total_price", $(".price_content.total_price").text().replace("원", "").replace(",", ""))
              form_data.append("vat_price", $(".price_content.vat_total").text().replace("원", "").replace(",", ""))
              form_data.append("supply_price", $(".price_content.supply_total").text().replace("원", "").replace(",", ""))
              form_data.append("delivery_price", $(".price_content.delivery_total").text().replace("원", "").replace(",", ""))
              form_data.append("coupon_price", "0")

              if (imp_uid.indexOf("direct") == -1) {
                form_data.append("purchase_status", "after-withdraw")
              } else {
                form_data.append("purchase_status", "before-withdraw")
              }

              $.ajax({
                url: "/account/ajax_payment",
                type: "post",
                contentType: false,
                processData: false,
                data: form_data,
                success: function () {
                  msg = "결제가 완료되었습니다.";
                  alert(msg);
                  location.href = "/account/delivery_list"
                },
                error: function (e) {
                  msg = "결제에 실패하였습니다.";
                  msg += "에러내용 : " + e;
                }
              });
            }
            $("#postal_code").on("click", function (e) {
              new daum
                .Postcode({
                  oncomplete: function (data) {
                    console.log(data)
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
                    // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var roadAddr = data.roadAddress; // 도로명 주소 변수
                    var extraRoadAddr = ''; // 참고 항목 변수
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                      extraRoadAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if (data.buildingName !== '' && data.apartment === 'Y') {
                      extraRoadAddr += (
                        extraRoadAddr !== ''
                        ? ', ' + data.buildingName
                        : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if (extraRoadAddr !== '') {
                      extraRoadAddr = ' (' + extraRoadAddr + ')';
                    }

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document
                      .getElementById('postal_code')
                      .value = data.zonecode;
                    document
                      .getElementById("address_0")
                      .value = data.roadAddress + extraRoadAddr;

                  }
                })
                .open();
            })
            $(".ship #postal_code").on("click", function (e) {
              new daum
                .Postcode({
                  oncomplete: function (data) {
                    console.log(data)
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
                    // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var roadAddr = data.roadAddress; // 도로명 주소 변수
                    var extraRoadAddr = ''; // 참고 항목 변수
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                      extraRoadAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if (data.buildingName !== '' && data.apartment === 'Y') {
                      extraRoadAddr += (
                        extraRoadAddr !== ''
                        ? ', ' + data.buildingName
                        : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if (extraRoadAddr !== '') {
                      extraRoadAddr = ' (' + extraRoadAddr + ')';
                    }

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    $('.ship #postal_code').val(data.zonecode);
                    $(".ship #address_0").val(data.roadAddress + " " + extraRoadAddr);                
                    // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
                    // if(roadAddr !== ''){
                    //     document.getElementById("address_1").value = extraRoadAddr;
                    // } else {
                    //     document.getElementById("address_1").value = '';
                    // }
                  }
                })
                .open();
            });
            $(".numeric").numeric();
          })
        </script>
        <style>
          .delete_basket {
            cursor: pointer;
          }

          .order_etc {
            width: 100px !important;
          }

          .order_delivery {
            width: 150px !important;
          }

          .badge {
            cursor: pointer;
          }

          .delivery_select {
            margin: 3px;
            font-size: 14px;
            color: #666 !important;
            background-color: #fff !important;
            font-weight: normal !important;
            border-radius: 20px;
          }

          .delivery_selected {

            color: #fff !important;
            background-color: #007bff !important;
          }

          #account_info {
            font-size: 15px;
            color: blue;
            margin-left: 111px;
          }

          .supply_total {
            font-size: 24px;
            color: #333;
            margin-left: 20px;
          }

          .vat_total {
            font-size: 24px;
            color: #333;
            margin-left: 20px;
          }

          .delivery_total {
            font-size: 24px;
            color: #333;
            margin-left: 20px;
          }

          .total_price {
            font-size: 30px;
            color: #e3007f;
            margin-left: 20px;
          }

          .order_row_attr div {
            align-items: baseline;
          }

          .badge {
            padding: 0.5em 0.8em !important;
          }

          input[name=pay_method] {
            display: none;
          }

          input[name=pay_method]+label {
            display: inline-block;
            color: #222;
            padding: 3px 7px;
            border-radius: 20px;
            padding: 0.3em 0.8em;
            cursor: pointer;
          }

          input[name=pay_method]:checked+label {
            color: #fff;
            background-color: #007bff !important;
          }

          input[name=prove_method] {
            display: none;
          }

          input[name=prove_method]+label {
            display: inline-block;
            color: #222;
            padding: 3px 7px;
            border-radius: 20px;
            padding: 0.3em 0.8em;
            cursor: pointer;
          }

          input[name=prove_method]:checked+label {
            color: #fff;
            background-color: #007bff !important;
          }

          input[name=prove_method_0] {
            display: none;
          }

          input[name=prove_method_0]+label {
            display: inline-block;
            color: #222;
            padding: 3px 7px;
            border-radius: 20px;
            padding: 0.3em 0.8em;
            cursor: pointer;
          }

          input[name=prove_method_0]:checked+label {
            color: #fff;
            background-color: #007bff !important;
          }
          label{
            margin-bottom:0px;
          }
        </style>
      {% endblock %}
