{% extends "shop_user/components/mypage_base.html" %}
{% load sass_tags %} 
{% load product_options %} 
{% load humanize %} 
{% block content %}
<link
  href="{% sass_src 'css/mypage.scss' %}"
  rel="stylesheet"
  type="text/css"
/>

<main class="main w-full px-[10px] md:w-[calc(100%-210px)]">
  <div class="row mypage_main_header delivery">
    <div class="head_aticle">
      <h2 class="tit">환불계좌</h2>
    </div>
    <div class="row summary_list" style="width: 100%">
      <ul class="hidden lg:flex">
        <li class="head_icon"><i class="las la-calculator"></i></li>        
      </ul>
      <div class="flex grow ml-[10px]" style="	flex-grow: 1;">
        <div class="bg-gray-200 w-[80px] text-center h-[65px] my-[10px] items-center rounded-[5px] flex justify-between" style="place-content: center;">환불 계좌</div>
        <div class="border-top border-bottom  h-[65px] my-[10px] items-center  grow  flex justify-between"  style="	flex-grow: 1;place-content: center;">
          {{request.user.refund_bank|default:"환불 은행 정보를 입력해주세요"}} - 
          {{request.user.refund_account|default:"환불 계좌 정보를 입력해주세요"}}
          ({{request.user.nickname}})
          <button class="whitespace-normal" data-toggle="modal" data-target="#refund_modal" data-whatever="@mdo">환불 계좌 등록/수정</button> 
        </div>
      </div>     
    </div>
    <div class="row w-full" style="margin-bottom: 10px;">
      <div class="order_header hidden lg:flex ">
        <div class="order_num w-full items-start text-xs text-gray-400  justify-start md:w-[100px] lg:justify-center lg:w-[100px] xl:w-[190px] lg:text-black lg:text-sm lg:items-center">환불일자</div>
        <div class="order_etc w-2/3 text-lg items-start lg:w-[calc(100%-520px)] lg:items-center xl:w-[calc(100%-640px)]">환불사유</div>
        <div class="order_design w-2/3 flex xxs:flex-row lg:flex-col lg:w-[150px]">공급가액</div>
        <div class="order_process w-2/3 flex xxs:flex-row lg:flex-col lg:w-[150px]">부가세액</div>
        <div class="order_price w-2/3 flex xxs:flex-row lg:flex-col lg:w-[150px]">합계금액<br>(부가세포함)</div>
      </div>      

      {% for item in  refund %}
      <div class="order_row">
        <div class="order_num w-full items-start text-xs text-gray-400  justify-start md:w-[100px] lg:justify-center lg:w-[100px] xl:w-[190px] lg:text-black lg:text-sm lg:items-center">{{item.date|date:"%Y-%m-%d"}}</div>
        <div class="order_etc  w-2/3 text-lg items-start lg:w-[calc(100%-520px)] lg:items-center xl:w-[calc(100%-640px)]">{{item.title}}</div>
        <div class="order_design w-2/3 flex xxs:flex-row lg:flex-col lg:w-[150px]">{{item.price|intcomma}}원</div>
        <div class="order_process w-2/3 flex xxs:flex-row lg:flex-col lg:w-[150px]">{{item.vat|intcomma}}원</div>
        <div class="order_price w-2/3 flex xxs:flex-row lg:flex-col lg:w-[150px]">{{item.total|intcomma}}원</div>                     
      </div> 
      {% endfor %}
    </div>      
  </div>   
  <div style="margin-top: 50px;">
    이용안내<br>
    1. 배송완료된 무통장 입금 주문건에 한하여 환불이 가능합니다. <br>
    2. 주문 변경, 주문 취소등의 환불 대상 금액이 발생한경우, 익일중으로 환불됩니다.<br>
    3. 환불은 등록된 환불 계좌로만 가능합니다.
  </div>
  </main>
    <div class="modal fade" id="refund_modal" tabindex="-1" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">환불 계좌 등록/수정</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <form method="post">
          <div class="modal-body">
           
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">계좌주:</label>
                <input type="text" name="nickname" class="form-control" id="nickname">
              </div>
              <div class="form-group">
                <label for="message-text" class="col-form-label">은행:</label>
                <input type="text" name="refund_bank" class="form-control" id="refund_bank">
              </div>
              <div class="form-group">
                <label for="message-text" class="col-form-label">계좌번호:</label>
                <input type="text" name="refund_account" class="form-control" id="refund_account">
              </div>
           
          </div>
          <div class="modal-footer">
            <button type="button" class=" btn-secondary" data-dismiss="modal">취소</button>
            <button  type="submit" id="refund_account_submit" class=" btn-primary">확인</button>
          </div>
        </form>
        </div>
      </div>
    </div>
{% endblock  %}