{% extends "shop_management/base.html" %}
{% load sass_tags %}
{% block body %}
<link href="{% sass_src 'css/signup.scss' %}" rel="stylesheet" type="text/css" />
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<div id="container" class="main_container" style="padding-top:0px;">
    <div id="content">
        <div class="inner" style="max-width:1280px">
            <h2 class="h2_tit">회원 탈퇴</h2>
        </div>
        <form id="submit_frm" name="submit_frm" method="post"  style="max-width:1280px; margin: 0px auto" >
        <div class="box_shop_form01 inner" style="max-width:1280px;">
            <div class="tbl_box">
                <div class="inner"  style="max-width:1280px;">
                    <div class="tbl_box_in" style=" width: 100%; font-size: 20px;padding: 20px;">
                        <div>피노마켓 서비스를 이용하시는데 불편사항이 있으셨나요?</div>
                        <p style="font-size: 14px;margin-top:10px">
                        1) 피노마켓에서 발생하는 메일 수신거부는 회원정보에서 수정이 가능합니다.<br>
                        2) 이용 불편 및 각종문의사항은 고객세넡로 문의주시면 빠르게 답변드리도록 하겠습니다.<br>
                           - 마이페이지 내 1:1 문의  / 전화문의 : 1644-0247 / 이메일 문의 : market@pinot.co.kr
                        </p>
                        
                        <div style="margin-top: 30px">회원탈퇴 전, 유의사항을 확인해주시기 바랍니다.</div>
                        <p  style="font-size: 14px;margin-top: 10px">
                        1) 회원탈퇴 시 회원전용 웹 서비스 이용이 불가합니다.<br>
                        2) 거래정보가 있는 경우, 전자상거래 등에서의 소비자 보호에 관한 법률에 따라 계약 또는 청약철회에 관한 기록, 대금결제 및 재화 등의 공급에 관한   
                           기록은 5년동안 보존됩니다.<br>
                        3) 회원탈퇴 후 피노마켓 서비스에 입력하신 상품문의 및 후기, 댓글은 삭제되지 않으며, 회원정보 삭제로 인해 작성자 본인을 확인할 수 없어 편집
                           및 삭제처리가 원천적으로 불가능 합니다.<br>
                        4) 상품문의 및 후기, 댓글 삭제를 원하시는 경우에는 먼저 해당 게시물을 삭제하신 후 탈퇴를 신청하시기 바랍니다.<br>                       
                        </p>
                        <input type="checkbox" id="resign_confirm"><label style="margin-left: 10px" for="resign_confirm"> 
                            상기 회원탈퇴 시 처리사항 안내를 확인하였음에 동의합니다.</label><br><br><br>
                        
                        
                       
                        <div style="width: 100%; text-align:center; padding-top: 30px">
                            회원님의 정보를 안전하게 보호하기 위해 비밀번호를 확인 후 탈퇴처리됩니다.<br><br>
                        <input type="password" id="pw" placeholder="비밀번호">
                        <div  id="submit_btn" class="btn_l btn_mwht2 w220" style="height: 42px; line-height: 42px;"><span>회원탈퇴</span></div>
                        </div>
                    </div>
                </div>
            </div><!-- // tbl_box -->           
        </div>
        </form>
    </div><!--//content-->
</div>
<script>
    $("#submit_btn").on("click", function(){
        if( ! $("#resign_confirm").is(":checked") ){ alert("회원 탈퇴 안내에 동의해주세요"); return false }
        else{
            $.ajax({
            type:"POST",
            data:  {"pw":$("#pw").val()},
            success:function(res){
                if ( res.result == "ok" ){
                    alert("회원탈퇴 되었습니다.")
                    location.href="/"
                }else{
                    alert("비밀번호를 확인해주세요")
                } 
                
            }
        })
        }
      
    })
</script>
{% endblock %}