{% extends "shop_user/components/mypage_base.html" %}
{% load sass_tags %} 
{% load product_options %} 
{% load humanize %} 
{% block content %}
<script
  type="text/javascript"
  src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"
></script>
<link
  href="{% sass_src 'css/mypage.scss' %}"
  rel="stylesheet"
  type="text/css"
/>
<link href="{% sass_src 'css/signup.scss' %}" rel="stylesheet" type="text/css" />
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <main class="main w-full px-[10px] md:w-[calc(100%-210px)] ">
      <div class="row mypage_main_header delivery">
        <div class="head_aticle" style="position: relative;">
          <h2 class="tit">배송지 관리</h2>
           <button class="btn btn-primary add_address">배송지 추가</button>
        </div> 
        <div class="row w-full py-[10px]" style=" justify-content: flex-end;">
          <div class="hidden lg:block lg:w-full" style="justify-content: flex-end;">
            <div class="order_header flex">
              <div class="order_num w-full items-start text-xs text-gray-400  justify-start md:w-[100px] lg:justify-center lg:w-[100px] xl:w-[190px] lg:text-black lg:text-sm lg:items-center">배송지 이름</div>
              <div class="order_product order_product w-2/3 text-lg items-start lg:w-[calc(100%-520px)] lg:items-center xl:w-[calc(100%-290px)]">배송지</div>           
              <div class="order_price  w-2/3 flex xxs:flex-row text-base lg:flex-col justify-center lg:w-[150px]">
              기타  
              </div>
            </div>
          </div>         
          {% for item in address_list %}
          <div class="order_row address_item"  data-type="additional" data-id="{{item.id}}">
            <div class="order_num  w-full items-start text-xs text-gray-400  justify-start md:w-[100px] lg:justify-center lg:w-[100px] xl:w-[190px] lg:text-black lg:text-sm lg:items-center">{{item.name}}</div>
            <div class="order_product w-2/3 text-lg items-start lg:w-[calc(100%-520px)] lg:items-center xl:w-[calc(100%-290px)]">우편번호 : {{item.postal_code}}<br>{{item.simple}}<br>{{item.detail}}</div>           
            <div class="order_price delete_item  w-2/3 flex xxs:flex-row text-base lg:flex-col justify-center lg:w-[150px]">
              삭제
            </div>
          </div>
          {% endfor %}               
        </div>
      </div>
    </main>
    <div class="modal fade" id="address_modal" aria-hidden="true" aria-labelledby="address_modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="address_modal_label">배송지 추가/수정</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" name="address_id" id="address_id">
                <input name="name" id="name" class="form-control" placeholder="배송지 이름">
                <input name="receiver_name" id="receiver_name" class="form-control" placeholder="수취인 이름">
                <input name="receiver_email" id="receiver_email" class="form-control" placeholder="수취인 이메일">
                <input name="receiver_tel" id="receiver_tel" class="form-control" placeholder="수취인 연락처">
                <input name="receiver_phone" id="receiver_phone" class="form-control" placeholder="수취인 휴대전화">
                <input id="postal_code" name="postal_code" class="form-control" placeholder="우편번호">
                <input id="address_0" name="simple" class="form-control"  placeholder="주소">
                <input id="address_1" name="detail" class="form-control"  placeholder="상세주소">
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary submit_address" style="padding: 10px;" data-bs-target="#address_modal">추가/수정하기</button>
            </div>
          </div>
        </div>
      </div>
<script>

  $(document).ready(function () {
    $(".add_address").on("click", function(){
        $("#address_modal").modal("show")
    })
    $(".order_num").on("click", function(){
        $("#address_id").val($(this).closest(".address_item").attr("data-id") )       
        $.ajax({
            type:"post",
            data:{
                id: $(this).closest(".address_item").attr("data-id"),
                type:"get"
            },
            success:function(res){
                $("#name").val( res.result[0].name )
                $("#postal_code").val( res.result[0].postal_code )
                $("#address_0").val( res.result[0].simple )
                $("#address_1").val( res.result[0].detail )
                $("#receiver_name").val( res.result[0].receiver_name )
                $("#receiver_email").val( res.result[0].receiver_email )
                $("#receiver_tel").val( res.result[0].receiver_tel )
                $("#receiver_phone").val( res.result[0].receiver_phone )



                $("#address_modal").modal("show")
            }
        })
    })
    $(".delete_item").on("click", function(){
        $.ajax({
            type:"post",
            data:{
                id: $(this).closest(".address_item").attr("data-id"),
                type:"delete"
            },
            success:function(res){
              alert("삭제되었습니다.")
              location.reload()
            }
        })
    })
    $("#postal_code").on("click", function(e){
        new daum.Postcode({
            oncomplete: function(data) {
                console.log(data)
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
                // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var roadAddr = data.roadAddress; // 도로명 주소 변수
                var extraRoadAddr = ''; // 참고 항목 변수
                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                    extraRoadAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if(data.buildingName !== '' && data.apartment === 'Y'){
                   extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if(extraRoadAddr !== ''){
                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('postal_code').value = data.zonecode;
                document.getElementById("address_0").value = data.roadAddress + extraRoadAddr;
            }
        }).open();
    });
    $(".submit_address").on("click", function(){
        $.ajax({
            type:"post",
            data:{
                type:"post",
                id: $("#address_id").val(),
                name:$("#name").val(),
                postal_code:$("#postal_code").val(),
                simple:$("#address_0").val(),
                detail:$("#address_1").val(),
                receiver_name:$("#receiver_name").val(),
                receiver_email:$("#receiver_email").val(),
                receiver_tel:$("#receiver_tel").val(),
                receiver_phone:$("#receiver_phone").val(),
            },
            success:function(res){
                alert("등록되었습니다. ")
                location.reload()
            }
        })
    })
  });
</script>
<style>
  .delete_basket{
    cursor: pointer;
  }
  .order_row:last(){
    margin-bottom: 10px;
  }
  .add_address{
      position: absolute;
      right: 0px;
      padding: 10px;
      top: 0px;
  }
</style>
{% endblock %}
