{% extends "shop_management/company_base.html" %}
{% load sass_tags %}
{% block body %}

    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css"/>
    <link href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/static/css/dist/tail/default.css" crossorigin="anonymous"/>
    <script src="/static/js/jquery.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" crossorigin="anonymous"/>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/js/numeric.js" charset="utf-8"></script>
    <script src="/static/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"/>
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css"/>
    <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
    <link href="{% sass_src 'css/signup.scss' %}" rel="stylesheet" type="text/css"/>
    
  <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
  <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <div style="padding-top:0px; margin-top:70px;">
        <img src="/static/img/logo_kor.png" class="mx-auto "  style=" width: 196px;">
        <div style="color: #141414; font-size: 20px;margin-top:20px;letter-spacing: -0.6px; text-align: center;font-weight: lighter;">당신은 상상하고 우리는 만듭니다</div>
        <div style="color: #141414; font-size: 20px;margin-top:81px;letter-spacing: -0.6px; text-align: center;">회원가입</div>
        <div style="margin: 30px auto;border-top:1px solid #F0F0F0;  width:360px; height: 1px;margin-bottom:30px; "></div>
       
        
        <form id="submit_frm" name="submit_frm"  enctype="multipart/form-data" method="post">
            <div class="box_shop_form01 inner">
                <div class="tbl_box">
                    <div class="inner">
                        <div class="tbl_box_in">
                            <form id="signup_form" method="post">
                                {% csrf_token %}
                                <table class="tbl03" style="margin: 30px auto;width:360px;">
                                    <tbody>
                                    <tr>
                                        <td class="align_l" style="align-items: center; display: flex;">
                                            <div class="relative" style="display: flex; align-items: center;flex-direction: column;">
                                                <input type="hidden" id="duplicated">
                                                <div style="align-self: flex-start;text-align:left;color: #141414;font-size: 13px;margin-bottom:10px;letter-spacing: -0.39px;">이메일</div>
                                                <input  id="id" name="id" class=" "  style="border-radius: 5px;padding-left: 10px;;width: 360px;border: 1px solid #F0F0F0;background-color: #fff; height: 35px;" type="text" placeholder="아이디(이메일)를 입력해주세요"/><br/>
                                                <div id="duplicate_check" class="absolute" style="cursor: pointer;
                                                    margin-left: 5px;
                                                    color: #5f0080;
                                                    border: 1px solid #D33777;
                                                    border-radius: 4px;
                                                    background: #FFFFFF 0% 0% no-repeat padding-box;
                                                    color: #fff;
                                                    width: 60px;height: 23px;
                                                    font-size: 10px;                                                  
                                                    font-weight: 700;
                                                    display: flex ;
                                                    align-items: center;
                                                    justify-content: center;
                                                    position: absolute;                                                   
                                                    margin-left: 5px;
                                                    color: #E61E78;
                                                    text-align: center;
                                                    top:36px; right: 12px">중복확인</div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                              <div class="relative">
                                                  <div style="align-self: flex-start;text-align:left;color: #141414;font-size: 13px;margin-bottom:10px;letter-spacing: -0.39px;">이름</div>
                                                  <input  id="name" name="name" class="" style="border-radius: 5px;padding-left: 10px;;width: 360px;border: 1px solid #F0F0F0;background-color: #fff; height: 35px;" type="text" placeholder="이름을 입력해주세요"/><br/>
                                              </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="align_l">
                                            <div class="relative">
                                                <div style="align-self: flex-start;text-align:left;color: #141414;font-size: 13px;margin-bottom:10px;letter-spacing: -0.39px;margin-top:30px;">비밀번호</div>
                                   
                                                  <input type="password" id="password1" name="password1" class=" " style="border-radius: 5px;padding-left: 10px;;width: 360px;border: 1px solid #F0F0F0;background-color: #fff; height: 35px;" type="text" placeholder="비밀번호 "/><br/>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="align_l">
                                            <div class="relative">
                                                <div style="align-self: flex-start;text-align:left;color: #141414;font-size: 13px;margin-bottom:10px;letter-spacing: -0.39px;margin-top:30px;">비밀번호 확인</div>
                                   
                                                  <input type="password" id="password2"  class="" style="border-radius: 5px;padding-left: 10px;;width: 360px;border: 1px solid #F0F0F0;background-color: #fff; height: 35px;" type="text" placeholder="비밀번호 확인"/><br/>
                                              </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="align_l">
                                             <div class="relative">
                                                <div style="align-self: flex-start;text-align:left;color: #141414;font-size: 13px;margin-bottom:10px;letter-spacing: -0.39px;margin-top:30px;">연락처(-없이 숫자만 입력)</div>
                                                  <input type="text" name="tel" id="tel"  class="" style="border-radius: 5px;padding-left: 10px;;width: 360px;border: 1px solid #F0F0F0;background-color: #fff; height: 35px;" type="text" placeholder="예) 01012345678"/><br/>
                                              </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div style="margin: 40px auto;border-top:1px solid #F0F0F0;  width:360px; height: 1px;margin-bottom:30px; "></div>
       
       
                                <div style="display: flex; ;;margin: 0px auto; width:360px; color:#141414;letter-spacing: -0.39px; font-size: 13px;" >
                                    
                                    또는 SNS 간편로그인
                              
                                </div>
                                <div style="display: flex; align-items:center; ;;margin: 0px auto; width:360px;   justify-content: space-around;margin-top:10px;" >
                                    <div class="sns_login flex w-full justify-between">
                                        <div id="kakao" class="cursor-pointer">
                                            <img src="/static/img/kakao_.png">
                                          </div>
                                        <div id="naver" class="cursor-pointer">
                                          <img src="/static/img/naver.png">
                                        </div>
                                     
                                    </div>
                                </div>
                                <div id="naver_id_login" style="position: fixed; bottom: -200px"></div>
        <script>
          Kakao.init('b81456e3c6f45226dd31b76242b1a64e');
          Kakao.isInitialized();

          function loginWithKakao() {

            Kakao
              .Auth
              .login({
                success: function (authObj) {
                  console.log(JSON.stringify(authObj))
                  Kakao
                    .API
                    .request({
                      url: '/v2/user/me',
                      success: function (res) {
                        console.log((res))
                        $.ajax({
                          type: "post",
                          url: "/account/login",
                          data: {
                            type: "kakao_login",
                            token: authObj.access_token,
                            name: res.properties.nickname,
                            phone: res.kakao_account.phone_number,
                            email: res.kakao_account.email
                          },
                          success: function (res) {
                            alert(res.result + "님 환영합니다.")
                            location.href = "/"
                          }
                        })
                      },
                      fail: function (error) {
                        alert('카카오 로그인이 원활하지 않습니다. 관리자에게 문의해주세요.')
                      }
                    })
                  // get_sns_auth(authObj.access_token, "kakao", target);
                  // 토큰을 받아서 서버에서 request.post 사용자 정보를 취해야 함 - https://developers.kakao.com/docs/restapi/user-management , https://developers.kakao.com/docs/restapi/kakaostory-api - python 검색해서 참고 할것.
                },
                fail: function (err) {}
              });
          }
          try {

var naver_id_login = new naver_id_login("Xe64rKSjzZaei02qakh4", location.origin + "/account/login");
// var naver_id_login = new naver_id_login("Xe64rKSjzZaei02qakh4", "http://13.124.52.145:8000/account/login");
var state = naver_id_login.getUniqState();
naver_id_login.setButton("green", 3, 50);
//naver_id_login.setDomain("http://13.124.52.145:8000");
naver_id_login.setState(state);
naver_id_login.init_naver_id_login(function (e) {
  console.log(e)
});
if (location.href.indexOf("access_token") != -1) {
  naver_id_login.get_naver_userprofile("naverSignInCallback()");
}

function naverSignInCallback() {
  $.ajax({
    type: "post",
    url: "/account/login",
    data: {
      type: "naver_login",
      token: naver_id_login.oauthParams.access_token,
      name: naver_id_login.getProfileData('name'),
      email: naver_id_login.getProfileData('email')
    },
    success: function (res) {
      if (res.result == "ok") {
        alert(naver_id_login.getProfileData('name') + "님 환영합니다.")

        location.href = "/"
      } else {
        alert(naver_id_login.getProfileData('name') + "님 환영합니다.  ")
        location.href = '/'
      }
    }
  })
}
} catch (e) {
console.log(e)
}
$("#naver").click(function () {
        var url = $("#naver_id_login")
          .find("a")
          .attr("href")
        location.replace(url)
      })
      $("#kakao").click(function (e) {
        loginWithKakao()
      })
        </script>
                                <div class=" box_agree inner  mx-auto" style="border-top:1px solid #ddd; width: 360px;  ">
                                    <h5 style="font-size: 20px; display: block; text-align: center;margin-top: 40px;margin-bottom: 40px;">사업자 인증</h5>
                                     <div class="relative">
                                        <div style="align-self: flex-start;text-align:left;color: #141414;font-size: 13px;margin-bottom:10px;letter-spacing: -0.39px;">작가명 or 업체명</div>
                                     
                                            <input type="text" name="proof_name" id="proof_name"  class="" style="border-radius: 5px;padding-left: 10px;;width: 360px;border: 1px solid #F0F0F0;background-color: #fff; height: 35px;" type="text" placeholder="작가명 또는 업체명을 입력해주세요"/><br/>
                                         
                                     </div>
                                     
                                    <div class="relative " style="margin-top:20px ;">
                                        <div class="mt-1">
                                            <select name="company_type" class="w-full" style="padding-top:0px; padding-bottom: 0px;border-radius: 5px;padding-left: 10px;;width: 360px;border: 1px solid #F0F0F0;background-color: #fff; height: 35px; color: #898989;">
                                                <option value="none" selected disabled hidden>업종 형태를 선택해주세요</option>
                                                <option value="작가 및 아티스트"> 작가 및 아티스트 </option>
                                                <option value="디자인 전문회사"> 디자인 전문회사 </option>
                                                <option value="기획사 및 광고사"> 기획사 및 광고사 </option>
                                                <option value="관공서 및 기관"> 관공서 및 기관 </option>
                                                <option value="기타"> 기타 </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="relative " style="margin-top:20px;">
                                        <input id="resume" name="resume" type="file" class="absolute" style="left:-3000px">
                                        <div onclick="$('#resume').click()" class="" style="cursor: pointer;
                                                  display: flex; justify-content: center; align-items: center;
                                                    font-size: 14px;
                                                    border: 1px solid #898989;
                                                    background: #898989 0% 0% no-repeat padding-box;
                                                    color: #fff;
                                                    font-size: 14px;
                                                    height: 35px;
                                                    font: normal normal bold 12px/20px Noto Sans KR;                                                                                           
                                                    border-radius: 5px;
                                                    text-align: center;"> 작가 명함/작품/사업자 등록증 업로드 </div>
                                        <div id="filename"></div>
                                    </div>
                                    <div class="relative" style="margin-top:40px; font-size: 13px;">
                                            관심제품을 선택해주세요<br>
                                        <div class="mt-2">
                                            <input type="hidden" name="favorite_product" id="favorite_product">
                                            <label for="product_0"><input type="checkbox" name="product" class="product" id="product_0">아크릴 키링, 핸드폰케이스, 굿즈류</label>
                                            <label for="product_1"><input type="checkbox" name="product" class="product" id="product_1">프린팅 액자 및 스티커류</label>
                                            <label for="product_2"><input type="checkbox" name="product" class="product" id="product_2">티셔츠 및 텍스타일류</label>
                                            <label for="product_3"><input type="checkbox" name="product" class="product" id="product_3">기타</label>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="box_agree inner  mx-auto" style="border-top:1px solid #ddd; width: 360px;padding-top: 40px; margin-top: 40px!important; ">
                    
                    <h3 class="h4_tit01">
                        <div class="ui_check_wrap02">
                            <span class="text-lg mb-1 mt-2 inline-block font-semibold" style="display: block; text-align:center">이용약관 동의</span>
                            <div class="all_check_input">
                                <input type="checkbox" id="chekList01" name="chekList01" value="" title="" class="ui_check_input">
                                <label for="chekList01" class="ui_check">
                                    <span class="text-base">모두 동의 합니다.</span>
                                </label>
                            </div>
                            <div  style="color:#898989; font-size:10px;line-height: 13px;">
                                동의에는 필수 및 선택 목적(광고성 정보 수신 포함)에 대한 동의가 포함되어 있으며, 선택 목적의 동의를 거부하시는 경우에도 서비스 이용이 가능합니다.
                            </div>
                        </div>
                    </h3>
                    <div class="box_agree_in" style="border: none;">
                        <div class="box_agree_list01" style="padding: 15px; border:none;padding: 0px;">
                            <div class="box_agree_div01">
                                {% include "shop_user/components/sign_up_privacy.html" %}
                                </div>
                            </div>
                        </div>
                        </div>
        </form>

        <!--//content-->
    </div>
    <script>
    $("#resume").on("change", function(){
        var filename = $('input#resume').val().split('\\').pop();
        console.log(filename)
        $("#filename").html( "<div id='file_item' style='text-align:right'><span>"+ filename +"</span><span id='delete_file' style=' cursor:pointer; font-size:12px ; background-color:#ddd; padding: 3px; border-radius: 3px '>삭제</span></div>")
    })
    $(document).ready(function(){     
        $(document).on("click","#delete_file",function(){         
            $('#filename').html("");
            $('input#resume').val("")
        })
    })
    

    $(".type").on("change", function (e){
        var arr = []
        $(".type").each(function (e){
            if( $(this).is(":checked") ){
               arr.push( $("label[for='"+ $(this).attr("id") +"']").text()  )
            }
        })
        $("#real_type").val( arr.join(",") )
    })
    $(".product").on("change", function (e){
        var arr = []
        $(".product").each(function (e){
            if( $(this).is(":checked") ){
                console.log(this)
               arr.push( $("label[for='"+ $(this).attr("id") +"']").text()  )
            }
        })
        $("#favorite_product").val( arr.join("/") )
    })
        $(".numeric").numeric();
        $("#postal_code").on("click", function (e) {
            new daum
                .Postcode({
                    oncomplete: function (data) {
                        console.log(data)
                        // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
                        // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                        // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                        var roadAddr = data.roadAddress; // 도로명 주소 변수
                        var extraRoadAddr = ''; // 참고 항목 변수
                        // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                        // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                        if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                            extraRoadAddr += data.bname;
                        }
                        // 건물명이 있고, 공동주택일 경우 추가한다.
                        if (data.buildingName !== '' && data.apartment === 'Y') {
                            extraRoadAddr += (
                                extraRoadAddr !== ''
                                    ? ', ' + data.buildingName
                                    : data.buildingName);
                        }
                        // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                        if (extraRoadAddr !== '') {
                            extraRoadAddr = ' (' + extraRoadAddr + ')';
                        }

                        // 우편번호와 주소 정보를 해당 필드에 넣는다.
                        document
                            .getElementById('postal_code')
                            .value = data.zonecode;
                        document
                            .getElementById("address_0")
                            .value = data.roadAddress + extraRoadAddr;

                        // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
                        // if(roadAddr !== ''){
                        //     document.getElementById("address_1").value = extraRoadAddr;
                        // } else {
                        //     document.getElementById("address_1").value = '';
                        // }
                    }
                })
                .open();
        })

        function check_password(str) {
            console.log(str)
            var reg_pwd = /^.*(?=.{6,20})(?=.*[0-9])(?=.*[a-zA-Z]).*$/;
            if (!reg_pwd.test(str)) {
                return false;
            }
            return true;
        }
        var duplicate_check = false;
        var is_duplicated = true;
        const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

        $("#submit_btn").on("click", function () {
            // validation check

          
            if ($("#id").val().trim() == "") {
                alert("아이디를 입력해주세요");
                return false;
            } else if ($("#id").val().search(/\s/) != -1) {
                alert("아이디는 공백없이 입력해주세요");
                return false;
            } else if ($("#name").val().trim() == "") {
                alert("이름을 입력해주세요");
                return false;
            } else if (re.test(String($("#id").val().trim()).toLowerCase()) == false) {
                alert("아이디(이메일) 형식을 확인해주세요.");
                return false
            } else if ($("#password1").val().trim() == "") {
                alert("비밀번호를 입력해주세요");
                return false;
            } else if ($("#password1").val().trim() != $("#password2").val().trim()) {
                alert("비밀번호가 일치하지 않습니다. 비밀번호를 확인해 주세요");
                return false;
            } else if ($("#tel").val().trim() == "") {
                alert("연락처를 입력해주세요");
                return false;
            } else if ($("#tel").val().trim().indexOf("-") != -1) {
                alert("연락처는 숫자만 입력해주세요");
                return false;
            } else if ($("#tel").val().trim().indexOf(".") != -1) {
                alert("연락처는 숫자만 입력해주세요");
                return false;
            } else if ($("#tel").val().trim().indexOf(" ") != -1) {
                alert("연락처는 숫자만 입력해주세요");
                return false;
            }          
            else if ($("#infoAgreeYn").is(":checked") != true) {
                alert("개인정보 수집및 이용동의에 동의해주세요");
                return false
            } else if ($("#mandAgreeYn").is(":checked") != true) {
                alert("이용약관에 동의해주세요");
                return false
            } else if (duplicate_check == false) {
                alert("아이디 중복확인을 해주세요");
                return false
            } else if (is_duplicated == true) {
                alert("이미 존재하는 아이디(이메일) 입니다.");
                return false
            } else if (!check_password($("#password1").val())) {
                alert("비밀번호를 확인해주세요.\n(영문,숫자를 혼합하여 6~20자 이내)");
                return false;
            } else {
            
                $("#submit_frm").submit()
            }
        })

        $("#chekList01").on("change", function () {
            if ($(this).is(":checked") == true) {
                $("#infoAgreeYn").prop("checked", true);
                $("#mandAgreeYn").prop("checked", true);
            } else {
                $("#infoAgreeYn").prop("checked", false);
                $("#mandAgreeYn").prop("checked", false);
            }
        })

        $("#duplicate_check").on("click", function () {
            if ($("#id").val().trim() == "") {
                alert("아이디(이메일)를 입력해주세요");
                return false;
            }
            if ($("#id").val().length < 6) {
                alert("6자 이상의 아이디(이메일)를 입력해주세요");
                return false;
            }
            if ($("#id").val().search(/\s/) != -1) {
                alert("아이디(이메일)는 공백없이 입력해주세요");
                return false;
            }
            if (re.test(String($("#id").val().trim()).toLowerCase()) == false){
                alert("아이디(이메일) 형식을 확인해주세요.");
                return false;
            }

        duplicate_check = true;
        $.ajax({
            url: "/account/duplicate_check",
            data: {
                "id": $("#id").val()
            },
            success: function (res) {
                if (res.result == "duplicated") {
                    is_duplicated = true
                    alert("이미 가입되어있는 아이디(이메일) 입니다.")
                } else {
                    is_duplicated = false
                    alert("사용하실수 있는 아이디(이메일) 입니다.")
                }
            }
        })
        })
    </script>
    <style>
    .relative label{
        margin-right: 10px;
    }
    .relative input{
        margin-right: 5px;
    }
    </style>
{% endblock %}
