{% extends "shop_management/base.html" %}
{% load sass_tags %}
{% block body %}
<link href="{% sass_src 'css/signup.scss' %}" rel="stylesheet" type="text/css" />
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<div id="container" class="main_container" style="padding-top:0px">
    <div id="content">
        <div class="inner">
            <h2 class="h2_tit">회원 가입</h2>
        </div>
        <form id="submit_frm" name="submit_frm" method="post" >
        <div class="box_shop_form01 inner">
            <div class="tbl_box">
                <div class="inner">
                    <div class="tbl_box_in">
                        <form id="signup_form" method="post" >
                            {% csrf_token %}
                            <table class="tbl03" style="width: 640px;">    
                                <tbody>
                                    <tr>
                                        <th style="width:159px;" scope="row" class="align_l"><label for="id">아이디</label></th>
                                        <td  class="align_l"  style="width:calc(640px - 159px);align-items: center; display: flex;">
                                            <input type="text" id="id" name="id" class="text_input" placeholder="6자 이상의 영문 혹은 영문과 숫자를 조합" placeholder="" style="width:332px;">
                                            <input type="hidden" id="duplicated">
                                            <div id="duplicate_check" style="cursor: pointer;                                               
                                                    border: 1px solid #5f0080;
                                                    background-color: #fff;
                                                    margin-left: 5px;
                                                    color: #5f0080;
                                                    font-size: 14px;
                                                    border: 1px solid #5f0080;
                                                    background-color: #fff;
                                                    color: #5f0080;
                                                    width: 116px;
                                                    font-size: 14px;
                                                    height: 40px;
                                                    font-weight: 700;
                                                    border-radius: 3px;
                                                    line-height: 40px;
                                                    margin-left: 5px;
                                                    text-align: center;">중복확인</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><label for="name"">이름</label></th>
                                        <td>
                                            <input type="text" id="name" name="name" class="text_input" title="이름을 입력해주세요." placeholder="이름을 입력해주세요" style="width:332px;">
                                        </td>
                                    </tr>
                                    
                                    <tr>
                                        <th scope="row"><label for="email">이메일</label></th>
                                        <td  class="align_l"  style="width:calc(640px - 159px);align-items: center; display: flex;">
                                            <input type="text" id="email" name="email" class="text_input" placeholder="예:market@pinotmarket.co.kr"  style="width:332px;" readonly>
                                        </td>                                     
                                       
                                    </tr>
                                    <tr>
                                        <th scope="row" class="align_l"><label for="tel">연락처</label></th>
                                        <td class="align_l">
                                            <input type="text"" name="tel" id="tel" class="text_input" placeholder="숫자만 입력해주세요." placeholder="연락처를 입력해주세요" style=" width:332px;;">
                                        </td>
                                    </tr>            
                                    <tr>
                                        <th scope="row" class="align_l"><label for="address">배송지</label></th>
                                        <td class="align_l">
                                            <input type="text"" id="postal_code" name="postal_code" class="text_input" placeholder="우편번호를 입력해주세요" style="width: 332px;">
                                            <input type="text"" id="address_0" name="address_0" class="text_input" placeholder="주소를 입력해주세요" style="width:332px;margin-top: 10px;">
                                            <input type="text"" id="address_1" name="address_1" class="text_input" placeholder="세부 주소를 입력해주세요" style="width:332px;margin-top: 10px;">
                                        </td>
                                    </tr>            
                                </tbody>
                            </table><!-- // tbl01 -->
                            <input type="hidden" id="token" name="token" > 
                        </form>
                    </div>
                </div>
            </div><!-- // tbl_box -->
            <div class="box_agree inner">
                <h3 class="h4_tit01">
                    <div class="ui_check_wrap02">
                        <div class="all_check_input">
                            <input type="checkbox" id="chekList01" name="chekList01" value="" title="" class="ui_check_input">
                            <label for="chekList01" class="ui_check"><span>이용약관, 개인정보 수집 및 이용에 모두 동의합니다.</span></label>
                        </div>
                    </div>
                </h3>
                <div class="box_agree_in">
                    <div class="box_agree_list01">
                        <div class="box_agree_div01">
                            <div class="box_agree_tit01 on">
                                <div class="ui_check_wrap">
                                    <div>
                                        <input type="checkbox" id="infoAgreeYn" name="infoAgreeYn" value="Y" title="" class="ui_check_input">
                                    </div>
                                </div>
                                <div class="btn_agree_list01">
                                    <a href="javascript:;" class="btn" title="항목 접기">이용약관에 동의(필수)</a>
                                </div>
                            </div>
                            <div class="box_agree_txt01" style="display:block;">
                                <p>
                                    1. 개인정보의 수집/이용 목적<br>
                                    회사는 다음과 같은 목적을 위하여 필요한 최소한의 개인정보를 처리하고 있습니다.<br>
                                    고객센터 1:1 상담신청 게시판 이용에서 원활한 의사소통 경로의 확보, 분쟁조정을 위한 기록보존 등 <br><br>

                                    2. 수집하는 개인정보의 항목<br>
                                    필수항목: 이름, E-mail주소<br>
                                    선택항목: 연락처(핸드폰 번호)<br>
                                </p>
                            </div>
                        </div>
                        <div class="box_agree_div01">
                            <div class="box_agree_tit01">
                                <div class="ui_check_wrap">
                                    <div>
                                        <input type="checkbox" id="mandAgreeYn" name="mandAgreeYn" value="Y" title="" class="ui_check_input">
                                    </div>
                                </div>
                                <div class="btn_agree_list01">
                                    <a href="javascript:;" class="btn" title="항목 펼치기">개인정보수집 및 이용동의(필수)</a>
                                </div>
                            </div>
                            <div class="box_agree_txt01" style="display:none;">
                                <p>
                                    1. 개인정보의 수집/이용 목적<br>
                                    회사는 다음과 같은 목적을 위하여 필요한 최소한의 개인정보를 처리하고 있습니다.<br>
                                    고객센터 1:1 상담신청 게시판 이용에서 원활한 의사소통 경로의 확보, 분쟁조정을 위한 기록보존 등 <br><br>

                                    2. 수집하는 개인정보의 항목<br>
                                    필수항목: 이름, E-mail주소<br>
                                    선택항목: 연락처(핸드폰 번호)
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- // tbl_box -->
            <div class="btn_wrap align_c mgt60" style="margin-top:60px; text-align:center; margin-bottom: 100px;">
                <div  id="submit_btn" class="btn_l btn_mwht2 w220"><span>가입하기</span></div>
            </div><!-- // btn_wrap -->
        </div>
        </form>
    </div><!--//content-->
</div>
<script>
    function getParam(sname) {
        var params = location.search.substr(location.search.indexOf("?") + 1);
        var sval = "";
        params = params.split("&");
        for (var i = 0; i < params.length; i++) {
            temp = params[i].split("=");
            if ([temp[0]] == sname) { sval = temp[1]; }
        }
        return sval;
    }

    $("#email").val( getParam("email")  )
    $("#name").val( decodeURI(getParam("name")) )
    $("#token").val( getParam("token") )
    $("#postal_code").on("click", function(e){
        new daum.Postcode({
            oncomplete: function(data) {
                console.log(data)
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
                // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var roadAddr = data.roadAddress; // 도로명 주소 변수
                var extraRoadAddr = ''; // 참고 항목 변수
                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                    extraRoadAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if(data.buildingName !== '' && data.apartment === 'Y'){
                   extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if(extraRoadAddr !== ''){
                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('postal_code').value = data.zonecode;
                document.getElementById("address_0").value = data.roadAddress + extraRoadAddr;
                
                // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
                // if(roadAddr !== ''){
                //     document.getElementById("address_1").value = extraRoadAddr;
                // } else {
                //     document.getElementById("address_1").value = '';
                // }
            }
        }).open();
    })
    function check_password(str){
        console.log(str)
        var reg_pwd = /^.*(?=.{6,20})(?=.*[0-9])(?=.*[a-zA-Z]).*$/;
        if(!reg_pwd.test(str)){
        return false;
        }
        return true;
    }
    var duplicate_check = false;
    var is_duplicated = true;
    var email_duplicate_check = false;
    var email_is_duplicated = true;
    $("#submit_btn").on("click",function(){
        // validation check
        const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        if($("#id").val().trim() == ""){ alert("아이디를 입력해주세요"); return false; }
        else if($("#id").val().length < 6 ){ alert("6자 이상의 아이디를 입력해주세요"); return false; }
        else if($("#id").val().search(/\s/)!=-1  ){ alert("아이디는 공백없이 입력해주세요"); return false; }
        else if($("#id").val().search(/[`~!@@#$%^&*|₩₩₩'₩";:₩/?]/gi) !=-1  ){ alert("아이디는 영문 또는 영문+숫자로 입력해주세요"); return false; }
        else if($("#name").val().trim() == ""){ alert("이름을 입력해주세요"); return false; }
        else if($("#tel").val().trim() == ""){ alert("연락처를 입력해주세요"); return false; }
        else if($("#tel").val().trim().indexOf("-")!=-1){ alert("연락처는 숫자만 입력해주세요"); return false; }
        else if($("#tel").val().trim().indexOf(".")!=-1){ alert("연락처는 숫자만 입력해주세요"); return false; }
        else if($("#tel").val().trim().indexOf(" ")!=-1){ alert("연락처는 숫자만 입력해주세요"); return false; }
        else if($("#postal_code").val().trim() == ""){ alert("우편번호를 입력해주세요"); return false; }
        else if($("#address_0").val().trim() == ""){ alert("주소를 입력해주세요"); return false; }       
        else if( $("#infoAgreeYn").is(":checked") != true ){ alert("이용약관에 동의해주세요"); return false }
        else if( $("#mandAgreeYn").is(":checked") != true ){ alert("개인정보 수집및 이용동의에 동의해주세요"); return false }
        else if( duplicate_check == false ){ alert("아이디 중복확인을 해주세요"); return false }
        else if( is_duplicated == true ){ alert("이미 존재하는 아이디 입니다."); return false }    
        else{
            // submit data
            $("#submit_frm").submit()
        }
    })

    $("#chekList01").on("change", function(){
        if( $(this).is(":checked") == true ){
            $("#infoAgreeYn").prop("checked", true);
            $("#mandAgreeYn").prop("checked", true);
        }else{
            $("#infoAgreeYn").prop("checked", false);
            $("#mandAgreeYn").prop("checked", false);
        }
    })
    
    $("#duplicate_check").on("click", function(){
        if($("#id").val().trim() == ""){ alert("아이디를 입력해주세요"); return false; }
        if($("#id").val().length < 6 ){ alert("6자 이상의 아이디를 입력해주세요"); return false; }
        if( $("#id").val().search(/\s/)!=-1  ){ alert("아이디는 공백없이 입력해주세요"); return false; }
        if( $("#id").val().search(/[`~!@@#$%^&*|₩₩₩'₩";:₩/?]/gi) !=-1  ){ alert("아이디는 영문 또는 영문+숫자로 입력해주세요"); return false; }
    
        duplicate_check = true
        $.ajax({
            url:"/account/duplicate_check",
            data:{"id":$("#id").val()},
            success:function(res){
                if(res.result == "duplicated"){
                    is_duplicated = true
                    alert("이미 가입되어있는 아이디 입니다.")
                }else{
                    is_duplicated = false
                    alert("사용하실수 있는 아이디 입니다.")
                }
            }
        })
        return false
    })

    $("#email_duplicate_check").on("click", function(){
        if($("#email").val().trim() == ""){ alert("이메일을 입력해주세요"); return false; }       
        if( $("#email").val().search(/\s/)!=-1  ){ alert("이메일은 공백없이 입력해주세요"); return false; }
        const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        if ( re.test(String($("#email").val().trim()).toLowerCase()) == false ){ alert("이메일 형식을 확인해주세요."); return false}
      
        email_duplicate_check = true
        $.ajax({
            url:"/account/email_duplicate_check",
            data:{"email":$("#email").val()},
            success:function(res){
                if(res.result == "duplicated"){                   
                    alert("이미 가입되어있는 이메일 입니다.")
                    email_duplicate_check = false
                }else{                   
                    email_duplicate_check = true
                    email_is_duplicated = false
                    alert("사용하실수 있는 이메일 입니다.")
                }
            }
        })
          return false
    })

</script>
{% endblock %}